<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2d26f77-8293-49ee-994f-150b1bf4a2e7" Alias="QMU - Quote Picker" Level="1">
  <Info>
    <Name>QMU - Quote Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/d18bb03afac840f680a9fff6921ad1d2",
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>