<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b627550-64ee-4357-a17f-aceb87f1d761" Alias="Course Blocks - Title - Textbox" Level="1">
  <Info>
    <Name>Course Blocks - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>