<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bee43aef-a94e-450b-9fb9-571a3ff68a12" Alias="Banded Landing Page" Level="1">
  <Info>
    <Name>Banded Landing Page</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{title}}",
      "ncAlias": "band",
      "ncTabAlias": "Band"
    },
    {
      "nameTemplate": "Navigation Bar",
      "ncAlias": "courseListing",
      "ncTabAlias": "Listing"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>