<?xml version="1.0" encoding="utf-8"?>
<Content Key="04263cfd-2164-4294-b191-f8f254c6f069" Alias="CVs and Applications" Level="6">
  <Info>
    <Parent Key="bf81b178-a8fa-4483-855f-27c20570648a">Careers and Employability</Parent>
    <Path>/Home/StudyHere/ServicesForStudents/CareersAndEmployability/CareersAndEmployability/CVsAndApplications</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-01-28T10:28:56</CreateDate>
    <NodeName Default="CVs and Applications" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/972b1011ccd94b3ebe43aa5f2bed84a5]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[<p>CVs and Applications</p>]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9014930b7a114bd5a82b784d860d677d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/9014930b7a114bd5a82b784d860d677d",
      "image": "umb://media/42e6338acc4f4875a8d6dde34901d3fd",
      "title": "CVs and Applications",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead"><strong>Advice on CVs and Applications</strong></span></p>
<p>Now that your goal is graduate employment it’s important that you use your time at university to enhance your CV. This means developing the skills that employers of graduates are looking for by broadening your <a data-id="1638" href="/{localLink:umb://document/329463eaa9fb4832b982c9e3730105a7}" title="Jobs, Work Experience and Volunteering">work experience</a> and taking advantage of the opportunities that come with student life. It also means developing your ability to impress employers with well constructed, focused applications and a well crafted CV that markets your skills and achievements effectively.</p>
<p>We provide support in the following ways:</p>
<p><span class="lead"><strong>CV Clinics</strong></span></p>
<p>You are invited to drop by to the Employability Centre with your CV to get some feedback and tips from a member of the careers team. We offer regular drop-in slots across the semester.</p>
<p><span class="lead"><strong>Class Sessions</strong></span></p>
<p>We work closely with your academic departments to ensure that advice on CVs and Applications is built into your course of study.<span>  We also deliver regular lunchtime talks on this topic which are open to all students.</span></p>
<p><span class="lead"><strong>CV Checking Service by Email</strong></span></p>
<p>If you cannot attend one of our drop-in sessions you are welcome to send us your CV for our feedback by email. You can send your CV to <a href="mailto:careers@qmu.ac.uk" title="Email QMU Careers">careers@qmu.ac.uk</a> and we’ll give you hints and tips on how it can be enhanced.</p>
<p>Current students should visit the Careers and Employability pages on the Hub or check the <a href="https://studentcentral.qmu.ac.uk/" title="Student Central">Student Central</a> resources for further advice.</p>
<p>Lots of information on CVs and applications can be found on <a rel="noopener" href="http://www.prospects.ac.uk/applying_for_jobs.htm" target="_blank" title="Prospects Website">Prospects</a>.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/ff2e0d9c9e6649dd8fcb9e232e4cb266]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[CVs and Applications]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Nowadays it’s common for students to have had some work experience before coming to university. You may already possess a CV and be familiar with making applications.  </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Nowadays it’s common for students to have had some work experience before coming to university. You may already possess a CV and be familiar with making applications.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[CVs and Applications | Careers and Employability | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[CVs and Applications]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>