<?xml version="1.0" encoding="utf-8"?>
<Content Key="049eb74f-ab75-4516-91ca-6f1df014f398" Alias="Charlotte Guidi" Level="3">
  <Info>
    <Parent Key="d18bb03a-fac8-40f6-80a9-fff6921ad1d2">Quotes</Parent>
    <Path>/Settings/Quotes/CharlotteGuidi</Path>
    <Trashed>false</Trashed>
    <ContentType>quote</ContentType>
    <CreateDate>2022-01-12T15:27:16</CreateDate>
    <NodeName Default="Charlotte Guidi" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[umb://media/5c43942f71a9463ba4f082bb70a6fecb]]></Value>
    </image>
    <quoteText>
      <Value><![CDATA[I attended an in-person open day at QMU, which comforted me in my decision to study there. The visit allowed me to confirm my impressions of the university, interact with other offer holders, and gain a better understanding of the campus environment. It served as a reassuring confirmation that I had chosen a university that aligns well with my academic and personal goals.]]></Value>
    </quoteText>
    <source>
      <Value><![CDATA[Charlotte Guidi]]></Value>
    </source>
    <sourceExtra>
      <Value><![CDATA[BSc (Hons) Nutrition]]></Value>
    </sourceExtra>
  </Properties>
</Content>