<?xml version="1.0" encoding="utf-8"?>
<Content Key="05d74aad-72a3-4b9a-9f88-7acb7fd3a799" Alias="QMU Guidance for students and practice educators : Acceptable use of social media" Level="5">
  <Info>
    <Parent Key="b7a8d951-6913-4699-9a83-38437fb70551">Nursing and Allied Health Programmes - PBL information</Parent>
    <Path>/Home/CurrentStudents/PracticeBasedLearning/NursingAndAlliedHealthProgrammesPBLInformation/QMUGuidanceForStudentsAndPracticeEducatorsAcceptableUseOfSocialMedia</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-08-29T09:18:32</CreateDate>
    <NodeName Default="QMU Guidance for students and practice educators : Acceptable use of social media" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3a54e1b14c654f1d97436032505df5ee"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/3a54e1b14c654f1d97436032505df5ee",
      "image": "umb://media/56244378df4c4939ba3a50b7863c31c3",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>It is important therefore that when you go out on placement that you make it a priority to familiarise yourself with the local regulations. This will give you a better understanding of what is permitted and what is not.</p>
<p>Any ICT/official mobile devices offered to you during placements are provided for use in learning and/or pursuit of your studies. Keep user names and passwords secret at all times. You must not abuse ICT facilities for any other purpose, e.g. use of social networking sites or for recreational internet use. Be aware that organisations hosting placements may have auditing systems in place that can identify <strong>who</strong> is looking at <strong>what</strong>, and <strong>where</strong>, and <strong>when</strong> this activity took place.</p>
<p>Service user confidentiality, privacy, and dignity must be maintained at all times. You should never use your own mobile devices or Queen Margaret University ICT to create or send official care records (including photographs, videos, audio recording).</p>
<p><strong>Keep safe</strong></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>As a health sciences student your studies may involve internet searches drawing upon on anatomical terms and phrases. This may generate unwanted links to objectionable websites. You are advised to use wherever possible, specific health science related search engines.</p>
<p>Even if you are careful you may accidentally access internet sites you did not mean to. This might happen because you clicked on a misleading link, you clicked on a link by accident, or because a site has been ‘hijacked’. You may also find that you get bombarded by unsolicited and explicit ‘pop-up’ advertising. If any of these things happen whilst students on placement, you should:-</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Take a note of the URL (web address) of the site and the time it was accessed;</p>
</li>
<li>
<p>Tell someone immediately. If possible, show them what happened;</p>
</li>
<li>
<p>Record the details of the site accessed, before logging off the computer);</p>
</li>
<li>
<p>Tell your practice educator as soon as possible;</p>
</li>
<li>
<p>Tell local ICT staff (any alerts regarding inappropriate internet use will go to them first);</p>
</li>
<li>
<p>Contact your personal academic tutor at the University to advise them of what has happened.</p>
</li>
</ul>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>There may be an investigation into your on-line activities, but if the accident was legitimate and these steps are followed, it will be resolved quickly.</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><strong>Using social media</strong></p>
<p>The University acknowledges that social media (e.g. Facebook, Twitter, Linked-in, Blogging, YouTube, Pinterest, Instagram) is a significant part of peoples’ lives and is a positive way to keep in touch and share information (Crowe &amp; Mclean 2013). However, there have been occurrences where social media has been used for less positive reasons, or for a substantial length of time during practice placement, hence the need for this guidance to support responsible usage.</p>
<p>Health and social care professionals could be putting their registration at risk if posting inappropriate comments about service users and colleagues or posting any material that could be considered explicit. The Health and Care Professions Council (no date), and the College of Occupational Therapists (COT 2015d) have both produced statements/briefings on the use of social media. These can be found at:</p>
<p> </p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>The HCPC notes in its Guidance on Conduct and Ethics for Students, “You must make sure that your behaviour does not public confidence in your profession” (HCPC 2016, p10). This means that conduct on-line, and conduct in the real world should be judged in the same way and should be at a similar high standard.</p>
<p>You should be very careful about the information you post on-line. You should remember that:-</p>
<ul>
<li>
<p>The law around defamation and harassment, and confidentiality applies wherever you may be;</p>
</li>
<li>
<p>Anything posted on-line to a social networking site is in the public domain, even with the strictest privacy settings;</p>
</li>
<li>
<p>The more your personal life is exposed through social networking sites, the more likely it is this could have a negative impact;</p>
</li>
<li>
<p>What may be considered as “letting off steam” about a situation at placement could potentially be seen by another person as unprofessional behaviour.</p>
</li>
</ul>
<p>The following points are offered as guidance:-</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Make use of appropriate etiquette when posting materials to social networking sites. Act responsibly at all times upholding the reputation of the profession, and Queen Margaret University;</p>
</li>
<li>
<p>Protect your own privacy. Think through the kinds of information you want to share and with whom, and adjust your privacy settings;</p>
</li>
</ul>
<div class="page">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Observe placement providers’ bullying, harassment and dignity polices when posting on- line (including e-mail, and text messaging) with colleagues, and peers;</p>
</li>
<li>
<p>Do not post information to social networking sites that may lead to the identification of service users;</p>
</li>
<li>
<p>Do not make disparaging remarks about the placement, service users, or employees on a social networking site. Even when anonymised these are likely to be inappropriate.</p>
</li>
</ul>
<p>The University does not discourage students from using such services. However you should be aware the University will take seriously any occasions where these services are used inappropriately. If occasions arise of what might be read to be on-line harassment, or materials deemed to contravene professional conduct these will be dealt with in the same way as other such instances.</p>
<div class="page">
<div class="layoutArea">
<div class="column"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU Guidance for students and practice educators : Acceptable use of social media, ]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<div class="page">
<div class="layoutArea">
<div class="column">
<p><strong>Acceptable use of social media, information communication technologies (ICT) and other mobile devices during practice placements</strong></p>
<p><strong>Using official ICT facilities, and mobile devices during practice placement</strong></p>
<p>Organisations offering practice placements have policies regarding the use of mobile devices (e.g. smart phone, iPad, Android tablet, lap top computer, digital pen, memory stick) stating where and in what circumstances such devices are permitted or prohibited.</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p> </p>
</li>
</ul>
<div class="page">
<div class="layoutArea">
<div class="column"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Organisations offering practice placements have policies regarding the use of mobile devices (e.g. smart phone, iPad, Android tablet, lap top computer, digital pen, memory stick) stating where and in what circumstances such devices are permitted or prohibited.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Social Media on Placement | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[ Acceptable use of social media]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>