<?xml version="1.0" encoding="utf-8"?>
<Content Key="06d94032-8126-4dbb-81f2-c310609726f6" Alias="Research &amp; Training" Level="4">
  <Info>
    <Parent Key="31a6cb02-71b6-4bde-8ebf-c9e7bc106064">QMYOU Magazine - April 2023 (Edition 90)</Parent>
    <Path>/Home/AlumniAndFriends/QMYOUMagazineApril2023Edition90/ResearchTraining</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2022-03-24T13:19:51</CreateDate>
    <NodeName Default="Research &amp; Training" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="793fdbdc-4982-4bca-96be-86cd7d82393e">AlumniProfile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/9a13c49e6a5a48eaafe991a8ca42c6f2]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ba48209f069349e69183303fe7bc2995"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/ba48209f069349e69183303fe7bc2995",
      "image": "umb://media/f6b6855564864d21a86d1f48daf90543",
      "title": "Research & Training",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p><span class="lead-big">Using research to build play-friendly communities</span></p>
<p><strong>WE ALL KNOW that play is a crucial part of a child’s development. Children learn, explore and understand the world around them through play. <br />But despite most people being aware of the importance of play, reports from around the world confirm that there is a growing deprivation of play.</strong></p>
<p>Silvia Veiga-Seijo, a PhD student at QMU, understands the value of play, not only for the young people directly involved, but for the wider community. Research has shown that when children play together in their local area, the impact of these interactions not <br />only improves the individuals’ development, but it can also help create supportive, healthy and cohesive communities. That’s why Silvia is using her research to help create play-friendly communities.</p>
<p>Originally from A Coruña in Spain, Silvia is studying towards her PhD with Queen Margaret University and University College Cork within the *P4PLAY programme. When it comes to the importance of play, Silvia doesn’t mince her words. She explained: “Play is a fundamental right for every child and an important daily occupation in their lives. With its capacity to impact society and to be impacted by it, play should be viewed as an issue of social and occupational justice. Every child should have the right to play in their everyday lives.”</p>
<p>She continued: “Due to international concerns about the deprivation of play in our communities, organisations are keen to develop policies which deliver play sessions and play programmes which increase outdoor play for children. However, there is little <br />understanding about how play happens in the community and what play opportunities children would like to have in their community.”</p>
<p>During her time in Scotland, Silvia has been involving children and community members of an East Lothian village, local to QMU, in her research project. By engaging and listening to the children’s perspectives of play in the community, Silvia is developing an <br />understanding of what children want and need, and is using this information to create with them a play-friendly community. By putting the opinions of children at the centre of the research, Silvia is developing research which is helping shape new policies and <br />create best practice around play and play facilities for children.</p>
<p>She confirmed: “The children in the village are the experts in their play, so their perspectives lead the course of this research. By seeing things through their eyes, and learning from their experiences and thoughts, we can use this rigorous knowledge to work with councils, community groups, funders, families and volunteers to improve opportunities and facilities for play in different communities.”</p>
<p>The research is focused on understanding what, how, when and where play happens in the community; what limits or supports play; and how the community can be more play-friendly. This involves listening to the children’s experiences of play; empowering them to decide how play will be researched in their community; and also considering the opinions of community members who live or work in the village.</p>
<p>Silvia concluded: “The research has real potential to influence policy development, reports, initiatives, programmes and practices which will assist in improving provision for ‘play-friendly’ communities. It also makes authorities more aware of equality of access to play opportunities.</p>
<p>“It’s been a great local project to work on, but I’m really excited by the positive changes that this could lead to for children and communities in Scotland and internationally.”</p>
<p>(Research funded by European Union’s Horizon 2020 research and innovation programme)</p>
<p><strong>*The P4PLAY programme is a European Joint Doctoral programme in Occupational Science for Occupational Therapists, funded by the Marie Skłodowska-Curie Innovative Training Network, which is dedicated to enabling play.</strong></p>]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Research & Training]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[QMYOU Magazine - April 2023 (Edition 90)]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Using research to build play-friendly communities

WE ALL KNOW that play is a crucial part of a child’s development. Children learn, explore and understand the world around them through play. But despite most people being aware of the importance of play, reports from around the world confirm that there is a growing deprivation of play.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Research & Training | QMYou Magazine | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Research & Training]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>