<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b0d45a3-f3aa-4e64-96a6-1b5024dd54b1" Alias="Further Information" Level="3">
  <Info>
    <Parent Key="b673e3c0-8a21-4516-91ec-92f364641f89">KEEP FOR RECORD PURPOSES - Coronavirus</Parent>
    <Path>/Home/KEEPFORRECORDPURPOSESCoronavirus/FurtherInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-09T11:05:45</CreateDate>
    <NodeName Default="Further Information" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/b87fbae2858f4c21b6e45da808d2ea04]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[<p>Further information sources</p>]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/948721d47a994fd5b79bff7dd084a06f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/948721d47a994fd5b79bff7dd084a06f",
      "image": "umb://media/eb218b1d70bc4bd5867c805bd5a4171b",
      "title": "Further information sources",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><img src="https://qmu.ac.uk/media/8472/handwashing-advice.jpg" alt="" /></p>
<p> </p>
<p><span class="lead">How to handwash - advice from the World Health Organisation (WHO)</span></p>
<ol>
<li>Wet hands with water</li>
<li>Apply enough soap to cover all hand surfaces</li>
<li>Rub hands palm-to-palm</li>
<li>Right palm over left dorsum and vice versa</li>
<li>Palm-to-palm with fingers interlaced</li>
<li>Back of fingers to opposing palms with fingers interlocked</li>
<li>Rotational rubbing of left thumb clasped in right palm and vice versa</li>
<li>Rotational rubbing backwards and forwards with clasped fingers of right hand in left palm and vice versa</li>
<li>Rinse hands with water</li>
<li>Dry hands thoroughly with a single-use towel</li>
<li>Use towel to turn off faucet</li>
<li>Your hands are now safe</li>
</ol>
<div class="mceNonEditable embeditem" data-embed-url="https://youtu.be/aGJNspLRdrc" data-embed-height="430" data-embed-width="895" data-embed-constrain="true"><iframe width="764" height="430" src="https://www.youtube.com/embed/aGJNspLRdrc?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" title="How to wash your hands | NHS"></iframe></div>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>For advice on coronavirus, see <a href="https://www.nhsinform.scot/coronavirus" title="NHS Inform website">NHS Inform</a> </p>
<p>Please remember that anyone can call <a rel="noopener" href="https://www.nhs.uk/using-the-nhs/nhs-services/urgent-and-emergency-care/nhs-111/" target="_blank" title="NHS 111">NHS 111</a> for medical advice – you do not need to be registered with a GP to call. </p>
<p>For advice on COVID restrictions, see the <a href="https://www.gov.scot/coronavirus-covid-19/" title="Scottish Government Coronavirus website">Scottish Government's coronavirus website</a>.</p>
<p>For coronavirus advice from the Scottish Government specifically for students, see <a href="https://www.studentinformation.gov.scot/coronavirus" title="Student Information Scotland">Student Information Scotland</a>.</p>
<p>For advice on looking after your mental health and wellbeing, see <a rel="noopener" href="https://clearyourhead.scot/" target="_blank" title="Clear your Head website">Clear Your Head.</a></p>
<p class="x_MsoNormal">Remember FACTS - Face coverings, Avoid crowded places, Clean your hands regularly (see below), Two metre social distancing, Self-isolate if you have symptoms.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/bdebd1f9723d4037910d97e9744ee613]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Further information sources]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Further information on COVID-19 (Coronavirus) for students and staff at Queen Margaret University, Edinburgh.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Further information on COVID-19 (Coronavirus) | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b865698b13ab3c9780cee3b2fed2b3ea"
      },
      {
        "contentUdi": "umb://element/8d9871b055e83a108df8aea8cdd7fe5a"
      },
      {
        "contentUdi": "umb://element/99afddd87cbc384bac09774cd14de710"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9eed20a0-b3f3-47c8-8fae-82f763de3e32",
      "udi": "umb://element/b865698b13ab3c9780cee3b2fed2b3ea",
      "title": "",
      "usefuls": [
        {
          "icon": "icon-link",
          "name": "Health Protection Scotland",
          "published": true,
          "queryString": null,
          "target": "_blank",
          "trashed": false,
          "udi": null,
          "url": "https://www.hps.scot.nhs.uk/web-resources-container/covid-19-guidance-for-non-healthcare-settings/"
        },
        {
          "icon": "icon-link",
          "name": "NHS Inform",
          "published": true,
          "queryString": null,
          "target": "_blank",
          "trashed": false,
          "udi": null,
          "url": "https://www.nhsinform.scot/coronavirus"
        },
        {
          "icon": "icon-link",
          "name": "NHS Inform coronavirus self-help guide",
          "published": true,
          "queryString": null,
          "target": "_blank",
          "trashed": false,
          "udi": null,
          "url": "https://www.nhsinform.scot/self-help-guides/self-help-guide-coronavirus-covid-19"
        },
        {
          "icon": "icon-link",
          "name": "QMU COVID-19 Incident Management Plan (Intranet Link)",
          "published": true,
          "queryString": null,
          "target": "_blank",
          "trashed": false,
          "udi": null,
          "url": "https://myshare.qmu.ac.uk/services/campus-commercial-services/covid19/_layouts/15/WopiFrame2.aspx"
        }
      ],
      "useDarkTheme": "1"
    },
    {
      "contentTypeKey": "29342589-f80e-4c67-8716-a18c67020449",
      "udi": "umb://element/8d9871b055e83a108df8aea8cdd7fe5a",
      "link": "umb://document/4dfcb1f163c349b4afa7eecc62a9e8a6"
    },
    {
      "contentTypeKey": "29342589-f80e-4c67-8716-a18c67020449",
      "udi": "umb://element/99afddd87cbc384bac09774cd14de710",
      "link": "umb://document/8e21e2c6807445c8963cc90ec1bd3b71"
    }
  ],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/fde923ae229e4d59916e57b4c164f7c1,umb://document/1b1fd7659d464b2796c47578cc599767,umb://document/22c611bbfdf64dac8852e4192bb3c938,umb://document/4002dd5945f84f4b95c5e6711da2bb9a]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Further Information]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>