<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b65f07a-5227-4748-a102-b27cbaf9a027" Alias="Outdoor Hub" Level="3">
  <Info>
    <Parent Key="61a8e686-2a80-4a22-88e1-fc0d682148f6">Links</Parent>
    <Path>/Settings/Links/OutdoorHub</Path>
    <Trashed>false</Trashed>
    <ContentType>link</ContentType>
    <CreateDate>2024-03-18T11:11:59</CreateDate>
    <NodeName Default="Outdoor Hub" />
    <SortOrder>167</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <externalLink>
      <Value><![CDATA[]]></Value>
    </externalLink>
    <image>
      <Value><![CDATA[umb://media/82625e99c8b6484d978dffa1da0887d3]]></Value>
    </image>
    <internalLink>
      <Value><![CDATA[umb://document/1c8646206413459ba51fe1df6b9aaed2]]></Value>
    </internalLink>
    <text>
      <Value><![CDATA[QMU Outdoor Hub & Learning Discovery Trail]]></Value>
    </text>
  </Properties>
</Content>