<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ba546ce-fc16-4812-b618-2f034dae8fa0" Alias="Information For Your Country" Level="4">
  <Info>
    <Parent Key="1620d7d2-691f-4195-832b-687d9f4c6394">International Students</Parent>
    <Path>/Home/StudyHere/InternationalStudents/InformationForYourCountry</Path>
    <Trashed>false</Trashed>
    <ContentType>countries</ContentType>
    <CreateDate>2021-02-08T15:20:09</CreateDate>
    <NodeName Default="Information For Your Country" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="534a34f9-8a50-43fa-aa79-f8bde8822cc0">Countries</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/a1ffe42e16b340c3944bc2963a4be8d1]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/81dcf580f6314ecaab9fcc9ffbf74cb0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/81dcf580f6314ecaab9fcc9ffbf74cb0",
      "image": "umb://media/94acf355b6d3487aa2d02b6140539985",
      "title": "Information for your country",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <contactBoxEmail>
      <Value><![CDATA[international@qmu.ac.uk]]></Value>
    </contactBoxEmail>
    <contactBoxSubtitle>
      <Value><![CDATA[Contact: ]]></Value>
    </contactBoxSubtitle>
    <contactBoxTelephoneNumber>
      <Value><![CDATA[+44 131 474 0099]]></Value>
    </contactBoxTelephoneNumber>
    <contactBoxTitle>
      <Value><![CDATA[International Office]]></Value>
    </contactBoxTitle>
    <displayTitle>
      <Value><![CDATA[Information For Your Country]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>We have a long tradition of welcoming students from all over the world, in over 80 countries.</p>
<p>Can't find your country on the list below? Email the International Team at <a href="mailto:international@qmu.ac.uk" title="Email the International Team">international@qmu.ac.uk</a> for more information.</p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 375px;">
<tbody>
<tr>
<td style="width: 25%;">Country</td>
<td style="width: 25%;">Country</td>
<td style="width: 25%;">Country</td>
</tr>
<tr style="height: 18px;">
<td style="width: 25%; height: 18px;"><a href="/{localLink:umb://document/154e45b3cd1f4e60b318e1dd19b9de5c}" title="Bahrain" data-udi="umb://document/f9ee608b7ab2484fbe69b5c7a2c001d4">Bahrain</a></td>
<td style="width: 25%; height: 18px;"><a href="/{localLink:umb://document/7324ad23f9eb45c49030d200b51dec0c}" title="Bangladesh" data-udi="umb://document/eddba2dac093468690ced2e844f4d1ca">Bangladesh</a></td>
<td style="width: 25%; height: 18px;"><a href="/{localLink:umb://document/8f09444a5b964124836670c48f1e3c99}" title="Brazil" data-udi="umb://document/e7876241234e49bf886d7926ef5b541f">Brazil</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/3f1802926da447cb85c75190c04e437a}" title="Brunei" data-udi="umb://document/1af765b5675b46d293cde9f378a7b007">Brunei</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/1e76d7cbe35748b2b030aacdaa3a297d}" title="Bulgaria" data-udi="umb://document/907ba3097cce4ac9a29cb753819d670b">Bulgaria</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/352ea796f98a485bb9d7e45ea619b4e5}" title="Canada" data-udi="umb://document/5135d4edb03e476588b2ffe907b825a9">Canada</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/99d7fd37462646fcaac7974efa85b1da}" title="Channel Islands and the Isle of Man" data-udi="umb://document/aad4720249764bb9863bef858424b97a">Channel Islands &amp; Isle of Man</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/7f60bb0f8c564344b8223b80ed6a786f}" title="China" data-udi="umb://document/26dba6e1b0af4cc39e0d63a03c39fbf3">China</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/8142a78678fe4497b692eaee8f0e29c1}" title="England" data-udi="umb://document/226d107e2f924b12bb57b4a1b031855e">England</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/e088c97a769f41c7a6e8058f1a4c9990}" title="Estonia" data-udi="umb://document/5171b3b2f69e4cfd9bda5c3cabab1345">Estonia</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/d7359204f31a4ea0890e1574b5ff54c5}" title="EU" data-udi="umb://document/bac4d7def304420e997eb3838f55a47c">European Union</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/92e5e6efed7f4d6d9ef8cbbd127a7aa7}" title="Finland" data-udi="umb://document/5ec69fa0f9a1467392b81866f7f19ddd">Finland</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/4521d06ab4cf470e84649ea2f02941ea}" title="France" data-udi="umb://document/f6b7c45ba06d4206823f7afa33ca29e3">France</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/7d28d488c5834144a8ecb44b1c6d262f}" title="Germany" data-udi="umb://document/836a7b79a7eb4f0386d16039e62f9c3f">Germany</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/2f47f527cec54d06a71f2ce23f0b2a6a}" title="Ghana" data-udi="umb://document/c153518a886643f5abbb9d0574351599">Ghana</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/f83a30ac0c2a4110960b05b5d919bda3}" title="Greece" data-udi="umb://document/e66c7b6a17434d058aed314c0fd642da">Greece</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/368ff39ee7454b6aa5d6af3689a0d07f}" title="Hong Kong" data-udi="umb://document/c560785024ca40e782f231fd61255d49">Hong Kong</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/270a8840791f4f138676643ee8e53e7d}" title="India" data-udi="umb://document/13f61d647d874005a344ad3b9c54e06f">India</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/bb5d1edeb24c423eb6ef9640630400d8}" title="Indonesia" data-udi="umb://document/d1a22e53c4864e469e6a73245e88c130">Indonesia</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/b3cf2189f03349368ff76a5925f05e8f}" title="Ireland" data-udi="umb://document/3326c127a76b4ae9870e3cde1e75467c">Ireland</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/97927abf0c304115a26eda55f1a9f24b}" title="Italy" data-udi="umb://document/3326c127a76b4ae9870e3cde1e75467c">Italy</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/12bcd48cd814420eab38e0260a86e6ef}" title="Japan" data-udi="umb://document/1c2bf2633ccd4a46890e172b420eb5bf">Japan</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/1bd7b696547b4fbeb15328e07f8cd268}" title="Kenya" data-udi="umb://document/f9f39c394a7848c38ebcc7ac6cf59a85">Kenya</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/4a74702189ec4689ba5660f985aedece}" title="Kuwait" data-udi="umb://document/e7d5b5b5594b438499e42498e92c59fa">Kuwait</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/adbf05a6cdd746c99976dbf4a861a05d}" title="Latvia" data-udi="umb://document/9fd531f4024b48a8bac222e29769aecb">Latvia</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/00b49d03908348559c62a25d9666208e}" title="Lithuania" data-udi="umb://document/cb910bee4d8f48049af4a4f3aff073a4">Lithuania</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/442c8243dd4f4977b81ccdbe4834e3fb}" title="Malaysia" data-udi="umb://document/b1d0a1c0d1d942899b755ff995792293">Malaysia</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/52463178e3cf4537b805ed6cb0f2a349}" title="Nepal" data-udi="umb://document/507fefa75ee04a57b812fe45509101cb">Nepal</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/8e46d33ec5504133a2f7ca03e87dbfd3}" title="Netherlands" data-udi="umb://document/92486bd62d7341608e932f025f132392">Netherlands</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/2ecd1cbb5bab4723b27411963db3f280}" title="Nigeria" data-udi="umb://document/30ecf1ca51c246c1a2fa1a10f97b41c1">Nigeria</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/1ddbfebced5d4d11923ff0ed60222019}" title="Northern Ireland" data-udi="umb://document/cbc80b45cfcc4e698eb2a71b76873d15">Northern Ireland</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/bd497eadb2e74b36bb1482821a7bec16}" title="Norway" data-udi="umb://document/32e48eaba0cf4bddb9098964d145496d">Norway</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/9f19448643744ab48c1c8a3dd64c2dd5}" title="Oman" data-udi="umb://document/b9a49113e5f34a31a180c74bfcb13ce8">Oman</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/21ec1a34153d42d78ea4068947310df9}" title="Pakistan" data-udi="umb://document/6d374ae44e90470585ceca0819185754">Pakistan</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/8dab8d04dcfa4d65aabd6ec8954923d0}" title="Philippines" data-udi="umb://document/1b08440fde2d445784106747e0fdcdbc">Philippines</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/c322209c62014e10b25ba50cb3e619af}" title="Poland" data-udi="umb://document/b664694581ed402db5470eeaf933ab31">Poland</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/c1aa902678144b3fa62ce887b0c4759a}" title="Portugal" data-udi="umb://document/e483c2c283f8436ebe6890423d391b5c">Portugal</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/e1ae7e2988284699bbbac521e0106b0d}" title="Russia" data-udi="umb://document/8626f010116745459965c5beb7e64877">Russia</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/d83e38ac30cd49d3b1ccb5bfdfd7a67b}" title="Saudi Arabia" data-udi="umb://document/2bb50310a0fb46299fbbc7a0fcfcfca8">Saudi Arabia</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/6212f0ba36aa4b3ab9918150670fe800}" title="Scotland" data-udi="umb://document/82f307c1b13e45eebf24a3761907998e">Scotland</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/e5a5d337ffe748af86c0c3703aaa09f2}" title="Singapore" data-udi="umb://document/445d78d3a36747b69e2ff5c2156e1212">Singapore</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/6f8b0cac5c8443a7b195eb793be48f51}" title="Sri Lanka" data-udi="umb://document/f6015c332af74d58aa6004e326324cc1">Sri Lanka</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/f6c7e339c1784733bb39b2bbd5f2aef7}" title="South Africa" data-udi="umb://document/1827b0218ff74d2fbf33a0471e246f09">South Africa</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/33def9a5de604014933f2ba73b9e1d74}" title="Spain" data-udi="umb://document/18943779676b47f897e54e4a72526bac">Spain</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/fe8ed0243dba41b78c78705ef18c6e9c}" title="Sweden" data-udi="umb://document/5833edcedc6b464e9896bc55481ee0d0">Sweden</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/94278a31e47b40029d455cd9a217e1d1}" title="Switzerland" data-udi="umb://document/ec72c882d99d41d3810088842ab7244e">Switzerland</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/399cdcc01ef44bb286a3891923614ab7}" title="Taiwan" data-udi="umb://document/5349edacb60f41d7958a07290e711467">Taiwan</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/0ffbe107f0ad4918937a45744606ff2b}" title="Thailand" data-udi="umb://document/d8d2ff8289fa437e878aa7355c98f750">Thailand</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/160449cb0df04cb2b71fef464d3c3ed6}" title="Turkey" data-udi="umb://document/2ad885210578499cafe9d7b1fc9e8636">Turkey</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/3a322489f48941b697b130f6e2397ccd}" title="United Arab Emirates" data-udi="umb://document/0b286980bc6a4e49a8994a636c4987ae">United Arab Emirates</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/581b0505b9104c7db906ff7f8b033ab4}" title="United States of America (USA)" data-udi="umb://document/29a4d134d01e43fa82794bfc76072bdd">United States of America (USA)</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/54a7bcb2f23945e29f9561142c88f0e2}" title="Vietnam" data-udi="umb://document/e54c6b94c9fc449abc7d6ff24686e2d1">Vietnam</a></td>
<td style="width: 25%; height: 21px;"><a href="/{localLink:umb://document/5ef8b96b7e2a4026a20589d5c0be4a91}" title="Wales" data-udi="umb://document/4332dbfc87794aeb825479316626d92c">Wales</a></td>
<td style="width: 25%; height: 21px;"> </td>
</tr>
</tbody>
</table>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mapInfoLink>
      <Value><![CDATA[[
  {
    "name": "Email",
    "url": "mailto:international@qmu.ac.uk"
  }
]]]></Value>
    </mapInfoLink>
    <mapInfoTelephone>
      <Value><![CDATA[]]></Value>
    </mapInfoTelephone>
    <mapInfoTitle>
      <Value><![CDATA[Can't find your country?]]></Value>
    </mapInfoTitle>
    <metaDescription>
      <Value><![CDATA[We have a long tradition of welcoming students from all over the world, in over 80 countries. Can't find your country on the list below? Email the International Team for more information.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Country Info | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Country Info]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>