<?xml version="1.0" encoding="utf-8"?>
<Content Key="0cbb29a8-4370-47d2-aca8-f971e4127a46" Alias="Teacher Education Courses (Undergraduate)" Level="4">
  <Info>
    <Parent Key="08981ce7-1b98-4fd1-8c3a-bdb87823f90e">News and Blog Tags</Parent>
    <Path>/Settings/Tags/NewsAndBlogTags/TeacherEducationCoursesUndergraduate</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-04-16T14:07:58</CreateDate>
    <NodeName Default="Teacher Education Courses (Undergraduate)" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagName>
      <Value><![CDATA[Teacher Education Courses (Undergraduate)]]></Value>
    </tagName>
  </Properties>
</Content>