<?xml version="1.0" encoding="utf-8"?>
<Content Key="0fd774cc-a441-403b-afc8-c0b90a0645f4" Alias="Centennial College" Level="4">
  <Info>
    <Parent Key="1620d7d2-691f-4195-832b-687d9f4c6394">International Students</Parent>
    <Path>/Home/StudyHere/InternationalStudents/CentennialCollege</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-09-12T09:24:57</CreateDate>
    <NodeName Default="Centennial College" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/f012b7b8c9664a76934dc4088c257883]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b617828d34b847ad853029f82ab5b8f0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/b617828d34b847ad853029f82ab5b8f0",
      "image": "umb://media/33768b4c015a4b3e8bfb27aadd4cec60",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><span class="lead">Virtual Events</span></p>
<p>We appreciate that if you are overseas it may not be possible to attend the University for a visit. Throughout the year we host a number of events online where you can see presentations about a number of our courses, interact with academic staff as well as with staff from the International Office.</p>
<p><a href="/{localLink:umb://document/d4c167e2e84048a2b1f84e1b9d0efbff}" title="Web Chat Sessions"><span class="blue-btn">More information on Virtual Open Days</span></a></p>
<p><span class="lead">Contact us</span></p>
<p>For further information, or to make an appointment to meet a QMU representative, please <a href="mailto:%20international@qmu.ac.uk">contact the International Office</a>. Alternatively you can call us on +44 (0)131 474 0000.</p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><img src="?width=211&amp;height=68&amp;mode=max" alt="Centennial College logo" width="211" height="68" data-udi="umb://media/d1e28cee81344ce197c369ec8b501bdf"></p>
<p>The articulation routes that are currently available are listed below. To read more about a particular course at QMU, click on the course name, which will take you through to the course entry.</p>
<p>To apply to study at QMU, students should click on the 'Apply for this course' button on the relevant course entry. There is a section on the application form where you should state that you are a student at Centennial College.</p>
<p><strong>Centennial College course: </strong>Centennial College Ontario Graduate Certificate in Arts Education and Community Engagement</p>
<p><strong>QMU course: </strong><a href="/{localLink:umb://document/00a71223a67c42df90aeeb8686f8d0ef}" title="MA/PgDip/PgCert Applied Arts and Social Practice">MA Applied Arts and Social Practice</a></p>
<p><strong>Additional information: </strong>Students will be exempt from two modules, but must complete the following: Applied Arts: histories and Theories; Practice As Research; Fundraising, Finance and Development; The Only Way is Ethics: Art, Ethics and Representation and Dissertation.</p>
<p><strong>Centennial College course: </strong>Centennial College Ontario Graduate Certificate in Arts Management</p>
<p><strong>QMU course: </strong><a href="/{localLink:umb://document/12e55d56ffc241738df33b57e47ea8c0}" title="MA Arts, Festival and Cultural Management">MA Arts, Festival and Cultural Management</a></p>
<p><strong>Additional information: </strong>Students will be required to undertake the following modules: Contemporary Debates in Cultural Policy; Designing Qualitative Research; Leadership, Governance and Strategy (Not-For-Profit); Fundraising, Finance and Development; Dissertation.</p>
<p>Once you have submitted your online application, please<span> </span><a href="mailto:admissions@qmu.ac.uk" title="Admissions E-mail Contact">email Admissions</a><span> </span><a href="mailto:Admissions@qmu.ac.uk"></a>to notify them that you have applied through an articulation route. Please provide your student number (if known), your date of birth, the course you have applied for and the partner College or University that you have studied at. This information is crucial in allowing the University to send you the correct course information, and to consider any tuition fee discounts that may be applicable to you. </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[[
  "Concertina"
]]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/9a38b61cd40348afa67f7bcf6ce08e82]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Centennial College]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead">We have a partnership with <a href="https://www.centennialcollege.ca/">Centennial College</a>, Ontario enabling graduates from there to advance their studies with QMU in the beautiful city of Edinburgh, receiving an education combining the ideal balance of theoretical and practical knowledge.</span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[We have a partnership with Centennial enabling graduates from there to advance their studies with QMU in the beautiful city of Edinburgh, receiving an education combining the ideal balance of theoretical and practical knowledge.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Centennial College | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Centennial College]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>