<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ff4d8dc-7840-44c0-bd6b-f1df1916db68" Alias="QMU@Home: Staff Blogs" Level="3">
  <Info>
    <Parent Key="61a8e686-2a80-4a22-88e1-fc0d682148f6">Links</Parent>
    <Path>/Settings/Links/QMUHomeStaffBlogs</Path>
    <Trashed>false</Trashed>
    <ContentType>link</ContentType>
    <CreateDate>2022-01-17T10:03:03</CreateDate>
    <NodeName Default="QMU@Home: Staff Blogs" />
    <SortOrder>78</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <externalLink>
      <Value><![CDATA[]]></Value>
    </externalLink>
    <image>
      <Value><![CDATA[umb://media/bf6f9b7eeb2b4e35883525b2d09bf73d]]></Value>
    </image>
    <internalLink>
      <Value><![CDATA[umb://document/c0bea5cabff84c6dae2d1cc18dc67f0f]]></Value>
    </internalLink>
    <text>
      <Value><![CDATA[QMU@Home: Staff Blogs]]></Value>
    </text>
  </Properties>
</Content>