<?xml version="1.0" encoding="utf-8"?>
<Content Key="10dce7ff-0363-4559-81a4-ff43eb337da7" Alias="Land Development" Level="4">
  <Info>
    <Parent Key="1eaae8dd-9255-4f28-aa92-104fdb786081">Paul</Parent>
    <Path>/Home/DocumentMigrationAugust2022/Paul/LandDevelopment</Path>
    <Trashed>false</Trashed>
    <ContentType>folders</ContentType>
    <CreateDate>2022-10-27T09:49:41</CreateDate>
    <NodeName Default="Land Development" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>