<?xml version="1.0" encoding="utf-8"?>
<Content Key="12f8cc9b-b00d-4ab1-9081-8d59f368a752" Alias="2018 20 Progress Action Plan" Level="5">
  <Info>
    <Parent Key="400dbcf1-3e0f-45f4-9c0c-074a0dc44321">Court Meetings</Parent>
    <Path>/Home/AboutTheUniversity/UniversityCourt/CourtMeetings/ProgressActionPlan</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-06-28T16:42:19</CreateDate>
    <NodeName Default="2018 20 Progress Action Plan" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/514d27ac8d61487f88f33b6370356f68"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/514d27ac8d61487f88f33b6370356f68",
      "image": "umb://media/f466940ea503450d8f796fb2e07722ab",
      "title": "2018 20 Progress Action Plan",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>17 September 2020</strong></p>
<p>Action 1: Complete the review of the Academic Workload Allocation Model (AWAM), with due attention to research needs.</p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 316px;">
<tbody>
<tr style="height: 21px;">
<th style="width: 25%; height: 21px;"><strong>Responsible</strong></th>
<th style="width: 25%; height: 21px;"><strong>Timescale</strong></th>
<th style="width: 25%; height: 21px;"><strong>Success Measure</strong></th>
<th style="width: 25%; height: 21px;"><strong>Status at September 2020</strong></th>
</tr>
<tr style="height: 295px;">
<td style="width: 25%; height: 295px;">Senior Leadership Team</td>
<td style="width: 25%; height: 295px;">July 2020</td>
<td style="width: 25%; height: 295px;">
<ul>
<li>CRS reports re consistency of research time allocation.</li>
<li>Improved Contract Research Staff (CRS) satisfaction reflected in CROS / PIRLS / Staff Survey outcomes</li>
</ul>
</td>
<td style="width: 25%; height: 295px;">
<ul>
<li>Achieved and New AWAM Model Implemented.</li>
<li>CEDARS 2020 launched within QMU to replace CROS (7%)/PIRLS (17%). Low uptake of CROS/PIRLS in 2019, particularly by CRS, 31% improved uptake of CEDARS in 2020.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 2: Embed a more strategic, pro-active approach to the promotion of researcher development opportunities. This will include:</p>
<p>- Training needs analysis to confirm patterns of need<br />- All workshop / course information aligned to RDF framework.<br />- Clearer signposting of the target audiences via our institutional subscription to Vitae, as signalled in our Outcome Agreement 2018.<br />- A written plan for circulation of development opportunities to ECR staff.</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 25%;">Responsible</th>
<th style="width: 25%;">Timescale</th>
<th style="width: 25%;">Success Measure</th>
<th style="width: 25%;">Status at September 2020</th>
</tr>
<tr>
<td style="width: 25%;">Research and Knowledge Exchange Development Unit<br />(RKEDU), Graduate School, QMU CRS Mentor and<br />Research Centre Directors.</td>
<td style="width: 25%;">December 2019</td>
<td style="width: 25%;">
<ul>
<li>Increase numbers of research staff taking up training and development opportunities by at least 15%.</li>
<li>Increase ECR uptake of RDF by at least 25%.</li>
<li>Improved feedback (in CROS / PIRLS and to relevant committees) on researcher development opportunities for ECR.</li>
</ul>
</td>
<td style="width: 25%;">
<ul>
<li>Researcher Development Support under review by the Deputy Principal.</li>
<li>30% of ECRs using RDF.</li>
<li>Research Staff taking up institutional level training and development opportunities increased from 35% to 41%.</li>
<li>QMU Coaching and Mentoring survey, led by the CRS Staff Mentor, launched in April 2020.</li>
<li>QMU research staff led focus group and survey on barriers to research launched and completed in November 2019.</li>
<li>CEDARS launched June 2020 – 31% response rate.</li>
<li>Feedback from surveys incorporated into new Strategic Plan 2020-25 and new Action Plan 2020-22.</li>
<li>Awareness of the Concordat for Researcher Development 78.2% in CEDARS 2020.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 3: Mentoring training and introduction of formal mentoring scheme included in the Athena SWAN institutional action plan, including a system for allocation of mentors for CRS, and mentoring guidelines provided to all researchers.</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 25%;">Responsible</th>
<th style="width: 25%;">Timescale</th>
<th style="width: 25%;">Success Measure</th>
<th style="width: 25%;">Status at September 2020</th>
</tr>
<tr>
<td style="width: 25%;">HR</td>
<td style="width: 25%;">December 2020</td>
<td style="width: 25%;">
<ul>
<li>Targeted mentoring workshops offered to CRS.</li>
<li>Increase number of CRS with a formal mentor by at least 25%.</li>
<li>Evidence that at least 10% of experienced CRS are becoming mentors to early<br />career researchers (ECRs) and less experienced CRS.</li>
</ul>
</td>
<td style="width: 25%;">
<ul>
<li>Research mentoring delivered through Research Centres and supported by an investment budget to Centres and Schools but we recognise that mentoring continues to be an area for improvement (based on feedback from researchers). In response we have:</li>
<li>Appointed a new QMU CRS Mentor (November 2019).</li>
<li>Completed a QMU Mentoring and Coaching Survey in April 2020.</li>
<li>Launched and completed QMU barriers to research staff focus group and survey in November 2019.</li>
<li>Mentoring and Coaching training took place in Apr/May 2019 and further training was scheduled for Feb/Mar 2020. 7 staff members attended the two-day training course last year and a further 9 staff members are due to attend this training later in 2020.</li>
<li>As a result of delays due to COVID 19, the new institutional Research Mentoring Scheme, informed by the above outcomes and incorporating peer to peer and external mentorship, will be launched in September 2022.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 4: Continued involvement and valued contributions from CRS in our preparations for REF 2021.</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 25%;">Responsible</th>
<th style="width: 25%;">Timescale</th>
<th style="width: 25%;">Success Measure</th>
<th style="width: 25%;">Status at September 2020</th>
</tr>
<tr>
<td style="width: 25%;">RKEDU</td>
<td style="width: 25%;">December 2020</td>
<td style="width: 25%;">
<ul>
<li>At least one REF 2001 briefing session targeted at CRS, to raise awareness of REF policies and Open Access requirements.</li>
<li>REF 2021 Definition of ECR promoted and understood.</li>
<li>REF 2021 definitions and QMU criteria on Significant Responsibility for Research (SRR) and Research Independence (RI) well understood.</li>
</ul>
</td>
<td style="width: 25%;">
<ul>
<li>REF 2021 Academic Lead input to two annual meetings of CRS and Deputy Principal.</li>
<li>2 REF 2021 events for CRS taken place each year.</li>
<li>Monthly drop in REF 2021 session for all staff including CRS</li>
<li>QMU REF 2021 Code of Practice commended by Advanced HE.</li>
<li>QMU REF 2021 Training module, promoting definitions of SRR and RI rolled out to all staff.</li>
<li>CRS representation at REF 2021 Impact Strategy Event in May 2019.</li>
<li>REF Impact Portfolio event facilitated by Fast Track Impact, held for CRS in February 2019.</li>
<li>QMU REF 2021 Code of Practice commended as an exemplar of good practice.</li>
<li>97.5% or research staff (82.1%some/15.4% know exists but not detail) Knowledge/ Understanding of REF 2021 in CEDARS 2020.</li>
<li>66.2% of research staff agreed/agreed strongly that they were treated fairly in<br />relation to Inclusion in REF 2021 in CEDARS 2020.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 5: Enhance support for high quality research grant applications, with new grant support, staff recruited to vacant roles in Finance, and Research Grants and Contracts Unit (RGCU) restructured.</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 25%;">Responsible</th>
<th style="width: 25%;">Timescale</th>
<th style="width: 25%;">Success Measure</th>
<th style="width: 25%;">Status at September 2020</th>
</tr>
<tr>
<td style="width: 25%;">Finance</td>
<td style="width: 25%;">September 2019</td>
<td style="width: 25%;">
<ul>
<li>Improved grant submissions from ECRs.</li>
<li>Success rates for funding applications from ECR improved by at least 10%.</li>
<li>Minimum of one grant writing workshop offered per year.</li>
</ul>
</td>
<td style="width: 25%;">
<ul>
<li>New RGCU team in place in December 2018 with streamlined pre and post award support.</li>
<li>QMU ongoing investment in Research Professional funding database.</li>
<li>Minimum of 1 grant writing workshops offered per year, however this has been halted due to COVID-19 restrictions.</li>
<li>Research Grant activity shows an average success rate of approx. 34% over the past 2 years.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 6: Continue to maximise opportunities for international researchers by increasing QMU’s role as a partner in EURAXESS and other researcher mobility networks to support our ability to attract increased numbers of international researchers.</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 25%;">Responsible</th>
<th style="width: 25%;">Timescale</th>
<th style="width: 25%;">Success Measure</th>
<th style="width: 25%;">Status at September 2020</th>
</tr>
<tr>
<td style="width: 25%;">RKEDU, Research<br />Centre Directors</td>
<td style="width: 25%;">September<br />2020</td>
<td style="width: 25%;">
<ul>
<li>At least 1 briefing per year provided for CRS on Brexit implications.</li>
<li>Evidence of increased collaboration with external initiatives, networks and committees, reported through Research Centre audits.</li>
<li>Engagement with external opportunities discussed by at least one Research Strategy Committee (RSC) meeting per year.</li>
<li>Increased monitoring and understanding of equality and diversity profile of CRS.</li>
</ul>
</td>
<td style="width: 25%;">
<ul>
<li>Enhanced visibility of EURAXESS materials at 4 out of 6 staff tea/social points and in HR, RGCU and RKEDU and intranet.</li>
<li>18 EURAXESS service users over the past 2 years.</li>
<li>Equality and Diversity monitoring now mainstreamed via Research Centre Annual Reviews.</li>
<li>Engagement with external opportunities now standing item at RSC.</li>
<li>Brexit statement now explicit in our 2019 Scottish Funding Council (SFC) Outcome Agreement.</li>
<li>Global Challenges Research Funding (GCRF) secured and invested exclusively on CRS and ECR staff in supporting research posts.</li>
<li>New Research and Innovation Newsletter encompasses researcher mobility opportunities.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 7: Continue to monitor and improve support for the wider dissemination of intellectual and scholarly output, ensuring that CRS are REF-aware and equipped to respond to national developments in Open Access publishing.</p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 610px;">
<tbody>
<tr style="height: 21px;">
<th style="width: 25%; height: 21px;">Responsible</th>
<th style="width: 25%; height: 21px;">Timescale</th>
<th style="width: 25%; height: 21px;">Success Measure</th>
<th style="width: 25%; height: 21px;">Status at September 2020</th>
</tr>
<tr style="height: 589px;">
<td style="width: 25%; height: 589px;">Learning Resource Centre (LRC)</td>
<td style="width: 25%; height: 589px;">May 2019</td>
<td style="width: 25%; height: 589px;">
<ul>
<li>Provide at least one briefing on dissemination of research outputs.</li>
<li>Increase the number of Open Access (OA) publications from CRS.</li>
</ul>
</td>
<td style="width: 25%; height: 589px;">
<ul>
<li>Monthly drop in REF 2021 session for all staff including CRS.</li>
<li>New OA Policy launched.</li>
<li>Investment in institutional research repository.</li>
<li>Institutional commitment to the Concordat for Open Data applicable to all staff with member of CRS on institutional Research Data Management Working Group.</li>
<li>Additional and ongoing investment in the Research Support Librarian to improve OA output monitoring.</li>
<li>New eResearch Staff Self-Deposit function launched in June 2020.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 8: Support CRS in maintaining the highest possible standards of good practice and research integrity to underpin the University’s commitment to the NHS Framework for Research Governance, and the proactive implementation of the latest Concordat for Researcher Integrity, including a review of our Research Code of Practice.</p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 610px;">
<tbody>
<tr style="height: 21px;">
<th style="width: 25%; height: 21px;">Responsible</th>
<th style="width: 25%; height: 21px;">Timescale</th>
<th style="width: 25%; height: 21px;">Success Measure</th>
<th style="width: 25%; height: 21px;">Status at September 2020</th>
</tr>
<tr style="height: 589px;">
<td style="width: 25%; height: 589px;"><br />RKEDU, Research Centre Directors</td>
<td style="width: 25%; height: 589px;">May 2020</td>
<td style="width: 25%; height: 589px;">
<ul>
<li>All CRS aware of new Research Code of Practice.</li>
<li>All CRS aware of the Concordat for Researcher Integrity and Misconduct.</li>
<li>At least two introductory workshops for ECR on new online researcher integrity resources.</li>
</ul>
</td>
<td style="width: 25%; height: 589px;">
<ul>
<li>REF 2021 Code of Practice replaced QMU Research Code of Practice.</li>
<li>QMU member of the UK Research Integrity Office (UKRIO).</li>
<li>Research Integrity staff training modules from University of Dundee made available to all QMU staff and PGRs total 599.</li>
<li>URKIO training session on campus in May 2020 online in May 2021.</li>
<li>QMU member of the Scottish Research Integrity Network (SRIN).</li>
<li>73% of staff aware of the Concordat for Research Integrity in CEDARS 2020.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 9: Maximise all opportunities arising from our strategic linkage with Vitae, Doctoral Training Schemes, Graduate Schools, Universities Scotland and other sector initiatives.</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 25%;">Responsible</th>
<th style="width: 25%;">Timescale</th>
<th style="width: 25%;">Success Measure</th>
<th style="width: 25%;">Status at September 2020</th>
</tr>
<tr>
<td style="width: 25%;">RKEDU, Graduate<br />School.</td>
<td style="width: 25%;">May 2019</td>
<td style="width: 25%;">Increased collaboration with<br />external initiatives, networks<br />and committees.</td>
<td style="width: 25%;">
<ul>
<li>QMU member of Universities Scotland Researcher Development and Training Sub Committee Concordat for Researcher Development Working Group.</li>
<li>QMU ongoing investment in Vitae membership and Research Development Framework (RDF).</li>
<li>Since 2018 systematic inclusion of RDF in Doctoral Study and Training events and in Doctoral Certificate READ Programme.</li>
<li>2019 started preparation to take part in UKCGE research supervision accreditation project.</li>
<li>QMU membership of 2 Scottish Graduate Schools (Social Science, Arts and<br />Humanities), with delivery of advanced training.</li>
<li>Partner in 7 out of 9 SFC Innovation Collaborative Groups.</li>
<li>Active membership of 3 Main strategic Universities Scotland research and innovation sub committees.</li>
<li>Economic sector specific collaborations focused on Creative Industries (Glasgow<br />School of Art and Royal Conservatoire of Scotland) and Food and Drink (Abertay University and Scotland’s Rural Universities and College) established and MoA in place.</li>
<li>Member of Scotland’s ESRC Doctoral Training Partnership since 2017 (Linguistics Pathway).</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 10: Continue to host CRS/ECR focused events to explore multidisciplinary research outwith disciplinary norms and in collaboration with others across Research Centres.</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 25%;">Responsible</th>
<th style="width: 25%;">Timescale</th>
<th style="width: 25%;">Success Measure</th>
<th style="width: 25%;">Status at September 2020</th>
</tr>
<tr>
<td style="width: 25%;">Research Centre<br />Directors, RKEDU</td>
<td style="width: 25%;">Continuing</td>
<td style="width: 25%;">
<ul>
<li>At least one institutional event per year aimed at increasing interdisciplinary collaboration between Research Centres and Groups.</li>
<li>At least one collaborative studentship application submitted to Scottish Graduate Schools (Social Science and Arts and Humanities).</li>
</ul>
</td>
<td style="width: 25%;">
<ul>
<li>6 events hosted by Research Centres over the past 2 years including Practice as Research, Public Sociology, and Memory Research.</li>
<li>High level Institutional interdisciplinary Research Working Paper Series and Platform developed with launch scheduled in Autumn 2020 with ECRs x 2 on Review Panel.</li>
<li>2019 Centre for Health, Exercise and Rehabilitation and Centre for Person-centred Research held a joint event for interdisciplinary research.</li>
<li>Awarded collaborative studentship by Scottish Graduate School for Arts and Humanities.</li>
<li>Graduate School Academic Board represented by 2 ECR members annually.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 11. Continue to support CRS induction through development of enhanced induction and through e-learning to support new staff members and line managers / PIs.</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 25%;">Responsible</th>
<th style="width: 25%;">Timescale</th>
<th style="width: 25%;">Success Measure</th>
<th style="width: 25%;">Status at September 2020</th>
</tr>
<tr>
<td style="width: 25%;">HR, Research Centre<br />Directors</td>
<td style="width: 25%;">September 2019</td>
<td style="width: 25%;">
<ul>
<li>CRS engaged in decisionmaking re improved induction.</li>
<li>All new CRS aware of<br />researcher-specific induction checklist.</li>
<li>Researchers express greater clarity re their contractual<br />arrangements, e.g. in<br />meetings with Deputy Principal.</li>
<li>Evidence of improved<br />feedback re induction in the next CROS, PIRLS and QMU<br />Staff Surveys.</li>
</ul>
</td>
<td style="width: 25%;">
<ul>
<li>Plans to review staff induction and onboarding processes underway with HR student conducting research into QMU position and best practice.</li>
<li>Introduced a bespoke induction plan in April 2020 for remote staff joining inclusive of CRS.</li>
<li>Line Manager e-learning toolkit in place.</li>
<li>New e-learning managers toolkit purchased, guidance to be provided for managers on staff induction as part of this e-learning.</li>
<li>Development of local researcher induction plan in progress.</li>
<li>In CEDARS 2020 63.1% reported that Institutional Level Induction was useful/very useful. 73.7% reported that Division Level Induction was useful/very useful. 63.2% reported that Local Level Induction was useful/very useful</li>
<li>Low uptake of CROS (7%)/PIRLS (17%), improved response 31% CEDARS 2020,<br />particularly by CRS.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 12: Explore options for supporting CRS who are reaching the end of their contracts</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 25%;">Responsible</th>
<th style="width: 25%;">Timescale</th>
<th style="width: 25%;">Success Measure</th>
<th style="width: 25%;">Status at September 2020</th>
</tr>
<tr>
<td style="width: 25%;">HR</td>
<td style="width: 25%;">June 2020</td>
<td style="width: 25%;">
<ul>
<li>CRS between contracts have a period of access to IT and library systems, grant application and career development support, a web presence and affiliation to Research Centres.</li>
</ul>
</td>
<td style="width: 25%;">
<ul>
<li>Access QMU Process currently facilitates extensions on a case by case basis for CRS to access to core University systems.</li>
<li>Legacy Researchers Policy under development.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 13: Continue to develop and implement a specific strategy to support our Commitment to the Concordat for Public Engagement. Continue to participate in strategic collaboration via a new virtual model for the Edinburgh Beltane.</p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 568px;">
<tbody>
<tr style="height: 21px;">
<th style="width: 25%; height: 21px;">Responsible</th>
<th style="width: 25%; height: 21px;">Timescale</th>
<th style="width: 25%; height: 21px;">Success Measure</th>
<th style="width: 25%; height: 21px;">Status at September 2020</th>
</tr>
<tr style="height: 547px;">
<td style="width: 25%; height: 547px;">RKEDU</td>
<td style="width: 25%; height: 547px;">May 2020</td>
<td style="width: 25%; height: 547px;">
<ul>
<li>QMU signs up to the National Co-ordinating Centre for Pubic Engagement (NCPE) Manifesto for Public Engagement.</li>
<li>Increased number of ECR engaging with public engagement initiatives, such as Explorathon and registering for courses as part of the Edinburgh Beltane Network Partnership.</li>
</ul>
</td>
<td style="width: 25%; height: 547px;">
<ul>
<li>QMU now signatory to the new NCPE Manifesto for Public Engagement.</li>
<li>MoU for new model for Edinburgh Beltane signed and manifesto launched.</li>
<li>86 researcher engagements with the Beltane Network in the past 2 years.</li>
<li>Steering membership of ASCUS Art &amp; Science.</li>
<li>Externally funded participation in Royal Society and British Academy flagship events in London, by former post-doctoral CRS fellow, current PhD student, and professor and commercial partner.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 14: Engage CRS in our REF 2021 preparation and in the development of our Code of Practice. Continue to benchmark our REF submission in relation to sector UoA norms for tariff reductions.</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 25%;">Responsible</th>
<th style="width: 25%;">Timescale</th>
<th style="width: 25%;">Success Measure</th>
<th style="width: 25%;">Status at September 2020</th>
</tr>
<tr>
<td style="width: 25%;">RKEDU , HR and QMU<br />REF 2021 Academic<br />Lead</td>
<td style="width: 25%;">December 2020</td>
<td style="width: 25%;">
<ul>
<li>CRS express satisfaction that working practices and policies are applied fairly and consistently to ECR, in CROS / PIRLS and Staff Survey.</li>
<li>All policies, procedures and decisions which impact staff subjected to equality impact assessment where appropriate.</li>
<li>The success of female researchers at QMU showcased in at least one initiative, to inspire ECR.</li>
<li>Minimum of one REF 2021 dedicated CRS event per year through the REF 2021 census period.</li>
<li>CRS full consulted in the development of the QMU REF 2021 Equality and Inclusion - Code of Practice Group.</li>
</ul>
</td>
<td style="width: 25%;">
<ul>
<li>Research England changes to REF 2021 regulations relating to researcher independence discussed widely and an institutional understanding promoted with input from CRS – agreement to progress QMU researcher development procedures/processes to actively support transition pathways to independence (Professorial lead appointed by the SLT to progress this with CRS).</li>
<li>REF 2021 Code of Practice training module rolled out to all research staff in November 2019.</li>
<li>CRS represented in the Equality and Diversity, (Code of Practice) Steering Group.</li>
<li>2 REF 2021 events for CRS taken place each year.</li>
<li>QMU event hosted by the Chancellor Prue Leith took place in March 2019 titled EntreprenHER.</li>
<li>Innovation support for Female researchers a defining component of our £30million City Deal proposal – strategic collaboration with Women’s Enterprise Scotland (WES) signed.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 15: Continue to champion gender equality initiatives beyond the conventional STEM domain of Athena SWAN, to include initiatives such as Aurora.</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 25%;">Responsible</th>
<th style="width: 25%;">Timescale</th>
<th style="width: 25%;">Success Measure</th>
<th style="width: 25%;">Status at September 2020</th>
</tr>
<tr>
<td style="width: 25%;">Equality and Diversity<br />Committee</td>
<td style="width: 25%;">May 2019</td>
<td style="width: 25%;">
<ul>
<li>Achievement of Athena SWAN bronze departmental awards for all eligible STEMM and AHSSBL departments.</li>
<li>Achievement of institutional silver award.</li>
<li>Ensure uptake of ring-fenced Aurora places by CRS.</li>
</ul>
</td>
<td style="width: 25%;">
<ul>
<li>8 female staff members (including 2 contract researchers) are undertaking the Aurora Female Leadership programme this year. The first meeting of the QMU Aurora network took place Feb 2020.</li>
<li>QMU event hosted by the Chancellor Prue Leith took place in March 2019 titled EntreprenHER.</li>
<li>Dedicated support and funding for female researchers to attend events e.g. Soapbox Science and AcceleratHER.</li>
<li>Strategic institutional collaboration with Women’s Enterprise Scotland secured and MoU signed.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 16: Continue to use CROS and PIRLS benchmarking data to inform our strategic support for QMU researchers.</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 25%;">Responsible</th>
<th style="width: 25%;">Timescale</th>
<th style="width: 25%;">Success Measure</th>
<th style="width: 25%;">Status at September 2020</th>
</tr>
<tr>
<td style="width: 25%;">CRS Mentor, RKEDU</td>
<td style="width: 25%;">September 2019</td>
<td style="width: 25%;"><br />
<ul>
<li>Response rates of minimum 50% participation of appropriate staff in the next CROS and PIRLS and Staff Survey.</li>
<li>CROS and PIRLS benchmarking report and action plan agreed by RSC.</li>
</ul>
</td>
<td style="width: 25%;">
<ul>
<li>Low levels of participation in CROS/PIRLS acknowledged and after consultation with CRS it was agreed that QMU should be an early adopter of CEDARS.</li>
<li>CEDARS launched in July 2020 within QMU to replace CROS/PIRLS -response rate: 31%.</li>
<li>QMU 1 of 22 UK HEIs to sign up for CEDARS 2020 with rich action based analysis underway to develop SMART measures.</li>
<li>QMU high level strategic commitment to participation CEDARS 2021.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 17: Ensure ongoing compliance with sector Concordats and contemporary standards of good practice to ensure and enhance quality and integrity in research and KE.</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 25%;">Responsible</th>
<th style="width: 25%;">Timescale</th>
<th style="width: 25%;">Success Measure</th>
<th style="width: 25%;">Status at September 2020</th>
</tr>
<tr>
<td style="width: 25%;">RKEDU</td>
<td style="width: 25%;">September 2020</td>
<td style="width: 25%;">
<ul>
<li>At least one discussion at RSC of engagement with Concordats and good<br />research practice.</li>
<li>Validation of engagement with<br />concordats from external bodies (such as Vitae).</li>
</ul>
</td>
<td style="width: 25%;">
<ul>
<li>Concordats and sector good practice now a standing item on RSC.</li>
<li>QMU signatory to DORA and Leiden Manifesto.</li>
<li>Institutional statement on use of metrics in research assessment now published on our website and the spirit of the Forum for Responsible Metrics in Research (FFRM)<br />and UKRI’s Metric Tide Report embedded in our research culture.</li>
<li>Annual (Nov) reporting of Concordat for Research Integrity compliance to University Court.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 18: Actively collaborate with other local universities in developing joint initiatives and sharing good practice across Scotland</p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 63px;">
<tbody>
<tr style="height: 21px;">
<th style="width: 25%; height: 21px;">Responsible</th>
<th style="width: 25%; height: 21px;">Timescale</th>
<th style="width: 25%; height: 21px;">Success Measure</th>
<th style="width: 25%; height: 21px;">Status at September 2020</th>
</tr>
<tr style="height: 42px;">
<td style="width: 25%; height: 42px;">RKEDU, Graduate<br />School</td>
<td style="width: 25%; height: 42px;">September 2020</td>
<td style="width: 25%; height: 42px;">
<ul>
<li>Increased collaboration with Universities across Scotland: at least one initiative per year.</li>
</ul>
</td>
<td style="width: 25%; height: 42px;">
<ul>
<li>Annual statement on collaboration through the UIF submitted to SFC.</li>
<li>Exclusive partnership with Edinburgh College and the Edinburgh Merchant Company to support FE and researcher innovation.</li>
<li>QMU member of Universities Scotland Researcher Development and Training Sub Committee Concordat for Researcher Development Working Group.</li>
<li>Membership of 2 Scottish Graduate Schools. Scottish Graduate Schools (Social Science, Arts and Humanities).</li>
<li>Partner in 7 out of 9 US sector Innovation collaborative initiatives.</li>
<li>Active membership of 3 Main strategic US research sub committees.</li>
<li>Economic sector specific collaborations focused on Creative Industries (GSA and RCS) and Food and Drink (Abertay and SRUC) established and MoA in place.</li>
<li>Collaboration with the University of St Andrews in the provision of IP support.</li>
<li>Collaboration with East Lothian Council to encourage post-doctoral start-ups to locate in the region (3).</li>
<li>Partner in Converge Challenge – Scotland’s leading commercialisation competition with high level researcher engagement (42)/success (7).</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p><br />Action 19. Progress new initiatives linked to Academic Citizenship, Open Access and Data Management, Collaboration, Integrity, Enterprise and Impact (including cultural and public engagement).</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 25%;">Responsible</th>
<th style="width: 25%;">Timescale</th>
<th style="width: 25%;">Success Measure</th>
<th style="width: 25%;">Status at September 2020</th>
</tr>
<tr>
<td style="width: 25%;">RKEDU, LRC, HR</td>
<td style="width: 25%;">September 2020</td>
<td style="width: 25%;">
<ul>
<li>New ECR Network to provide biannual opportunities for discussion of new initiatives.</li>
<li>Increased CRS engagement with new initiatives.</li>
</ul>
</td>
<td style="width: 25%;">
<ul>
<li>CRS rep on new Research Data Management Group.</li>
<li>QMU member and campus host to East Lothian Business Improvement District (BID) focused on Food and Drink and representing 40 SMEs with opportunities for researcher engagement (3).</li>
<li>Over Period 2018-20 initiatives increased:</li>
</ul>
<p>o Academic Citizenship (8)</p>
<p>o Open Access (4)</p>
<p>o Research Integrity (6)</p>
<p>o Enterprise and Impact (28)</p>
<ul>
<li>Institutional investment and membership of new Scottish Policy Research Exchange (SPRE) and Scottish Parliament Academic Network (SPAN).</li>
<li>New weekly newsletter of opportunities for engaging in UK and Scottish Parliaments issued.</li>
<li>New QMU Innovation Fellowship Scheme launched in 2019.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Action 20: Roll out a new enhanced commercialisation collaboration with the University of St Andrews</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 25%;">Responsible</th>
<th style="width: 25%;">Timescale</th>
<th style="width: 25%;">Success Measure</th>
<th style="width: 25%;">Status at September 2020</th>
</tr>
<tr>
<td style="width: 25%;">RKEDU</td>
<td style="width: 25%;">September 2020</td>
<td style="width: 25%;">
<ul>
<li>Reports published on the EDC website to demonstrate that Equality Impact Assessment (EIA) has been implemented and applied across the University</li>
</ul>
</td>
<td style="width: 25%;">
<ul>
<li>Ongoing with further work required on wider mainstreaming of EIAs.</li>
<li>Online EIA e-learning training course by Equality &amp; Diversity UK, sent to staff responsible for completing EIAs in REF 2021.</li>
<li>REF 2021 Equality Code of Practice highly commended by Advance HE.</li>
<li>Face to face REF 2021 Equality and Diversity training delivered by Advance HE to all staff with a decision-making role in REF 2021.</li>
<li>REF 2021 Equality and Diversity Training Module launched in November 2019.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Published 20 September 2018 – Update 14 September 2020</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[2018 20 Progress Action Plan]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>HR Excellence in Research Award</strong></p>
<p>10 Year Review – September 2020</p>
<p>Progress Against Action Plan 2018-20 (2008) Concordat to Support the Career Development of Researchers</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Progress Against Action Plan 2018-20 (2008) Concordat to Support the Career Development of Researchers]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[2018 20 Progress Action Plan | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[2018 20 Progress Action Plan]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>