<?xml version="1.0" encoding="utf-8"?>
<Content Key="150d834b-2704-4c21-8ebc-e8d2a6840b4a" Alias="I No Want Camera!  The ethical dilemmas of working with film" Level="5">
  <Info>
    <Parent Key="417bc129-f32e-43f0-897b-9f966283971c">Funke Osae-Brown</Parent>
    <Path>/Home/CampusLife/Blogs/FunkeOsaeBrown/INoWantCameraTheEthicalDilemmasOfWorkingWithFilm</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2024-03-08T11:22:22</CreateDate>
    <NodeName Default="I No Want Camera!  The ethical dilemmas of working with film" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65102975-f5a6-47bf-9418-b0e82dc7c288">BlogPost</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/763a756d35234c63b2e58cc51bd99f33]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b33b42f29af641e081ea27d17a4fa846"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/b33b42f29af641e081ea27d17a4fa846",
      "image": "umb://media/06fbcb5dd5244b87b1351ae6efa1b173",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p><span>Just like research participants in formal settings, these ‘street people’ are participants who value their anonymity whenever their opinions are sought by newspeople. </span> </p>
<p><span>And so, at the start of my research, I knew I would encounter this lingo among the Nigerian community in Scotland </span><span>where I am recruiting my participants. For my research I am using documentary film to explore the lived experiences of Nigerian migrants in Scotland, specifically in the cosmopolitan cities of Edinburgh and Glasgow. Guess what? </span><em><span>“I no want a camera o!” </span></em><span>was the first thing said to me by one of my prospective participants when I had a pre-interview meeting to brief them informally about the research. </span> </p>
<p><span>Generally, the ethical principles in research include informed consent, confidentiality and avoidance of harm, </span><span>but working with film comes with additional ethical dilemmas. In addition to the ethics of recognition, I had to rethink informed consent as it concerns the dangers of Open Access materials: once the film is made public – for example, put on YouTube – I will have no control over the impact it may have.</span></p>
<p><span>Ethical considerations in this context also might mean I must give them the option to be anonymised or withdraw their participation during data collection before the results are released. I had to think critically about the ethical imperative of anonymity: in healthcare research, for example, this might be vital – was it the same for my context? I thought through whether there is a need to retain anonymity and explore alternative forms of visual re-representations and revisualization of participants who want to remain anonymous.</span> </p>
<p><span>Initially, at the start of my research, I considered the standard practice of blurring faces and filming acceptable body parts as approved by the participants. Although I wasn’t too confident with this method, I included it as a part of my methodology anyway. I wasn’t surprised when my assessors asked me about this during one of my presentations. They wanted to know if that was the only method available, that I could use for anonymisation of participants. And so, the search for a better method began after my probationary viva.<br><br></span><span>Last summer, I attended two workshops – one on Film-as-Research and the other on Photo-elicitation where the facilitators shared their experiences of using film and photos as research methods. They shared different methods they used for data collection while working with vulnerable groups. From there, I realised I could adapt one or two of these methods to my research specifically to the anonymisation of my participants. </span> </p>
<?UMBRACO_MACRO macroAlias="Quote" text="While ruminating over the knowledge shared at the workshop, an idea came to me - to ask participants who want to be anonymous to record their voices over images they choose that they feel best to tell their migration stories." source="" sourceExtra="" />
<p><span> <br>This way, I reckon, they will be able to tell their own stories and have control over how their stories are told. The main support I will give them as a researcher is to train them in simple editing techniques. I believe it is important for them to be familiarised with editing techniques so they can know how to piece their voice and images together the way they wish to. One of the key strengths of participatory or collaborative research is for participants to have a say in how their stories are told; in this way, this new method encourages a collaborative effort between them and the researcher. Talk about power relations in research! <br><br></span>When I shared this idea with my supervisors during one of our meetings last summer, they agreed that it was a very good positive and constructive way forward.  </p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[2024-03-08T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[I No Want Camera!  The ethical dilemmas of working with film]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead">“I no want camera” is a popular pidgin lingo used in Nigeria by anyone who doesn’t want to, or dislikes, to be filmed.</span></p>
<p>It simply means “I don’t like to be filmed or appear in a video or any footage at all.” It is not uncommon for people on the streets of Nigerian cities to say this whenever a camera is pointed at them, usually by broadcast journalists seeking their opinion on an issue.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[“I no want camera” is a popular pidgin lingo used in Nigeria by anyone who doesn’t want to, or dislikes, to be filmed. It simply means “I don’t like to be filmed or appear in a video or any footage at all.” It is not uncommon for people on the streets of Nigerian cities to say this whenever a camera is pointed at them, usually by broadcast journalists seeking their opinion on an issue.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[I No Want Camera!  The ethical dilemmas of working with film | Blog | QMU]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[I No Want Camera!  The ethical dilemmas of working with film]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>