<?xml version="1.0" encoding="utf-8"?>
<Content Key="17ee8df6-8993-42e5-a7d4-ba4b40ea9060" Alias="PhD Application Enquiries" Level="4">
  <Info>
    <Parent Key="ecf5930f-7e9c-41b1-9bd9-b5a7c0284236">Individuals</Parent>
    <Path>/Settings/Contacts/Individuals/PhDApplicationEnquiries</Path>
    <Trashed>false</Trashed>
    <ContentType>contactIndividual</ContentType>
    <CreateDate>2020-12-15T16:18:31</CreateDate>
    <NodeName Default="PhD Application Enquiries" />
    <SortOrder>93</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactOptions>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a6e0a670338b44ec89fcb822008b8436"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "09d35bb5-64b1-49ab-a6a6-ac5de9630753",
      "udi": "umb://element/a6e0a670338b44ec89fcb822008b8436",
      "title": "Email",
      "type": "[\"Email\"]",
      "scUrl": "graduateschool@qmu.ac.uk"
    }
  ],
  "settingsData": []
}]]></Value>
    </contactOptions>
    <logoImage>
      <Value><![CDATA[]]></Value>
    </logoImage>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <mainTitle>
      <Value><![CDATA[PhD Application Enquiries]]></Value>
    </mainTitle>
    <subTitle>
      <Value><![CDATA[Graduate School Team]]></Value>
    </subTitle>
    <telephoneNumber1>
      <Value><![CDATA[]]></Value>
    </telephoneNumber1>
    <telephoneNumber2>
      <Value><![CDATA[]]></Value>
    </telephoneNumber2>
    <thumbnailImage>
      <Value><![CDATA[]]></Value>
    </thumbnailImage>
  </Properties>
</Content>