<?xml version="1.0" encoding="utf-8"?>
<Content Key="180d84aa-d257-4cc4-952e-9be9f02ca561" Alias="QMU Assessment - a step-by-step guide for collaborative partners" Level="4">
  <Info>
    <Parent Key="23ed7ab2-bf2b-4808-b948-dca16bea8636">Partnerships</Parent>
    <Path>/Home/AboutTheUniversity/Partnerships/QMUAssessmentAStepByStepGuideForCollaborativePartners</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2023-07-03T09:42:47</CreateDate>
    <NodeName Default="QMU Assessment - a step-by-step guide for collaborative partners" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2a086fc3cd134d3fbb775c5503a2f293"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/2a086fc3cd134d3fbb775c5503a2f293",
      "image": "umb://media/afc517cc25c24399a79ba68ec83305ef",
      "title": "QMU Assessment - a step-by-step guide for collaborative partners",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<div class="page">
<div class="layoutArea">
<div class="column">
<p><span style="font-size: 14px;"><strong>Step 2</strong>: Students undertake assessment. Most assessment will be anonymous, so students should identify themselves only by their matriculation number. (Make sure all your students have matriculated and have a number!) You will need a submission procedure which allows students to hand in their assignments securely and anonymously. This can be done electronically, through the Hub (if used). For paper copies, students should hand in their assignments to a central administrator. Some form of signature sheet to record when assignments have been handed in can be useful.</span></p>
</div>
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>For unseen written exams, arrangements must be made to keep the exam paper secure before the exam so that students don’t see the questions in advance. Student answer books should be identified only by matriculation number. See QMU regulations for further advice on <a href="/about-the-university/quality/committees-regulations-%20policies-and-procedures/" title="Conduct of exams">conduct of exams</a>.</p>
<p><strong>Step 3</strong>: <span style="font-size: 14px;">The first marker marks the assessments using the marking criteria defined. You should award a percentage mark, in line with the QMU grade descriptors. A feedback sheet should be completed, explaining to the student the strengths and weaknesses of their work.</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>The first marker completes a list of all the marks for the module. (See also Step 8.)</p>
<p><strong>Step 4</strong>: <span style="font-size: 14px;">Internal moderation. Another member of staff should look over a sample of the assessments. The purpose of this is to confirm that the first marker has applied the marking criteria consistently and that the scale of marks is roughly appropriate. If the moderator doesn’t agree with the first marker it may be necessary to second mark the entire cohort. This should be discussed with the programme leader. It is obviously very important that the marking team agree how they are marking and what standard of work is worth eg 60, 70 or 80%. Records must be kept of the internal moderation process to show how final marks are arrived at.</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><strong>Step 5</strong>: <span style="font-size: 14px;">QMU moderation (if applicable). For most partnerships, we ask for a sample of work to be sent to QMU for moderation. This allows us to confirm we have a shared understanding of the standard of student performance expected. For those programmes that mark online via Grademark, the QMU moderators will select the sample of work to review. For other programmes, you will need to select the sample.</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>When there are eight or fewer students all the assessments should be sent. When there are more, the following guidelines apply:</p>
<ul>
<li>The minimum sample is six scripts. For large cohorts, the minimum sample is the square root of the total number of students (rounded up).</li>
<li>Send one script from each grade (70+%, 60-69%, etc)</li>
<li>Send all borderline fails.</li>
</ul>
<p>Work is normally shared electronically, using a shared drive. The Collaborations team in the School Office will guide you as to how this works.</p>
<div class="page">
<div class="layoutArea">
<div class="column"><span style="font-size: 14px;"><strong>Step 6</strong>: </span><span style="font-size: 14px;">At this stage you may want to return provisional marks to students with feedback (as they will be waiting anxiously to know how they have done). It is essential that students know these marks are only provisional until ratified by the Board of Examiners. Some people prefer only to give grades (A, B, C, D etc) at this point. Some people just give the feedback sheet. If a student has failed they will want to know what to do about retrieval. Note that retrieval arrangements are not normally decided until the exam board has met.</span></div>
</div>
</div>
<p><span style="font-size: 14px;"><strong>Step 7</strong>: </span><span style="font-size: 14px;">External examiner moderation. Once the final marks are agreed, a sample of work for each module should be sent to the external examiner. The external examiner will need to have the following information:</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<ul>
<li>the assignment as set to students, with any guidelines provided;</li>
<li>a sample of assessments*;</li>
<li>copies of the first marker’s feedback to students;</li>
<li>copies of any comments from the moderator or second marker;</li>
<li>marking criteria or model answers;</li>
<li>a full module mark list</li>
</ul>
</div>
</div>
</div>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>* This will be the same sample as for QMU moderation. See Step 5 above for the rules on the size of the sample and what to include.</p>
</div>
</div>
</div>
<p><span style="font-size: 14px;"></span><strong>Step 8</strong>: <span style="font-size: 14px;">Send finalised marks to School Office. The School Office will normally provide you with a csv file to complete. Include information on students who have withdrawn, students who have deferred and students who have been granted extensions. Identify any students who have simply failed to submit (they get 0).</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>You don’t need to calculate the overall mark – the computer system does this. The aggregate mark is worked out as follows:</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>A module has two assessments: MCQ 40% and case study 60%. 40% of the MCQ mark is added to 60% of the case study mark.</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p style="padding-left: 40px;">Asma scores 35% and 50% overall mark of 44 pass</p>
<p style="padding-left: 40px;">Brian scores 25% and 60%<br />overall mark of 46 – but Brian fails because he scored less than 30 for the MCQ</p>
<p style="padding-left: 40px;">Carla scores 30% and 50% overall mark of 42 pass</p>
<p style="padding-left: 40px;">David scores 50% and 30%<br />overall mark of 38 fail – because the case study is weighted as more important than the MCQ</p>
<p><strong>Step 9:</strong> <span style="font-size: 14px;">Pre-board. It is a good idea to hold a meeting the day before the exam board to look at the profiles of individual students and consider any issues that might arise. This will give you advance warning if there are any tricky cases on which you will need advice about your options under the regulations. It is also an opportunity to check whether there is further information you may need, such as details of a student’s extenuating circumstances.</span></p>
<p><strong><span style="font-size: 14px;">Step 10: </span></strong><span style="font-size: 14px;">Exam board. The board will be chaired by a member of staff from QMU. As many of the staff involved in marking as possible should attend, as should the external examiner. Only the exam board has the authority to confirm marks and – importantly – only the exam board can decided on whether and how a student should retrieve a failed module.</span></p>
<p><strong><span style="font-size: 14px;">Step 11: </span></strong><span style="font-size: 14px;">Confirm retrieval arrangements with any students who have deferred or failed. It is your responsibility to notify students of what to do next and what the deadline is for resubmission.</span></p>
<p><span style="font-size: 14px;">Step 12: </span><span style="font-size: 14px;">Transcripts. The School Office will issue transcripts to students once a year.</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>For full detail of click here <a href="/{localLink:umb://document/c2df08504288495fa85201eaaa74a8e4}" title="Committees, Regulations, Policies and Procedures">assessment regulations</a></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>There are also quick guides with summaries of the <a href="/{localLink:umb://document/f3dee7c9bdcd4dcdb92f60f701817e9d}" title="Useful Documents And Quick Guides">regulations</a></p>
<p> </p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1447b90e7a074057ac825b46f49cb803"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/1447b90e7a074057ac825b46f49cb803",
      "title": "Assessment processes",
      "content": "<p><img src=\"?width=800&amp;height=433.77777777777777\" alt=\"Assessment Process\" width=\"800\" height=\"433.77777777777777\" data-udi=\"umb://media/e1c6267703954cc6980a90eb32865ce5\" /></p>\n<p><img src=\"?width=800&amp;height=533.3333333333334\" alt=\"Assignment Submitted\" width=\"800\" height=\"533.3333333333334\" data-udi=\"umb://media/fd5b868fc6e4406ab038c27f73a0b1df\" /></p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU Assessment - a step-by-step guide for collaborative partners]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>Step 1</strong> : <span style="font-size: 14px;">Agree essay titles and exam papers. All assessments must be approved by QMU to confirm that the assessment does test the learning outcomes of the module and is at the right level (not too simple or too hard). The external examiner should be consulted about the design of assessments for modules which contribute to the final degree classification (Level 3 and 4 of an undergraduate degree, M level modules).</span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[A step-by-step guide for collaborative partners]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>