<?xml version="1.0" encoding="utf-8"?>
<Content Key="19245d45-dae5-4db4-9d1e-9f060da9acfb" Alias="Public Health, Health Services and Primary Care" Level="6">
  <Info>
    <Parent Key="8e63c5b5-aa30-4d85-8eca-096bab564ce0">Insights into our Research Outputs and Environment</Parent>
    <Path>/Home/ResearchAndKnowledgeExchange/QMUResearch/QMUAndREF/InsightsIntoOurResearchOutputsAndEnvironment/PublicHealthHealthServicesAndPrimaryCare</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-04-29T11:45:08</CreateDate>
    <NodeName Default="Public Health, Health Services and Primary Care" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3c20f647aa92455db3e3f4dc5b9c071e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/3c20f647aa92455db3e3f4dc5b9c071e",
      "image": "umb://media/658ee2f281ba451ba5f987bb9a10870f",
      "title": "Public Health, Health Services and Primary Care",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead-big">Public Health, Health Services and Primary Care </span></p>
<p><span class="lead">Key statistics<br /><br /></span>In our work in health systems and psychosocial wellbeing, integration and protection, submitted to REF 21 (in the <strong>Public Health, Health Services and Primary Care</strong> Unit of Assessment), and based on work undertaken in the seven year period 2014-2020:</p>
<ul>
<li>We submitted nine researchers to REF, of whom eight were women.</li>
<li>There were 26 researchers in the wider group, of whom 17 were women.</li>
<li>We secured 45 research grant awards from 79 submissions, a 57% success rate.</li>
<li>There was over a five-fold increase in external research income (from the baseline of £267,781 to over £1.5m).</li>
<li>Over 160 publications were eligible for inclusion in REF over the assessment period.</li>
<li>There was an 87% increase in staffing of our Institute for Global Health and Development (from 11.4 FTE to 21.4 FTE).</li>
</ul>
<p><span class="lead">Examples of our work</span></p>
<p>Our work in psychosocial wellbeing, integration and protection is oriented towards contextual understandings of wellbeing, beyond clinical framing of disorder. This is exemplified in Dr Rebecca Horn’s NIHR-funded work, in collaboration with the Ministry of Health and other key stakeholders in Sierra Leone, on the development of a culturally validated measure of psychological distress to support the development of formal and community-based support for those experiencing psychological distress.</p>
<p>Prof Alistair Ager and Dr Horn, with Dr Karin Diaconu, led major studies with humanitarian agencies (including World Vision, Save the Children, UNICEF and War Trauma Foundation) informing mental health and psychosocial support (MHPSS) interventions in humanitarian contexts. This included a randomised-control trial of an innovative profound stress atunement intervention, the first randomised-control trial of Psychological First Aid, and a multi-site cross-national study of the deployment of child friendly spaces that has shaped sectoral intervention guidelines.<br /><br />Read our full case study on <a href="/{localLink:umb://document/620cf944ea074563ba970b54fc199323}" title="REF 2021 - Shaping refugee integration policy and practice globally"><span class="NormalTextRun SCXW77471790 BCX0 blue-btn">Shaping refugee integration policy &amp; practice globally</span></a> </p>
<p>Read our full case study on <a href="/{localLink:umb://document/563f93269b044dd78705f9841db6b1f5}" title="REF 2021 - Strengthening health financing in low income/fragile settings"><span class="NormalTextRun SCXW164965565 BCX0 blue-btn">Strengthening health financing in low income/fragile settings</span></a> </p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Public Health, Health Services and Primary Care ]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[In our work in health systems and psychosocial wellbeing, integration and protection, submitted to REF 21 (in the Public Health, Health Services and Primary Care Unit of Assessment), and based on work undertaken in the seven year period 2014-2020]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Public Health | REF 2021 | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Public Health, Health Services and Primary Care ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>