<?xml version="1.0" encoding="utf-8"?>
<Content Key="196d70a7-a40d-4002-82d0-1bc024bd394f" Alias="Strategic Report and Financial Statements 2017" Level="3">
  <Info>
    <Parent Key="61203bde-5c78-46ad-9f20-edbd884ccf4d">Finance</Parent>
    <Path>/Home/Finance/StrategicReportAndFinancialStatements2017</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-02-08T14:38:19</CreateDate>
    <NodeName Default="Strategic Report and Financial Statements 2017" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/14b5f4ebc4494e46aaa52dabb40129b8]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2b5241d27e16469684c1377726019529"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/2b5241d27e16469684c1377726019529",
      "image": "umb://media/bc0fb9d0a4574225b98bf9e95221394c",
      "title": "Strategic Report and Financial Statements 2017",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<ol>
<li><a href="/finance/strategic-report-and-financial-statements-2017/principals-report/" title="Principal's Report">Principal's Report</a><a href="/{localLink:umb://document/d02ea24a80764e878f8d7b562fb8c853}" title="Principal's Report" data-udi="umb://document/d02ea24a80764e878f8d7b562fb8c853"><br /></a></li>
<li><a href="/finance/strategic-report-and-financial-statements-2017/strategic-report/" title="Strategic Report">Strategic Report</a></li>
<li><a href="/finance/strategic-report-and-financial-statements-2017/directors-report/" title="Director's Report">Directors' Report</a></li>
<li><a href="/finance/strategic-report-and-financial-statements-2017/corporate-governance-statement/" title="Corporate Governance Statement">Corporate Governance Statement</a><a></a></li>
<li><a href="/finance/strategic-report-and-financial-statements-2017/responsibilities-of-the-university-court/" title="Responsibilities of the University Court">Responsibilities of the University Court</a><a></a></li>
<li><a href="/finance/strategic-report-and-financial-statements-2017/independent-auditor-s-report/" title="Independent Auditor’s Report">Independent Auditor’s Report</a><a></a></li>
<li><a href="/finance/strategic-report-and-financial-statements-2017/statements-of-comprehensive-income-and-expenditure/" title="Statements of Comprehensive Income and Expenditure">Statements of Comprehensive Income and Expenditure</a><a></a></li>
<li><a href="/finance/strategic-report-and-financial-statements-2017/statements-of-changes-in-reserves/" title="Statements of Changes in Reserves">Statements of Changes in Reserves</a><a></a></li>
<li><a href="/finance/strategic-report-and-financial-statements-2017/balance-sheets-as-at-31-july-2020/" title="Balance sheets as at 31 July 2020">Balance sheets as at 31 July 2020</a></li>
<li><a style="font-size: 14px;" href="/finance/strategic-report-and-financial-statements-2017/consolidated-statement-of-cash-flows/" title="Consolidated statement of cash flows">Consolidated statement of cash flows</a></li>
<li><a href="/finance/strategic-report-and-financial-statements-2017/notes-to-the-financial-statements/" title="Notes to the financial statements">Notes to the financial statements</a></li>
</ol>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/09617c7a689b4d40a664364701529d0b]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Strategic Report and Financial Statements]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>Strategic Report and Financial Statements for the year ended 31st July 2017</strong><br />Registered No. SC007335<br />Scottish Charity No. SC002750</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Queen Margaret University, Edinburgh - Strategic Report and Financial Statements for the year ended 31st July 2017.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Strategic Report and Financial Statements 2017 | Finance | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Strategic Report and Financial Statements]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>