<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d9d9a46-c1c4-4a47-9501-bf7faa582af2" Alias="2021.03.10 Tess Whittaker AccelerateHER Awards" Level="5">
  <Info>
    <Parent Key="659cf431-5480-4060-80fd-c765a525647f">2021</Parent>
    <Path>/Home/NewsAndEvents/News//TessWhittakerAccelerateHERAwards</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-11-03T09:29:48</CreateDate>
    <NodeName Default="2021.03.10 Tess Whittaker AccelerateHER Awards" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/8da2a3e11aaf432798266dd31f8c19f5]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0676864a198f4a90a6d9621a10d2d85c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/0676864a198f4a90a6d9621a10d2d85c",
      "image": "umb://media/a2a7fd4dc1d341b2bf845d803ed2a303",
      "title": "Tess’ pioneering voice-over technology could be an industry game changer!",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>As a voice-over artist with a background in acting, Tess has the perfect combination of skills to develop The Voice Distillery. She has worked in collaboration with two of Queen Margaret University’s leading speech and language researchers - Professor Janet Beck and Dr Felix Schaeffler; and with an expert in machine learning and digital signal processing - Dr Matthias Eichner; to create a voice-over initiative with international business potential.</p>
<p>Describing the project, Tess explained: “Finding the right voice-over for a commercial, book narration or documentary can be a difficult and time consuming process. For advertisers and other industry professionals who need to identify the right voice for a specific project, nailing the right voice-over artist from hundreds of sample submissions, can suck up inordinate amounts of time and energy. With a typical casting attracting around 400 sample additions, often many of the samples are not even considered.</p>
<p>“Our challenge was to develop technology which could improve time and efficiency and help identify the right voices for a particular project. We worked together to develop The Voice Distillery – a platform that can analyse acoustic features that align with criteria commonly specified in content creators’ (clients’) project briefs, such as vocal qualities and styles of read that a content creator wishes to portray in, for example, an advert or a documentary. It automatically ranks audition samples according to the content creator brief. This provides a faster, more targeted shortlisting system that avoids listener bias.”</p>
<p>Tess was keen to pitch this innovative project to the AccelerateHER Awards competition to gain recognition for this new technology and assistance with exploring its international growth potential.</p>
<p>The AccelerateHER Awards is a competition which celebrates female founders and helps them grow their companies. Now in their sixth year, the awards have provided a springboard to growth for finalists and winners by opening doors to new connections and opportunities through the global AccelerateHER network. Despite the challenges of the pandemic, this year’s competition has seen many strong entries, which has highlighted the growing number of dynamic female-led businesses with major global growth potential.</p>
<p>Tess also stated “Not only will The Voice Distillery benefit content creators looking for the right voice over, it will also greatly benefit voice over artists as all submitted auditions will be considered as part of the process. Our technology will provide feedback to voice-over artists who have made a submission, which will allow them to learn and develop too. Additionally, the Voice Distillery is unlike any other online casting platforms in that it will be free for voice-over artists to use, avoiding the need to ‘pay to play’.</p>
<p>Miriam Smith, Innovation and Enterprise Manager at Queen Margaret University, said: “Tess has shown great creativity, determination and resilience in forging ahead and exploring the potential of The Voice Distillery, during the challenges of the global pandemic. At QMU we are committed to championing female entrepreneurship and are proud that nearly two thirds of QMU start-up companies are created by females. Providing a dynamic, supportive and connected environment in which female entrepreneurs can grow and sustain resilient businesses is an area of growth.</p>
<p>“Our University has a proud history of supporting educational and career development opportunities for women. In 1875, our institution provided education for women at a time when society made that challenging. As a University which actively promotes inclusively and equality of opportunity, supporting the ambitions of our female entrepreneurs fits with the University’s commitment to shaping a better and more inclusive world.</p>
<p>“We wish Tess all the best for the virtual finals on the 25th March.”</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2021-03-10T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Tess’ pioneering voice-over technology could be an industry game changer!]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>A QMU speech and language graduate, who works as a voice-over artist, has made it through to the finals of a highly prestigious entrepreneurial competition which aims to advance female leadership in Scotland.</p>
<p>Having worked as a voice-over artist for several years, Tess Whittaker’s dulcet tones have been used to promote large organisations and big bands such as Nivea, Royal Mail and HSBC. She fought off stiff competition to secure a place in the finals of AccelerateHER Awards with her entry focusing on The Voice Distillery, an innovative and ground-breaking service for the voice-over industry.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Queen Margaret University (QMU) speech and language graduate, Tess Whittaker, who works as a voice-over artist, has made it through to the finals of a highly prestigious entrepreneurial competition AccelerateHER Awards which aims to advance female leadership in Scotland. Her research entry focuses on The Voice Distillery, an innovative and ground-breaking service for the voice-over industry.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Tess Whittaker AccelerateHER Awards | QMU News | Queen Margaret University, Edinburgh ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p><a href="https://www.teresamayvoiceover.co.uk/" title="Teresa-May voice-over artist"><span class="blue-btn">Find out more about Tess</span></a></p>
<p><a href="/services-for-business-and-industry/entrepreneurship-at-qmu/qmu-innovation-fellowships/dr-felix-Schaeffler/" title="Dr Felix Schaeffler and the Voice Distillery"><span class="blue-btn">Find out more about Dr Felix Schaeffler and the Voice Distillery</span></a> </p>
<p>For further media information please contact Lynne Russell, Communications Manager, Queen Margaret University, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a>; M: 07711 011239.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Tess Whittaker AccelerateHER Awards]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>