<?xml version="1.0" encoding="utf-8"?>
<Content Key="1df6a17b-a236-4abe-884d-21412127eba9" Alias="2022.05.12 - Queen Margaret University recognised for its international research excellence" Level="5">
  <Info>
    <Parent Key="290de9c5-fde6-4432-9d08-11c487aa0182">2022</Parent>
    <Path>/Home/NewsAndEvents/News//QueenMargaretUniversityRecognisedForItsInternationalResearchExcellence</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2022-05-12T07:12:51</CreateDate>
    <NodeName Default="2022.05.12 - Queen Margaret University recognised for its international research excellence" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/61cb2b9970544067887212e6b4b712b9]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2317c54b62ca4a12a2645fdeb17f1f40"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/2317c54b62ca4a12a2645fdeb17f1f40",
      "image": "umb://media/bdfdc1a1d633456982bdef6de83c675f",
      "title": " Queen Margaret University recognised for its international research excellence (REF 2021)",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<ul>
<li data-leveltext="" data-font="Symbol" data-listid="2" data-list-defn-props="{&quot;335552541&quot;:1,&quot;335559684&quot;:-2,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769226&quot;:&quot;Symbol&quot;,&quot;469769242&quot;:[8226],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="2" data-aria-level="1"><strong>QMU submitted research to REF 2021 under seven themes (REF 2021 Units of Assessment).  REF 2021’s expert peer review panels have confirmed that QMU has world-leading or internationally excellent research in every one of these themes. </strong></li>
<li data-leveltext="" data-font="Symbol" data-listid="2" data-list-defn-props="{&quot;335552541&quot;:1,&quot;335559684&quot;:-2,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769226&quot;:&quot;Symbol&quot;,&quot;469769242&quot;:[8226],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="3" data-aria-level="1"><strong>QMU’s research was rated as world-leading in 6 out of the 7 REF Units of Assessment to which the University submitted work. </strong></li>
</ul>
<p><span>Results from the Research Excellence Framework (REF 2021), published on the 12</span><span data-fontsize="8.5">th</span><span> May 2022, have clearly shown that Queen Margaret University, Edinburgh (QMU) is delivering research with a strong reach and impact globally. REF 2021’s expert peer review panels have confirmed that QMU has world-leading or internationally excellent research in every one of the REF 2021 Units of Assessment to which the University submitted work.</span> </p>
<p><span>The REF 2021 is the system of assessing, through peer review, the quality of research in UK higher education institutions with the aim of securing the continuation of a world-class, dynamic and responsive research base across UK higher education. </span> </p>
<p><span>QMU submitted research to REF 2021 under seven themes (REF 2021 Units of Assessment) resulting in the following highlights: </span> </p>
<ul>
<li data-leveltext="" data-font="Symbol" data-listid="3" data-list-defn-props="{&quot;335552541&quot;:1,&quot;335559684&quot;:-2,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769226&quot;:&quot;Symbol&quot;,&quot;469769242&quot;:[8226],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="1" data-aria-level="1"><span>In Speech and Language Science, 75% of QMU’s research impact was rated as world-leading or internationally excellent. The results confirm QMU’s Clinical Audiology, Speech and Language Research Centre’s reputation as an internationally renowned research facility (with 70.6% of its research outputs rated as world-leading or internationally excellent). </span> </li>
<li data-leveltext="" data-font="Symbol" data-listid="3" data-list-defn-props="{&quot;335552541&quot;:1,&quot;335559684&quot;:-2,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769226&quot;:&quot;Symbol&quot;,&quot;469769242&quot;:[8226],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="2" data-aria-level="1"><span>In Global Health and Development, 75% of QMU’s research impact was rated as world-leading or internationally excellent. This highlights the significant contribution that the University’s Institute for Global Health and Development is making towards improving the lives of some of the world’s most vulnerable populations, including refugee communities.  </span> </li>
<li data-leveltext="" data-font="Symbol" data-listid="3" data-list-defn-props="{&quot;335552541&quot;:1,&quot;335559684&quot;:-2,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769226&quot;:&quot;Symbol&quot;,&quot;469769242&quot;:[8226],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="1" data-aria-level="1"><span>In </span><span>Communications, Cultural and Media Studies,</span><span> 100% of QMU’s research impact was rated world-leading or internationally excellent. This confirms </span><span>the successful application of QMU’s inclusive and empowering communication models. </span><span>One example of the University’s work in this area is developing peer to peer communication methods in young people.</span> </li>
<li data-leveltext="" data-font="Symbol" data-listid="3" data-list-defn-props="{&quot;335552541&quot;:1,&quot;335559684&quot;:-2,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769226&quot;:&quot;Symbol&quot;,&quot;469769242&quot;:[8226],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="2" data-aria-level="1"><span>100% of QMU’s research impact in Nursing and the Allied Health Professions was also rated world-leading or internationally excellent. This includes work improving person-centred care in healthcare, and creating equality of opportunity for athletes with disabilities.</span> </li>
<li data-leveltext="" data-font="Symbol" data-listid="3" data-list-defn-props="{&quot;335552541&quot;:1,&quot;335559684&quot;:-2,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769226&quot;:&quot;Symbol&quot;,&quot;469769242&quot;:[8226],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="3" data-aria-level="1"><span>Submitting for the first time in Business and Management Studies, 50% of QMU’s research impact in this area was rated internationally excellent.</span> </li>
<li data-leveltext="" data-font="Symbol" data-listid="3" data-list-defn-props="{&quot;335552541&quot;:1,&quot;335559684&quot;:-2,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769226&quot;:&quot;Symbol&quot;,&quot;469769242&quot;:[8226],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="4" data-aria-level="1"><span>In Psychology, 50% of QMU’s impact was rated world-leading.</span><span> </span> </li>
</ul>
<p><span>Professor Richard Butt, Deputy Principal of Queen Margaret University, said:</span></p>
<?UMBRACO_MACRO macroAlias="Quote" text="The REF 2021 results confirm the high quality of Queen Margaret University’s research, its strong global reach, and its positive impact. It demonstrates our passion and drive to act as a force for good in the world, helping to shape a better future for us all. Our research challenges conventional thinking, helps to shape policy and practice, and underpins delivery of solutions and changes which make a real difference to people’s lives.  " source="Professor Richard Butt" sourceExtra="Deputy Principal, QMU" />
<p><span>“Tackling real world issues, our research helps understand and improve refugee integration in Scotland and abroad; develops health financing systems to support countries affected by war or a pandemic; shapes policies that tackle the obesity crisis; provides frameworks to improve the delivery of a person-centred approach in healthcare; improves peer to peer communication in young people; and creates better equality of opportunity for athletes with disabilities who seek to compete in international sporting events.</span><span> </span> </p>
<p><span>“REF 2021 helps confirm Queen Margaret University’s global influence achieved through its multiple collaborations with UK and international bodies. Our work with organisations such as the Red Cross, World Health Organization, World Bank, European Commission, European Parliament, Brazilian Government, Federal Police and NGOs and the International Paralympic Committee ensures it has global reach through the development of policies and practices which deliver real change for different groups of people all over the world. </span><span> </span> </p>
<p><span>“In the UK, our research work with the Scottish and UK Government, third sector organisations and public bodies, such as the Home Office, Department of International Development, Food Standards Agency, Scottish Trade Union Congress, Scottish Legal Complaints Commission, BACS Payments UK, as well as creative agencies such as Creative Scotland and the Arts Council of Wales, has direct and positive impact on the functioning of organisations, their policies, processes and the people they serve. In addition, our multiple collaborations with universities in the UK and abroad significantly multiplies the impact of our research work on individuals, communities, organisations and countries.”</span><span> </span> </p>
<p><span>QMU has a proud history of empowering women though education and career progression. With 67% of staff submitted to REF 2021 being female. QMU has clearly been able to demonstrate its continued commitment to equality, diversity and inclusion in research careers. The submission showcases the excellent work of talented researchers across all stages of their career, and those from whom QMU has been a springboard, allowing them to continue the successful development of their research expertise and career ambitions at prestigious universities across the globe. It also demonstrates the University’s commitment to progressing an inclusive, collaborative and interdisciplinary approach and ability to respond to global challenges while enriching society.</span><span> </span> </p>
<p><span>Professor Butt concluded:</span></p>
<?UMBRACO_MACRO macroAlias="Quote" text="The results from REF 2021 confirm that QMU has world-leading or internationally excellent research in every one of the REF 2021 Units of Assessment to which we submitted work. These results reflect the culture of interdisciplinarity, collaboration and ambition that we have developed in our researchers. " source="" sourceExtra="" />
<p><span>"Our community of researchers and learners together create diversity in the way we think and tackle research, collaborate across the different disciplines to identify solutions to real world problems, and are all integral to fostering a supportive and dynamic research culture which drives excellence. Our results are about more than individual areas of research – QMU values the collective endeavours of all our contributors to REF 2021 and their combined capacity to develop transformative research which makes a difference to everyday life.”</span><span> </span> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2022-05-12T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU recognised for its international research excellence (REF 2021)]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">The REF 2021 results confirm the high quality of Queen Margaret University’s (QMU) research, its strong global reach, and the positive impact that its work is having in addressing many of the world’s most pressing social, economic and cultural issues.  </span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[The REF 2021 results confirm the high quality of Queen Margaret University’s (QMU) research, its strong global reach, and the positive impact that its work is having in addressing many of the world’s most pressing social, economic and cultural issues.   QMU submitted research to REF 2021 under seven themes (REF 2021 Units of Assessment).  REF 2021’s expert peer review panels have confirmed that QMU has world-leading or internationally excellent research in every one of these themes.  QMU’s research was rated as world-leading in 6 out of the 7 REF Units of Assessment to which the University submitted work.    ]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU research excellence  | QMU News | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<ul>
<li data-leveltext="" data-font="Symbol" data-listid="4" data-list-defn-props="{&quot;335552541&quot;:1,&quot;335559684&quot;:-2,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769226&quot;:&quot;Symbol&quot;,&quot;469769242&quot;:[8226],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="1" data-aria-level="1">The Research Excellence Framework (REF) is the UK’s system for assessing the quality of research in UK higher education institutions. The REF is undertaken by the four UK higher education funding bodies: Research England, the Scottish Funding Council (SFC), the Higher Education Funding Council for Wales (HEFCW), and the Department for the Economy, Northern Ireland (DfE). The funding bodies aim to secure the continuation of a world-class, dynamic and responsive research base across the full academic spectrum within UK higher education.  </li>
</ul>
<p>For further information on REF visit <a href="https://www.ukri.org/about-us/research-england/research-excellence/research-excellence-framework/" title="REF - UKRI">Research Excellence Framework – UKRI</a>  </p>
<p><em>For further media information contact Lynne Russell, Communications Manager, Queen Margaret University, Edinburgh, E: </em><a href="mailto:lrussell@qmu.ac.uk" title="Email Lynne Russell"><em>lrussell@qmu.ac.uk</em></a><em>; M: 07711 011239, or  E: </em><a href="mailto:pressoffice@qmu.ac.uk" title="Email Press Office (QMU)"><em>pressoffice@qmu.ac.uk</em></a><em>. </em> </p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f9cce1e912d83e4299935744153a67fd"
      },
      {
        "contentUdi": "umb://element/1dee15808b9337ab8a6899868838a516"
      },
      {
        "contentUdi": "umb://element/3fffa92c7b0e30c482d54a90f771bf9d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "29342589-f80e-4c67-8716-a18c67020449",
      "udi": "umb://element/f9cce1e912d83e4299935744153a67fd",
      "link": "umb://document/33eaeae7c5f2420d80bb63309b1db809"
    },
    {
      "contentTypeKey": "29342589-f80e-4c67-8716-a18c67020449",
      "udi": "umb://element/1dee15808b9337ab8a6899868838a516",
      "link": "umb://document/862dd859f0624b529083c56c6a812c58"
    },
    {
      "contentTypeKey": "29342589-f80e-4c67-8716-a18c67020449",
      "udi": "umb://element/3fffa92c7b0e30c482d54a90f771bf9d",
      "link": "umb://document/75903cbe501f43a89ed3ad6cdc61a8de"
    }
  ],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU - international research excellence]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>