<?xml version="1.0" encoding="utf-8"?>
<Content Key="21ad3b93-48a1-446c-85b8-ab3a21cef5c1" Alias="Facts and Figures" Level="3">
  <Info>
    <Parent Key="43e533ca-2959-4628-9d12-487ddc927cd3">About the University</Parent>
    <Path>/Home/AboutTheUniversity/FactsAndFigures</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-04T11:21:33</CreateDate>
    <NodeName Default="Facts and Figures" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/63f71c5822a045b69524a3ca60554cfd]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1cb159cc7fdf412fa28bd94c82cc512c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/1cb159cc7fdf412fa28bd94c82cc512c",
      "image": "umb://media/d9348bd929454fbca712d38d5401f705",
      "title": "Facts and Figures",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>See below for some quick facts and figures about Queen Margaret University. From this page, you can also access our Statement of Accounts and our Strategic Plan.</p>
<p><span class="lead-big lead">Rankings</span></p>
<p><strong>National Student Survey 2023</strong></p>
<p><strong><img src="?mode=max&amp;width=877&amp;height=274" alt="National Student Survey" width="877" height="274" data-udi="umb://media/e17a7acfbd964627a878506a4edd9161"></strong></p>
<p>Results from the National Student Survey 2023, one of the largest student surveys in the world, showed that 74% of students at QMU are satisfied overall with the quality of their course. The survey saw several courses at QMU achieve 100% overall satisfaction, and Queen Margaret University's Students' Union (QMUSU) coming out second top in Scotland, with students agreeing that QMUSU represented students' academic interests well. </p>
<ul>
<li>There is 100% overall satisfaction with our Acting and Performance course.</li>
<li>There is 100% overall satisfaction with our Physiotherapy course.</li>
<li>There is 100% overall satisfaction with our Speech and Language Therapy course.</li>
<li>There is 90.9% overall overall satisfaction with our Master of Nursing course.</li>
<li>There is 90% overall overall satisfaction with our Public Relations and Marketing course.</li>
<li>We are in the top 2 of Scottish higher education institutions for overall satisfaction with courses in Counselling, Psychotherapy and Occupational Therapy. (Our course in this category is Occupational Therapy.)</li>
<li>We are top amongst Scottish higher education institutions for overall satisfaction with courses in Marketing. (Our course in this category is PR and Marketing Communications.)</li>
<li>We are in the top 2 of Scottish higher education institutions for overall satisfaction with courses in Drama. (Our courses in this area are Acting &amp; Performance, Costume Design &amp; Construction; Drama; and Performance.)</li>
</ul>
<p><strong>Other rankings</strong></p>
<p>We are ranked in the top 50% of European institutions in the QS World Rankings: Europe 2024. We are ranked in the top 57% of universities in the world in the QS World Rankings 2024.</p>
<p>We were one of the top five highest climbers in the Guardian University Guide 2024. Within that league table, we are:</p>
<ul>
<li>1<sup>st</sup> amongst UK and Scottish higher education institutions for Paramedic Science</li>
<li>1st in Scotland and 9<sup>th</sup> in the UK for Drama</li>
<li>In the top 3 of Scottish higher education institutions and 6th in the UK for Nursing</li>
<li>In the top 3 of Scottish higher education institutions for Nutrition &amp; Food Science</li>
<li>In the top 4 of Scottish higher education institutions for Hospitality, Event Management &amp; Tourism</li>
<li>In the top 6 of Scottish higher education institutions for Media</li>
<li>In the top 10 of Scottish higher education institutions for Business &amp; Management</li>
</ul>
<p>In the Daily Mail University Guide, published in 2023, we are ranked as:</p>
<ul>
<li>In the top 2 of Scottish higher education institutions for first generation students</li>
<li>8th top small university in the UK</li>
</ul>
<p>In the Times and Sunday Times Good University Guide 2024, we are:</p>
<ul>
<li>Ranked in the top 5 universities in the UK for social inclusion</li>
<li>In the top 20 in the UK for entry standards (UCAS points<span>) </span></li>
<li><span>In the top 40 in the UK for satisfaction with teaching quality </span></li>
<li>In the top 50 in the UK for the wider undergraduate experience</li>
<li>In the top 50 in the UK for first/2:1s</li>
<li>2<span data-fontsize="11"><sup>nd</sup></span><span> top in the UK and 2</span><span data-fontsize="11"><sup>nd</sup></span><span> top in Scotland for Radiography</span></li>
<li>5<span data-fontsize="11"><sup>th</sup></span><span> top in the UK for Physiotherapy </span></li>
<li><span>8</span><span data-fontsize="11"><sup>th</sup></span><span> in Scotland for Business</span></li>
<li>17<sup>th</sup> in the UK for Nursing  <span></span></li>
</ul>
<p>We are ranked in the top 6 of UK universities for Complementary Medicine (covering Music Therapy and Podiatry) (Complete University Guide 2024) </p>
<p>We are in the top 5 of UK universities for Counselling, Psychotherapy and Occupational Therapy (Complete University Guide 2024) </p>
<p>In the Whatuni Student Choice Awards 2023 (WUSCA), we are ranked top in Scotland for Career Prospects and for University Halls.</p>
<p><span class="lead">Student Statistics (22/23 academic year)</span></p>
<p><img src="?mode=crop&amp;width=800" alt="Student Statistics" width="877" height="244" data-udi="umb://media/efb3432400b64b60ad7c17af26e96b3d"></p>
<ul>
<li>10198 students (including 3636 studying via our partners overseas)</li>
<li>45.6% are from Scotland;</li>
<li>6.6% are from the UK outside of Scotland;</li>
<li>35.2% are from the EU;</li>
<li>12.6% are international (non EU).</li>
</ul>
<p><span class="lead"><strong>Graduate Employability</strong></span></p>
<p>At 2%, QMU (along with Abertay University and the Open University) has the lowest level of unemployment in Scotland for its graduates 15 months after they have graduated. The average figure for Scotland is 5%. (Graduate Outcome Statistics 2020/1, published by HESA in 2023).</p>
<p>We are in top 6 of Scottish universities for the number of graduates in full-time employment 15 months after they have graduated. (Graduate Outcome Statistics 2020/1 published by HESA in 2023).</p>
<p><span class="lead"><strong>Research Excellence</strong></span></p>
<p><img src="?mode=max&amp;width=877&amp;height=244" alt="QMU Research Excellence" width="871" height="272" data-udi="umb://media/62fb80b420454e4793865f7d081d9ee0"></p>
<p><a href="/{localLink:umb://document/26af73d70a604ed68dbe17373b3b39cf}" title="REF 2021">REF 2021</a> (the system of assessing, through peer review, the quality of research in UK higher education institutions) showed that :</p>
<ul>
<li>QMU has world-leading or internationally excellent research in every one of the seven REF 2021 ‘units of assessment’ to which we submitted research. </li>
<li>100% of our research impact in Communications, Cultural and Media Studies was rated as world-leading or internationally excellent</li>
<li>100% of our research impact in Nursing and the Allied Health Professions was rated as world-leading or internationally excellent. </li>
<li>75% of our research impact in Speech and Language Science was rated as world-leading or internationally excellent.</li>
<li>75% of our research impact in Global Health and Development was rated as world-leading or internationally excellent.</li>
<li>50% of our research impact in Business and Management Studies was as rated internationally excellent.</li>
<li>50% of our research impact in Psychology was rated as world-leading.</li>
</ul>
<p><span class="lead">Fostering Innovation</span></p>
<p><img src="?mode=crop&amp;width=800" alt="Fostering Innovation" width="800" height="250.02999400119975" data-udi="umb://media/97db91419bdb45fbaee770a1f943cf80"></p>
<p>We have hosted <strong>100 graduate start-ups</strong> in our on-campus Business Innovation Zone</p>
<p>We are the <strong>1st</strong> Scottish university to host a <strong>Business Gateway</strong> on campus</p>
<p><span class="lead">Staff and Financial Statistics</span></p>
<p><img src="?mode=crop&amp;width=800" alt="QMU Staff" width="800" height="250.02999400119975" data-udi="umb://media/d233f369f2d545e6b6ba4331c2e6f693"></p>
<p style="line-height: 19.5pt;"><strong>QMU staff (as of December 2023)</strong></p>
<ul>
<li style="line-height: 19.5pt;"><strong>334</strong> Academic</li>
<li style="line-height: 19.5pt;"><strong>263</strong><span style="font-size: 11pt; font-family: Helvetica, sans-serif; color: #333333;"> Professional Services</span></li>
<li style="line-height: 19.5pt;"><strong>69%</strong> Female</li>
<li style="line-height: 19.5pt;"><strong>31%</strong> Male</li>
<li style="line-height: 19.5pt;"><strong>8.5%</strong> have an ethnic minority background</li>
</ul>
<p style="margin: 0cm; margin-bottom: .0001pt;"> <strong>Income (2021-22)</strong><span style="font-size: 11.0pt; font-family: 'Helvetica',sans-serif; color: #333333;"></span></p>
<p style="margin: 0cm; margin-bottom: .0001pt;"> Total income: <strong>£48.3m</strong></p>
<p><strong>Sources of income (2021-22)</strong></p>
<ul>
<li>Scottish Funding Council: <strong>£21.6m (44.7%)</strong></li>
<li>Student tuition fees: <strong>£17.1m (35.4%)</strong></li>
<li>Research grants and contracts: <strong>£2.8m (5.8%)</strong></li>
<li>Other income:<strong> £6.8m (14.1%)</strong></li>
</ul>
<p><span class="lead">Other Interesting Facts</span></p>
<ul>
<li>We were established in 1875. Throughout <a data-id="1535" href="/{localLink:umb://document/a67713586dab42108759e724aece703d}" title="History">our history</a>, we have focused on serving the community and improving the quality of life through education and research which is relevant to society’s needs.</li>
<li>We offer the broadest range of allied health professional degrees in Scotland including nursing, dietetics, occupational therapy, physiotherapy, podiatry, radiography, audiology, art psychotherapy, music therapy, and speech and language therapy.</li>
<li>We have won the Queen’s Anniversary Prize for our work in speech science.</li>
<li>Through collaborative agreements, students are studying for our degrees in India, Sri Lanka, Nepal, Greece, Egypt and other countries.</li>
</ul>
<p><span class="lead"><strong>Some of our Alumni</strong></span></p>
<ul>
<li>Ashley Jensen, actor (US hit TV series ‘Ugly Betty’)</li>
<li>Edith Bowman, Scottish music critic, radio DJ and TV presenter (BBC Radio 1)</li>
<li>Kevin McKidd, actor (‘Trainspotting’, TV hit series ‘Rome’, Grey’s Anatomy’)</li>
<li>Michael Matheson, MSP </li>
<li>Shirley-Anne Somerville, MSP and Cabinet Secretary for Social Justice in the Scottish Government</li>
<li>Matt Baker, TV presenter (formerly ‘Blue Peter’, currently ‘The One Show’ and ‘Countryfile’)</li>
</ul>
<p>Read our <a href="/{localLink:umb://document/bd55567d9b0a42d69e6d8f1947d5bd7f}" title="Student Stories"><span class="blue-btn">alumni (and current student) case studies</span></a></p>
<p><span class="lead">Economic </span><span class="lead">Impact</span></p>
<ul>
<li>According to research by the University of Strathclyde, QMU is worth £77 million to the economy (2009)</li>
<li>Employment attributable to the University represents 3% of all East Lothian employment</li>
<li>Students from outside Scotland who come to study at QMU generate an estimated £11 of economic output each year</li>
</ul>
<p><span class="lead">Our Strategic Plan</span></p>
<p>Our <a href="/{localLink:umb://media/31715419007b46dfbc2bc6902a8ae673}" title="Strategic Plan 2020" data-udi="umb://media/00415b0b234f4e2a81649fb7cbaad855">Strategic Plan 2020-2025</a> demonstrates how we will contribute to society’s recovery and recalibration following COVID-19. It sets out how we will help create a better society through teaching, learning and innovation. It shows how we will nurture our distinctive person-centred approach to learning, and how we will build on our unique academic portfolio. Promoting creativity, agility, resilience and collaboration, the strategy holds true to the ethos of social justice on which this institution was founded.</p>
<p>Find out more about our strategy in our <a data-id="6359" href="/{localLink:umb://document/97672263ea164cf694e054a0c2983031}" title="Our Strategic Plan"><span class="blue-btn">Strategic Plan</span></a></p>
<p><span class="lead"><strong>Annual Accounts</strong></span></p>
<p>Find our Annual Accounts in the <a href="/{localLink:umb://document/61203bde5c7846ad9f20edbd884ccf4d}" title="Finance"><span class="blue-btn">Finance section of our website</span></a></p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[[
  "Concertina"
]]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/2091c837bdf644e1902a7a4e548e415b]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Facts and Figures]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Key facts and figures include being ranked: one of the top five highest climbers in the Guardian University Guide 2024, in the top 5 universities in the UK for social inclusion in the Times and Sunday Times Good University Guide 2024, and   in the top 50% of European institutions in the QS World Rankings: Europe 2024. ]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Facts and Figures | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f8fbfb9e86d234c8b565a0af028a1b07"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9eed20a0-b3f3-47c8-8fae-82f763de3e32",
      "udi": "umb://element/f8fbfb9e86d234c8b565a0af028a1b07",
      "title": "",
      "usefuls": [
        {
          "icon": "icon-umb-content color-indigo",
          "name": "Strategies",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/97672263ea164cf694e054a0c2983031",
          "url": "/about-the-university/our-strategic-plan/"
        },
        {
          "icon": "icon-umb-content color-indigo",
          "name": "Statement of Accounts (finance web section)",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/61203bde5c7846ad9f20edbd884ccf4d",
          "url": "/finance/"
        }
      ],
      "useDarkTheme": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Facts and Figures]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>