<?xml version="1.0" encoding="utf-8"?>
<Content Key="22c20c85-70e3-4b0b-987e-b6abd5aaac6b" Alias="Add Panopto to your Hub module" Level="7">
  <Info>
    <Parent Key="21bd9c36-214c-42af-bdd9-031906f539ab">Panopto</Parent>
    <Path>/Home/StudyHere/LearningFacilities/ITServices/QMKnowHow/Panopto/AddPanoptoToYourHubModule</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2021-02-08T15:15:05</CreateDate>
    <NodeName Default="Add Panopto to your Hub module" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65102975-f5a6-47bf-9418-b0e82dc7c288">BlogPost</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/3fc440b0b65f4950b5305bb2bf5ec27b]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1ad1208eac414001b2eef7eacc01896d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/1ad1208eac414001b2eef7eacc01896d",
      "image": "umb://media/2ae64f6b867747c0937bc31f9339251c",
      "title": "",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p>Panopto is accessed through The Hub, the University’s Virtual Learning Environment.</p>
<p>There are two steps to this process (step-by-step instructions are below). First, add a link to the left menu so that Panopto can be accessed from the module. Next, provision the Hub module to use Panopto. Provisioning creates a link between the module in The Hub and a folder to store the content in Panopto.</p>
<p>Download the instructions to Add Panopto to your module guide which has screenshots added, or follow step by step instructions below.</p>
<p><span class="lead">Step 1. Add Panopto to the left hand menu</span></p>
<p>1. Go the module in the Hub where you want to add Panopto.<br />2. Check <strong>Edit Mode</strong> in the right of the top tab is <strong>ON.</strong><br />3. Click on the + symbol in the top left of the menu.<br />4. Select <strong>Tool Link.</strong><br />5. In the Name field add <strong>Panopto Video</strong><br />6. From the <strong>Type</strong> drop down menu select <strong>Panopto Course Tool Application.</strong><br />7. The link will appear at the bottom of the left menu.<br />8. Hover over the left of the Panopto link until a four headed arrow appears, click and drag the link up to sit within the learning and teaching area of your menu.</p>
<p><span class="lead">Step 2. Provision the course</span></p>
<p>1. Click on the Panopto link in the left menu.<br />2. You will then see a message that the course is not provisioned.<br />3. Select the <strong>Configure</strong> button.<br />4. On the next window that opens, select <strong>Add Course to Panopto.</strong><br />5. Once the course has provisioned a provisioning result window will appear.<br />6. You can use the <strong>Configure more folders</strong> to associate more Panopto folders with this course. This may be useful if you are sharing the same content across multiple modules.<br />7. Select <strong>Return to Course.</strong></p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[2020-10-19T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Add Panopto to your Hub module]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Panopto is accessed through The Hub, the University’s Virtual Learning Environment.</p>
<p>There are two steps to this process (step-by-step instructions are below). First, add a link to the left menu so that Panopto can be accessed from the module. Next, provision the Hub module to use Panopto. Provisioning creates a link between the module in The Hub and a folder to store the content in Panopto.</p>
<p>Download the instructions to Add Panopto to your module guide which has screenshots added, or follow step by step instructions below.</p>
<p><span class="lead">Step 1. Add Panopto to the left hand menu</span></p>
<p>1. Go the module in the Hub where you want to add Panopto.<br />2. Check <strong>Edit Mode</strong> in the right of the top tab is <strong>ON</strong>.<br />3. Click on the + symbol in the top left of the menu.<br />4. Select <strong>Tool Link.</strong><br />5. In the Name field add <strong>Panopto Video</strong><br />6. From the <strong>Type</strong> drop down menu select <strong>Panopto Course Tool Application.</strong><br />7. The link will appear at the bottom of the left menu.<br />8. Hover over the left of the Panopto link until a four headed arrow appears, click and drag the link up to sit within the learning and teaching area of your menu.</p>
<p><span class="lead">Step 2. Provision the course</span></p>
<p>1. Click on the Panopto link in the left menu.<br />2. You will then see a message that the course is not provisioned.<br />3. Select the <strong>Configure</strong> button.<br />4. On the next window that opens, select <strong>Add Course to Panopto</strong>.<br />5. Once the course has provisioned a provisioning result window will appear.<br />6. You can use the <strong>Configure more folders</strong> to associate more Panopto folders with this course. This may be useful if you are sharing the same content across multiple modules.<br />7. Select <strong>Return to Course.</strong></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Add Panopto to your Hub module]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Add Panopto to your Hub module]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Add Panopto to your Hub module]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>