<?xml version="1.0" encoding="utf-8"?>
<Content Key="2341a926-7863-499b-b0d4-34cb394745d1" Alias="Selection of Partners" Level="5">
  <Info>
    <Parent Key="2dd3b8cb-642f-4fd7-b045-b3357990ddc1">QMU Collaborations Manual</Parent>
    <Path>/Home/AboutTheUniversity/Partnerships/QMUCollaborationsManual/SelectionOfPartners</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-04T10:42:02</CreateDate>
    <NodeName Default="Selection of Partners" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8709b762e61b4b718b15ec305b565d99"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/8709b762e61b4b718b15ec305b565d99",
      "image": "umb://media/0f2ab3f0202e4da8a96f1fcfb2222727",
      "title": "Selection of Partners",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><a data-udi="umb://document/79f4fd493fc84b45952455b8f2301524" href="/{localLink:umb://document/bb878d47a83a49bfb80f94d5cacc5728}" title="Setting Up a Full New Programme">Next</a></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The process aims to establish that the new partner meets QMU’s selection principles, which cover all aspects of the organisation’s experience, facilities, academic, legal and financial standing; the benefits to the University; and the alignment with QMU’s overall mission.</p>
<p>In selecting a new partner, QMU must be satisfied that:</p>
<ul>
<li>the activities of the proposed collaboration provide a close fit with the vision and strategic plan of QMU and with the operational plan of the School;</li>
<li>the proposed collaboration contributes to strategic targets related to academic provision, research or knowledge transfer;</li>
<li>the proposed collaboration has been incorporated into the operational plan of the relevant School;</li>
<li>the discipline or subject area of the proposed collaboration falls within QMU’s current or developing areas of expertise;</li>
<li>the educational mission and aims of the partner are consonant with those of QMU;</li>
<li>the partner is of good academic standing and financially stable;</li>
<li>the partner is in a position to contract legally with the University;</li>
<li>the partner institution has robust and complementary systems of academic regulations, quality assurance and staffing policies;</li>
<li>the expectations and requirements of both QMU and the proposed partner are clearly demonstrated;</li>
<li>the collaborative programme can be delivered on the basis of an income stream that supports full-economic costs.</li>
</ul>
<p>Responsibility for approving new partners lies with the Portfolio Development Group (PDG), which is made up of senior managers and staff with relevant expertise in partnerships, quality and student recruitment. PDG will receive evidence about the partner’s suitability and make a judgement accordingly. If some of the selection principles are not fully met the partnership might be approved but on the basis that steps were taken to address any issues. For example, a partner might need to improve its ICT infrastructure, or agree to adapt its quality assurance procedures to fit with QMU expectations.</p>
<p>Some important considerations to note include:</p>
<ul>
<li>QMU will NOT enter into serial collaborations, i.e. collaborative arrangements with a partner institution which, in turn, franchises the QMU programme to third parties. There must always be a direct relationship between QMU and the team delivering the QMU programme, so that QMU can retain control over the academic standards of its awards.</li>
<li>For overseas partners, the arrangement must comply with local laws governing transnational education. In particular, QMU will need to be satisfied that graduates’ awards will be recognised.</li>
<li>QMU cannot support partnerships in areas that are too far removed from the subjects we teach. This is because our staff will need to be in a position to confirm that the academic content of the programme is appropriate and will need to be able to check marking standards by reading student work.</li>
<li>For a similar reason, we don’t consider new partners who are not prepared to teach and assess in English. It is very difficult for us to perform our quality assurance duties rigorously unless everything is in English. (Exceptions may be made for existing partners with a strong academic track record.)</li>
</ul>
<p>At an early stage all prospective partner institutions should be given full advice about the process of setting up a collaborative agreement, the documentation that will be required and likely costs. Staff from Governance and Quality Enhancement will be happy to talk to potential partners and give them access to this Manual. Partners will be given clear guidance on what QMU expects from them so that they can decide whether collaboration is something they want to pursue.</p>
<p>There are a number of documents and sources of evidence that the University will need to see. This is known as ‘due diligence’. Staff of Governance and Quality Enhancement will liaise with the partner about this.</p>
<p>Before entering into a partnership with a new partner organisation, QMU will normally need to see the following information. The exact detail of what is required will vary depending on the status of the partner. For example, public sector organisations in the UK will not normally need to supply this level of detail.</p>
<p>Legal</p>
<ul>
<li>Copies of documents certifying the organisation’s legal status (company / charity, legal name, ability to contract)</li>
<li>Certification of right to operate as a tertiary education provider</li>
</ul>
<p>Governance and academic</p>
<ul>
<li>Information about management structures and governance procedures</li>
<li>Identity of owners</li>
<li>Information about quality assurance procedures, student policies (complaints / discipline / appeals / equality)</li>
</ul>
<p>Finance</p>
<ul>
<li>Copies of accounts for last two years</li>
<li>Insurance statements (public liability insurance)</li>
</ul>
<p>Other partners</p>
<ul>
<li>Statements from other degree-awarding institutions who have worked with the organisation</li>
</ul>
<p>A step-by-step guide to the process for evaluation and selection of new partners is set out in these sections:</p>
<ul>
<li><a data-id="9452" href="/{localLink:umb://document/bb878d47a83a49bfb80f94d5cacc5728}" title="Setting Up a Full New Programme">Setting up a new full programme</a></li>
<li><a data-id="9453" href="/{localLink:umb://document/ebc146b9f99b4474968f92a9b1ab3a48}" title="Setting Up a New Short Programme">Setting up a new short programme</a></li>
<li><a data-id="9454" href="/{localLink:umb://document/c19b746d568b4a0caa49ef538a00edd7}" title="Approving a New Local Support Centre">Approving a new local support centre</a></li>
</ul>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/667a6e7ddfc44a9da6a38df5dd14599b]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Selection of Partners]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Setting up a new partnership can be risky. It is crucial to establish that the partner organisation has the capacity to deliver the programme effectively and support students. Equally, partners need to be sure that QMU can provide what they need. For this reason there is a thorough process in place to select and approve potential new partners.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[There is a thorough process in place to select and approve potential new partners.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Selection of Partners | QMU Collaborations Manual | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Selection of Partners]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>