<?xml version="1.0" encoding="utf-8"?>
<Content Key="24896211-bc23-47b6-83d6-07f757800e4a" Alias="Research Project - Reducing barriers for treatment adherence for TB patients" Level="6">
  <Info>
    <Parent Key="f37d4211-478d-47e4-82fe-a17f1ec2f1ea">Health Systems Cluster</Parent>
    <Path>/Home/ResearchAndKnowledgeExchange/ResearchCentresInstitutesAndKnowledgeExchangeCentres/InstituteForGlobalHealthAndDevelopment/HealthSystemsCluster/ResearchProjectReducingBarriersForTreatmentAdherenceForTBPatients</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-23T17:13:38</CreateDate>
    <NodeName Default="Research Project - Reducing barriers for treatment adherence for TB patients" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/1dba4fd09f0241c6939fbe781695360d]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6f4d34ee253d4871946dfbe6de7830f7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/6f4d34ee253d4871946dfbe6de7830f7",
      "image": "umb://media/ccb4462637094de3a2db3080a31624d6",
      "title": "Research Project - Reducing barriers for treatment adherence for TB patients",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Reducing barriers for treatment adherence for TB patients</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8cc2d632eb32412189af0e4ef907e94c"
      },
      {
        "contentUdi": "umb://element/a47369abdb054e4d9792a19dda460dca"
      },
      {
        "contentUdi": "umb://element/6fc3f3a65dc04c8fb7651ffc3af67cef"
      },
      {
        "contentUdi": "umb://element/ed74b9f77b044a89866b17a21338f5dc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/8cc2d632eb32412189af0e4ef907e94c",
      "title": "About this project",
      "content": "<p>Reducing barriers for treatment adherence for TB patients</p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/a47369abdb054e4d9792a19dda460dca",
      "title": "Staff involved",
      "content": "<p>Reducing barriers for treatment adherence for TB patients</p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/6fc3f3a65dc04c8fb7651ffc3af67cef",
      "title": "Funding",
      "content": "<p>Reducing barriers for treatment adherence for TB patients</p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/ed74b9f77b044a89866b17a21338f5dc",
      "title": "Project outputs",
      "content": "<p>Reducing barriers for treatment adherence for TB patients</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[[
  "Tabs"
]]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/12d0eee44f1e45628b1e75e223ac8bdc]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Reducing barriers for treatment adherence for TB patients (IMPACT)]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>Reducing barriers for treatment adherence for TB patients (UK)</strong></p>
<p><strong>(31 January 2018 - present)</strong></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Reducing barriers for treatment adherence for TB patients]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Reducing barriers for treatment adherence for TB patients | IGHD Research Project | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/97c9c1547c07329babd96062f67d230f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9eed20a0-b3f3-47c8-8fae-82f763de3e32",
      "udi": "umb://element/97c9c1547c07329babd96062f67d230f",
      "title": "",
      "usefuls": [
        {
          "icon": "icon-microscope color-indigo",
          "name": "Institute for Global Health and Development",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/65964e68b23d4f27ab8eb788fd944070",
          "url": "/research-and-knowledge-exchange/research-centres-institutes-and-knowledge-exchange-centres/institute-for-global-health-and-development/"
        },
        {
          "icon": "icon-users color-indigo",
          "name": "IGHD Staff",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/69f40e272aba4f30aeae7e30176b0122",
          "url": "/schools-and-divisions/ighd/ighd-staff/"
        }
      ],
      "useDarkTheme": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Reducing barriers for treatment adherence for TB patients]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>