<?xml version="1.0" encoding="utf-8"?>
<Content Key="27e35deb-734e-4e24-a744-b98cc5178735" Alias="Student Pregnancy and Maternity Policy" Level="6">
  <Info>
    <Parent Key="d5feb490-17f1-4750-89ec-93d5ab994fe1">Regulations, Policies and Procedures</Parent>
    <Path>/Home/AboutTheUniversity/Quality/CommitteesRegulationsPoliciesAndProcedures/RegulationsPoliciesAndProcedures/StudentPregnancyAndMaternityPolicy</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2023-09-20T11:23:22</CreateDate>
    <NodeName Default="Student Pregnancy and Maternity Policy" />
    <SortOrder>58</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1d9af3a5e9204367add6ef3ca97e3f89"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/1d9af3a5e9204367add6ef3ca97e3f89",
      "image": "umb://media/f466940ea503450d8f796fb2e07722ab",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><strong>3. Scope of the policy</strong></p>
<p>This policy covers:</p>
<ul>
<li>Any student who becomes pregnant during their studies.</li>
<li>Prospective students who are already pregnant when they commence study.</li>
<li>Any student who has given birth within the previous 26 weeks.</li>
<li>Any student who is about to become a parent because their partner (including same sex partner) is pregnant, and who expects to be responsible for the child.</li>
<li>Any student who has recently become a parent e.g. through adoption.</li>
</ul>
<p>3.2     The provision of advice on the implications of pregnancy, adoption and responsibility for a child on continuation of studies will be dependent on many factors, including: the programme of study and the timing during the academic year.</p>
<p><strong>4. Student and applicant responsibilities</strong></p>
<p>4.1 Students are advised to disclose their pregnancy to their Personal Academic Tutor (PAT) or Programme Leader (PL) at an early stage of their pregnancy, with a view to discussing any necessary support arrangements or adjustments. Applicants should let a member of the Admissions team know. If a student or applicant does not disclose their pregnancy, QMU will be unable to provide the support needed. </p>
<p>4.2 If you make the decision to terminate your pregnancy, or you miscarry there is no need for this to be disclosed to the University. Absence from the University required as a result should be classed as ‘sick leave’ but there is no need to specify the exact reason. You may also want to seek support or referral to specialist services from Student Services to help you cope with this.</p>
<p>4.3 Students and applicants covered by this policy are advised to discuss any concerns they have relating to their pregnancy with their own GP and, if required, staff in one or more of the following services which may be able to give support and signposting to other services such as: <br /><br />Personal Academic Tutor and/or Programme Leader<br />Wellbeing and Counselling service<br />Accommodation Services <br />Student Union</p>
<p><strong>5. Staff responsibilities </strong></p>
<p>5.1 The student must be given the appropriate advice in a sensitive non-judgemental manner.</p>
<p>5.2 The University will ensure that any student who becomes pregnant before or during a period of study at the University is accommodated as far as practicable to allow them to complete their programme of study, providing academic standards are upheld. <br /><br /></p>
<p>5.3 As soon as a student discloses that they are pregnant, a risk assessment should be undertaken by a member of the programme team (such as PAT or PL) to ensure that there are no elements of the programme of that present a risk to the health and safety of the student or the unborn child. The main risks are related to physical activity, or exposure to radiation or chemical and biological hazards. The programme staff complete the risk assessment with support from the Health and Safety Adviser if required. Information is found here <a href="https://www.hse.gov.uk/mothers/" title="Protecting pregnant workers and new mothers">Health and Safety Adviser Website</a></p>
<p>5.4 All individual staff members are advised to familiarise themselves with this document and the University’s responsibilities towards students who are pregnant or have very young children.</p>
<p>5.5 Individual staff members to whom a pregnancy is disclosed are responsible for:</p>
<ul>
<li> Reading this document and, in particular, becoming familiar with the procedure for supporting pregnant students.</li>
<li>Treating any disclosure of pregnancy sensitively and making students aware of appropriate sources of support.</li>
<li>Respecting a student’s right to confidentiality and verifying that a student has no objections to their pregnancy being discussed with others who need to know.</li>
<li>Ensuring accurate information is given to prospective students regarding the availability of support for students who are pregnant or have very young children.</li>
<li>Seeking advice from Registry staff or other Student Services if they are unsure of how best to support the continued study of a pregnant student.</li>
</ul>
<p><strong>6. Detailed Consideration for Students</strong></p>
<p>6.1 Risk Assessments</p>
<p>Once you have informed the School of your pregnancy, the appropriate staff member will complete a Risk Assessment (Appendix 1) with you to identify any relevant risks associated with your study programme and to manage these risks for your protection. If you feel that the appointed individual is not the right person to carry out the risk assessment you can request an alternative member of staff. The main risks are associated with physical activity or exposure to some chemicals, radiation and biological agents. Support on the completion of the risk assessment can be obtained from the <a href="mailto:staff@qmu.ac.uk" title="QMU Health and Safety advice">Health and Safety Team Health</a> and Safety advice can also be found at <a href="https://www.hse.gov.uk/mothers/" title="Protecting pregnant workers and new mothers">Health and Safety Adviser Website</a> </p>
<p>6.2 Implications for study</p>
<p>You will need to agree a written plan concerning the impact of your pregnancy on your course of study. You are entitled to interrupt your course of study because of pregnancy, and it is important to make a plan to take account both of the academic requirements of your study programme and your needs as a pregnant student. You will need to plan according to your individual circumstances, financial implications and the timing of the academic year. You will need to meet with your PAT who will support with this.</p>
<p>3. Possible adjustments include:</p>
<p>If you do not wish to suspend your course of studies, the University will try to make adjustments to your programme in the light of the risk assessment. Such adjustments might involve modifications to the syllabus or teaching programme or location of teaching etc. However, there will be some situations where it will not be possible for the University to provide reasonable, practicable alternatives.</p>
<p>Mandatory suspension might arise where a module or modules are a required part of a programme and are considered to constitute a high-level risk to your health and safety or the health and safety of your child. <em>For example: </em>modules that involve the use of chemicals contra-indicated for those who are pregnant, where the learning outcomes of the module could not be achieved without exposure to that risk.</p>
<p>It is important that you meet regularly with your PAT to assess the effectiveness of any special arrangements that have been put in place.</p>
<p>You should arrange with your PAT/PL any absences needed for attendance at ante-natal clinics. Where any absences are substantial you may wish to seek advice about interrupting your studies.</p>
<p>If your baby is due near to or during an examination period you should seek advice from your GP, as the University may need confirmation that you are able to sit the exams. If you are unwell or have complications during your pregnancy, you should seek advice from the Registry regarding extenuating circumstances.</p>
<p>6.3 International Students(student visa holders)</p>
<p>As the University is bound by Home Office, UK Visas and Immigration rules and regulations, the guidance in this section may be liable to change at short notice.</p>
<p><em>Travel</em> – unless advised not to do so by their doctor or midwife, students should be able to travel during pregnancy. However, airlines have different policies and may not allow travel beyond 36 weeks or, in the event that the pregnancy is complicated or multiple, beyond 32 weeks. Students will need to check individual airline policies</p>
<p>If an international student becomes pregnant during their studies, they may not be able to complete the course as planned within the visa duration. In this case the student will be expected to suspend their studies. The University will notify the Home Office and the student visa will be curtailed. The student will be expected to leave the UK unless they are medically not able to do so. The student may resume studies when they are ready to do so at a later date but will have to meet the requirements to apply for another Student visa. Students on courses lasting 12 months or more can remain in the UK for four months after the end date of the course.</p>
<p>The additional time allowed may not be sufficient for some students to take maternity related absence. The International Office will be able to provide any international student who becomes pregnant while studying in the UK with the latest information on the visa implications of:</p>
<p>a. taking maternity-related absence</p>
<p>b. returning home to have the baby</p>
<p>c. having a dependent to support in the UK.</p>
<p>Given visa restrictions, in exceptional circumstances and in consideration of health and safety, the University may need to be flexible when requesting that international students take a minimum of two weeks maternity-related absence.</p>
<p>Further information on <a href="https://www.gov.uk/student-visa" title="UK Goverment Student visa">student visas</a> can be found on the Home Office website.</p>
<p>6.4 Field Work, placements and work experience.</p>
<p>If your course contains a plan to take part in a study trip, placement or obtain work experience whilst you are pregnant or breastfeeding, this must be specifically addressed when the Risk Assessment is completed as there may be special risks associated with non-campus based, practical study. You may not be permitted to take part in a study trip or a placement where this constitutes a risk to you or your child.</p>
<p>In some professional/ vocational or practical based programmes you may be prohibited from continuing your studies whilst pregnant, and therefore, you may have to temporarily interrupt your studies. You may also have to interrupt studies if the field work or placement is a compulsory part of your degree, and the programme cannot be modified to accommodate your inability to participate in this part of the programme.</p>
<p>The period of interruption will be dependent on the nature, duration and cycle of the programme. You are advised to check with the Registry to see if there are any restrictions in your programme of study.</p>
<p>6.5 Financial Considerations</p>
<p>Undergraduate students should note that funding will usually stop when the interruption of study begins. Funding will not stop immediately; students taking the tuition fee loan will be liable for the term in which they leave (interrupt, suspend or withdraw). SAAS will be able to advise on possible future eligibility. Students from England, Wales and Northern Ireland should seek advice from their funding body</p>
<p>Postgraduate and Research students receiving funding from external bodies should follow the guidance for their particular scheme or contact their funding body or sponsor for further advice.</p>
<p>International students (Student visa holders) with financial sponsors must contact their sponsors and agree a plan of action (such as deferring study/ when to resume study etc.). Those international students who are not entitled to any maternity benefits in the UK may prefer to return home for the duration of their pregnancy. Students should be aware that airline policy on carrying passengers who are 7 months pregnant or more can vary and this needs to be taken into account when planning.</p>
<p>6.6 Accommodation</p>
<p>The University does not have accommodation that is suitable for families. Students are therefore advised to consider their accommodation requirements in the early stages of pregnancy, as they will not be able to stay in University accommodation with a child.</p>
<p>Any student who provides medical evidence of pregnancy will be released from their accommodation contract, if they so wish, subject to the usual conditions.</p>
<p>It is essential that you inform the Accommodation Service as soon as you become aware that you are pregnant, as it will be necessary to discuss the implications in terms of accommodation and it may be necessary to conduct a risk assessment.</p>
<p>6.7 Babies /Children on Campus /Breastfeeding</p>
<p>QMU is a learning environment and babies and small children are permitted on campus if there are no identified health and safety concerns. All babies and small children will need to be supervised at all times and are only allowed on campus under the condition that their presence does not disrupt other students and staff. Babies and very small children are not allowed in teaching areas and during teaching as this would be disruptive to students.</p>
<p>For students who are breastfeeding or who recently have given birth, we will try to be flexible, subject to health and safety considerations, to ensure that they are not prevented from attending their course or accessing university facilities.</p>
<p>Students who are breastfeeding can do so on campus. If they want a quiet space to do so they can ask advice at the Student Services Reception. There is also a private space available at the HelpZone at the Student Union. A fridge is available at Student Services reception where breastmilk can be stored.</p>
<p>Students must ensure they have suitable childcare arrangements in place at times when they are expected to be at University.</p>
<p>Students must not bring babies or children to University with the expectation that any staff member will take responsibility for caring for the child whilst the student is in classes.</p>
<p>6.8 Support for Partners(including same-sex partners) who have responsibility for bring up the child</p>
<p>Any student discovering they are to become a partner of a pregnant student (including same sex partners) and who expect to have responsibilities for raising the child, will be entitled to request time out of study. This is likely to include time off for medical appointments prior to, and after, the birth, as well as a period of maternity support leave immediately following the birth. A student in this situation should contact the School at least 15 weeks before the baby is due, to discuss this. Flexibility will be shown where possible although this will necessarily be more limited in some programmes than others.</p>
<p>For students receiving research funding, it may be possible for a period of maternity support leave to be allowed, and students should contact their sponsor or provider prior to arranging leave.</p>
<p>Students are entitled to paternity-related absence in line with entitlements that exist in employment law for paternity leave. This is currently a maximum of two consecutive weeks within 56 days of the child being born. Employed new parents, are entitled to take up to six months’ additional statutory parental leave from their employer any time between the child’s birth and their first birthday.</p>
<p>This is in addition to the two weeks’ statutory leave to which they are currently entitled following the birth of their child. Students may also have expectations surrounding these entitlements and may wish to interrupt their study when their partner returns to study or work.</p>
<p>Students on paternity-related absence will need to be provided with materials from seminars and lectures missed. If students do want to take extended paternity-related absence in line with the new entitlements for employees, consideration will need to be given to the support provided to the student, and it may be appropriate to develop a support plan.</p>
<p>6.9 For students about to become parents(e.g. through adoption)</p>
<p>Students about to become parents (e.g. through adoption or surrogacy) should inform an appropriate member of the course team and the School of their circumstances as soon as possible. Arrangements can be made to allow time out of study. This may vary depending on the age of the child, the programme of study being undertaken, and the point in the academic session at which the event takes place.</p>
<p> </p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>2 Legislation</strong> </p>
<p>The Equality Act 2010 significantly strengthens legal protection for students (including applicants to higher education) during pregnancy and maternity. Under the Act pregnancy and maternity are protected characteristics and discrimination on these grounds is prohibited. Discrimination can occur against a student because of their pregnancy or because they have given birth if:</p>
<ul>
<li>the student is treated unfavourably because of their pregnancy;</li>
<li>within 26 weeks of the day of giving birth the student is treated unfavourably because they have given birth – this also applies in cases of miscarriage, still birth and neonatal death provided more than 24 weeks of the pregnancy has elapsed;</li>
<li>the student is treated unfavourably because they are breastfeeding, and the child is less than 26 weeks old – if the child is more than 26 weeks old, unfavourable treatment because of breastfeeding is likely to constitute sex discrimination.</li>
</ul>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Student Pregnancy and Maternity Policy]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>1. Introduction</strong></p>
<p>1.1 Queen Margaret University believes that being or becoming pregnant or terminating a pregnancy or having a very young child should not prevent a student from starting, succeeding in or completing a programme of study. Whilst we have to ensure that academic standards are not compromised, we are committed to showing as much flexibility as possible to facilitate students’ success.</p>
<p>1.2 This guidance is designed to ensure we provide clear guidance on the implications of pregnancy on a student’s period of study and we will seek to make, with the overall student experience in mind, appropriate reasonable adjustments for the continued safety and learning of a pregnant student or parent of a very young child</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Queen Margaret University believes that being or becoming pregnant or terminating a pregnancy or having a very young child should not prevent a student from starting, succeeding in or completing a programme of study.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Student Pregnancy and Maternity Policy | Queen Margaret University ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Student Pregnancy ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>