<?xml version="1.0" encoding="utf-8"?>
<Content Key="284aaf60-334b-4254-98d3-2d86d61db50d" Alias="Amy Elliott - MSc Public Sociology" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/AmyElliottMScPublicSociology</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-05-18T08:08:51</CreateDate>
    <NodeName Default="Amy Elliott - MSc Public Sociology" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/044d4192080b4665a9051f04fff011cd]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d7e8dc33397b4865bd02170359bf51ec"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/d7e8dc33397b4865bd02170359bf51ec",
      "image": "umb://media/aeacbb17f39f442f8ed2dd5e875c2544",
      "title": "",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p>[Published December 2019]</p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead lead-big">About you</span></p>
<p><span class="lead">Why did you choose to study at QMU and what attracted you to the course?</span></p>
<p>I started studying at QMU in 2015 as a direct entrant into the Psychology and Sociology joint honours degree, after finishing an HND at Fife College. I originally wanted to study the single honours Psychology degree, but after attending a few classes in sociology and meeting the small team of lecturers, I knew I wanted to pursue sociology as well. After receiving a 2:1 in my BSc (Hons), I knew I wanted to continue my studies at QMU on either the MRes pathway or the new MSc Public Sociology course. I decided to go with the latter because there are no other courses like it in Scotland, and I wanted to move away from the more theoretical side of sociology. It was the best decision I have ever made!</p>
<p><span class="lead-big">The Course</span></p>
<p><span class="lead">What did you enjoy most about your course? What were the highlights?</span></p>
<p>The course changed my perspective on the world; I went through a process of realising how different sociology could be and how I could view it through a different lens. I was able to connect sociology to real life and gained an interest in public sociology education. The lecturing staff are so passionate about the field of public sociology, and it really helped boost my enthusiasm. </p>
<p><span class="lead">Were there any particular course activities you found especially interesting?</span></p>
<p>What I found the most interesting was how the course not only taught us the theories surrounding public sociology but also allowed us to put these into practice. After reading a lot about education theories, such as that of Paulo Freire, it was clear a lot of effort had gone into each module. They had been designed in a way to mirror the methods we had been discussing in class, bringing out the best discussions and sharing of knowledge I have ever experienced in my years of studying.</p>
<p><span class="lead">How did your lecturers support your learning?</span></p>
<p>The small team of lecturers in public sociology were tremendous. I knew a couple well from my undergraduate course, but Dr Eurig Scandrett (MSc course leader) in particular changed the way I looked at the world around me. I cannot thank them all enough for the effort and passion they put into teaching. </p>
<p><span class="lead">What challenges did you face with the course and/or university life? How did you overcome them?</span></p>
<p>Like a lot of students, I struggled with my mental health throughout university. Although I don't want to dwell on that, I do want to say that this course in particular, for me, was very accepting of everyone's circumstances and the challenges they might face. The lecturing team also make a real effort to create an equal relationship between staff and students, and it helped me to feel like I was being supported throughout the whole year. </p>
<p><span class="lead">Did you take part in a placement as part of your course and if so, can you tell me a little about that experience?</span></p>
<p>As part of the master’s, you are asked to engage with a public, a group of people you feel a connection to. For me, that was the students on a community education module run by John Docherty-Hughes - one of the senior lecturers in sociology. I had previously volunteered on the module in my undergraduate, but after gaining a whole new perspective on public sociology, I was able to engage with the current cohort of students this time around. It was an enriching experience that I carried through to my dissertation thesis. I'm incredibly grateful for that opportunity because it led me to my new role, working for a charity in Edinburgh.</p>
<p><span class="lead">Do you have any advice for students who might be interested in this course?</span></p>
<p>You will not regret it. I can honestly say this course has changed my life. I met so many amazing people, and it changed my view of the social world and helped me achieve goals that I never even knew I wanted to accomplish before starting the MSc.</p>
<p><span class="lead-big">After graduation</span></p>
<p><span class="lead">Can you tell us about your life post-graduation (your career path, notable achievements, etc.)?</span></p>
<p>Since finishing the course in August 2019, I started working for an Edinburgh based charity; People Know How, as their VIP (Volunteer, Intern and Placement student) Coordinator. I came across the job position entirely by chance while I was still studying and was attracted to it because People Know How’s mission was so similar to that of public sociology. I can genuinely say that without this MSc, I wouldn't have this job. By studying how we can use sociology effectively, to give our publics a voice, I was able to see how I could fit in with People Know How's goals. It has been a highly rewarding journey so far, and best of all, one that allows me to keep my ties with QMU by offering their students placements and volunteering with us.</p>
<p>A special thank you to all the public sociologists at QMU!</p>
<p> </p>
<p>Note: The MSc Public Sociology course is no longer running in 2022/23, instead QMU is offering a <a href="/{localLink:umb://document/5c2c4301b52e406dbbf70634713d9a4b}" title="PgCert Public Sociology">PGCert in Public Sociology. </a></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Scotland]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/5c2c4301b52e406dbbf70634713d9a4b]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[MSc Public Sociology]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Amy Elliott]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[[]]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>Student Name:</strong> Amy Elliott</p>
<p><strong>Course:</strong> MSc Public Sociology</p>
<p><strong>Hometown/Country:</strong> Dunfermline, Fife</p>
<p><strong>Year of graduation:</strong> 2020</p>
<p>Amy came to Queen Margaret University (QMU) in 2015 after finishing college. She originally planned to focus on psychology, but after going to a few sociology classes, she realised that the joint honours route would be the best fit for her. As she approached the end of her final year, she learned about QMU’s new MSc in Public Sociology but didn’t realise at the time how the experience would change her life.</p>
<p>Set to graduate next year with an award of distinction, Amy is already putting the skills and knowledge gained on the course into practice in her new role as a Volunteer, Intern and Placement Student Coordinator with an Edinburgh based charity.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Amy came to Queen Margaret University (QMU) in 2015 after finishing college. Graduating in 2019 with an award of distinction, Amy is already putting the skills and knowledge gained on the course into practice in her new role as a Volunteer, Intern and Placement Student Coordinator with an Edinburgh based charity.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Amy Elliott | Graduate Stories | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[I can honestly say this course has changed my life. I met so many amazing people, and it changed my view of the social world and helped me achieve goals that I never even knew I wanted to accomplish.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Amy Elliott]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[MSc Public Sociology]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Amy Elliott]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Graduate"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>