<?xml version="1.0" encoding="utf-8"?>
<Content Key="289266c7-ff7e-4927-b27d-d595373d15d1" Alias="2016.06.02-1 - QMU puts Person-centre practice" Level="5">
  <Info>
    <Parent Key="ac4dc403-ec85-4439-845b-de25b485c66d">2016</Parent>
    <Path>/Home/NewsAndEvents/News//QMUPutsPersonCentrePractice</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T12:28:32</CreateDate>
    <NodeName Default="2016.06.02-1 - QMU puts Person-centre practice" />
    <SortOrder>62</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9112584ae7344d499abe66642be1ff51"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/9112584ae7344d499abe66642be1ff51",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "QMU puts ‘Person-centred Practice’ at the heart of education",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Queen Margaret University (QMU), Edinburgh, which already has an internationally renowned Division of Nursing, has launched Scotland’s first Masters degree in ‘Person-centred Practice’. </p>
<p class="txtMainBlack">Person-centredness is a concept that is focused on placing ‘the person' at the heart of decision-making in the health and social care sector. To do this effectively requires a commitment to understanding how the context of care impacts on the individual, the team and organisational experience.</p>
<p class="txtMainBlack">The Centre for Person-centred Practice Research at QMU aims to be a world leading centre for research and development in person-centred practice with a focus on innovative new knowledge in health and social care. The Centre has a focus on research that enhances service users experiences of care across a variety of care settings.</p>
<p class="txtMainBlack">The new MSc Person-Centred Practice is designed to meet the professional needs of practitioners from all disciplines working in a variety of different health and social care settings.  The programme will appeal to practitioners, policy-makers and other research users in the health and social care field including those of gerontology, dementia care, public health, long-term conditions and palliative care.</p>
<p class="txtMainBlack">The new development reinforces NHS Scotland and the Scottish Government’s strategic priority of delivering person-centred care. Working in partnership with people, carers and families to deliver care which meets their needs is a vital part of their 20/20 Vision for Health and Social Care.</p>
<p class="txtMainBlack">QMU has developed a Masters in Person-centred Practice Framework with a suite of course routes which place the values of person-centredness at their core. These routes offer health and social care practitioners with the opportunity to build upon their experience and develop an understanding of the knowledge and evidence that positively contribute to the health and wellbeing of persons, groups and populations.</p>
<p class="txtMainBlack">Bill Lawson, Programme Leader for the MSc Person-Centered Practice at QMU, said: “We’re proud to be taking a lead in putting person-centred practice at the heart of higher education in Scotland and internationally.  Our new programme aims to enable practitioners from different work backgrounds to contribute to the health and well-being of persons, groups and populations in a way that is consistent with the values of person-centredness.</p>
<p>“Students can personalise their learning to their own situation, whether it’s mental health, social care, infection control, acute care and community health. International students are particularly welcome as they offer a varied and different perspective to the context in which the learning occurs.”</p>
<p class="txtMainBlack">Teaching staff include internationally renowned person-centred practice academics; Professor Brendan McCormack (Head of Division of Nursing) at QMU and Professor Jan Dewing (Sue Pembrey Chair in Nursing) at QMU.</p>
<p class="txtMainBlack">Commenting on the new MSc Person-Centred Practice, QMU’s Professor McCormack, said: “The new innovative programme is paving the way for a new strategic direction within the Division of Nursing at QMU and has already seen the University create a new research centre for person-centred practice earlier this year.</p>
<p>“We’re confident that students undertaking the MSc Person-Centred Practice will have a positive influence on the health and social care sector across Scotland and beyond.”</p>
<p class="txtMainBlack">For more information on the MSc Person-Centered Practice at QMU and to apply, <a href="https://www.qmu.ac.uk">visit our website</a> or E: <a href="mailto:blawson@qmu.ac.uk" class="txtMainTextLinks">blawson@qmu.ac.u</a>k </p>
<p class="txtMainBlack">For more information on the Centre for Person-centred Practice Research at QMU, visit <a data-id="1269" href="/research-and-knowledge-exchange/research-centres-institutes-and-knowledge-exchange-centres/centre-for-person-centred-practice-research/" title="Centre for Person-centred Practice Research">Queen Margaret University Centre for Person-Centred Practice Research</a>.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2016-06-02T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU puts ‘Person-centred Practice’ at the heart of education]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>QMU is putting ‘Person-centred Practice’ at the heart of education in an effort to make positive and lasting changes to the country’s health and social care sector.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[QMU is putting ‘Person-centred Practice’ at the heart of education in an effort to make positive and lasting changes to the country’s health and social care sector. Queen Margaret University (QMU), Edinburgh, which already has an internationally renowned Division of Nursing, has launched Scotland’s first Master's degree in ‘Person-centred Practice’.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU puts ‘Person-centred Practice’ at the heart of education]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information contact Jonathan Perkins, Press and PR Officer, E: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a> T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU puts ‘Person-centred Practice’ at the heart of education]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>