<?xml version="1.0" encoding="utf-8"?>
<Content Key="28a4eb32-c828-4bdc-9678-2a490f083864" Alias="2016.12.02 - Ryder Cup Bursary awarded to QMU Student Blayne Beck" Level="5">
  <Info>
    <Parent Key="ac4dc403-ec85-4439-845b-de25b485c66d">2016</Parent>
    <Path>/Home/NewsAndEvents/News//RyderCupBursaryAwardedToQMUStudentBlayneBeck</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T13:15:58</CreateDate>
    <NodeName Default="2016.12.02 - Ryder Cup Bursary awarded to QMU Student Blayne Beck" />
    <SortOrder>141</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/8704c6a2d46f4574be604944a2954492]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f2432740561b4d068627535c34edf46d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/f2432740561b4d068627535c34edf46d",
      "image": "umb://media/00409c9e69dd4b5d9a16d8833513d3df",
      "title": "Ryder Cup Bursary awarded to QMU Student Blayne Beck",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Blayne, aged 21, was delighted to be awarded a £1,000 bursary from Ryder Cup Europe.</p>
<p class="txtMainBlack">Ryder Cup Europe made a commitment to QMU to fund five tourism, hospitality and event student bursaries per year for a total of four years. Now in its third year of distribution, the bursary scheme will provide twenty QMU students with £1,000 each.</p>
<p class="txtMainBlack">Blayne, currently in her third year at QMU, was thrilled to win the financial support from The Ryder Cup which she will use towards furthering her studies. She said: “I am delighted and honoured to have won the Ryder Cup Bursary this year. This will allow me to comfortably carry out my studies with extra funds for books throughout the year. In 2017, I hope to do event work experience in Australia to further develop the skills I’ve learnt at QMU. This will greatly help me fund this trip and I cannot thank The Ryder Cup enough for this generous bursary.”</p>
<p class="txtMainBlack">Blayne, who is a former pupil of Craigmount High School in Corstorphine, juggles her full time study with charity volunteering. She recently raised £8,000 for Cardiac Risk in the Young (CRY) through orchestrating two fundraising events; a live music concert at the Hibernian F.C stadium and a Scottish themed Ceilidh at the Hilton Grosvenor. It was the work that she conducted on these projects which helped support her winning application to the Ryder Cup fund.</p>
<p class="txtMainBlack">Professor Joe Goldblatt, Director of the International Centre for the Study of Planned Events at Queen Margaret University, said: “The support offered by Ryder Cup Europe is making a significant impact on our students’ experience at university and their ability to take advantage of learning and life enhancing opportunities. We are delighted that The Ryder Cup Award is encouraging Blayne to gain international event management experience, an opportunity that she may be not able to take advantage of without this Award support. An opportunity like this will undoubtedly have an impact on her employability, enhancing her future career possibilities.”</p>
<p class="txtMainBlack">Richard Hills, Ryder Cup Director, said: “It was important that The 2014 Ryder Cup left a lasting educational legacy in Scotland and the aim of our bursary scheme was to help inspire a new generation of tourism and business leaders in Scotland and beyond. We’re thrilled to see this support continue and wish to congratulate Blayne on securing her bursary. We wish her all the best with the rest of her studies.”</p>
<p class="txtMainBlack"><strong>ENDS</strong></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2016-12-02T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Ryder Cup Bursary awarded to QMU Student Blayne Beck]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Blayne Beck, an Events Management BA (Hons) student from Queen Margaret University (QMU), Edinburgh, is one of five to receive an award of financial support from The Ryder Cup this year</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Blayne Beck, an Events Management BA (Hons) student from Queen Margaret University (QMU), Edinburgh, is one of five to receive an award of financial support from The Ryder Cup this year. Blayne, aged 21, was delighted to be awarded a £1,000 bursary from Ryder Cup Europe.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Ryder Cup Bursary awarded to QMU Student Blayne Beck]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p><em>For further media information contact Lynne Russell, Marketing Manager, Queen Margaret University, Edinburgh, E: </em><a href="mailto:lrussell@qmu.ac.uk"><em>lrussell@qmu.ac.uk</em></a><em>  T: 0131 474 0000, M: 07711 011239 and Jon Perkins, Press and PR Officer, E: </em><a href="mailto:jperkins@qmu.ac.uk"><em>jperkins@qmu.ac.uk</em></a><em> T: 0131 474 0000. </em></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Ryder Cup Bursary awarded to QMU Student Blayne Beck]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>