<?xml version="1.0" encoding="utf-8"?>
<Content Key="28c7b53b-5e76-48fa-8b87-7bb1fc18f2c1" Alias="Zooming my way to Zen" Level="4">
  <Info>
    <Parent Key="c0bea5ca-bff8-4c6d-ae2d-1cc18dc67f0f">Blogs</Parent>
    <Path>/Home/AtHome/Blogs/ZoomingMyWayToZen</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-09T11:29:22</CreateDate>
    <NodeName Default="Zooming my way to Zen" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/8b6cae59bbca47c3892f1828e7c5037c]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3aa26e4f6be947259854d1d824052859"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/3aa26e4f6be947259854d1d824052859",
      "image": "umb://media/7b4f2480470c41a29b4486b869baffdf",
      "title": "Zooming my way to Zen",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><a href="/{localLink:umb://document/c0bea5cabff84c6dae2d1cc18dc67f0f}" title="Blogs"><span class="blue-btn">Back to QMU@Home blogs</span></a></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Thankfully the world of Zoom soon came to my rescue there (although there are some security implications you may wish to look into). There are a large number of classes both exercise and otherwise provided through various platforms. If Zoom’s not your bag you can always check out Instagram and Facebook live.</p>
<p>Yoga has been really successful and a clear favourite of mine. It's hardly surprising really, given I’m a yoga teacher in my spare time. But perhaps more of a surprise: I have become completely attached to dance fit and dance routine classes which I would never have been brave enough to do in real life. But in the comfort of my living room with my camera off if I feel like a frail wee ninety-year-old it doesn’t matter so much!</p>
<p>One word of advice: just because you can do all these activities doesn’t mean you need to do them all at once or even at all. Everyone is different - your reaction may not be the same as mine or anyone else’s. Social media even in lockdown is still overwhelmingly showing the best of people's lives. If someone is doing three exercise classes a day, whipping up beautiful meals, and homeschooling their kids- they probably aren’t showing you the whole story and may well be on a road to burn out/ injury.  Taking a nap (in the sun for preference), watching TV and completely vegging out are sometimes what we need to recharge.  </p>
<p>As I mentioned it’s not only exercise you can find from life drawing, to cooking classes, to gin tasting the video tutorial world is your oyster. Go explore!</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Zooming my way to Zen]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[1]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">Kate Brown  </span></p>
<p><strong>I am an extrovert – a dirty word for some perhaps, but that’s me. If my weekend’s not stuffed with yoga, dinners, coffees, and walks I’m not a happy woman. So as you can imagine when lockdown rolled around a collective ‘uh oh’ was uttered by my nearest and dearest. What is she going to do with her time?</strong></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[I am an extrovert – a dirty word for some perhaps but that’s me. If my weekend’s not stuffed with yoga, dinners, coffees, and walks I’m not a happy woman. So as you can imagine when lockdown rolled around a collective ‘uh oh’ was uttered by my nearest and dearest. What is she going to do with her time?]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Zooming my way to Zen | Kate Brown]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e47e1883e313343eb5b1faa0b9a718e8"
      },
      {
        "contentUdi": "umb://element/41c19611bfe433fc83da8d0e08232cfe"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "65c20f53-8e06-41fa-bce6-882e470b8ff3",
      "udi": "umb://element/e47e1883e313343eb5b1faa0b9a718e8",
      "quote": "umb://document/75f80223758f44db88c61a9d130bca88"
    },
    {
      "contentTypeKey": "89a05a83-d84d-4e9e-9117-02ff3cb40efa",
      "udi": "umb://element/41c19611bfe433fc83da8d0e08232cfe",
      "socialMedia": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Zooming my way to Zen]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>