<?xml version="1.0" encoding="utf-8"?>
<Content Key="29b71957-b36c-4ea6-b9ee-dcfa7c81a86c" Alias="Meadow" Level="5">
  <Info>
    <Parent Key="1c864620-6413-459b-a51f-e1df6b9aaed2">Outdoor Learning Hub at QMU</Parent>
    <Path>/Home/StudyHere/LearningFacilities/OutdoorLearningHubAtQMU/Meadow</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2023-10-12T14:14:16</CreateDate>
    <NodeName Default="Meadow" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/a90b23303830404abd0afe2f559e9874]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f9822ed1249a4da7a755f2a79747f928"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/f9822ed1249a4da7a755f2a79747f928",
      "image": "umb://media/eda898e9d53a4840bbc78a735f37d2e7",
      "title": "Meadow",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<div class="mceNonEditable embeditem" data-embed-url="https://www.youtube.com/watch?v=nHihWMvJVck&amp;list=PLaSzSzoZ4PmitXjpo3iGzgSVeLGrppu8A&amp;index=4" data-embed-height="456" data-embed-width="950" data-embed-constrain="true"><iframe width="811" height="456" src="https://www.youtube.com/embed/nHihWMvJVck?list=PLaSzSzoZ4PmitXjpo3iGzgSVeLGrppu8A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe></div>
<p><br />Grasslands are habitats for wildflowers, insects, and birds. In spring, we can see swallows and swifts that migrate from the African continent. In winter, geese visit from the Arctic region and wading birds from the coast.</p>
<p>If you have a little space, why not create a mini-meadow on an unused patch of earth?</p>
<p><span class="lead">Gifts of this place:</span> looking at wildflowers, insects and birds; learning about our changing global climate; playing games and doing activities together.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[[
  "Tabs"
]]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Outdoor Learning Hub at QMU: Meadow]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">A grassland re-planted with meadow flowers. </span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[A grassland re-planted with meadow flowers. Grasslands are habitats for wildflowers, insects, and birds. In spring, we can see swallows and swifts that migrate from the African continent. In winter, geese visit from the Arctic region and wading birds from the coast. If you have a little space, why not create a mini-meadow on an unused patch of earth?]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Meadow | Outdoor Learning Hub & Discovery Trail | QMU, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Meadow]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>