<?xml version="1.0" encoding="utf-8"?>
<Content Key="2bc94ac5-01c4-4171-bbc0-85547debca90" Alias="2017.07.06 - Simple baker’s yeast could be key to detecting deadly diseases" Level="5">
  <Info>
    <Parent Key="5ec60e7e-de76-4127-aaea-18ddb982220d">2017</Parent>
    <Path>/Home/NewsAndEvents/News//SimpleBakerSYeastCouldBeKeyToDetectingDeadlyDiseases</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T15:59:06</CreateDate>
    <NodeName Default="2017.07.06 - Simple baker’s yeast could be key to detecting deadly diseases" />
    <SortOrder>106</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/8d916bae22f34e4eb79761473c050b82]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f90ede9bfdb249f7ae9d2583281ff208"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/f90ede9bfdb249f7ae9d2583281ff208",
      "image": "umb://media/8c4d19521aaf470594aa876fb04a2237",
      "title": "Simple baker’s yeast could be key to detecting deadly diseases",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The collaboration of chemistry professors at Columbia University and global health researchers at the Institute for Global Health and Development at QMU has resulted in the development of an on-site dipstick test. This simple method, using only common household baker’s yeast, can help with early detection of fungal pathogens responsible for major human disease, agricultural damage and food spoilage.</p>
<p>Around the globe, fungal pathogens present an increasingly urgent public health burden, causing an estimated two million deaths annually and inflicting devastating losses on plant crops and population decline in animal wildlife. Still, fungal pathogens and the diseases they cause are often neglected and research to combat them is underfunded.</p>
<p>Principal Investigator and Columbia University chemist, Virginia Cornish, explained, “Our biosensor allows us to detect a pathogen for less than one cent per test; it is easy to use, cheap to produce and doesn’t require cold-storage facilities. It stands to impact agriculture and health, especially in developing countries, where it is arguably needed the most.</p>
<p>“We realised that the same household baker’s yeast people use every day to brew beer and make bread could be programmed to detect a myriad of targets,” Cornish said. “We can now alter the DNA of the baker’s yeast to give it new functions that make it useful for a variety of applications. The prospect of using this technology in rural communities with little access to high-tech diagnostics is particularly compelling.” </p>
<p><a rel="noopener" data-id="2783" href="/{localLink:2783}" target="_blank" title="Professor Alastair Ager">Professor Alastair Ager</a>, Director of <a rel="noopener" data-id="1270" href="/{localLink:1270}" target="_blank" title="Institute for Global Health and Development">Institute for Global Health and Development</a> at QMU, explained, “Development of so-called ‘biosensors’ is potentially a real game-changer for early disease detection and prevention. The research shows that effective surveillance of pathogens can take place at ground level using cheap diagnostics accessible at the point of care. Traditional diagnostics often rely on technologies that are unobtainable on-site and this development therefore removes the reliance on a small number of established detection centres, putting the power into the hands of local healthcare workers.”</p>
<p>The US research team swapped out naturally-occurring cell surface receptors of <em>Saccharomyces cerevisiae</em>, or baker’s yeast, with pathogen-specific receptor proteins. They started by building a biosensor for the detection of <em>Candida albicans</em>, a human fungal pathogen (a type of yeast) that occurs naturally in the human gut, but can cause serious medical problems and even death if the population gets out of control.</p>
<p>After replacing bakers yeast’s natural receptor with that of <em>C. albicans</em>, the researchers then altered its DNA to enable production of lycopene, the pigment responsible for the red colouring of tomatoes. This allowed the engineered yeast to turn red when in the presence of a target molecule, in this case, <em>C. albicans </em>fungus pheromones.</p>
<p>The experiment was a breakthrough success. The sensor turned red when exposed to the fungal target. The team had developed a functional, simple, highly-specific, one-component sensor using only yeast.</p>
<p>Virginia Cornish said. “Our sensor can be cheaply made, economically produced at large-scale, widely distributed as a stable dried product for household use, robustly applied to complex samples, is not reliant on cold-chain storage, and can be readily detected by the eye without additional equipment, making it a compelling and completely feasible tool for surveillance of pathogens around the globe. This is critical for human health, food security, bioterrorism, and maintenance of biodiversity.”</p>
<p>Professor Ager has worked on the project for four years. He expressed his delight at the results of the research that has been supported by a grant from the Bill and Melinda Gates Foundation. “This research offers solutions to major healthcare issues which affect low- and middle-income countries. It is exciting to be collaborating, not only with scientists in the USA at the cutting-edge of biological research, but also with researchers in Africa and Asia who will be critical in ensuring this technology is suitable for use in the developing world.”</p>
<p>The research team is currently in conversations with global health non-profits and worldwide research, technology, development and citizen groups to determine the needs of specific areas, including African and Asian countries It believes there are many more applications for its sensor, including use in virus and bacterial detection, and a biosensor for cholera, a potentially-lethal diarrheal disease caused by the ingestion of contaminated food or water.</p>
<p>Virginia Cornish concluded: “The possibilities, as we see it right now, are limitless. We’ve just opened the door to this exciting new technology. It’s the beginning of a journey rich with potential.”</p>
<p>‘<a rel="noopener" href="http://advances.sciencemag.org/content/3/6/e1603221" target="_blank">A Modular Yeast Biosensor for Low-Cost Point-of-Care Pathogen Detection’ by Nili Ostrov, Miguel Jimenez, Sonja Billerbeck, James Brisbois, Joseph Matragrano, Alastair Ager, Virginia W. Cornish is published this week in the journal <em>Science Advances.</em></a></p>
<p> <strong>ENDS</strong></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2017-07-06T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Simple baker’s yeast could be key to detecting deadly diseases]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>University researchers have developed a simple tool that could revolutionise the detection of diseases, such as cholera, potentially saving lives around the world. Queen Margaret University (QMU), Edinburgh and Columbia University in New York have used common household baker’s yeast to provide a means of detecting potential sources of infection at a fraction of current costs. This exciting development could offer a simple, cost-effective way to detect and treat pathogens, in everything from water, agriculture to human health. The research could provide substantial health and financial benefits, particularly to those in low-income countries.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[University researchers have developed a simple tool that could revolutionise the detection of diseases, such as cholera, potentially saving lives around the world. Queen Margaret University (QMU), Edinburgh and Columbia University in New York have used common household baker’s yeast to provide a means of detecting potential sources of infection at a fraction of current costs. This exciting development could offer a simple, cost-effective way to detect and treat pathogens, in everything from water, agriculture to human health. The research could provide substantial health and financial benefits, particularly to those in low-income countries.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Simple baker’s yeast could be key to detecting deadly diseases | News and Events | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p><strong>Queen Margaret University, Edinburgh</strong></p>
<ul>
<li>The <strong>Institute for Global Health and Development (IGHD) based at Queen Margaret University, Edinburgh</strong> is a <a rel="noopener" data-id="1270" href="/{localLink:1270}" target="_blank" title="Institute for Global Health and Development">multi-disciplinary centre for research</a> and <a rel="noopener" data-id="4637" href="/{localLink:4637}" target="_blank" title="IGHD">postgraduate education that addresses contemporary health and development challe</a>nges in low and middle income countries and their connection to global systems and trends.</li>
</ul>
<p>Our approach is marked by a commitment to critical thinking, practice engagement, and social justice. Critical thinking means we bring fresh insight and perspectives to situations, with our work frequently involving innovative methodologies and approaches.</p>
<p>Practice engagement means that we are committed to work directly with Ministries of Health, international and national organisations and local communities to develop real solutions to problems. Social justice means that we are always particularly mindful of the needs of the most disadvantaged and ways of improving their health and well-being.</p>
<p><strong> </strong><strong>Columbia University, in the city of New York</strong></p>
<ul>
<li>For information about Columbia University visit <a rel="noopener" href="http://www.columbia.edu/" target="_blank">columbia.edu/</a></li>
</ul>
<p><strong>For further media information please contact: </strong></p>
<p><em>Lynne Russell, Communications Manager, Queen Margaret University, Edinburgh, E: </em><a rel="noopener" href="mailto:lrussell@qmu.ac.uk" target="_blank"><em>lrussell@qmu.ac.uk</em></a><em>, T: 0131 474 0000, M: 07711 011239, or Jonathan Perkins, Press and PR Officer, E: </em><a rel="noopener" href="mailto:jperkins@qmu.ac.uk" target="_blank"><em>jperkins@qmu.ac.uk</em></a><em>, T: 0131 474 0000 </em></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Simple baker’s yeast could be key to detecting deadly diseases]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>