<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d0e2437-c513-4786-9ce5-9a590fc43ef6" Alias="Student Story - Samantha Prowald - MSc Strat Comms and Pub Rel." Level="3">
  <Info>
    <Parent Key="d18bb03a-fac8-40f6-80a9-fff6921ad1d2">Quotes</Parent>
    <Path>/Settings/Quotes/StudentStorySamanthaProwaldMScStratCommsAndPubRel</Path>
    <Trashed>false</Trashed>
    <ContentType>quote</ContentType>
    <CreateDate>2021-10-22T10:06:36</CreateDate>
    <NodeName Default="Student Story - Samantha Prowald - MSc Strat Comms and Pub Rel." />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[umb://media/68fa900a1bde46e88908b9611f203add]]></Value>
    </image>
    <quoteText>
      <Value><![CDATA[“I’ve just signed up to the QMU Employer Mentoring Programme. The programme gives students the opportunity to meet with an experienced individual from a relevant sector, who is willing to offer their time, advice and inside knowledge surrounding the world of work.”]]></Value>
    </quoteText>
    <source>
      <Value><![CDATA[Samantha Prowald ]]></Value>
    </source>
    <sourceExtra>
      <Value><![CDATA[MSc Strategic Communication and Public Relations]]></Value>
    </sourceExtra>
  </Properties>
</Content>