<?xml version="1.0" encoding="utf-8"?>
<Content Key="2daf09d8-756c-4ae7-91ef-b19ab4c7ac70" Alias="Court Agenda April 2020" Level="5">
  <Info>
    <Parent Key="c6c02520-0f42-4c79-aea6-28c70092a988">About the Uni (excl quality and partnerships)</Parent>
    <Path>/Home/DocumentMigrationAugust2022/Paul/AboutTheUniExclQualityAndPartnerships/CourtAgendaApril2020</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-09-16T14:58:20</CreateDate>
    <NodeName Default="Court Agenda April 2020" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/12b47abcda794cc1a6ed926479b90db0]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b6b278a286234e9e88fbc674a2af463d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/b6b278a286234e9e88fbc674a2af463d",
      "image": "umb://media/1dfa730a810a41c5a80408cf1a8ae78c",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>All agenda items and papers may be disclosed under the Freedom of Information (Scotland) Act 2002 unless specifically exempted by the legislation. Where items cannot be disclosed, the relevant section of the Act is indicated.</p>
<p>*Due to restrictions in place during the Coronavirus Emergency, it is not possible for the University Court to meet ‘in person’. The Office of the Scottish Charity Regulator has recognised that holding meetings virtually is a good option, and states that charities may hold their meetings in this way, even where the governing document is silent on the matter. The University Court Standing Orders are silent on the matter. In line with good governance, the discussion and decisions of the University Court will be recorded in the form of confirmed minutes approved by members.</p>
<p>**The agenda is divided into starred and non-starred items. Starred items are for discussion and, where appropriate, decision. Non-starred items are for noting only and will not normally be discussed. Any member wishing to discuss a paper listed for noting should contact the Secretary no later than two days before the meeting stating the reason for the request.</p>
<p>Irene Hynd</p>
<p>University Secretary</p>
<p>Secretary to the Court</p>
<p><a href="mailto:ihynd@qmu.ac.uk">ihynd@qmu.ac.uk </a></p>
<p>21 April 2020</p>
<p><span class="lead">Court Members:</span></p>
<ul>
<li>Linda McPherson (Acting Chair)</li>
<li>Elaine Acaster OBE</li>
<li>Carolyn Bell</li>
<li>Dr Richard Butt</li>
<li>Professor Graham Caie CBE</li>
<li>Dr Maria Giatsi-Clausen</li>
<li>Colin Cox</li>
<li>Karen Cullen</li>
<li>Sir Paul Grice</li>
<li>Cynthia Guthrie</li>
<li>Dr Arturo Langa</li>
<li>Frank Lennon OBE</li>
<li>Ken McGarrity</li>
<li>Ruth Magowan</li>
<li>Chiara Menozzi</li>
<li>Melanie Moreland</li>
<li>Robert Pattullo</li>
<li>Sarah Phillips</li>
<li>Elizabeth Porter</li>
<li>Dr Eurig Scandrett</li>
<li>Dr Andrew Scott</li>
<li>Andy White</li>
</ul>
<p> </p>
<p><span class="lead-big">Agenda</span></p>
<p><span class="lead">1 *Welcome and Apologies</span></p>
<p><span class="lead">2 *Conflicts of Interest</span></p>
<p>To NOTE any conflicts of interest and determine any required action.</p>
<p><span class="lead">3 *Determination of Other Competent Business</span></p>
<ol style="list-style-type: lower-alpha;">
<li>To RECEIVE notification of Other Competent Business.</li>
<li>To DISCUSS any business arising from Items for Information. </li>
</ol>
<p><span class="lead">4 *Chair’s report</span></p>
<p>To RECEIVE an oral report from the Chair.</p>
<p><span class="lead">5 *Minutes</span></p>
<ol style="list-style-type: lower-alpha;">
<li>To APPROVE the Minutes of the Court meeting held on 5 February 2020. COURT (20) MINS 01</li>
<li>TO RECEIVE notes of the Workshop sessions held on 5 February 2020 (Strategy Day). COURT (20) 07</li>
<li>Matters arising.</li>
</ol>
<p><span class="lead">6 *Principal’s Report: Coronavirus Emergency</span></p>
<p>6.1 To RECEIVE a report from the Principal on Business Continuity, Adaptation and Recovery. COURT (20) 08</p>
<p>6.1 To RECEIVE preliminary analysis of the potential impact of the Coronavirus Emergency on the University’s Financial Position. COURT (20) 09 </p>
<p><span class="lead">Ordinary Business</span></p>
<p><span class="lead">7 *SFC Outcome Agreement </span></p>
<p>7.1 To RECEIVE an analysis of the University Outcome Agreement Funding allocation 2020-21, published by the SFC on 7 April 2020. COURT (20) 10</p>
<p>7.2 To RECEIVE an oral report on progress with the Queen Margaret University Outcome Agreement 2020-23.</p>
<p><span class="lead">8 *Strategic Plan 2020-25 and supporting Delivery Plan</span></p>
<p>8.1 To APPROVE the refreshed Strategic Plan 2020-25. COURT (20) 11</p>
<p>8.2 To CONSIDER the draft Delivery Plan in support of the Strategic Plan. COURT (20) 12</p>
<p><span class="lead">9 *Land Development Update</span></p>
<p>To RECEIVE a presentation on the land development project from the Director of Campus and Commercial Services.</p>
<p><span class="lead">Reports from Committees</span></p>
<p><span class="lead">10 *Finance and Estates Committee</span></p>
<ol style="list-style-type: lower-alpha;">
<li>To RECEIVE the minutes of the Finance and Estates Committee meeting held on 3 March 2020. FEC (20) MINS 01</li>
<li>Matters Arising.</li>
</ol>
<p><span class="lead">11 *Audit and Risk Committee</span></p>
<ol style="list-style-type: lower-alpha;">
<li>To RECEIVE the minutes of the Audit and Risk Committee meeting held on 28 January 2020. AUDIT (20) MINS 01</li>
<li>Matters arising.</li>
</ol>
<p><span class="lead">12 *Health and Safety Committee</span></p>
<ol style="list-style-type: lower-alpha;">
<li>To RECEIVE the minutes of the Health &amp; Safety Committee meeting held on 13 March 2020. HSC (20) MINS 02</li>
<li>Matters arising.</li>
</ol>
<p><span class="lead">13 *Nominations Committee</span></p>
<p>To APPROVE the Committee’s recommendation concerning lay member re-appointment. COURT (20) 13</p>
<p><span class="lead">14 *Equality and Diversity Committee</span></p>
<ol style="list-style-type: lower-alpha;">
<li>To RECEIVE the minutes of the Equality and Diversity Committee held on 27 February 2020. EDC (20) MINS 01</li>
<li>Matters arising.</li>
</ol>
<p><span class="lead">15 Dates of future meetings</span></p>
<p>Court will meet on 24 June 2020 at 3.00 pm, subject to review of Coronavirus restrictions.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Court Agenda April 2020]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>The next meeting of the Court will be held on <strong>Tuesday, 28 April 2020 at 2.00</strong> pm by Video Conference*</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Agenda for the meeting of the Court held on Tuesday, 28 April 2020 at 2.00 p.m,]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Court Agenda April 2020 | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Court Agenda Apr 20]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>