<?xml version="1.0" encoding="utf-8"?>
<Content Key="2e5773eb-53d5-4668-9da3-4e12fce951f0" Alias="Santander Universities Internships" Level="6">
  <Info>
    <Parent Key="e8840b46-6f3b-439a-8a28-e45fe09fcc0c">Scholarships</Parent>
    <Path>/Home/StudyHere/FeesAndFunding/ScholarshipsAndAwards/Scholarships/SantanderUniversitiesInternships</Path>
    <Trashed>false</Trashed>
    <ContentType>eventItem</ContentType>
    <CreateDate>2021-02-08T14:12:59</CreateDate>
    <NodeName Default="Santander Universities Internships" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ac865943-209d-4f64-862a-e9637ee86b05">EventItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/1f91b6b9f2ae48a5b2c0b0fde140777e]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[<p>Santander Universities Internships</p>]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>These internships offer students and graduates the chance to gain valuable experience in the workplace, to work on live projects, and put theoretical knowledge into practice. Previous internships have been in the areas of marketing, events, business and healthcare.</p>
<p>See our <a href="https://pcn.prospects.ac.uk/qmun/login">current opportunities</a>.  </p>
<p>For more information contact: <a href="mailto:santander@qmu.ac.uk">Santander@qmu.ac.uk</a></p>]]></Value>
    </bodyTop>
    <button>
      <Value><![CDATA[[]]]></Value>
    </button>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <cost>
      <Value><![CDATA[]]></Value>
    </cost>
    <displayTitle>
      <Value><![CDATA[Santander Universities Internships]]></Value>
    </displayTitle>
    <eventEndDate>
      <Value><![CDATA[2018-11-06T13:45:26]]></Value>
    </eventEndDate>
    <eventStartDate>
      <Value><![CDATA[2018-11-05T12:44:06]]></Value>
    </eventStartDate>
    <furtherInformation>
      <Value><![CDATA[]]></Value>
    </furtherInformation>
    <hashtags>
      <Value><![CDATA[]]></Value>
    </hashtags>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>The Santander Universities Internship Programme is open to all Undergraduate (UG) and Postgraduate (PG) students as well as all graduates of QMU. We offer a variety of paid three-month, full-time internships and four-week, full-time work-placements with SMEs (small to medium-sized enterprises).</p>]]></Value>
    </introduction>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <lowerBannerCopy>
      <Value><![CDATA[<p>Santander Universities Internships</p>]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[umb://media/1f91b6b9f2ae48a5b2c0b0fde140777e]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[The Santander Universities Internship Programme is open to all Undergraduate (UG) and Postgraduate (PG) students as well as all graduates of QMU. We offer a variety of paid three-month, full-time internships and four-week, full-time work-placements with SMEs (small to medium-sized enterprises).]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Santander Universities Internships | Scholarships and Awards | Queen Margaret University]]></Value>
    </metaTitle>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/4002dd5945f84f4b95c5e6711da2bb9a,umb://document/fde923ae229e4d59916e57b4c164f7c1,umb://document/1b1fd7659d464b2796c47578cc599767]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Santander Universities Internships]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>