<?xml version="1.0" encoding="utf-8"?>
<Content Key="32c92b90-27ec-4ae7-8033-c34c404bdeb8" Alias="Hybrid Working Guidance for Line Managers" Level="5">
  <Info>
    <Parent Key="bc38f422-5b54-4f62-9fca-b2595185e650">Hybrid Working</Parent>
    <Path>/Home/Footer/Vacancies/HybridWorking/HybridWorkingGuidanceForLineManagers</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-07-21T08:33:05</CreateDate>
    <NodeName Default="Hybrid Working Guidance for Line Managers" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/4f13f043e3444f0896111bac7aff78b8]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dc4b6d1a0ee5441a9920481f42fcaf6e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/dc4b6d1a0ee5441a9920481f42fcaf6e",
      "image": "umb://media/90dc1cb9f983412eb5f06e4568a7f2a3",
      "title": "The role of the line manager is key to the success of hybrid working at QMU",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>There is a wealth of guidance on hybrid working available from various sources. In this guidance for managers, which sits alongside our Statement on Hybrid Working, we have reflected some of the key tips, advice and ideas for enabling effective hybrid working from best practice.</p>
<p><span class="lead"><strong>First</strong><strong> thin</strong><strong>gs</strong><strong> first…</strong></span><br />Make sure that you have read and understood our Statement on Hybrid Working, your HR Partner can assist you with any points of clarification needed. You may also find it helpful to review our Flexible Working Policy and other guidance issued via our Hybrid Working webpage.</p>
<p><span class="lead"><strong>Discuss hybrid working with your team…</strong></span><br />We encourage managers to consider meeting with their team to discuss the University’s approach to hybrid working, if and how it will apply to them. This will help to provide clarity and manage expectations. Bear in mind that employees may be anxious about new ways of working, especially if they have been mostly working at home and are unsure about how their working arrangements may change.</p>
<p>If you meet with your team, it may be helpful to consider the following questions:</p>
<ul>
<li>What worked well for our team whilst working remotely during the pandemic and during the transitional phase of return to campus – what can we learn from this</li>
<li>What would hybrid working mean for our team? What would need to be in place for us to work effectively in a hybrid way?</li>
<li>What are the potential risks or challenges for our team about working in a hybrid way? How can we overcome them?</li>
<li>How often does our team need to be in the office and how often can we work remotely?</li>
<li>What would be an appropriate balance to ensure that we meet the needs of our stakeholders, colleagues or customers as set out in our Statement of Requirement and Principles</li>
<li>If we work in a hybrid way, how can we ensure that we are inclusive, fair and work with each other in a healthy way?</li>
</ul>
<p>Whether you decide to hold a team discussion or not you should make clear to all staff that they can talk to you confidentially about their own circumstances, concerns and preferences. Some staff may not feel comfortable disclosing such information in a group discussion.</p>
<p>Remember to think about staff members who may be on sick leave, child related leave, sabbatical or career break, you will need to make arrangements to update them on new ways of working and ensure they are provided an opportunity to contribute to discussion, where appropriate.</p>
<p><strong><span class="lead">Communication is so important.</span><br /></strong>As managers you will already know how important it is to communicate effectively with your team and the value of team members communicating well with each other.<br /><br />Communication needs to be more intentional and planned in a hybrid environment, as there might be fewer casual or ad hoc conversations. However, the key principles of good communication remain: employees need to have the information that they need, in a timely way, to allow them to successfully undertake their work.<br /><br />One of the most important factors in communicating with a hybrid team is ensuring that information reaches everyone, wherever and whenever they are working. Equal access to information and knowledge is key to preventing communication issues and feelings of unfairness.<br /><br />A couple of top tips for communicating with a hybrid team are listed below:</p>
<ul>
<li>Talk to your team about how you will communicate with each other. Your team might wish to consider developing a communications protocol so it is clear to everyone how communication will be handled.</li>
<li>Ensure that you have regular one-to-one time with your team. This is good practice at any time, but when you may not be working in the same place or at the same time as your team, scheduling regular time to keep in touch becomes even more important.</li>
<li>Different messages require different formats of delivery - consider the correct channel for the message you want to convey, bearing in mind that in person may be the best way for some difficult and sensitive matters.</li>
<li>Be aware of achieving the right tone, aim to write emails and instant messages in a clear and empathetic tone.</li>
</ul>
<p><span class="lead"><strong>Remember to embed equity and fairness.</strong></span><br />Hybrid working can offer greater flexibility and choice for staff over where and when they work, this can support inclusion and have a positive impact on all staff including those who may have caring responsibilities or a disability. However, as a manager it is important to be aware of the potential inclusion challenges associated with hybrid working. <br />We suggest some tips below to ensure that staff are included, recognised and have equal employee voice.</p>
<ul>
<li>Try to avoid mixed mode meetings (in-person and online attendance combined) where possible. If some meeting attendees are in a meeting room with others joining online, this is likely to result in a poorer experience for those not present in the workplace, limiting their opportunity to meaningfully contribute or be heard.</li>
<li>Be aware that we can tend to default to people that we can see or are in close proximity to. Don’t forgot about those who are working from home and make sure they are given equal opportunity to contribute.</li>
<li>Some roles are more suited to hybrid working than others, this may be difficult for staff that have very little or no scope to work in a hybrid way due to their role. Being consistent in your application of the guidance around which roles are eligible for hybrid working is important to demonstrate fairness in the process.</li>
<li>Be prepared to suggest formal flexible working arrangements to those who perhaps now wish to have set patterns of work.</li>
</ul>
<p><span class="lead"><strong>Some general tips on managing hybrid teams</strong></span></p>
<ul>
<li>All staff working in a hybrid way are asked to keep their outlook calendars up to date. Managers are encouraged to set an example by being purposefully open and transparent about their working arrangements.</li>
<li>If you are working in a hybrid way yourself, be clear with your team about when you are in the office, or when you are working from home so that your team know how to get in touch with you and always provide opportunities for employees to speak with you one-to-one.</li>
<li>Be clear about the standards of performance you expect, focus on work outputs over presenteeism.</li>
<li>Talk to your team about mental health and general wellbeing. Please see our guidance on remote working and wellbeing.</li>
<li>If conflicts around ways of working arise try to address these quickly and informally in the first instance, you can speak to your HR Partner for support.</li>
<li>Encourage your team to connect socially. Social interaction with colleagues is something many staff have missed over the past few years. Social connections might include creating opportunities for an informal get together either face to face or online.</li>
</ul>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Hybrid Working Guidance for Line Managers]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">Hybrid Working Guidance for Line Managers</span></p>
<p>The role of the line manager is key to the success of hybrid working at QMU. The University’s approach to hybrid working and the responsibilities of managers are set out in our Statement on Hybrid Working. In particular managers will be responsible for effective communication and team working within hybrid teams.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[The role of the line manager is key to the success of hybrid working at QMU. The University’s approach to hybrid working and the responsibilities of managers are set out in our Statement on Hybrid Working. In particular managers will be responsible for effective communication and team working within hybrid teams.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Hybrid Working Guidance for Line Managers | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[HW Line Manager Guidance]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>