<?xml version="1.0" encoding="utf-8"?>
<Content Key="3624144b-5789-43b7-a80a-7f02708062d3" Alias="Long Service Reception and Award: Guidance Note" Level="6">
  <Info>
    <Parent Key="0bc96fa7-1be6-459c-b064-226c8a217716">Recruitment, Reward and Recognition</Parent>
    <Path>/Home/Footer/Vacancies/HRPoliciesAndProcedures/RecruitmentRewardAndRecognition/LongServiceReceptionAndAwardGuidanceNote</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-06-04T10:42:28</CreateDate>
    <NodeName Default="Long Service Reception and Award: Guidance Note" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/2b5e369948b14ca58a88d05faadc774b]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/494fb1c868244474b5730b4e1fd1ff9b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/494fb1c868244474b5730b4e1fd1ff9b",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "Long Service Reception and Award: Guidance Note",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<table border="1" style="border-collapse: collapse; width: 100%; height: 126px;">
<tbody>
<tr style="height: 18px;">
<th style="width: 50%; height: 18px;">Policy Owner:</th>
<td style="width: 50%; height: 18px;">Human Resources</td>
</tr>
<tr style="height: 18px;">
<th style="width: 50%; height: 18px;">Approved By:</th>
<td style="width: 50%; height: 18px;">Executive Board</td>
</tr>
<tr style="height: 18px;">
<th style="width: 50%; height: 18px;">Consultation Completed:</th>
<td style="width: 50%; height: 18px;">Trade Unions</td>
</tr>
<tr style="height: 18px;">
<th style="width: 50%; height: 18px;">Equality Impact Assessed:</th>
<td style="width: 50%; height: 18px;">May 2011</td>
</tr>
<tr style="height: 18px;">
<th style="width: 50%; height: 18px;">Date of Issue:</th>
<td style="width: 50%; height: 18px;">March 2011</td>
</tr>
<tr style="height: 18px;">
<th style="width: 50%; height: 18px;">Review Period:</th>
<td style="width: 50%; height: 18px;">Annual or as required by legislation</td>
</tr>
<tr style="height: 18px;">
<th style="width: 50%; height: 18px;">Last Reviewed:</th>
<td style="width: 50%; height: 18px;">January 2017</td>
</tr>
</tbody>
</table>
<p><span class="lead">Introduction</span></p>
<p>Queen Margaret University recognises and values the contribution of all its employees.</p>
<p>Many of our staff have worked for many years and the loyalty, commitment, high level of skill and experience brought by individuals is a key factor in the success of the University.</p>
<p>In recognition of this, the University is committed to celebrate with staff who have achieved long service. Long Service is recognised as staff who have accrued a service length of:</p>
<ul>
<li>10 years</li>
<li>15 years</li>
<li>20 years</li>
<li>25 years</li>
<li>30 years</li>
<li>35 years, and,</li>
<li>staff who have accrued a recognised long service period of service with the</li>
</ul>
<p><span class="lead">University and who are retiring</span></p>
<p>The above staff will be entitled to receive an invitation to a Long Service Reception, a Long Service Award and a Certificate of Recognition for their contribution to the University.</p>
<p>Scope</p>
<p>As the University is committed to the principles of valuing all staff, the long service award is applicable to all core employees regardless of role or grade. This equally applies to part-time employees or those who have been previously employed at the University on fixed-term employment contracts.</p>
<p>A break in service does not disqualify an individual as service can be aggregated.</p>
<p><span class="lead">Long Service Award</span></p>
<p>The level of long service will be recognised as set out below:</p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 126px;">
<tbody>
<tr style="height: 18px;">
<th style="width: 50%; height: 18px;">Years of Service</th>
<th style="width: 50%; height: 18px;">Long Service Award</th>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px;">10 years</td>
<td style="width: 50%; height: 18px;">1 day Anniversary Leave</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px;">15 years</td>
<td style="width: 50%; height: 18px;">2 days Anniversary Leave</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px;">20 years</td>
<td style="width: 50%; height: 18px;">3 days Anniversary Leave</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px;">25 years</td>
<td style="width: 50%; height: 18px;">4 days Anniversary Leave</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px;">30 years</td>
<td style="width: 50%; height: 18px;">5 days Anniversary Leave</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px;">35 years</td>
<td style="width: 50%; height: 18px;">6 days Anniversary Leave</td>
</tr>
</tbody>
</table>
<p>Anniversary Leave should preferably be taken in the member of staff’s anniversary month and in agreement with the manager. It cannot be carried forward into the next Annual Leave year, except in exceptional circumstances such as long-term authorised absence.</p>
<p>Part-time staff will receive the additional days leave on a pro rata basis. For example, if an employee normally works 4-hours each day, they would get 4-hours off as Anniversary Leave - which represents one normal working day for them. Anniversary Leave is a oneoff additional days leave, it is not a rolling annual entitlement.</p>
<p>Staff who have accrued a recognised long service period with the University and who are retiring will not receive additional annual leave. Instead, they will be awarded with a Long Service Award (gift) at the Annual Long Service Reception.</p>
<p>A Long Service Award is tax free, provided they satisfy Inland Revenue regulations. An Award is not payable in cash or vouchers.</p>
<p><span class="lead">Long Service Reception</span></p>
<p>All University employees who are celebrating a significant anniversary between the January to December of that year will receive an invitation from the Principal to attend a Long Service Reception.</p>
<p>The Long Service Reception is held annually and hosted by the Principal. It is held during the day, within the University. The Reception will take place together with colleagues from across the University who have also achieved a significant anniversary date or who are retiring with a service length of 10 years service.</p>
<p>At the Reception, a Long Service Certificate will be presented to the employee by the Principal.</p>
<p>The Reception is meant to be a social event with light catering provided. The employee’s Line Manager as well as Dean/Director will be invited to attend.</p>
<p>Attendance at the Long Service Reception is not mandatory. If an individual makes it known to HR that they wish to receive their Award without attending the Reception, their wishes will be respected.</p>
<p><span class="lead">The Equality Act 2010</span></p>
<p>The Equality Act 2010, which incorporates and replaces the 2006 Age Regulations, contains a general provision and two specific exemptions on employment benefits relating to service related pay and benefits. The Equality Act provides a provision that covers length of service benefit that is longer than five years. To rely on this exemption the University must award the benefit to reward loyalty, or encourage motivation, or to recognise the experience of the employee; and conclude that there will be a business benefit resulting from the higher level of experience of staff or from rewarding staff loyalty or increasing or maintaining staff motivation.</p>
<p><span class="lead">Coordination Arrangements</span></p>
<p>Human Resources in partnership with the Executive Assistant to the Principal will be responsible for co-ordinating the arrangements for the Long Service Reception.</p>
<p>The value of the Award will be reviewed regularly by the University.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/1244a53590b94cd5b89deb90497dab7d]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Long Service Reception and Award: Guidance Note]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead lead-big">The Long Service Reception and Award Guidance Note provides guidance on eligibility and process arrangements for long service awards.</span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Advice and guidance on eligibility and process arrangements for long service awards at QMU.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Long Service Reception and Award: Guidance Note | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Guidance Note]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>