<?xml version="1.0" encoding="utf-8"?>
<Content Key="36aca4a6-d715-486b-b479-938b11995ed0" Alias="Mainstreaming Report with Associated Review" Level="4">
  <Info>
    <Parent Key="fec66ea3-33a4-4405-8650-d0e9f84726ae">Vacancies</Parent>
    <Path>/Home/Footer/Vacancies/MainstreamingReportWithAssociatedReview</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-06-04T10:46:16</CreateDate>
    <NodeName Default="Mainstreaming Report with Associated Review" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6eec026f1d8a47bb8bf9be160d57a3a3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/6eec026f1d8a47bb8bf9be160d57a3a3",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "Mainstreaming Report with Associated Review",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p>For further information, please view QMU's <a href="/{localLink:umb://document/5b1e7ca3e140469f96ca47eb757e6fbb}" title="Equality and Diversity">Equality and Diversity Page</a>.</p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Queen Margaret University is pleased to publish this report, which sets out progress on mainstreaming equality and establishes a number of outcomes for the period 2017-2021.</p>
<p>Under the requirements of the Public Sector Equality Duty (PSED) introduced in the Equality Act 2010 (Specific Duties) (Scotland) Regulations 2012, the University is required to report on how it is mainstreaming equality. The specific duties are stated as aiming to help listed authorities to better meet the general duty and are designed to help develop evidence-based policies and practices, improve transparency and accountability, and deliver better outcomes for everyone in Scotland.</p>
<p>To meet the specific duties, the University is required to:</p>
<ul>
<li>report on progress on mainstreaming the general duty into all functions;</li>
<li>develop and publish a set of equality outcomes that cover all protected characteristics (or explain why not all protected characteristics are covered);</li>
<li>assess the impact of policies and practices against the needs of the general duty;</li>
<li>gather and use information on employees;</li>
<li>publish gender pay gap information;</li>
<li>publish statements on equal pay for gender, race and disability;</li>
<li>have due regard to the general duty in specified procurement practices;</li>
<li>publish information in a manner that is accessible.</li>
</ul>
<p>In 2016, the Scottish Government amended the specific duties to introduce a new requirement on listed bodies to publish the gender composition of their boards and to produce succession plans to increase the diversity of their board.</p>
<p>We consider that there has been significant movement towards mainstreaming equality and diversity throughout the University in the period since the publication of the University’s original report in April 2013. Equally, however, we recognise that we need to continue to establish outcomes where we have evidence to suggest inequality, with such evidence providing the basis for targeted action, including enhanced policy and practice.</p>
<p>Throughout this Report, the University has had due regard to the general duties as specified under the Equality Act 2010, and which require the University to:</p>
<p>1. Eliminate unlawful discrimination, harassment, and victimisation.<br />2. Advance equality of opportunity by having due regard to removing or minimising disadvantage, meeting the needs of a particular group that are different from the needs of others and by encouraging participation in public life; and<br />3. Foster good relations by tackling prejudice and promoting understanding.</p>
<p>The equality outcomes reflect the protected characteristics of Age, Disability, Faith/belief, Gender identity, Marriage/civil partnership, Pregnancy and maternity, Race, Sex and Sexual orientation.</p>
<p>The University also seeks to remove inequality created by social and economic deprivation in line with Scottish Government objectives and set out in the University’s Outcome Agreement with the <a rel="noopener" href="http://www.sfc.ac.uk/funding/Fundingdecisions/FundingDecisions.aspx" target="_blank">Scottish Funding Council (SFC)</a></p>
<p>This Report has been developed through the Equality and Diversity Committee, the membership of which represents staff and student stakeholders, and includes representation from each of the recognised Trades Unions. The report and has been approved for publication by the Chair of the University Court under powers delegated to the Chair by the University Court at its meeting on 5 April 2017.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Mainstreaming Report with Associated Review]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">Mainstreaming Report with Associated Review - Equality Outcomes and Employment Information</span></p>
<p>APRIL 2017</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Mainstreaming Report with Associated Review - Equality Outcomes and Employment Information]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Mainstreaming Report with Associated Review  | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Mainstreaming Report  2017]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>