<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b88d03c-75ca-47b5-80a8-95582c006108" Alias="2022.03.25 Construction Work Surrounding Campus" Level="5">
  <Info>
    <Parent Key="290de9c5-fde6-4432-9d08-11c487aa0182">2022</Parent>
    <Path>/Home/NewsAndEvents/News//ConstructionWorkSurroundingCampus</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2022-03-25T10:28:20</CreateDate>
    <NodeName Default="2022.03.25 Construction Work Surrounding Campus" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/ff989219c95e4e39b8a58ecebb1cf313]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[QMU Sustainable Transport Team]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2ce22c1877d6483fae24d26b9603dd1c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/2ce22c1877d6483fae24d26b9603dd1c",
      "image": "umb://media/fccc834f796f41409f0225ed1505aa17",
      "title": "2022.03.25 Construction Work Surrounding Campus",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><span class="lead"><strong>If you have any concerns or question please feel free to contact <a rel="noopener" href="mailto:cycleconnections@qmu.ac.uk" target="_blank" title="Email cycleconnections@qmu.ac.uk">cycleconnections@qmu.ac.uk</a> </strong></span></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<div>As part of this construction work the walking and cycling path between campus and Newcraighall has been closed with a temporary, fully lit, path laid just to the side of it. This is a temporary cycle path until a new cycle and walking path is created. The new path will run alongside the railway between Musselburgh Train Station and Newcraighall. </div>
<div></div>
<div></div>
<div><img src="?width=500&amp;height=344" alt="Image of Road Routes to QMU" width="500" height="344" data-udi="umb://media/ff989219c95e4e39b8a58ecebb1cf313" /></div>
<div></div>
<div><img src="?width=500&amp;height=500" alt="Image of Construction Work on Campus" width="500" height="500" data-udi="umb://media/01cb491090ae461d9e58291b260e9225" /></div>
<div></div>
<div></div>
<div></div>
<div></div>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2022-03-25T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Construction Work Surrounding Campus]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead">You may well have noticed some construction works under way surrounding the campus. These are in preparation for the new A1 slip road that will connect to campus, avoiding the need for north bound QMU traffic to turn at Newcraighall/The Jewel Roundabout.</span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[You may well have noticed some construction works under way surrounding the campus. These are in preparation for the new A1 slip road that will connect to campus, avoiding the need for north bound QMU traffic to turn at Newcraighall/The Jewel Roundabout.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Construction Work Surrounding Campus | QMU News | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Construction Work Surrounding Campus]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>