<?xml version="1.0" encoding="utf-8"?>
<Content Key="3bc9e362-c669-460c-a9cc-fa820e6977fc" Alias="Court Minutes 26 June 2019" Level="5">
  <Info>
    <Parent Key="400dbcf1-3e0f-45f4-9c0c-074a0dc44321">Court Meetings</Parent>
    <Path>/Home/AboutTheUniversity/UniversityCourt/CourtMeetings/CourtMinutes26June2019</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-06-28T15:46:39</CreateDate>
    <NodeName Default="Court Minutes 26 June 2019" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>PRESENT</strong></p>
<p>Dr Frances Dow CBE (Chair)*<br />Elaine Acaster OBE<br />Carolyn Bell<br />Dr Richard Butt (Minute 3 onwards)<br />Professor Graham Caie CBE<br />Karen Cullen<br />Dr Anthony Falconer OBE<br />Ruth Magowan<br />Jackie Macdonald<br />Chiara Menozzi<br />Linda McPherson (Vice Chair)<br />Melanie Moreland<br />Robert Pattullo<br />Sarah Phillips<br />Dr Eurig Scandrett<br />Dr Andrew Scott<br />Professor Petra Wend<br />Dr Laura Young MBE</p>
<p>* (Minutes 15 and 20 excepted)</p>
<p><strong>IN ATTENDANCE</strong></p>
<p>Malcolm Cutt, Director of Operations and Finance<br />Professor Fiona Coutts, Dean of School of Health Sciences<br />Dr Maria Giatsi-Clausen, Observer<br />Irene Hynd, University Secretary (Secretary)<br />Fraser Rudge, Governance Adviser (Minute Secretary)<br />Steve Scott, Director of Campus and Commercial Services</p>
<p><strong>1. WELCOME AND MEMBERSHIP</strong></p>
<p>The Chair welcomed members to the meeting of the University Court. Special welcome was extended to Chiara Menozzi, Student President, and to Karen Cullen, Elected Staff member, both of whom were attending for the first time as members.</p>
<p>Special welcome was extended also to Maria Giatsi-Clausen, who would take up membership of the Court as a Trade Union member appointed by nomination of the recognised trade unions for academic staff. Members noted that Colin Cox had been appointed by nomination of the recognised trade unions for support staff. Maria and Colin would take up membership with effect from 1 October 2019. Apologies were noted from Cynthia Guthrie, Frank Lennon OBE, Ken McGarrity, and Andy White.</p>
<p><strong>2. APPOINTMENT OF PRINCIPAL AND VICE-CHANCELLOR</strong></p>
<p>Members noted that, as advised to, and confirmed by, members of the University Court on 11 June 2019, Sir Paul Grice, Chief Executive Officer, Scottish Parliament, had been selected for the role of Principal and Vice-Chancellor of Queen Margaret University by the Court- ppointed Selection Committee. The selection followed a full day of shortlisted candidate interviews on 22 May 2019, and, immediately prior to that, a full day of stakeholder meetings/information gathering sessions on 21 May 2019. In reaching a unanimous decision to appoint Sir Paul, the Selection Committee had acted on behalf of the University Court under powers delegated to it by the University Court.</p>
<p>Full biographical details of Sir Paul had been provided to Court members previously, but were reproduced in Paper Court (19) 19 for ease of reference. Sir Paul would take up the role of Principal and Vice-Chancellor on 1 October 2019.</p>
<p>In commenting on the recruitment process, the Chair reported that all of the shortlisted candidates for interview had commented very positively on the University, and on the selection process. The Chair extended her thanks to all staff and students who had participated in the process and had contributed to such a positive experience.</p>
<p>In recognition of the fact that Professor Wend’s period of tenure would cease on 31 July 2019, and that Sir Paul would take up tenure on 1 October 2019, members formally APPROVED the appointment of Dr Richard Butt, Deputy Principal, to a position of Acting Principal and Vice-Chancellor for the period 1 August to 30 September 2019.</p>
<p><strong>3. MEMBER RETIRALS</strong></p>
<p>Members were advised that Dr Anthony Falconer OBE and Jackie Macdonald would retire from the Court on 30 September 2019, both having completed 6 years of service. Dr Laura Young had also decided to retire, having served for 3 years. Special thanks were extended by the Chair on behalf of the Court to each member for their invaluable contribution to the work of the Court and of its standing committees.</p>
<p>Noting that Professor Petra Wend would retire from the position of Principal and ViceChancellor on 31 July 2019, the Chair advised members that there would be opportunity to record Court’s appreciation of Professor Wend’s contribution at the Graduation on 9 July, and the dinner that evening. However, in recognition that this was Professor Wend’s final Court meeting, the Chair thanked Professor Wend for her immense contribution to the University during her ten years in post. Professor Wend’s leadership, energy and commitment to social justice and to the University had secured for the University a strong place within the Scottish higher education sector, and a position of influence globally.</p>
<p><strong>4. CONFLICTS OF INTEREST</strong></p>
<p>Members NOTED that the Deputy Principal had withdrawn from discussion in relation to Minute 2 (Appointment of Principal and Vice-Chancellor), and that the Chair would absent herself from discussion in relation to Minute 15 (Appraisal of the Chair) and Minute 20 (Nominations Committee).</p>
<p>No other conflicts of interest were declared.</p>
<p><strong>5. DETERMINATION OF OTHER COMPETENT BUSINESS</strong></p>
<p>One item of other competent business had been identified.</p>
<p>Members received tabled paper (Court (19) 31) which invited Court to homologate action taken by the Chair. Members were advised that expenditure relating to the placing of an order to replace campus AV equipment had exceeded the delegated authority level of the Principal, and had required Court approval. Such approval had been exercised by the Chair of Court on the basis that the expenditure had been included in the capital budget approved by Court in June 2018. Noting this, members HOMOLOGATED Chair’s action to approve expenditure to replace and enhance the University’s Audio Visual equipment.</p>
<p>There was no business arising from the items provided for information.</p>
<p><strong>6. CHAIR’S REPORT</strong></p>
<p>The Chair reported on her attendance at the Committee of Scottish Chairs meeting on 1 May 2019, and on the Chairs’ discussion with Richard Lochhead, Minister for Further Education, Higher Education and Science. The discussion had been cordial and constructive, with perhaps the most significant message being that University funding would likely be held at 2019-20 levels for the next 2 or 3 years. This was in line with discussion during the Strategic Dialogue meeting between the Scottish Funding Council and the University held on 3 May.</p>
<p><strong>7. PRINCIPAL’S REPORT</strong></p>
<p>Members received a detailed written report from the Principal on recent developments within the University and within the higher education sector generally (paper COURT (19) 20).</p>
<p>Members were advised that student recruitment for 2019/20 was challenging, particularly in relation to postgraduate and international applications, and that this appeared to be a trend across the sector. Staff continued to work hard to convert all appropriately qualified applicants to entrants.</p>
<p>Work continued on piloting the ‘Lean’ project, with some 11 staff having now been trained as Lean champions, and two business process areas having been identified for a ‘rapid improvement’ exercise. Members were reminded that the basis for the initiative was not to secure staff savings, but to secure improved business processes in order to reduce workload.</p>
<p>Members were advised that the University had experienced a significant IT failure during the week commencing 10 June 2019, arising from the annual essential electrical shutdown. A full investigation into the failure was being undertaken, in order to identify and implement any lessons learned. This would include review of the University’s business continuity response, and the response of the university’s external IT suppliers. The Principal expressed her thanks to staff of the IT Services team for their hard work in restoring the service, and to staff of the Registry for their work in ensuring student assessment results were processed and released within a day of the published deadline.</p>
<p>Members noted that the ‘Post-18 Review of education and funding: Independent Panel Report’, commonly referred to as the ‘Augar Review’ had been published in late May.</p>
<p>While the report was concerned with funding options for post-18 education in England, there were a number of important consequences for Scotland, including a likely reduction in the tuition fees charged to rest of UK students.</p>
<p>Sir Peter Scott, Commissioner for Fair Access, had published his second annual report on widening access to Universities in Scotland. While the report continued to put pressure on universities in terms of access, it also recognised the significant progress made, and the continued investment by universities in this agenda.</p>
<p>The Chair extended members’ congratulations to the staff and students mentioned within the Principal’s Report for their achievements, and thanked staff for their contribution to the University’s improved league table results.</p>
<p><strong>8. MINUTES</strong></p>
<p>The Unconfirmed minutes of the meeting held on 3 April 2019 were APPROVED as an accurate record.</p>
<p>There were no matters arising.</p>
<p><strong>9. SCOTTISH FUNDING COUNCIL</strong></p>
<p>9.1 Scottish Funding Council Outcome Agreement Funding 2019-20.</p>
<p>Members received an analysis of the final funding announcement for universities, which had been issued by the SFC on 17 May. Details of the final funding allocation for Queen Margaret University were presented, along with comparative figures for 2018/19, and assumptions for the 2019-20 financial year made in the June 2018 financial forecasts (annex A of Paper Court (19) 21 refers).</p>
<p>Members were advised that funding for teaching and research had increased by 5.1% compared to 2018-19, but was 0.2% below the assumptions made in the June 2018 financial forecasts. Strategic funding in a couple of areas had still to be announced. Capital funding had increased slightly from the indicative funding announcement but was below the 2018/19 figure. It was likely that forecasts for future years would assume no increase in terms of core funding, with the exception of additional funded places for ITE, and potential further additional funded places for Nursing.</p>
<p>9.2 Outcome Agreement 2019-20</p>
<p>Members NOTED the confirmed Queen Margaret University Outcome Agreement with the Scottish Funding Council which had been circulated to members electronically. The Agreement had been submitted to the SFC on 30 April, having been approved by the Chair under powers delegated to the Chair by the University Court.</p>
<p><strong>10 FINANCE AND KEY PERFORMANCE INDICATORS</strong></p>
<p>10.1 Q3 Update and Management Accounts to 30 April 2019</p>
<p>Members received an update on the University’s financial performance for the nine months to 30 April 2019, and on the forecast outturn position (Paper COURT (19) 23). Members NOTED the following key points, as set out within the paper:</p>
<ul>
<li>Overall tuition fee income forecast had a favourable variance of £797k, arising from favourable variances on on-campus undergraduate, postgraduate and international fees. Collaboration fee income was broadly in line with the budget. It was possible, although not certain, that this income figure might increase before the year end.</li>
<li>Staff costs (excluding restructuring costs) were projected to be £476k higher than originally budgeted, due mainly to the delay in implementing the Transformation Project and the estimated restructuring savings not being fully achieved within the 2018-2019 financial year. The total (non-recurrent) cost of restructuring was around £850k against a budget in year of £300k. The original budget of £600k had been split over two financial years (2017-18 and 2018-19), but the full costs would fall within the 2018-19 financial year. This would result in the target level of recurrent savings in salary costs of £1.668 million being achieved from 2019-20 onwards.</li>
<li>Other operating expenses were forecast to be in line with the original budget. Strategic investment expenditure was expected to be in line with the original budget, although this would depend on the precise timing of works to be carried out to the estate over the summer period.</li>
</ul>
<p>The updated forecast outturn suggested that overall income would be around £847k above the initial budget. Taken together with the variances advised above, an adverse variance of £179k was projected in the outturn position against the original budget.</p>
<p>Members were advised that the STSS pension increase that had been scheduled to take effect from 1 April 2019 had been deferred to 1 September 2019.</p>
<p>10.2 Quarter 3 Key Performance Indicators Update</p>
<p>Members RECEIVED paper (COURT (19) 24), and noted the following in particular:</p>
<ul>
<li>Tuition fee income, based on an analysis of invoices raised, was forecast to be above target for both campus based and collaborative activity.</li>
<li>The forecast amount of cash income from fundraising and development in 2018-19 had increased from quarter two, largely due to a change in the payment cycle of a funding source.</li>
<li>Figures relating to student numbers had improved since quarter two, with all categories of students projected to be above target with the exception of research home/EU, undergraduate international, and undergraduate rest of UK.</li>
<li>The forecast for net income from student accommodation was above target; however net income from physical facilities was forecast to be below target.</li>
<li>The staff absence rate for quarter three had dropped to 2.4%, and was in line with the target figure.</li>
</ul>
<p>Members commented positively on the University’s improved performance in relation to the proportion of BME and mature Scottish domiciled undergraduate students studying at the University, and in terms of the average tariff scores for student entering the University. In response to a comment regarding recent press coverage on degree classification and grade inflation, members were assured that the University had robust quality assurance and assessment regulation arrangements in place to protect academic standards and the integrity of degree awards.</p>
<p><strong>11 FINANCIAL FORECASTS AND BUDGET FOR 2019-20</strong></p>
<p>Members RECEIVED paper (COURT (19) 25), which set out the proposed high-level budget for 2019-20 and financial projections for the following two years, for approval by Court.</p>
<p>Members noted that the commentary attached to the paper would be provided to the Scottish Funding Council, along with approved forecasts. The figures would also provide the basis for the completion of the SFC financial forecasts spreadsheet return, which had to be submitted to the SFC by 30 June 2019.</p>
<p>Members were advised that, as noted in the paper, Barclays had proposed a number of adjustments to the testing of covenants. Specifically, it was proposed that the operational leverage covenant would not be tested at 31 July 2019, but that the next test would be carried out as at 31 July 2020. For the testing of covenants in future years, amendments would be made to the target leverage ratio as set out in the paper. Increasing the target leverage ratio had the effect of reducing the rate at which the adjusted operating surplus needed to increase each year, and therefore provided additional time for the University to return to a breakeven position. Existing cash and debt service covenants would remain unchanged in terms of quantum, definition and testing dates, on the basis that the budgets projected that these would be met.</p>
<p>The amendments proposed had been considered and approved by the external auditors, Ernst and Young. It was anticipated that formal approval would be obtained prior to 31 July 2019, which would impact favourably on treatment in the 2018/19 final accounts.</p>
<p>In response to a query, members were advised that the relaxation proposed recognised actions taken by the University over the last 2 years, but also that the HE sector had changed significantly since 2014, when the covenants were set. Members were advised that the current risk register captured the risks involved, and that a contingency had been built in. The projections remained challenging nevertheless.</p>
<p>Court APPROVED the financial forecasts and the proposed budget for 2019-20.</p>
<p><strong>12 LAND DEVELOPMENT</strong></p>
<p>Members RECEIVED an update on the Land Development Project (COURT (19) 26). Particular items drawn to Court’s attention included ongoing discussion between East Lothian Council and the University on the timeline and activities associated with the Edinburgh Innovation Park, and the requirements of the City Deal.</p>
<p>Both parties had attended a number of City Deal workshops, had met separately with key agencies, and had undertaken research into the progress and process of other Scottish City Deals, and in particular innovation focused projects. The outcomes were being evaluated, and would inform the final programme of activity for the Edinburgh Innovation Park and the development of the full business case. The Project Steering Group continued to review in detail the project risk register.</p>
<p>It was proposed that a memorandum of understanding (MoU) be adopted to direct the University’s joint interests with ELC, prior to progressing the heads of terms and joint venture agreement identified within the programme. The MoU would set out the protocols for working arrangements between the partners, but was not intended to be a legally binding document. Documents of particular significance, including the Memorandum of Understanding, Business Case and Heads of Terms, would be presented to the University Court in due course.</p>
<p><strong>13 HIGHER EDUCATION GOVERNANCE (SCOTLAND) ACT 2016</strong></p>
<p>13.1 The Queen Margaret University, Edinburgh (Scotland) Amendment Order of Council 2019</p>
<p>Members received the final version of the Queen Margaret University, Edinburgh (Scotland) Amendment Order of Council 2019 (COURT (19) 27).</p>
<p>Members were advised that, in line with previous advice provided to the Court on timing, the Order had been made on 14 June 2019 and laid before the Scottish Parliament on 18 June 2019. The instrument was subject to the negative resolution procedure and would come into effect on 1 October 2019.</p>
<p>The final version of the Order had been signed off by the Chair under powers delegated to the Chair by the University Court on 3 April 2019 (Minute 9.3 refers). A copy of the Chair’s approval statement was presented with the paper.</p>
<p>Members HOMOLOGATED Chair’s action to approve the Queen Margaret University, Edinburgh (Scotland) Amendment Order of Council 2019, and NOTED the revisions contained within the amended Order, as set out in the paper and in the attached Amendment Order.</p>
<p>13.2 Rules Governing the Nomination of Trade Union Members to the University Court,</p>
<p>Members were advised that, in line with powers delegated to the Chair by the University Court at its meeting on 3 April 2019, rules for the appointment of Trade Union members to the University Court had been approved by the Chair. These rules had been set out as revisions to the Standing Orders at Orders 19 (1) to 19 (11).</p>
<p>Members HOMOLOGATED Chair’s Action taken to approve the Rules Governing the Nomination of Trade Union Members to the University Court.</p>
<p>13.3 Standing Orders of the University Court</p>
<p>Members considered proposed revisions to the University Court Standing Orders which, once approved, would be adopted from 1 October 2019, in line with the commencement date for the Queen Margaret University, Edinburgh (Scotland) Amendment Order of Council 2019.</p>
<p>Members were advised that the University Court had previously approved arrangements for the Appointment of the Chair, and for the Chair’s removal, at its meeting on 4 April 2018. Standing Orders 11 (1) to 11 (20) and 12 (1) to 12 (5) were presented nevertheless as revisions to the Standing Orders to be adopted on 1 October 2019.</p>
<p>All other revisions set out in the paper were subject to Court approval.</p>
<p>Noting the above, members APPROVED the revised Standing Orders of the University Court, to be adopted with effect from 1 October 2019.</p>
<p>The Chair thanked the University Secretary for her work in ensuring the University’s compliance with the Higher Education Governance (Scotland) Act 2016.</p>
<p><strong>14 STRATEGIC PLAN QM150: REVIEW SESSION</strong></p>
<p>Members considered paper COURT (19) 29 which had sought to progress discussion at the April 2019 meeting of Court, when members reviewed the University’s QM150 strategic plan, and in particular, current progress towards achieving the nine strategic goals set out in the plan. Members had agreed that a further session should be conducted at the June meeting of Court, with a view to confirming the status of the strategic plan, including the nine existing strategic goals, and to establishing a hierarchy of priorities and actions for the 2019/20 academic session.</p>
<p>The main points arising out of the April Court discussion had been set out in the paper circulated, and recorded in the minutes of the meeting. These included reviewing the continued relevance of the objectives and associated KPIs at the ‘half-way’ stage of the 10 year planning horizon, and ensuring that key priorities and actions continued to promote and support the University’s financial sustainability. Members had agreed that there should be clarity on those elements of the strategic plan to be prioritised each academic session, and interim milestones set for objectives with a longer delivery timescale. Timelines should be considered/presented in more granular detail, with points of unusual importance, in terms of the objective being achieved, being highlighted. This might take the form of a critical path analysis.</p>
<p>In line with the above, the paper presented set out a number of priority objectives for 2019-20, each of which was supported by action plans developed through the operational planning process, and through discussion at the Senate. Priority objectives had been identified during the budget-setting process, so as to ensure appropriate resource allocation.</p>
<p>In discussion, members welcomed in particular the guidance provided on those KPIs for which the University had freedom to set performance indicators, and those where the KPI was a nationally derived benchmark eg NSS score/graduate destinations. The extent to which one KPI had the potential to influence another was acknowledged, including the impact of performance in the REF on attracting international research students.</p>
<p>The University Court CONFIRMED that the QM150 strategic plan and the nine strategic goals remained appropriate. Members NOTED the background environment within which the University operated, and the impact of this on determining appropriate objectives and KPIs. Members APPROVED the priority actions proposed for the 2019-20 academic session.</p>
<p><strong>15 COURT EFFECTIVENESS REVIEW - APPRAISAL OF THE CHAIR</strong></p>
<p>The Vice-Chair advised that she would be conducting the annual review of the effectiveness of the Chair, and that members would receive an invitation to participate from the University Secretary shortly. Following receipt of members’ feedback, the ViceChair would discuss any key themes with the Chair of Court in September 2019, and a report would come to the October meeting of the Court.</p>
<p><strong>16 SENATE</strong></p>
<p>16.1 Minutes of meeting held on 20 March 2019</p>
<p>Members NOTED the minutes of the meeting held on 20 March 2019. A number of items had been drawn to the attention of the Court, including progress made in responding to recommendations in the QAA Enhancement-led Institutional Review report 2018, discussion of stretching outcomes in the Outcome Agreement, including those relating to gender balance in Nursing, and updated risk management arrangements for collaborative partner review.</p>
<p>16.2 Minutes of the meeting held on 8 May 2019</p>
<p>Members NOTED the minutes of the meeting held on 8 May 2019.</p>
<p>A number of items had been drawn to the attention of the Court, including progress with Lean Process Review activities, Senate discussion of the University’s improved positioning in the Complete University Guide, and Senate approval of a number of policy statements and procedures in relation to REF 2021.</p>
<p>As advised earlier in the meeting (Minute 10 refers), members noted Senate discussion of QM150, and members’ broad satisfaction with progress to date in terms of the nine overarching goals of the Strategic Plan.</p>
<p><strong>17 FINANCE AND ESTATES COMMITTEE</strong></p>
<p>Members RECEIVED the Unconfirmed minutes of the Finance and Estates Committee meeting held on 18 March 2019 (FEC (19) MINS 02). No items had been drawn to the attention of the Court on the grounds that matters discussed in the minutes had been listed for discussion, or were noted, on the Court Agenda</p>
<p>Members NOTED that the Committee had agreed that efforts to generate additional income should be captured and brought together under the banner of an income strategy for its next meeting. That Strategy would come forward to the University Court as a substantive item for discussion.</p>
<p><strong>18 HEALTH AND SAFETY COMMITTEE</strong></p>
<p>Members RECEIVED the Unconfirmed minutes of the Health and Safety Committee meeting held on 6 March 2019 (HSC (19) MINS 01). No items had been drawn to the attention of the Court.</p>
<p><strong>19 AUDIT AND RISK</strong></p>
<p>Members RECEIVED the Unconfirmed Minutes of the Audit and Risk Committee meeting held on 29 May 2019 (Audit (19) MINS 02).</p>
<p>No items had been drawn to the attention of the Court.</p>
<p>The Convener of the Audit and Risk Committee reported that the Committee had discussed a draft report from the internal auditors on the implementation of the Transformation project, and that, following feedback from committee members, Scott Moncrieff had undertaken to provide an updated report to the next meeting. Members were further advised that the internal auditors remained on track to deliver reports on budget setting, information security policies review, and student experience.</p>
<p><strong>20 NOMINATIONS COMMITTEE</strong></p>
<p>20.1 Minutes of the meeting held on 13 May 2019</p>
<p>Members RECEIVED the Unconfirmed minutes of the Nominations Committee meeting held on 13 May 2019.</p>
<p>Court CONSIDERED and APPROVED the recommendation that the vacancy for an elected or nominated staff member on the Nominations Committee be filled by Karen Cullen, recently elected staff member for support staff.</p>
<p>Court APPROVED the recommendation that the following individuals be appointed to the Lay Membership of the University Court for a period of 3 years from 1 October 2019 to 30 September 2022:</p>
<ul>
<li>Dr Arturo Langa</li>
<li>Elizabeth Porter</li>
</ul>
<p>20.2 Appointment of the Senior Lay Member (Chair) of the University Court</p>
<p>Members RECEIVED and APPROVED the Role Specification for the Chair of Court (Court (19) 30). It was suggested by one member that some of the terminology used in the document did not reflect appropriately the working relationship between the Chair and the University Executive. Members were advised that the terminology used reflected the very specific duties and requirements of the role set out in the Higher Education Governance (Scotland) Act 2016.</p>
<p>Members NOTED the requirement to offer remuneration to the Chair of Court, as provided for by the Higher Education Governance (Scotland) Act 2016, and that the Nominations Committee had previously recommended to the University Court that the University offer a per diem rate up to the average rate for public appointments in Scotland, capped at an annual maximum amount. Court CONSIDERED and APPROVED the proposed remuneration rate of £300 per day plus expenses up to a maximum of £15k per annum (as detailed within paper Court (19) 30).</p>
<p>Members CONSIDERED and APPROVED the proposal that the vacancy for the Chair should be advertised during the period from late July through to September 2019, with a closing date for applications in mid to late September 2019, shortlisting of candidates in early to mid-October 2019, and an election to be held over a 4-day period in late October / early November 2019.</p>
<p>Members NOTED that a number of other Scottish higher education institutions would be seeking to appoint to the role of Senior Lay member/Chair of Court within the same timeframe.</p>
<p><strong>21 DATES OF FUTURE MEETINGS</strong></p>
<p>Court will meet on the following dates in 2019 and 2020:</p>
<p>2 October 2019 at 3.00 pm<br />27 November 2019 at 3.00 pm<br />5-6 February 2020 (Away Days)<br />1 April 2020 at 3.00 pm<br />24 June 2020 at 3.00 pm</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Court Minutes 26 June 2019]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>UNIVERSITY COURT - CONFIRMED Minutes of the meeting held on 26 June 2019.</strong></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Court Minutes 26 June 2019]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>