<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e5afcb2-fa9a-4ccd-964a-da7e16fbc7c1" Alias="Useful Links" Level="2">
  <Info>
    <Parent Key="7c28b037-248d-4048-8a11-5bc460a5c372">Settings</Parent>
    <Path>/Settings/UsefulLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>usefulLinksFolder</ContentType>
    <CreateDate>2022-11-23T11:34:39</CreateDate>
    <NodeName Default="Useful Links" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>