<?xml version="1.0" encoding="utf-8"?>
<Content Key="4211287d-3e9e-40b9-b902-447c04bab8d3" Alias="2017.10.23 - Humanitarian Programme boosts feelings of security and well-being of young Syrian refugees" Level="5">
  <Info>
    <Parent Key="5ec60e7e-de76-4127-aaea-18ddb982220d">2017</Parent>
    <Path>/Home/NewsAndEvents/News//HumanitarianProgrammeBoostsFeelingsOfSecurityAndWellBeingOfYoungSyrianRefugees</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T14:49:16</CreateDate>
    <NodeName Default="2017.10.23 - Humanitarian Programme boosts feelings of security and well-being of young Syrian refugees" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/8d916bae22f34e4eb79761473c050b82]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/926ebef311cc422586b1fb49c1de45e0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/926ebef311cc422586b1fb49c1de45e0",
      "image": "umb://media/8c4d19521aaf470594aa876fb04a2237",
      "title": "Humanitarian Programme boosts feelings of security and well-being of young Syrian refugees ",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>About 5.2 million people have been forced to flee the six-year-old conflict in Syria, and over 650,000 Syrians are now rebuilding their lives in neighbouring Jordan. </p>
<p>The study, published this month in the Journal of Child Psychology and Psychiatry, showed that a community-based programme for war-affected youth operating in Northern Jordan reduced the insecurity, distress, and mental-health difficulties of vulnerable boys and girls aged 12-18 years.</p>
<p>In a randomized controlled trial, the researchers learned that the programme most benefitted adolescents who had been exposed to four or more traumatic experiences.</p>
<p>“Community-based mental health interventions can help young people process the extreme stress of war and forced displacement,” said Catherine Panter-Brick, Professor of Anthropology, Health, and Global Affairs at Yale University and the study’s lead author. “Our findings will help humanitarian organisations develop robust, evidence-based programming to strengthen the mental health and protect the development of war-affected youth.”</p>
<p>The researchers worked in partnership with Mercy Corps, a global humanitarian organisation, which implemented the eight-week psychosocial program for refugee and host community youth evaluated in the study. The programme consisted of group-based activities and skills building intended to develop social cohesion and reduce the effects of profound stress.</p>
<p>The researchers also found that, over time, symptoms reduced in both treatment and control groups, but that with respect to feelings of insecurity, those engaged in the psycho-social intervention had sustained benefits relative to youth who did not, enhancing their recovery.</p>
<p>“It clearly makes sense to ensure that youth displaced from Syria are kept engaged in meaningful activities. But this study provides strong evidence that a short, structured programme can really make a difference to their sense of security and well-being as they face an uncertain future,” said Professor Alastair Ager, co-Investigator on the study and Director of the Institute for Global Health and Development at Queen Margaret University (QMU).</p>
<p>The study brought together researchers from Yale University, the Institute for Global Health and Development at QMU, Columbia University and the Hashemite University in Jordan.</p>
<p><strong>Ends</strong></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2017-10-23T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Humanitarian Programme boosts feelings of security and well-being of young Syrian refugees ]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>A new study has shown that an eight-week humanitarian intervention can improve the mental health and wellbeing of Syrian refugee and Jordanian youth in communities affected by the crisis in Syria.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[A new study has shown that an eight-week humanitarian intervention can improve the mental health and wellbeing of Syrian refugee and Jordanian youth in communities affected by the crisis in Syria.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Humanitarian Programme boosts feelings of security and well-being of young Syrian refugees | News and Events | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For information contact Maggie Wright Tel: 07801 710360 Email: <a href="mailto:maggie.wright@mwa.co">maggie.wright@mwa.co</a></p>
<p>For further media information contact Lynne Russell, Communications Manager, Queen Margaret University, E: <a rel="noopener" href="mailto:lrussell@qmu.ac.uk" target="_blank">lrussell@qmu.ac.uk</a> T: 0131 474 0000, M: 07711 011239, or Jonathan Perkins, Press and PR Officer, E: <a rel="noopener" href="mailto:jperkins@qmu.ac.uk" target="_blank">jperkins@qmu.ac.uk</a> T: 0131 474 0000. </p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Humanitarian Programme boosts feelings of security and well-being of young Syrian refugees ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>