<?xml version="1.0" encoding="utf-8"?>
<Content Key="426763f1-e92e-4d5b-b712-f6f1eabcd12e" Alias="2021.10.2021 MSc Therapeutic Radiography Pre Reg" Level="5">
  <Info>
    <Parent Key="659cf431-5480-4060-80fd-c765a525647f">2021</Parent>
    <Path>/Home/NewsAndEvents/News//MScTherapeuticRadiographyPreReg</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-11-22T14:46:43</CreateDate>
    <NodeName Default="2021.10.2021 MSc Therapeutic Radiography Pre Reg" />
    <SortOrder>43</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/3c3f48a7644d410ba09c66cf880ef25a]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b626416c99e24b6387fa9b34e862b078"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/b626416c99e24b6387fa9b34e862b078",
      "image": "umb://media/632cb61201874634af8bf96b56bb5966",
      "title": "Change your life and career with the fast-track two year MSc Therapeutic Radiography (Pre-reg) ",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>This people-focused healthcare role suits individuals who are resilient and empathetic and keen to play a vital part in helping patients before, during and after their cancer treatment.  </p>
<p>With the high demand for therapeutic radiographers in the UK and abroad, Queen Margaret University, Edinburgh is helping to accelerate qualified people into the profession with a fast-track two year conversion course. It’s the only MSc Therapeutic Radiography (Pre-Registration) in Scotland and is designed for graduates with degrees who are keen to change career direction. Ideally, it would be a great fit for science or healthcare graduates, but may also suit people from different backgrounds who have a passion to help others and who have a particular interest in this area of cancer treatment.  </p>
<p>Elisabeth Taylor, Lecturer in Radiography at QMU, explained: “The Master’s is an intensive two year programme which will change the course of your life by propelling you into an important, challenging and rewarding specialist healthcare role.  </p>
<p>“At Queen Margaret University we are passionate about making a difference and we are excited to be helping create a new route for graduates to change direction and qualify as therapeutic radiographers, thereby filling vital roles in our NHS and private practice. </p>
<p>Elisabeth continued: “Launching in September 2022, the MSc Therapeutic Radiography (pre-reg) offers the opportunity to learn alongside existing undergraduates and postgraduate radiography students at the University. Students will gain lots of hands on experience during a fantastic range of placements – mainly in Edinburgh, but also sometimes in Inverness, Dundee and Aberdeen, with 18 week placements taking place over both summers of the course, as well as rotating through the different treatment centres. It’s a great way to develop skills and knowledge, whilst gaining experience of different clinical settings and multi-disciplinary teams. </p>
<p>There is also the opportunity to do a two week placement anywhere in the world to gain experience, and the research project is self-directed, providing the chance to focus on an area of particular interest to you.” </p>
<p>Elisabeth said: “The support for students at Queen Margaret University is great – the class sizes are small and we have a close knit team of radiography students and staff – so you’ll never get lost in the crowd. The University is known for its supportive community and welcoming atmosphere so it’s a great place to live, learn and make friends. With a strong focus on person-centred healthcare, the University is passionate about developing students’ inter-professional skills so you will learn and work with teams from different departments both within the University and on placement. This will ultimately prepare you well for future inter-professional collaboration which ensures high quality service delivery in individualised patient care.”  </p>
<p>Elisabeth concluded: “This new course presents an outstanding opportunity to change career relatively quickly and develop as a highly skilled healthcare professional with support from an experienced academic radiography team. It also offers the chance to undertake placements throughout Scotland gaining experience of different types of centre and facility.  For the right individuals, it’s an opportunity not to be missed!” </p>
<p>MSc Therapeutic Radiography (pre-reg) opens for applications in October 2021 with a start date in September 2022. You can read more about the new two year conversion course at <a href="/{localLink:umb://document/3e7cb809de18420abb639a3975919bc4}" title="MSc Therapeutic Radiography (Pre-Registration)">MSc Therapeutic Radiography (pre-reg)</a>. </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2021-10-26T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Change your life and career with the fast-track two year MSc Therapeutic Radiography (Pre-reg) ]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong><a href="/{localLink:umb://document/fc562f0c5c894fd2b9cba42f8e7ee2ff}" title="Postgraduate Open Events">Book your place</a> at our next online Postgraduate Open Day on 11 November to find out more about the <a href="/{localLink:umb://document/3e7cb809de18420abb639a3975919bc4}" title="MSc Therapeutic Radiography (Pre-Registration)">MSc Therapeutic Radiography (pre-reg)</a> and other postgraduate study options at Queen Margaret University.</strong></p>
<p>If you’re thinking about changing career and looking for something in the health profession with great employment prospects, take a look at the role of the therapeutic radiographer.  </p>
<p>Often people are unsure what a therapeutic radiographer actually does unless they have had to go through cancer treatment themselves. In the most simple terms, a therapeutic radiographer works as part of a team helping people who are coping with cancer. Based in a hospital, they work with patients and colleagues to deliver treatment programmes and support patients until their treatment ends. The role involves using a range of technical equipment to deliver accurate doses of radiation to tumours to destroy diseased tissue, while minimising the amount of radiation to surrounding healthy tissue.  </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[MSc Therapeutic Radiography (Pre-Registration) at Queen Margaret University, Edinburgh is the only MSc Therapeutic Radiography (Pre-Registration) in Scotland and is designed for graduates with degrees who are keen to change career direction.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[MSc Therapeutic Radiography (Pre-Registration) | QMU News | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For media enquiries, please contact Lynne Russell, Communications Manager, Queen Margaret University, Edinburgh, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a>; M: 07711 011239. </p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Change your life and career with the fast-track two year MSc Therapeutic Radiography (Pre-reg) ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>