<?xml version="1.0" encoding="utf-8"?>
<Content Key="46efd53e-da5d-4e8d-9472-e41fe3ebf3ca" Alias="Dr Sean Huddleston" Level="5">
  <Info>
    <Parent Key="16084257-fda1-4607-9818-0e07807bf4bc">Psychology, Sociology and Education Staff</Parent>
    <Path>/Home/SchoolsAndDivisions/PsychologySociologyAndEducation/PsychologySociologyAndEducationStaff/DrSeanHuddleston</Path>
    <Trashed>false</Trashed>
    <ContentType>staffProfile</ContentType>
    <CreateDate>2023-05-24T08:43:40</CreateDate>
    <NodeName Default="Dr Sean Huddleston" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7509730a-2309-4003-8275-a5e134b9cf91">StaffProfile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/44d80d7c73cd4c25aec84c22e51ad269]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <approvalDate>
      <Value><![CDATA[]]></Value>
    </approvalDate>
    <approved>
      <Value><![CDATA[0]]></Value>
    </approved>
    <approvedBy>
      <Value><![CDATA[]]></Value>
    </approvedBy>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/12bb97d345b347059220eba2458722f7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/12bb97d345b347059220eba2458722f7",
      "image": "umb://media/dac3766a76f0495c93372c6c50bc5e82",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <centralBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cb52c54e286b4e55889bfc41b2eb231e"
      },
      {
        "contentUdi": "umb://element/2d0ed71ceafa44caba5b7dc7719e6563"
      },
      {
        "contentUdi": "umb://element/2acbd8e964b446de8cc29953818514e4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/cb52c54e286b4e55889bfc41b2eb231e",
      "title": "Overview",
      "content": "<p><span>I have been an educator for over twenty years. I have taught in the following sectors: primary, secondary, community, further and higher education. In terms of higher education, I most recently worked at the schools of education at UWS and the University of Glasgow.</span></p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/2d0ed71ceafa44caba5b7dc7719e6563",
      "title": "Research Overview",
      "content": "<p><span>I have always had a keen interest on the impact of identity on politics, especially within a British and Irish perspective. Most recently, I completed my Masters of Research postgraduate qualification on the history of British identity in Scotland and Ireland 1870-1970. </span></p>\n<p><span>I completed my PhD in early 2023. My thesis analysed how schools and teachers are equipped on how to deal with prejudice in their school communities. With regards to more specifically educational research, I am interested in the following aspects and fields of study: - how prejudice is dealt with by the school community - both inside and outside of the classroom, - the impact and role of social media: on young people and their relationships, the impact on teaching and learning, and the impact on the teaching community, - power dynamics and conventions regarding educational policy especially in Scotland.</span></p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/2acbd8e964b446de8cc29953818514e4",
      "title": "Teaching & Learning",
      "content": "<p>I teach across modules including subject focuses on:</p>\n<ul>\n<li>Introduction to Educational Studies</li>\n<li>The Sociological Imagination</li>\n<li>Creativity, Culture and Learning in the 21st Century</li>\n<li>Society and Sustainable Lifestyles</li>\n<li>Professional Enquiry into Practice</li>\n</ul>\n<p>I am also involved in observing students on teaching placements in year 2, 3, and 4.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[[
  "Tabs"
]]]></Value>
    </centralBlocksType>
    <displayTitle>
      <Value><![CDATA[Dr Sean Huddleston]]></Value>
    </displayTitle>
    <email>
      <Value><![CDATA[shuddleston@qmu.ac.uk]]></Value>
    </email>
    <extraInformation>
      <Value><![CDATA[]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Dr Sean Huddleston is a lecturer within Education at QMU.</p>]]></Value>
    </introduction>
    <linkedIn>
      <Value><![CDATA[]]></Value>
    </linkedIn>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Dr Sean Huddleston is a lecturer within Education at Queen Margaret University. I have been an educator for over twenty years. I have taught in the following sectors: primary, secondary, community, further and higher education.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Dr Sean Huddleston | PSE | Queen Margaret University]]></Value>
    </metaTitle>
    <position>
      <Value><![CDATA[Lecturer in Education]]></Value>
    </position>
    <qualifications>
      <Value><![CDATA[]]></Value>
    </qualifications>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <schoolDivision>
      <Value><![CDATA[umb://document/6e5272fa3f544060af877ca7f121f21c]]></Value>
    </schoolDivision>
    <shortTitle>
      <Value><![CDATA[Dr Sean Huddleston]]></Value>
    </shortTitle>
    <showTwitterBanner>
      <Value><![CDATA[0]]></Value>
    </showTwitterBanner>
    <surname>
      <Value><![CDATA[Huddleston]]></Value>
    </surname>
    <telephone>
      <Value><![CDATA[]]></Value>
    </telephone>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
    <type>
      <Value><![CDATA[[
  "Staff"
]]]></Value>
    </type>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>