<?xml version="1.0" encoding="utf-8"?>
<Content Key="47ac354b-d1fa-4bdf-a1e6-9a60870a1173" Alias="Ailbhe Lennon - Dip HE Hearing Aid Audiology" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/AilbheLennonDipHEHearingAidAudiology</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-04-08T16:36:06</CreateDate>
    <NodeName Default="Ailbhe Lennon - Dip HE Hearing Aid Audiology" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/2eadec04321d4d0aac0940a25dee3b0d]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c3c29cc63e954486882023edfa48c6a0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/c3c29cc63e954486882023edfa48c6a0",
      "image": "umb://media/33e2b1803b194e82b9d9dc490cc52b03",
      "title": "Ailbhe Lennon",
      "description": "Diploma in Higher Education in Hearing Aid Audiology",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p>Published 2017 - 2018</p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Ailbhe, who graduated with a Diploma in Higher Education in Hearing Aid Audiology from QMU in 2017, was the only Irish volunteer on the project, which fitted 1,806 Armenians with free hearing aids in just three days.</p>
<p><span>According to the World Health Organisation, more than 360 million people have disabling hearing loss. Unfortunately, less than three percent of these individuals can afford hearing aids or even have access to the care they need. The Starkey Hearing Foundation is working tirelessly to change this by building strong partnerships, empowering local teams and expanding their three-phase Community-Based Hearing HealthCare model around the world.</span></p>
<p><span>Ailbhe said: “Being part of the Starkey Hearing Foundation mission to Armenia was truly a once in a lifetime experience. The most incredible feeling in the world is giving the gift of hearing. </span></p>
<p><span>“One of the highlights of the mission was being able to fit an entire family with hearing aids, including a six-year-old boy, his mother, father and grandmother. The whole family had significant hearing loss and did not use any speech. They all used sign language to communicate.</span></p>
<p><span>“All Starkey Hearing Foundation volunteers like me are focused on one goal - to strive to ensure that the people we help have the support they need to reach their full potential, reconnect back to life and become self-determinant citizens of our world.”</span></p>
<p><span>Commenting on how she developed her interest in audiology and her studies at QMU, Ailbhe said: “Since I was a child, I always wanted to be a midwife. I did my leaving certificate, but I didn’t get the points I needed to advance into a midwifery course. Shortly after the leaving certificate, I got a job as a receptionist for a private hearing aid company. This is where my love for audiology began. </span></p>
<p><span>“I realised how crucial hearing aids are to people with hearing loss. I’m a people person and I loved being able to help the clients in any way possible. Four years had passed and the company I was working for offered to sponsor me through university. I jumped straight into researching universities that teach hearing aid audiology. There were no universities in Ireland offering this course, so I had to look further afield. I looked into about five universities in the UK and QMU stood out to me most. I loved the idea of Edinburgh, steeped in history and let’s not forget the beauty of it all.</span></p>
<p><span>“The community of QMU is very closely knit. Everyone is friendly and the University has a great atmosphere. There are so many support groups to help you with any area you may be struggling with. The teaching staff on the audiology course were incredible. They really go that extra mile and nothing is too big or too small for them to handle. </span></p>
<p><span>“I’d never been to university before I did this course. I was quite anxious about my first week at QMU, but I was extremely reassured when I met the teaching staff. They went out of their way to make sure we got the best outcome.</span></p>
<p>“One year on from graduating, I’m now a hearing aid audiologist. I absolutely adore helping the hard of hearing. It brings me so much joy when you can improve a person’s life in such a huge way.”</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[umb://media/f5dfeefb8b694b65a2682b8e8c8101c4]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Ireland]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/0f31b4e66870471f8b6579be222c7a76]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[Diploma in Higher Education in Hearing Aid Audiology]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Ailbhe Lennon]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[[]]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>QMU graduate joins hearing aid mission to Armenia</strong></p>
<p>QMU graduate, Ailbhe Lennon, 26, from the Republic of Ireland, has helped give people in Armenia ‘the gift of hearing’, thanks to a special mission run by <a href="https://www.starkeyhearingfoundation.org/" title="Starkey Hearing Foundation">The Starkey Hearing Foundation</a>.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[QMU graduate, Ailbhe Lennon, 26, from the Republic of Ireland, has helped give people in Armenia ‘the gift of hearing’, thanks to a special mission run by The Starkey Hearing Foundation.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Ailbhe Lennon | Diploma in Higher Education in Hearing Aid Audiology | Graduate Story | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[I’d never been to university before I did this course. I was quite anxious about my first week at QMU, but I was extremely reassured when I met the teaching staff. They went out of their way to make sure we got the best outcome.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Ailbhe Lennon]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Ailbhe Lennon]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Graduate"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>