<?xml version="1.0" encoding="utf-8"?>
<Content Key="481fdf7e-0ec8-46c1-bf03-883cf8b357b8" Alias="Teaching, learning and assessment - Joanna test page" Level="4">
  <Info>
    <Parent Key="269009e5-b5de-49f8-a6f7-69ec982db3ef">Current Students General Information</Parent>
    <Path>/Home/CurrentStudents/CurrentStudentsGeneralInformation/TeachingLearningAndAssessmentJoannaTestPage</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-09-03T09:36:48</CreateDate>
    <NodeName Default="Teaching, learning and assessment - Joanna test page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/51ae3889b758413fa1352001e43a990f]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0f18700f3d58457a9161ae0efb51f946"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/0f18700f3d58457a9161ae0efb51f946",
      "image": "umb://media/fe34a88be15f4b7c9bfc86249b88a5a0",
      "title": "Teaching, learning and assessment ",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead"><strong>Teaching and learning activities</strong></span></p>
<p>Our Teaching and Learning Activities are focused on building your confidence, developing your problem-solving skills and preparing you for a successful career. Here you can read about how much time you should expect to spend undertaking these activities for this course along with a general description of the activity for all courses.</p>
<ul>
<li><strong>Teaching: </strong>You are taught through a combination of lectures, seminars and in some cases practical workshops or laboratories. Seminars enable you to discuss and develop your understanding of topics covered in lectures in smaller groups.</li>
<li><strong>Independent Learning:</strong> When not attending lectures, seminars, practicals or other timetabled sessions you will be expected to continue learning independently through self-study. Typically, this will involve reading journal articles and books, working on individual and group projects, undertaking research in the Learning Resource Centre, preparing coursework assignments and presentations, and preparing for examinations. You independent learning is supported by a range of excellent facilities, including the Learning Resource Centre and the Hub.</li>
<li><strong>Placement:</strong> Courses with placements give you the opportunity to put what you are learning into practice and to observe and work with a wide range of individuals and groups of people in diverse settings. Some courses offer placement opportunities in the UK and overseas.</li>
</ul>
<p><span class="lead"><strong>Assessment Activities</strong></span></p>
<p>Assessment Activities provide you with opportunities to test your understanding of the subject and receive feedback on your performance. Here you can read about how much of your final mark is based on each type of formal assessment for this course along with a general description of the activity for all courses.</p>
<ul>
<li><strong>Exams:</strong> Assessment by written examinations normally takes place at the end of each module or semester, but they may also happen during modules.</li>
<li><strong>Coursework:</strong> Coursework assessments take place in a variety of ways, including assignments, essays, reports, portfolios, project output and your level 4 Honours project. We aim to provide you with feedback on your assessment within 20 working days of the submission date.</li>
<li><strong>Practical:</strong> Practical assessments can include oral presentations, performance, practical skills assessment, costume design and construction, film making, lab work or clinical practical skills depending on the nature of the course.</li>
</ul>
<p><strong>For information on learning, teaching and assessment for each course, please select the course from the list below.</strong></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/131835d6a7ad4b7ca27c34a66011a8c3"
      },
      {
        "contentUdi": "umb://element/ffb3733e392c448f88a3573230aa3755"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/131835d6a7ad4b7ca27c34a66011a8c3",
      "title": "BA/BA (Hons) Acting and Performance (Sept 2020 entry)",
      "content": "<p><strong>Teaching: </strong></p>\n<ul>\n<li>Year One: N/A</li>\n<li>Year Two: NA</li>\n<li>Year Three: 32%</li>\n<li>Year Four: 48%</li>\n</ul>\n<p><strong>Independent Learning:</strong> </p>\n<ul>\n<li>Year One: N/A</li>\n<li>Year Two: N/A</li>\n<li>Year Three: 68%</li>\n<li>Year Four: 52%</li>\n</ul>\n<p><strong>Placement:</strong> </p>\n<ul>\n<li>Year One: N/A</li>\n<li>Year Two: N/A</li>\n<li>Year Three: 0%</li>\n<li>Year Four: 0%</li>\n</ul>\n<p><strong>Exams:</strong> </p>\n<ul>\n<li>Year One: N/A</li>\n<li>Year Two: N/A</li>\n<li>Year Three: 0%</li>\n<li>Year Four: 0%</li>\n</ul>\n<p><strong>Coursework:</strong> </p>\n<ul>\n<li>Year One: N/A</li>\n<li>Year Two: N/A</li>\n<li>Year Three: 14%</li>\n<li>Year Four: 30%</li>\n</ul>\n<p><strong>Practical:</strong> </p>\n<ul>\n<li>Year One: N/A</li>\n<li>Year Two: N/A</li>\n<li>Year Three: 86%</li>\n<li>Year Four: 70%</li>\n</ul>\n<p> </p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/ffb3733e392c448f88a3573230aa3755",
      "title": "BA/BA (Hons) Business Management (Sept 2021 entry)",
      "content": "<p><strong>Teaching: </strong></p>\n<ul>\n<li>Year One: 16%</li>\n<li>Year Two: 15%</li>\n<li>Year Three: 15%</li>\n<li>Year Four: 12%</li>\n</ul>\n<p><strong>Independent Learning:</strong> </p>\n<ul>\n<li>Year One: 84%</li>\n<li>Year Two: 85%</li>\n<li>Year Three: 85%</li>\n<li>Year Four: 89%</li>\n</ul>\n<p><strong>Placement:</strong> </p>\n<ul>\n<li>Year One: 0%</li>\n<li>Year Two: 0%</li>\n<li>Year Three: 0%</li>\n<li>Year Four: 0%</li>\n</ul>\n<p><strong>Exams:</strong> </p>\n<ul>\n<li>Year One: 50</li>\n<li>Year Two: 10</li>\n<li>Year Three: 53%</li>\n<li>Year Four: 23%</li>\n</ul>\n<p><strong>Coursework:</strong> </p>\n<ul>\n<li>Year One: 18%</li>\n<li>Year Two: 72%</li>\n<li>Year Three: 62%</li>\n<li>Year Four: 40%</li>\n</ul>\n<p><strong>Practical:</strong> </p>\n<ul>\n<li>Year One: 32%</li>\n<li>Year Two: 18%</li>\n<li>Year Three: 15%</li>\n<li>Year Four: 7%</li>\n</ul>\n<p> </p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[[
  "Concertina"
]]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/7a6fd34341eb448c8f555fc6ce7e9b76]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Teaching, learning and assessment ]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[1]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[Right]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Here you can read about Teaching and Learning Activities and Assessment Activities. We believe this will give you a good indication of what the course will be like, but the exact balance of activities may differ depending on the academic year and on the modules you choose.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Information for current students at QMU including: exam timetables, examinations, exams, coursework submissions, how to access exam results and links to the HUB and Grademark.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Teaching, Learning and Assessment | Current Students | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Teaching, learning and assessment ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>