<?xml version="1.0" encoding="utf-8"?>
<Content Key="490ba547-e9e5-4a13-a251-092fb49d23db" Alias="QMU Division of Media, Communication and Performing Arts - Suggested Readings" Level="5">
  <Info>
    <Parent Key="b599fba3-0c54-443d-a3a2-9f8b7cc03e9b">New PDF conveted</Parent>
    <Path>/Home/DocumentMigrationAugust2022/Paul/NewPDFConveted/QMUDivisionOfMediaCommunicationAndPerformingArtsSuggestedReadings</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2023-02-07T16:08:01</CreateDate>
    <NodeName Default="QMU Division of Media, Communication and Performing Arts - Suggested Readings" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f961b2064511439299599bb53d41329e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/f961b2064511439299599bb53d41329e",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "QMU Division of Media, Communication and Performing Arts - Suggested Readings",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead">BA(Hons) Drama</span></p>
<p>Here’s a list of resources you will use throughout your studies at QMU.  Don’t worry if you can’t find or manage to read all these before September – this list isn’t meant to scare! However, if you can dip into at least a few of these, it will help you in your studies.</p>
<p>For students coming into 2<sup>nd</sup> year:</p>
<ul>
<li>Aston, E., Savona, G. (1991) Semiotics of performance. Theatre as Sign System: a semiotics of text and performance (Routledge)</li>
<li><span style="font-size: 14px;">Bloom, H. (1999) The Western Canon: The Books and School of the Ages (London: Penguin).</span></li>
<li><span style="font-size: 14px;">Brook, P. (1968) The Empty Space. (London: Penguin).</span></li>
<li><span style="font-size: 14px;">Carlson, M. (2017) Performance: A Critical Introduction Paperback, 3rd edition (London: Routledge).</span></li>
<li><span style="font-size: 14px;">Fischer-Lichte, E. 2014. The Routledge Introduction to Theatre and Performance Studies. Routledge.</span></li>
<li><span style="font-size: 14px;">Fischer-Lichte, E. 2002. History of European Drama and Theatre. Routledge.</span></li>
<li><span style="font-size: 14px;">Kershaw, B. 1992. The Politics of Performance Radical Theatre as Cultural Intervention. Routledge.</span></li>
<li><span style="font-size: 14px;">Findlay, B (ed) 1996. A History of Scottish Theatre. Polygon.</span></li>
<li><span style="font-size: 14px;">Schechner, R. (2013) Performance Studies: An Introduction, 3rd edition (London: Routledge).</span></li>
</ul>
<p><span class="lead">BA (Hons) Film &amp; Media</span></p>
<p>Welcome to Film and Media at QMU. We're looking forward to getting to know you in September and hope your transition to University will be smooth and enjoyable.  </p>
<p>If you're looking to do some preparatory work over the Summer, there are plenty of good books to help you get up to speed with the subject, but here are a few good online resources for you to have a look at:</p>
<ul>
<li><a href="https://filmstudiesforfree.blogspot.com/" title="Film Studies for Free Blog spot">Film Studies for Free</a> </li>
<li><a href="http://www.davidbordwell.net/blog/" title="David Bordwell's Blog">David Bordwell's Blog</a></li>
</ul>
<div class="mceNonEditable embeditem" data-embed-url="https://www.youtube.com/watch?v=PRXI__Wixas&amp;list=PLJGOq3JclTH8J73o2Z4VMaSYZDNG3xeZ7" data-embed-height="439" data-embed-width="915" data-embed-constrain="true"><iframe width="780" height="439" src="https://www.youtube.com/embed/PRXI__Wixas?list=PLJGOq3JclTH8J73o2Z4VMaSYZDNG3xeZ7" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe></div>
<p>Lindsay Ellis, Film Studies through the lens of Transformers </p>
<p>In the meantime, keep watching, making and thinking about media on your own, and we'll see you soon!<span class="Apple-converted-space"> </span></p>
<p><span class="lead">BA (Hons) Media &amp; Communications</span></p>
<p>TBC</p>
<p><span class="lead">BA (Hons) PR &amp; Marketing Communications</span></p>
<p>Hello and welcome to QMU. We are a small friendly team who are looking forward to meeting you virtually at the Coming from College induction session in July and then in person in September. </p>
<p>If you are studying <strong>PR and Marketing Communications, </strong>we have a busy and exciting year planned for you. If you would like to do a bit of pre-reading over the summer then a good place to start and texts you may already be familiar with are:    </p>
<ul>
<li>TENCH, R. &amp; YEOMANS, L., eds. 2017. Exploring Public Relations. Harlow: Pearson.  </li>
<li>THEAKER, A., ed. 2016. Public Relations Handbook.  London: Routledge</li>
</ul>
<p>Earlier versions are also available and fine too and you may also be able to access the e-books.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU Division of Media, Communication and Performing Arts - Suggested Readings]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead">QMU Division of Media, Communication and Performing Arts</span></p>
<p><strong>Suggested Readings</strong></p>
<p>Please remember these are suggestions – don’t worry if you cannot access everything on this list.  We are offering these in case you want to get a head start, or even just want to brush up your knowledge over the summer.  Don’t rush out and buy everything – most resources will be available in the Library or online.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU Division of Media, Communication and Performing Arts - Suggested Readings]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>