<?xml version="1.0" encoding="utf-8"?>
<Content Key="495f0861-075e-460a-850e-c7bf4315d569" Alias="Making the most of a UCAS exhibition" Level="5">
  <Info>
    <Parent Key="4743b67d-7ab2-46b1-b78f-e12be477cd4e">Staff - QMU Recruitment and Admissions Team</Parent>
    <Path>/Home/CampusLife/Blogs/StaffQMURecruitmentAndAdmissionsTeam/MakingTheMostOfAUCASExhibition</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2021-01-28T20:55:51</CreateDate>
    <NodeName Default="Making the most of a UCAS exhibition" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65102975-f5a6-47bf-9418-b0e82dc7c288">BlogPost</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/bd5bcbbc8405433db3e09a339fd0c9ad]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7d93bb4ccec54d6fa1f18b4ee41b48e9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/7d93bb4ccec54d6fa1f18b4ee41b48e9",
      "image": "umb://media/5ef157bfffd54e27bc4a8b3d15d07c7e",
      "title": "",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p>If there’s an exhibition in your local area, your school or college might be attending, make sure to check with your guidance teacher to see if your school is going. If your school or college isn’t registered to attend as a group, you can also register to attend as an individual.</p>
<p> </p>
<p><strong>Top tips</strong></p>
<p>When you get there, it can all seem to go by very quickly, so here are Queen Margaret University’s (QMU) top tips for making the most of a UCAS exhibition:</p>
<p><strong>Make a plan</strong></p>
<ul>
<li>If you know what you want to study, do some research about which universities offer courses around that subject.</li>
<li>The list of exhibitioners will be available on the UCAS exhibition event page so you can find out which of the universities attending offers your course.</li>
</ul>
<p><strong>Prepare questions</strong></p>
<ul>
<li>Write down some questions about things that are important to you when considering a university. University reps will tell you the basics, entry requirements and so on, and then they will ask you if you have any questions. So make sure you do!</li>
<li>Think about things like: Location of the university, do they have accommodation on-campus or off-campus? Do you have a specific hobby and want to continue it at university (e.g. swimming, running, and gymnastics), does the university have the facilities to allow this? Do you want to do a placement during your course? Do you want to study a professionally accredited course? These are just some suggestions, for more ideas, there will be more at the bottom of this blog post!</li>
</ul>
<p><strong>Do your own thing</strong></p>
<ul>
<li>Go to the stands you want to go to. Don’t worry about what others might think about the stalls you want to visit. Don’t follow your friends around the exhibition hall.</li>
<li>Branch out and make sure you go and visit all the stands you want to visit. This might be one of the only opportunities you have to speak to a university representative face to face before you apply for university!</li>
</ul>
<p><strong>Bring a bag</strong></p>
<ul>
<li>You will be given LOTS of freebies, so make sure you bring a bag with you.</li>
<li>Universities will give you a prospectus which contains all the information you need to know about the university and the courses they offer.</li>
<li>They might also give you some freebies like pens, water bottles, headphones, sunglasses, post-it notes and so on. You’ll end up with hundreds of pens!<br /><br /></li>
</ul>
<p><strong>Attend a presentation</strong></p>
<ul>
<li>UCAS put on a series of presentations throughout the exhibition, these presentations give you the chance to gain some valuable information about applying to university, writing your personal statement and student finance or funding.</li>
</ul>
<p><br />If you’re thinking about studying at QMU, find our stand at your local UCAS exhibition and ask us any questions you might have! </p>
<p>A list of events we’re attending in 2019 can be found <a href="/news-and-events/events-listing/">here.</a></p>
<p> </p>
<p><strong>Good questions to ask at UCAS events</strong></p>
<ul>
<li>Where is the university located? Does it have good transport links?</li>
<li>Where is the university accommodation? Is it on-campus or off-campus? How close is it to the university?</li>
<li>What facilities does the university have? Sports facilities? Student Union? Library?</li>
<li>Does the university offer placements for the course? Is your course professionally accredited?</li>
<li>Does the university rank well for your course of interest?</li>
<li>Does the university have upcoming open days?</li>
<li>If you’re eligible for contextual admissions, ask the university about their contextual admissions policy.</li>
</ul>
<p>We look forward to meeting you at the stand!</p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[2019-02-12T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Making the most of a UCAS exhibition ]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Going to a UCAS exhibition can be an overwhelming experience. The events are bustling, with lots of stands full of Higher Education providers, employers and funding bodies there to answer your every question. So, if you’re not thinking about university just yet, don’t worry. UCAS exhibitions often have colleges and employers there too!</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Going to a UCAS exhibition can be an overwhelming experience. The events are bustling, with lots of stands full of Higher Education providers, employers and funding bodies there to answer your every question. So, if you’re not thinking about university just yet, don’t worry. UCAS exhibitions often have colleges and employers there too!  If there’s an exhibition in your local area, your school or college might be attending, make sure to check with your guidance teacher to see if your school is going. If your school or college isn’t registered to attend as a group, you can also register to attend as an individual. When you get there, it can all seem to go by very quickly, so here are Queen Margaret University’s (QMU) top tips for making the most of a UCAS exhibition.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Making the most of a UCAS exhibition ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Making the most of a UCAS exhibition ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>