<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a41519c-4b82-4bc1-af61-abd68e364f7d" Alias="Joe Denholm - GDip Integrated Community Nursing" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/JoeDenholmGDipIntegratedCommunityNursing</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-05-18T16:32:05</CreateDate>
    <NodeName Default="Joe Denholm - GDip Integrated Community Nursing" />
    <SortOrder>84</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/5d8fb16a3399435994184263d432a403]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/43b9eb1ef9bf41bbb277cb80a7f020d6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/43b9eb1ef9bf41bbb277cb80a7f020d6",
      "image": "umb://media/970d2e1e951d41b4a34d9bc7b03ddae7",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead lead-big">About you</span></p>
<p><span class="lead">Why did you choose to study at Queen Margaret University (QMU)?</span></p>
<p>I work for NHS Tayside and through the National Health Service Education for Scotland (NES), my organization had the opportunity to undertake this course at QMU. That being said, the fact that QMU is known to have a prestigious school of Nursing was also attractive.</p>
<p><span class="lead">What interested you about your chosen course?</span></p>
<p>I love working as a community nurse, so I was very excited when an opportunity to improve my knowledge and skills presented itself.</p>
<p><span class="lead-big">The Course</span></p>
<p><span class="lead">What have you most enjoyed about your course? What has been the highlight?</span></p>
<p> I have enjoyed connecting with community nurses across Scotland, from many different health boards. It was interesting to learn how similar our experiences are in healthcare and learning from one another has been insightful. My highlight though, would be the focus of the courses on person-centered ways of working. I have found that this has changed my outlook and its application to my practice has improved the services I provide to my patients. It has also made me feel more competent as a nurse.</p>
<p><span class="lead">Have you participated in a course activity you found especially interesting?</span></p>
<p>I liked developing a learning plan that took account of my own personhood. I felt I learned a lot about myself and who I am as a nurse.</p>
<p><span class="lead">How have your lecturers supported your learning?</span></p>
<p>I think it has been challenging for lecturers and students this year due to restrictions imposed by the COVID pandemic. I had a Personal Academic Tutor who used innovative ways to support us purely through online means. There was ample opportunity for meetings to discuss anything I was worried about and she always replied to my countless emails when I had a query.</p>
<p><span class="lead">What have been some of your challenges with the course and university life? How have you overcome them?</span></p>
<p>It’s that work/study/life balance that was difficult at first. The course is part time but there is an expectation that study will be done in your own time. I work 37.5 hours a week and receive only a little time off to study, but there is always more studying to do than meets the eye! I think I overcame these challenges when I started to experience how applicable the course content was to my career. I became more invested in the course content and became hungry for more knowledge as it was making my job easier by making me a better nurse.</p>
<p><span class="lead">Do you have any advice for students who might be interested in applying for this course?</span></p>
<p>District Nursing services are changing. Long term conditions are more prolific and they way we care for patients in the community is changing. This course prepares you for the ever-changing environment of primary care and in turn improves your competence as a nurse. It is an exciting time to work in primary care. Take every opportunity you can to be your best self.</p>
<p><span class="lead-big">The student experience</span></p>
<p><span class="lead">What’s your ‘top tip’ for making the most of being a student?</span></p>
<p>Engage with the course content on the QMU hub as much as possible. Find what ways of learning work for you. I personally liked educational videos the best!</p>
<p><span class="lead">What has been the most valuable lesson that you’ve learned at university?</span></p>
<p>You can’t eat an elephant whole. Take it a bite at a time.</p>
<p><span class="lead-big">After QMU</span></p>
<p><span class="lead">What are you plans after graduation? Tell us about your ambitions and where you see yourself in the future?</span></p>
<p>My ambition is to become a District Nurse.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Scotland]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/fbcc8dd47b01483ebe1be36376f5830a]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[GDip Integrated Community Nursing]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Joe Denholm]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Joe Denholm is from Doune, Scotland and is studying for his Graduate Diploma in Integrated Community Nursing at Queen Margaret University, Edinburgh]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Joe Denholm | Student Stories | Queen Margaret University]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[This course prepares you for the ever-changing environment of primary care and in turn improves your competence as a nurse. It is an exciting time to work in primary care. Take every opportunity you can to be your best self.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Joe Denholm]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Joe Denholm]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Student"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>