<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c61685a-be3f-4795-9037-78d7405e9a72" Alias="Make 2024 Your Year" Level="4">
  <Info>
    <Parent Key="49d44faa-2821-428f-a244-a43007d8de10">Postgraduate Study</Parent>
    <Path>/Home/StudyHere/PostgraduateStudy/Make2024YourYear</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-11-17T15:56:18</CreateDate>
    <NodeName Default="Make 2024 Your Year" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/d2b6eb1a855a4521b516a2fdf9fbd308]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/17c74d6216a04c86b6a8ccb8914a59ff"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/17c74d6216a04c86b6a8ccb8914a59ff",
      "image": "umb://media/fb74a13322b346bf89aa65f3405abbc4",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead-big">Advancing Practice in Health Framework</span></p>
<table border="1" style="height: 126px; width: 695px; border-collapse: collapse;">
<tbody>
<tr>
<th style="width: 100%;">Advancing Practice in Health Framework</th>
</tr>
<tr>
<td style="width: 100%;"><a href="/{localLink:umb://document/eb486691fa9d4deea0e08d2b1da654a7}" title="MSc/PgDip/PgCert Advancing Practice in Health (Advancing Practice in Health Framework)">MSc/PgDip/PgCert Advancing Practice in Health</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 100%; height: 21px;"><a href="/{localLink:umb://document/1f0d173177094947a18376612cd81add}" title="MSc/PgDip Advancing Practice in Dietetics (Advancing Practice in Health Framework)" data-udi="umb://document/95c951276d8040cf9b6bfee05bd0aa73">MSc/ PgDip Advancing Practice in Dietetics</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 100%; height: 21px;"><a href="/{localLink:umb://document/fa6e4516ce4e49fcb6561c5857d87fb9}" title="MSc/PgDip Advancing Practice in Medical Imaging (Advancing Practice in Health Framework)" data-udi="umb://document/6c6eee40da3a4239a5410b451e7eb380">MSc/ PgDip Advancing Practice in Medical Imaging</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 100%; height: 21px;"><a href="/{localLink:umb://document/d34b08f76a11483d9ae912968d5575d5}" title="MSc/PgDip Advancing Practice in Physiotherapy (Advancing Practice in Health Framework)" data-udi="umb://document/40376cdbe1404458ae01841d17dcd0e8">MSc Advancing Practice in Physiotherapy</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 100%; height: 21px;"><a href="/{localLink:umb://document/273688ba849b428ba879802392a42762}" title="MSc/PgDip Advancing Practice in Podiatry (Advancing Practice in Health Framework)" data-udi="umb://document/a1fc799b4aa34b658d4afe45590ef8b2">MSc Advancing Practice in Podiatry</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 100%; height: 21px;"><a href="/{localLink:umb://document/1496609853b14006bf0f313306346555}" title="MSc/PgDip Advancing Practice in Radiotherapy (Advancing Practice in Health Framework)" data-udi="umb://document/d676611a80b649a6b40b7dfd41845577">MSc Advancing Practice in Radiotherapy</a></td>
</tr>
</tbody>
</table>
<p><span class="lead-big">Arts and Creative Industries</span></p>
<table border="1" style="height: 110px; width: 695px; border-collapse: collapse;">
<tbody>
<tr>
<th style="width: 100%;">Arts and Creative Industries</th>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;"><a data-id="9306" href="/{localLink:umb://document/12e55d56ffc241738df33b57e47ea8c0}" title="MA Arts, Festival and Cultural Management" data-udi="umb://document/320c5a385bc64dffbdaac7d0797c5545">MA Arts, Festival and Cultural Management </a> </td>
</tr>
<tr>
<td style="width: 100%;"><a href="/{localLink:umb://document/9a1ee31d63e543678ebb5a9227313aad}" title="PgCert Arts Management">PgCert Arts Management </a>- Currently only available to home students. <a href="/{localLink:umb://document/aa612a7d654c4534ae1d15fe1fbf3994}" title="PgCert Courses 2024">Funding available - find out if you're eligible. </a></td>
</tr>
<tr style="height: 46px;">
<td style="width: 100%; height: 46px;">
<p><a href="/{localLink:umb://document/00a71223a67c42df90aeeb8686f8d0ef}" title="MA/PgDip/PgCert Applied Arts and Social Practice">MA Applied Arts and Social Practice</a></p>
</td>
</tr>
<tr>
<td style="width: 100%;">
<p><a href="/study-here/postgraduate-study/2023/pgcert-applied-arts/">PgCert Applied Arts</a> - Currently only available to home students. <a href="/{localLink:umb://document/aa612a7d654c4534ae1d15fe1fbf3994}" title="PgCert Courses 2024">Funding available - find out if you're eligible. </a></p>
</td>
</tr>
</tbody>
</table>
<p><span class="lead lead-big">Business</span></p>
<table border="1" style="height: 54px; width: 695px; border-collapse: collapse;">
<tbody>
<tr>
<th style="width: 100%;">Business</th>
</tr>
<tr>
<td style="width: 100%;"><a href="/{localLink:umb://document/f29283a49e5a4ebebdb9430af4c68148}" title="MSc Accounting and Finance with CIMA">MSc Accounting and Finance with CIMA</a></td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;"><a href="/{localLink:umb://document/3db6a443d8c546c09645a6bba22ecec6}" title="MSc/PgCert International Marketing">MSc International Marketing</a></td>
</tr>
<tr>
<td style="width: 100%;"><a href="/{localLink:umb://document/3db6a443d8c546c09645a6bba22ecec6}" title="MSc/PgCert International Marketing">PgCert International Marketing </a> - Currently only available to home students. <a href="/{localLink:umb://document/aa612a7d654c4534ae1d15fe1fbf3994}" title="PgCert Courses 2024">Funding available - find out if you're eligible. </a> Look out for possible updates for international students.</td>
</tr>
<tr>
<td style="width: 100%;"><a href="/{localLink:umb://document/e76c479a726949a08f4dc040905199a4}" title="MSc/PgCert International Management and Leadership">MSc International Management and Leadership</a></td>
</tr>
<tr>
<td style="width: 100%;"><a href="/{localLink:umb://document/e76c479a726949a08f4dc040905199a4}" title="MSc/PgCert International Management and Leadership">PgCert International Management and Leadership</a> - Currently only available to home students. <a href="/{localLink:umb://document/aa612a7d654c4534ae1d15fe1fbf3994}" title="PgCert Courses 2024">Funding available - find out if you're eligible</a>. Look out for possible updates for international students.</td>
</tr>
</tbody>
</table>
<p><span class="lead lead-big">Education</span></p>
<table border="1" style="height: 54px; width: 695px; border-collapse: collapse;">
<tbody>
<tr>
<th style="width: 100%;">Education</th>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;"><a href="/{localLink:umb://document/00bc47895e1342b4a6ce9038763142a7}" title="e-PgCert Professional and Higher Education">ePgCert Professional and Higher Education</a></td>
</tr>
</tbody>
</table>
<p><span class="lead lead-big">Institute for Global Health and Development (IGHD)</span></p>
<table border="1" style="height: 103px; width: 695px; border-collapse: collapse;">
<tbody>
<tr style="height: 78px;">
<th style="width: 100%; height: 78px;">Institute for Global Health and Development (IGHD)</th>
</tr>
<tr style="height: 21px;">
<td style="width: 100%; height: 21px;">​<a href="/{localLink:umb://document/750fe465960741bfbdbbf07c77f25c11}" title="PgCert Health Interventions in Fragile and Conflict-Affected Settings" data-udi="umb://document/466b164064d54f9bb9ff1d7577f93e5a">PgCert Health Interventions in Fragile and Conflict-Affected Settings​</a></td>
</tr>
</tbody>
</table>
<p><span class="lead lead-big">Media, Communications and Public Relations</span></p>
<table border="1" style="height: 139px; width: 695px; border-collapse: collapse;">
<tbody>
<tr style="height: 18px;">
<th style="width: 519px; height: 18px;">Media, Communications and Public Relations</th>
</tr>
<tr style="height: 18px;">
<td style="width: 519px; height: 18px;"><a href="/{localLink:umb://document/7633c55c75f248f79dac03cf041dfda4}" title="MSc Digital Campaigning and Content Creation">MSc Digital Campaigning and Content Creation</a></td>
</tr>
<tr style="height: 18px;">
<td style="width: 519px; height: 18px;"><a href="/{localLink:umb://document/6fad4dc7de91443aa0a55f17f99478da}" title="MSc Media, Management and the Creative Industries">MSc Media, Management and the Creative Industries</a></td>
</tr>
<tr style="height: 18px;">
<td style="width: 519px; height: 18px;"><a href="/{localLink:umb://document/1699081f760544b1bb7b8dce51aacf84}" title="MSc Political Communication and Public Affairs">MSc Political Communication and Public Affairs</a></td>
</tr>
<tr style="height: 18px;">
<td style="width: 519px; height: 18px;"><a href="/{localLink:umb://document/247f406372bb45a69fb0316856d51005}" title="MSc Strategic Communication and Public Relations">MSc Strategic Communication and Public Relations</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 519px; height: 21px;">​<a href="/{localLink:umb://document/a75d4a73908e4adea006a9867485b6ae}" title="PgCert Strategic Communication and Public Relations" data-udi="umb://document/466b164064d54f9bb9ff1d7577f93e5a">PgCert Strategic Communication and Public Relations</a> - Only available to home students. <a href="/{localLink:umb://document/aa612a7d654c4534ae1d15fe1fbf3994}" title="PgCert Courses 2024">Funding available - find out if you're eligible. </a></td>
</tr>
</tbody>
</table>
<p><span class="lead lead-big">Person-Centred Practice in Health</span></p>
<table border="1" style="height: 152px; width: 695px; border-collapse: collapse;">
<tbody>
<tr style="height: 17px;">
<th style="width: 100%; height: 17px;">Person-Centred Practice in Health</th>
</tr>
<tr style="height: 21px;">
<td style="width: 100%; height: 21px;"><a href="/{localLink:umb://document/01605b2a9f634426ae3a990f06ce0d93}" title="MSc/PgDip/PgCert Person-Centred Practice" data-udi="umb://document/bba2f2b117ae49b5b5e8a4b7c84aee81">MSc Person-Centred Practice​</a></td>
</tr>
<tr>
<td style="width: 100%;"><a href="/study-here/postgraduate-study/2023/msc-pgdip-pgcert-person-centred-practice-palliative-care/">MSc </a><a href="/study-here/postgraduate-study/2023/msc-pgdip-pgcert-person-centred-practice-palliative-care/">Palliative Care (</a><a href="/study-here/postgraduate-study/2023/msc-pgdip-pgcert-person-centred-practice-palliative-care/">Person-Centred Practice)</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 100%; height: 21px;"><a href="/{localLink:umb://document/e238bacdc17446f39dc57ed45d84a874}" title="MSc/PgDip Person-Centred Practice (Public Health and Wellbeing)" data-udi="umb://document/b7cad685582b42fca6641c5ac9cdd474">MSc </a><a href="/{localLink:umb://document/e238bacdc17446f39dc57ed45d84a874}" title="MSc/PgDip Person-Centred Practice (Public Health and Wellbeing)" data-udi="umb://document/b7cad685582b42fca6641c5ac9cdd474">Public Health &amp; Wellbeing</a><a href="/{localLink:umb://document/e238bacdc17446f39dc57ed45d84a874}" title="MSc/PgDip Person-Centred Practice (Public Health and Wellbeing)" data-udi="umb://document/b7cad685582b42fca6641c5ac9cdd474"> (Person-Centred Practice)</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 100%; height: 21px;"><a href="/{localLink:umb://document/4c42bd4711154f4c871c79fdf9abe6e6}" title="PgCert Person-Centred Practice (Advanced Forensic Nursing Practice)" data-udi="umb://document/9c5e93e9f67049209d589f68e65a67fb">PgCert </a><a href="/{localLink:umb://document/4c42bd4711154f4c871c79fdf9abe6e6}" title="PgCert Person-Centred Practice (Advanced Forensic Nursing Practice)" data-udi="umb://document/9c5e93e9f67049209d589f68e65a67fb">(Advanced Forensic Nursing</a><a href="/{localLink:umb://document/4c42bd4711154f4c871c79fdf9abe6e6}" title="PgCert Person-Centred Practice (Advanced Forensic Nursing Practice)" data-udi="umb://document/9c5e93e9f67049209d589f68e65a67fb"> (Person-Centred Practice) </a></td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;"><a href="/{localLink:umb://document/9f61b3d3ff544ceab429aea4a4c43a19}" title="MSc/PgDip/PgCert Person-Centred Practice (Advancing Care Home Practice)" data-udi="umb://document/d2641f015cc2441b9deba84a11bdee8a">MSc </a><a href="/{localLink:umb://document/9f61b3d3ff544ceab429aea4a4c43a19}" title="MSc/PgDip/PgCert Person-Centred Practice (Advancing Care Home Practice)" data-udi="umb://document/d2641f015cc2441b9deba84a11bdee8a">Advancing Care Home Practice</a><a href="/{localLink:umb://document/9f61b3d3ff544ceab429aea4a4c43a19}" title="MSc/PgDip/PgCert Person-Centred Practice (Advancing Care Home Practice)" data-udi="umb://document/d2641f015cc2441b9deba84a11bdee8a"> (Person-Centred Practice</a>)</td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;"><a href="/{localLink:umb://document/4fa0a2373a89446c946c20dd6ab5af4b}" title="PgDip Person-Centred Practice (Health Visiting)">PgDip </a><a href="/{localLink:umb://document/4fa0a2373a89446c946c20dd6ab5af4b}" title="PgDip Person-Centred Practice (Health Visiting)">Health Visiting</a><a href="/{localLink:umb://document/4fa0a2373a89446c946c20dd6ab5af4b}" title="PgDip Person-Centred Practice (Health Visiting)"> (Person-Centred Practice</a>)</td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;"><a href="/{localLink:umb://document/249dcb63f0b7455c9576c6dd0d9c137c}" title="PgDip Person-Centred Practice (School Nursing)">PgDip </a><a href="/{localLink:umb://document/249dcb63f0b7455c9576c6dd0d9c137c}" title="PgDip Person-Centred Practice (School Nursing)">School Nursing</a> (<a href="/{localLink:umb://document/249dcb63f0b7455c9576c6dd0d9c137c}" title="PgDip Person-Centred Practice (School Nursing)">Person-Centred Practice)</a></td>
</tr>
<tr>
<td style="width: 100%;"><a href="/{localLink:umb://document/8e5116d95f9c4611aa21c106e2d2a9fc}" title="Independent and Supplementary Prescribing for Healthcare Professionals">Independent and Supplementary Prescribing (single module)</a></td>
</tr>
</tbody>
</table>
<p><span class="lead lead-big"><strong>Pre-Registration Health Courses</strong></span></p>
<table border="1" style="width: 695px; border-collapse: collapse;">
<tbody>
<tr>
<th style="width: 510px;"><strong>Pre-Registration Health Courses </strong></th>
</tr>
<tr>
<td style="width: 510px;"><a href="/{localLink:umb://document/de974fae848b4bb0b56e4c9aa15381c0}" title="MSc Physiotherapy (Pre-Registration)">MSc Physiotherapy (Pre-Registration)</a> - NB Application for the January 2024 entry is now closed.</td>
</tr>
</tbody>
</table>
<p><span class="lead lead-big"><strong>Post-Registration Course for Health Professionals and Social Care Practitioners</strong></span></p>
<table border="1" style="height: 111px; width: 695px; border-collapse: collapse;">
<tbody>
<tr style="height: 18px;">
<th style="width: 100%; height: 18px;"><strong>Post-Registration Course for Health Professionals and Social Care Practitioners</strong></th>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;"><a href="/{localLink:umb://document/0544f03b81884dc6ac0e568a098505a2}" title="PgCert Breast Ultrasound">PgCert Breast Ultrasound</a></td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;"><a href="/{localLink:umb://document/ad6cf821af0b4df393a0c1b8628980bc}" title="MSc Cognitive Behavioural Therapy">MSc Cognitive Behavioural Therapy</a></td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;"><a href="/{localLink:umb://document/d70c35833ffb4c1a9d5673e52163d351}" title="HE Cert Mammography">HECert Mammography</a></td>
</tr>
<tr style="height: 21px;">
<td style="width: 100%; height: 21px;"><a href="/{localLink:umb://document/55c4a23d999a463d80bbae4e6d52fed4}" title="MSc Theory of Podiatric Surgery">MSc Theory of Podiatric Surgery</a></td>
</tr>
</tbody>
</table>
<p>If you are interested in a particular course for entry in January 2024 and it is not listed here, please email <a href="mailto:admissions@qmu.ac.uk" title="Email Admissions at QMU">admissions@qmu.ac.uk</a> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[[
  "Tabs"
]]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/85ab5e7c99d34ffbb116327d9177a381]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Let's make 2024 your year! Begin a postgraduate course this January.]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[1]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[Left]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">What better way to start the new year than by enrolling in one of our postgraduate courses?</span></p>
<p>With QMU you can go far. Postgraduate study with us can help you climb the career ladder in your current profession, or allow you to change profession, or can be the foundation for an academic career. All our postgraduate courses aim to be professionally and socially relevant to the world we live in and are focused on developing and enhancing your skills and career options.</p>
<p>Listed on this page are course with a January 2024 start date. This page is continuously updated and further courses may be added. </p>
<p>Thanks to support from the Scottish Government's Upskilling fund we have a <a href="/{localLink:umb://document/aa612a7d654c4534ae1d15fe1fbf3994}" title="PgCert Courses 2024">number of funded places for applicants wishing to commence a Postgraduate Certificate in some courses</a> starting in January 2024. </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Postgraduate study at QMU can help you climb the career ladder in your current profession, can allow you to change profession, or can be the foundation for an academic career. Let's make 2024 your year! Begin a postgraduate course this January.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Postgraduate Courses Starting January 2024 | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fafd9d359b0a32f5a39dc713d8557f50"
      },
      {
        "contentUdi": "umb://element/44a49dc7867f3ec1828b375ddd027b0f"
      },
      {
        "contentUdi": "umb://element/7a65ced8c0cf3c6fa45f1b30dbd18e9b"
      },
      {
        "contentUdi": "umb://element/9c8919fec8e130458d7a90a14fac9d30"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9eed20a0-b3f3-47c8-8fae-82f763de3e32",
      "udi": "umb://element/fafd9d359b0a32f5a39dc713d8557f50",
      "title": "",
      "usefuls": [
        {
          "icon": "icon-umb-content color-indigo",
          "name": "Funded PgCert Course Places January 2024",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/1d5354c77a4442fbba0703b3eff92c28",
          "url": "/study-here/postgraduate-study/pgcert-courses-2024/"
        },
        {
          "icon": "icon-layout color-indigo",
          "name": "Postgraduate Study at QMU",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/49d44faa2821428fa244a43007d8de10",
          "url": "/study-here/postgraduate-study/"
        },
        {
          "icon": "icon-umb-content color-indigo",
          "name": "Postgraduate Funding",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/76213294d5cd485fa1723ccb1c813ca2",
          "url": "/study-here/fees-and-funding/postgraduate-funding/"
        },
        {
          "icon": "icon-layout color-indigo",
          "name": "Campus Life",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/512d9a6851014deba4973b51445a2335",
          "url": "/campus-life/"
        }
      ],
      "useDarkTheme": "0"
    },
    {
      "contentTypeKey": "9eed20a0-b3f3-47c8-8fae-82f763de3e32",
      "udi": "umb://element/44a49dc7867f3ec1828b375ddd027b0f",
      "title": "Opportunities to Meet Us",
      "usefuls": [
        {
          "icon": "icon-link",
          "name": "Postgraduate Open Evening",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": null,
          "url": "https://www.qmu.ac.uk/news-and-events/news/2017/20171109-postgraduate-open-evening/"
        },
        {
          "icon": "icon-umb-content color-indigo",
          "name": "Web Chat Sessions",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/d4c167e2e84048a2b1f84e1b9d0efbff",
          "url": "/open-days-and-meeting-us/web-chat-sessions/"
        }
      ],
      "useDarkTheme": "1"
    },
    {
      "contentTypeKey": "29342589-f80e-4c67-8716-a18c67020449",
      "udi": "umb://element/7a65ced8c0cf3c6fa45f1b30dbd18e9b",
      "link": "umb://document/d2602f39c6e94ef5bdc6d248e1182766"
    },
    {
      "contentTypeKey": "29342589-f80e-4c67-8716-a18c67020449",
      "udi": "umb://element/9c8919fec8e130458d7a90a14fac9d30",
      "link": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[Useful Links]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Make 2024 Your Year]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>