<?xml version="1.0" encoding="utf-8"?>
<Content Key="4eb9246a-ae32-41ee-89c9-f3cce7b076e9" Alias="2023..05.10 Mentors who help transform student career opportunities are celebrated at QMU award ceremony" Level="5">
  <Info>
    <Parent Key="641ab208-3ab5-4b3f-a75a-7553004cafff">2023</Parent>
    <Path>/Home/NewsAndEvents/News//MentorsWhoHelpTransformStudentCareerOpportunitiesAreCelebratedAtQMUAwardCeremony</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-05-10T10:55:34</CreateDate>
    <NodeName Default="2023..05.10 Mentors who help transform student career opportunities are celebrated at QMU award ceremony" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/6506bb57a82e461581cfca8ff1f11fb8]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6e52b61060714c0b8239d52cf03c3902"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/6e52b61060714c0b8239d52cf03c3902",
      "image": "umb://media/e5d42118be41444687c894c9905f3b11",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span>The Employer Mentoring Programme award ceremony saw students and mentors enjoy a celebratory networking evening which provided the opportunity to pay tribute to the wonderful mentors who have taken time out of their busy lives to support, nurture and guide students as they prepare to launch careers in their chosen field. </span> </p>
<p><span>The Employer Mentoring Programme is a scheme that offers third and fourth-year undergraduate students the opportunity to shadow a professional from a field they are interested in. By meeting with their mentor, </span><span>students </span><span>can build relationships with professionals in </span><span>their chosen specialist area, develop skills to improve their employability and gain invaluable insights into a specific role or sector. </span><span>Mentors are given the opportunity to give back to the next generation of professionals, share their knowledge and experience and develop important working relationships with talented students </span><span>who are preparing to transition from university into the world of work.</span> </p>
<p><span>This year's Employer Mentoring Programme paired up students with professionals from industries as varied as the Scottish Government, the RSPB and the Royal Lyceum Theatre. </span> </p>
<p><span>Sharon May, Director of Creative Learning at the Royal Lyceum Theatre and QMU graduate, told us why she decided to sign up and become a mentor: “I’ve always been interested in mentoring. I was the first person in my family to get qualifications at 16, the first to go to university and the first to get </span><span>a master’s degree.</span><span> I think I would’ve really appreciated having a mentor during that time in my life. Having support from people wi</span><span>th industry experience while at university would have been hugely valuable. Now, I have the opportunity to give something back and to hopefully help the next generation to succeed when it is their time.</span> </p>
<p><span>“Working with a student just starting their career has been fascinating. The person I have been working with is just about to graduate and has all these ideas about what they want to do. Helping them focus their goals into a plan was great. I also learned a lot during the process. My mentee and I had a great relationship and I hope to stay in touch to find out how they are doing in the future.</span> </p>
<p><span>“If you do well in your career, I do think you have a responsibility to the people who come after you. So, I would encourage anyone interested in becoming a mentor to give it a go.”</span> </p>
<p><span>Q</span><span>MU </span><span>s</span><span>tu</span><span>dent Lisa Rauschmayer, mentee of the year candidate, said: “Since I moved from Austria to the UK, I have taken every opportunity I could to connect more with the people around me. The chance to meet people in senior roles at important institutions has been fantastic. My mentor is the Head of Strategic Communications with the Scottish Government and the opportunity to ask him questions has been incredible.</span> </p>
<p><span>“I had a really good mentor. The knowledge and experience he has</span><span>, but also the empathy and warmth he brought to me as a mente</span><span>e, </span><span>w</span><span>as super helpful, especially in the last year of university. There’s a lot of pressure to make big decisions about your future at the end of university and having someone who is rooting for you from the outside makes a difference. </span> </p>
<p><span>“The biggest highlight for me was when I had an interview lined up, I told my mentor about it and we jumped into a call to talk it through. That feeling when I ended the call that he was sure I would get the job was incredibly reassuring.”</span> </p>
<p><span>Professor Richard Butt, Deputy Principal of Queen Margaret University, presented the awards to students and mentors at the ceremony. He said: “The QMU’s Employee Mentoring Programme and our dedicated mentors can literally transform a student’s life by helping them clarify what they want, steer their pathway to a career and often secure their first graduate job in their chosen field. Our award ceremony is our way of marking the incredible contribution that our mentors make to the lives of our students and to QMU’s employability work, as well as celebrating the success that our students have had as part of the initiative.”</span> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2023-05-10T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Mentors who help transform student career opportunities are celebrated at QMU award ceremony ]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="NormalTextRun SCXW245099735 BCX0">An award ceremony, which marked the contribution that employer mentors were making to the lives of Queen Margaret University students and their future careers, took place at the University at the end of April.</span> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[An award ceremony, which marked the contribution that employer mentors were making to the lives of Queen Margaret University students and their future careers, took place at the University at the end of April. ]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Mentors celebrated at QMU award ceremony | QMU News | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information contact John Gillespie, Media Relations and Content Officer, Queen Margaret University, Edinburgh, E: jgillespie@qmu.ac.uk, and copy to press office E: <a href="mailto:pressoffice@qmu.ac.uk">pressoffice@qmu.ac.uk</a>.</p>
<p><span class="NormalTextRun SCXW203256848 BCX0">You can find out more about the Employee Mentoring Scheme <a href="/campus-life/careers-and-employability/employer-mentoring/">here</a>.</span></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Mentors who help transform student career opportunities are celebrated at QMU award ceremony ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>