<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f4ba175-5fcc-4c89-936a-00dd96a06c62" Alias="IGHD - Dr Georgina Pearson" Level="4">
  <Info>
    <Parent Key="ecf5930f-7e9c-41b1-9bd9-b5a7c0284236">Individuals</Parent>
    <Path>/Settings/Contacts/Individuals/IGHDDrGeorginaPearson</Path>
    <Trashed>false</Trashed>
    <ContentType>contactIndividual</ContentType>
    <CreateDate>2023-12-18T13:32:39</CreateDate>
    <NodeName Default="IGHD - Dr Georgina Pearson" />
    <SortOrder>65</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactOptions>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8bb6d6ea8b8c4aeab571523153608f4b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "09d35bb5-64b1-49ab-a6a6-ac5de9630753",
      "udi": "umb://element/8bb6d6ea8b8c4aeab571523153608f4b",
      "title": "Email Me",
      "type": "[\"Email\"]",
      "scUrl": "gpearson@qmu.ac.uk"
    }
  ],
  "settingsData": []
}]]></Value>
    </contactOptions>
    <logoImage>
      <Value><![CDATA[umb://media/b97e20eca0104d4282e61489fc718a8d]]></Value>
    </logoImage>
    <mainImage>
      <Value><![CDATA[umb://media/e7f73b419f194569bcd7f3a5e8330bef]]></Value>
    </mainImage>
    <mainTitle>
      <Value><![CDATA[Dr Georgina Pearson]]></Value>
    </mainTitle>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <telephoneNumber1>
      <Value><![CDATA[0131 474 0000]]></Value>
    </telephoneNumber1>
    <telephoneNumber2>
      <Value><![CDATA[]]></Value>
    </telephoneNumber2>
    <thumbnailImage>
      <Value><![CDATA[umb://media/e7f73b419f194569bcd7f3a5e8330bef]]></Value>
    </thumbnailImage>
  </Properties>
</Content>