<?xml version="1.0" encoding="utf-8"?>
<Content Key="50cdb932-f6de-4047-ac0a-249c9015f8d1" Alias="2018.06.07 - Art Psychotherapy Exhibition" Level="5">
  <Info>
    <Parent Key="5498406d-bedc-400c-9545-066855cf03b7">2018</Parent>
    <Path>/Home/NewsAndEvents/News//ArtPsychotherapyExhibition</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T20:56:21</CreateDate>
    <NodeName Default="2018.06.07 - Art Psychotherapy Exhibition" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/8b9a8afa4b61490b80e119a4714957ee]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/703bf8065c704a46aa91186edfdad4b5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/703bf8065c704a46aa91186edfdad4b5",
      "image": "umb://media/6e4d5158d98b467f94ddbef28668c174",
      "title": "QMU students to stage annual Art Psychotherapy Exhibition",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The graduate exhibition will celebrate the work of 24 of QMU’s final year MSc Art Psychotherapy students and will showcase an array of expressive, interactive and insightful artwork.</p>
<p>This year’s exhibition called ‘Self’ aims to challenge misconceptions surrounding art psychotherapy, as well as raising awareness and encouraging a broader understanding of its benefits.</p>
<p>Tracey Tiley, MSc Art Psychotherapy graduate at QMU and exhibition representative, said: “Our exhibition gives space for the students and tutors to celebrate themselves as artists and to showcase the work that they have produced over the two years.”</p>
<p>She continued: “Art therapy provides a creative alternative for people to communicate thoughts and feelings, which may have otherwise been difficult to express verbally. It creates a safe space, encouraging play, and supports self exploration through creative communication.</p>
<p>“We hope this exhibition will provide the public with an insight into this therapy and helps to develop an understanding as to how this creative therapy can support and improve people’s mental health and wellbeing.”</p>
<p>The event is sponsored by Queen Margaret University and will run from 10am – 5pm from 5<sup>th</sup> – 7<sup>th</sup> July at the Out of the Blue Drill Hall, 36 Dalmeny Street, Edinburgh, EH6 8RG.</p>
<p>Find out more about the <a href="/{localLink:umb://document/b0f0e7ed9c384ceaa88370e688721ee3}" title="MSc Art Psychotherapy">MSc Art Psychotherapy</a> at Queen Margaret University.</p>
<p><strong>ENDS</strong></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2018-06-07T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU students to stage annual Art Psychotherapy Exhibition]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[2018-06-07T13:59:40]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Postgraduate Art Psychotherapy students from Queen Margaret University (QMU) will be showing off their creative flair as part of an annual graduate exhibition at Edinburgh’s Out of the Blue Drill Hall from 5th to 7th July 2018.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Postgraduate Art Psychotherapy students from Queen Margaret University (QMU) will be showing off their creative flair as part of an annual graduate exhibition at Edinburgh’s Out of the Blue Drill Hall from 5th to 7th July 2018.
The graduate exhibition will celebrate the work of 24 of QMU’s final year MSc Art Psychotherapy students and will showcase an array of expressive, interactive and insightful artwork.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU students to stage annual Art Psychotherapy Exhibition|Queen Margaret University|News and Events]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Art Psychotherapy Exhibition]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>