<?xml version="1.0" encoding="utf-8"?>
<Content Key="51bdfa6d-413f-4358-b3ab-eadb4250ca2d" Alias="Aonghas Pringle" Level="4">
  <Info>
    <Parent Key="644845e5-0db0-4a49-9230-5d12ef68dcb0">Blogs</Parent>
    <Path>/Home/CampusLife/Blogs/AonghasPringle</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2024-04-02T12:01:12</CreateDate>
    <NodeName Default="Aonghas Pringle" />
    <SortOrder>112</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="352afafb-7425-4e97-b145-ab96eebf5bdc">BlogBio</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/4a97e240aac644918393bb190ccaef4a]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fc9e390fc7a748ebab0448acfa9928a2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/fc9e390fc7a748ebab0448acfa9928a2",
      "image": "umb://media/ddcd39b96ebd40b4bb56a3b8f82102f8",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Aonghas Pringle]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Aonghas Pringle, from Dull in Perth and Kinross, has always been an eccentric, vibrant ball of energy - contrary to the name of his hometown. Describing himself as ‘dramatic,’ it seemed only fitting that avid people-person Aonghas went on to pursue his passion and applied for Queen Margaret University’s specialised<span> </span><a href="/study-here/undergraduate-study/2024/ba-ba-hons-drama-2024-entry/" title="BA (Hons) Drama">BA (Hons) Drama</a><span> course which would provide him with unique hands-on experience. </span></p>
<p><span>Aonghas has adopted a ‘give it a go’ attitude and has delved into all the opportunities university life has to offer. </span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Aonghas Pringle, 3rd year BA (Hons) Drama student, has thrown himself into all the opportunities university life has to offer. ]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Aonghas Pringle | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Aonghas Pringle]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>