<?xml version="1.0" encoding="utf-8"?>
<Content Key="52d032f7-3915-4114-a3a7-7daf5baafa41" Alias="Business Entrepreneurship/BIZ" Level="4">
  <Info>
    <Parent Key="13c638db-0259-4ef5-8ac8-d37ff7195001">Groups</Parent>
    <Path>/Settings/Contacts/Groups/BusinessEntrepreneurshipBIZ</Path>
    <Trashed>false</Trashed>
    <ContentType>contactGroup</ContentType>
    <CreateDate>2020-12-27T20:08:34</CreateDate>
    <NodeName Default="Business Entrepreneurship/BIZ" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactOptions>
      <Value><![CDATA[]]></Value>
    </contactOptions>
    <contacts>
      <Value><![CDATA[umb://document/e08694002ead41768b64dc79e2afdfa2]]></Value>
    </contacts>
    <displaySocialMediaLinks>
      <Value><![CDATA[0]]></Value>
    </displaySocialMediaLinks>
    <groupName>
      <Value><![CDATA[Entrepreneurship Support]]></Value>
    </groupName>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <secondaryImage>
      <Value><![CDATA[]]></Value>
    </secondaryImage>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <summary>
      <Value><![CDATA[<p>Business Innovation Zone and Entrepreneurship enquiries please get in touch.</p>]]></Value>
    </summary>
    <telephoneNumber1>
      <Value><![CDATA[]]></Value>
    </telephoneNumber1>
    <telephoneNumber2>
      <Value><![CDATA[]]></Value>
    </telephoneNumber2>
  </Properties>
</Content>