<?xml version="1.0" encoding="utf-8"?>
<Content Key="5751bc51-309d-4221-8b94-82560d45d277" Alias="Jamie Robb - MSc International Management and Leadership" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/JamieRobbMScInternationalManagementAndLeadership</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-11-05T11:17:19</CreateDate>
    <NodeName Default="Jamie Robb - MSc International Management and Leadership" />
    <SortOrder>80</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/963183bd6e504aff82423d907d8d3eff]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f3be745cd8804dd88afbb0cb03b33ce4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/f3be745cd8804dd88afbb0cb03b33ce4",
      "image": "umb://media/2f971b198253403993375e37c07fe2db",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p>[Story published in August 2021]</p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead-big">Your Project </span></p>
<p><span class="lead">Tell us a bit more about the BCiP project you worked on...</span></p>
<p>My client was an independent, London-based book publisher. They asked me to look at their electronic book (eBook) potential after they noticed that the market for buying eBooks had shot up during 2020 but they had had no time to explore this new market, however, they wanted to increase sales revenue from this strand.<br />They suggested to me that I analyse in-house sales data to recommend existing titles/genres from the back catalogue that could be turned into eBooks. In addition, I was asked to recommend strategies for boosting online eBook sales.<br />I started having conversations with Pavilion in January 2021 and the project had begun to form by the end of February. At this stage, I had to give a pitch to Marc and Richard (course leaders at QMU) which helped me sort out the flow of the project and how I would carry it out. The project was designed to be delivered by the end of July/early August.</p>
<p><span class="lead">What were your biggest highlights whilst working on the project?</span></p>
<p>One of the outstanding highlights of this project came early on and it was when I got great feedback after my pitch that made me feel really motivated to deliver my best work and gave me confidence in doing the project.</p>
<p>Another highlight was how enthusiastic and willing Pavilion were to bring me on board and help build a project with me that I was really interested in and was very useful to them.</p>
<p><br /><span class="lead">What challenges did you encounter?</span></p>
<p>One of the challenges was that all the communications had to be done by phone or email because of home working and COVID restrictions. I communicate much better face to face and also I would have enjoyed conducting this whole project in the Pavilion offices and the experience of that. However, as the country and workplaces are easing out of lock down, I am still hoping to get into the office toward the end of the project.</p>
<p>What do you feel you learned most from this project personally and professionally?</p>
<p>What I’ve learned most is the importance of being able to quickly respond in situations and not let things mount up. I definitely feel that I’ve learned to be more confident about putting myself forward professionally and I’m now looking forward to joining the workforce after QMU in a professional capacity.</p>
<p><span class="lead">What support did you have on the project?</span></p>
<p> I have received excellent support from my supervisor, especially at times when I was struggling with the workload of other assignments and he helped me to plan my time out well. Also the CEO at Pavilion was hugely generous with ideas and suggestions for me about defining and taking the project forward.</p>
<p><span class="lead-big">Next steps...</span></p>
<p><span class="lead">Has this project helped you decide on a future career choice?</span></p>
<p>This project has made me realise that I want to work with companies and help them embrace new technologies and bring them into the digital world. I'm aware that it is an exciting time to be a business consultant because global markets are changing and developing at rapid speeds due to fluctuating economies, shifting populations, increased technologies and change of working habits.</p>
<p><span class="lead">What advice would you share with anyone thinking about applying for this PG course?</span></p>
<p>This is a really dynamic and intense course that will leave you with a much deeper understanding of how businesses work within themselves, the issues that face them and the different business cultures across the globe. You’ll also get a basic understanding of financial auditing and develop the ability to deliver professional work with corporate clients. This course certainly helps you to build a robust toolbox of professional skills and you will leave much stronger than when you came in and make some great connections along the way.</p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[England]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/50ab7ae4f8d4460c9ae57583ea027620]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[MSc International Management and Leadership]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Jamie Robb]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<div class="staffintro">
<p>As part of his MSc in International Management and Leadership, Jamie is completing a Business Consultancy in Practice project for a book publishing company, instead of a traditional written dissertation route.</p>
</div>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[As part of his MSc in International Management and Leadership, Jamie is completing a Business Consultancy in Practice project for a book publishing company, instead of a traditional written dissertation route.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Jamie Robb | Student Stories | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[This course certainly helps you to build a robust toolbox of professional skills and you will leave much stronger than when you came in and make some great connections along the way.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Jamie Robb]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Jamie Robb]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Student"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>