<?xml version="1.0" encoding="utf-8"?>
<Content Key="583ea5f4-5238-406c-8a9f-7acdfc5ab7fb" Alias="2016.03.14 - QMU experts call for consumer right" Level="5">
  <Info>
    <Parent Key="ac4dc403-ec85-4439-845b-de25b485c66d">2016</Parent>
    <Path>/Home/NewsAndEvents/News//QMUExpertsCallForConsumerRight</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T12:14:57</CreateDate>
    <NodeName Default="2016.03.14 - QMU experts call for consumer right" />
    <SortOrder>33</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f43b2f3be68043bf94cf304766ebcee7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/f43b2f3be68043bf94cf304766ebcee7",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "QMU experts call for consumer rights to be taken seriously",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Consumer complaints are big business. UK consumers made 52 million complaints last year, with one in eleven people taking their complaint to an ombudsman and one in twenty-five to a small claims court.  Despite these astonishing figures, consumer problems are often deflected or ignored altogether.</p>
<p class="txtMainBlack">The Centre, which runs the MSc Dispute Resolution, the world’s first master’s degree specifically for ombudsman and complaint handling professionals, has been working for a number of years with ombudsman and complaint handling organisations to help UK consumers get a fairer deal.</p>
<p class="txtMainBlack">QMU is aiming to help raise standards across the complaint handling industry by drawing on insights from its research, which has recently examined the outcome of complaints, the use of complaints to drive innovation, and best practice in the design of complaint processes.</p>
<p class="txtMainBlack">The Centre’s latest research report, commissioned by Ombudsman Services, looks at recent developments in the UK and Europe which reveal both opportunities and challenges for those interested in making consumer rights a reality. This includes the EU’s Alternative Dispute Resolution (ADR) Directive and the UK Consumer Rights Act.</p>
<p class="txtMainBlack">While these measures potentially enhance consumer protection, there remains a need to ensure that external redress mechanisms are effective and fit for purpose.</p>
<p class="txtMainBlack">QMU’s research compares various means of resolving consumer problems, with a particular focus on consumer ombudsman schemes.  The key conclusion of the research is that ombudsman schemes have distinct advantages when it comes to realising consumer rights, including greater accessibility, provision of more support to the consumer, and learning from complaints.</p>
<p class="txtMainBlack">The research also looks at other forms of dispute resolution, such as ADR schemes and courts, and argues that these are less accessible to consumers and have less of a focus on helping businesses to improve their services. The report argues that whereas other forms of dispute resolution are only about settling complaints, ombudsman schemes have potential to add value for consumers and businesses and represent a potentially powerful approach to realising consumer rights.</p>
<p class="txtMainBlack">Chris Gill, Senior Lecturer in Administrative Justice &amp; Programme Leader for MSc Dispute Resolution at QMU, said:  “Consumer rights have recently been strengthened, but more could be done to make sure that consumers get a fair deal in day-to-day service delivery and when they have cause to complain. And while complaints have been increasing, this masks the fact that many people still don’t complain when they have a consumer problem.</p>
<p>“To enhance consumer confidence and encourage them to complain when they receive a sub-standard service, there is a need to make sure that – when things go wrong and a business fails to put them right – consumers have access to high quality external dispute resolution.</p>
<p>“The research we are publishing today suggests that ombudsman schemes should be increasingly seen as the premium approach to external dispute resolution. While the contribution of courts and other forms of ADR should not be dismissed, it is likely that ombudsman schemes provide the best available means to helping consumers realise their rights.”</p>
<p class="txtMainBlack">Commenting on the report, Lewis Shand Smith, Chief Ombudsman at Ombudsman Services, said: “This is an important time for consumer dispute resolution in the UK and Europe. The landscape for resolving consumer problems is changing fast, with more and more complaints being dealt with outwith the court system.</p>
<p>“This research helps to clarify the unique role that ombudsman schemes play in the consumer dispute resolution system and shows the added value that they generate for consumers and businesses alike. Ombudsman schemes are a trusted brand for consumers and in an excellent position to help strengthen access to justice.</p>
<p>“As the consumer rights agenda continues to gather pace, this report provides a timely analysis of what good consumer dispute resolution looks like. It confirms that ombudsman schemes will continue to be at the forefront of this agenda, playing a vital role in helping consumers to realise their rights.”</p>
<p class="txtMainBlack">In addition to publishing this research, the Consumer Dispute Resolution Centre at Queen Margaret University is celebrating World Consumer Rights Day in a number of ways:</p>
<ul>
<li class="txtMainBlack">The Centre is hosting an online open evening for prospective students interested in its MSc Dispute Resolution course. The open day will take place on Tuesday 15th March 2016 between 18.30 and 19.30 (UK time). To sign up, E: <a href="mailto:cdrc@qmu.ac.uk" class="txtMainTextLinks">cdrc@qmu.ac.uk</a>.</li>
</ul>
<ul>
<li class="txtMainBlack">The Centre has published a blog '<a href="/{localLink:umb://document/cc6ab4e2fbf34a908e1e13f37320b213}" title="2016.03.10 - BLOG: Taking consumer rights seriously">Taking consumer rights seriously</a>'.</li>
</ul>
<ul>
<li class="txtMainBlack">The Centre is launching its inaugural seminar series, which aims to bring together experts and practitioners from across the UK.</li>
</ul>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2016-03-14T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU experts call for consumer rights to be taken seriously]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>To mark World Consumer Rights Day (Tuesday 15 March), experts from QMU ’s Consumer Dispute Resolution Centre in Edinburgh, have published a new research report highlighting the value of ombudsman schemes in helping consumers realise their rights.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[To mark World Consumer Rights Day (Tuesday 15th March), experts from QMU ’s Consumer Dispute Resolution Centre in Edinburgh, have published a new research report highlighting the value of ombudsman schemes in helping consumers realise their rights.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU experts call for consumer rights to be taken seriously]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>Defining Consumer Ombudsmen - A Report for Ombudsman Services (15 March, 2016<a href="http://www.qmu.ac.uk//media/6213/defining-consumer-ombudsmen-a-report-for-ombudsman-services-15-march-2016.pdf" class="txtMainTextLinks">)</a><br />(Download full PDF, 1MB)</p>
<p class="txtMainBlack">QMU’s Consumer Dispute Resolution Centre delivers accredited qualifications for professional complaint handlers.  The University has a long standing relationship with the Ombudsman Association and the International Ombudsman Institute and regularly delivers courses to dispute resolution for professionals across the UK and beyond. <a href="/{localLink:umb://document/59f425cd0a854a21890bcb8f885579b5}" title="PgCert Dispute Resolution" data-udi="umb://document/59f425cd0a854a21890bcb8f885579b5">Information about the MSc Dispute Resolution course is available here</a></p>
<p class="txtMainBlack"><strong>Ombudsman Services </strong></p>
<p class="txtMainBlack">Ombudsman Services is an ombudsman service that provides dispute resolution for the communications, energy, property and copyright licensing industries.</p>
<p class="txtMainBlack">Ombudsman Services was founded in 2002 to provide independent dispute resolution. The organisation provides an independent, impartial and cost effective means of resolving disputes outside the courts.</p>
<p class="txtMainBlack">Ombudsman Services are experts in dispute resolution; here to sort out complaints about the companies which have joined us.</p>
<p class="txtMainBlack">Ombudsman Services operate under appropriate legislation and regulatory authority, and their governance ensures that they are independent. Their Chief Executive/Chief Ombudsman is Mr Lewis Shand Smith. They employ 428 case handlers, approximately 85% of whom are employed on a full time basis and 15% of whom are employed on a fixed term contract basis. Case handlers are appointed upon successful completion of an interview and a skills based selection test.</p>
<p class="txtMainBlack">Ombudsman Services is a not for profit private company.</p>
<p><em>For further media information contact Lynne Russell, Marketing Manager, Queen Margaret University, Edinburgh, E: </em><a href="mailto:lrussell@qmu.ac.uk"><em>lrussell@qmu.ac.uk</em></a><em>  T: 0131 474 0000, M: 07711 011239 and Jon Perkins, Press and PR Officer, E: </em><a href="mailto:jperkins@qmu.ac.uk"><em>jperkins@qmu.ac.uk</em></a><em> T: 0131 474 0000.</em></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU experts call for consumer rights to be taken seriously]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>