<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b6a9172-0d3f-48c0-a7cb-9e37d433ef9c" Alias="Sustainability in Learning, Teaching and Assessment" Level="3">
  <Info>
    <Parent Key="61a8e686-2a80-4a22-88e1-fc0d682148f6">Links</Parent>
    <Path>/Settings/Links/SustainabilityInLearningTeachingAndAssessment</Path>
    <Trashed>false</Trashed>
    <ContentType>link</ContentType>
    <CreateDate>2024-01-31T15:52:31</CreateDate>
    <NodeName Default="Sustainability in Learning, Teaching and Assessment" />
    <SortOrder>162</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <externalLink>
      <Value><![CDATA[https://qmu.sharepoint.com/sites/SustainabilityinLearningTeachingAssessment]]></Value>
    </externalLink>
    <image>
      <Value><![CDATA[umb://media/94857ba6ae7c4a058940cfda36d736db]]></Value>
    </image>
    <internalLink>
      <Value><![CDATA[]]></Value>
    </internalLink>
    <text>
      <Value><![CDATA[Sustainability in Learning, Teaching and Assessment]]></Value>
    </text>
  </Properties>
</Content>