<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d787c95-afb8-41db-83e2-a95031c65dd3" Alias="Trusted Research" Level="5">
  <Info>
    <Parent Key="7b072e9d-f833-4363-966e-061f08d394c3">Concordats and Sector Good Practice</Parent>
    <Path>/Home/ResearchAndKnowledgeExchange/StrategyAndCulture/ConcordatsAndSectorGoodPractice/TrustedResearch</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2023-12-18T13:43:09</CreateDate>
    <NodeName Default="Trusted Research" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/95a6661db3834cf7bf29424220998b9d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/95a6661db3834cf7bf29424220998b9d",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "Trusted Research",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Trusted Research is a UK Government <a href="https://www.npsa.gov.uk/trusted-research">initiative</a> to ensure that international collaboration in research and innovation is safe from potential theft, manipulation and exploitation, including as a result of interference by hostile actors.</p>
<p>UK Research and Innovation (UKRI)  has an established a trusted research and innovation (TR&amp;I) work <a href="https://www.ukri.org/manage-your-award/good-research-resource-hub/trusted-research-and-innovation/">programme</a> in response to the increasing need across the sector to:</p>
<ul>
<li>Help manage and provide guidance and support in ensuring collaborative activities are done safely and securely.</li>
<li>Minimise the risks associated with operating within a global research and innovation ecosystem while maximising the opportunities.</li>
</ul>
<p>The Trusted Research agenda is especially relevant to those researchers working in STEM disciplines, developing potential dual use technologies and working with emerging technologies in commercially and security sensitive areas.</p>
<p>Researchers should get familiar with <a href="https://www.npsa.gov.uk/trusted-research-academia">the guidance</a> and take appropriate steps to protect their research, their data and their personal security against misuse, theft and potential threat. All steps need to be proportionate to the risk and balanced with academic freedoms. Researchers can use the academic <a href="https://www.npsa.gov.uk/system/files/Trusted%20Research%20Checklist%20for%20Academia.pdf">checklist </a>when considering partnerships, the internal processes for Due Diligence to mitigate risk and follow best practices relating to cybersecurity, data management, <a href="https://www.npsa.gov.uk/system/files/Countries%20and%20Conferences%20Guide.pdf">travel</a> and conference attendance. </p>
<p>You can watch these Cabinet Office risk <a href="https://www.youtube.com/playlist?list=PLVnRbAyuOGuqkW4hE0nnhya-SOcmq7V8T">case study videos</a> to help you learn more about potential risks and help you make informed decisions.</p>
<p>Kim Stuart, Director of Research and Innovation is the central QMU <a href="https://www.gov.uk/government/groups/research-collaboration-advice-team-rcat">RCAT</a> Contact, and can liaise directly with the government Research Collaboration Advice Team on your behalf.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Trusted Research]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Trusted Research is a UK Government initiative to ensure that international collaboration in research and innovation is safe from potential theft, manipulation and exploitation, including as a result of interference by hostile actors.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Trusted Research | Research and Knowledge Exchange | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Trusted Research]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>