<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e94c237-5e1e-47c6-b6ae-50f3b5182ad6" Alias="Making a Difference Through Research" Level="5">
  <Info>
    <Parent Key="816dc5e6-e259-416d-83b1-9e7548f2b0a8">Research and Knowledge Exchange Case Studies</Parent>
    <Path>/Home/ResearchAndKnowledgeExchange/QMUResearch/ResearchAndKnowledgeExchangeCaseStudies/MakingADifferenceThroughResearch</Path>
    <Trashed>false</Trashed>
    <ContentType>generalLandingPage</ContentType>
    <CreateDate>2021-02-23T16:44:08</CreateDate>
    <NodeName Default="Making a Difference Through Research" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2d105c-dfa8-42d8-8bd5-cf850a36952d">GeneralLandingPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/987ebae1cfe54ece93efa108fa54ab41]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[<p>Impact</p>]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2a569b28fdc349e5adf015b65e7f005d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/2a569b28fdc349e5adf015b65e7f005d",
      "image": "umb://media/555c8fd770544778844176ee154763d6",
      "title": "",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[umb://document/386f74f1d12e41818b0b0aa9b9153259]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Making a Difference through Research]]></Value>
    </displayTitle>
    <focusPanel>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e913e7e114f341aa8f5ce96b08923fd4"
      },
      {
        "contentUdi": "umb://element/76d16f5d22ee4dff83cbdf9de2c461e5"
      },
      {
        "contentUdi": "umb://element/041ec4bf9a52414ba378fe83145203d6"
      },
      {
        "contentUdi": "umb://element/2c722040ac4a46a4ac6798b2f1c7fadb"
      },
      {
        "contentUdi": "umb://element/0ec44888a128463891df90752aec554b"
      },
      {
        "contentUdi": "umb://element/e197423763324dd180f12205358547e6"
      },
      {
        "contentUdi": "umb://element/00c5a251def24fcdad6b5a459925fa5b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/e913e7e114f341aa8f5ce96b08923fd4",
      "title": "Innovative Health Financing",
      "content": "",
      "image": "umb://media/55c8ed534803405e91123fedbeb032d9",
      "link": "[{\"name\":\"Strengthening Global and National Policies on Innovative Health Financing in Low-income and Fragile Settings\",\"udi\":\"umb://document/7e32fc9fda404a798956c1004fa2ea99\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/76d16f5d22ee4dff83cbdf9de2c461e5",
      "title": "Quality in the Participatory Arts",
      "content": "",
      "image": "umb://media/9b324475bde944239d38d9b8471d5a0a",
      "link": "[{\"name\":\"Redefining Pathways to Quality in the Participatory Arts\",\"udi\":\"umb://document/d37b780146854d1a9e85b6180be326f3\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/041ec4bf9a52414ba378fe83145203d6",
      "title": "RaceRunning",
      "content": "",
      "image": "umb://media/b12770ad61b7470d94fa686844e6144c",
      "link": "[{\"name\":\"RaceRunning\",\"udi\":\"umb://document/e75b93c40d5b47c6b74ac07f041fadd3\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/2c722040ac4a46a4ac6798b2f1c7fadb",
      "title": "Bhopal Survivors Movement",
      "content": "",
      "image": "umb://media/038676c4d00248d6bcdfca523888cddc",
      "link": "[{\"name\":\"Bhopal Survivors Movement and Scotland\",\"udi\":\"umb://document/25d8a1a795654461ac196a7eee9c6a9b\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/0ec44888a128463891df90752aec554b",
      "title": "Shifting the Culture and Understanding of Complaints",
      "content": "",
      "image": "umb://media/41899d479d864bd1a17fe9843077405c",
      "link": "[{\"name\":\"Grumbles, Gripes and Grievances: shifting the culture and understanding of complaints handling across the UK\",\"udi\":\"umb://document/b67148e6db544c4581c7c57b10918f54\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/e197423763324dd180f12205358547e6",
      "title": "Family Business Sustainability",
      "content": "",
      "image": "umb://media/aee7336a2d8546c4a7f312793e3f89c1",
      "link": "[{\"name\":\"Families, Feuds and Fortunes: Developing Long Term Family Business Sustainability in Scotland\",\"udi\":\"umb://document/b5325ec5228f4e8c9405d4f699cd5ecc\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/00c5a251def24fcdad6b5a459925fa5b",
      "title": "The Person-centred Practice Theoretical Framework",
      "content": "",
      "image": "umb://media/d9f8c22745424a479b6f142200820569",
      "link": "[{\"name\":\"The Person-centred Practice Theoretical Framework\",\"udi\":\"umb://document/24163b94ea974239a85b6eb6fceef5f6\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </focusPanel>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Connected internationally and rooted locally, the impact of our research is making a difference globally. Our collaborative approach creates international research of the highest quality that is transforming our society, culture and economy. </p>
<p> </p>
<p> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[We are committed to the application of translational research to influence public discourse beyond academia, including policy makers, industry, public sector, voluntary and community sectors, and the wider public.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Transforming Research Case Studies| Research and Knowledge Exchange | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/88cc275acc6333678832b751a151e8f2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9eed20a0-b3f3-47c8-8fae-82f763de3e32",
      "udi": "umb://element/88cc275acc6333678832b751a151e8f2",
      "title": "",
      "usefuls": [
        {
          "icon": "icon-layout color-indigo",
          "name": "REF 2014 Impact Case Studies",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/2a323b49c4ca441290adcbae540ffe65",
          "url": "/research-and-knowledge-exchange/qmu-research/research-and-knowledge-exchange-case-studies/ref-2014-impact-case-studies/"
        },
        {
          "icon": "icon-layout color-indigo",
          "name": "SME and Industry Case Studies",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/b813a5e3814c47de8951c026081883a2",
          "url": "/research-and-knowledge-exchange/qmu-research/research-and-knowledge-exchange-case-studies/sme-and-industry-case-studies/"
        },
        {
          "icon": "icon-layout color-indigo",
          "name": "Graduate Start-Up Case Studies",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/19db65a0edc14cc29c72d08fb069dcb0",
          "url": "/research-and-knowledge-exchange/qmu-research/research-and-knowledge-exchange-case-studies/graduate-start-up-case-studies/"
        }
      ],
      "useDarkTheme": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Making a Difference through Research]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>