<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e9527ca-1edb-45df-9cef-7337f53bcb52" Alias="Claire Murray" Level="4">
  <Info>
    <Parent Key="6df39042-53f4-433d-a7b4-10e6f8b2636a">50 years of Drama and Performing Arts</Parent>
    <Path>/Home/AlumniAndFriends/yearsOfDramaAndPerformingArts/ClaireMurray</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2021-10-07T21:31:41</CreateDate>
    <NodeName Default="Claire Murray" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="793fdbdc-4982-4bca-96be-86cd7d82393e">AlumniProfile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/579f4c94628b433da7d93f21704a1d22]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0e65db0b82d0411eaef5ae2db272bff6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/0e65db0b82d0411eaef5ae2db272bff6",
      "image": "umb://media/5af09bbf0d874b718bdb813c9a5fc413",
      "title": "Claire Murray",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p><span class="lead-big">After working as an actor for 17 years, Claire Murray took a leap of faith into the world of agenting and formed Brennan Artists Associates in 2015.</span>  </p>
<p>She graduated from Queen Margaret College in 1998 with BA Acting.</p>
<p><span class="lead">Tell us more about your career path since leaving QMC.  </span></p>
<p>After graduating, I worked quite consistently in theatre with companies such as The Byre, Dundee Rep, Pitlochry Festival Theatre, Brunton Theatre, Perth Theatre, Bard in the Botanics; A Play, A Pie and A Pint; Tall Tales and Catherine Wheels.</p>
<p>I also worked with Visible Fictions on several tours throughout the USA and Canada with a beautiful production called 'The Red Balloon’. We also did a residency with that production at Seattle Children’s Theatre, which was a fantastic experience.</p>
<?UMBRACO_MACRO macroAlias="Quote" text="Much to my shock, I was cast in the BBC Scotland drama &#x27;River City&#x27; as Iona McIntyre.  It was my first TV role and what began as a six week contract became a very important and enjoyable six  years." source="" sourceExtra="" />
<p>Performing was always my passion and I was exceptionally fortunate to graduate when there were many more producing companies and opportunities, particularly in theatre. </p>
<p><span class="lead">What do your current roles of Company Director and Actors' Agent involve?</span></p>
<p>Launching the agency was exhilarating and terrifying. I was very ill-equipped in hindsight. It has been a challenging journey (business plans and spreadsheets are not my strong points!) but luck has played a part in finding the amazing team of people I work with now; which makes my role of Company Director so much easier and rewarding.  I love the freedom I have to grow the business and do things differently, and I thrive on finding different angles to approach a problem or situation.  </p>
<p>As an agent, I try my very best to maximise the opportunities for my clients to gain work. This can be through conversations with casting directors, theatre directors or producers, emails, casting breakdowns, attending the theatre, social media, wherever there’s an ‘in’ basically.</p>
<p>A large part of my role as an agent is also as a supportive listener. Rejection is one of the toughest parts of being an actor. I have been in that position myself, so it gives me an insight into when a client needs a boost or some advice on how to cope with the loss of control that often comes with long periods of uncertainty.</p>
<p><span class="lead">What are your most memorable experiences of being a QMC student?</span></p>
<p>I have so many fond memories of being at QMC. No matter what high jinx would be going on the previous night in the Students' Union, we would still all be in ‘Limber’ doing aerobics with Tony Ellis at 8:45am the next day! </p>
<p>Studying alongside health and business students kept us grounded, determined and proud. I remember how some of our fellow students would tut and roll their eyes when we came floating down the canteen steps with our rehearsal skirts and fans. </p>
<p>We had some excellent lecturers; Lynn Bains and Cathy Owen were particularly strong positive influences on my training.</p>
<?UMBRACO_MACRO macroAlias="Quote" text="The experiences from working with highly respected visiting directors such as Ian Grieve on &#x27;Elizabeth Gordon Quinn&#x27;, Gerry Mulgrew on &#x27;Caucasian Chalk Circle&#x27; and Muriel Romanes on &#x27;Midsummer Night’s Dream&#x27; was incredible, and helped connect our training to the industry at that time." source="" sourceExtra="" />
<p> </p>
<p><span class="lead">What advice would you give to students and new graduates starting out?</span></p>
<p>Don’t give up. Listen. Observe. Be kind, be honest, be unique. Play to your strengths.</p>
<p> </p>]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Claire Murray]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[Class of 1998]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Actors' Agent &amp; Company Director - Brennan Artists Associates </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Claire Murray graduated from Queen Margaret College in 1998 with BA in Acting. After working as an actress for 17 years, Claire took a leap of faith into the world of agenting and formed Brennan Artists Associates in 2015.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Claire Murray | 50th Anniversary of Drama and Performance at Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[umb://media/5af09bbf0d874b718bdb813c9a5fc413]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[umb://document/5f3295fdb99a41ca98ae79475155804a,umb://document/1689971f27234574a1d53a7b5e85dc15,umb://document/79c895585e794a7db5836c4fdb1b7ba7,umb://document/9cb5d06c44e2413eb5b9e22e95910f0b,umb://document/5e6bdcf95c334deab12eaaa474229a77,umb://document/b9fbc72872cd4e59b2b3f6946660578e,umb://document/6732d37f4deb4ab5b661438e5c724c00,umb://document/b6519995f860490688b7cb16ce3cbbc3]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[Drama and Performing Arts at QMU ....]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Claire Murray]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>