<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ea91792-969a-4662-b00a-53ee4c63bada" Alias="September 2024" Level="5">
  <Info>
    <Parent Key="8e5e95c5-0294-47af-ba9f-b1a83da08903">Start Date</Parent>
    <Path>/Settings/Tags/CourseAZTags/StartDate/September2024</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2023-01-27T13:52:44</CreateDate>
    <NodeName Default="September 2024" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagName>
      <Value><![CDATA[September 2024]]></Value>
    </tagName>
  </Properties>
</Content>