<?xml version="1.0" encoding="utf-8"?>
<Content Key="611c15c6-d465-4beb-8d4e-652f00ea75c3" Alias="2021.11.02 – Saint Margaret event" Level="5">
  <Info>
    <Parent Key="659cf431-5480-4060-80fd-c765a525647f">2021</Parent>
    <Path>/Home/NewsAndEvents/News//SaintMargaretEvent</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-11-22T12:07:48</CreateDate>
    <NodeName Default="2021.11.02 – Saint Margaret event" />
    <SortOrder>45</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/df995cd8e59546eaa5f78bd9191a3db2]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/de26b443091b4ee08a01748427763d8a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/de26b443091b4ee08a01748427763d8a",
      "image": "umb://media/b12b593e47dd4380b557d3a016e97b87",
      "title": "Public invited to learn about Saint Margaret – missionary, queen and historical female icon – at online event",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p>For press enquiries please contact Lynne Russell, Communications Manager, Queen Margaret University, Edinburgh, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a>. M: 07711 011239 or the University’s press office on <a href="mailto:pressoffice@qmu.ac.uk">pressoffice@qmu.ac.uk</a>. </p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><a href="/{localLink:umb://document/01943e77a6fa46a49999981c6dba2920}" title="Margaret, Saint and Queen Consort">Queen Margaret</a> was one of the most loved female figures in Scottish history. The online event, which will be chaired by former MP Margaret Curran, and involve medieval historian Michael Penman, MaryAnn Rennie of Dunfermline Abbey and QMU’s Dr Paul Gilfillan, will shine a light on this deeply religious woman who was known for her great intellect and compassion towards others. One of Margaret’s most noted achievements was to establish a crossing point on the Firth of Forth for pilgrims on their way to St Andrews Cathedral, which gave the towns of South Queensferry and North Queensferry their names.</p>
<p>Consort of King Malcolm Canmore of Scotland, Margaret was canonised by Pope Innocent IV in 1250 in recognition of her fidelity to the Roman Catholic Church, work for ecclesiastical reform and charity.  The name Queen Margaret was incorporated into Queen Margaret College’s title in 1972 as the venerated 11th century queen was seen to personify the institution’s values of serving the community and enhancing quality of life.</p>
<p>Queen Margaret University is inviting the public to take part in an evening online conversation about Saint Margaret on 17th November. The event will provide the opportunity to reflect on Margaret’s life and legacy, and explore what she stands for from a contemporary perspective.</p>
<p>Sir Paul Grice, Principal and Vice-Chancellor at Queen Margaret University, explained: “We welcome anyone from the wider public with an interest in Scottish history, modern social issues or both to this event, whether or not they have any connection with the University.</p>
<p>“The Saint Margaret event will provide us with the opportunity to consider Margaret’s relevance to Scotland’s relationship to its history and culture and to explore her significance in the current era.”</p>
<p>This event will conclude with an opportunity for the audience to ask questions of panel members.</p>
<p>The event <strong>‘Saint Margaret – Missionary, Queen and Icon for the Ages?’</strong> will be held on Wednesday 17th November from 5pm – 6pm and delivered online through Microsoft Teams. To book your place and receive a Teams link for the event, please complete our simple online booking form.</p>
<p><a href="/{localLink:umb://document/e9a67d37d9af407d8ec0aeef8441a1b9}" title="Registration - Saint Margaret Missionary Saint Event"><span class="blue-btn">Book your place</span></a></p>
<p>The panel will consist of:</p>
<p><strong>Dr Paul Gilfillan, Senior Lecturer in Sociology at Queen Margaret University.</strong> Dr Gilfillan has published on nationalism, education, and 20th century Catholicism, as well as phenomenological studies of social class. He is currently Senior Visiting Fellow at Mathias Corvinus Collegium (Budapest).</p>
<p><strong>Dr Michael Penman, Senior Lecturer in Scottish History at the University of Stirling.</strong> Dr Penman’s most recent research has focused on the development of Dunfermline Abbey as Scotland’s royal mausoleum from around 1093-1400, focused on the body cult and pilgrimage shrine of Saint Margaret.</p>
<p><strong>Rev MaryAnn Rennie, Minister of Dunfermline Abbey.</strong> The Abbey is a place with very strong connections with Saint Margaret. Having gained her Bachelor of Divinity from the University of Edinburgh in 1994, MaryAnn Rennie later gained an MTh in Ministry and then a Postgraduate Certificate in Pastoral Care. She is currently studying towards a doctorate with Pittsburgh Theological Seminary.</p>
<p><strong>Margaret Curran, former MP for Glasgow East</strong> <strong>from 2010- 2013 and former Shadow Secretary of State for Scotland from 2011 until 2015.</strong> Before that, Margaret Curran was an MSP and held a number of posts within Scottish Executive.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2021-11-02T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Public invited to learn about Saint Margaret – missionary, queen and historical female icon – at online event]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Queen Margaret University, Edinburgh is to host an online conversation about the historical figure Queen Margaret as part of its celebrations around Saint Margaret’s Day.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Queen Margaret University, Edinburgh is to host an online conversation about the historical figure Queen Margaret as part of its celebrations around Saint Margaret’s Day.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Public invited to learn about Saint Margaret | QMU News | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Public invited to learn about Saint Margaret – missionary, queen and historical female icon – at online event]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>