<?xml version="1.0" encoding="utf-8"?>
<Content Key="61c64c30-ac13-45f9-b507-03a18cd7406e" Alias="2021.09.17 - QMU climbs 23 places in The Times and Sunday Times Good University Guide UK rankings" Level="5">
  <Info>
    <Parent Key="659cf431-5480-4060-80fd-c765a525647f">2021</Parent>
    <Path>/Home/NewsAndEvents/News//QMUClimbs23PlacesInTheTimesAndSundayTimesGoodUniversityGuideUKRankings</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-11-03T11:42:02</CreateDate>
    <NodeName Default="2021.09.17 - QMU climbs 23 places in The Times and Sunday Times Good University Guide UK rankings" />
    <SortOrder>32</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/6e02b1ea7aa24e8fba4aa9f747ed4fbf]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3b4a9158e07344b4b47022318e67ac0e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/3b4a9158e07344b4b47022318e67ac0e",
      "image": "umb://media/61ee10fdae4b4bc5846b98a34d40dd7e",
      "title": "QMU climbs 23 places in The Times and Sunday Times Good University Guide UK rankings",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Perhaps most notable is QMU's performance in the Teaching Quality and Student Experience categories, ranking 21st and 25th respectively in the UK. The University has also seen a significant improvement in its entry standards (mean tariff point scores on entry for first-year) and has been ranked 21st in the UK. The proportion of QMU students graduating with a first or 2:1 remains also remains strong at 52nd place — above the UK average. </p>
<p>QMU also ranks within the top 20 in the UK in the following areas:</p>
<ul>
<li>Pharmacy and Pharmacology (11th out of 45) </li>
<li>Nursing (15th out of 72) </li>
<li>Hospitality, Leisure, Recreation and Tourism (15th out of 56) </li>
<li>Subjects allied to Medicine (19th out of 82) </li>
<li>Communication and Media (20th out of 88) </li>
</ul>
<p>Professor Richard Butt, Deputy Principal, said: "These results are a testament to the continuous delivery of high academic standards in the face of many challenges throughout the pandemic and the University's broader response to COVID, as evidenced by our high rankings for Teaching Quality and Student Experience. We want to thank all our staff for their continued hard work and dedication over the last year."</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2021-09-17T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU climbs 23 places in The Times and Sunday Times Good University Guide UK rankings]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Queen Margaret University (QMU), Edinburgh is delighted to announce that it has moved up 23 places in The Times and Sunday Times Good University Guide league tables; this places the University as 66th and in the top 50% of universities in the UK.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Queen Margaret University (QMU), Edinburgh is delighted to announce that it has moved up 23 places in The Times and Sunday Times Good University Guide league tables; this places the University as 66th and in the top 50% of universities in the UK.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU climbs 23 places in University Rankings | QMU News | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media enquiries about Queen Margaret University, please contact Gavin McNee (Media Relations and Content Officer), Edinburgh, E: <a href="mailto:gmcnee@qmu.ac.uk">gmcnee@qmu.ac.uk</a>.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU climbs 23 places in The Times and Sunday Times Good University Guide UK rankings]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>