<?xml version="1.0" encoding="utf-8"?>
<Content Key="641b6b9f-9fac-46d1-ae8c-e7b69ad4083b" Alias="2017.10.02 - Family business expert reveals economic impact of Scotland’s ‘Top 100’" Level="5">
  <Info>
    <Parent Key="5ec60e7e-de76-4127-aaea-18ddb982220d">2017</Parent>
    <Path>/Home/NewsAndEvents/News//FamilyBusinessExpertRevealsEconomicImpactOfScotlandSTop100</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T20:45:23</CreateDate>
    <NodeName Default="2017.10.02 - Family business expert reveals economic impact of Scotland’s ‘Top 100’" />
    <SortOrder>131</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/37616aa6c06447b0b362381594fe6d48]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/83bcb28381224eb0a965ddcbf8e564f3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/83bcb28381224eb0a965ddcbf8e564f3",
      "image": "umb://media/c3239cda49884a78a88f03fd845c6b33",
      "title": "Family business expert reveals economic impact of Scotland’s ‘Top 100’",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Professor Claire Seaman from Queen Margaret University (QMU), Edinburgh, who is also Chair in family business at the University, has been working with Family Business United Scotland, Carbon Financial and a range of industry partners over the last six months to reveal ‘The Scottish Family Business Top 100’ and the significant contribution the sector makes to the country’s economy.</p>
<p>A first for Scotland, this new report has shown that the country’s 100 most profitable family-owned companies generate a combined £1 billion of pre-tax profits and have a collective annual turnover of £16.6 billion. The study has also shown that the sector employs over 100,000 staff and contributes 11 per cent to Scotland’s onshore gross domestic product (GDP).</p>
<p>In Scotland, SMEs account for 99.3% of all private sector enterprises and 63% of these are family businesses.</p>
<p>Professor Seaman helped compile the report, along with Family Business United Scotland and Craig Corporate. As part of her role as Chair of Family Business at QMU, Professor Seaman undertakes impactful research in enterprise and family business and works with businesses across Scotland.</p>
<p>Commenting on The Scottish Family Business Top 100 report, Professor Seaman said: “Family firms are the backbone of the Scottish economy and this latest research proves that the sector is a significant employer, revenue generator and contributor.</p>
<p>“Research into the family business sector in Scotland is fundamental to improving the understanding of the sector, the contribution they make and more importantly, to demonstrate to key decision makers and influencers that these businesses are important to Scotland, and therefore need to be given support and recognition to continue to flourish.</p>
<p>“All our research and work with businesses emphasise the importance of family owned and managed businesses. That’s why we’re tailoring some of our educational provision around family business at QMU.”</p>
<p>Family Business United Scotland founder, Paul Andrews, added: “Family Business United Scotland champions family businesses whatever their size, sector or age. Our research dispels many myths about family businesses being small or lacking in ambition. The top 100 have demonstrated impressive abilities to respond to market forces and to innovate and evolve in order to remain current, relevant and profitable.”</p>
<p>QMU offers two postgraduate study programmes in Family Business, which were developed following five years of industry consultation with organisations such as Scottish Family Business Association, Family Business United Scotland and a range of family-run Scottish businesses. </p>
<p>MSc International Management &amp; Leadership with Family &amp; Smaller Enterprises and MBA Family &amp; Smaller Enterprises offer experienced business professionals, as well as recent business graduates and those who are returning to the family business after studying for an unrelated degree, greater insight into the value, practice and function of family businesses. Topics will include family business succession, governance, behavioural finance and risk.</p>
<p>For more information on the family business programmes at QMU contact Professor Claire Seaman, E: <a href="mailto:CSeaman@qmu.ac.uk">CSeaman@qmu.ac.uk</a>, T: 0131 474 0000.</p>
<p>For more information on Scottish Family Business Week <a href="https://familybusinessunited.com/category/regional-focus/uk/scotland/" title="Family Business United">visit the Family Business United website</a>.</p>
<p><strong>ENDS</strong></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2017-10-02T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Family business expert reveals economic impact of Scotland’s ‘Top 100’]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>A university professor has revealed the economic impact of Scotland’s ‘Top 100’ to mark Scottish Family Business Week, 2-6 October 2017.</p>
<p> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[A university professor has revealed the economic impact of Scotland’s ‘Top 100’ to mark Scottish Family Business Week, 2-6 October 2017.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Family business expert reveals economic impact of Scotland’s ‘Top 100’| News and Events | Queen Margaret University ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Family business expert reveals economic impact of Scotland’s ‘Top 100’]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>