<?xml version="1.0" encoding="utf-8"?>
<Content Key="64688e43-b20c-4f77-aed8-ce27a12bbfc2" Alias="2017.10.05 - New East Lothian Plan sets course for partners working together" Level="5">
  <Info>
    <Parent Key="5ec60e7e-de76-4127-aaea-18ddb982220d">2017</Parent>
    <Path>/Home/NewsAndEvents/News//NewEastLothianPlanSetsCourseForPartnersWorkingTogether</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T20:46:46</CreateDate>
    <NodeName Default="2017.10.05 - New East Lothian Plan sets course for partners working together" />
    <SortOrder>135</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6053137f2707464b87b703941f2632bf"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/6053137f2707464b87b703941f2632bf",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "New East Lothian Plan sets course for partners working together",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The Partnership draws together different public agencies and community partners, including QMU, with a view to working together more closely to improve the lives of people in East Lothian.</p>
<p>The new Plan is based on an examination of the needs of people in the area, consultation with community organisations, and discussion among the partners before it was finalised at a meeting of the Partnership board on 26 September.</p>
<p>The new Plan aims to deliver an East Lothian that is increasingly <strong>prosperous, community-minded and fair</strong> for all its citizens. It focuses on <strong>reducing inequalities</strong> and on <strong>prevention and early intervention. </strong>It contains actions that will help to deliver work skills and jobs, better digital provision, improved mental health provision, a reduction in the numbers of people who go missing (particularly people with dementia), and better outcomes for vulnerable families. The Plan also commits partners to considering freeing any surplus property assets to become much-needed business and housing land.</p>
<p>Acting Chair of East Lothian Partnership, East Lothian Council’s depute leader Cllr Norman Hampshire, said:</p>
<blockquote>
<p>“East Lothian is recognised by its citizens as a great place to live, but some of the people living here still have to deal with inequalities. This new East Lothian Plan will help us work together to address that. It bring challenges and opportunities not just for the partners, but for communities themselves.”</p>
</blockquote>
<p>East Lothian Partnership’s Vice Chair, Edinburgh College Principal Annette Bruton, added:</p>
<blockquote>
<p>“The Plan contains many commitments to action over ten years, including building on the work of the East Lothian Poverty Commission which I chaired last year, and a focus on mental health.”</p>
</blockquote>
<p><span class="lead">Background</span></p>
<p><a href="https://www.eastlothian.gov.uk/info/210592/community_planning/11857/the_east_lothian_plan_2017-27">The East Lothian Plan 2017-27</a> is a Local Outcome Improvement Plan as required by provisions introduced by the Community Empowerment (Scotland) Act 2015. It replaces the previous East Lothian Plan 2013-23.</p>
<p>The priorities for the life of the Plan are as follows:</p>
<p><strong>Theme One – Prosperous</strong></p>
<ul>
<li>Outcome 1.1 East Lothian people are working, are free from in-work poverty and are able to develop and improve their work skills.</li>
<li>Outcome 1.2 Local businesses are thriving and the business base is expanding.</li>
<li>Outcome 1.3 People and businesses in East Lothian have better access to digital infrastructure and the digital skills they need.</li>
</ul>
<p><strong>Theme Two – Community Minded</strong></p>
<ul>
<li>Outcome 2.1 East Lothian has strong resilient communities where people respect and support each other.</li>
<li>Outcome 2.2 East Lothian People can live affordably and contribute to a thriving community life in a high-quality environment.</li>
</ul>
<p><strong>Theme Three - Fair</strong></p>
<ul>
<li>Outcome 3.1 We tackle the causes and effects of poverty in East Lothian and we reduce the gap between the richest and the poorest people.</li>
<li>Outcome 3.2 People in East Lothian are enjoying healthier lives.</li>
</ul>
<p><a href="https://www.eastlothian.gov.uk/info/210592/community_planning/11857/the_east_lothian_plan_2017-27" title="East Lothian Plan - 2017-27"><span class="blue-btn">Access The East Lothian Plan 2017-27</span></a></p>
<p><strong>ENDS</strong></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2017-10-05T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[New East Lothian Plan sets course for partners working together]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>East Lothian Partnership has just published its East Lothian Plan for the next ten years.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[East Lothian Partnership has just published its East Lothian Plan for the next ten years.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[New East Lothian Plan sets course for partners working together | News and Events | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information contact Lynne Russell, Marketing Manager, Queen Margaret University, Edinburgh, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a>  T: 0131 474 0000, M: 07711 011239 and Jon Perkins, Press and PR Officer, E: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a> T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[New East Lothian Plan sets course for partners working together]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>