<?xml version="1.0" encoding="utf-8"?>
<Content Key="64a77998-2f4f-4f97-a8f0-bae8eeb00aac" Alias="CHEARR Bursary - Supporting Information" Level="7">
  <Info>
    <Parent Key="7a893ab9-d9f6-4309-8805-1f66ffc0ca6d">Doctoral Bursaries - Centre for Health, Activity and Rehabilitation Research</Parent>
    <Path>/Home/StudyHere/PostgraduateResearchStudy/GraduateSchoolAndDoctoralResearch/PhDBursaryCompetition/DoctoralBursariesCentreForHealthActivityAndRehabilitationResearch/CHEARRBursarySupportingInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2023-02-03T14:18:09</CreateDate>
    <NodeName Default="CHEARR Bursary - Supporting Information" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/89dad2c291ee4cfe9911169401ea2792]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f95c66a73e664a87924a064f5d66dc3c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/f95c66a73e664a87924a064f5d66dc3c",
      "image": "umb://media/768a224a4d7b4e49a1fe9a67376d527c",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<table border="1" style="border-collapse: collapse; width: 100%; height: 833px;">
<tbody>
<tr style="height: 17px;">
<th style="width: 50%; height: 17px;"><span class="NormalTextRun SCXW11369284 BCX4">Applicant (main supervisor)</span> </th>
<th style="width: 50%; height: 17px;"><span class="NormalTextRun SCXW69036146 BCX4">Marietta van der Linden</span> </th>
</tr>
<tr style="height: 17px;">
<td style="width: 50%; height: 17px;"><span class="NormalTextRun SCXW206073549 BCX4">Other potential QMU supervisors or collaborators </span> </td>
<td style="width: 50%; height: 17px;"> </td>
</tr>
<tr style="height: 34px;">
<td style="width: 50%; height: 34px;"><span class="NormalTextRun SCXW46455639 BCX4">Title / topic</span> </td>
<td style="width: 50%; height: 34px;"><span class="NormalTextRun SCXW4599825 BCX4">Evidence based classification for Frame Running, a new Para Athletics event</span> </td>
</tr>
<tr style="height: 34px;">
<td style="width: 50%; height: 34px;"><span class="NormalTextRun SCXW46455639 BCX4"><span class="NormalTextRun SCXW190139692 BCX4">Alignment with CHEARR subthemes and aims </span> </span></td>
<td style="width: 50%; height: 34px;"><span class="NormalTextRun SCXW4599825 BCX4"><span class="NormalTextRun SCXW35092958 BCX4">“physical activity and exercise rehabilitation” sub-theme</span> </span></td>
</tr>
<tr style="height: 163px;">
<td style="width: 50%; height: 163px;"><span class="NormalTextRun SCXW46455639 BCX4"><span class="NormalTextRun SCXW161174504 BCX4">Desired applicant’s characteristics and plans to attract applicants</span> </span></td>
<td style="width: 50%; height: 163px;">
<p><span>Ideally a physiotherapist with neuro expertise.  Candidates with Human Movement Science or sports sciences background will also be invited to apply.</span> </p>
<p><span>We will distribute the PhD advert to the Frame Running research community (e.g collaborators at universities in England, Ireland, the Netherlands, Sweden and Australia) </span> </p>
</td>
</tr>
<tr style="height: 52px;">
<td style="width: 50%; height: 52px;"><span class="NormalTextRun SCXW46455639 BCX4"><span class="NormalTextRun SCXW72170251 BCX4">Key personal references by applicant </span><span class="NormalTextRun SCXW72170251 BCX4">relevant to the topic</span><span class="NormalTextRun SCXW72170251 BCX4"> (up to six eResearch hyperlinks to outputs and/or links to funded research projects)</span> </span></td>
<td style="width: 50%; height: 52px;">
<p><span class="NormalTextRun SCXW4599825 BCX4"><a rel="noreferrer noopener" href="https://eresearch.qmu.ac.uk/handle/20.500.12289/5192" target="_blank" class="Hyperlink SCXW78775411 BCX4"><span class="NormalTextRun SCXW78775411 BCX4" data-ccp-charstyle="Hyperlink">Influence of lower limb impairment on RaceRunning performance</span></a> </span></p>
<p> </p>
<p><span class="NormalTextRun SCXW4599825 BCX4"><a rel="noreferrer noopener" href="https://eresearch.qmu.ac.uk/handle/20.500.12289/10894" target="_blank" class="Hyperlink SCXW160463650 BCX4"><span class="NormalTextRun SCXW160463650 BCX4" data-ccp-charstyle="Hyperlink">Cluster analysis of impairment measures to inform an evidence based classification structure in RaceRunning</span></a> </span></p>
<p> </p>
<p><span class="NormalTextRun SCXW4599825 BCX4"><a rel="noreferrer noopener" href="https://eresearch.qmu.ac.uk/handle/20.500.12289/11733" target="_blank" class="Hyperlink SCXW106614507 BCX4"><span class="NormalTextRun SCXW106614507 BCX4" data-ccp-charstyle="Hyperlink">Athlete-perceived impact of Frame Running on physical fitness, functional mobility and psychosocial outcomes</span></a> </span></p>
<p> </p>
<p><span class="NormalTextRun SCXW4599825 BCX4"><a rel="noreferrer noopener" href="https://eresearch.qmu.ac.uk/handle/20.500.12289/10625" target="_blank" class="Hyperlink SCXW196283361 BCX4"><span class="NormalTextRun SCXW196283361 BCX4" data-ccp-charstyle="Hyperlink">Effect of RaceRunning on cardiometabolic disease risk factors and functional mobility in young people with moderate-to-severe cerebral palsy: Protocol for a feasibility study</span></a> </span></p>
<p> </p>
<p><span>REF case study</span>: <a href="/services-for-business-and-industry/ref-2021-developing-a-classification-system-for-frame-running-future-paralympic-sport/" title="Developing a classification system for Frame Running">Developing a classification system for Frame Running</a></p>
<p> </p>
<p>REF case study: <a href="https://action.org.uk/research/cerebral-palsy-can-regular-exercise-through-racerunning-improve-health-and-mobility" title="Cerebral palsy: can regular exercise through RaceRunning improve health and mobility?">Cerebral Palsy: can regular exercise though RaceRunning improve health and mobility </a></p>
<p> </p>
<p>REF case study: <a href="https://www.mssociety.org.uk/research/explore-our-research/research-we-fund/search-our-research-projects/frame-running-good" title="Is Frame Running a good exercise option for people with MS?">Is Frame Running a good exercise option for people with MS?</a>  </p>
</td>
</tr>
<tr style="height: 17px;">
<td style="width: 50%; height: 17px;"><span class="NormalTextRun SCXW46455639 BCX4"><span class="NormalTextRun SCXW122329389 BCX4">Key references by other CHEARR or QMU authors relevant to the topic (up to six research project awards, datasets, outputs or submitted applications)</span> </span></td>
<td style="width: 50%; height: 17px;"><span class="NormalTextRun SCXW4599825 BCX4">See above</span></td>
</tr>
<tr style="height: 250px;">
<td style="width: 50%; height: 250px;"><span class="NormalTextRun SCXW46455639 BCX4"><span class="NormalTextRun SCXW122329389 BCX4"><span class="NormalTextRun SCXW119070564 BCX4">Previous funding or funding application related to topic</span> </span></span></td>
<td style="width: 50%; height: 250px;">
<p><span>Not on para sport classification but on the effect of Frame Running on physical fitness, functional mobility and psychosocial outcomes &amp; promotion of Frame Running</span> </p>
<ul>
<li data-leveltext="" data-font="Symbol" data-listid="15" data-list-defn-props="{&quot;335552541&quot;:1,&quot;335559684&quot;:-2,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769226&quot;:&quot;Symbol&quot;,&quot;469769242&quot;:[8226],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="1" data-aria-level="1"><span>children with CP (</span><span>Action Medical Research: £72,422)</span> </li>
<li data-leveltext="" data-font="Symbol" data-listid="15" data-list-defn-props="{&quot;335552541&quot;:1,&quot;335559684&quot;:-2,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769226&quot;:&quot;Symbol&quot;,&quot;469769242&quot;:[8226],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="2" data-aria-level="1"><span>adults with MS ( MS Society ;£47,750).</span> </li>
<li data-leveltext="" data-font="Symbol" data-listid="15" data-list-defn-props="{&quot;335552541&quot;:1,&quot;335559684&quot;:-2,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769226&quot;:&quot;Symbol&quot;,&quot;469769242&quot;:[8226],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="3" data-aria-level="1"><span>ERASMUS +  funding (RUNFREE)  aimed at promoting Frame Running in Europe through development of material such as a manuals for organising coaching courses, come and try days and entry level competition.</span></li>
</ul>
</td>
</tr>
<tr style="height: 181px;">
<td style="width: 50%; height: 181px;"><span class="NormalTextRun SCXW46455639 BCX4"><span class="NormalTextRun SCXW122329389 BCX4"><span class="NormalTextRun SCXW82070116 BCX4">Collaborators  (both in practice and academia)</span> </span></span></td>
<td style="width: 50%; height: 181px;">
<p><span>Practice: CPISRA, Scottish Disability Sport, Team East Lothian, Frame Running Scotland</span> </p>
<p><span>Academia:  Martine Verheul (The University of Edinburgh). Petra van Schie (Amsterdam Medical Centre, the Netherlands), Emma Hjalmarsson and Ferdinand Von Walden (Karolinska Institute, Sweden), Nicola Theis (University of Gloucestershire). Jennifer Ryan (Royal College of Surgeons Ireland)</span> </p>
</td>
</tr>
<tr style="height: 17px;">
<td style="width: 50%; height: 17px;"><span class="NormalTextRun SCXW46455639 BCX4"><span class="NormalTextRun SCXW143789562 BCX4">Potential for KE or innovation resulting or during the lifetime of the bursary</span> </span></td>
<td style="width: 50%; height: 17px;"><span class="NormalTextRun SCXW4599825 BCX4"><span class="NormalTextRun SCXW161839803 BCX4">The results of the PhD studies will directly inform further developments in the Frame Running classification and possibly the classification systems of other sports in which athletes with a coordination impairment compete.</span> </span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 50%; height: 17px;"><span class="NormalTextRun SCXW46455639 BCX4"><span class="NormalTextRun SCXW143789562 BCX4"><span class="NormalTextRun SCXW120530806 BCX4">Potential to contribute to REF impact case study?</span> </span></span></td>
<td style="width: 50%; height: 17px;"><span class="NormalTextRun SCXW4599825 BCX4"><span class="NormalTextRun SCXW161839803 BCX4"><span class="NormalTextRun SCXW128055703 BCX4">RaceRunning (former name of Frame Running) was a 3-4* QMU impact case study. There is a possibility of this case study to be further developed for the next REF.</span> </span></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 50%; height: 17px;"><span class="NormalTextRun SCXW46455639 BCX4"><span class="NormalTextRun SCXW143789562 BCX4"><span class="NormalTextRun SCXW223730181 BCX4">Key references to outputs from previously supervised PhD students of the applicant (up to four eResearch links to outputs)</span> </span></span></td>
<td style="width: 50%; height: 17px;">
<p><span class="NormalTextRun SCXW4599825 BCX4"><span class="NormalTextRun SCXW161839803 BCX4"><a rel="noreferrer noopener" href="https://eresearch.qmu.ac.uk/handle/20.500.12289/10877" target="_blank" class="Hyperlink SCXW131438072 BCX4"><span class="NormalTextRun SCXW131438072 BCX4" data-ccp-charstyle="Hyperlink">Exercise-induced changes in gait kinematics in multiple sclerosis with minimal neurological disability</span></a></span></span></p>
<p><span class="NormalTextRun SCXW4599825 BCX4"><span class="NormalTextRun SCXW161839803 BCX4"> </span></span></p>
<p><span class="NormalTextRun SCXW4599825 BCX4"><span class="NormalTextRun SCXW161839803 BCX4"><a rel="noreferrer noopener" href="https://eresearch.qmu.ac.uk/handle/20.500.12289/3915" target="_blank" class="Hyperlink SCXW51792554 BCX4"><span class="NormalTextRun SCXW51792554 BCX4" data-ccp-charstyle="Hyperlink">Construct validity and reliability of the Selective Control Assessment of the Lower Extremity in children with cerebral palsy</span></a> </span></span></p>
<p> </p>
<p><span class="NormalTextRun SCXW4599825 BCX4"><span class="NormalTextRun SCXW161839803 BCX4"><a rel="noreferrer noopener" href="https://eresearch.qmu.ac.uk/handle/20.500.12289/11612" target="_blank" class="Hyperlink SCXW106777990 BCX4"><span class="NormalTextRun SCXW106777990 BCX4" data-ccp-charstyle="Hyperlink">Psychometric properties of lower limb somatosensory function and body awareness outcome measures in children with upper motor neuron lesions: A systematic review</span></a> </span></span></p>
<p> </p>
<p><span class="NormalTextRun SCXW4599825 BCX4"><span class="NormalTextRun SCXW161839803 BCX4"><a rel="noreferrer noopener" href="https://eresearch.qmu.ac.uk/handle/20.500.12289/11240" target="_blank" class="Hyperlink SCXW185159973 BCX4"><span class="NormalTextRun SCXW185159973 BCX4" data-ccp-charstyle="Hyperlink">A community-based exercise program for ambulant adolescents and young adults with cerebral palsy, a feasibility study</span></a> </span></span></p>
<p> </p>
</td>
</tr>
<tr style="height: 17px;">
<td style="width: 50%; height: 17px;"><span class="NormalTextRun SCXW22931389 BCX4">Key relevant agreed career objectives (e.g. from PER, or </span><span class="NormalTextRun SCXW22931389 BCX4" data-ccp-charstyle="Hyperlink">Vitae</span><span class="NormalTextRun SCXW22931389 BCX4">, or similar) (all proposed supervisors)</span> </td>
<td style="width: 50%; height: 17px;">MvdL: Further development of Frame Running research</td>
</tr>
<tr>
<td style="width: 50%;"><span class="NormalTextRun SCXW202610869 BCX4">Number of PhD students currently supervised by each member of the proposed supervisory team</span> </td>
<td style="width: 50%;"><span class="NormalTextRun SCXW178741945 BCX4">MvdL: 5 of which four part-time</span> </td>
</tr>
<tr>
<td style="width: 50%;"><span class="NormalTextRun SCXW239827242 BCX4">Current FTE and contract length of applicant</span> </td>
<td style="width: 50%;"><span class="NormalTextRun SCXW54729027 BCX4">MvdL:  0.6FTE (permanent)</span> </td>
</tr>
<tr>
<td style="width: 50%;"><span class="NormalTextRun SCXW239827242 BCX4"><span class="NormalTextRun SCXW209659902 BCX4">Source of funding, i.e. if bursary or if external (co)funding relevant to the bursary proposal</span> </span></td>
<td style="width: 50%;"><span class="NormalTextRun SCXW54729027 BCX4"><span class="NormalTextRun SCXW95215838 BCX4">QMU Bursary. Probably some support with student travel and accommodation from CPISRA (Cerebral palsy International Sport and Recreation association) and possibly the IPC  (international Paralympic committee) or WPA (World Para Athletics)</span> </span></td>
</tr>
</tbody>
</table>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[CHEARR Bursary - Supporting Information]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>CHEARR Bursary - Supporting Information</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Supporting information for the CHEARR 2023 PhD Bursary at Queen Margaret University, Edinburgh]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[CHEARR Bursary - Supporting Information | PhD Bursary | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[CHEARR Bursary]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>