<?xml version="1.0" encoding="utf-8"?>
<Content Key="65b6b7dc-1db4-4e50-8a9f-f5c5bd6486de" Alias="2017.10.02 - QMU to host first international women’s conferenc" Level="5">
  <Info>
    <Parent Key="5ec60e7e-de76-4127-aaea-18ddb982220d">2017</Parent>
    <Path>/Home/NewsAndEvents/News//QMUToHostFirstInternationalWomenSConferenc</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T20:46:06</CreateDate>
    <NodeName Default="2017.10.02 - QMU to host first international women’s conferenc" />
    <SortOrder>133</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a2ea6de0f1e34fd6ad70c91393d9348f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/a2ea6de0f1e34fd6ad70c91393d9348f",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "QMU to host first international women’s conference",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The WomenBeing Project is an international platform for discussion, sharing of experiences and knowledge, and support the empowerment of women, through online and offline events.</p>
<p>The first WomenBeing Project conference at QMU, Edinburgh will have an international focus and welcome delegates from 25 different countries to share their research and work on the status of women in the world today.</p>
<p>Delegates will address several areas that constitute challenges to gender equality and women’s rights, including US President Trump’s “war on women”, the gender pay gap, and violence against women and girls (VAWG).</p>
<p>International researchers and scientists from academic, public and private organisations will present their studies, exchange experiences, and disseminate their results on women’s and gender studies.</p>
<p>The aim of the conference is to amplify the research being done on women and gender equality, to create lasting productive partnerships among the conference participants, and to support the empowerment of women and girls worldwide through research and dialogue.</p>
<p>QMU’s Professor Claire Seaman is Co-chairwoman for the WomenBeing Conference and is an expert in family business and enterprise at the University. Commenting on the event, Professor Seaman said: “We’re delighted to be hosting the first WomenBeing Conference at QMU and providing a platform to an international forum for debate and exchange on the main challenges facing women in today’s society. Delegates will have the opportunity to reflect on the ways in which we can, individually and collectively, propose solutions to these problems.</p>
<p>“There is a growing awareness of the need to address the problems that women are experiencing, to speak truth to power, and to take action. WomenBeing builds upon this momentum by providing a ‘loudspeaker’ for female academics, civil servants, researchers, social activists, journalists and private individuals, to voice their opinions on the main challenges that women are facing in 2017.”</p>
<p>QMU’s Dr Rebecca Finkel and Dr Susanne Ross are also members of the WomenBeing Conference organising committee and specialise in gender identity, socio-economic and public policy research. They will be joined at the event by Professor Brigid Daniel, who has just been appointed Dean of School of Arts, Social Sciences and Management at the University.</p>
<p>The opening keynote, ‘Who broke feminism? The obligation of privilege’ will be delivered by Professor Emma Rees, University of Chester, and Director of the Institute of Gender Studies. Panel discussions cover a wide range of areas, including President Trump’s legislation on women’s reproductive rights, migrant women in Europe, Islamic feminism, the right to breastfeeding, women in senior management and entrepreneurship, violence against women and girls, women in the arts, and women in academia.</p>
<p>The WomenBeing project was created by Scotland-based entrepreneur, Monica Martins, who is also the CEO and Founder of the company Theorem Conferences, which organises conferences throughout Europe. Commenting on the WomenBeing conference, Monica said: “I’m really pleased with the way that the QMU has embraced this international conference that brings together delegates from several countries from across Europe, as well as Azerbaijan, South Africa, Taiwan, United Arab Emirates, Nigeria, Pakistan, Lebanon, Iran, and many others.”</p>
<p>The conference coincides with Ada Lovelace Day and celebrates women of the present and the past, whose achievements have contributed so much to humanity. Like Ada Lovelace, there are many women fighting for equality, for their rights, and for peace.</p>
<p>QMU’s two female founders, Christian Guthrie Wright and Louisa Stevenson, were also pioneers of their time. They were key figures in driving the UK wide mid Victorian Women’s Movement, which campaigned for better education and improved career opportunities for females. Impressively, they were largely responsible for leading the campaign to secure the admission of females to Edinburgh University. Their drive, commitment and social conscience laid the foundation for what has helped QMU become an ambitious higher education institution. Their legacy is a university which is driven by the highest ideals and purposes, and remains true to its values of opportunity for women and improving quality of life.</p>
<p>Professor Seaman added: “QMU remains committed to gender equality and opportunity for all. We aim to be a university without borders and without barriers. Today, our female staff and students – be they lecturers, researchers, leaders, supporters, mothers, partners, carers – continue to achieve and inspire.”</p>
<p><strong>ENDS</strong></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2017-10-02T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU to host first international women’s conference]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Queen Margaret University (QMU) has teamed up with the Edinburgh-based WomenBeing Project to host the first international women’s conference on the University campus, 10-12 October 2017.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Queen Margaret University (QMU) has teamed up with the Edinburgh-based WomenBeing Project to host the first international women’s conference on the University campus, 10-12 October 2017.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU to host first international women’s conference | News and Events | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For more information, contact the Director of WomenBeing, Monica Martins, E: <a href="mailto:info@womenbeing.co.uk">info@womenbeing.co.uk</a>, or <a href="https://www.facebook.com/womenbeingmag/" title="WomenBeing on Facebook">visit their Facebook page</a>.</p>
<p>For further media information please contact Lynne Russell, Communications Manager at Queen Margaret University, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a> , T: 0131 474 0000, M: 07711 011239 or Jonathan Perkins, Press and PR Officer,  E: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk </a>T: 0131 474 0000</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU to host first international women’s conference]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>