<?xml version="1.0" encoding="utf-8"?>
<Content Key="6795c767-2281-4172-9727-63d552ec5119" Alias="2019.07.05 - Respite care pioneer awarded honorary degree from Queen Margaret University" Level="5">
  <Info>
    <Parent Key="08947aaf-1983-41d9-af0f-da5f3d7f0945">2019</Parent>
    <Path>/Home/NewsAndEvents/News//RespiteCarePioneerAwardedHonoraryDegreeFromQueenMargaretUniversity</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-11T10:54:52</CreateDate>
    <NodeName Default="2019.07.05 - Respite care pioneer awarded honorary degree from Queen Margaret University" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/4213340e9cd14648913bed6ea1362f9f]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1ba9499572de403bb1cd888580dbb2f8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/1ba9499572de403bb1cd888580dbb2f8",
      "image": "umb://media/4f637669e6b64ed8859e9e29116af5b8",
      "title": "Respite care pioneer awarded honorary degree from Queen Margaret University",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Mairi O’Keefe, former Chief Executive of Leuchie House, an innovative respite care facility outside North Berwick in East Lothian, was awarded a Degree of Doctor of the University, Honoris Causa by Queen Margaret University (QMU), Edinburgh. Mairi is not only known for saving Leuchie House, but is celebrated for her achievements in creating a sustainable model of respite care which has improved the lives of thousands of people and their families living with Multiple Sclerosis, Parkinson’s and other long term conditions.</p>
<p>Mairi O’Keefe was presented with her honorary award at an impressive graduation ceremony held at the Usher Hall in Edinburgh. She celebrated her success alongside QMU Chancellor Prue Leith, best known for her starring role as a judge on ‘The Great British Bake Off’, and 800 new graduates and their families.  </p>
<p>Having trained as nurse, and held various airport management and change manager roles, Mairi took over the reins of Leuchie House in 2003 when it was operated by the MS Society. However, funding was an issue, and when it faced closure in 2010, Mairi set up the ‘Save Leuchie’ campaign. She worked tirelessly, and networked relentlessly, to secure the support of politicians, business people, the media and the general public. The campaign generated sufficient backing to enable Leuchie to set up as an independent charity. Over the next seven years, Mairi and her team secured £4.5 million in grants from trust funds and donations from members of the public, as well as support from the Scottish Government.</p>
<p>Mairi sat on cross-party groups at the Scottish Parliament, was a member of the Governing Council for Edinburgh Chamber of Commerce and was Vice Chair of the Health and Social Care Alliance Scotland. In so doing, she not only built a high quality care service in East Lothian, she contributed immensely to the development of health and social care in Scotland. In recognition of her achievements, Mairi was made ‘Community Champion of the Year’ in STV’s inaugural ‘Finding Scotland’s Real Heroes’ awards in 2013, and was awarded an MBE for services to people with disabilities in 2015.</p>
<p>Believing in the power of collaboration, Mairi helped establish an official partnership with Queen Margaret University in 2017. This has led to outstanding clinical and work placements, as well as research and creative opportunities, for the University’s nursing, occupational therapy, art therapy, nutrition, dietetics, physiotherapy, gastronomy and film students and staff.</p>
<p>Professor Petra Wend, Principal and Vice Chancellor of Queen Margaret University, said: “We are delighted that today our students have the opportunity to learn about the career of this former nursing and social care leader and to be inspired by her achievements and her compassion for others. Mairi’s skills as a leader, and as a determined fundraiser, meant that at the time of her retiral announcement last year, Leuchie House had successfully delivered more than 33,000 respite nights for its guests since it was established as an independent charity.”</p>
<p>Professor Wend concluded: “We are proud to recognise Mairi as a hard working advocate for people living with disabilities across Scotland and beyond. Today, we celebrate her achievements as a leader and her success in integrating healthcare with respite services to create a model which is acknowledged as an exemplar in the Scottish social care sector. Her work and commitment to others mirrors QMU’s values of equality, social justice and desire to make a difference to people’s lives. We are therefore proud to award her a Degree of Doctor of the University, Honoris Causa.”</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2019-07-09T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Respite care pioneer awarded honorary degree from Queen Margaret University]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[2022-07-05T11:29:53]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>A former nurse who transformed a respite care home facing closure into one of the most well respected respite facilities in Scotland has today (9<sup>th</sup> July) been awarded an honorary degree.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Mairi O’Keefe, former Chief Executive of Leuchie House, an innovative respite care facility outside North Berwick in East Lothian, was awarded a Degree of Doctor of the University, Honoris Causa by Queen Margaret University (QMU), Edinburgh. Mairi, a former nurse, is not only known for saving Leuchie House, but is celebrated for her achievements in creating a sustainable model of respite care which has improved the lives of thousands of people and their families living with Multiple Sclerosis, Parkinson’s and other long term conditions.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Respite care pioneer awarded honorary degree from Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p><strong>Mairi O’Keefe MBE is:</strong></p>
<ul>
<li>Director of Ceannus, Leadership by Design;</li>
<li>Vice Chair of The Alliance;</li>
<li>Member of Edinburgh Chamber of Commerce governing council; and</li>
<li>Member of Marie Curie Advisory Board.</li>
</ul>
<p><strong>Queen Margaret University, Edinburgh </strong></p>
<ul>
<li>Our vision is to be a university of ideas and influence. Our mission is to foster intellectual capital with both a theoretical and practical focus, giving students and staff the confidence to make a real difference to the world around them.</li>
<li>Queen Margaret specialises in professional education and research that informs the development of policy and practice in health, drama &amp; creative arts, media &amp; social science and business &amp; enterprise. We are known not only for excellent, relevant teaching, research and knowledge exchange but also for the care and respect we give our students, staff and partners. As a thriving campus university we strive to create a community without borders, helping to improve people's lives locally, nationally and internationally. We are ambitious and enterprising, and, in everything we do, we are committed to social justice.</li>
</ul>
<p><a href="https://www.leuchiehouse.org.uk/" title="Leuchie House">Leuchie House</a></p>
<ul>
<li>Leuchie House is Scotland’s only dedicated respite centre delivering caring respite breaks for people with long term conditions such as MS and Parkinson’s, and their carers. Up to 4,500 respite nights a year.</li>
<li>An independent charity, Leuchie House provides 4,7 and 11 night breaks for people from across Scotland and beyond who are living with multiple sclerosis, Parkinson’s, motor neurone disease, cerebral palsy, stroke, spinal injuries and many other long term conditions. </li>
<li>Included in every Leuchie break is personalised 24 hour nursing care, specialist physiotherapy support, a programme of activities, outings and entertainment, and freshly prepared home made food.</li>
<li>The cost of every Leuchie break is subsidised by 48% to make them as affordable and as accessible as possible. This subsidy is recouped through an extensive programme of fundraising.</li>
</ul>
<div>
<p> </p>
</div>
<p><em>For further media information please contact Lynne Russell, Communications Manager on T: 0131 474 0000, M: 07711 011239, E: </em><a href="mailto:kkeith@qmu.ac.uk"><em>lrussell@qmu.ac.uk</em></a><em> or Karen Keith, Media Relations and Content Officer at Queen Margaret University on E: </em><a href="mailto:kkeith@qmu.ac.uk"><em>kkeith@qmu.ac.uk</em></a><em>; T: 0131 474 0000, M: 07989 386968. </em></p>
<p> </p>
<p> </p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Respite care pioneer awarded honorary degree from QMU]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>