<?xml version="1.0" encoding="utf-8"?>
<Content Key="68d9c633-a487-45bf-9465-d8bd17a51333" Alias="Dietetics MSc/PgDip - Induction Programme" Level="6">
  <Info>
    <Parent Key="eb9ce3aa-32f4-4456-a0a3-c71071d377d2">January Induction Programme List 2024</Parent>
    <Path>/Home/CurrentStudents/CurrentStudentsGeneralInformation/InductionForNewStudents/JanuaryInductionProgrammeList2024/DieteticsMScPgDipInductionProgramme</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-08-31T12:28:33</CreateDate>
    <NodeName Default="Dietetics MSc/PgDip - Induction Programme" />
    <SortOrder>27</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/ad2f059267b640adb3d042e8efe18ebd]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/566adb1bff6d4e84896c02db6a935d45"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/566adb1bff6d4e84896c02db6a935d45",
      "image": "umb://media/b4014a65124449dbb05bbc21cef9d753",
      "title": "Dietetics MSc/PgDip - Induction Programme",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><a href="/{localLink:umb://document/8b22f79cd8a3445eb24b3d40a2e78943}" title="General Information &amp; Support"><span class="blue-btn"> You can also view further Induction Information &amp; Support via our Main Induction Pages</span></a></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3640012a17664105a93dc11e06c27812"
      },
      {
        "contentUdi": "umb://element/1e4f8e98d3d04fa2af75385ced0eaffd"
      },
      {
        "contentUdi": "umb://element/5331388e88f94a7d911288c3c8598aba"
      },
      {
        "contentUdi": "umb://element/13c03b2b99ad468699447a95c47606cb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/3640012a17664105a93dc11e06c27812",
      "title": "Monday 5th September 2022",
      "content": "<table border=\"1\" style=\"border-collapse: collapse; width: 100%; height: 18px;\">\n<tbody>\n<tr style=\"height: 18px;\">\n<td style=\"width: 33.3333%; height: 18px;\">14.00 - 15.30</td>\n<td style=\"width: 33.3333%; height: 18px;\">Pre-Placement Talk</td>\n<td style=\"width: 33.3333%; height: 18px;\">Halle Lecture Theatre</td>\n</tr>\n</tbody>\n</table>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/1e4f8e98d3d04fa2af75385ced0eaffd",
      "title": "Wednesday 7th September 2022",
      "content": "<table border=\"0\" width=\"708\" height=\"22\" style=\"height: 36px;\">\n<tbody>\n<tr style=\"height: 18px;\">\n<td style=\"height: 18px;\">10.00 - 12.00</td>\n<td style=\"height: 18px;\">Programme Talk Part 1 </td>\n<td style=\"height: 18px;\">Room 2169</td>\n</tr>\n<tr style=\"height: 18px;\">\n<td style=\"height: 18px;\">13:00 - 15.00</td>\n<td style=\"height: 18px;\">Programme Talk Part 2 </td>\n<td style=\"height: 18px;\">Room 2169</td>\n</tr>\n</tbody>\n</table>\n<p> </p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/5331388e88f94a7d911288c3c8598aba",
      "title": "Thursday 8th September 2022",
      "content": "<table border=\"0\" width=\"749\" height=\"126\" style=\"height: 102px;\">\n<tbody>\n<tr style=\"height: 25px;\">\n<td style=\"width: 81px; height: 25px;\">11.00 - 12.00</td>\n<td style=\"width: 152px; height: 25px;\">University Welcome Talk</td>\n<td style=\"width: 207px; height: 25px;\">Halle Lecture Theatre</td>\n</tr>\n</tbody>\n</table>\n<p> </p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/13c03b2b99ad468699447a95c47606cb",
      "title": "Friday 9th September 2022",
      "content": "<table border=\"1\" style=\"border-collapse: collapse; width: 100%;\">\n<tbody>\n<tr>\n<td style=\"width: 33.3333%;\">12.00 - 12.30</td>\n<td style=\"width: 33.3333%;\">IT Tour</td>\n<td style=\"width: 33.3333%;\">\n<p>Online Session (pre-recorded).</p>\n<p>This session can be watched at the allotted time or at your convenience. <a href=\"https://u.qmu.ac.uk/tour/start/\" title=\"IT Tour session\">Watch the IT Tour session online.</a></p>\n</td>\n</tr>\n<tr>\n<td style=\"width: 33.3333%;\">13.00 - 14.00</td>\n<td style=\"width: 33.3333%;\">Discover Library Essentials*</td>\n<td style=\"width: 33.3333%;\">\n<p>Details of how to access this session will be emailed to you.</p>\n<p>Please watch this <a href=\"https://www.youtube.com/watch?v=12jCLDKDqe8\" title=\"Library induction (YouTube video)\" data-anchor=\"?v=12jCLDKDqe8\">library induction video</a> before attending this session.</p>\n</td>\n</tr>\n</tbody>\n</table>\n<p> </p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[[
  "Concertina"
]]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[MSc/PgDip Dietetics - Induction Programme]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>We are delighted that you have chosen to study with QMU and we are looking forward to supporting you throughout your studies. You can also view further<strong> Induction</strong> <strong>Information &amp; Support</strong> via our <a href="/{localLink:umb://document/8b22f79cd8a3445eb24b3d40a2e78943}" title="General Information &amp; Support">Main Induction Pages</a></p>
<p><strong><span class="lead">Please click on the dates below to view your Induction Schedule<span class="lead"></span></span></strong></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Induction Schedule Template 2021 for MSc/PgDip Dietetics]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[MSc/PgDip Dietetics -  Induction Programme| Induction 2021 | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/348cf564986f47b790d25bfaf281a6e4,umb://document/1620d7d2691f4195832b687d9f4c6394]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[MSc/PgDip Dietetics - Induction]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>