<?xml version="1.0" encoding="utf-8"?>
<Content Key="72047706-2ddb-4fd6-87d5-f7fb54b77cb1" Alias="Learning Resource Centre (LRC) Induction" Level="5">
  <Info>
    <Parent Key="a0f618c6-732c-488d-ac61-072f7ee9aa8a">Induction for New Students</Parent>
    <Path>/Home/CurrentStudents/CurrentStudentsGeneralInformation/InductionForNewStudents/LearningResourceCentreLRCInduction</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-04T11:40:42</CreateDate>
    <NodeName Default="Learning Resource Centre (LRC) Induction" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/30ce3473018841aea5802f4d0fd130b8]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a4e11aac6f5e4f3f8425e5d8ae293d5d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/a4e11aac6f5e4f3f8425e5d8ae293d5d",
      "image": "umb://media/7c339e23e5db440098c1d95c65801ff7",
      "title": "Learning Resource Centre (LRC) Induction",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p>If you have any questions that you can't find the answers to on these pages, please click here to visit our useful contacts page and give us a call or drop us an email.</p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>Accessing Library and IT resources <br /></strong>Once you have matriculated online, using your QMU Student number, access to the QMU network, including email, e-portfolios, word processing etc. will be enabled. Full details of the process will be set out on <a rel="noopener" href="https://u.qmu.ac.uk/live/sits.urd/run/siw_lgn" target="_blank">QMU Student Portal</a>.</p>
<p>You must have a current Student ID Smartcard to borrow Library resources. You can request a Smartcard once via the <a href="/study-here/learning-facilities/it-services/qmu-portal/">Student Portal</a> once you have completed online matriculation.</p>
<p><strong>Help when you arrive <br /></strong>To help you with navigating and using the services provided under the banner of the LRC you will be given help and instruction in using our services. When you come to QMU you will be given the opportunity to find out about the LRC in a variety of different ways.</p>
<ul>
<li>You will have the opportunity to take part in a Discover Library Essentials session. This session will be timetabled into your Induction Programme.</li>
<li><a href="/{localLink:umb://document/f35122fea9c74f1fa066b114384e314e}" title="Use of the LRC during the Pandemic" data-udi="umb://document/e9468ce624d34d1c910a7427921ab379">More information on the steps we've taken to keep you safe while you're in the LRC</a></li>
</ul>
<p><strong>More help and advice <br /></strong></p>
<p>The Helpdesk is the first place you should go to ask for assistance with IT and using any of the library resources. The Helpdesk Team will be happy to help and will pass on any in-depth enquiry to the appropriate member of staff. Online advice and contact information for your Liaison Librarian can be found at: <a href="https://libguides.qmu.ac.uk/?b=s" title="Library Subject Resources Guide" data-anchor="?b=s">libguides.qmu.ac.uk/</a></p>
<p><strong>Services for students with disabilities <br /></strong>If you are a disabled student, you are entitled to make use of the Assistive Technology Room in the LRC. Student Services will refer you to the LRC for a short induction.</p>
<p><strong>LRC Contacts and </strong><strong>Helpdesk<br /></strong>Email<a href="mailto:LRChelp@qmu.ac.uk"> LRChelp@qmu.ac.uk</a> or call 0131 474 0000 and ask for the Learning Resource Centre when prompted by the voice activated system.</p>
<p>Library Services induction web site–<a href="http://libguides.qmu.ac.uk/induction" title="Library Induction Guide">libguides.qmu.ac.uk/induction</a></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[[
  "Concertina"
]]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Learning Resource Centre (LRC) Induction]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>The LRC, at the heart of the campus, provides you with both traditional and new library services and is open 7 days a week from 8am to 9pm. You have access to a range of resources in different formats – print and digital – to enable you to complete your studies. The LRC also provides different places to study that accommodate different needs and learning styles.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[The LRC, at the heart of the campus, provides you with both traditional and new library services and is open 24 hours a day, 7 days a week all year round . You have access to a range of resources in different formats – print and digital – to enable you to complete your studies. The LRC also provides different places to study that accommodate different needs and learning styles, from group study rooms to absolutely silent places to study.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Learning Resource Centre (LRC) Induction | Current Students | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Library Induction]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>