<?xml version="1.0" encoding="utf-8"?>
<Content Key="73fc870c-04fd-4ae1-857a-76c5feb28168" Alias="2019.03.26 - Literally@Newbattle" Level="5">
  <Info>
    <Parent Key="08947aaf-1983-41d9-af0f-da5f3d7f0945">2019</Parent>
    <Path>/Home/NewsAndEvents/News//LiterallyNewbattle</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-11T11:07:33</CreateDate>
    <NodeName Default="2019.03.26 - Literally@Newbattle" />
    <SortOrder>37</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/b5ec412a9ba24dc3b6bedaeffb209707]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a976803446d04d3dbb9be777f6fdeb89"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/a976803446d04d3dbb9be777f6fdeb89",
      "image": "umb://media/e6075004b0fd437fa724b991970c00cf",
      "title": "Exciting new literary festival comes to Midlothian",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The festival of words, stories and ideas organised by Newbattle Abbey College, Midlothian Council, Queen Margaret University (QMU), the Scottish Mining Museum and local writers’ groups will focus on engaging with children, young people and families living in Midlothian through a two-day diverse programme. It will be the first time the local authority will host a literary festival. <em>Literally@Newbattle</em> is supported by Edinburgh-based international construction and property consultancy, Thomas &amp; Adamson.</p>
<p>An event targeting invited primary schools in Midlothian will take place on the morning of Friday 26 April. That evening, Newbattle Abbey College will host Karine Polwart, a Pathhead-based songwriter, theatre maker, author and winner of the 2018 BBC Radio 2 Folk Singer of The Year award, and Scots poet and novelist Jackie Kay MBE, FRSE. Jackie is also the third modern Makar; the Scottish poet laureate. The evening will be a celebration of Scotland in words and song, reflecting the importance of poetry, storytelling and song to Scotland.</p>
<p>Saturday 27 April offers a diverse programme of events for all ages including Gaelic storytelling, poetry and writing showcases, script-writing, rap/hip-hop workshops, contemporary fiction and crime panels.</p>
<p>Events for children are free. Ticket costs for other events will be kept at a reasonable rate to encourage the local community to get involved.</p>
<p>"QMU is delighted to be involved in organising the first-ever literary festival in Midlothian," said Karen Cullen, Transition and Guidance Adviser with QMU's Outreach &amp; Community Engagement Team. "The programme is very exciting and diverse, with something for everyone and it promises to be very different from a regular book festival.  We look forward to meeting many members of the local community over the two days, at an inspiring venue.”</p>
<p>Marian Docherty, Principal of Newbattle Abbey College, said: “We hope that this initiative will be the first of many and will extend cultural opportunities in Midlothian for people of all ages.”</p>
<p>For more information, please contact the college on 0131 663 1921 or email <a href="mailto:office@newbattleabbeycollege.ac.uk">office@newbattleabbeycollege.ac.uk</a>.</p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2019-03-27T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Exciting new literary festival comes to Midlothian]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>The first-ever literary festival in Midlothian - L<em>iterally@Newbattle</em> - will take place over two days next month.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[The first-ever literary festival in Midlothian - Literally@Newbattle - will take place over two days next month. The festival of words, stories and ideas organised by Newbattle Abbey College, Midlothian Council, Queen Margaret University (QMU), the Scottish Mining Museum and local writers’ groups will focus on engaging with children, young people and families living in Midlothian through a two-day diverse programme. It will be the first time the local authority will host a literary festival. Literally@Newbattle is supported by Edinburgh-based international construction and property consultancy, Thomas & Adamson.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information please contact Karen Keith (Media Relations and Content Officer) at Queen Margaret University, Edinburgh, E: <a href="mailto:kkeith@qmu.ac.uk">kkeith@qmu.ac.uk</a><span> T: 0131 474 0000.</span></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Literally@Newbattle]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>