<?xml version="1.0" encoding="utf-8"?>
<Content Key="74ed05a2-9691-4699-a92b-704e1791faed" Alias="Student Stories Tags" Level="3">
  <Info>
    <Parent Key="f2961be2-f026-4ce8-b4a8-bfb73b72b245">Tags</Parent>
    <Path>/Settings/Tags/StudentStoriesTags</Path>
    <Trashed>false</Trashed>
    <ContentType>tagFolder</ContentType>
    <CreateDate>2023-10-23T08:20:46</CreateDate>
    <NodeName Default="Student Stories Tags" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>