<?xml version="1.0" encoding="utf-8"?>
<Content Key="75681cba-b0bc-4642-b98d-962dfb7c4660" Alias="Left Navigation" Level="3">
  <Info>
    <Parent Key="73f589ed-9b7c-4dbe-90bd-80569a579a29">Navigation</Parent>
    <Path>/Settings/Navigation/LeftNavigation</Path>
    <Trashed>false</Trashed>
    <ContentType>navigationMenu</ContentType>
    <CreateDate>2021-01-11T16:19:51</CreateDate>
    <NodeName Default="Left Navigation" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>