<?xml version="1.0" encoding="utf-8"?>
<Content Key="76e21544-fdd7-4898-b175-d8e4bdda758c" Alias="2021.03.05 SIE Fresh Ideas entrepreneurship competition" Level="5">
  <Info>
    <Parent Key="659cf431-5480-4060-80fd-c765a525647f">2021</Parent>
    <Path>/Home/NewsAndEvents/News//SIEFreshIdeasEntrepreneurshipCompetition</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-11-03T09:21:03</CreateDate>
    <NodeName Default="2021.03.05 SIE Fresh Ideas entrepreneurship competition" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/9ec1ecd2b91c46baa93949767d7e2004]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bc0ce05e71e9430981b55b6582840e5a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/bc0ce05e71e9430981b55b6582840e5a",
      "image": "umb://media/5a239ee33f7c4c88813a40332e2d8443",
      "title": "Queer ideas and accessibility to the arts sees QMU women secure their place in entrepreneurial finals",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Representing some of Scotland’s best and up and coming entrepreneurs with the potential to make a big impact, the young women are preparing to pitch their ideas to a panel of competition judges on the 12 March. If they are on a winning streak, the pair could net themselves a cash prize of £1200 along with expert guidance to support them in further development of their creative business ideas.</p>
<p>The platform will allow Sinead to pitch her ideas for ACT Scotland, a new performing arts school, based in the heart of Lanarkshire, which will bridge the gap in accessibility to the arts in Scotland.</p>
<p>Heather, who is only in her 2nd year of BA (Hons) Events Management at QMU, will present her concepts for Queerativity – an online platform showcasing Queer Art by Queer Creators. This new creative project aims to amplify the marginalised voices of the LGBTQ+ community and act as a positive change-maker within society.</p>
<p>The Scottish Institute for Enterprise (SIE) creates opportunities for students to be innovative and works nationally to promote and support enterprise and entrepreneurship in Scotland’s students.</p>
<p>Miriam Smith, QMU’s Innovation and Enterprise Manager, said: “We are so impressed that even during the toughest of years, these two young women have made great progress in developing their creative ideas and their commitment to their entrepreneurial projects.</p>
<p>“There is a significant drive throughout QMU to support and develop student entrepreneurship to fit with the Scotland CAN DO vision to become a world leading entrepreneurial and innovative society, a place where growth and innovation go hand in hand, with wider benefits for all. We love to celebrate student and graduate talent, and it’s an incredible achievement for QMU to have two women as part of only 14 individuals from across Scotland who have made it to the final stages of SIE’s Fresh Talent competition.</p>
<p>“We are also inspired by Sinead and Heather’s concepts which align with Queen Margaret University’s values – to make a difference to the world around us.”</p>
<p>Miriam concluded: “The SIE Fresh Ideas competitions allows students and graduates to attract the attention of experienced entrepreneurial advisers who can nurture and support early stage ideas. We are so proud that Sinead and Heather have used the skills and knowledge that they have gained on their courses at QMU, and injected their entrepreneurial flare, to create initiatives that will help improve people lives by creating equality and opportunity within the creative industries.</p>
<p>“We look forward to supporting them through the work of QMU’s Business Innovation Zone and wish them the best of luck for their pitches on the 12 March.”</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2021-03-05T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Queer ideas and accessibility to the arts sees QMU women secure their place in entrepreneurial finals]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Two impressive young women from QMU have fought off stiff competition to secure their place in the finals of a prestigious Scottish entrepreneurial competition.</p>
<p>Sinead Higham, a recent theatre and performance graduate, and Heather Richardson, a current events management student, are two of only 14 finalists to make it to the last stage of the Scottish Institute for Enterprise (SIE) Fresh Ideas competition</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Two impressive young women from QMU have fought off stiff competition to secure their place in the finals of a prestigious Scottish entrepreneurial competition. Sinead Higham, a recent theatre and performance graduate, and Heather Richardson, a current events management student, are two of only 14 finalists to make it to the last stage of the Scottish Institute for Enterprise (SIE) Fresh Ideas competition.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[SIE Fresh Ideas entrepreneurship competition | QMU News | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>Find out more about <a href="https://www.sie.ac.uk">SIE Fresh Ideas</a>.</p>
<p><a href="https://cando.scot/" title="Scotland CAN DO">Scotland CAN DO</a></p>
<p><a href="/services-for-business-and-industry/business-innovation-zone/" title="Business Innovation Zone">QMU’s Business Innovation Zone</a></p>
<p>For further information contact Lynne Russell, Communications Manager, Queen Margaret University, Edinburgh, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a>; M: 07711 011239.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[SIE Fresh Ideas entrepreneurship competition]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>