<?xml version="1.0" encoding="utf-8"?>
<Content Key="771b97c9-f640-4e68-8322-1992601a6561" Alias="Virtual Classroom - Collaborate Ultra" Level="6">
  <Info>
    <Parent Key="54292e68-83b7-486c-a54e-51b2d26202fc">Learning technologies</Parent>
    <Path>/Home/StudyHere/LearningFacilities/ITServices/LearningTechnologies/VirtualClassroomCollaborateUltra</Path>
    <Trashed>false</Trashed>
    <ContentType>generalLandingPage</ContentType>
    <CreateDate>2021-02-08T14:48:06</CreateDate>
    <NodeName Default="Virtual Classroom - Collaborate Ultra" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2d105c-dfa8-42d8-8bd5-cf850a36952d">GeneralLandingPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/b2e1b43f33494f36ba741ef59a7f23d1]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d5d6eaf65552412bbf8f92c9c5aaf5cc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/d5d6eaf65552412bbf8f92c9c5aaf5cc",
      "image": "umb://media/d8af965d6b72461dae288cd6f75ecf47",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>Please note: </strong>Collaborate Ultra is being replaced with BigBlueButton within Canvas from the beginning of the 2023/24 academic year. BigBlueButton and MS Teams guidance can be found within the <a href="https://canvas.qmu.ac.uk/courses/118">Learning technologies guidance</a> pages.</p>
<p> </p>
<p> </p>
<p>Collaborate Ultra is the University’s virtual classroom platform and the supported tool of choice for synchronous learning and teaching sessions.  It allows for audio, video, interactive whiteboard, PowerPoint display, application sharing, polling, breakout rooms and session recording. It can be used for an interactive online seminar or virtual classroom.</p>
<p>Collaborate can be used by staff and students. It can be used for one-to-one meetings, tutorial space, student discussions or an informal chat, contact <a href="mailto:assist@qmu.ac.uk" title="Assist Email">assist@qmu.ac.uk</a> to ask more about setting up sessions.</p>
<p>Collaborate Ultra is also integrated with the Hub meaning tutors can set up sessions and restrict access to authenticated users enrolled within a Hub area, providing the ability to verify the identity of a participant. External guests can also be invited to Collaborate sessions within the Hub.</p>]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[umb://document/6f1459d5fd1b4bd7a73526356128e29c]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Virtual Classroom - Collaborate Ultra]]></Value>
    </displayTitle>
    <focusPanel>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e2d8a8a918e544acb7ede9d10f637dc5"
      },
      {
        "contentUdi": "umb://element/33b4937bf03043c585889f0c94961bff"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/e2d8a8a918e544acb7ede9d10f637dc5",
      "title": "Collaborate Ultra for students",
      "content": "",
      "image": "umb://media/b1342d1e627b437a9a429e2e255d2738",
      "link": "[{\"name\":\"Collaborate for Students\",\"udi\":\"umb://document/a32f0a93b6ec4e07b36d289bfe84221a\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/33b4937bf03043c585889f0c94961bff",
      "title": "Collaborate Ultra for tutors",
      "content": "",
      "image": "umb://media/cd83a45e775944c68dd16ba536a2519d",
      "link": "[{\"name\":\"Collaborate for Tutors\",\"udi\":\"umb://document/e052832946864fc0a5b962cd717be9b5\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </focusPanel>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Virtual classroom
online sessions
Collaborate
Real-time Learning (Blackboard Collaborate)
Virtual Classroom
Collaborate
online classroom
online session
session etiquette
attendee checklist]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Virtual Classroom - Collaborate Ultra]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>