<?xml version="1.0" encoding="utf-8"?>
<Content Key="796745fb-8126-433e-b978-5e6241676636" Alias="External examiners" Level="5">
  <Info>
    <Parent Key="f3dee7c9-bdcd-4dcd-b92f-60f701817e9d">Useful Documents And Quick Guides</Parent>
    <Path>/Home/AboutTheUniversity/Partnerships/UsefulDocumentsAndQuickGuides/ExternalExaminers</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-08-22T09:29:01</CreateDate>
    <NodeName Default="External examiners" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/12b47abcda794cc1a6ed926479b90db0]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/63fc681c1a124b0881694989571bb73d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/63fc681c1a124b0881694989571bb73d",
      "image": "umb://media/1dfa730a810a41c5a80408cf1a8ae78c",
      "title": "External examiners",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead"><strong>Liaison with the External Examiner</strong></span></p>
<p>You should expect to liaise with your external examiner about the following matters:</p>
<ol>
<li>When the examiner is first appointed you should write to them to introduce them to the course, sending a copy of the definitive programme document so they can understand how it all fits together.</li>
<li>You will need to agree dates of exam boards with the examiner and tell them when they can expect work to look at. (The Academic Administration will help with this.)</li>
<li>You must send draft essay questions and exam papers to the examiner before they are given to students. The examiner may be able to offer suggestions for improvement.</li>
<li>You will send samples of marked work before the exam board (see below)</li>
<li>It is a good idea to consult the examiner about any changes to the programme you are thinking of making. They are experts in their field and will know whether your proposed changes make sense.</li>
</ol>
<p><span class="lead"><strong>Sending work to the Examiner</strong></span></p>
<p>Once marking is complete (including internal moderation), work must be sent to the external examiner to moderate. Ideally, work should be sent at least ten working days before the exam board to give the examiner time to look at it properly. Occasionally an examiner may prefer to look at work on site when they visit – it is important to check with the examiner about their preference.</p>
<p>When sending work the examiner should be provided with:</p>
<ul>
<li>the assignment as set to students, with any guidelines provided;</li>
<li>a sample of assessments*;</li>
<li>a full module mark list;</li>
<li>copies of the first marker’s feedback to students;</li>
<li>copies of any comments from the second marker;</li>
<li>marking criteria or model answers</li>
</ul>
<p><em>* When there are eight or fewer students all the assessments should be sent. When there are more, the following guidelines apply:</em></p>
<ul>
<li><em>The minimum sample is six scripts. For large cohorts, the minimum sample is the square root of the total number of students (rounded up).</em></li>
<li><em>Send one script from each grade (70+%, 60-69%, etc)</em></li>
<li><em>Send all borderline fails.</em></li>
</ul>
<p>Your CAL and the Collaborations Team in the Academic Administration will advise you about the process to be followed for sending work to the examiner.</p>
<p>The external examiner may make suggestions as to changes to marks but only the module marker can decide to change marks before the Board of Examiners. This is because only the module marker will have seen and ranked all the scripts and will therefore be able to judge whether other scripts of a similar quality need to be re-graded. If the examiner is determined to change marks he or she must view all scripts in the cohort to ensure equity.</p>
<p><span class="lead"><strong>External examiner’s report</strong></span></p>
<p>The examiner’s annual report will be sent to the partner institution for a response. Usually, examiners raise at least some queries or put forward suggestions for improvement. The programme team must reply to the examiner, explaining what changes they have made or plan to make, or justifying why they feel no change is appropriate. The response must be sent to Governance and Quality Enhancement and the Dean of School within eight weeks as part of QMU’s ongoing quality assurance. This allows the University to reassure itself that any issues are being addressed.</p>
<p>It is important that your response to the examiner contains specific actions so the examiner can follow up on progress the following year.</p>
<p>See the <a href="https://dev-queen-margaret-university.euwest01.umbraco.io/media/8d89156bce00ff7/ee-exemplar-response-for-collabs.pdf">template</a> for responding to an external examiner.</p>
<p>See also the <a href="/about-the-university/partnerships/qmu-collaborations-manual/external-examiners/">Collaborations Manual – external examining</a></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[External examiners]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead">What are external examiners?</span></p>
<p>Every programme must have an external examiner. This is an academic who doesn't work for Queen Margaret University who can confirm that the programme is run in line with the standards and expectations of UK higher education. The external examiner will:</p>
<ul>
<li>provide an independent check on marking and academic standards;</li>
<li>provide advice on assessment and the curriculum;</li>
<li>submit an annual report evaluating the programme’s strengths and areas for development.</li>
</ul>
<p>The examiner should be somebody with academic experience, knowledge of UK Higher Education and (for professional courses) knowledge of the profession. The Collaborative Academic Lead (CAL) is responsible for dealing with the QMU appointment process.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Overview of working with external examiners for collaborative partners]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU External examiners]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[External examiners]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>