<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ac200e5-8a84-4b8d-b444-5005fc8b4de3" Alias="2017.02.23 - Interview with QMU student, Greg Stark: BSc Public Sociology" Level="5">
  <Info>
    <Parent Key="5ec60e7e-de76-4127-aaea-18ddb982220d">2017</Parent>
    <Path>/Home/NewsAndEvents/News//InterviewWithQMUStudentGregStarkBScPublicSociology</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T14:58:28</CreateDate>
    <NodeName Default="2017.02.23 - Interview with QMU student, Greg Stark: BSc Public Sociology" />
    <SortOrder>48</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/cba9e5d9be1c473dad571c81ddc48ae3]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6eda6bcc6e8943d2ac7ae4d16ac8c059"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/6eda6bcc6e8943d2ac7ae4d16ac8c059",
      "image": "umb://media/a8d33d431ead4dda9f17ca407cd05fde",
      "title": "Interview with QMU student, Greg Stark: BSc Public Sociology",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p class="txtMainBlack">Greg completed the first and second years of a Sociology and Cultural Studies degree at QMU but decided to withdraw from his studies in 2008 due to personal issues. He then started working full time and began a career as a Retail Compliance Manager with Tesco in 2013.</p>
<p class="txtMainBlack">After working with Tesco for nine and a half years, Greg made a joint decision with the support of his wife to return to QMU, complete his degree and move into the voluntary sector. This is something he’d always wanted to do.</p>
<p class="txtMainBlack">Thanks to the support and encouragement of his Academic Advisor at QMU, Greg is now studying BSc Public Sociology and is in his third year. He also spent part of his studies on exchange at Slippery Rock University of Pennsylvania in the USA.</p>
<p class="txtMainBlack"><strong>How did you come to choose this course and why QMU?</strong></p>
<p>“I originally came to QMU in 2006 as I had always wanted to move to Edinburgh. I attended the Corstorphine campus for my first year and moved to the new Musselburgh campus half way through my second year. The new facilities and prospects drew me in. When I chose to return, I was offered the chance to return as an associate student whilst I worked full time and in turn I could directly enter third year. This was a major factor into returning to QMU.”</p>
<p class="txtMainBlack"><strong>Why did you choose to study in Edinburgh?</strong></p>
<p>“Coming from Fife, Edinburgh was always somewhere I visited when I was younger. Whether to watch Scotland play rugby at Murrayfield, watch my local team travel to Easter Road or Tynecastle or spend days taking in the culture with my family - it’s always somewhere I’ve loved to be.</p>
<p>“Edinburgh is the greatest city in the world. I’m not shy to tell anyone that. Where else in the world can you stand on the main shopping street and see a Castle on top of an old volcano. You can eat in the city for breakfast, walk up the Pentland hills and have a picnic and then stroll along the beach at night. It truly is an amazing place. After living here for eleven years, I’m proud to call Edinburgh my home.”</p>
<p class="txtMainBlack"><strong>What’s been the highlight of the course so far?</strong></p>
<p>“I really enjoy learning how to write in an academic style. I took the ‘poverty and social exclusion’ module as an Associate Student in 2016 and I felt honoured to be learning from academics that have done so much vital social research in the field of workers’ rights and conditions. This privilege is not specific to this module. I have the honour of learning from experts in their respective fields everyday at QMU.</p>
<p>“I also enjoy the presentations that we have the opportunity to give in class. I feel this has helped me not only with my confidence in class but in my workplace where I try to take on additional opportunities to share my ideas.”</p>
<p class="txtMainBlack"><strong>Did you study abroad as part of your QMU degree? </strong></p>
<p>“I was lucky enough to study at Slippery Rock University of Pennsylvania in the USA in 2017, thanks to financial support from Santander Universities.</p>
<p>“I found out about international exchange programme opportunities after attending the direct entry week organised for returning, transfer and college students in September 2016 and from one of my previous lecturers from 2006-08. They said it would be beneficial to look into doing an exchange as I planned to write my fourth year dissertation on disability rights and it would be useful to see how people with disabilities are treated in other societies. I also found out that studying at another university would help me get into government work or academia in the future.</p>
<p>“I’m required to complete a research methods module, which is crucial to writing my dissertation in my final year. I also took modules I felt would benefit my course including international relations, social justice and equality and 'American history from 1920'. I have a great interest in history and I thought, where would be the best place to study American history...America!”</p>
<p>“During my time at Slippery Rock, I’ve volunteered my services to the Department of Disabilities on campus, I’ve attended presentations for Black History Month and joined the debate on President Trump’s Executive Order to enforce a travel ban on selected citizens from the Middle East and North Africa.</p>
<p>“The most enjoyable thing about living and studying in the USA is the people I’ve met. I have become really good friends with people from Australia, Belgium, Mexico, Sri Lanka, South Korea, Iran, Nepal, Japan and India.</p>
<p>“Another highlight of my time in Pennsylvania was attending nighttime basketball games that filled out the 3,000-seat on campus stadium.”</p>
<p class="txtMainBlack"><strong>Any top tips for students who might be interested in this course?</strong></p>
<p>“Public Sociology is a fascinating subject. You would be surprised that you study it everyday. Whether you’re asking your manager at work when your next pay rise is coming, you’re debating about recent elections and referendums or you’re in a bar talking to your friends, this is Public Sociology.</p>
<p>“We learn why the world works in the strange way it does. We ask why do we communicate in the way that we do and what do we need to change to make the world a better place. The one thing you need to know if you want to study in this field is that you can work with people – people of all cultures, religious, socio-economic groups and sexual orientations. We want to produce literature and carry out vital research that will inform policy makers to make changes that benefit everyone. That is what Public Sociology means to me.”</p>
<p class="txtMainBlack"><strong>Any future plans after graduation?</strong></p>
<p>“I currently work for a voluntary organisation based in Edinburgh called The Action Group. I work within the Real Jobs department, which aims to support those in our society with additional support needs and meaningful employment.</p>
<p>“Postgraduate study is something I’d like to consider in the future, but in the long term, I hope to complete more work in the voluntary sector and one day move into work with the Scottish Government. A social policy advisor would be an ideal role for me but I wouldn’t discount a job that supported Scotland’s position outside the United Kingdom.”</p>
<p class="txtMainBlack"><strong>What’s your ‘top tip’ for making the most of being a student at QMU? </strong></p>
<p>“Only study a subject that you have a passion for.”</p>
<p>“Start reading now. Read any academic literature you can. This could come in the form of academic text books, journal articles, government reports and studies. You will be surprised how your writing improves the more you read.”</p>
<p class="txtMainBlack"><strong>Greg’s Blog </strong></p>
<p class="txtMainBlack">To hear more from Greg and his experiences on exchange at Slippery Rock University of Pennsylvania in the USA, visit: <a href="https://starkedinburgh.wordpress.com/" class="txtMainTextLinks">starkedinburgh.wordpress.com</a></p>
<p class="txtMainBlack"><strong>BSc (Hons) Public Sociology </strong></p>
<p class="txtMainBlack"><a data-udi="umb://document/e3f9308fd2df4b40baf792b44f176749" href="/{localLink:umb://document/e3f9308fd2df4b40baf792b44f176749}" title="BSc/BSc (Hons) Public Sociology">More information on BSc (Hons) Public Sociology at QMU</a></p>
<p class="txtMainBlack"><strong>‘Step Into QMU’</strong> and find your undergraduate course:</p>
<p class="txtMainBlack"><a href="http://www.youtube.com/watch?v=So3MHvNPrK0" class="txtMainTextLinks">youtube.com/watch?v=So3MHvNPrK0</a></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2017-02-23T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Interview with QMU student, Greg Stark: BSc Public Sociology]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Greg Stark, 28, is originally from Glenrothes in Fife but has been living in Edinburgh since 2006, when he originally enrolled as a student at QMU.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Greg Stark, 28, is originally from Glenrothes in Fife but has been living in Edinburgh since 2006, when he originally enrolled as a student at QMU.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Interview with QMU student, Greg Stark: BSc Public Sociology]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information contact Lynne Russell, Marketing Manager, Queen Margaret University, Edinburgh, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a>  T: 0131 474 0000, M: 07711 011239 and Jon Perkins, Press and PR Officer, E: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a> T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Interview with QMU student, Greg Stark: BSc Public Sociology]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>