<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b3783e2-0638-4060-863d-6923c2e5cd8c" Alias="From BBC to MBE: Sally Gray shares her journey from QMU student to prime time TV presenter" Level="4">
  <Info>
    <Parent Key="3de92654-33e8-492e-99bc-a08871da9bb5">QMYOU Magazine - April 2024 (Edition 91)</Parent>
    <Path>/Home/AlumniAndFriends/QMYOUMagazineApril2024Edition91/FromBBCToMBESallyGraySharesHerJourneyFromQMUStudentToPrimeTimeTVPresenter</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2024-03-29T16:29:27</CreateDate>
    <NodeName Default="From BBC to MBE: Sally Gray shares her journey from QMU student to prime time TV presenter" />
    <SortOrder>15</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="793fdbdc-4982-4bca-96be-86cd7d82393e">AlumniProfile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/6a434bb7e23f4f79b0ef7715e8ea1633]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d7824e386624477e918f2464800cbcf3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/d7824e386624477e918f2464800cbcf3",
      "image": "umb://media/dde8919f34924db08a0c8f240cc8d489",
      "title": "From BBC to MBE: Sally Gray shares her journey from QMU student to prime time TV presenter",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p><strong>What is your dream job? It’s the age-old </strong><strong>question that can stump many grown </strong><strong>adults, yet one that sparks big dreams </strong><strong>for many young people. When 16-year old </strong><strong>Sally was asked this exact question</strong><br><strong>in the 1980’s during a careers’ meeting </strong><strong>at her school, her eyes lit up!</strong></p>
<p>“I want to be a Hollywood film star,” Sally fired back without hesitation. She smiles as she recounts the moment she realised being in front of the camera, with a microphone in hand, was the career for her.</p>
<p>When offered a place in one of Queen Margaret’s new Communication and Media Studies courses, Sally was delighted. “I just loved my time at QMU - I got to study what I loved!”</p>
<p>Sally recalled,<br>“I’ve so many amazing memories of sitting in one of the screening rooms on campus, watching montage sequences. I quickly realised just how important this experience would be.”</p>
<p>Discussing her final year at QMU, Sally explained:</p>
<?UMBRACO_MACRO macroAlias="Quote" text="I was writing my dissertation on children&#x27;s television and how discerning the young viewer is. My case study was focused on Blue Peter. As part of my research, I called the BBC, asked to speak to the Blue Peter team, and a week or so later, I was in their offices!" source="" sourceExtra="" />
<p>“This lit the fire in me even more to work in TV and helped me focus my efforts and land my first proper job as a BBC secretary. It was so exciting! I was able to work with some of the biggest hitters in the world at that time. TV broadcaster, David Dimbleby, was on the first programme I worked on. I even played a part in bringing the TV politics programme ‘Question Time’ to Scotland for the first time.”</p>
<p>Sally had been a secretary for about 18 months before finding out about a new BBC Scotland children’s education programme ‘Go45’, which was in need of a presenter. Sally was delighted<br>when she landed the role.</p>
<p>“Go45 was a real rule breaking fresh take on old school style education programmes,” said Sally. “I was able to co-host alongside radio broadcaster, Grant Stott, and the show attracted an average audience of 4.5-5 million per episode. Little did I know that this was just the beginning.”</p>
<p>Sally went on to have an impressive television career, with presenting jobs on GMTV, BBC’s ‘Real Rooms’, Channel 4’s ‘Movie Watch’, CBBC’s ‘Record Breakers’, ‘50/50’, ‘The Really Useful Show’, ‘The World’s Strongest Man’ and lots more.</p>
<?UMBRACO_MACRO macroAlias="Quote" text="One week I was interviewing Take That in London, and the next, it was Arnold Schwarzenegger and Danny DeVito in Los Angeles" source="" sourceExtra="" />
<p>In more recent years, she founded her own dynamic media training business, which has seen her support some of the world’s biggest stars and leading brands.</p>
<p>“I get to work with amazing people, such as Olympic champion, Denise Lewis, and Strictly Come Dancing stars such as Katya Jones and Luba Mushtuk,” she said. “I’ve also had the pleasure to train some incredible academics and captains of industry from organisations like Citi Bank, Coca-Cola and Pfizer. My job is to help those who have an important message to tell.”</p>
<p>Sally is also a strong advocate of charity work and dedicates much of her time to volunteering. Her efforts to improve the lives of others was recognised in 2003 when she was awarded an MBE for Services to Young<br>People. During her visit to the Palace, The King - Prince Charles, as he was at the time - remarked: “Might I say, you do an excellent curtsy.”</p>
<p>After such an illustrious career, what advice would Sally give to current students who want to create a name<br>for themselves in the media industry? “Make yourself indestructible…and make good cups of tea!”</p>]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[From BBC to MBE: Sally Gray shares her journey from QMU student to prime time TV presenter]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[QMYOU, April 2024 (Edition 91)]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[What is your dream job? It’s the age-old question that can stump many grown adults, yet one that sparks big dreams for many young people. When 16-year old Sally was asked this exact question in the 1980’s during a careers’ meeting at her school, her eyes lit up!]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[From BBC to MBE: Sally Gray shares her journey from QMU student to prime time TV presenter | QMYou Magazine April 2024 | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[From BBC to MBE: Sally Gray shares her journey from QMU student to prime time TV presenter]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>