<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c16451b-047f-4588-b062-8cf0426bc9af" Alias="Emmy’s Short Term Mobility" Level="6">
  <Info>
    <Parent Key="315e70a9-168c-4546-97d6-9d9fe4734908">Short Term Mobility Experiences</Parent>
    <Path>/Home/StudyHere/InternationalStudentsRevamp2022/ReasonsToStudyAbroad/ShortTermMobilityExperiences/EmmySShortTermMobility</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2022-04-27T10:46:11</CreateDate>
    <NodeName Default="Emmy’s Short Term Mobility" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65102975-f5a6-47bf-9418-b0e82dc7c288">BlogPost</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/3765b60ea23b490298858f61b9938434]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/eb1997490f2546dd89f00444491b197e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/eb1997490f2546dd89f00444491b197e",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "Emmy’s Short Term Mobility",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p><span class="lead"><strong>Day 1</strong></span></p>
<p>We had an early night and then up in plenty of time for breakfast. Our host had drawn little faces on the boiled eggs which was cute and made us feel very welcome. It was a continental breakfast with and it look delicious, there was also a selection of loose leaf tea. There also was some local cake which was a little like fruit cake which we also plan to take home.</p>
<p>After breakfast despite the rain we went out to explore the town. We found a park by the river that had a huge fountain and some statues. There was also a bird sanctuary which was full of adorable birds and cat that jumped out and scared us.</p>
<p>After that we headed back toward the town centre. In there we found that most shops were shut until the afternoon or did not open on a Monday. We did notice how unique all the shops are with a lack of chain store and mainly small shops ranging through antiques, books, clothes and Charles Dickens themed shops. The town has a love of Dickens with a large amount of street are dedicated to him, unfortunately we could not read all the quotes as the majority were in Dutch however they did give the streets more character along with the unique building each a little different from the last it gives the town an almost surreal feeling to it. For us this is mainly because of how similar buildings in the UK can be.</p>
<p>After a failed attempt to find tourist information we headed for the university. Once there we had to wait for the rest of the group. We met with some of the lecturers from Saxion and were shown to a room where we were going to be making a presentation for the afternoon.</p>
<p>Lunch from the university cafe which had a large selection of roll, soups and hot food as well as drinks. Presentations were done in the afternoon before heading on a walking tour of Deventer.</p>
<p>Our tour of Deventer was very interesting dispute the pouring rain. We were shown round lots of historical and interesting places that we had not managed to find by ourselves and learnt a lot about the history of the area. We also saw the preparations for the party that was being held for the local football team.</p>
<p><span class="lead"><strong>Last day/overall trip</strong></span></p>
<p>The last day we had the best weather. In the morning we had to go to a lecture at Saxion which I found very interesting.  There was a market on in the brink which we went to after. The Brink is the centre square in Deventer which has a lot of restaurants and cafe. It was really nice to see the various food and drink as well as flowers and clothes at the market stalls. I loved seeing all the fresh colours and smells that I saw at the Markets.</p>
<p>We had an afternoon to explore parts of Deventer which were not able to during the week as we were very busy. All the shops were open which made the city come to life. We decided before we needed to go back to the hotel to collect our luggage to go for a drink and enjoy the weather before heading back to catch a plane.</p>
<p>Overall I have enjoyed my time in the Netherlands and looking at Saxion University. Going to the variety of interesting business that I would not have had the opportunity to go to such as going to HMS host which is located in Schipol Airport. They control the majority of restaurants in the airport. This is when we had a coffee tasting which when we told at the start I was not too keen about this as I am not a coffee drinker but I found it one of my highlights of the overall trip.</p>
<p>I feel that an exchange is something I am very keen to do. I have had a look at the universities and business courses they offer on the QMU website. One of the universities I am interested in is Brock University which is near Toronto in Canada.</p>
<p>The trip has opened my eyes to how an exchange can impact and help you grow as a person living in a different country for a semester.</p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[2016-05-30T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Emmy’s Short Term Mobility]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">Emmy Pearson – Business Management – Level 2</span></p>
<p><span class="lead">Deventer, Netherlands</span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Day 1- We had an early night and then up in plenty of time for breakfast. Our host had drawn little faces on the boiled eggs which was cute and made us feel very welcome. It was a continental breakfast with and it look delicious, there was also a selection of loose leaf tea. There also was some local cake which was a little like fruit cake which we also plan to take home.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Emmy’s Short Term Mobility | Reasons to Study Abroad | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Emmy’s STM]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>