<?xml version="1.0" encoding="utf-8"?>
<Content Key="805ebeb8-fa07-46c3-9012-6587f5162232" Alias="Staff - Dr Geetha Marcus" Level="4">
  <Info>
    <Parent Key="644845e5-0db0-4a49-9230-5d12ef68dcb0">Blogs</Parent>
    <Path>/Home/CampusLife/Blogs/StaffDrGeethaMarcus</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2021-11-05T10:37:33</CreateDate>
    <NodeName Default="Staff - Dr Geetha Marcus" />
    <SortOrder>60</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="352afafb-7425-4e97-b145-ab96eebf5bdc">BlogBio</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/aca8717af897424c8bceef3f9232ef4a]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ed7736d60c82481fb10f5ca059819b1b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/ed7736d60c82481fb10f5ca059819b1b",
      "image": "umb://media/ccdbaf8a1044431b968df9ec285b0b5e",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Dr Geetha Marcus]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Dr Geetha Marcus is a Senior Lecturer in the Division of Psychology, Sociology &amp; Education and the Programme Leader for BA (Hons) Education Studies at Queen Margaret University, Edinburgh. She is a sociologist, feminist and teacher activist whose teaching and research focus on social inequalities within public education. Find out more about Dr Marcus's teaching and research interests at Dr Marcus' staff profile. </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Dr Geetha Marcus, Senior Lecturer in Teacher Education, Psychology, Sociology & Education, Queen Margaret University]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Dr Geetha Marcus|Blog Bio|Queen Margaret University]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[umb://media/cdf110fc1c914700b435c20097cfcae5]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Dr Geetha Marcus]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>