<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a624115-b8e1-4daa-a074-9e4b5a6232d3" Alias="2019.09.04 - 'Inclusion in Practice' for Scotland's secondary schools" Level="5">
  <Info>
    <Parent Key="08947aaf-1983-41d9-af0f-da5f3d7f0945">2019</Parent>
    <Path>/Home/NewsAndEvents/News//InclusionInPracticeForScotlandsSecondarySchools</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-11T10:07:10</CreateDate>
    <NodeName Default="2019.09.04 - 'Inclusion in Practice' for Scotland's secondary schools" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/fc33f031e931425195b9632c1807e689]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d4d9aa6fba13475f93dbf9bb9e98b789"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/d4d9aa6fba13475f93dbf9bb9e98b789",
      "image": "umb://media/36eb709364ca4352a095325494d1aa7b",
      "title": "‘Inclusion in Practice’ for Scotland’s secondary schools",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Recognising a need for secondary school teachers to have access to equitable professional learning on inclusive practice, Education Scotland has created ‘​Inclusion in Practice – The CIRCLE Framework: Secondary’​. Based on The CIRCLE Framework - a collaboration between practitioners in Edinburgh City Council, Queen Margaret University (QMU) and NHS Lothian - the free resource is designed to promote effective inclusive practice in classrooms.</p>
<p>The module – which is hosted online on the <a href="https://www.open.edu/openlearncreate/course/view.php?id=4135">Open University in Scotland</a> website - has been developed to provide professional learning for teachers who wish to improve inclusion in their classroom and school, thereby improving the educational experiences of all learners. It offers practical advice on how to meet the needs of individual learners and supports practitioners to develop collaborative approaches and share good practice.</p>
<p>After studying this module, practitioners will have:</p>
<ul>
<li>an understanding of how to promote effective inclusive practice using the CIRCLE Framework of inclusion</li>
<li>an awareness of how to promote a learner-centred approach where learners are listened to and involved in the management of their own learning</li>
<li>an awareness of documentation to evidence assessment and input.​</li>
</ul>
<p>Professor Kirsty Forsyth from QMU said: “We are delighted that Education Scotland has identified CIRCLE research and evidence-based resources as a critical learning tool to support teachers with inclusive practice. CIRCLE offers evidence-based practical advice on how to meet the needs of individual learners and promotes collaborative approaches with health colleagues.”</p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2019-09-04T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[‘Inclusion in Practice’ for Scotland’s secondary schools]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Scotland’s secondary schools are set to become more inclusive for all pupils thanks to a new online professional learning resource.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Scotland’s secondary schools are set to become more inclusive for all pupils thanks to a new online professional learning resource.  Recognising a need for secondary school teachers to have access to equitable professional learning on inclusive practice, Education Scotland has created ‘​Inclusion in Practice – The CIRCLE Framework: Secondary’​. Based on The CIRCLE Framework - a collaboration between practitioners in Edinburgh City Council, Queen Margaret University (QMU) and NHS Lothian - the free resource is designed to promote effective inclusive practice in classrooms.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA['Inclusion in Practice' for Scotland's secondary schools]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media enquiries, please contact Karen Keith (Media Relations and Content Officer) at Queen Margaret University, Edinburgh, E: <a href="mailto:kkeith@qmu.ac.uk">kkeith@qmu.ac.uk</a>, T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Inclusion in Practice]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>