<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ce956d2-90d2-4724-9a89-05bd2f5f91ef" Alias="DEVELOP - Policy and Procedure" Level="6">
  <Info>
    <Parent Key="22f9b37f-4f0b-453d-acc4-b4849d5ab3a8">Performance and Development</Parent>
    <Path>/Home/Footer/Vacancies/HRPoliciesAndProcedures/PerformanceAndDevelopment/DEVELOPPolicyAndProcedure</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-06-04T10:24:57</CreateDate>
    <NodeName Default="DEVELOP - Policy and Procedure" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/2b5e369948b14ca58a88d05faadc774b]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3023df65e6ae479cb9dcb8c013215322"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/3023df65e6ae479cb9dcb8c013215322",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "DEVELOP - Policy and Procedure ",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<table border="1" style="border-collapse: collapse; width: 100%; height: 90px;">
<tbody>
<tr style="height: 18px;">
<th style="width: 50%; height: 18px; text-align: left;">Policy Owner:</th>
<td style="width: 50%; height: 18px;">Human Resources</td>
</tr>
<tr style="height: 18px;">
<th style="width: 50%; height: 18px; text-align: left;">Approved By:</th>
<td style="width: 50%; height: 18px;">Executive Board: February 2016</td>
</tr>
<tr style="height: 18px;">
<th style="width: 50%; height: 18px; text-align: left;">Consultation Completed:</th>
<td style="width: 50%; height: 18px;">Trade Unions: March 2016</td>
</tr>
<tr style="height: 18px;">
<th style="width: 50%; height: 18px; text-align: left;">Equality Impact Assessed:</th>
<td style="width: 50%; height: 18px;">TBC</td>
</tr>
<tr style="height: 18px;">
<th style="width: 50%; height: 18px; text-align: left;">Date of Issue:</th>
<td style="width: 50%; height: 18px;">16/09/2016</td>
</tr>
<tr>
<th style="width: 50%; text-align: left;">Review Period:</th>
<td style="width: 50%;"><span class="lead">Annual or as required by legislation</span></td>
</tr>
</tbody>
</table>
<p><span class="lead">The Policy</span></p>
<p><span class="lead">1.0 Principles</span></p>
<p>Queen Margaret University has an inspiring and ambitious strategic plan. The effective delivery of this plan is fundamentally dependent on the contribution and commitment of all employees. The learning and development of all employees is therefore key to the implementation of University strategy. Queen Margaret University is committed to providing all employees with a variety of learning and development opportunities in support of their professional and personal development.</p>
<p>Whether an individual needs to take on new challenges, keep on top of development or enhance performance at work, undertaking learning and development can help. By ensuring that employees have the right balance of knowledge, skills and behaviours, employees can achieve their goals and increase their job satisfaction.</p>
<p>QMU is committed to ensuring that all employees benefit from a review of their performance and development needs and this is facilitated through the Performance Enhancement Review (PER) and the DEVELOP@QMU framework. The Performance Enhancement Review provides the forum for discussing and agreeing individual objectives and personal/professional development. All employees, through the application of the Performance Enhancement Review (PER), are entitled to have their learning and development needs discussed, considered regularly, and met as appropriate. Meeting learning and development needs must always be subject to the budget constraints and operational needs.</p>
<p>The DEVELOP@QMU framework further supports the PER process by outlining clear career pathways for employees, and providing details regarding learning and development opportunities.</p>
<p><span class="lead">2.0 Aims and Objectives</span></p>
<p>The aim of this policy is to support the development of each employee, enhance the University’s quality learning culture and thereby develop the University's performance through improved organisational efficiency and effectiveness. To this end, the objectives of the DEVELOP Policy are to ensure that:</p>
<ul>
<li>the planning of University learning and development is informed by strategic and operational objectives, and, where possible, career aspirations</li>
<li>Schools/Departments establish an equitable, planned and efficient approach to employee development: one which maximises the use of tools (such as PER) and available development resources, both internal and external</li>
<li>employees are supported in the acquisition and development of knowledge, skills and competencies to enhance their performance in their current role</li>
<li>managers and employees are fully aware of the career pathways available within the University and the knowledge and skills required to facilitate development.</li>
<li>employees are supported with career advancement and succession-related development opportunities for potential future University opportunities</li>
<li>there is improvement and development of the ability of employees to initiate and to respond constructively to a variety of change initiatives</li>
<li>leaders and managers are provided with appropriate development opportunities to ensure effective skills, knowledge and competence to work in partnership with their employees to optimise individual and team performance.</li>
</ul>
<p><span class="lead">3.0 Scope of the Policy</span></p>
<p>This policy applies to all current and future QMU employees.</p>
<p><span class="lead">4.0 Data Protection Act</span></p>
<p>All information processed as part of the implementation of this policy is processed in accordance with the provisions of the Data Protection Act. This includes the processing of sensitive personal data.</p>
<p><span class="lead">5.0 Learning and Development</span></p>
<p>An explanation of all QMU polices should be provided to all new members of staff to ensure they engage fully with the policy and process at an early stage. All individual development needs should be captured to create a School/Department DEVELOP Plan.</p>
<p>These plans will then be discussed with the appropriate HR Partner to assist the Line Manager to identify appropriate internal or external training.</p>
<p><span class="lead">6.0 Monitoring and Review</span></p>
<p>Each Departmental Manager has their own learning and development budget. This budget will be allocated according to strategic priority.</p>
<p><span class="lead">7.0 Equal Opportunities</span></p>
<p>The University is committed to equality of opportunity for all employees. It is the responsibility of all employees to promote “equity and diversity” in the application of employees’ development, ensuring that there is no discrimination on the grounds of the protected equality characteristics*. In implementing this policy all decisions will be made on the grounds of individual contribution aligned with institutional strategy.</p>
<p>(*The Equality Act 2010 states the protected equality strands as age, disability, gender reassignment, marriage/ civil partnership, pregnancy and maternity, race, religion or belief, sex and sexual orientation.)</p>
<p><span class="lead">8.0 Responsibility for this Policy</span></p>
<p>Human Resources are responsible for monitoring the effectiveness of this policy and will review this policy as required. Any changes to this policy and supporting procedures will be made in consultation with appropriate parties. The University reserves the right to update HR Policies and procedures in line with new or updated employment legislation.</p>
<p><span class="lead">9.0 Responsibility for Implementation</span></p>
<p>The University allocates responsibility for learning and development as follows:</p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 753px;">
<tbody>
<tr style="height: 18px;">
<th style="width: 50%; height: 18px; text-align: left;">Body</th>
<th style="width: 50%; height: 18px; text-align: left;">Responsibility</th>
</tr>
<tr style="height: 58px;">
<td style="width: 50%; height: 58px;">Executive Board (EB) Senior Management Team (SMT)</td>
<td style="width: 50%; height: 58px;">To ensure reasonable resources to meet the planned and coordinated corporate learning and development needs in support of strategic, operational and personal objectives.</td>
</tr>
<tr style="height: 111px;">
<td style="width: 50%; height: 111px;">Deans of School Heads of Department, Directors</td>
<td style="width: 50%; height: 111px;">
<p>To ensure the implementation and monitoring of the PER Policy in their respective areas.</p>
<p> </p>
<p>To develop and monitor Development Plans and promote the DEVELOP@QMU framework.</p>
</td>
</tr>
<tr style="height: 38px;">
<td style="width: 50%; height: 38px;">Human Resources (HR)</td>
<td style="width: 50%; height: 38px;">Supporting line managers in sourcing the provision of focused and appropriate learning and development opportunities.</td>
</tr>
<tr style="height: 280px;">
<td style="width: 50%; height: 280px;">Line Managers</td>
<td style="width: 50%; height: 280px;">Line Managers hold shared responsibility for implementing this policy by ensuring that career aspirations and training and development opportunities are discussed at PER meetings The line manager will:<br />
<ul>
<li>discuss employees’ development opportunities with their direct reports and develop and implement training and development plans</li>
<li>recommend/authorise and make budgetary provision for employees’ development opportunities when appropriate, and ensure that employees are supported to attend approved developmental activities</li>
<li>promote and raise awareness of the DEVELOP@QMU framework in order to support employees in achieving their career aspirations.</li>
</ul>
</td>
</tr>
<tr style="height: 248px;">
<td style="width: 50%; height: 248px;">Employees</td>
<td style="width: 50%; height: 248px;">All employees are responsible for their own development journey and the University provides DEVELOP as one of many tools to assist employees to plan the route they agree with their line manager.<br />
<ul>
<li>DEVELOP provides employees with a framework to</li>
<li>Evaluate current skills</li>
<li>Validate career aspirations</li>
<li>Engage in the process of seeking the relevant training and development opportunities</li>
<li>Learn and develop new skills</li>
<li>Own your new skills and development plan</li>
<li>Progress through your development journey</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p><span class="lead">10.0 Strategic Planning, Performance Enhancement Reviews and Employee Development</span></p>
<p>The Performance Enhancement Review (PER) is the link between the University’s strategic and operational plans and the activities undertaken by individual members of staff. PER enables employees to clarify their contribution to the successful achievement of the operational objectives and the strategic plan.</p>
<p>Employees identify their learning and development needs annually in support of the delivery of their individual objectives through the PER process. The PER process should take into consideration medium and longer term career and professional objectives or goals. Progress in achieving the learning and development objectives are reviewed regularly as part of PER. In addition, employees may raise with their manager at any time of the year a learning need of which they become aware, or indeed if they have identified a development opportunity through DEVELOP@QMU which would be valuable to their work or personal development. Each request will be considered on its own merits.</p>
<p>There is also a formal route to request ‘time off to train’, as outlined in the section titled ‘The Formal Right to Time Off to Train’.</p>
<p><span class="lead">11.0 The Funding of DEVELOP Initiatives</span></p>
<p>Learning and Development budgets are locally owned and managed by the relevant budget holder within the Schools/Departments. The departments have full responsibility for meeting the costs of their employees’ learning and development opportunities.</p>
<p>Development initiatives can be varied and ideally should be orientated to deliver:</p>
<ul>
<li>Enhanced Organisational Competence: learning and development interventions that will enable the School/Department to be more effective such as improved leadership and management capability, commercial awareness (knowledge transfer opportunities), teaching and learning and research development capability, etc..</li>
</ul>
<p><span class="lead">The Funding of Queen Margaret University Courses</span></p>
<p>QMU is able to provide employees with access to its academic and professional programmes.</p>
<p>The Dean of School/Head of Division/Director will consider providing support to employees in accordance with the following criteria:</p>
<p style="padding-left: 40px;">1. The course of study is part of an agreed programme of continuous professional development, which will enable employees to make an enhanced contribution to their role<br />2. The area of study is in line with School/Department and QMU objectives<br />3. There is agreement on how employees will utilise the learning for their own and their School/Department’s objectives<br />4. Based on their performance in their current role, employees are able to demonstrate that they will be able to utilise the learning for their own and the School/Department’s benefit</p>
<p>Tuition fees may be waived or discounted where:</p>
<ul>
<li>the course is provided by QMU, and,</li>
<li>the course meets the criteria set out above, and,</li>
<li>the course is approved and supported by the line manager, and,</li>
<li>the Dean of School in which the course takes place approves the decision to waive the fee.</li>
</ul>
<p>It must be recognised that the Dean of School is responsible for ensuring that where fees are discounted (in part or in whole) tuition fee income targets are met. Agreement must be reached with the Dean of School before matriculating with QMU. For further information on fee discount (see appendix).</p>
<p>As part of their PER process, employees may request to undertake a PhD. This may be either within Queen Margaret University or through an external provider. Within QMU, the Dean of School is responsible for ensuring that, where fees are discounted (in part or in whole) tuition fee income targets are met.</p>
<p>This policy and associated funding is for employees of Queen Margaret University. The funding of learning and development for PhD students is not part of this allocation and the Centre for Academic Practice should be contacted for more information on this development.</p>
<p><span class="lead">The Funding of Courses</span></p>
<p>QMU may be able to provide funding and support for employees to access external academic and professional programmes.</p>
<p>As with the support available to study at QMU, the Dean of School/Director will consider providing support to employees in accordance with the same criteria, namely:</p>
<p style="padding-left: 40px;">1. The course of study is part of an agreed programme of continuous professional development, which will enable employees to make an enhanced contribution in their role<br />2. The area of study is in line with School/Department and QMU objectives<br />3. There is agreement on how employees will utilise the learning for their own and their School/Department’s objectives<br />4. Based on their performance in their current role, employees are able to demonstrate that they will be able to utilise the learning for their own and the School/Department’s benefit</p>
<p><span class="lead">QMU DEVELOP Contract</span></p>
<p>On approval to attend a course (either at QMU or an external provider), the employee will enter into a QMU DEVELOP Contract. The DEVELOP Contract sets out the objectives for the study programme (see appendix 2).</p>
<p>The DEVELOP Contract must be completed between the line manager and the employee when agreement has been reached relating to a course of study that is:</p>
<ul>
<li>Undertaking a course of study within QMU, or,</li>
<li>Undertaking an external course</li>
</ul>
<p>A full costing for the course of study should be submitted by the employee to the line manager prior to the final decision to attend the course being made. The costing should include the course fee and also approximate associated costs such as time off needed, travel and accommodation. This detail can be captured in QMU DEVELOP Contract.</p>
<p>The University and the employee will enter into a contract whereby the University will meet the cost of the course and the employee agrees to a repayment plan to have monthly repayments deducted from their salary, calculated as the cost of the course divided by the duration of the course of study. On successful completion of the course the employee may apply to have the full course cost reimbursed.</p>
<p>Should the employee not achieve the desired outcome of the course the employee will become liable for cost of the course of study.</p>
<p><span class="lead">Studying with QMU:</span></p>
<p>1. The amount of fee discount is documented on the Learning Contract. In the event that the employee leaves QMU employment within two years of completing the course the repayment arrangements are set out below.</p>
<p><span class="lead">Leaving Employment and the Repayment of Funding</span></p>
<p>If the employee leaves QMU within two years of completing the course there is a requirement to reimburse QMU for the fees on a proportionate basis is as follows:</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 50%; text-align: left;">Leaving Date</th>
<th style="width: 50%; text-align: left;">Repayment Percentage</th>
</tr>
<tr>
<td style="width: 50%;">If employee leaves part way through the course</td>
<td style="width: 50%;">100% of the fee assistance</td>
</tr>
<tr>
<td style="width: 50%;">If employee leaves within 6 months of completing the course</td>
<td style="width: 50%;">75% of the fee assistance</td>
</tr>
<tr>
<td style="width: 50%;">If employee leaves between 6-18 months of completing the course</td>
<td style="width: 50%;">50% of the fee assistance</td>
</tr>
<tr>
<td style="width: 50%;">If employee leaves between 18-24 months of completing the course</td>
<td style="width: 50%;">25% of the fee assistance</td>
</tr>
</tbody>
</table>
<p>This is detailed in the DEVELOP Contract.</p>
<p><span class="lead">The Support of Study Leave/Exam Leave</span></p>
<p>Deans of School/Department Heads may wish to grant study leave. This can be captured and detailed in a DEVELOP Contract.</p>
<p>Approval for study leave for the employee may be granted at the discretion of the Dean of School/Director. General guidance would be to match the duration of the exam with the amount of study leave, e.g. a half day study leave to prepare for a half day exam. All study leave is subject to a maximum of three days per course.</p>
<p><span class="lead">The Support of Educational Qualifications/CPD</span></p>
<p>Continuous Professional Development including obtaining educational qualifications should be discussed as part of the Performance Enhancement Review and included in the School/Department Development Plan. Queen Margaret University does not subsidise professional annual subscriptions.</p>
<p><span class="lead">The Formal Procedure for the Right to ‘Time off to Train’</span></p>
<p>New legislation came into effect in April 2010. This provides the right to request time off work to undertake a training event or programme.</p>
<p>Employees can request to undertake formal accredited programmes as well as informal training events to help develop specific skills relevant to the job and workplace. While requests may involve agreeing time away from the job, the primary focus of the right is about agreeing relevant training with employees.</p>
<p>Formal requests are required to be considered and responded to within a set timeframe.</p>
<p>Requests may be turned down when there exists a good business reason to do so. This includes where the training is not believed to improve business performance. The new right closely follows the model used for agreeing requests under the flexible working arrangements. The following paragraphs and flowchart (appendix 1) aims to help define the right, the statutory process and decision-making criteria.</p>
<p><span class="lead">Employee Eligibility Criteria</span></p>
<p>The right to request time off work to train applies to QMU employees. To make a request for time off to train the employee must have worked for QMU continuously for at least 26 weeks on the date the request is made.</p>
<p><span class="lead">Types of Training that can be Requested</span></p>
<p>Requests can be made to undertake training which the employee believes will improve their effectiveness/performance at work. Training may include accredited programmes that lead to the award of a recognised qualification, or shorter unaccredited training to develop work-specific skills.</p>
<p><span class="lead">Payment for Time Spent Training</span></p>
<p>The right allows a request for time to undertake training. It does not provide the right to be paid for the time in training, although it is worth considering the value of the investment and associated people policies such as the Flexible Working Policy, to help resolve practical operational issues.</p>
<p><span class="lead">Essential Information to Include in a Time to Train Request</span></p>
<p>In order for a request to be valid and covered by the legislation, it must be submitted in writing and contain the following information:</p>
<ul>
<li>a statement that the request is an 'application under section 63D Employment Rights Act 1996'</li>
<li>the subject matter of the proposed training/development</li>
<li>where and when the proposed training/development would take place</li>
<li>who would provide the training</li>
<li>what qualification it would lead to (if any)</li>
<li>how the employee foresees that the proposed training would improve their effectiveness at work</li>
<li>the date of the application</li>
<li>if applicable, the date and method (such as email or letter) of an application made within the previous 12 months.</li>
</ul>
<p>Section A of the QMU DEVELOP Contract captures the essential information and can be completed and submitted to the employee’s line manager. See appendix 2 for the QMU DEVELOP Contract.</p>
<p><span class="lead">Frequency of Requests</span></p>
<p>The legislation requires consideration of one request per employee in any 12 month period, unless the employee has requested that an earlier request is ignored (see the paragraph on ‘Invalid Requests and Withdrawals’ below). If more than one request is submitted within a 12 month period, the line manager should respond within 28 days to advise if this will be considered or not.</p>
<p><span class="lead">Invalid Requests</span></p>
<p>A request that does not contain all of the necessary information may make the request invalid. Ideally, the line manager will write to inform within 28 days of the request being made of the reason the request is considered invalid. A revised request can then be made which includes the appropriate/corrected information. This is a new request and needs to be considered as the previous request was deemed invalid.</p>
<p><span class="lead">Withdrawal of a Request by an Employee</span></p>
<p>An employee can decide to withdraw a request at any point before they have been have notified of the decision. Withdrawal can be verbal or in writing. If the withdrawal is made verbally, the line manager will confirm the withdrawal in writing. If an employee withdraws a request, it will count as a request.</p>
<p><span class="lead">Ignoring Earlier Requests</span></p>
<p>There are three circumstances in which an employee who, having submitted a further request, may ask for an earlier request that has been submitted within the previous 12 months, be ignored. These are:</p>
<ul>
<li>where the employee notifies that they mistakenly submitted an earlier request before 12 months elapsed and the employee wishes to withdraw the earlier application</li>
<li>where the employee did not undertake the agreed training following a request because the development was cancelled, unless this was due to their own conduct in relation to the development</li>
<li>where the employee failed to start the agreed training because of some unforeseen circumstance beyond their control</li>
</ul>
<p>In these circumstances, the fact that the employee submitted an earlier application will be ignored and consideration will be on the present request.</p>
<p><span class="lead">Timescales for considering time to train requests</span></p>
<p>Within 28 days of receiving a valid request, the line manager will either:</p>
<ul>
<li>accept the request on the basis of the information set out in the individual's written request (i.e. Section A of QMU’s DEVELOP Contract) and inform the employee of the decision in writing, or,</li>
<li>meet with the employee to discuss their request. Then, within 14 days of that meeting, inform the employee in writing of the decision to accept or refuse the request.</li>
</ul>
<p>If the line manager who receives the request is absent from work on the day the application is received, the period within which a meeting must be held is automatically extended. A 28 day extension period will begin on the day that the line manager returns to work. The automatic extension can last no longer than 28 days. Also, the timescales for holding meetings and issuing decision notices and appeals can be extended by agreement with the individual who has made the request. Such an agreement must be recorded in writing and a copy given to the employee. This record of agreement to extend these timescales must:</p>
<ul>
<li>specify what period the extension relates to</li>
<li>specify the date on which the extension is to end</li>
<li>ensure it is dated</li>
</ul>
<p><span class="lead">Requesting Additional Information to Help Consider a Request</span></p>
<p>If, after receiving a request, additional information is required before any decision can be made, the line manager will ask for additional information from the employee. If the employee chooses not to provide additional information the request will be treated as withdrawn and the line manager will write to inform the employee that the request is considered withdrawn.</p>
<p><span class="lead">Considering to Accept or Decline a Request</span></p>
<p>The request may be accepted in full. Alternatively the request could be agreed in principle but a different form of provision could be agreed. For example, in-house development may be more appropriate than an external training provider, or a different course/qualification may meet the development need more effectively. In such cases the decision needs to be mutually agreed.</p>
<p>Once the development method has been agreed a discussion of costs needs to take place. The legislation does not require for training to be paid for by the employer, however it may be a possibility. Please refer to the previous Section on funding for further guidance.</p>
<p>There are a specific number of business reasons that may permit a decline of a training request. These are:</p>
<ul>
<li>the proposed study/development would not improve the employee's work effectiveness</li>
<li>the proposed study/development would not improve overall work performance</li>
<li>the burden of additional costs</li>
<li>agreeing to the request would have a detrimental effect on the ability to meet customer demand</li>
<li>the line manager would be unable to reorganise work among existing employees</li>
<li>the line manager would be unable to recruit additional employees</li>
<li>agreeing to the request would have a detrimental impact on quality</li>
<li>agreeing to the request would have a detrimental impact on performance</li>
<li>there would be an insufficiency of work during the periods the employee proposes to work</li>
<li>there are planned team/organisational structural changes during the proposed study/development training period</li>
</ul>
<p>Any decline of a request for time off to train must comply with one of the business reasons listed above.</p>
<p><span class="lead">Meeting an Employee to Discuss their Request</span></p>
<p>The employee has a statutory right to be accompanied by a fellow colleague or a trade union representative. The companion can address the meeting and confer with the employee during it, but may not answer questions independently of the employee. If the companion is unable to attend the meeting, the employee can ask to rearrange the meeting. The meeting should take place within 7-days of the date originally proposed for the meeting.</p>
<p><span class="lead">Employee Failure to Attend Meetings</span></p>
<p>If the employee more than once fails to attend a meeting to discuss a request/ appeal, without reasonable cause, the request will be treated as withdrawn and written confirmation of this effect will be issued.</p>
<p>Communicating and Notifying Approved Decisions</p>
<p>Once a request has been considered and a decision reached, the decision must be communicated in writing and include the following details:</p>
<ul>
<li>the subject of the study/development</li>
<li>where and when the employee expects that it will take place, and over what period</li>
<li>who will provide the training</li>
<li>what qualification (if any) the training will lead to the award of</li>
<li>how the training time will be taken - e.g. whether it will be paid, unpaid, or whether the employee will work flexibly whilst undertaking the training</li>
<li>how the costs of the training will be met</li>
</ul>
<p>If an approval involves a change to terms and conditions, such as change in normal working hours or because the training time will be unpaid, this can be captured on the QMU DEVELOP Contract.</p>
<p>Where there is a request for more than one type of study/development in one application this may result in agreement to part of the application and decline of another part. The decision notice must include the information above and make clear which part of the application has been agreed and which part declined.</p>
<p>A decision may be mutually agreed to meet the development need in a different way to that originally proposed. In this instance, the written notification will confirm the details of the new agreement, including confirmation of mutual agreement.</p>
<p><span class="lead">Notifying an Employee of a Declined Request</span></p>
<p>If a request can not be accommodated the decision will be communicated in writing setting out:</p>
<ul>
<li>which of the business reasons apply to making the decision to decline the request</li>
<li>why the business reason, or reasons, apply in their circumstances</li>
<li>the appeal procedure</li>
<li>the date of the notice</li>
</ul>
<p><span class="lead">Internal Appeals Process</span></p>
<p>All employees have the right to appeal the decision. Appeals must be made to the Head of HR within 14-days of receiving the written notice declining the request, or part of the request. The appeal notice must be dated and must set out the employee's grounds for making the appeal. An appeal may be made to:</p>
<ul>
<li>challenge a fact that explains why the business reason applies</li>
<li>bring attention to something that wasn’t aware of when the application was declined, for example, another employee is now willing to cover the hours the employee wishes to train.</li>
</ul>
<p>There are no restrictions on the grounds for this appeal.</p>
<p>If the appeal is then accepted at this stage in the process, the employee needs to have confirmation in writing detailing the same information as is required when accepting an initial request - see the paragraph above.</p>
<p><span class="lead">Arranging the Appeal Meeting</span></p>
<p>If the appeal is not accepted, an appeal meeting must be held within 14-days of the date the appeal notice is received.</p>
<p>Ideally, the appeal should be heard by a different manager to the initial manager who considered the initial request. The principles on the right to be accompanied and what happens if the employee fails to attend are the same as for the initial meeting.</p>
<p><span class="lead">Notifying of the Decision Following the Appeal Meeting</span></p>
<p>The employee will be informed of the outcome of their appeal in writing within 14-days of the date of the meeting.</p>
<p>If the decision is still to decline, this will be communicated to include:</p>
<ul>
<li>the grounds for the decision</li>
<li>why the grounds apply in the circumstances</li>
</ul>
<p>The time limit for arranging an appeal meeting or notifying the employee of the decision on the appeal can be extended with the employee’s consent.</p>
<p>Less Favourable Treatment of Part-time Workers/ Employees on Fixed-term Contracts</p>
<p>Part-time workers or employees on a fixed-term contract will not be treated less favourably than a comparable full-time worker or permanent employee - unless that treatment is justified by objective business grounds.</p>
<p><span class="lead">Appendices</span></p>
<p><span class="lead">The Right to Request Time Off to Train – The Process</span></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/1244a53590b94cd5b89deb90497dab7d]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[DEVELOP - Policy and Procedure ]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big lead">The DEVELOP policy provides guidance on how employees at QMU can access learning and development.</span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[The DEVELOP policy provides guidance on how employees at QMU can access learning and development.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[DEVELOP - Policy and Procedure | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[DEVELOP - Policy and Procedure ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>