<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dfaa541-6415-4f4a-aedb-75d34aacf830" Alias="QMU Programme Specification: MBA/MBA Hospitality" Level="5">
  <Info>
    <Parent Key="d46e0332-6c81-408a-bd79-bd5d54a54ec3">Programme Specification</Parent>
    <Path>/Home/DocumentMigrationAugust2022/Paul/ProgrammeSpecification/QMUProgrammeSpecificationMBAMBAHospitality</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-10-10T11:43:45</CreateDate>
    <NodeName Default="QMU Programme Specification: MBA/MBA Hospitality" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead">10. Educational Aims of the programme</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>The MBA / MBA Hospitality Management is a rigorous one (1) year FT/PT programme covers all aspects of general management / hospitality management. The curriculum is carefully balanced between theory and practice – and with many opportunities for case studies and group projects, students are cultivating not just the necessary knowledge, but the leadership skills and professionalism that will enable them to assume cutting-edge roles in management roles</p>
<p>The specific focus and rational of the programme emerges from a commitment to make a distinctive contribution in the field of business and management education and to wider society, by offering an distinctive, accessible, contemporary and practical student-centred programme. The programme seeks to develop graduates: who can identify the need for, and then lead change; who understand the importance and strategic value of sustainable, long term solutions; who are creative, entrepreneurial and flexible practitioners, with a truly international perspective; and who are sensitive to wider societal impacts and responsibilities.</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">11. Benchmark statements/professional and statutory body requirements covered by the programme</span></p>
<ul>
<li>QAA Subject Benchmarks (2015) for Master's degrees in business and management</li>
<li>SCQF Frameworks for Level 11 Master Degrees</li>
<li>Chartered Management Institute</li>
<li>Enhancement Themes Scotland</li>
<li>Market Research with Partner / Competitor Universities (UK and International)</li>
<li>Higher Education Academy for Hospitality, Leisure, Sport and Tourism</li>
<li>Institute of Hospitality</li>
<li>Singapore T ourism Board</li>
<li>Council of Private Education (EduTrust)</li>
</ul>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">12. Learning Outcomes of the Programme</span></p>
<ul>
<li><span style="font-size: 14px;">Demonstrate a systematic understanding of relevant knowledge about organisations, their external context and how they are managed</span></li>
<li>Lead, shape and influence the purpose and performance of groups, of different type and purpose, from different assumed positions and roles.</li>
<li>Systematically apply relevant knowledge and concepts to a range of complex situations, taking into account relationship and interactions with other interrelated aspects within and beyond the organisation.</li>
<li>Determine the critical importance of new and emerging issues in business, management, leadership and technology; from both practice and scholarship</li>
<li>Develop capability to interpret meaningful insights from organisational and macro financial data and information</li>
<li>Demonstrate systemic understanding of how strategies for research and enquiry can create knowledge and value for practitioners</li>
<li>Demonstrate a critical understanding of the strategic value of effectively management projects and be able to focus and deliver projects to both key objectives and towards broader organisational priorities</li>
<li>Exercise responsibility, initiative and self-direction to support and further develop independent study and professional development</li>
<li>Research, acquire and analyse, data and information, to evaluate their relevance and validity and synthesise insights into organisational strategic context.</li>
<li>Critically reflect on personal knowledge, practice and skills; and continually develop self- appraisal and insight into development plans and outcomes</li>
<li>Identify, critically analyse and respond creatively to complex problems and design and lead structured change programmes</li>
<li>Communicate effectively to diverse audiences through media appropriate for management and leadership practice</li>
<li>Critically reflect on the implications of management and leadership practices and decisions on the wider community</li>
<li>Demonstrate a systematic understanding of relevant knowledge about hospitality organisations, their external context and how they are manage</li>
<li>Determine the critical importance of new and emerging issues in the Hospitality sector, business, management, leadership and technology; from both practice and scholarship</li>
<li>Demonstrate a critical understanding of the strategic value of effectively managing Hospitality sector projects and be able to focus and deliver projects to both key objectives and towards broader organisational priorities</li>
<li>Identify key contemporary issues and challenges within the management and leadership in hospitality contexts; apply critical analysis and evaluation of theory and understanding to provide solutions to these complex issues.</li>
</ul>
<p><span class="lead" style="font-size: 14px;">13. Teaching and learning methods and strategies</span></p>
<p style="padding-left: 40px;">EASB teaching methods have been designed to incorporate good practice in the areas of learning, teaching and assessment. Modules will involve elements of problem based learning, while the assessment strategy both covers the breadth of types indicated in QAA and QMU postgraduate benchmarks statements; whilst also focusing on integrating aspects of modular learning and assessment experiences. The programme will embed research led learning, by requiring students to examine contemporary management practices and specialist management practices when required to be contextualised to higher management setting.</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">14. Assessment strategies</span></p>
</div>
</div>
<div class="layoutArea">
<div class="column">
<p style="padding-left: 40px;">Each of the modules on the programme will draw upon a wide selection of research, professional and industry examples, and contemporary textbooks, and students will be required to relate theory to practice through case studies, experiential activities, inquiry based approaches, web based reflective logs and seminars. Case studies used on the programme will address important topical issues and will draw upon an international context.</p>
<p><span class="lead">15. Programme structures and features, curriculum units (modules), credits and award requirements (including any periods of placement)</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><em>Modules Available for MBA or MBA Hospitality Award</em></p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="page">
<div class="layoutArea">
<div class="column"></div>
</div>
</div>
</div>
</div>
<div class="layoutArea">
<div class="column"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU Programme Specification]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">1.  Awarding Institution: </span><span style="font-size: 14px;">Queen Margaret University</span></p>
<p><span class="lead" style="font-size: 14px;">2. </span><span style="font-size: 14px;"><span class="lead">Teaching Institution:</span> </span><span style="font-size: 14px;">East Asia Institute of Management</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">3.  Professional body accreditation: </span><span style="font-size: 14px;">n/a</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">4.  Final Award: </span><span style="font-size: 14px;">MBA/MBA Hospitality</span></p>
<p><span style="font-size: 14px;">     <span class="lead"> Subsidiary exit awards: </span></span><span style="font-size: 14px;">Postgraduate Certificate/</span><span style="font-size: 14px;">Postgraduate Diploma</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">5.  Programme Title: </span>MBA</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">6.  UCAS code:</span>  n/a</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">7.  SCQF Level:</span> 11</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">8.  Mode of delivery and duration:</span> <span style="font-size: 14px;">FT/12 months</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">9.  Date of validation/review: </span><span style="font-size: 14px;">December 2016</span></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU Programme Specification : MBA/MBA Hospitality]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>