<?xml version="1.0" encoding="utf-8"?>
<Content Key="905fbd0b-216c-4371-938a-d84ec5764a91" Alias="Physiotherapy" Level="5">
  <Info>
    <Parent Key="b7a8d951-6913-4699-9a83-38437fb70551">Nursing and Allied Health Programmes - PBL information</Parent>
    <Path>/Home/CurrentStudents/PracticeBasedLearning/NursingAndAlliedHealthProgrammesPBLInformation/Physiotherapy</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-04T16:05:25</CreateDate>
    <NodeName Default="Physiotherapy" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b790bc7e5c8649bb800fbc83a1a0c8f4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/b790bc7e5c8649bb800fbc83a1a0c8f4",
      "image": "umb://media/ff8b6750cc9847a1a310dd933ea96d45",
      "title": "Physiotherapy - Practice Based Learning",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Within the subject area of Physiotherapy at Queen Margaret University, there are 2 pre-registration programmes requiring learning experiences. These are:-</p>
<ul>
<li>Master of Physiotherapy (Pre-registration) –Students will either complete the programme in 2 years (graduate entry) or 4 years, and all practice-based learning durations and outcomes are the same for each route.</li>
<li>MSc Physiotherapy (pre-registration) – a 2 year programme with the last students entering in in January 2022</li>
</ul>
<p>Supporting these placement modules is the following Practice-based Learning Team<br /><br /><strong>Monika Czudowska</strong> is the placement administrator for Physiotherapy. Any enquiries regarding placements should be processed through <a rel="noopener" href="Mailto:PhysiotherapyPlacements@qmu.ac.uk" target="_blank" title="Monika">Monika</a> who is based in the Academic Administration team.</p>
<p><strong>Janet Thomas </strong>is the academic placement coordinator for both programmes.<br />Janet works on Tuesdays and Fridays.</p>
<p>How to contact us:</p>
<p>All enquiries should be directed in the first instance to <a rel="noopener" href="mailto:PhysiotherapyPlacements@qmu.ac.uk" target="_blank" title="PhysiotherapyPlacements@qmu.ac.uk" class="txtMainTextLinks">PhysiotherapyPlacements</a></p>
<p class="txtMainBlack"><strong>Physiotherapy</strong></p>
<p class="txtMainBlack">Students will either complete the programme in 2 years (graduate entry) or 4 years, and all practice-based learning durations and outcomes are the same for each route. In academic year 2020-21 we only have students on the 4 year route joining the programme.</p>
<p><strong>Offering placements </strong></p>
<p>If you would like to offer placements to physiotherapy students please contact <a href="Mailto:PhysiotherapyPlacements@qmu.ac.uk" title="PhysiotherapyPlacements@qmu.ac.uk">Monika</a> who will liaise with you regarding the process to do this.</p>
<p>We welcome new practice educators and placement locations, and can support you to develop a placement in your location. We welcome offers from physiotherapists in more role emerging areas where a project based placement or leadership placement might be an option as well as more traditional clinically based placements.   </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/aa6287e91e5b4941b23f4ea95808f2c6"
      },
      {
        "contentUdi": "umb://element/e5f7e3f9b7c54d9388d20cf617470ada"
      },
      {
        "contentUdi": "umb://element/04a315a14df146c780754bd948c9f01d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/aa6287e91e5b4941b23f4ea95808f2c6",
      "title": "Placement forms",
      "content": "<p>All our 5 or 6 week placements are assessed using the <a rel=\"noopener\" href=\"https://www.csp.org.uk/professional-clinical/practice-based-learning/cpaf/scotland\" target=\"_blank\" title=\"CSP Common Placement Assessment Form\">CSP Common Placement Assessment form</a>.</p>\n<p><a href=\"/{localLink:umb://media/1b04088402324535b788c0427d6cabed}\" title=\"Foundation PBL Form 2022[1]\">Foundation Placement Assessment Form</a></p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/e5f7e3f9b7c54d9388d20cf617470ada",
      "title": "Handbooks",
      "content": "<p><a rel=\"noopener\" href=\"/{localLink:umb://media/5a8d3b2e70324a63b68f7f4ad7476f23}\" target=\"_blank\" title=\"Practice Educators Handbook 2023\">Practice Educator handbook</a></p>\n<p><a rel=\"noopener\" href=\"/{localLink:umb://media/bc660920ee52419da88568e9dcafaa60}\" target=\"_blank\" title=\"Combined Student PBL Handbook 2023\">Student Placement Handbook</a></p>\n<p> </p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/04a315a14df146c780754bd948c9f01d",
      "title": "Guidance: Supporting Students on Placement",
      "content": "<p><a href=\"/current-students/practice-based-learning/nursing-and-allied-health-programmes-pbl-information/qmu-guidelines-supporting-a-failing-student/\" title=\"QMU Guidelines Supporting a failing student\">Support Students who give concern in the practice environment:a guide </a></p>\n<p> </p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[[
  "Concertina"
]]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Physiotherapy - Practice Based Learning]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Welcome to the practice based learning web section for Physiotherapy. Within the subject area of Physiotherapy at Queen Margaret University, there are 2 pre-registration programmes requiring learning experiences.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Physiotherapy | Practice Based Learning | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Physiotherapy PBL]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>