<?xml version="1.0" encoding="utf-8"?>
<Content Key="91a56c4c-4db7-4e0d-91f4-d6afcaff7e20" Alias="Abstract 2" Level="7">
  <Info>
    <Parent Key="cdb3d710-116c-4453-82de-de57f857a70a">HSR</Parent>
    <Path>/Home/ResearchAndKnowledgeExchange/ResearchCentresInstitutesAndKnowledgeExchangeCentres/InstituteForGlobalHealthAndDevelopment/HealthSystemsCluster/HSR/Abstract2</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-23T17:18:57</CreateDate>
    <NodeName Default="Abstract 2" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b19fb9fc0a424b5a91e9bd25b698055c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/b19fb9fc0a424b5a91e9bd25b698055c",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "The intersection of randomized trials, realist and economic evaluations: exploring methodological convergence and impacts of a novel financing intervention",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><a data-udi="umb://document/77be0259233a43d19adc18bd46a74916" href="/{localLink:umb://document/cdb3d710116c445382dede57f857a70a}" title="HSR">Back to HSR 2020</a></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead">Introduction</span></p>
<p>Tuberculosis (TB) is one of the greatest global health challenges of our time. Addressing this disease burden, particularly drug-resistant tuberculosis (DR-TB), requires novel systems-based approaches. As part of the Results4TB project in Georgia, researchers, policy-makers and healthcare professionals co-designed a novel performance-based financing intervention intended to strengthen TB related integrated care management. The intervention aims to reduce loss-to-follow-up among drug-sensitive TB cases, thereby curbing the potential development and transmission of DR-TB. Based on co-designed intervention programme theory, we have integrated three evaluation methods, including a cluster randomized clinical trial and realist and economic evaluation.</p>
<p><span class="lead">Methods</span></p>
<p>This presentation discusses the integration of the three evaluations in practice and presents preliminary results relating to the interventions’ implementation and effects. Overall, 8 public and private clinics have been randomized to take part in the intervention; 8 similar facilities serve as control sites. The primary outcome measure is the difference in the loss-to-follow-up proportion among drug-sensitive TB cases between intervention arms. In a sub-sample of intervention and control facilities, a realist evaluation is conducted concurrently, exploring the actual intervention, the underlying mechanisms and context conditions that explain the observed outcomes. Similarly, a health economic evaluation collects data on patient, service and health systems costs of the intervention.</p>
<p><span class="lead">Results</span></p>
<p>We present how the three evaluation methods have been integrated based on the development of the programme theory and reflect on the challenges and opportunities of employing such a design, including around coordination of data collection and analysis. Further, we discuss preliminary results of the evaluations at mid-point of the evaluation cycle i.e. 12 months. Overall, the intervention appears to be of low- to moderate-effect in achieving intended outcomes (i.e. relative effects under 20%). However, when disaggregating results and applying a realist perspective to the analysis, more distinct patterns emerge relating to the effects of underlying mechanisms and context conditions on intervention outcomes.</p>
<p><span class="lead">Conclusion</span></p>
<p>We offer reflections on how to design, use and integrate clinical trial and realist evaluation methods, including on the role of causal mapping in identifying useful points for evaluation convergence.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[The intersection of randomized trials, realist and economic evaluations: exploring methodological convergence and impacts of a novel financing intervention]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>Live presentation on 10th Nov from 16:36-16:39 GMT</strong><br /><strong>Dr Karin Diaconu, Prof Sophie Witter</strong></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[The intersection of randomized trials, realist and economic evaluations: exploring methodological convergence and impacts of a novel financing intervention]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[The intersection of randomized trials, realist and economic evaluations: exploring methodological convergence and impacts of a novel financing intervention]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f9fb6437b6833e6ab1e4288294d83e84"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "29342589-f80e-4c67-8716-a18c67020449",
      "udi": "umb://element/f9fb6437b6833e6ab1e4288294d83e84",
      "link": "umb://document/9ff8f7a8199b49b088feabd8ba289ea6"
    }
  ],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Abstract 2]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>