<?xml version="1.0" encoding="utf-8"?>
<Content Key="93fd5637-301a-4bfc-86cf-dfcd93879573" Alias="Admissions" Level="5">
  <Info>
    <Parent Key="2dd3b8cb-642f-4fd7-b045-b3357990ddc1">QMU Collaborations Manual</Parent>
    <Path>/Home/AboutTheUniversity/Partnerships/QMUCollaborationsManual/Admissions</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-04T10:43:12</CreateDate>
    <NodeName Default="Admissions" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e2a89c2e7b8945b798a11a417b46e046"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/e2a89c2e7b8945b798a11a417b46e046",
      "image": "umb://media/0f2ab3f0202e4da8a96f1fcfb2222727",
      "title": "Admissions",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><a data-udi="umb://document/9757fc850dad4df2ab61caa7117b37e2" href="/{localLink:umb://document/a0006821ba6b4da6a51efcd22ad553dd}" title="Matriculation and Induction">Next</a></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong><span class="lead">Entry requirements and good admissions practice</span> </strong></p>
<p>Partner institutions must keep records of the entry qualifications of all students admitted to the programme so that QMU can audit these as necessary. The entry requirements for each collaboration are agreed when setting up the programme.</p>
<p>As far as possible, partner institutions should adhere to QMU policies and national legislation governing equality and diversity.</p>
<p>For UK-based programmes that involve work with children or vulnerable adults, criminal record checks will be required. It is QMU policy that students pay for these checks themselves and are informed clearly that they cannot be admitted onto the programme without displaying a disclosure certificate. Students applying to overseas programmes may be required to provide an equivalent local certificate.</p>
<p>All applicants should declare any criminal convictions on their application form. If a declaration has been made, the nature of the conviction will be investigated and a decision made on whether or not the applicant may be admitted to the programme. The Collaborative Academic Lead can advise with guidance from the Head of Admissions.</p>
<p>Note that QMU does not take responsibility for student visas for applicants applying to study with partner organisations. It is the partner's responsibility to confirm that applicants comply with local visa regulations.</p>
<p>Partners should contact the Collaborative Academic Lead for advice on Recognition of Prior Learning or any applications with non-standard entry qualifications. (See section below.)</p>
<p><strong><span class="lead">Information to be provided for applicants</span> </strong></p>
<p>Prior to accepting a place, students on each collaborative programme must receive details of:</p>
<ul>
<li>the intended outcomes of the programme;</li>
<li>admission and qualification requirements and any assumed experience or necessary access to particular learning resources;</li>
<li>the time commitments required for study on the programme;</li>
<li>the assessment methods and conditions that will be used;</li>
<li>guidance available should they wish to transfer to study at QMU;</li>
<li>the opportunities to use QMU’s learning and other resources;</li>
<li>fees and incidental expenses and how and when these are to be paid;</li>
<li>welfare, guidance and support services available;</li>
<li>the status of the student within QMU and the entitlements that such status does or does not confer;</li>
<li>the nature of the award involved and the information which a successful candidate would expect to have recorded on the award certificate and transcript;</li>
<li>accurate information about the recognition of the programme or award by professional and statutory bodies in the UK;</li>
<li>named contacts at QMU and the partner organisation;</li>
<li>complaints, grievance and appeals procedures and how to make use of these.</li>
</ul>
<p>In addition to the above, for arrangements involving overseas partners or intended specifically for overseas students, the following must be detailed:</p>
<ul>
<li>the language of instruction and assessment;</li>
<li>accurate information about the recognition of the programme or award by professional and statutory bodies in the UK or elsewhere;</li>
<li>for programmes involving study in more than one country, information about the features of studying in those countries, including information about costs.</li>
</ul>
<p>Students should receive a handbook which provides the above information. Student handbooks should include general information about the organisation’s rules and support systems as well as specific information relating to the programme with QMU.</p>
<p>The student handbook is checked and formally approved by the validation or review panel. Between review events it is advisable for programme leaders to forward copies of student handbooks to the Collaborative Academic Lead to check that all information about QMU and, in particular, QMU regulations and procedures, remains accurate and up to date.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/667a6e7ddfc44a9da6a38df5dd14599b]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Admissions]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong><span class="lead">Standard process</span> </strong></p>
<p>Procedures for processing applications are recorded in the Memorandum of Agreement. The process set out below is the default, but individual partners may negotiate alternative arrangements to suit their circumstances.</p>
<ul>
<li>Students should apply directly to the partner, using the partner’s application form. Normally, partner institutions will be responsible for making decisions on applications in accordance with QMU procedures (and any stipulations made in the Memorandum). However, the Collaborative Academic Lead should be consulted about any non-standard applicants (eg students with non-standard qualifications, students wanting entry with advanced standing).</li>
</ul>
<ul>
<li>For new partnerships, or those with complex entry requirements, it may be appropriate for the Collaborative Academic Lead to view details of candidates before offers are made. The timescale for this must be discussed to ensure offers and acceptances can be processed in time for the start of the cohort.</li>
</ul>
<ul>
<li>The partner issues offer letters to students and compiles a list of all those who accept.</li>
</ul>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Normally, partner institutions will be responsible for making decisions on applications in accordance with QMU procedures (and any stipulations made in the Memorandum). However, the Academic Link Person should be consulted about any non-standard applicants (eg students with non-standard qualifications, students wanting entry with advanced standing).]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Admissions | QMU Collaborations Manual]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Admissions]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>