<?xml version="1.0" encoding="utf-8"?>
<Content Key="96823018-ae99-4ab1-822e-e2cbb2ad3bfd" Alias="2019.06.20 - Marketing student wins award from top print and design firm" Level="5">
  <Info>
    <Parent Key="08947aaf-1983-41d9-af0f-da5f3d7f0945">2019</Parent>
    <Path>/Home/NewsAndEvents/News//MarketingStudentWinsAwardFromTopPrintAndDesignFirm</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-11T10:59:21</CreateDate>
    <NodeName Default="2019.06.20 - Marketing student wins award from top print and design firm" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/7ab897eb253d4f40bce1348ba8583e68]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/308154728a3247e4959ff90bb9f816c3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/308154728a3247e4959ff90bb9f816c3",
      "image": "umb://media/6287084819ed47649b2dcf11a91017ed",
      "title": "Marketing student wins award from top print and design firm",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2019-06-20T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Marketing student wins award from top print and design firm]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[2019-06-21T15:30:28]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>A Queen Margaret University (QMU) marketing student has been presented with an award by a leading print and design company.</p>
<p>Mel Fraser, who has just completed her third year of the Public Relations, Marketing and Events Management course, was awarded The Paragon Marketing Student Award by Russell Dean, Business Development Manager of Paragon Service Point, after impressing the firm with the digital marketing strategy she developed in response to a brief given to QMU’s marketing students.</p>
<p>The brief challenged students to present ideas on how Paragon Service Point could improve their digital marketing strategy, and in return the winning student would receive a certificate and bursary of £500 to support their continued education and career endeavours.</p>
<p>Mel said: “I'm ecstatic about winning the award and honoured to be the first student to receive it. Paragon Service Point is an exciting company so to have their support and council will be of great benefit for my later career.”</p>
<p>After the summer, Mel – who hails from Arbroath - plans to return to QMU for the final year of her honours degree. Before then, however, she will be taking up an internship with destination marketing firm, Glory Days, and will continue working with the award-winning social enterprise Social Bite one day a week to support the digital output and marketing of their Wee Sleep Out project.</p>
<p>“My degree has helped me hone my skills and passion for marketing, and has opened the door for some exciting opportunities for me including joining the student marketing society,” said Mel. “I have loved every second of my time at QMU. I've met some amazing people.”</p>
<p> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[A Queen Margaret University (QMU) marketing student has been presented with an award by a leading print and design company. Mel Fraser, who has just completed her third year of the Public Relations, Marketing and Events Management course, was awarded The Paragon Marketing Student Award by Russell Dean, Business Development Manager of Paragon Service Point, after impressing the firm with the digital marketing strategy she developed in response to a brief given to QMU’s marketing students.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Marketing student wins award from top print and design firm]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media enquiries, please contact Karen Keith (Media Relations and Content Officer) at Queen Margaret University, Edinburgh, E: <a href="mailto:kkeith@qmu.ac.uk">kkeith@qmu.ac.uk</a>, T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[The Paragon Marketing Student Award]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>