<?xml version="1.0" encoding="utf-8"?>
<Content Key="987b519a-555e-4729-baf7-ab31759948de" Alias="MyQMU Mobile Application" Level="5">
  <Info>
    <Parent Key="f60c26cc-a96b-4e2e-9991-bbc1fede680c">IT Services</Parent>
    <Path>/Home/StudyHere/LearningFacilities/ITServices/MyQMUMobileApplication</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-08T14:41:28</CreateDate>
    <NodeName Default="MyQMU Mobile Application" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/06668ba486514519a1df8c253f82e471]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[<p>MyQMU Mobile Application</p>]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c696c335ee4f4c7ba8f6ff49b877b553"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/c696c335ee4f4c7ba8f6ff49b877b553",
      "image": "umb://media/06668ba486514519a1df8c253f82e471",
      "title": "MyQMU Mobile Application",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The dedicated mobile app for matriculated students, <strong>MyQMU</strong>, for Android and Apple IOS:</p>
<ul>
<li>View your personalised timetable</li>
<li>See your daily activity wall</li>
<li>All your accounts in one place, link out to top up</li>
<li>Assessment information and feedback dates</li>
<li>Live Bus and Train times</li>
<li>1875 menu</li>
<li>Useful links</li>
<li>Quick links</li>
</ul>
<p><strong>Download today on the App Store and Google Play</strong></p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/890d760e8f6340cb9b0a926d93447d4f"
      },
      {
        "contentUdi": "umb://element/de9d8cd318584911a609ae287549894d"
      },
      {
        "contentUdi": "umb://element/1186f17f328f4948a480df7829981e03"
      },
      {
        "contentUdi": "umb://element/29937bc44f0a4514a835c3e4cdfc837a"
      },
      {
        "contentUdi": "umb://element/071a9641d87a4e0d9213ecb075b35e76"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/890d760e8f6340cb9b0a926d93447d4f",
      "title": "How do I download the app?",
      "content": "<p>You can download the app from either the Apple App Store or Google Play for Android.</p>\n<p><img src=\"?width=216&amp;height=84\" alt=\"Apple App Store\" width=\"216\" height=\"84\" data-udi=\"umb://media/9af97b63aa9e4fd396d372f0e2dbd424\" /><img src=\"?width=216&amp;height=84\" alt=\"Google playstore logo\" width=\"216\" height=\"84\" data-udi=\"umb://media/65061cfe294a499ab16bd3ac2ee70e11\" /></p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/de9d8cd318584911a609ae287549894d",
      "title": "How do I use the app?",
      "content": "<p><a href=\"/{localLink:umb://media/154176bc20e54e9da555db346a10536f}\" title=\"Myqmu User Guide\">Download our detailed user guide.</a></p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/1186f17f328f4948a480df7829981e03",
      "title": "I don't have a smartphone",
      "content": "<p>The student portal is our web based platform that works with all devices and has all the features found in MyQMU.</p>\n<p><a href=\"/{localLink:umb://document/2ae5cfd70a844f7bad74eba3aca7e2d0}\" title=\"QMU Portal\"><span class=\"blue-btn\">Access the Student Portal.</span></a></p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/29937bc44f0a4514a835c3e4cdfc837a",
      "title": "I have a suggestion / feedback",
      "content": "<p>We are always open to suggestions and feedback, please use our feedback form below:</p>\n<p> </p>\n<p><a href=\"/{localLink:umb://document/2ae5cfd70a844f7bad74eba3aca7e2d0}\" title=\"QMU Portal\">MyQMU Feedback Form</a></p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/071a9641d87a4e0d9213ecb075b35e76",
      "title": "I have an issue",
      "content": "<p>Please contact our support desk at the LRC, or equally log an issue - 0131 474 0000 (Ask for ASSIST)</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/6f1459d5fd1b4bd7a73526356128e29c]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[MyQMU]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Queen Margaret University are delighted to bring you your dedicated mobile app <strong>- MyQMU</strong></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a62fe125073544e98438bb5fb73debcb"
      },
      {
        "contentUdi": "umb://element/082929fbfaa4438590adb69083a212eb"
      },
      {
        "contentUdi": "umb://element/b108c51d6b044ce690e30f7dd440c8b6"
      },
      {
        "contentUdi": "umb://element/dbbd62b580164fbeac109ef77cbbbea8"
      },
      {
        "contentUdi": "umb://element/70d7569a487843aab472fa3321ae74f0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "228bd0cb-e442-4633-89a6-14d0f145aa64",
      "udi": "umb://element/a62fe125073544e98438bb5fb73debcb",
      "image": "umb://media/cf00e5aaf7434e59b724a36a9b7a8e3e",
      "title": "",
      "subtitle": ""
    },
    {
      "contentTypeKey": "228bd0cb-e442-4633-89a6-14d0f145aa64",
      "udi": "umb://element/082929fbfaa4438590adb69083a212eb",
      "image": "umb://media/d500c636d26449f0891532b901893405",
      "title": "",
      "subtitle": ""
    },
    {
      "contentTypeKey": "228bd0cb-e442-4633-89a6-14d0f145aa64",
      "udi": "umb://element/b108c51d6b044ce690e30f7dd440c8b6",
      "image": "umb://media/ef2fedd6b5ea486e94d28c6bb311328f",
      "title": "",
      "subtitle": ""
    },
    {
      "contentTypeKey": "228bd0cb-e442-4633-89a6-14d0f145aa64",
      "udi": "umb://element/dbbd62b580164fbeac109ef77cbbbea8",
      "image": "umb://media/a7b62b2f7c5f4b989ec83728d5fc80a6",
      "title": "",
      "subtitle": ""
    },
    {
      "contentTypeKey": "228bd0cb-e442-4633-89a6-14d0f145aa64",
      "udi": "umb://element/70d7569a487843aab472fa3321ae74f0",
      "image": "umb://media/d3048b6b9d9346c99d9cd52f99918c40",
      "title": "",
      "subtitle": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[MyQMU Mobile Application, Apple, Android, IOS, App]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[MyQMU Mobile Application]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/43e533ca295946289d12487ddc927cd3,umb://document/a67713586dab42108759e724aece703d,umb://document/97672263ea164cf694e054a0c2983031,umb://document/fec66ea333a444058650d0e9f84726ae]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[MyQMU Mobile Application]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>