<?xml version="1.0" encoding="utf-8"?>
<Content Key="98c59146-a1c0-4833-a2d4-dacf54193c21" Alias="Graduation 2022" Level="3">
  <Info>
    <Parent Key="df06d5ad-f665-4242-b805-0599a75e4d16">Alumni and Friends</Parent>
    <Path>/Home/AlumniAndFriends/Graduation2022</Path>
    <Trashed>false</Trashed>
    <ContentType>generalLandingPage</ContentType>
    <CreateDate>2022-07-07T11:56:38</CreateDate>
    <NodeName Default="Graduation 2022" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="1d2d105c-dfa8-42d8-8bd5-cf850a36952d">GeneralLandingPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/114b8290dc7f4f5095509cb275cdfa97]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3c1d6669413c4327b9a42a570ea2ddd4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/3c1d6669413c4327b9a42a570ea2ddd4",
      "image": "umb://media/11c1a73a207c40a4aa87f4e3c2cba5d1",
      "title": "Congratulations Class of 2022!",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead-big"><br />Wishing all of our QMU students a very happy graduation day (12 July 2022).  You did it!</span><span class="lead"><br /></span></p>
<div class="mceNonEditable embeditem" data-embed-url="https://www.youtube.com/watch?v=WBxxjjprCws" data-embed-height="1202" data-embed-width="915" data-embed-constrain="false"><iframe width="915" height="515" src="https://www.youtube.com/embed/WBxxjjprCws?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="" title="QMU Graduating Class of 2022 - Congratulations!"></iframe></div>]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Graduation 2022]]></Value>
    </displayTitle>
    <focusPanel>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bbd1880b7ef149c6b9766886e8467157"
      },
      {
        "contentUdi": "umb://element/51ff4cbfa0a74004a25ef14b7a6ac079"
      },
      {
        "contentUdi": "umb://element/2188331fc4ef4b6ba6cc6e01b2c65e71"
      },
      {
        "contentUdi": "umb://element/e6f6031b414342f39354f5f41cedfa2e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/bbd1880b7ef149c6b9766886e8467157",
      "title": "School of Arts, Social Sciences and Management - Graduation List",
      "content": "<p>Find your name! Our list of graduates for 2022 within the School of Arts, Social Sciences and Management.</p>",
      "image": "umb://media/13cb129b54e74a3298fb9d9b280c3fd5",
      "link": "[{\"name\":\"Graduation List 2022 - School of Arts, Social Sciences and Management\",\"udi\":\"umb://document/50051df0368e41a49a6ca9d0b268ab37\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/51ff4cbfa0a74004a25ef14b7a6ac079",
      "title": "School of Health Sciences - Graduation List",
      "content": "<p>Find your name! Our list of graduates for 2022 within the School of Health Sciences.</p>",
      "image": "umb://media/114b8290dc7f4f5095509cb275cdfa97",
      "link": "[{\"name\":\"Graduation List 2022 - School of Health Sciences\",\"udi\":\"umb://document/34eafcec71ed4edbac62c0bcb1532655\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/2188331fc4ef4b6ba6cc6e01b2c65e71",
      "title": "Honorary Graduates",
      "content": "<p>Our honorary graduates for 2022.</p>",
      "image": "umb://media/e4f2b774ac204bb1bd21c5dd53b9fa15",
      "link": "[{\"name\":\"2022.07.12 -    Stars of ‘Still Game’ awarded honorary degrees from Queen Margaret University\",\"udi\":\"umb://document/0440cf3bbd484e4385b819a18db11a37\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/e6f6031b414342f39354f5f41cedfa2e",
      "title": "Alumni Benefits & Services",
      "content": "<p>Your checklist to make the most out of your QMU Alumni benefits.</p>",
      "image": "umb://media/c6c11f76028a4d37a1d7a68dd920646f",
      "link": "[{\"name\":\"Benefits and Services\",\"udi\":\"umb://document/87773768dbb14c03a3359eff35dc9ffb\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </focusPanel>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[1]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Congratulations to the QMU Class of 2022!]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Graduation 2022 | Queen Margaret University (QMU), Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/ea2c79eaa1e74562b1ca1caa01cbb8de,umb://document/456088f5f8a54bdb999fe35400c2be50,umb://document/813f30a8ec1b475c817faaffaf666c43]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Graduation '22]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>