<?xml version="1.0" encoding="utf-8"?>
<Content Key="9905960d-33ee-4398-b416-8cb1522dddbb" Alias="2016.08.30 - QMU student Kate Rees" Level="5">
  <Info>
    <Parent Key="ac4dc403-ec85-4439-845b-de25b485c66d">2016</Parent>
    <Path>/Home/NewsAndEvents/News//QMUStudentKateRees</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T12:58:26</CreateDate>
    <NodeName Default="2016.08.30 - QMU student Kate Rees" />
    <SortOrder>95</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1771783a6ede4dea86eecafe549a0895"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/1771783a6ede4dea86eecafe549a0895",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "QMU student crowned one of the UK’s top tourism students of 2016",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Kate Rees, 22, who is from Northallerton in North Yorkshire and attended Northallerton College, graduated from QMU earlier this year with a BA (Hons) International Hospitality and Tourism Management.</p>
<p class="txtMainBlack">Kate won the top title from the ATHE after being nominated by the University for achieving the highest mark of any QMU hospitality &amp; tourism student for her dissertation on a tourism topic this year.</p>
<p class="txtMainBlack">ATHE is the subject association for tourism in higher education in the UK. The Association celebrates the impact that teaching, learning and research in tourism can have on society.</p>
<p class="txtMainBlack">The Association is striving to ensure that the case for tourism in higher education is heard by the relevant stakeholders and sees this award scheme as recognising excellence in building leadership and management capacity in the visitor economy and understanding global complexity through tourism.</p>
<p class="txtMainBlack">Commenting on her award, Kate said: “I’m honoured to have received this award, it’s always nice to be recognised for your hard work and commitment and I feel like it’s the perfect way to end my time at QMU. Although I’m sad to leave after an amazing four years I’m excited and ready to see what the future holds for me! I’d like to thank all the lecturers at QMU who have helped me throughout my four years, it’s their support and dedication that helped me meet my full potential.”</p>
<p class="txtMainBlack">Kate is now working as a Marketing Assistant for Hickory, a Musselburgh-based events and catering company.</p>
<p class="txtMainBlack">Kate added: “I’m absolutely loving the job and learning so much everyday. I feel so lucky that after my four years studying hospitality and tourism I've managed to fall into a job that allows me to use the knowledge that I've learnt as well as challenge myself with new skills within marketing.”</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2016-08-30T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU student crowned one of the UK’s top tourism students of 2016]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>A student from Queen Margaret University (QMU), Edinburgh, has been crowned one of the UK’s Best Undergraduate Student of Tourism 2016 by the Association of Tourism in Higher Education (ATHE).</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[A student from Queen Margaret University (QMU), Edinburgh, has been crowned one of the UK’s Best Undergraduate Student of Tourism 2016 by the Association of Tourism in Higher Education (ATHE).]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU student crowned one of the UK’s top tourism students of 2016]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information contact Jonathan Perkins, Press and PR Officer, E: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a> T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU student crowned one of the UK’s top tourism students of 2016]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>