<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b43f8ca-ad97-477d-9bdb-108f73af6d4f" Alias="Guide to Healthy Laptop Use" Level="3">
  <Info>
    <Parent Key="5c334dba-d1fc-4fd2-9820-0b477c4b3a79">At Home</Parent>
    <Path>/Home/AtHome/GuideToHealthyLaptopUse</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-02-03T12:01:07</CreateDate>
    <NodeName Default="Guide to Healthy Laptop Use" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/12b47abcda794cc1a6ed926479b90db0]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/71e6e6ff89174b39a7dab265f95c3b4f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/71e6e6ff89174b39a7dab265f95c3b4f",
      "image": "umb://media/1dfa730a810a41c5a80408cf1a8ae78c",
      "title": "The ultimate guide to healthy laptop use",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<table border="1" style="border-collapse: collapse; width: 100%; height: 105px;">
<tbody>
<tr style="height: 21px;">
<th style="width: 50%; height: 21px;">
<p><span class="lead">DO</span><span class="lead"></span></p>
</th>
<th style="width: 50%; height: 21px;">
<p><span class="lead">DON'T</span><span class="lead"></span><span class="lead"></span></p>
</th>
</tr>
<tr style="height: 21px;">
<td style="width: 50%; height: 21px;">Take regular breaks, wherever you choose to work</td>
<td style="width: 50%; height: 21px;">Stay in one position for too long</td>
</tr>
<tr style="height: 42px;">
<td style="width: 50%; height: 42px;">Use ergonomic equipment if you’re inputting for long periods</td>
<td style="width: 50%; height: 42px;">Slouch, slump, or head-hang</td>
</tr>
<tr style="height: 21px;">
<td style="width: 50%; height: 21px;">Enjoy the portability of your laptop and explore different environments</td>
<td style="width: 50%; height: 21px;">Ignore what your body might be trying to tell you</td>
</tr>
</tbody>
</table>
<p><span class="lead">Ergonomic equipment needed:</span></p>
<ul>
<li>Laptop stand</li>
<li>Mini keyboard</li>
<li>Mouse</li>
</ul>
<p><em>image of a Laptop stand, mini keyboard and mouse as the Ergonomic equipment needed</em></p>
<p> </p>
<p> </p>
<p><span class="lead">Where should you use your laptop?</span></p>
<p>If you need to be working for more than 15-20 minutes at a time then you should set yourself up at a desk - preferably with ergonomic equipment. If all you have is your laptop then make sure you stretch and move as often as possible.</p>
<p><span class="lead">Tasks to do here:</span></p>
<ul>
<li>Writing reports/essays</li>
<li>Designing or drawing</li>
<li>Inputting data</li>
</ul>
<p><span class="lead">Good Posture</span></p>
<ul>
<li>Balanced head, not hanging forward</li>
<li>Sit back in chair for better back support</li>
<li>Space behind knees</li>
<li>Top of screen at eye level, an arm’s length away</li>
<li>Forearms parallel to desk, relaxed by side</li>
<li>Feet flat on floor</li>
</ul>
<p><span class="lead">Bad Posture</span></p>
<ul>
<li>Upper limb pain - from overuse of trackpad</li>
<li>Sedentary - stiff and stuffy from lack of movement</li>
<li>Neck strain - from headhanging towards screen</li>
<li>Shoulder and back pain - from slouching</li>
</ul>
<p><span class="lead">On a sofa or armchair</span></p>
<p>Not an ideal place to work, but we’re all guilty of it. Lower your risk of pain and injury by working here for no longer than 15-20 minutes - and only on tasks that require minimal interaction with your laptop.</p>
<p><span class="lead">Tasks to do here:</span></p>
<ul>
<li>Watching webinars/videos</li>
<li>Reading</li>
<li>Online browsing</li>
</ul>
<p><span class="lead">What you need:</span></p>
<ul>
<li>Cushions for extra back support</li>
<li>A lap tray to prop up your laptop</li>
<li>Timer to remind you to get up</li>
</ul>
<p><span class="lead">On the go</span></p>
<p>Laptops allow us to roam the world without having to leave our work at home. The same rules apply: take breaks, using suitable equipment if you’re writing for long periods, and change up your position regularly.</p>
<p><span class="lead">Tasks to do here:</span></p>
<ul>
<li>Proofing and editing</li>
<li>Reading</li>
<li>Online browsing</li>
<li>Short emails</li>
</ul>
<p><span class="lead">What you need:</span></p>
<ul>
<li>
<p>Laptop stand</p>
</li>
<li>
<p>Mouse</p>
</li>
<li>
<p>Keyboard</p>
</li>
<li>
<p>Ergonomic laptop backpack</p>
</li>
</ul>
<p>Find everything you need for an ergonomic laptop workstation <a rel="noopener" href="https://www.posturite.co.uk/ergonomic-accessories/computer-and-laptop-accessories" target="_blank">here</a>.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[The ultimate guide to healthy laptop use]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">Our laptops liberate us from the confines of our desks but they also introduce health and wellbeing risks of their own.</span> You can reduce these risks, and stay comfortable and productive, by practicing good postures and forming healthy habits.</p>
<p>Laptops are not inherently bad for us. It’s how we use them that matters.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Tips and advice about how to use your laptop in the healthiest ways.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Guide to Healthy Laptop Use]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Guide to Healthy Laptop Use]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>