<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c3e9e4c-f2ab-4182-947a-af99bd4002b8" Alias="2019.04.29 - What do our faces say about us? On untrustworthiness and evolutionary psychology." Level="5">
  <Info>
    <Parent Key="688464a0-1379-4f15-a3c7-82ca16a9b652">Dr Kristen Knowles</Parent>
    <Path>/Home/CampusLife/Blogs/DrKristenKnowles/WhatDoOurFacesSayAboutUsOnUntrustworthinessAndEvolutionaryPsychology</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2021-01-28T20:58:18</CreateDate>
    <NodeName Default="2019.04.29 - What do our faces say about us? On untrustworthiness and evolutionary psychology." />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65102975-f5a6-47bf-9418-b0e82dc7c288">BlogPost</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/16f85ae075194421b5392d077c81974d]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7e81834e6a4243b585c749b3ca212b70"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/7e81834e6a4243b585c749b3ca212b70",
      "image": "umb://media/78e172b76e124ae18007efb9ac65ef5d",
      "title": "",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p>In my research, I confront some large-scale questions: how do we instinctively form judgements about others? And, is there any validity in the judgements we make – that is, are our stereotypical judgements <em>accurate</em> ones? The answers lie in an understanding of how our biological evolution has interacted with human psychology.</p>
<p>The first question partially answers itself – we form stereotyped judgements because it is instinctive. Let me explain. Humans have created and thrived in an environment of incredibly complex sociality, where we frequently encounter people we don’t know anything about. Evolutionary psychologists argue that this has led to a system where knee-jerk judgements of others can help us survive and thrive. For example, if we meet a stranger, and that person may be untrustworthy, it would be helpful if we could get some cues about that before we are potentially subjected to exploitation. As such, we have evolved mechanisms that interpret biological markers (such as facial appearance) as cues to behavioural traits – these form our first impressions of those we meet. The ability to use appearance cues to judge trustworthiness is a shortcut that could save us from getting burned.</p>
<p>But, what of the accuracy of those judgements? Instincts toward a hair-trigger for untrustworthiness would survive only if those feelings were at least partially accurate, as it would not pay off to reject all trustworthy individuals, nor would it be advantageous to blindly trust those who may mistreat us. To be clear, while an “untrustworthy vibe” might be advantageous, it need only be accurate some of the time – not everyone who gives us the creeps will be malicious, and not everyone we trust will be upstanding. We only need to be accurate <em>sometimes</em> for our gut feelings to save us from exploitation.</p>
<p>Recent work by a research team at the University of Western Australia suggests that our social judgements about others can indeed be accurate<span>[1]</span>. The team asked men and women about their history of sexual infidelity and showed photographs of their faces to a separate group of participants. The headline-grabbing finding was that others tended toward accuracy in judging the faithfulness of the male subjects based only upon their faces. How did they do it?</p>
<p>To understand this, we need to look more closely at the biology of facial shape. We tend to, very readily, make judgements about others based on facial masculinity, because these features tell us something about hormonal states, especially among men. Testosterone influences masculine facial shape (think square jawline and heavy brow ridge)<span>[2]</span> and contributes to some negative behaviours such as aggression<span>[3]</span>. It’s been well-established that this leads to the perception of qualities like untrustworthiness and dominance in masculine-faced men<span>[4]</span>. Other studies have shown that male facial masculinity is related to less restricted sexual behaviour and a higher number of sexual partners (and the perceptions thereof)<span>[5]</span>, so this finding fits well with our current knowledge of male sexual behaviour from an evolutionary perspective.</p>
<p>I was recently asked by a journalist whether, based on these results, we should distrust all masculine men. My answer was unequivocally no, for two reasons. Firstly, these behaviours are incredibly complex, and are likely to be influenced by many factors beyond simple testosterone-dependence, including social and cultural effects, personality, genetics, and life experiences. Secondly, recall the accuracy problem I described above: our knee-jerk judgements of others have persisted because they are accurate <em>enough</em>, not because they are foolproof. While this research tells us something about the way accurate perceptions are formed, it’s not possible (or advisable) to use them to predict the behaviour of any individual person.</p>
<p> </p>
<p><em>Dr Kristen Knowles is an evolutionary psychologist at QMU, where she applies her research on social perception to understanding political decision-making and leadership. She is a lecturer in biological psychology as well as the Programme Leader for the BSc (Hons) Psychology programme.</em></p>
<p><em> </em></p>
<p><span>[1]</span> Foo, Y. Z., Loncarevic, A., Simmons, L. W. Sutherland, C. A. M., &amp; Rhodes, G. (2019). Sexual unfaithfulness can be judged with some accuracy from men’s but not women’s faces. <em>Royal Society Open Science, 6,</em> 181552. doi: 10.1098/rsos.181552</p>
<p><span>[2]</span> Penton-Voak, I. S., Jones, B. C., Little, A. C., Baker, S., Tiddeman, B., Burt, D. M. &amp; Perrett, D. I. (2001). Symmetry, sexual dimorphism in facial proportions and male facial attractiveness. <em>Proc. R. Soc. Lond. B,</em> <em>268</em>, 1617–1623. doi:10.1098/rspb.2001.1703</p>
<p><span>[3]</span> Mazur, A., &amp; Booth, A. (1998). Testosterone and dominance in men. <em>Behavioral and Brain Sciences, 21</em>, 353–397. doi:10.1017/S0140525X98001228</p>
<p><span>[4]</span> Perrett, D. I., Lee, K. J., Penton-Voak, I. S., Rowland, D., Yoshikawa, S., Burt, D. M., … Akamatsu, S. (1998). Effects of sexual dimorphism on facial attractiveness. <em>Nature, 394</em>, 884–887. doi:10.1038/29772</p>
<p><span>[5]</span> Boothroyd, L. G., Jones, B. C., Burt, D. M., DeBruine, L. M., &amp; Perrett, D. I. (2008). Facial correlates of sociosexuality. Evolution and Human Behavior, 29(3), 211–218. doi:10.1016/j.evolhumbehav.2007.12.009</p>
<p> </p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[2019-04-29T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[What do our faces say about us? On untrustworthiness and evolutionary psychology.]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>As the age-old advice goes, don’t judge a book by its cover. We are so prone to the pre-judgement of others that chidings against these instincts are part and parcel of childhood. By the time we reach adulthood, many of us are convinced that we no longer judge people based on appearance, but research suggests that we might have more appearance-based bias than we believe. </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[As the age-old advice goes, don’t judge a book by its cover. We are so prone to the pre-judgement of others that chidings against these instincts are part and parcel of childhood. By the time we reach adulthood, many of us are convinced that we no longer judge people based on appearance, but research suggests that we might have more appearance-based bias than we believe. In my research, I confront some large-scale questions: how do we instinctively form judgements about others? And, is there any validity in the judgements we make – that is, are our stereotypical judgements accurate ones? The answers lie in an understanding of how our biological evolution has interacted with human psychology. Queen Margaret University]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[What do our faces say about us? On untrustworthiness and evolutionary psychology.]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[What do our faces say about us?]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>