<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d9f7b36-f3e1-4060-9c6a-32d4b7ce86fb" Alias="Accommodation Details" Level="3">
  <Info>
    <Parent Key="b2c190a2-030c-4f64-8cdf-c01b3598a2c3">August - Fringe Village at QMU</Parent>
    <Path>/Home/AugustFringeVillageAtQMU/AccommodationDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-09T14:21:09</CreateDate>
    <NodeName Default="Accommodation Details" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/6f746561c0e74766b42c617ee0850871]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/abe1b51e770b4fa0b67995740f1434e9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/abe1b51e770b4fa0b67995740f1434e9",
      "image": "umb://media/ff04eb7e552141d7bed1a3db6861bffd",
      "title": "Accommodation Details",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Our self-catering apartments have 6 bedrooms, each with an en-suite shower pod.  All guests have the added benefit of access to a well-equipped shared kitchen/diner within each apartment.  Bed linen is provided, however, no towels or cleaning service is provided in our self-catering apartments.</p>
<p>There is 24-hour Security on campus so QMU provides a safe environment throughout your stay.</p>
<p><span class="lead"><strong>General Information</strong></span></p>
<p>Our Accommodation Reception is open 8am – 9pm.  After 9pm, the Security team can check you in at the main University reception.<br />Towels can be hired at £5 per set which includes 1 hand towel and 1 bath towel.<br />There is a self-service laundry onsite.  Laundry top-cards can be purchased from the Accommodation reception.<br /><strong>Arrival<br /></strong>Check in is from 2.00pm on the day of arrival. Please contact us in advance if you plan to arrive after 9pm.<br /><strong>Departure<br /></strong>Flats should be vacated by 10.00am on the day of departure. Please ensure your flat is left clean and all rubbish is taken out to the recycling/bin sheds before you leave - extra cleaning charges will apply should this not be done.<br /><strong>Payment<br /></strong>Full payment is required four (4) weeks prior to arrival or at the time of booking if arriving within four weeks of booking date. A 20% deposit may be required at time of booking for group reservations.</p>
<p><strong>Terms &amp; Conditions / Privacy Statement<br /></strong>This special Artists Rate is strictly for Artists who have a confirmed show booked at the Edinburgh Fringe 2023.<br />Limited availability.<br />More information on our <a rel="noopener" href="/{localLink:umb://media/27691f609c72408186d8ebf058623cf4}" target="_blank" title="Summer Booking Terms And Conditions">Terms and Conditions</a> and <a href="/footer/privacy-statement/">Privacy Statement</a>.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Accommodation Details]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[1]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big"><strong>QMU student residences offer modern, affordable 2* accommodation. </strong></span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a90c858c9be74e6886f8f0bb7884f10a"
      },
      {
        "contentUdi": "umb://element/c68c09a46b114494948d1650b0afe2cf"
      },
      {
        "contentUdi": "umb://element/b59477b633034bddbf9eae79539b5ba6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "228bd0cb-e442-4633-89a6-14d0f145aa64",
      "udi": "umb://element/a90c858c9be74e6886f8f0bb7884f10a",
      "image": "umb://media/ad77c76147e545d795d0701dbefefce3",
      "title": "Single Room",
      "subtitle": ""
    },
    {
      "contentTypeKey": "228bd0cb-e442-4633-89a6-14d0f145aa64",
      "udi": "umb://element/c68c09a46b114494948d1650b0afe2cf",
      "image": "umb://media/bed82cb1a91c4c299809852aa98246bd",
      "title": "Double Room",
      "subtitle": ""
    },
    {
      "contentTypeKey": "228bd0cb-e442-4633-89a6-14d0f145aa64",
      "udi": "umb://element/b59477b633034bddbf9eae79539b5ba6",
      "image": "umb://media/52d1d586002b4b86a70dae7dd8cba40b",
      "title": "",
      "subtitle": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[QMU student residences offer modern, affordable 2* accommodation.  Our apartments range in size from 3 to 6 bedrooms (mixture of single and double room) with each bedroom boasting an en-suite shower pod.  All bedrooms are located within cluster flats so you have the added benefit of access to a well-equipped shared kitchen/diner where tea and coffee making facilities can be found.  Bed linen is provided, however, a cleaning service and towels are not provided in our self-catering apartments.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Accommodation Details | QMU Accommodation for Edinburgh Fringe Artists]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Accommodation Details]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>