<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e8b18b4-43a2-4ac4-8c2d-c57b3e4b94f8" Alias="Diana King-Dornelly - PgDip/MSc in Audiology (Pre-Registration)" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/DianaKingDornellyPgDipMScInAudiologyPreRegistration</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-05-18T10:36:45</CreateDate>
    <NodeName Default="Diana King-Dornelly - PgDip/MSc in Audiology (Pre-Registration)" />
    <SortOrder>44</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/06973e361faa42cd8052d5740ba3a01f]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d13af1a6a64044a78d9820cc48463efc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/d13af1a6a64044a78d9820cc48463efc",
      "image": "umb://media/e2e707d81c8244a7b840de39ee6be568",
      "title": "",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Diana King-Dornelly, who is studying on the PgDip/MSc in Audiology (Pre-Registration) programme at QMU, is part of a partnership project between the St. Lucia Ministry of Health and Wellness and The Starkey Hearing Foundation, which is improving quality of life for over 600 St. Lucians who qualify for free hearing aids.</p>
<p><span>The Ministry of Health and Wellness in St. Lucia is currently making an appeal to people in the country to get their hearing tested and find out if they qualify for a free hearing aid thanks to the Starkey Hearing Foundation. </span></p>
<p><span>Diana, who is an audiology specialist with the Ministry of Health in St. Lucia, said: “We’re hoping to fit at least 600 St. Lucians with hearing aids, but in order to do that we would like people to be screened. We’re urging everyone to be screened so we can advise them accordingly.”</span></p>
<p><span>Diana is also a qualified nurse with a qualification in Midwifery and Advanced Nursing. She previously worked in primary health care, which forms part of the community nursing service in St. Lucia.</span></p>
<p><span>Commenting on her studies at QMU, Diana said: “I chose to study the PgDip/MSc in Audiology (Pre-Registration) programme at QMU because of its high standard of teaching and research. I was very pleased with the fact that there was a considerable amount of time for clinical placement, which helped to develop my skills as a practicing audiologist.</span></p>
<p><span>“The course is helping me to develop both personally and professionally, as well as to make a career change from nursing to audiology. </span></p>
<p><span>“On completion of this course, I’m hoping to be able to use the knowledge and skills that I’ve gained in order to provide the best care to people with hearing and hearing related problems. I would also like to be instrumental in contributing to the development of the profession of audiology in St. Lucia.”</span></p>
<p> </p>
<p><a rel="noopener" href="http://www.starkeyhearingfoundation.org/" target="_blank"><strong><span>Starkey Hearing Foundation</span></strong></a></p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[umb://media/60e4c5563ebf4ff08a9cbe4d8f663189]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[St. Lucia]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/b617c7c71f964a1dbb3ad1ee864af44b]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[PgDip/MSc in Audiology (Pre-Registration) ]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Diana King-Dornelly]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[[]]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[A QMU Audiology student is helping people with hearing loss in her home country of St. Lucia.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Diana King-Dornelly | Student Story | Queen Margaret University]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[I chose to study the PgDip/MSc in Audiology (Pre-Registration) programme at QMU because of its high standard of teaching and research. I was very pleased with the fact that there was a considerable amount of time for clinical placement, which helped to develop my skills as a practicing audiologist.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Diana King-Dornelly]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Diana King-Dornelly]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Graduate"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>