<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f072d80-c968-46f2-9510-10d22857659a" Alias="2020.01.28 - QMU Principal set to judge Democracy Pioneers award" Level="5">
  <Info>
    <Parent Key="9c795575-f12b-4d4d-91c1-652258e7996d">2020</Parent>
    <Path>/Home/NewsAndEvents/News//QMUPrincipalSetToJudgeDemocracyPioneersAward</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-11-01T12:50:19</CreateDate>
    <NodeName Default="2020.01.28 - QMU Principal set to judge Democracy Pioneers award" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/3522b3c8f741468aa7da82de759d6eb8]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/48a4afd47d71442facc15e98c559d59e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/48a4afd47d71442facc15e98c559d59e",
      "image": "umb://media/f55d5d164e87437ea276a25dda6ffcd9",
      "title": "QMU Principal set to judge Democracy Pioneers award",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Presented by innovation foundation Nesta, the award grants £100,000 for up to ten innovations that are experimenting with ways to re-energise civic participation and everyday democracy in the UK.</p>
<p>Sir Paul joins nine other panelists from a variety of professional backgrounds, ranging from government and the charity sector to community organisations and the media.</p>
<p>Submissions close on Friday 31st January. <a rel="noopener" href="https://www.nesta.org.uk/project/democracy-pioneers/." target="_blank" title="Find out more information at https://www.nesta.org.uk/project/democracy-pioneers/."><span class="blue-btn">Find out more </span></a></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2020-01-28T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU Principal set to judge Democracy Pioneers award]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>The Principal and Vice-Chancellor of Queen Margaret University (QMU), Edinburgh – Sir Paul Grice – has been appointed to the judging panel for the 2020 Democracy Pioneers award.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Presented by innovation foundation Nesta, the award grants £100,000 for up to ten innovations that are experimenting with ways to re-energise civic participation and everyday democracy in the UK. Sir Paul joins nine other panelists from a variety of professional backgrounds, ranging from government and the charity sector to community organisations and the media.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU Principal judges Democracy Pioneers award | QMU News | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media enquiries, please contact Gavin McNee (Media Relations and Content Officer) at Queen Margaret University, Edinburgh, E: <a href="mailto:gmcnee@qmu.ac.uk" title="Email Gavin McNee">gmcnee@qmu.ac.uk</a>, T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU Principal set to judge Democracy Pioneers award]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>