<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ffe1f18-f64b-4fab-bc97-1a8a0205a428" Alias="Court Agenda February 2020" Level="5">
  <Info>
    <Parent Key="400dbcf1-3e0f-45f4-9c0c-074a0dc44321">Court Meetings</Parent>
    <Path>/Home/AboutTheUniversity/UniversityCourt/CourtMeetings/CourtAgendaFebruary2020</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-09-20T12:28:04</CreateDate>
    <NodeName Default="Court Agenda February 2020" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<ol>
<li><strong>*Welcome and Apologies</strong></li>
<li><strong>*Conflicts of Interest</strong></li>
</ol>
<p style="padding-left: 40px;">To NOTE any conflicts of interest and determine any required action.        </p>
<ol start="3">
<li><strong>*Determination of Other Competent Business</strong></li>
</ol>
<p>        To RECEIVE notification of Other Competent Business.</p>
<p style="padding-left: 40px;">To DISCUSS any business arising from Items for Information.</p>
<ol start="4">
<li><strong>*Chair’s Report</strong></li>
</ol>
<p style="padding-left: 40px;">To RECEIVE a report from the Chair.           </p>
<ol start="5">
<li><strong>*Principal’s Report</strong></li>
</ol>
<p style="padding-left: 40px;">To RECEIVE a report from the Principal (COURT (20) 01).</p>
<ol start="6">
<li><strong>*Minutes</strong></li>
</ol>
<p style="padding-left: 40px;">To APPROVE the minutes of the Court meeting held on 27 November 2019 (COURT (19) MINS 05)</p>
<p style="padding-left: 40px;">Matters arising.</p>
<p><strong>Ordinary Business</strong></p>
<ol start="7">
<li><strong>*Financial Update</strong></li>
</ol>
<p style="padding-left: 40px;">To RECEIVE an update on the University’s Financial Position (COURT (20) 02).</p>
<ol start="8">
<li><strong>*Contract Award for Integrated Facilities Management</strong></li>
</ol>
<p style="padding-left: 40px;">To HOMOLOGATE Chair’s Action to approve the award of tender (COURT (20) 03).</p>
<ol start="9">
<li><strong>*Arrangements for the Recruitment of the Chair</strong></li>
</ol>
<p style="padding-left: 40px;"><strong>To RECEIVE a report from the University Secretary (COURT (20) 04).</strong></p>
<ol start="10">
<li><strong>*Scottish Funding Council - Outcome Agreement 2020-23</strong></li>
</ol>
<p style="padding-left: 40px;">To RECEIVE and DISCUSS the Draft Queen Margaret University Outcome Agreement 2020-23 (COURT (20) 05).     </p>
<ol start="11">
<li><strong>*Annual Report on Human Resource (HR) Matters</strong></li>
</ol>
<p style="padding-left: 40px;">To RECEIVE a report from the Director of Operations and Finance (COURT (20) 06).</p>
<p><strong>Reports from Committees</strong></p>
<ol start="12">
<li><strong>*Senate</strong></li>
</ol>
<p style="padding-left: 40px;">To RECEIVE the minutes of the Senate meeting held 11 December 2019 (SEN (19) MINS 05).</p>
<p style="padding-left: 40px;">Matters arising.</p>
<ol start="13">
<li><strong>*Nominations Committee</strong></li>
</ol>
<p style="padding-left: 40px;">To RECEIVE the minutes of the Nominations Committee held on 10 December 2019 (NOM (19) MINS 04).</p>
<p style="padding-left: 40px;">Matters arising.</p>
<ol start="14">
<li><strong>*Health and Safety Committee</strong></li>
</ol>
<p style="padding-left: 40px;">To RECEIVE the minutes of the Health &amp; Safety Committee meeting held on 9 January 2020 (HSC (20) MINS 01).</p>
<p style="padding-left: 40px;">Matters arising.</p>
<ol start="15">
<li><strong>*Equality and Diversity Committee</strong></li>
</ol>
<p style="padding-left: 40px;">To RECEIVE the minutes of the Equality &amp; Diversity Committee meeting held on 5 December 2019 (EDC (19) MINS 04).</p>
<p style="padding-left: 40px;">Matters arising.</p>
<ol start="16">
<li><strong>Dates of future meetings</strong></li>
</ol>
<p style="padding-left: 40px;">Court will meet on the following dates in 2020:</p>
<p style="padding-left: 40px;">1 April 2020 at 3.00 pm</p>
<p style="padding-left: 40px;">24 June 2020 at 3.00 pm</p>
<p style="padding-left: 40px;">Further dates will be agreed and published on the appointment of the Chair.</p>
<ol start="17">
<li><strong>Items for Information</strong></li>
</ol>
<p style="padding-left: 40px;">Press Cuttings and Press Releases (tabled).</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Court Agenda February 2020]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<div class="page">
<div class="layoutArea">
<div class="column">
<p>Agenda for the meeting of the Court held on Wednesday, 5 February 2020 at 11.10 pm in the Large Boardroom, Level 2, Queen Margaret University. </p>
</div>
</div>
</div>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Agenda for the meeting of the Court held on Wednesday, 5 February 2020.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU University Court Agenda February 2020]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Court Agenda February 2020]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>