<?xml version="1.0" encoding="utf-8"?>
<Content Key="a115262e-7845-46bb-a406-608a772b0a3b" Alias="Katie Reid - BA (Hons) Drama and Performance" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/KatieReidBAHonsDramaAndPerformance</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-05-21T11:00:28</CreateDate>
    <NodeName Default="Katie Reid - BA (Hons) Drama and Performance" />
    <SortOrder>96</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/e018593bb1bd47f680ae2d2c4531bddf]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bd17c12931bc460bbdc7c09dd54aa82b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/bd17c12931bc460bbdc7c09dd54aa82b",
      "image": "umb://media/e4e369e655c44d0d89142daa55479f88",
      "title": "",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><span class="lead">Do you feel that your drama and performance training has helped you with public speaking? </span></p>
<p>Before coming to university, I wasn't very confident in sharing my ideas and speaking out – I’m sure my lecturers will back me up on that. But with their positive encouragement and learning to share my thoughts, I feel I’ve grown a much better sense of self and now feel confident enough to speak in places such as Parliament, hospitals and conferences. I would have laughed if you’d told me this in first year!</p>
<p><br /><span class="lead-big">After graduation</span></p>
<p><span class="lead">What are your plans for after graduation? Tell us about your ambitions and where you see yourself in the future. </span></p>
<p>I hope to finish my degree for one! But after that, I’m thinking of pursuing a career in Dramatherapy. It's something close to my heart, and I know working to help others overcome the same difficulties I faced would give me a lot of pleasure. But let’s get this year out of the way first!</p>
<p> </p>
<p>[Published October 2019]</p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead-big">About you</span></p>
<p><span class="lead">Tell us a little about yourself.</span></p>
<p>I’m 21 and currently in my last year of Drama and Performance at QMU. I don't have many hobbies, but I do have a burning passion for body positivity and dismantling ‘diet culture’ as a result of previously having an eating disorder. I also love reading plays and recently worked as Assistant Director on Kate Nelson’s (QMU Lecturer in Acting and Directing) production of <em>Love’s Labour’s Lost</em>.</p>
<p><span class="lead">Why did you choose to study at QMU and what attracted you to the course?</span></p>
<p>I chose to study at QMU because, after coming along to the open day, I felt it was an inclusive and friendly campus which put me at ease with moving away from home. The drama course, in particular, was interesting to me as it involves a combination of written and practical work. When I started university, I was someone who didn’t like to ‘put myself out there’ much, but the course gave me a lot of reassurance in testing my abilities without so much pressure relying purely on the practical ability to act.</p>
<p><span class="lead">Why did you choose to study in Edinburgh?</span></p>
<p>I moved to a West Lothian school after being ill for a few years and fell in love with Edinburgh during that time. The change of environment was something I longed for in particular, and coming from a city myself I took comfort in it having a similar vibe.<br /><br /></p>
<p><span class="lead-big">Your work</span></p>
<p><span class="lead">Your work is focused on the early intervention for the diagnosis and treatment of anorexia. Could you tell us how you became involved in this? </span></p>
<p>I was diagnosed with anorexia when I was 14 and the road to getting where I am today was something I never envisaged. As much as I can look back at it with sadness, I wanted to turn what was a life-altering situation into something positive, which could potentially help others. I think if someone had been able to talk to me about the things I know now when I was dealing with my eating disorder, I would have had a little more hope.</p>
<p><span class="lead">You gave a speech at the Scottish Parliament in May. How did this come about?</span></p>
<p>In July 2017, I began working as a Young Ambassador for BEAT, the UK’s leading eating disorder charity. I joined this with the hope of actively changing things for the better regarding the treatment, stigma and assumptions of those struggling and supporting individuals with eating disorders. In May, I was invited to campaign for the change of standard waiting times in Scotland. Currently, if you are referred with an eating disorder, you have to wait up to three months before you can get treatment. Anorexia has the highest mortality rate of any mental illness; in only three months, there is so much scope for your eating disorder to grab hold of you. One of the proven facts about eating disorders is that early intervention is vital for a sustained and quicker recovery. </p>
<p><span class="lead">Since then, you have been invited to co-chair the Scottish Government’s ‘Working Bodies’ group – could you tell us a bit more about that? </span></p>
<p>The Working Bodies group is a fantastic set of clinicians, researchers and charity workers who have been selected to work on creating a healthier body image for children and young people in Scotland. I was absolutely over the moon to be asked to co-chair this group alongside Julie Cameron from The Mental Health Foundation. For me, the group is essential as, in the space of six months, we needed to develop a plan for encouraging people to achieve a healthier body image. This plan will hopefully help a lot of people as body image is something we all deal with. It’s all about encouraging people to appreciate their body for all its lumps and bumps and remembering that it’s yours. It's the only one we've got so we shouldn't feel so pressured to shrink it because some influencer on social media said it looked better that way. We are all uniquely individual, and it’s time we appreciated that we are amazing just as we are.<br /><br /></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Scotland]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/5e6bdcf95c334deab12eaaa474229a77]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[BA (Hons) Drama and Performance]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Katie Reid]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[[]]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[Left]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Katie is a fourth year Drama and Performance student at Queen Margaret University (QMU), Edinburgh, and is set to graduate next summer. Earlier this year, she gave a speech at the Scottish Parliament about tackling eating disorders and promoting body positivity. Since then, Katie has been invited to co-chair the Scottish Government’s ‘Working Bodies’ group, which aims to promote a healthier body image to children and young people in Scotland.</p>
<p><em>Note: This course is now BA/BA (Hons) Performance for 2022/23</em></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Katie is a 4th year Drama and Performance student at Queen Margaret University (QMU) and is set to graduate next summer. Earlier this year, she gave a speech at the Scottish Parliament about tackling eating disorders and promoting body positivity. Since then, Katie has been invited to co-chair the Scottish Government’s ‘Working Bodies’ group, which aims to promote a healthier body image to children and young people in Scotland.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Katie Reid | Student Story | Queen Margaret University, Edinburgh ]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[I chose to study at QMU because, after coming along to the open day, I felt it was an inclusive and friendly campus which put me at ease with moving away from home.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Katie Reid]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[BA (Hons) Drama and Performance]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Katie Reid]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Student"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>