<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5a425f0-2b6a-4f98-850c-3615884a0cb7" Alias="BA (Hons) Business Management (Graduate Apprenticeship) (2025 entry)" Level="5">
  <Info>
    <Parent Key="93d0489b-dfbb-4d2c-96e0-faec3349a02f">2025</Parent>
    <Path>/Home/StudyHere/UndergraduateStudy//BAHonsBusinessManagementGraduateApprenticeship2025Entry</Path>
    <Trashed>false</Trashed>
    <ContentType>undergraduateCourse</ContentType>
    <CreateDate>2024-02-08T10:35:11</CreateDate>
    <NodeName Default="BA (Hons) Business Management (Graduate Apprenticeship) (2025 entry)" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8de98a56-9d9e-4c8f-8798-e4ad3150dbb2">Course</Template>
  </Info>
  <Properties>
    <accreditedBodies>
      <Value><![CDATA[umb://media/7011c8b2efbd426ea95f89542412aa91]]></Value>
    </accreditedBodies>
    <admissionsFAQ>
      <Value><![CDATA[]]></Value>
    </admissionsFAQ>
    <adSpotImage>
      <Value><![CDATA[umb://media/151465ce467a4d948bcebda01bfaf887]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <alert>
      <Value><![CDATA[]]></Value>
    </alert>
    <applicationText>
      <Value><![CDATA[]]></Value>
    </applicationText>
    <applyNow>
      <Value><![CDATA[]]></Value>
    </applyNow>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/71db5f91386d41d1b0c546b28e70df5f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/71db5f91386d41d1b0c546b28e70df5f",
      "image": "umb://media/717aaa87256248fc84ece6dd27382420",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bestSuitedFor>
      <Value><![CDATA[]]></Value>
    </bestSuitedFor>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <careerOpportunities>
      <Value><![CDATA[]]></Value>
    </careerOpportunities>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <courseBlocks>
      <Value><![CDATA[]]></Value>
    </courseBlocks>
    <courseEntryLink1>
      <Value><![CDATA[[
  {
    "name": "2025 entry",
    "udi": "umb://document/a5a425f02b6a4f98850c3615884a0cb7"
  }
]]]></Value>
    </courseEntryLink1>
    <courseEntryLink2>
      <Value><![CDATA[[
  {
    "name": "2024 entry",
    "udi": "umb://document/0b1708ea90524a09a035dd27a1661f30"
  }
]]]></Value>
    </courseEntryLink2>
    <courseTags>
      <Value><![CDATA[umb://document/7452aaa4a7374af9bfaa0e421cf0b584,umb://document/5ea91792969a4662b00a53ee4c63bada]]></Value>
    </courseTags>
    <courseTitle>
      <Value><![CDATA[]]></Value>
    </courseTitle>
    <degreeType>
      <Value><![CDATA[]]></Value>
    </degreeType>
    <delivery>
      <Value><![CDATA[]]></Value>
    </delivery>
    <displayTitle>
      <Value><![CDATA[Business Management (Graduate Apprenticeship) - BA (Hons) ]]></Value>
    </displayTitle>
    <division>
      <Value><![CDATA[]]></Value>
    </division>
    <duration>
      <Value><![CDATA[]]></Value>
    </duration>
    <entryRequirements>
      <Value><![CDATA[]]></Value>
    </entryRequirements>
    <fees>
      <Value><![CDATA[]]></Value>
    </fees>
    <hideApplicationBox>
      <Value><![CDATA[1]]></Value>
    </hideApplicationBox>
    <hideFromCourseSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromCourseSearch>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[Left]]></Value>
    </horizontalAdPlacement>
    <howToApply>
      <Value><![CDATA[]]></Value>
    </howToApply>
    <introduction>
      <Value><![CDATA[<p><strong>QMU has suspended entry into the BA (Hons) Business Management (Graduate Apprenticeship) from September 2024.</strong></p>
<p>QMU remains committed to the principle of the Graduate Apprenticeship programmes and is currently reflecting on our provision to realign the professional focus of our graduate apprenticeship programme, in line with regional workforce need.</p>
<p>QMU offers a range of <em>upskilling</em> and <em>continuous professional development</em> <a href="/study-here/short-courses/">short courses</a> and a broad range of undergraduate and postgraduate programmes, offered both full and part-time, please check out the <a href="/study-here/course-a-z/">programme pages of the QMU website</a> or follow us on social media for information regarding forthcoming open days.</p>
<p>For more information about alternative opportunities for professional development, please <a href="mailto:%20ILO@qmu.ac.uk">contact ILO@qmu.ac.uk</a></p>]]></Value>
    </introduction>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Our BA (Hons) in Business Management Graduate Apprenticeship (GA) allows you to ‘work, earn and learn’ by studying for a degree when continuing in your employment.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[BA (Hons) Business Management (Graduate Apprenticeship) - 2025 entry | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e7ff628d915f3bcd93f689e06d1ca56b"
      },
      {
        "contentUdi": "umb://element/41fbde4fbf1e3ce7a5226bcc6fe27f74"
      },
      {
        "contentUdi": "umb://element/0bbb539e99ae388d9e8e2013036e6a90"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7fa9d7c1-5067-4ed0-8432-6b4230d1c574",
      "udi": "umb://element/e7ff628d915f3bcd93f689e06d1ca56b",
      "image": "umb://media/1a261aef617e42c885966f020e6efea3",
      "title": "Student Story ",
      "subTitle": "Gabriella Pricop",
      "freeText": "\"My top tips for students would be to embrace every opportunity, as they might not come up again. Don’t be afraid of mistakes, as someone who hasn’t made a mistake has probably never tried something new.\"\n\n",
      "event": [],
      "linkText": "Find out more about Gabriella's Story",
      "linkInternal": [],
      "linkExternal": "https://www.qmu.ac.uk/study-here/student-stories/gabriella-pricop-ba-hons-business-management/"
    },
    {
      "contentTypeKey": "31927642-ffae-44cc-8781-4482ad988c3a",
      "udi": "umb://element/41fbde4fbf1e3ce7a5226bcc6fe27f74",
      "event": "umb://document/fe2cab6554194637ac8015bad9e93fa5"
    },
    {
      "contentTypeKey": "9eed20a0-b3f3-47c8-8fae-82f763de3e32",
      "udi": "umb://element/0bbb539e99ae388d9e8e2013036e6a90",
      "title": "",
      "usefuls": [
        {
          "icon": "icon-newspaper-alt color-indigo",
          "name": "Queen Margaret Business School becomes a signatory of the United Nations Principles of Responsible Management Education (PRME)",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/826fe9dbe7804912aa4e651ad5a85397",
          "url": "/news-and-events/news/2024/20240123-business-school-strengthens-its-sustainability-education/"
        }
      ],
      "useDarkTheme": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/ecbdc3eb501f4f9681ccd380dc5f8ac8,umb://document/1f5ca56e403e4356a6a96bed2445042b,umb://document/3f34ee4b169b49d48a8664fd7c9101ca,umb://document/92f1f6eac7844bc7adff282427b0bd82,umb://document/d162798ae3dd4b95ace2fa55dcbc7a0b,umb://document/e068faffc9174f52812b8a90e88081e8,umb://document/b71df537bd694cf4b20ea55248ec209b,umb://document/9daaaca66ae04aa3898d8f785b8c8aa0]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[umb://document/1b1fd7659d464b2796c47578cc599767,umb://document/512d9a6851014deba4973b51445a2335,umb://document/d642254ee853449cbabd2bfe5c4c98e8,umb://document/c528f4881bc6483ca82efa6223640e44,umb://document/22c611bbfdf64dac8852e4192bb3c938,umb://document/8d6c3c6705754477886a789c3bb955c3,umb://document/1620d7d2691f4195832b687d9f4c6394,umb://document/f2d18200c53046cb8dd12128d1588486]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[Other Useful Information]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[Staff Profiles and Student Stories]]></Value>
    </relatedContentTitle>
    <relatedSimilarCourses>
      <Value><![CDATA[umb://document/499995af0b9944f1977bc4940b94f1c3,umb://document/9889b2ce4d084d07ab99af52753fb62c,umb://document/e5f2cb1970c94f02ab75516559bfa7ce,umb://document/67d436af91b64f2e921deaf24583a991,umb://document/97c7dd8c3a1e468c86052907b420a3ab,umb://document/0bfbbd4283fc4ee38a4c63fbec6da08d,umb://document/370d078840314cdd81abf4358d45b2d9]]></Value>
    </relatedSimilarCourses>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <scqfLevel>
      <Value><![CDATA[]]></Value>
    </scqfLevel>
    <shortTitle>
      <Value><![CDATA[BA (Hons) Business Management (Graduate Apprenticeship)]]></Value>
    </shortTitle>
    <startDate>
      <Value><![CDATA[2023-09-01T00:00:00]]></Value>
    </startDate>
    <startDate2>
      <Value><![CDATA[]]></Value>
    </startDate2>
    <startDate3>
      <Value><![CDATA[]]></Value>
    </startDate3>
    <studyAbroad>
      <Value><![CDATA[0]]></Value>
    </studyAbroad>
    <subject>
      <Value><![CDATA[]]></Value>
    </subject>
    <subjectFocus>
      <Value><![CDATA[]]></Value>
    </subjectFocus>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <ucasCode>
      <Value><![CDATA[]]></Value>
    </ucasCode>
    <unistatsCourseId>
      <Value><![CDATA[]]></Value>
    </unistatsCourseId>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
    <year1>
      <Value><![CDATA[2025]]></Value>
    </year1>
    <year2>
      <Value><![CDATA[]]></Value>
    </year2>
  </Properties>
</Content>