<?xml version="1.0" encoding="utf-8"?>
<Content Key="a75bef98-6f11-4962-b222-bced089a5473" Alias="Aonghas Pringle - BA (Hons) Drama" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/AonghasPringleBAHonsDrama</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2024-01-31T15:24:05</CreateDate>
    <NodeName Default="Aonghas Pringle - BA (Hons) Drama" />
    <SortOrder>221</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/792a23b5ee9d49f6b8eb39d32dba3cf2]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4a25db23848343bab243bdfddcf9232d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/4a25db23848343bab243bdfddcf9232d",
      "image": "umb://media/ddcd39b96ebd40b4bb56a3b8f82102f8",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>Why did you choose to study at Queen Margaret University (QMU)?</strong></p>
<p>QMU was one of the few options in Scotland that offered a drama course. I was also fairly familiar with Edinburgh, so I felt more comfortable coming here than any other university.</p>
<p><strong>What interested you about your chosen course?</strong></p>
<p>The opportunities it provides to explore all sorts of different avenues of drama, whether that’s performance, technicalities, directing or dramaturgical aspects (the art or the theory of writing and putting on plays, especially for the theatre). At every corner, you’re given the chance to explore any of these.</p>
<p><strong>What attracted you to study in Edinburgh? </strong></p>
<p>The city itself is just very comfortable. It’s aesthetic and convenient, with plenty of public transport options. It’s perfect for a student.</p>
<p><strong>How did it feel moving to Edinburgh from your hometown in Perth and Kinross?</strong></p>
<p>Weirdly exciting. I’m the youngest of six siblings, so I never really had space of my own. Being able to move out and finally have my own place and room was a new experience and basically, incredible. Also, as we had just about come out of the pandemic when I first moved across, I was very much ready to live somewhere different as we had all been stuck inside for so long.</p>
<p><strong>What do you like the most about QMU? </strong></p>
<?UMBRACO_MACRO macroAlias="Quote" text="I love the facilities at QMU – there are loads of free or cheap helpful resources and activities. There are also lots of great events, especially at Maggie’s, the Students’ Union. There are great opportunities to meet people - you would really have to go out of your way to not meet people.  " source="" sourceExtra="" />
<p><strong>What have you most enjoyed about your course? What has been the highlight?</strong></p>
<p>Genuinely just meeting so many interesting people, from all different walks of life, who are interested in the same things as me. Coming from such a small place, I had few chances to explore and discuss theatre with anyone, but now I have a huge number of lovely peers who I’ve had the opportunity to work with and perform with.</p>
<p>The highlight for me has been meeting and working with award-winning director, producer and lecturer here at QMU, Kate Nelson, and taking part in her end-of-year shows, both in 2022 and 2023 - The Comedy of Errors and The Winter’s Tale.</p>
<p>There are lots of opportunities to perform and work in groups which has been super useful as it has helped me navigate different personalities and network – which will be really beneficial when I enter into working life.</p>
<p><strong>How have your lecturers supported your learning?</strong></p>
<p>Every one of my lecturers has been willing to support my learning in many ways. They’re happy to take time out of their day to sit with you one-on-one, whether that’s to discuss the course, something you’re struggling with, or just to chat about life and how everything is going.</p>
<p>They are all very interested in your success and want to see you do the very best you can. Even if you don’t go to them for help, it’s encouraging to know that everyone wants you to succeed, which has motivated me to continue improving and learning.</p>
<p><strong>What have been some of your challenges with the course and university life? How have you overcome them?</strong></p>
<p>Initially, it was very hard transitioning from the online learning of pandemic-era high school to the in-person learning at university. It was a struggle to attend the 9am lectures at first, but with time and some conditioning of the sleep schedule, I eventually found it became easier.</p>
<p>I also felt slightly intimidated by my fellow peers at first because I quickly noticed how great at drama they all were. Once I realised that rather than being intimidated by them, I could instead learn from collaborating with them, the fear of not being the best basically disappeared.</p>
<p><strong>Do you have any advice for students who might be interested in applying for this course?</strong></p>
<?UMBRACO_MACRO macroAlias="Quote" text="Dive in headfirst and just do it. There’s a hundred things you can’t do, but this is the place where you can discover what you can do. You’ll make mistakes and struggle, but then you’ll do something, and it just works, and you’ll love it. The person who never made a mistake, never made anything." source="" sourceExtra="" />
<p><strong>Are you a member of any clubs or societies at QMU? If so, what was the reason you joined and what do you enjoy most about it?</strong></p>
<p>I’ve been part of the drama society since 1st year to coincide with my course. The people I’ve met through it have really been the best part - each and every one of them is incredible, and as a collective they are a force of creativity. Some of them are already producing their own shows while at Uni and maybe at some point in the future I will end up working with them! I’m also now the Treasurer of the society.</p>
<p>I’m also a part of the QMU Sapphires (cheerleading) and the Badminton Society. I joined them both as something to keep me fit. I’d actually been joking about joining the cheerleaders for a while and then when I went along for their ‘Give it a Go’ session during Welcome Week, I loved it. The sense of community within the cheerleading team is unbelievable, and as the only man on the team, it really helps as it was daunting joining, but I’ve felt so welcome since. I wouldn’t have met some of the amazing and funny people I’m friends with now if I hadn’t joined the Sapphires as our paths may not have crossed. Training with the team is one of the things I look forward to the most each week. We actually have a competition coming up soon in Manchester which I’m really looking forward to as the way each team is scored is based on how well you perform as a team as opposed to outplaying the others. It’s a really friendly sport.</p>
<p>You don’t need to be great at a sport. You are never left out at QMU and never made to feel unequal.</p>
<p><strong>What’s your ‘top tip’ for making the most out of being </strong><strong>a student?</strong></p>
<?UMBRACO_MACRO macroAlias="Quote" text="Do things you’ve never done before. You never know what you’ll discover about yourself. Don’t worry about doing too much either, you’ll have time to figure out that balance later, try things first then find what you really want to do. Pick up old hobbies as well, they can really help when you’re in a new place." source="" sourceExtra="" />
<p><strong>What h</strong><strong>as been the most valuable lesson that you’ve learned at university?</strong> </p>
<p>Things are going to change really fast. Just when you think you’ve settled, something new will come up. Welcome the change, it’s going to offer loads of opportunities for you.</p>
<p><strong>What is your favourite thing about studying in Edinburgh? </strong></p>
<p>The city is so beautiful and full of inspiration at every corner. You can just walk around the city and find something new that fills you with so many creative ideas and thoughts. Even just sitting in one of the many great parks you will see so much that inspires you.</p>
<p><strong>What are your plans after graduation? Tell us about your ambitions and where you see yourself in the future? </strong></p>
<p>I hope one day to be acting in films on the big screen. The big dream is to be a rich and famous actor, but really, I’ll be happy as long as I’m just performing somewhere. It’ll be a long, hard journey to achieve the big dream, but I know the drama course at QMU is preparing me to be the best I can be and I know no matter what, I’ll be acting.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Scotland]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[BA (Hons) Drama]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Aonghas Pringle]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Aonghas Pringle, from Dull in Perth and Kinross, has always been an eccentric, vibrant ball of energy - contrary to the name of his hometown. Describing himself as ‘dramatic,’ it seemed only fitting that avid people-person Aonghas went on to pursue his passion and applied for Queen Margaret University’s specialised <a href="/study-here/undergraduate-study/2024/ba-ba-hons-drama-2024-entry/" title="BA (Hons) Drama">BA (Hons) Drama</a> course which would provide him with unique hands-on experience. Now in his 3rd year, Aonghas has adopted a ‘give it a go’ attitude and has delved into all the opportunities university life has to offer. In this student story, Aonghas tells us how he has made the most of his student experience so far.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Aonghas Pringle shares his experience of studying at Queen Margaret University, Edinburgh.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Aonghas Pringle | QMU Case Study | Queen Margaret University, Edinburgh ]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Aonghas Pringle]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Student"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>