<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7f97e8b-d7d2-411f-a8ff-b23499b4da10" Alias="How to provide references" Level="4">
  <Info>
    <Parent Key="c504d6b1-4ad5-4fc8-bd78-d47219ff0570">How to Apply</Parent>
    <Path>/Home/StudyHere/HowToApply/HowToProvideReferences</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-01-11T15:24:47</CreateDate>
    <NodeName Default="How to provide references" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/fe2f4f1f2bda40cda8d912236df90b3c]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[<p>How to provide references</p>]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6c3feba511c24d11aa7d48f9e789e571"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/6c3feba511c24d11aa7d48f9e789e571",
      "image": "umb://media/06668ba486514519a1df8c253f82e471",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The Admissions Team at QMU is unable to contact your referees on your behalf. Please contact referees and request a reference in a suitable format.</p>
<p>References should be provided on headed paper, signed and dated or sent directly to <a href="mailto:%20admissions@qmu.ac.uk">Admissions</a> from the referee's own professional e-mail address.</p>
<p>If you are providing a reference from a professional address, this must be an academic or company e-mail address. We cannot accept references from Hotmail, Gmail, Yahoo or similar e-mail accounts.</p>
<p>References should be no more than two years old and should refer to the last two to three years. References not in English language should also be provided with a certified translation.</p>
<p>If you have completed study in the last three years, we ask for you to provide an academic reference. Alternatively, we will accept a professional reference.</p>
<p>The reference can include any information, but as an example could cover:<br />- how long and in what capacity the referee has known the applicant<br />- suitability for the course<br />- previous and potential academic or professional performance<br />- ability to communicate, character and personality</p>
<p>Please upload your references to the application form if your referee has given you a copy (this can be attached as an e-mail).</p>
<p>Most of our course require one reference only, but some courses have other requirements. Specific requirements can be found on each course page.</p>
<p>Under certain circumstances, we may have to ask to ask for an additional reference.</p>
<p><strong>UCAS References</strong></p>
<p>The format of the UCAS reference section is changing for applications submitted from September 2023 onwards. The previous free-text approach to references has been replaced with three structured sections. This will help advisers and referees focus on the following areas:</p>
<ul>
<li>A general statement about the school, college or centre, or independent referees are asked to provide an overview of their relationship with the applicant.</li>
<li>Any information about extenuating circumstances which may have impacted the applicant’s education and achievement.</li>
<li>Any other supporting information specific to the applicant and/or the course(s) they’re applying to which the referee feels you should be aware of</li>
</ul>
<p>Please note we require a reference from all applicants.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[How to provide references]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead lead-big">How to provide references for an application</span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[References
Reference
Referee
Application Form
Application]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[References | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/5d90f8a89c784685a4de43e447b7b88b,umb://document/22c611bbfdf64dac8852e4192bb3c938]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[References]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>