<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8dd08f7-3df3-44db-8aa5-b6a329919f4e" Alias="Hasan Saleh - MSc Audiology (Pre-Registration)" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/HasanSalehMScAudiologyPreRegistration</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-05-18T16:06:24</CreateDate>
    <NodeName Default="Hasan Saleh - MSc Audiology (Pre-Registration)" />
    <SortOrder>70</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/6d6f632aab834e259aa81a501da5df11]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4dd881a0904b4b3786b1a2d159174597"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/4dd881a0904b4b3786b1a2d159174597",
      "image": "umb://media/567418c7b00a4be392b3e1a387c1a837",
      "title": "",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p>[Story Published 2017]</p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Hasan is now a PhD student at the National Center of Audiology in Western University in London, Ontario, in Canada.</p>
<p><span class="lead">Why did you choose to study in Edinburgh/Scotland?</span></p>
<p>“The final decision to study in Edinburgh came easily to me. Having done my research into audiology programmes in cities around the UK, I was intrigued by Edinburgh’s history and current cultural influence.</p>
<p>“Having lived in Edinburgh for three years, my opinion of the city has only improved. For culture and history, look no further than the Edinburgh castle (take the tour!) and the Old Town.</p>
<p>“For shopping, a great nightlife, and a nice long walk, the New Town and Princes Street are highly recommended. When the sun’s shining, Princes Street Gardens between the Old Town and New Towns is the place to be. “</p>
<p><span class="lead">Why did you choose to study MSc Audiology (Pre-Registration) at QMU?</span></p>
<p>“When I was completing my BSc (Hons) Biology in Canada, I wasn’t quite sure what I wanted my next step to be, but I knew that solitary laboratory work was not for me and more personable fields suited me more.</p>
<p>“After some volunteer work with children with cochlear implants in the Middle East, I decided that audiology was the right path for me as it has a balance of science and patient care.</p>
<p>“QMU appealed to me due to the programme’s blend of theory and practical application, specifically the inclusion of clinical placement as part of the course. My hope was that this would give me proficiency in both the clinical and academic paths of audiology, as I was unsure of what exactly I wanted to do after finishing.”</p>
<p><span class="lead">How do you think the course has equipped you with the knowledge and skills to progress your career?</span></p>
<p>“I can honestly say that I’m glad I decided to come to QMU! The programme is a challenging one, with a steep learning curve (especially on placement) and a significant amount of assessments that will require critical thinking, along with adequate preparation and knowledge.</p>
<p>“The theoretical base you acquire on campus is quite solid, and I still make use of some of the things I learned to this day. It also sets you up perfectly for the clinical placements, where you will be given excellent hands-on training in terms of audiological procedures and the application of theory.</p>
<p>“The programme is extremely effective in training you from having no previous background in the field. You quickly build your theoretical knowledge, as well as your proficiency in practice and patient care. That’s why it provides the tools to follow whichever career path you wish after graduation.</p>
<p>“I personally chose research because I enjoyed doing my thesis and upon completion of the programme at QMU, I searched for supervisors in research fields I found interesting. My QMU experience meant that I was well-equipped for the interviews necessary to be taken on as a PhD student.”</p>
<p><span class="lead">Did you feel you got the support you needed during your course?</span></p>
<p>“I feel that a description of the programme would not be complete without mentioning the teaching staff. The programme would not be nearly as effective if it wasn’t for the team. Not only did we all benefit from their teaching ability, but their readiness to guide and support us through any difficulties we faced is truly second-to-none.”</p>
<p><span class="lead">What are your top tips for future students considering this course?</span></p>
<p>“I know this is a cliché but if you’re willing to put in the work required, it is manageable.</p>
<p>“Don’t leave assignments to the last minute, I did it a few times and I’d definitely not recommend it!”</p>
<p><span class="lead">What have you been doing since leaving QMU?</span></p>
<p>“All in all, I honestly recommend QMU to anyone I meet that wants to study audiology. By the end of the programme, you will be a very capable clinical audiologist. Also, if you want to go into research afterwards like I did, you’ve got a great theoretical base to build upon.</p>
<p>“I’m currently a PhD student at the National Center of Audiology, based at Western University in London, Canada (The developers of the Desired Sensation Level prescription for hearing aids!).”</p>
<p><span class="lead">How do you hope to develop your career in the future?</span></p>
<p>“My hope is to complete my PhD and continue with research and academia. In time, I to become a university lecturer. I also intend to achieve my professional audiology certification in Ontario during my time here, which will allow me to practice clinically.”</p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[umb://media/ebb60da750284baa8d5aded6ff31c8d0]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Canada]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/b617c7c71f964a1dbb3ad1ee864af44b]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[MSc Audiology (Pre-Registration) ]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Hasan Saleh]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[[]]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Although a Canadian by nationality, Hasan Saleh, 25<strong>,</strong> grew up in the small town of Joun in Lebanon. He graduated with an MSc Audiology (Pre-Registration) from QMU in 2017.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Although a Canadian by nationalty, Hasan Saleh, 25, grew up in the small town of Joun in Lebanon. He graduated with an MSc Audiology (Pre-Registration) from QMU in 2017.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Hasan Saleh | Graduate Story | Queen Margaret University ]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[QMU appealed to me due to the programme’s blend of theory and practical application, specifically the inclusion of clinical placement as part of the course.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Hasan Saleh]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Hasan Saleh]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Graduate"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>