<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8e64a61-65b9-4bf3-a1bb-3997e95815ba" Alias="BIZ - 3in1 Theatre" Level="3">
  <Info>
    <Parent Key="2fb1d2d3-9848-4b68-ba52-af2ced358220">Services for Business and Industry</Parent>
    <Path>/Home/ServicesForBusinessAndIndustry/BIZ3in1Theatre</Path>
    <Trashed>false</Trashed>
    <ContentType>caseStudy</ContentType>
    <CreateDate>2021-02-03T15:05:42</CreateDate>
    <NodeName Default="BIZ - 3in1 Theatre" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="442d9834-4ff8-4eff-a6dd-887657d8857b">CaseStudy</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/c970e6f1f0694c34b5d641231cd55cd2]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0cf8242824894147955b81b5106237a1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/0cf8242824894147955b81b5106237a1",
      "image": "umb://media/10db7e24660144b2a7a2a22691bd7c6e",
      "title": "3in1 Theatre",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>3in1 Theatre Company write, direct and produce theatre for audiences, communities, organisations and individuals. They are a one stop production company that will take your idea for a show and transfer it 'from page to stage'</p>
<p>One of 3in1 Theatre's most popular performances is called 'Last Stop Dalkeith', where 24 Primary 6 pupils performed for 3 nights to an audience of over 120 people to celebrate the opening of the re-developed Dalkeith Corn Exchange.</p>
<p>To read more about 3in1 Theatre and their productions you can visit their <a href="https://3in1theatre.com/" title="3in1 Theatre">website</a>.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/27dec22fe0f0491cb5ab233c73520067]]></Value>
    </contactPicker>
    <displayTitle>
      <Value><![CDATA[3in1 Theatre]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Matt Dunn graduated from Queen Margaret University with a BA (Hons) in Drama and Performance, and went on to create 3in1 Theatre Company. Matt also facilitates and creates drama workshops freelance and as a sub-contractor.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Matt Dunn graduated from Queen Margaret University with a BA (Hons) in Drama and Performance, and went on to create 3in1 Theatre Company. Matt also facilitates and creates drama workshops freelance and as a sub-contractor.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[3in1 Theatre | Queen Margaret University]]></Value>
    </metaTitle>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[3in1 Theatre]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Case study"
]]]></Value>
    </type>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>