<?xml version="1.0" encoding="utf-8"?>
<Content Key="a974c5f2-ba3e-4d3a-bc80-78f94a786c32" Alias="Megan Jack - PALS" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/MeganJackPALS</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-11-05T12:49:53</CreateDate>
    <NodeName Default="Megan Jack - PALS" />
    <SortOrder>132</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/52fc1870f6594cc1acfb5c60ab4d653e]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/12485345fd9c439495fbf50b235620ce"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/12485345fd9c439495fbf50b235620ce",
      "image": "umb://media/e49ff36aa072487fba888e69aade4e15",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[PALS]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Megan Jack]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Since my first year at university, being a PALS leader was certainly something I wanted to do. However, I never felt academically 'smart' enough, despite being contacted by my programme leader on several occasions. Remote working acted as my security blanket, and I felt less pressure putting myself forward for leading PALS sessions in Semester 2 of my third year.</p>
<p>At first, I was apprehensive, as becoming a PALS leader was out of my comfort zone. However, after the training session, my outlook changed considerably. Based on my experience attending PALS sessions, I had assumed that to be a PALS leader, I had to be an expert on the content in a formal environment. After meeting with the PALS coordinators, I realised that PALS sessions were designed to be much more valuable than I had considered. One of the main deliverables from the training session, which influenced my behaviour as a leader, was that being a PALS leader involved creating a friendly, informal environment where the discussion of ideas and questions about your own experiences could be shared. It was also clear that being a PALS leader also meant being part of a supportive community, which also eased any feelings of pressure that I had.</p>
<p>Undoubtedly, being a PALS leader has increased my self-confidence and communication skills. In contrast to Semester 1 of remote working, I now do not hesitate to turn on my mic and camera in class, and I participate more in discussions. However, the experience also revealed that I have a strong belief that to do something well, it has to be done the first time perfectly. Anything else, I viewed, as a failure. I am a perfectionist, but I had not realised my perfectionism's problematic nature until becoming a PALS leader. Although I do not regard having high expectations for myself as problematic, in future, I plan to make a conscious effort not to be overly critical and recognise when I have set impossible standards for myself.</p>
<p>I am looking forward to my second year as a PALS leader, further developing my listening, planning, creative problem-solving skills and overall personal development.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Throughout my first year in University, when everything was confusing and terrifying – specially as an international student -, PALS was something that really guided me and gave a basis of what I was meant to be doing and how I was meant to be doing it.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Megan Jack | Student Stories | Queen Margaret University ]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Megan Jack]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Megan Jack]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Student"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>