<?xml version="1.0" encoding="utf-8"?>
<Content Key="aaaf9cac-b93a-4d45-9222-37be2ec059a7" Alias="Student Story - Lucy Whitehall - OT Grad and PHD Student" Level="3">
  <Info>
    <Parent Key="d18bb03a-fac8-40f6-80a9-fff6921ad1d2">Quotes</Parent>
    <Path>/Settings/Quotes/StudentStoryLucyWhitehallOTGradAndPHDStudent</Path>
    <Trashed>false</Trashed>
    <ContentType>quote</ContentType>
    <CreateDate>2021-10-22T09:52:12</CreateDate>
    <NodeName Default="Student Story - Lucy Whitehall - OT Grad and PHD Student" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[umb://media/a692a38f5b1d4d52af9148d7993430b4]]></Value>
    </image>
    <quoteText>
      <Value><![CDATA[“Lecturers knew who each of us were and we were all continually supported throughout our studies.]]></Value>
    </quoteText>
    <source>
      <Value><![CDATA[Lucy Whitehall]]></Value>
    </source>
    <sourceExtra>
      <Value><![CDATA[Occupational Therapy graduate and PhD student]]></Value>
    </sourceExtra>
  </Properties>
</Content>