<?xml version="1.0" encoding="utf-8"?>
<Content Key="aae19b60-3b21-4079-8b76-08c1060ff11c" Alias="Nicole Manley" Level="4">
  <Info>
    <Parent Key="644845e5-0db0-4a49-9230-5d12ef68dcb0">Blogs</Parent>
    <Path>/Home/CampusLife/Blogs/NicoleManley</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2023-02-08T10:14:50</CreateDate>
    <NodeName Default="Nicole Manley" />
    <SortOrder>86</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="352afafb-7425-4e97-b145-ab96eebf5bdc">BlogBio</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/d2f6ed1611054d87bb437b373a975cae]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ce24d9b27bac435ab8e59c5cb1a2d2d2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/ce24d9b27bac435ab8e59c5cb1a2d2d2",
      "image": "umb://media/0b16895f75b741c8a8225eec8835cbea",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p>Nicole Manley is in her final year of a Creative Practice PhD. During her time at QMU, she has worked hard to develop her creative practice as an environmental artist and wants to follow that passion following her graduation.</p>]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Nicole Manley]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Nicole Manley is in her final year of a Creative Practice PhD. During her time at QMU, she has worked hard to develop her creative practice as an environmental artist and wants to follow that passion following her graduation.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU| Queen Margaret University| Blogs]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Nicole Manley]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>