<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac3378c2-2973-4091-aa2a-e2f64a46a2a1" Alias="QMU Guidelines for a Research Protocol" Level="5">
  <Info>
    <Parent Key="90022530-4e11-4621-884c-0be2943df09e">Forms and Guidance</Parent>
    <Path>/Home/AboutTheUniversity/Quality/FormsAndGuidance/QMUGuidelinesForAResearchProtocol</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-10-17T11:08:16</CreateDate>
    <NodeName Default="QMU Guidelines for a Research Protocol" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead">Content Guide for Protocol</span></p>
<p><strong>Title of the project</strong></p>
<ul>
<li>The title should be concise while clearly identifying the focus of the study.</li>
<li>Should not be a question.</li>
<li>Should be informative, brief and to the point.</li>
<li>Should true and accurate reflection of the research.</li>
</ul>
<p><strong>Abstract</strong><strong>/Summary of research</strong></p>
<ul>
<li>Should provide an overview of the proposed research proposal (250-300 words).</li>
</ul>
<p><strong>Background/Rationale of the project</strong></p>
<ul>
<li>It is important to justify the need for the study, as “research which duplicates other work unnecessarily or which is not of sufficient quality to contribute something useful to existing knowledge is in itself unethical.” (Department of Health: Research Governance Framework, 2001).</li>
<li>Therefore, you should provide a short introduction to the topic area and set the scene for the proposed research (that is, provide the background information).</li>
<li>You should set out the rationale for the research and explain why it is important. This includes a critical appraisal of previous research. It is important to demonstrate that you understand the field you are proposing to research and that you have thoroughly explored the current literature. This section will demonstrate that your work is based on previous research findings and builds on it. It shows that the work proposed is of significance and will have an impact on the relevant topic area.</li>
<li>You should also justify the study methodology.</li>
<li>The minimum expected word count here is 500 words.</li>
</ul>
<p><strong>Literature search strategy</strong><strong> (optional)</strong></p>
<ul>
<li>Should include electronic databases searched, including key words.</li>
<li>Should include non-electronic searched sources.</li>
<li>Period of time that the electronic and non-electronic sources were searched should also be included.</li>
</ul>
<p><strong>Aims/objectives and hypotheses</strong></p>
<ul>
<li>In this section the research aims, objectives and hypotheses of the project should be stated. Be precise and specific. Make it clear what you hope to achieve by conducting the research.</li>
</ul>
<p><strong>Methodology</strong></p>
<p style="padding-left: 40px;"><strong><em>Study Design</em></strong></p>
<ul>
<li style="list-style-type: none;">
<ul>
<li>The research integrity of the study and the credibility of the study data depend substantially on the study design and methodology.</li>
<li>The same study can be described in several ways, and as complete a description of the study as possible should be provided.</li>
<li>For example, a study may be described as being a basic science research, epidemiologic or social science research, it may also be described as observational or interventional; if observational, it may be either descriptive or analytic, if analytic it could either be cross-sectional or longitudinal etc. If experimental, it may be described as a controlled or a non controlled study.</li>
<li>For qualitative research, the philosophical and methodological approaches to the research may be described. For example, a study may be based on a social constructivist (philosophical) approach and using focus groups (methodological approach) for data collection.</li>
</ul>
</li>
</ul>
<p style="padding-left: 40px;"><strong><em>Research population/sampling frame</em></strong></p>
<ul>
<li style="list-style-type: none;">
<ul>
<li>Describe the research population or the sampling frame, and who can take part (e.g. inclusion and exclusion criteria, withdrawal criteria etc.), and the expected duration of the study.</li>
<li>State the number of participants you plan to recruit.</li>
<li>Describe in detail here the process of participant recruitment: from participant identification to obtaining participant consent.</li>
<li>Remember to describe the processes for explaining the research and obtaining participant consent.</li>
<li>If participant consent is not obtained, please justify why it is not required.</li>
</ul>
</li>
</ul>
<p style="padding-left: 40px;"><strong><em>Study procedures</em></strong></p>
<ul>
<li style="list-style-type: none;">
<ul>
<li>This section is the most important part of the protocol. It should include detailed information on procedures to be used, the interventions to be made, measurements to be taken, observations to be made, laboratory investigations to be done etc.</li>
<li>If multiple sites are engaged in a specified protocol, methodology should be standardized and clearly defined.</li>
<li>Interventions (if used) should be described in detail, including a description of the drug/device/vaccine/treatment that is being tested.</li>
<li>Within the social sciences, interventions may also be described (for example, providing training or information to groups of individuals</li>
<li>Procedures could be biomedical (collection of blood or sputum samples to develop a diagnostic test), or within social sciences (doing a questionnaire survey, carrying out a focus group discussion as part of formative research, observation of the participant's environment, etc.).</li>
<li>Standardized and/or documented procedures/techniques should be described and bibliographic references provided.</li>
<li>Instruments which are used to collect information (questionnaires, focus group discussion guides, observation recording form, case report forms etc.) must also be described.</li>
<li>In the case of a randomized controlled trial, additional information on the process of randomization and blinding, description of stopping rules for individuals, for part of the study or entire study, the procedures and conditions for breaking the codes etc. should also be described.</li>
<li>A graphic outline of the study design and procedures using a flow diagram must be provided. This should include the timing of procedures or assessments.</li>
</ul>
</li>
</ul>
<p style="padding-left: 40px;"><strong><em>Data management</em></strong></p>
<ul>
<li style="list-style-type: none;">
<ul>
<li>The protocol should provide information on how the data will be managed and curated</li>
<li>This includes data capture, data handling and coding for computer analysis, monitoring and verification, integrity, confidentiality, retention/storage</li>
<li>For larger projects with data management plans, details on data sharing and publication should also be provided.</li>
</ul>
</li>
</ul>
<p style="padding-left: 40px;"><strong><em>Analysis</em></strong></p>
<ul>
<li style="list-style-type: none;">
<ul>
<li>For quantitative approaches, the statistical methods proposed to be used for the analysis of data should be clearly outlined, including reasons for the sample size selected (based on a priori sample size calculation, if appropriate), power of the study, level of significance to be used, procedures for accounting for any participant attrition and drop out, missing or spurious data etc.</li>
<li>For projects involving qualitative approaches, describe how aspects of study rigour and trustworthiness (credibility, dependability, confirmability and transferability) will be achieved (if appropriate). Specify in sufficient detail how data saturation will be achieved (if appropriate) and how the data will be approached and analysed.</li>
</ul>
</li>
</ul>
<p><strong>Ethical considerations</strong></p>
<p>The protocol should have a description of ethical considerations relating to the study. This should not be limited to providing information on how or from whom the ethics approval will be taken, but this section should document the issues that are likely to raise ethical concerns (for example, ethical implications arising from the chosen study design).</p>
<p><span class="lead">Resources and costs</span></p>
<p>[form]</p>
<p><strong>Project time plan</strong></p>
<ul>
<li>This section will give an indication of how long each stage of the project will take and could be presented in the form of a chart, table, timeline or Gantt chart.</li>
</ul>
<p>[Gantt chart]</p>
<p><strong>Dissemination</strong></p>
<ul>
<li>The protocol should specify not only dissemination of results in the scientific media, but also to the service users, stakeholders and the participants, and consider dissemination to the policy makers where relevant.</li>
<li>Publication plans and policy should be clearly stated.</li>
</ul>
<p><strong>Appendices</strong></p>
<ul>
<li>Data collection form(s) and questionnaires</li>
<li>Any other relevant documentation</li>
<li>Participant information sheet and consent form
<ul>
<li>QMU example of information sheet:
<ul>
<li>[broken link ]</li>
</ul>
</li>
<li>QMU example of consent form:
<ul>
<li>[broken link]</li>
</ul>
</li>
</ul>
</li>
</ul>
<p><strong>Protocol version number</strong></p>
<ul>
<li>Remember to provide a protocol or proposal version number in the following format:</li>
</ul>
<p style="padding-left: 40px;"><em>“short_title_yyyymmdd_version_number”</em></p>
<p><em> </em><em>For example: A project named ‘Icarus’ with a second version of the protocol completed on 14<sup>th</sup> Feb 2015 will be named: </em></p>
<p style="padding-left: 40px;"><em> </em><em>“Icarus_20150214_version2.0”</em></p>
<ul>
<li>This allows ease of version control and provides a paper trail of amendments adopted later for the study.</li>
</ul>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU Guidelines for a Research Protocol ]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>The research protocol forms an essential part of a research project. It is a full description of the research study and will act as a ‘manual’ for members of the research team to ensure adherence to the methods outlined. As the study gets underway, it can then be used to monitor the study’s progress and evaluate its outcomes. It can also be used to audit the research by the University or external agencies.</p>
<p>No two research protocols will be the same, but they will have a similar structure.</p>
<p>The protocol should go into as much detail about the research project as possible, to enable the research team and review bodies to fully understand your study.</p>
<p>The protocol should then be submitted together with your research ethics application forms and associated documentation to the QMU Research Ethics Panel. Any enquiries, please email the Secretary of the QMU Research Ethics Panel.. Any enquiries, please email the Secretary of the <a href="mailto:ResearchEthics@qmu.ac.uk" title="QMU Research Ethics Panel">QMU Research Ethics Panel </a></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Guidelines for a Research Protocol-Research Ethics Application]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>