<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae69b056-d389-4698-b9be-9ec6019b1225" Alias="Maggie's Bar and Café" Level="4">
  <Info>
    <Parent Key="d26c319e-85f9-47df-ac50-01517e3b2677">Eat and Drink on Campus</Parent>
    <Path>/Home/CampusLife/EatAndDrinkOnCampus/MaggiesBarAndCafe</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-01-11T10:42:57</CreateDate>
    <NodeName Default="Maggie's Bar and Café" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/19a0a08822994174a1c9d1ee8a89c7fc]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8bfb5d29bca14fd68fdb18547753c971"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/8bfb5d29bca14fd68fdb18547753c971",
      "image": "umb://media/24a4d9971d4a42aba21460b87acf15c6",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>We proudly welcome students, staff, general public and well behaved dogs!<br /><br /><span>We have a dedicated, professional and happy team in Maggie's (majority of whom are QMU students), who are always on hand to ensure you have the best possible experience. We are always listening to student feedback and our menus are planned and designed around your requests.  All our food is cooked fresh to order using locally sourced products and we cater for a wide variety of dietary requirements.  </span> </p>
<p><span>We are known for our cocktails and serve a mean barista made coffee!</span> </p>
<p><strong><span>Opening hours (Semester 2 - from Monday 15th January 2024):</span></strong> </p>
<ul>
<li><span>Monday to Friday   8.30am - 10.30pm (8pm for food)</span> </li>
<li><span>Saturday               9am - 10.30pm (8pm for food)</span> </li>
<li><span>Sunday                 9.30am - 9.30pm (6pm for food)</span> </li>
</ul>
<p><a href="/{localLink:umb://media/e12f1dc163d145b9843c39a9334ba5d6}" title="Hot Drinks Menu 2024"><span class="blue-btn">Maggie's Bar &amp; Cafe Hot Drinks Menu</span></a> (PDF)</p>
<p><a href="/{localLink:umb://media/be12087e6f464221a5faeff278404a15}" title="Maggie's Menu 2024"><span class="blue-btn">Maggie's Bar &amp; Cafe Food Menu</span></a> (PDF)</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Maggie's Bar and Café ]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Overlooking University Square, Maggie's Bar &amp; Café is the social hub of your Students’ Union.  </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Overlooking University Square, Maggie's Bar & Café is the social hub of your Students’ Union.  ]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Maggie's Bar and Café | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Maggie's Bar and Café ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>