<?xml version="1.0" encoding="utf-8"?>
<Content Key="af0ee16c-22b7-4adf-9a24-16a9dd11ccd1" Alias="Queen Margaret University - Student Guide (1)" Level="5">
  <Info>
    <Parent Key="8dae315b-e370-4054-b9e7-fcac2ef357a2">IT Services</Parent>
    <Path>/Home/DocumentMigrationAugust2022/Paul/ITServices/QueenMargaretUniversityStudentGuide1</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-08-23T09:51:51</CreateDate>
    <NodeName Default="Queen Margaret University - Student Guide (1)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<div class="page">
<div class="layoutArea">
<div class="column">
<p>We recommend that before uploading your Draft file you check that the file is saved as .doc .docx or .pdf - Files must also be less than 40MB in size. You upload file must also contain more than 20 words of text to be accepted.</p>
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>1. Save your assignment as a file in one of the following formats.doc,docx or.pdf</p>
<p>2. When saving the file ensure you name it with only your StudentID number and module code e.g. 0123456-N1234.doc</p>
<p>3. Login to the Hub at <a href="https://hub.qmu.ac.uk/" title="Hub Access">Hub Access</a></p>
<p>4. Select the module from your ‘MyCourses’list</p>
<p>5. Ordinarily you should find a Turnitin link in the Plagiarism and Referencing area of your module hub area. NOTE: If there is no link in the Plagiarism and Referencing area, please contact : <a href="mailto:schooloffice@qmu.ac.uk">School Office</a></p>
<p>[ Image of Plagiarism and Referencing area]</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>6. Select View/Complete located under the Similarity Checker Tool</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>7. To submit your draft file for checking select the blue Submit button.</p>
<p>[ image of submit button]</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><strong>NOTE:</strong> If you have submitted a previous draft to this tool the blue button maybe labelled Resubmit. In the instance of resubmitting, a draft the new originality report will take up to 24 hours to generate. Only 3 drafts can be submitted in a 24 hour period.</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>8. You will find that the name boxes are automatically populated.As this is the Plagiarism Checking tool not your final submission drop-box in Submission title name your upload <strong>DRAFT</strong> followed by your version number e.g. <strong>DRAFTV3</strong></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>9. In order to attach your Draft file there are 3 options to add, click the button applicable to you.</p>
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>10. Once you have selected your file click the blue Upload button</p>
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>11. A loading screen will appear while the file uploads</p>
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>12. Once uploaded a confirmation screen will appear</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>13. You <strong>MUST</strong> select the blue <strong>Confirm</strong> button to complete your submission</p>
<p>[image of submitted file]</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Once you confirm your submission a digital receipt will appear</p>
<p>[image of submitted file]</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Until the originality report is generated, the Similarity column will state Processing. The time for the processing to complete may vary depending on the size of file, Turnitin server demand and if it was a resubmission up to 24 hours.</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>While you wait, select the browser refresh button at the top of the screen. When the report has generated a % will appear under the Similarity column.</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>To access your similarity report, click on the percentage result. This will open up your draft document with the report.</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Go to the Turnitin Help pages for a guide on Interpreting the Similarity Report</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Student Guide: Using the Turnitin Similarity Checker Tool]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead">Using the Turnitin Similarity Checker Tool</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>This guide is for helping you with checking referencing of a draft file for assessment, it does not relate to a final submission. It is also strongly advised that you plan in advance, time for checking your draft with Turnitin as described below as each upload may take up to 24 hours for a new originality report to generate.</p>
<p>The similarity checker tool checks your work against our database, and if there are instances where writing is similar to, or matches against, one of our sources, we will flag this for you to review. It is perfectly natural for an assignment to match against some of our database. If you have used quotes and referenced correctly, there will be instances where we will find a match. You can use this as an investigative tool, in order to determine if the match is or is not acceptable.</p>
</div>
</div>
</div>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Using the Turnitin Similarity Checker Tool]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>