<?xml version="1.0" encoding="utf-8"?>
<Content Key="af4c8739-c331-4212-8e7c-5b23d4162fba" Alias="QMU Christmas Quote 2" Level="4">
  <Info>
    <Parent Key="9116260e-d97a-4010-9eed-d9b8a6d67958">Christmas Card 2022 Wall of Thankfullness Quotes</Parent>
    <Path>/Settings/Quotes/ChristmasCard2022WallOfThankfullnessQuotes/QMUChristmasQuote2</Path>
    <Trashed>false</Trashed>
    <ContentType>quote</ContentType>
    <CreateDate>2022-12-08T10:00:54</CreateDate>
    <NodeName Default="QMU Christmas Quote 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[umb://media/432ec98140ec42de9f5128ec5010d1fc]]></Value>
    </image>
    <quoteText>
      <Value><![CDATA[]]></Value>
    </quoteText>
    <source>
      <Value><![CDATA[]]></Value>
    </source>
    <sourceExtra>
      <Value><![CDATA[]]></Value>
    </sourceExtra>
  </Properties>
</Content>