<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3b3f76e-79a0-4de2-a514-31b0ed838f4c" Alias="Summer Accommodation" Level="3">
  <Info>
    <Parent Key="96928286-863f-40d3-8cf8-c29dfafd8763">QMU and the Community</Parent>
    <Path>/Home/QMUAndTheCommunity/SummerAccommodation</Path>
    <Trashed>false</Trashed>
    <ContentType>generalLandingPage</ContentType>
    <CreateDate>2021-02-03T14:20:14</CreateDate>
    <NodeName Default="Summer Accommodation" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2d105c-dfa8-42d8-8bd5-cf850a36952d">GeneralLandingPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/5b0af80219e84749a4e8fe71a140dc80]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1fd43bf1a68846ed9afbe85f54935a19"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/1fd43bf1a68846ed9afbe85f54935a19",
      "image": "umb://media/598db9ad2db5497fadd72ad84e09f430",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>If you’re looking for great value summer accommodation in Edinburgh with convenient links to the city centre, look no further than Queen Margaret University Student Residences!</p>
<p>We offer affordable 2* accommodation at our campus in Musselburgh for groups, families, solo travellers or couples.</p>
<p>Bookings for<a href="/{localLink:umb://document/fb8a4a917b1a4f80ace3b6a7a74350a0}" title="Self-Catering Accommodation"> self-catered apartments</a>, with fully equipped kitchens can be made for a 7-day period.</p>
<p>Our campus offers a range of facilities including free car parking, food outlets, sports facilities and a self-service laundry.</p>
<p> </p>]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[umb://document/60b320b827f2486fb946e430150c5b58]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Summer Accommodation]]></Value>
    </displayTitle>
    <focusPanel>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2f70d94cbc9d45309ea82a88fac41352"
      },
      {
        "contentUdi": "umb://element/0a59b2e82ff84198b954fec96b162e15"
      },
      {
        "contentUdi": "umb://element/39276d988a0a4c3aaac621ca3de32c34"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/2f70d94cbc9d45309ea82a88fac41352",
      "title": "Self-Catering",
      "content": "",
      "image": "umb://media/1ec4ca025ce34726be68eff9dadcdbc2",
      "link": "[{\"name\":\"Self-Catering Accommodation\",\"udi\":\"umb://document/fb8a4a917b1a4f80ace3b6a7a74350a0\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/0a59b2e82ff84198b954fec96b162e15",
      "title": "Facilities on Campus",
      "content": "",
      "image": "umb://media/d406cfa8aec545a68e2c8aae1e85d815",
      "link": "[{\"name\":\"Facilities on Campus\",\"udi\":\"umb://document/3541ec9530f24acd91e6646f7aa0cc74\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/39276d988a0a4c3aaac621ca3de32c34",
      "title": "Location and getting here",
      "content": "",
      "image": "umb://media/b87fbae2858f4c21b6e45da808d2ea04",
      "link": "[{\"name\":\"Location and Getting Here for Summer Accommodation\",\"udi\":\"umb://document/a8c45bcf0ec24a7fb0b1bab26050af00\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </focusPanel>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[If you’re looking for great value summer accommodation in Edinburgh with convenient links to the city centre, look no further than Queen Margaret University Student Residences!]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Summer Accommodation | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a798c656584b3a71b697191daadfb7a2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9eed20a0-b3f3-47c8-8fae-82f763de3e32",
      "udi": "umb://element/a798c656584b3a71b697191daadfb7a2",
      "title": "",
      "usefuls": [
        {
          "icon": "icon-link",
          "name": "Visit East Lothian",
          "published": true,
          "queryString": null,
          "target": "_blank",
          "trashed": false,
          "udi": null,
          "url": "http://www.visiteastlothian.org/home.asp"
        },
        {
          "icon": "icon-link",
          "name": "VisitScotland",
          "published": true,
          "queryString": null,
          "target": "_blank",
          "trashed": false,
          "udi": null,
          "url": "http://www.visitscotland.com"
        },
        {
          "icon": "icon-link",
          "name": "Edinburgh Fringe",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": null,
          "url": "https://www.edfringe.com/"
        }
      ],
      "useDarkTheme": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Summer Accommodation]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>