<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3c522a3-56db-459d-9096-feae4dc34d89" Alias="Evelyn Fong - BSc (Hons) Occupational Therapy" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/EvelynFongBScHonsOccupationalTherapy</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-05-18T15:34:49</CreateDate>
    <NodeName Default="Evelyn Fong - BSc (Hons) Occupational Therapy" />
    <SortOrder>63</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/5a682e0f06f64571a3a2a1c4c64bbd08]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bce89911fdea4b469897155be5db30e3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/bce89911fdea4b469897155be5db30e3",
      "image": "umb://media/f0914a8cc0404fbebcf303ecddea7d82",
      "title": "",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p>[Published March 2019] </p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead-big">About you</span></p>
<p><span class="lead">Tell us a little about yourself such as your hobbies/interests that are related or not related to your course of study.</span></p>
<p>I am a 24-year-old Singaporean who just about loves anything to do with coffee and books! Blogging is something I enjoy too, and I love penning down thoughts and experiences on my blog or social media account. In my free time, I like to bake and do a bit of running too!</p>
<p><span class="lead">Why did you choose to study at QMU and what attracted you to the course?</span></p>
<p>Before coming to QMU, I was working as an Occupational Therapist in a community geriatrics setting in Singapore. After a year of practice, I decided to continue my education in Occupational Therapy to refine my understanding of client-centred care and improve my critical thinking and research skills.</p>
<p>Several universities in the UK offered a direct entry route into the fourth year of their programme, as I had a diploma certificate in Occupational Therapy from Singapore.</p>
<p>The BSc (Hons) Occupational Therapy programme at QMU was one of several university programmes that offered a direct entry into fourth year. Among the other programmes that offered this direct entry programme, QMU’s course stood out to me as a well-designed programme that could facilitate my learning of research skills under a team of well-respected academic staff. Specifically, I was drawn by the module that provided opportunities to develop projects which would enable me to learn more about Occupational Therapy practice in Scotland as well as have the opportunity to refine my research skills.</p>
<p>In addition, previous QMU students who are in Singapore shared many positive experiences of the learning experience in QMU and in Scotland - both the academic aspect and the fun aspect! So I was keen to experience a life in Scotland and learn from well-respected academic staff in this field.</p>
<p><span class="lead">If you used an agent can you explain how helpful they were to you and if you would recommend their services to other prospective students?</span></p>
<p>I sought advice from an education agency- AUG Singapore. They were helpful in my application to QMU, as well as to guide me through the steps of obtaining a visa. In addition, they provided a pre-entry to UK talk that was helpful for me to identify key documents to bring when travelling to QMU. There were also tips provided to navigate around the UK for the first few days.</p>
<p><span class="lead">Why did you choose to study in Edinburgh?</span></p>
<p>I chose to study in Edinburgh because it was said to be a safe city where many international students continue their education at. I was also drawn to this charming city that is steeped in rich history!</p>
<p><span class="lead-big">The Course</span></p>
<p><span class="lead"> What have you most enjoyed about your course? What has been your highlight?</span></p>
<p>A highlight has been a Level Four Occupational Therapy bonding day where I had the chance to learn a new sport - rounders! It was a really fun opportunity to get to know our lecturers and course-mates better.</p>
<p><span class="lead">Has there been a particular course activity you found especially interesting?</span></p>
<p>In general, I really enjoy the way each module is delivered, as most of our modules provide us with the chance to select a topic or contemporary issue of interest and apply critical thinking skills to appraise evidence and theoretical underpinnings of key issues. I find that this mode of teaching and delivery makes the entire process of learning a lot more engaging and rewarding as I find myself genuinely interesting in my topic of interest.</p>
<p><span class="lead">How have your lecturers supported your learning?</span></p>
<p>Our lecturers have been very open to meeting with students to answer queries and often put up key resources to support our learning on the hub. Furthermore, our lecturers are very student-centred and often seek class input in identifying additional lessons or talks that we may find helpful in our assignments or in our professional education.</p>
<p>In addition, my dissertation supervisor has been very supportive throughout the dissertation process. From providing academic advice, to cheering us on, she has been a great supervisor to learn from. My Personal Academic Tutor (PAT) has also been very caring and organises sessions to check in us, reminding us that we can seek advice from her should we face any difficulty at school.  </p>
<p><span class="lead">What have been some of your challenges with the course and university life? How have you overcome them?</span></p>
<p>Time management has been a challenge as I learnt to manage my time between assignments, household chores, participating in flat gatherings and reconnecting with loved ones from afar. I learnt to overcome time management difficulties by spreading them out according to my energy level.  In general, I set out to complete a set of routine tasks in the day and settle down to complete my assignments at night which suits me fine as I find myself more productive at night. Having moments of time to myself and activities I enjoy were also key to helping me reduce my stress level when assignment deadlines were looming.</p>
<p><span class="lead">Did you take part in a placement as part of your course and if so, what was your experience?</span></p>
<p>As I had fulfilled the required hours for professional registration previously in my diploma course, I was not required to take part in placement. Instead I was involved in another theoretical module.</p>
<p><span class="lead">Do you have any advice for students who might be interested in this course?</span></p>
<p>Go for it! Have a passion for what you are learning, knowing that it will shape patient care in the future. While there may be stressful moments, we can learn to apply occupational balance in our lives too!</p>
<p><span class="lead-big">Enhancing our student learning and personal development</span></p>
<p><span class="lead">Have you won any awards/scholarship/internships, etc., that have helped you develop skills and experience? If so, please tell us about them.</span></p>
<p>I have been sponsored by my company in Singapore to study in QMU.</p>
<p><span class="lead">If applicable, what University services have you used to support you through your university journey and how have they helped you?</span></p>
<p>I often visit the Library Resource Centre (LRC) to borrow books, which I find, have been kept very up-to-date and relevant. In addition, I have received support from the LRC staff in my dissertation research process.</p>
<p><span class="lead-big">Life as a Student at QMU</span></p>
<p><span class="lead">What’s your ‘top tip’ for making the most of being a student?</span></p>
<p>Be passionate about learning!</p>
<p><span class="lead">What has been the most valuable lesson that you’ve learned at university?</span></p>
<p>I have learnt that looking out for others and supporting course-mates through the stressful periods of school through emotional support or providing practical support is important.</p>
<p><span class="lead">What are you plans after graduation? Tell us about your ambitions and where you see yourself in the future?</span></p>
<p>I will be returning back to Singapore to work as an Occupational Therapist. In the long-term, I hope I will be able to engage in the process of developing Occupational Therapy programmes to support people with disabilities to better integrate into the community.</p>
<p> </p>
<p> </p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[umb://media/8b6362af864443f186a066b530296e83]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Singapore]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/475e46bf27a84e95b52f0b3c54696ef3]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[BSc (Hons) Occupational Therapy]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Evelyn Fong]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[[]]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Evelyn Fong was working as an Occupational Therapist in her home country of Singapore when she made the decision to return to higher education to gain a better understanding of patient-centred practice.</p>
<p>Having learned of Queen Margaret University’s (QMU) direct entry route into the BSc (Hons) Occupational Therapy course, she leapt at the opportunity to study at the University and to experience life in Scotland.</p>
<p> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Evelyn Fong was working as an Occupational Therapist in her home country of Singapore when she made the decision to return to higher education to gain a better understanding of patient-centred practice. Having learned of Queen Margaret University’s (QMU) direct entry route into the BSc (Hons) Occupational Therapy course, she leapt at the opportunity to study at the University and to experience life in Scotland.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Evelyn Fong - BSc (Hons) Occupational Therapy]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[I really enjoy the way each module is delivered, as most of our modules provide us with the chance to select a topic or contemporary issue of interest and apply critical thinking skills to appraise evidence and theoretical underpinnings of key issues.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Evelyn Fong]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[BSc (Hons) Occupational Therapy]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Evelyn Fong]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Student"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>