<?xml version="1.0" encoding="utf-8"?>
<Content Key="b53253dd-c2e5-4e2b-b30d-2db0f4ee2c6c" Alias="2016.01.11-2 - Nursing results become poetry" Level="5">
  <Info>
    <Parent Key="ac4dc403-ec85-4439-845b-de25b485c66d">2016</Parent>
    <Path>/Home/NewsAndEvents/News//NursingResultsBecomePoetry</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T12:02:17</CreateDate>
    <NodeName Default="2016.01.11-2 - Nursing results become poetry" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a4ad5baf051a4faa87d306c7e24f1760"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/a4ad5baf051a4faa87d306c7e24f1760",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "Nursing results become poetry",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Dr Kath MacDonald is also a staff member within QMU’s Division of Nursing.</p>
<p>After spending six years doing her doctorate, Dr MacDonald was looking for a novel way to present the findings of her nursing research work.</p>
<p>Dr MacDonald explored how young ‘expert patients’ with cystic fibrosis communicated their experience of care with health professionals.</p>
<p>When asked to relate the outcomes of her research at a recent conference, she decided to break the mould by delivering the information in verse.</p>
<p>The reaction was overwhelmingly positive with Dr MacDonald being presented with the first Fiona Lomas Award at the UK Cystic Fibrosis Nursing Specialist Conference. She went on to win the best oral presentation at QMU’s Postgraduate Research Conference, and has since presented her poetry at the European Cystic Fibrosis Conference in Brussels.</p>
<p>Dr MacDonald said: “Poetry is a powerful medium which we can use successfully to communicate key messages about research. People who have listened to the poetry have said it ‘elicits empathy’, ‘it has impact’ and can ‘put you in the moment’.</p>
<p>Since the initial presentation, Dr MacDonald has run poetry workshops at QMU and Edinburgh University to help others consider poetry as a method of sharing information to students and peers within the health profession.</p>
<p>The poetry has been published recently in the International Practice Development Journal.</p>
<p>Here’s an excerpt below from a young person with cystic fibrosis and a consultant physician.</p>
<p><strong>Case Study </strong></p>
<p>I’m 30, been managing cf all of my puff,</p>
<p>so give me some credit, I know my stuff.</p>
<p>I know when I’m sick, what happens to my chest,</p>
<p>to my guts, to my sugars and all the rest.</p>
<p>Nah- I’m no an expert, experienced I prefer</p>
<p>but when something new happens then I’ll refer</p>
<p>to the experts.</p>
<p>But don’t send in someone who hasn’t a clue</p>
<p>Been there, done that, no’ doing it anew.</p>
<p>You sit there at clinic taking advice,</p>
<p>thinking Oh aye, heard it, like: I’ll decide!</p>
<p>And when I want something like nebs or IVs</p>
<p>I know what to do to respect and appease.</p>
<p>I don’t make demands, just give the right cues</p>
<p>Give them their place, let them think they choose.</p>
<p>It’s all a big game, they hum and they waiver</p>
<p>but for me, it’s a form of emotional labour.</p>
<p>They say: “You need to come in for a few days “but no,</p>
<p>it’s Friday, no way, where did the cf team all go?</p>
<p>It’s skeleton staff they have nae a clue</p>
<p>I’ll just wait till Monday, then they‘ll know what to do.</p>
<p>They ask: “are you taking your nebs every day”?</p>
<p>and when I say aye they look as if to say</p>
<p>You’re having a laugh, but they don’t challenge me,</p>
<p>just nod and say wow! so how can that be?</p>
<p>and I think why would I lie, what’s in it for me?</p>
<p> </p>
<p><strong>Case Study </strong></p>
<p>Consultant with experience of many a year</p>
<p>Who now recognises the need for reverse gear</p>
<p>“In my early days the numbers were key</p>
<p>but now I acknowledge pt expertise”</p>
<p>Teenagers are challenging, eyes to the floor</p>
<p>Sometimes it’s difficult to build a rapport</p>
<p>We think we’re too soft, they know it too”</p>
<p>But what would you do, if that patient was you?</p>
<p>We realise how shit is Iife with CF</p>
<p>But if we don’t ask then we know we won’t get.</p>
<p>So we pick our battles; play the long game</p>
<p>In the hope we’ll win ‘em over,</p>
<p>keep lighting the flame</p>
<p>of adherence to treatment cos that’s what we need</p>
<p>in the faint hope that one day they’ll listen to our creed.</p>
<p>But listening and trust must happen two ways</p>
<p>I wish they could tell us the truth- not just say</p>
<p>what they think will make us let them go away.</p>
<p>The nurses are skilled in playing the game</p>
<p>Ducking and diving, smoothing and conniving</p>
<p>All done in advocating in the patients name.</p>
<p>They think we don’t know about their crafty ways</p>
<p>It’s all part of the sophisticated power play</p>
<p>I believe they call it the ‘Dr Nurse game’</p>
<p>We all know it’s happening, rarely give it a name</p>
<p>Yes pts get fed up with the routine banality</p>
<p>But we need to consider the morality</p>
<p>of not being accountable, or thorough indeed</p>
<p>Then where would we be - right up shit creek</p>
<p>Without a paddle.</p>
<p> </p>
<p><strong>Footnote </strong></p>
<p>So how do we reach the best compromise?</p>
<p>Set ground rules bout truths without ostracising</p>
<p>and realise our priorities are never the same</p>
<p>but meet in the middle without assigning blame</p>
<p>and work together to make it better, see</p>
<p>That’s the next step of the project for me!</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2016-01-11T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Nursing results become poetry]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>A graduate from Queen Margaret University’s Professional Doctorate in Health and Social Sciences programme has turned her nursing research into poetry.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[A graduate from Queen Margaret University’s Professional Doctorate in Health and Social Sciences programme has turned her nursing research into poetry. Dr Kath MacDonald is also a staff member within QMU’s Division of Nursing.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Nursing results become poetry]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information please contact Jonathan Perkins, Press and PR Officer, Queen Margaret University, Edinburgh, tel: 0131 474 0000, Email: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Nursing results become poetry]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>