<?xml version="1.0" encoding="utf-8"?>
<Content Key="b56c1f94-8329-4e17-a738-3e66611a8af0" Alias="2021.05/31 Childcare courses with Fife College" Level="5">
  <Info>
    <Parent Key="659cf431-5480-4060-80fd-c765a525647f">2021</Parent>
    <Path>/Home/NewsAndEvents/News//ChildcareCoursesWithFifeCollege</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-11-03T10:33:22</CreateDate>
    <NodeName Default="2021.05/31 Childcare courses with Fife College" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/37a80277a8f0457da8088dd484be1629]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a5cf1f86b4454000bfb36bfa657ed299"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/a5cf1f86b4454000bfb36bfa657ed299",
      "image": "umb://media/84d9cde4c45a4395acf768b41a9c47a8",
      "title": "New degree partnership creates more career opportunities for people to work with young children",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>People who are keen to develop careers working with young children will now be offered a new route to degree education, thanks to a progressive college and university partnership.</p>
<p>Fife College has joined forces with Queen Margaret University (QMU), Edinburgh to offer two new Bachelor of Arts degrees – the BA (Hons) Childhood Practice and the BA (Hons) Childhood Studies.</p>
<p>The BA (Hons) Childhood Practice is a work-based, professional qualification for people who are already working as early years’ practitioners in Scotland. This part-time course, which would normally be completed over two years to gain the degree or over four years to achieve the honours degree, is perfectly suited for people who are working with children, but who need a degree level qualification to help advance their career in management and leadership within early years’ practice. Students who successfully complete the BA (Hons) Childhood Practice would be able to register as managers or lead practitioners in Scotland.</p>
<p>The BA (Hons) Childhood Studies will help students with a recent relevant Higher National Diploma (HND) to access a degree qualification as a gateway to a career in the area of childhood studies. This flexible course, which can be studied initially on a full-time basis, would suit students who wish to develop a career working with young children in early years’ education, or who may be interested in postgraduate study in social work, teaching and other careers.</p>
<p>Cara Blaisdell, Lecturer in Initial Teacher Education at Queen Margaret University, explained:<br />“Currently, there is significant emphasis on raising the profile and quality of work undertaken in the education and healthcare sectors.</p>
<p>"The reform of the Children’s Workforce over the past decade, has highlighted the need for highly qualified and motivated graduates with knowledge and understanding of the multi-disciplinary nature of working with young children and their families.</p>
<p>"Also important, is the need for quality partnerships with parents and other agencies involved in child welfare and education.”</p>
<p>Cara continued: “We are therefore delighted to be collaborating with Fife College to create new pathways that will bring talented people from all different backgrounds into the constantly evolving and important area of early years’ education.</p>
<p>"Both courses are underpinned by Queen Margaret University’s robust research and strong focus on social justice, ensuring that graduates will have the skills and knowledge to help strengthen and develop the growing children’s workforce in Fife. And by working together, the College and University can develop widening opportunities for more people to fulfil their educational and career potential and bring more diversity and talent into this important area.”</p>
<p>Kay Fraser, Faculty Director for Care, Social Sciences and Education at Fife College, said: “These two new degrees have the potential to help transform the opportunities of those working in the childcare industry, or anyone looking to start a career in it.</p>
<p>"Childcare is a key sector in the region, and at Fife College we’re eager to do all we can to provide individuals with the skills they need to progress within it.</p>
<p>"Both of these degree courses give individuals living in Fife the chance to reskill or upskill closer to home. Not only will this help those working in the sector, but it will also have a hugely positive impact on young children across Fife.<br />"This is just one of the ways in which our partnership with Queen Margaret University is helping people in the region, and we look forward to working with them to train the next generation of childcare professionals."</p>
<p>Iain Hawker, Assistant Principal at Fife College, said: “With applications now open, these two new degrees available in Fife from September 2021 further strengthen our partnership with QMU and address an identified future workforce need in the region.</p>
<p>"The recent approval of the degrees is another major step forward for Fife College and recognises the hard work and focus of the faculty to meet the demands for local higher education provision.”</p>
<p>Both new <a href="https://www.fife.ac.uk/childcare-degrees/" title="Childcare degrees : Fife College">childcare degrees will be delivered at Fife College</a> and will begin in September this year. Students graduating from these courses will achieve a degree award from Queen Margaret University, Edinburgh.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2021-05-31T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[New degree partnership creates more career opportunities for people to work with young children]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>People who are keen to develop careers working with young children will now be offered a new route to degree education, thanks to a progressive college and university partnership.</p>
<p>Fife College has joined forces with Queen Margaret University (QMU), Edinburgh to offer two new Bachelor of Arts degrees – the BA (Hons) Childhood Practice and the BA (Hons) Childhood Studies.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Fife College has joined forces with Queen Margaret University (QMU), Edinburgh to offer two new Bachelor of Arts degrees – the BA (Hons) Childhood Practice and the BA (Hons) Childhood Studies.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU Childcare courses with Fife College | QMU News | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>Contact Information<br />Scott Douglas, Fife College, T: 07583124326, E: <a href="mailto:scottdouglas@fife.ac.uk">scottdouglas@fife.ac.uk</a> or Lynne Russell, Communications Manager, Queen Margaret University, Edinburgh, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a> M: 07711 011239. </p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[New degree partnership creates more career opportunities for people to work with young children]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>