<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6b01f50-9e33-4519-858f-bf02acd53a84" Alias="2023.01.24 Menopause press release" Level="5">
  <Info>
    <Parent Key="641ab208-3ab5-4b3f-a75a-7553004cafff">2023</Parent>
    <Path>/Home/NewsAndEvents/News//MenopausePressRelease</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-01-24T11:40:29</CreateDate>
    <NodeName Default="2023.01.24 Menopause press release" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/29ae5c0f32aa4cfbbc1c61c6c63f8898]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/05d7d00cf03c4d5ba36e7bc3b3d73fd4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/05d7d00cf03c4d5ba36e7bc3b3d73fd4",
      "image": "umb://media/e0b5408ffaaa45f1b955ff2f759a46cb",
      "title": "Senior management to wear menopause vest",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span>The Meno(pausitivity) day at Queen Margaret University (QMU), Edinburgh has been developed in collaboration with the menopause awareness organisation, ‘Over The Bloody Moon’. It forms part of the University’s plan to support people through menopause, by developing a supportive culture and promoting awareness, across different age groups and genders. </span> </p>
<p><span>The menopause is when a woman stops having periods and usually takes place between the ages of 45 and 55 years. There are nearly 50 different associated changes of menopause, including hot flushes, brain fog, joint pain, sleeplessness, and depression. Some women can experience symptoms that last for more than a decade, and 1 in 10 women feel so unsupported that they feel they have no choice but to leave their employment.</span> </p>
<p><span>Menopause support in the workplace is a hot Inclusion &amp; Diversity topic in the workplace with a greater number of women working longer into their careers. This is particularly relevant for higher education institutions that have a female-heavy employee profile. Queen Margaret University, which has a proud history as a trailblazer for women’s education, is keen to promote menopause awareness as part of its ongoing support of women’s personal and professional development. The University is the first higher education institution in Scotland to bring Lesley Salem, founder of ‘Over the Bloody Moon’ to campus to demonstrate the impact of MenoVest</span><span data-fontsize="11">TM </span><span>– an immersive, training tool.</span> </p>
<p><span>Lesley was one of the 10% of women who left her job because she was unaware that her challenges at work were largely due to hormonal changes. Inspired by her own experience, she set up Over the Bloody Moon, three years ago to remove the confusion and stigma of menopause. She now delivers educational events, training, and learning resources, so those impacted can thrive both personally and in the workplace.</span> </p>
<p><span>With a high percentage of female staff working for the University (67%), QMU is really pleased to involve Over The Bloody Moon in the University’s Meno(pausitivity) day.  During the event, senior staff will get a taster of how it feels to have a hot flush at work, by wearing MenoVest</span><span data-fontsize="11">TM</span><span>. But the wider aim is to improve understanding of the menopause across the University community and to make use of tools like MenoVest</span><span data-fontsize="11">TM</span><span> to cultivate conversations about the impact of menopausal symptoms on individuals, as well as the workplace. </span> </p>
<p><span>Lesley, who provides a range of services via a diverse team of menopause specialists, believes that menopause is not just a female issue. She said: “This is a topic that everyone needs to understand better at work, because when people are supported, they thrive and so does the team around them. The productivity and health of individuals and the collective team are paramount to the success of the organisation.”</span> </p>
<p><span>Discussing the development of the MenoVest</span><span data-fontsize="11">TM</span><span>, Lesley explained: “</span><span>We run workshops, events, and training and often find that it’s just those directly impacted by menopause that show up. We wanted to find a way to include men in the conversation.  Only by ensuring there is intersectional support and engagement, can we remove the stigma of menopause at work. </span><span>The most common way of educating on menopause is sharing information but this often doesn’t build empathy. Rather than story-telling, MenoVest</span><span data-fontsize="11">TM</span><span> is a story-doing activity that is immersive and demonstrates the very real impact menopause can have for some, in and out of the workplace.”</span> </p>
<p><span>Last year, the broadcaster, Jeremy Vine, agreed to experience MenoVest</span><span data-fontsize="11">TM</span><span> while presenting a radio show. He admitted he struggled to concentrate and felt very distracted when experiencing unexpected bursts of intense heat, associated with hot flushes. </span> </p>
<p><span>Kirsten Baird, General Manager at Queen Margaret University’ Students’ Union has helped to shape the </span><span>Meno(pausitivity) event. She said:</span></p>
<?UMBRACO_MACRO macroAlias="Quote" text="Menopause affects everyone, whether it’s you, a family member, friend or colleague. Sixty-seven percent of QMU staff and seventy five percent of our students are female, so it’s essential we provide a range of support within our wider university community." source="Kirsten Baird" sourceExtra="" />
<p><span>It’s also important that we create understanding and empathy amongst our student populations as many of our graduates, particularly those working in the allied health professions, will encounter patients and clients who are going through menopause.”</span> </p>
<p><span>“We are hoping it will be a fun-filled and informative day and I know that many of our staff and student groups will make the most of the opportunity get fully involved in some of the challenges and workshops.”</span> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2023-01-24T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Senior university staff wear ‘MenovestTM’ to simulate symptoms of menopause ]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="NormalTextRun SCXW48114940 BCX0">On Thursday 26</span><span class="NormalTextRun Superscript SCXW48114940 BCX0" data-fontsize="11">th</span><span class="NormalTextRun SCXW48114940 BCX0"> January, senior staff at a university will be wearing a specially constructed vest which simulates some of the symptoms of menopause. The </span><span class="NormalTextRun SpellingErrorV2Themed SCXW48114940 BCX0">MenoVest</span><span class="SpellingErrorSuperscript Superscript SpellingErrorV2Themed SCXW48114940 BCX0" data-fontsize="11">TM</span><span class="NormalTextRun SCXW48114940 BCX0"> activity, which allows people to experience hot flushes, brain fog and other symptoms often encountered during the menopause transition, is part of a larger menopause event, which aims to raise awareness, understanding and empathy for women going through menopause at work.</span> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[On Thursday 26th January, senior staff at a university will be wearing a specially constructed vest which simulates some of the symptoms of menopause. The MenoVestTM activity, which allows people to experience hot flushes, brain fog and other symptoms often encountered during the menopause transition, is part of a larger menopause event, which aims to raise awareness, understanding and empathy for women going through menopause at work. ]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Menopause awareness day | QMU News | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p><strong><span>For further information on the work of Over the Bloody Moon visit <a href="https://www.overthebloodymoon.com/">www.overthebloodymoon.com</a></span></strong><a href="https://www.overthebloodymoon.com/"> </a></p>
<p><span>For further media information, please contact Lynne Russell, Communications Manager, Queen Margaret University, Edinburgh, E: </span><a href="mailto:lrussell@qmu.ac.uk"><span data-ccp-charstyle="Hyperlink">lrussell@qmu.ac.uk</span></a><span>; M: 07711 011239 or copy to E: </span><a href="mailto:pressoffice@qmu.ac.uk"><span data-ccp-charstyle="Hyperlink">pressoffice@qmu.ac.uk</span></a><span>.</span> </p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[University staff wear ‘MenovestTM’ to simulate symptoms of menopause ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>