<?xml version="1.0" encoding="utf-8"?>
<Content Key="b723753b-a51b-4b9b-af5b-78e360b34330" Alias="2015.08.07 - Interview with QMU graduate, Johnny Elmer" Level="5">
  <Info>
    <Parent Key="94c45b1a-49ef-4036-9be3-b5a4df2d2026">2015</Parent>
    <Path>/Home/NewsAndEvents/News//InterviewWithQMUGraduateJohnnyElmer</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T10:59:50</CreateDate>
    <NodeName Default="2015.08.07 - Interview with QMU graduate, Johnny Elmer" />
    <SortOrder>73</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ee9efd65dead4c3088cb1b19c8dc0064"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/ee9efd65dead4c3088cb1b19c8dc0064",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "Interview with QMU graduate, Johnny Elmer: Events and Sponsorships Manager at innovation charity, Comas ",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p class="txtMainBlack">Since June 2015, Johnny has been working full time as the Events and Sponsorships Manager at innovation charity, Comas. Comas is a small Edinburgh-based charity that works hard to relieve poverty and help vulnerable people in the Edinburgh communities. Comas constantly work towards a better and fairer society, giving people the skills and support to make their lives happier, healthier and better off.</p>
<p class="txtMainBlack">Johnny is part of the core team at Comas, where the facilitation and development of crucial projects takes place. From helping family households to be better off, reducing loneliness, supporting women recovering from trauma and violence to providing training and development opportunities through a social enterprise recovery café, the first of its kind, for those recovering from addiction.</p>
<p class="txtMainBlack">Johnny’s role with Comas is to develop and implement large scale public fundraising events to generate much need funds for the charity to continue its crucial work in the local communities of Edinburgh. This is a first for the charity, never before having a position that was primarily for events and sponsorship. Johnny also has the responsibility for funding his events through various different forms of sponsorship requiring a range of skills.</p>
<p class="txtMainBlack">Although Johnny’s current job isn’t within the creative sector, Johnny has developed many skills with QMU and QMUSU that are directly transferable. His course has helped him to think creatively and take ideas from their conception to implementation. His time as Chairman of Cobweb Theatre Company, a QMUSU student society, helped him to develop his financial and project management skills. Alongside this, the opportunities that were thrown his way during his term as Student Vice President at QMUSU were numerous, Co-founding and Co-chairing the NUS award winning Edinburgh Student Arts Festival is a particular highlight.</p>
<p class="txtMainBlack"><strong>What made you choose QMU? </strong></p>
<p class="txtMainBlack">I applied to QMU through clearing in August 2009. The main reason for choosing QMU’s BA (Hons) Drama and Performance was that I had the option to learn about a wide cross section of the creative industries. The course allowed me to try various different roles within the creative industries and focus my energies on a few aspects for the final two years, including directing contemporary performance and community theatre in my final year.</p>
<p class="txtMainBlack">Having the flexibility to learn and appreciate all the different roles in theatre was a great advantage for me as someone who wanted to get the full picture of the creative industries. QMU also happens to have a beautiful campus and a great Students’ Union that works hard to support and provide for the student body, whether that is through events, sports and societies or academic support.</p>
<p class="txtMainBlack">The course at QMU also provided me with practical based experiences, such as a placement at a local school to facilitate some community based theatre workshops, modelling for the Costume, Design and Construction course and performing at a variety of events and performances.</p>
<p class="txtMainBlack">The reflective nature of the written work was extremely important in allowing me to report critically on my own technique. As a result, I was able to expand my own knowledge of the strengths and weaknesses I have within my own creative discipline.</p>
<p class="txtMainBlack">QMU’s Drama and Performance course didn’t just focus on the practical element, but also gave me grounding in entrepreneurialism and business studies, to help me as a graduate to set up my own theatre company, if I wanted to.</p>
<p class="txtMainBlack">The incredible staff that work within the QMU’s School of Arts, Social Sciences and Management, were a great help to me too!</p>
<p class="txtMainBlack"><strong>Has QMU degree been important in helping you get to where you are today? </strong></p>
<p class="txtMainBlack">QMU has provided me with not only learning opportunities, but also opportunities to put that learning into practice directly through my course, the extra-curricular opportunities and my employment with QMUSU. My connections with QMU staff members have helped to develop a strong network with my lecturers and colleagues, and also with their additional student services, including the QMU Careers &amp; Employability Centre, which is one of the best services on offer at QMU.</p>
<p class="txtMainBlack">The Careers &amp; Employability Centre team supported and helped me when I was searching for a graduate job earlier this year, including advice on my CV development, job postings and one-on-one advice.</p>
<p class="txtMainBlack"><strong>Tips for current QMU students? </strong></p>
<p class="txtMainBlack">The staff are crucial to the learning experience at QMU - they are the biggest asset to students. Their experience and knowledge is second to none – so pay attention to their words of wisdom.</p>
<p class="txtMainBlack">QMU is a smaller university community and with that brings its benefits. The staff know who you are and what your needs are so make the most of the fact you know your lecturers personally.</p>
<p class="txtMainBlack">Finally, get involved with the Students’ Union: sports, societies, class representatives and volunteering. I would also highly recommend getting involved in the yearly elections; stand for an officer role to help shape your students’ union and the way it works for you. The experiences that can be gained from these positions are invaluable and really stand out on your CV.</p>
<p class="txtMainBlack">The more you put into your university life, the more you get out of it!</p>
<p class="txtMainBlack">If you're a QMU graduate and have an interesting career story to tell, we're keen to hear from you. Please email <a href="mailto:jperkins@qmu.ac.uk" class="txtMainTextLinks">jperkins@qmu.ac.uk</a></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2015-08-07T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Interview with QMU graduate, Johnny Elmer: Events and Sponsorships Manager at innovation charity, Comas ]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Johnny Elmer completed his BA (Hons) Drama and Performance at QMU with a 2:1 in July 2013 and went on to be elected the Student Vice President at Queen Margaret University Students’ Union (QMUSU) for a two year term.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Johnny Elmer completed his BA (Hons) Drama and Performance at QMU with a 2:1 in July 2013 and went on to be elected the Student Vice President at Queen Margaret University Students’ Union (QMUSU) for a two year term.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Interview with QMU graduate, Johnny Elmer: Events and Sponsorships Manager at innovation charity, Comas ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information please contact Jonathan Perkins, Press and PR Officer, Queen Margaret University, Edinburgh, tel: 0131 474 0000, Email: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Interview with QMU graduate, Johnny Elmer: Events and Sponsorships Manager at innovation charity, Comas ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>