<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7562f68-f66a-42e0-a131-84368abdc8b6" Alias="Radiography" Level="4">
  <Info>
    <Parent Key="8fdfe28d-0112-4381-a925-44f52bfb194f">DNBSPPR</Parent>
    <Path>/Home/SchoolsAndDivisions/DNBSPPR/Radiography</Path>
    <Trashed>false</Trashed>
    <ContentType>division</ContentType>
    <CreateDate>2021-02-08T12:05:15</CreateDate>
    <NodeName Default="Radiography" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b4bc3b7f-3362-41db-822a-44248557b1ff">Division</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/68015cd9efd8405f8f38dc561ca52a57]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[<p>Radiography</p>]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/790d7ad2a1344180a2d3e14d207c7b44"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/790d7ad2a1344180a2d3e14d207c7b44",
      "image": "umb://media/6ee6e24bc17e44a08754783ea187241e",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead">Our courses</span></p>
<p>At undergraduate level, we offer a four-year <a href="/{localLink:umb://document/cc51462975884a45b5c2ddbb156f304f}" title="Master of Radiography: Therapeutic (MTRad)/BSc (Hons) Radiography: Therapeutic (2024 entry)">Master of Radiography: Therapeutic (MTRad)/BSc (Hons) Radiography: Therapeutic</a> and <a href="/{localLink:umb://document/2dd20be03fd249188113645703524d02}" title="Master of Radiography: Diagnostic (MDRad)/BSc (Hons) Radiography: Diagnostic (2024 entry)">Master of Radiography: Diagnostic (MDRad)/ BSc (Hons) Radiography: Diagnostic</a>.</p>
<p>We also offer a <a href="/{localLink:umb://document/d70c35833ffb4c1a9d5673e52163d351}" title="HE Cert Mammography (2024 entry)">HECert Mammography</a> - a course is for individuals who are currently working in a clinical environment within mammography services and who want to develop clinical skills, critical skills, and reflective thinking in practice.</p>
<p>If you already hold an undergraduate degree and wish to retrain as a radiographer, our two-year postgraduate courses in <a href="/{localLink:umb://document/ed5e9d80d5ef486db58c977aec23ea07}" title="MSc Diagnostic Radiography (Pre-Registration)">MSc Diagnostic Radiography (Pre-Registration)</a> and <a href="/{localLink:umb://document/3d55c1fe5bc242e2a6ab14a236027571}" title="MSc Therapeutic Radiography (Pre-Registration)">MSc Therapeutic Radiography (Pre-Registration)</a> may be of interest. </p>
<p>For those already working in radiography who would like to develop their skills and knowledge, we offer:</p>
<ul>
<li><a href="/{localLink:umb://document/c59a5318300b4d87b86f8fc849f90bf9}" title="MSc/PgDip Advancing Practice in Radiotherapy (Advancing Practice in Health Framework)">MSc Advancing Practice in Radiotherapy</a></li>
<li><a href="/{localLink:umb://document/0e192039f71442808c9d58d4fcc6296c}" title="MSc/PgDip Advancing Practice in Medical Imaging (Advancing Practice in Health Framework)">MSc Advancing Practice in Medical Imaging </a></li>
<li><a href="/{localLink:umb://document/1ca03ac1b77343e59eca44f78e25fa6c}" title="MSc/PgDip/PgCert Mammography">MSc Mammography </a></li>
<li><a href="/{localLink:umb://document/b90bc550cc7941aea302a1f831bac0d8}" title="PgCert Breast Ultrasound">PgCert Breast Ultrasound</a></li>
</ul>
<p><span class="lead">Our staff, links and facilities</span></p>
<p>Radiography staff have strong links with employers, are active in clinical research and play a significant role in the development of the professions of diagnostic and therapeutic radiography.</p>
<p>We provide the following specialist facilities for students:</p>
<ul>
<li><strong>Diagnostic - </strong> Clinical room with Siemens diagnostic X-ray unit, Fuji Computed Radiography (CR) system, Fuji Digital Radiography (DR) mobile unit, High resolution digital workstations, Picture Archiving and Communication System (PACS), Darkroom / viewing room, Ultrasound equipment</li>
<li><strong>Therapeutic - </strong> Clinical room with training radiotherapy treatment bed, Varian Eclipse computerised 4D treatment planning workstation, Immobilisation devices</li>
</ul>
<div class="mceNonEditable embeditem" data-embed-url="https://youtu.be/zkbz8kpOLHI" data-embed-height="657" data-embed-width="950" data-embed-constrain="true"><iframe width="950" height="534" src="https://www.youtube.com/embed/zkbz8kpOLHI?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" title="What are the differences between diagnostic and therapeutic radiography?"></iframe></div>]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[umb://document/7d08908bf1ac4fb7887a349d742d3248]]></Value>
    </contactPicker>
    <displayTitle>
      <Value><![CDATA[Radiography]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Radiography students at QMU have access to facilities within the clinical departments of Lothian and surrounding health trusts, thus reinforcing the collaborative ventures between Queen Margaret University and Health Care Providers.</p>]]></Value>
    </introduction>
    <linkBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8b33094a62fc46eca20d22468982e0af"
      },
      {
        "contentUdi": "umb://element/0f898ad666304b09aae0db08534b8ad7"
      },
      {
        "contentUdi": "umb://element/f019b1291d194760bdc5995e27552f32"
      },
      {
        "contentUdi": "umb://element/d6537e7f246548679700bdcca90c363e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "971f0f7b-95e6-445b-ad94-480dbf20046f",
      "udi": "umb://element/8b33094a62fc46eca20d22468982e0af",
      "image": "umb://media/d51140e81a2644e494e7ca36a79422fc",
      "header": "Undergraduate courses",
      "text": "",
      "link": "[{\"name\":\"Health Sciences\",\"udi\":\"umb://document/5ea0b74333bb460582542113254779d6\"}]"
    },
    {
      "contentTypeKey": "971f0f7b-95e6-445b-ad94-480dbf20046f",
      "udi": "umb://element/0f898ad666304b09aae0db08534b8ad7",
      "image": "umb://media/555f574788d54a42b363d6cfa05e34aa",
      "header": "Postgraduate courses",
      "text": "",
      "link": "[{\"name\":\"Radiography\",\"udi\":\"umb://document/780f17bd9ca343e5aef44cd6f08fed0a\"}]"
    },
    {
      "contentTypeKey": "971f0f7b-95e6-445b-ad94-480dbf20046f",
      "udi": "umb://element/f019b1291d194760bdc5995e27552f32",
      "image": "umb://media/fe6b6155f0524a23ae02d8308dccf2ad",
      "header": "CPD courses",
      "text": "Venepuncture and IV Cannulation for Radiographers",
      "link": "[{\"name\":\"Venepuncture and IV Cannulation for Radiographers (Single Module)\",\"udi\":\"umb://document/0381baf82b96481db36c99ca53e3c452\"}]"
    },
    {
      "contentTypeKey": "971f0f7b-95e6-445b-ad94-480dbf20046f",
      "udi": "umb://element/d6537e7f246548679700bdcca90c363e",
      "image": "umb://media/68015cd9efd8405f8f38dc561ca52a57",
      "header": "Roles of the Radiographer",
      "text": "Diagnostic and Therapeutic Radiographers - The Difference",
      "link": "[{\"name\":\"Roles of the Radiographer\",\"udi\":\"umb://document/b413a01c422b4202b6f3a68535760799\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </linkBlocks>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Radiography students at QMU have access to facilities within the clinical departments of Lothian and surrounding health trusts, thus reinforcing the collaborative ventures between Queen Margaret University and Health Care Providers.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Radiography Division | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fc8f07c6770a38f6be6e9214e0502b00"
      },
      {
        "contentUdi": "umb://element/0b403bf861273cb98af59da418d57920"
      },
      {
        "contentUdi": "umb://element/0199fe5e4a75387a8bc38e23e09b8919"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "29342589-f80e-4c67-8716-a18c67020449",
      "udi": "umb://element/fc8f07c6770a38f6be6e9214e0502b00",
      "link": "umb://document/e4bde164193f40e483d774a4309c6d4c"
    },
    {
      "contentTypeKey": "29342589-f80e-4c67-8716-a18c67020449",
      "udi": "umb://element/0b403bf861273cb98af59da418d57920",
      "link": "umb://document/a06b3eea40444874b80c1bb9ff767cfa"
    },
    {
      "contentTypeKey": "9eed20a0-b3f3-47c8-8fae-82f763de3e32",
      "udi": "umb://element/0199fe5e4a75387a8bc38e23e09b8919",
      "title": "",
      "usefuls": [
        {
          "icon": "icon-users color-indigo",
          "name": "Radiography: Staff",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/7d8d1f5f0179492c927e33ed1a0d1edd",
          "url": "/schools-and-divisions/dnbsppr/radiography/radio-staff/"
        },
        {
          "icon": "icon-link",
          "name": "Radiography Careers",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": null,
          "url": "http://radiographycareers.co.uk/"
        },
        {
          "icon": "icon-umb-content color-indigo",
          "name": "Radiography Placements",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/4b570f824c4546bc981afb7bc4ce14f4",
          "url": "/schools-and-divisions/dnbsppr/radiography/placements/"
        },
        {
          "icon": "icon-umb-content color-indigo",
          "name": "Roles of the Radiographer",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/b413a01c422b4202b6f3a68535760799",
          "url": "/schools-and-divisions/dnbsppr/radiography/roles-of-the-radiographer/"
        }
      ],
      "useDarkTheme": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/7fa9d3241e554cd7b2d00d6d700da7ae,umb://document/606940f5c3674220baba20bcb804023d]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[A selection of our staff (see Useful Links for more) ]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Radiography]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>