<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7869f8e-1298-4ec6-989f-ea28b67dcdc5" Alias="School and Advisor Enquiries" Level="4">
  <Info>
    <Parent Key="13c638db-0259-4ef5-8ac8-d37ff7195001">Groups</Parent>
    <Path>/Settings/Contacts/Groups/SchoolAndAdvisorEnquiries</Path>
    <Trashed>false</Trashed>
    <ContentType>contactGroup</ContentType>
    <CreateDate>2020-12-28T15:47:25</CreateDate>
    <NodeName Default="School and Advisor Enquiries" />
    <SortOrder>81</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactOptions>
      <Value><![CDATA[]]></Value>
    </contactOptions>
    <contacts>
      <Value><![CDATA[]]></Value>
    </contacts>
    <displaySocialMediaLinks>
      <Value><![CDATA[1]]></Value>
    </displaySocialMediaLinks>
    <groupName>
      <Value><![CDATA[School and Advisor Enquiries]]></Value>
    </groupName>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <secondaryImage>
      <Value><![CDATA[]]></Value>
    </secondaryImage>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
    <telephoneNumber1>
      <Value><![CDATA[]]></Value>
    </telephoneNumber1>
    <telephoneNumber2>
      <Value><![CDATA[]]></Value>
    </telephoneNumber2>
  </Properties>
</Content>