<?xml version="1.0" encoding="utf-8"?>
<Content Key="b907edaf-4188-4416-b947-167575152736" Alias="Sexual expression, dementia and people living in care home – is this the last taboo?" Level="4">
  <Info>
    <Parent Key="02401f4c-a909-4319-9374-4ba87ae5b360">Magazine</Parent>
    <Path>/Home/AlumniAndFriends/Magazine/SexualExpressionDementiaAndPeopleLivingInCareHomeIsThisTheLastTaboo</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-08-16T15:09:48</CreateDate>
    <NodeName Default="Sexual expression, dementia and people living in care home – is this the last taboo?" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead">However, if truth be told, the need for intimacy and sexual expression does not necessarily diminish as we move into older age, nor may it disappear with loss of capacity. </span></p>
<p>Research shows that sexual expression provides emotional and physical benefits throughout life, and therefore room to express one’s sexuality needs to be taken seriously by those working in the care of people with dementia. Sadly, the topic of sexual expression is often overlooked in policy and practice. However, rather than shy away from this sensitive and sometimes controversial topic, one PhD student has made this complex subject the focus of her doctorate research.</p>
<p><a data-udi="umb://document/ee7f079ab66e4aea914e9decd9a1ce05" href="/{localLink:umb://document/be8276211962499994257caef8e88d5a}" title="Dr Karen Rennie">Karen Rennie</a> is a research assistant based within QMU’s Centre for Person-Centred Practice Research. She also works as a staff nurse in a care home and wanted to carry out research which would challenge assumptions, break down barriers and ultimately improve person-centred care for people living with dementia. The topic of Karen’s PhD focuses on sexual expression in people living with dementia, and how that impacts on nursing care.</p>
<p>As far as we know, Karen is the first person to conduct a PhD which focuses on sexual expression involving people with dementia (who are viewed as ‘adults with incapacity’), and this complex subject is sure to spark debate amongst a wide range of professionals working in healthcare. This is a big breakthrough as people living with dementia are usually excluded from research, especially when exploring sexual expression and intimate relationships.</p>
<p>She explained:</p>
<?UMBRACO_MACRO macroAlias="Quote" text="Sexual expression is an important part of people’s health and wellbeing, and if we are going to practice person-centred care, we need to challenge areas like this that are still considered to be taboo. This means encouraging healthcare professionals to question their own beliefs and value systems. It’s not a straight forward subject." source="" sourceExtra="" />
<p>People experiencing dementia, especially those living in care homes, often have complex needs. It is therefore very challenging for staff to respond appropriately and sensitively to the more intimate and sexual aspects of a resident’s personality and needs. But it’s important to get health professionals, care home and nursing home staff to talk about and consider individual needs to ensure that people living with dementia are living full lives. “There are many aspects to consider. Individuals with dementia may be in a relationship and carers need to take into account issues of consent, human rights law, how to involve family members and how to afford privacy.”</p>
<p>Karen continued:</p>
<?UMBRACO_MACRO macroAlias="Quote" text="We have looked at attitudes across the world to sexual expression in people with dementia. It appears to be universal that the phenomenon of sexual expression is uncomfortable for many nursing and care home staff and they feel uncertain on how to ensure personcentred care responses. So there is much work to be done. This is why we need to hear the voices of the people living with dementia." source="" sourceExtra="" />
<p>Now in the third year of her PhD, she has been encouraged by the enthusiasm shown by professionals and non-professions to this much under researched area of dementia care.</p>
<p>Karen is just one of a number of QMU PhD students who are developing their research around the subject of dementia. For example, we have projects which are focused on</p>
<ol>
<li>how the police service can respond in a person-centred way to ‘wandering’ behaviour of people with dementia;</li>
<li>hospital discharge process and how to improve transition between hospitals and care homes;</li>
<li>the development of a shared decision making model for patients with dementia; and</li>
<li>the use of story-telling to enable person-centred care. </li>
</ol>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Sexual expression, dementia and people living in care home – is this the last taboo? ]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">Intimacy, sexual expression and sexuality are often not the first topics that spring to mind when thinking about the care needs of people with dementia.</span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[As far as we know, Karen is the first person to conduct a PhD which focuses on sexual expression involving people with dementia (who are viewed as ‘adults with incapacity’), and this complex subject is sure to spark debate amongst a wide range of professionals working in healthcare. This is a big breakthrough as people living with dementia are usually excluded from research, especially when exploring sexual expression and intimate relationships.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Sexual expression, dementia and people living in care home – is this the last taboo?]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3a1599caa7ff382b80f4becfa755090a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "29342589-f80e-4c67-8716-a18c67020449",
      "udi": "umb://element/3a1599caa7ff382b80f4becfa755090a",
      "link": "umb://document/ce24c8baed874cf0bedbbf775dfd02e1"
    }
  ],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Sexual expression, dementia and people living in care home – is this the last taboo? ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>