<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd8397f3-455d-4178-b045-0d5c5f1ef9b9" Alias="QMU Innovation Fellowships" Level="4">
  <Info>
    <Parent Key="297f021f-5586-4b7d-abe3-53e4a3d8cb75">Entrepreneurship at QMU</Parent>
    <Path>/Home/ServicesForBusinessAndIndustry/EntrepreneurshipAtQMU/QMUInnovationFellowships</Path>
    <Trashed>false</Trashed>
    <ContentType>generalLandingPage</ContentType>
    <CreateDate>2021-02-03T14:53:38</CreateDate>
    <NodeName Default="QMU Innovation Fellowships" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2d105c-dfa8-42d8-8bd5-cf850a36952d">GeneralLandingPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/b87fbae2858f4c21b6e45da808d2ea04]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a17eb51f327a4534a38fb09edd52c613"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/a17eb51f327a4534a38fb09edd52c613",
      "image": "umb://media/eb218b1d70bc4bd5867c805bd5a4171b",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>In response to an unprecedented change in the research landscape QMU has been exploring how we pursue UK opportunities for more proactive exploitation of potentially overlapping interdisciplinary approaches and funding.</p>
<p>In 2019 we awarded the first QMU Innovation Fellowships to researchers to explore and develop a range of projects with the potential to have significant health, cultural, economic and environmental impact. The appointment of QMU Innovation Fellowships is pivotal in helping us maximise all opportunities to engage with the UK Industrial Strategy and Industrial Challenge Fund.</p>]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[umb://document/c5f4dac3417b4733b5c670a075e35f36]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU Innovation Fellowships]]></Value>
    </displayTitle>
    <focusPanel>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3cab1967dfeb4b0cafb03b03ae378312"
      },
      {
        "contentUdi": "umb://element/56d534d4ee3a4a94a7522d0b89cef24c"
      },
      {
        "contentUdi": "umb://element/5aaff3fc5af04f0191f2a91f525593b7"
      },
      {
        "contentUdi": "umb://element/2a0c6a2b20ae440f8db4281e095285d7"
      },
      {
        "contentUdi": "umb://element/94983ef8f0754d429ccdeed7ee9595e9"
      },
      {
        "contentUdi": "umb://element/907c472475b94f9eab0c48db3aeb5bfb"
      },
      {
        "contentUdi": "umb://element/26a370c741384c39ba6612138bc112a6"
      },
      {
        "contentUdi": "umb://element/ca63721c7f3749c09c4382ed1baf12aa"
      },
      {
        "contentUdi": "umb://element/9b4f5823f8a84d72a65c1193eec941dc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/3cab1967dfeb4b0cafb03b03ae378312",
      "title": "Professor  Cathy Bulley, Dr Kavi Jagadamma and Professor Derek Santos",
      "content": "",
      "image": "umb://media/a1f3017f55fc4d3096577ead61a1a57b",
      "link": "[{\"name\":\"Professor Cathy Bulley, Dr Kavi Jagadamma and Professor Derek Santos\",\"udi\":\"umb://document/d04b45d63cff473d9f263f03917fb245\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/56d534d4ee3a4a94a7522d0b89cef24c",
      "title": "Dr Julien Lonchamp",
      "content": "",
      "image": "umb://media/beb888957b914497a759450a23786af3",
      "link": "[{\"name\":\"Dr Julien Lonchamp\",\"udi\":\"umb://document/e7f7b93f1e5346a49f92fcce629bfc68\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/5aaff3fc5af04f0191f2a91f525593b7",
      "title": "Dr Felix Schaeffler",
      "content": "",
      "image": "umb://media/35b258f426a442b0a4ecb8f58ce9a7ef",
      "link": "[{\"name\":\"Dr Felix Schaeffler\",\"udi\":\"umb://document/ed4c4497269b440db06dbf722b2f6444\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/2a0c6a2b20ae440f8db4281e095285d7",
      "title": "Dr David Stevenson",
      "content": "",
      "image": "umb://media/4b591fc8a7574b90aa6c137c77dd8524",
      "link": "[{\"name\":\"Dr David Stevenson\",\"udi\":\"umb://document/c934776963e54f958edec74425d10eb3\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/94983ef8f0754d429ccdeed7ee9595e9",
      "title": "Dr Arek Dakessian, Dr Karin Diaconu and Dr Alison Strang",
      "content": "",
      "image": "umb://media/06668ba486514519a1df8c253f82e471",
      "link": "[{\"name\":\"Dr Arek Dakessian Dr Karin Diaconu and Dr Alison Strang\",\"udi\":\"umb://document/b0c106ec249b43aba88d1b76bbb86dbc\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/907c472475b94f9eab0c48db3aeb5bfb",
      "title": "Dr Robert Munro",
      "content": "",
      "image": "umb://media/4c534b34033a4c89bebc466a4357cd5a",
      "link": "[{\"name\":\"Dr Robert Munro\",\"udi\":\"umb://document/245d957e970d40afb9ac349e5d8ea748\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/26a370c741384c39ba6612138bc112a6",
      "title": "Kate Nelson",
      "content": "",
      "image": "umb://media/e920411f6eb9480aa39fc6bd1e03749b",
      "link": "[{\"name\":\"Kate Nelson\",\"udi\":\"umb://document/a6d01cf887c14751bb6be1032b60d2a7\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/ca63721c7f3749c09c4382ed1baf12aa",
      "title": "Dr Joan Ma",
      "content": "",
      "image": "umb://media/d37a8c1094664dd897ecb20b88d7fe05",
      "link": "[{\"name\":\"Joan Ma\",\"udi\":\"umb://document/b0ac9bbf8d3d475c82250b84b29fd2d0\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/9b4f5823f8a84d72a65c1193eec941dc",
      "title": "Dr Siân Jones & Dr Clare Uytman ",
      "content": "",
      "image": "umb://media/b3fa119318d74283a5f11ac9059540fe",
      "link": "[{\"name\":\"Dr Siân Jones & Dr Clare Uytman\",\"udi\":\"umb://document/4db09b3dfb3a4f7086b101e678e23be2\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </focusPanel>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Queen Margaret University has a long-held reputation for producing excellent research, encouraging innovative thinking and building regional and international partnerships with industry and the third sector. </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[In 2019 we awarded the first QMU Innovation Fellowships to researchers to explore and develop a range of projects with the potential to have significant health, cultural, economic and environmental impact. The appointment of QMU Innovation Fellowships is pivotal in helping us maximise all opportunities to engage with the UK Industrial Strategy and Industrial Challenge Fund.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU Innovation Fellowships | Entrepreneurship at QMU | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5ed8a2fc39d532ef892f5fe83b8aeaee"
      },
      {
        "contentUdi": "umb://element/484c190ced4c3159a928b7c036614892"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9eed20a0-b3f3-47c8-8fae-82f763de3e32",
      "udi": "umb://element/5ed8a2fc39d532ef892f5fe83b8aeaee",
      "title": "Useful Links",
      "usefuls": [
        {
          "icon": "icon-umb-content color-indigo",
          "name": "Industrial Strategy",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/758a523ad429432a9e8e968581c0d17e",
          "url": "/services-for-business-and-industry/commercialisation/industrial-strategy/"
        },
        {
          "icon": "icon-link",
          "name": "Scottish Funding Council",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": null,
          "url": "http://www.sfc.ac.uk/"
        }
      ],
      "useDarkTheme": "1"
    },
    {
      "contentTypeKey": "29342589-f80e-4c67-8716-a18c67020449",
      "udi": "umb://element/484c190ced4c3159a928b7c036614892",
      "link": "umb://document/7a1fc6b3d7774345b5e179f6e4f4019f"
    }
  ],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU Innovation Fellowships]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>