<?xml version="1.0" encoding="utf-8"?>
<Content Key="bde3fdf7-e6fe-4f45-90fc-6f713616e6be" Alias="Melanie’s Exchange" Level="6">
  <Info>
    <Parent Key="f1509fae-6848-403b-a28f-3de63cb2e77e">Semester Abroad Experiences</Parent>
    <Path>/Home/StudyHere/InternationalStudentsRevamp2022/ReasonsToStudyAbroad/SemesterAbroadExperiences/MelanieSExchange</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2022-04-27T11:55:40</CreateDate>
    <NodeName Default="Melanie’s Exchange" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65102975-f5a6-47bf-9418-b0e82dc7c288">BlogPost</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/49e57978845545d89f9018cfac49c982]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/51269ba0b590478d84a8c30a44901f5e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/51269ba0b590478d84a8c30a44901f5e",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "Melanie’s Semester Abroad",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p>First of all, I would like to thank QMU and SCSU for this amazing opportunity to study and live in America for a couple of months! When I heard about the opportunity to go on an exchange I didn’t even think about it twice. I knew I had to take this chance. To be honest, it was a lot of preparation work, but it was totally worth it. Studying abroad is more than just traveling. It is living in a different country and experiencing a different culture and lifestyle. It allows you to meet new people and experience things you may otherwise never have had the opportunity for. My adventure began in the middle of summer in NYC.</p>
<p>I studied at Southern Connecticut State University in the United States for one Semester. Southern is considered to be a small Uni in the US, but I was overwhelmed by its size. Even the library was as big as the whole QMU University building. I lived in halls and I am glad I did. This is the best way to get in contact with students and other internationals. Me and my other three roommates lived in an apartment. All the internationals lived on the same floor.</p>
<p>Southern made a great effort in welcoming us to their Uni. They had loads of fun things planned for us and made me feel like I belong. I will never forget our Induction. There was a ceremony and all the exchange student got to walk with Southern’s new Freshmen. The first days and weeks were overwhelming and exciting. Everything was so new and different. But even throughout the semester, there were big events. And of course, good food was always involved. Having people dance on campus, when everybody was watching became quite normal.</p>
<p>The way lecturers teach is different in the US and I’m not gonna lie – it’s hard and time-consuming! It took me at least a few weeks to get used to the American system. I did not know that in the beginning and wasn’t prepared for the amount of work I had to do. However, I enjoyed this very different approach, because I feel like I learnt a lot – in theory as well as in practice.</p>
<p>In general, people are very helpful, easygoing and welcoming. They are always interested to meet new people and to hear where you come from. I also participated in the University’s theater group, which made it easy to become friends with other students. Clubs host various events throughout the semester, even with other clubs. Most of the exchange students came from Europe and our rather big group of internationals became very close.</p>
<p>I wanted to travel as much as possible. I went to New York City, Boston, Washington D.C., Philadelphia and Newport. We even took the plane to Chicago, which was freezing cold and snowy. Our first trip was actually Canada, where we went to Toronto and finally to the Niagara Falls. It was beyond beautiful! I also discovered different parts of Connecticut with all its lakes and coastlines, which was even more fascinating to see during the Indian summer. My trips were unforgettable and I traveled more than I originally expected! One of the trips was a real road trip and I probably took thousands of pictures.</p>
<p>Football and its Tailgate is fun and very important in the US! I experienced Homecoming and I went to a Football Game in New Jersey, which was great! My Halloween weekend was spooky and I even had a real Thanksgiving! My friend, who is actually just doing her exchange at QMU invited me into her family’s home. I had a blast!</p>
<p>My adventure ended at the most beautiful time of the year – at Christmastime and in NYC with all its lights. Time flew so fast and to me it sometimes feels as if everything was just a dream. I was very sad to leave, but I know that the memories I made will last a lifetime! I can totally recommend this opportunity to every student! It was THE best experience in my life!</p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[2018-01-23T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Melanie’s semester Abroad]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">Melanie Nunhofer – Theatre &amp; Film – Level 3</span></p>
<p><span class="lead">Southern Connecticut State University, USA</span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[First of all, I would like to thank QMU and SCSU for this amazing opportunity to study and live in America for a couple of months! When I heard about the opportunity to go on an exchange I didn’t even think about it twice. I knew I had to take this chance. To be honest, it was a lot of preparation work, but it was totally worth it. Studying abroad is more than just traveling. It is living in a different country and experiencing a different culture and lifestyle. It allows you to meet new people and experience things you may otherwise never have had the opportunity for. My adventure began in the middle of summer in NYC.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Melanie’s Exchange | Reasons to Study Abroad | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Melanie’s Exchange]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>