<?xml version="1.0" encoding="utf-8"?>
<Content Key="c026db55-4fc2-4bd7-a2cc-135539c09a7e" Alias="DMI" Level="3">
  <Info>
    <Parent Key="61a8e686-2a80-4a22-88e1-fc0d682148f6">Links</Parent>
    <Path>/Settings/Links/DMI</Path>
    <Trashed>false</Trashed>
    <ContentType>link</ContentType>
    <CreateDate>2023-01-05T11:21:14</CreateDate>
    <NodeName Default="DMI" />
    <SortOrder>137</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <externalLink>
      <Value><![CDATA[https://digitalmarketinginstitute.com/]]></Value>
    </externalLink>
    <image>
      <Value><![CDATA[umb://media/62cc5eb0e34c4651abfaae8315a8c277]]></Value>
    </image>
    <internalLink>
      <Value><![CDATA[]]></Value>
    </internalLink>
    <text>
      <Value><![CDATA[]]></Value>
    </text>
  </Properties>
</Content>