<?xml version="1.0" encoding="utf-8"?>
<Content Key="c193260b-5586-48f2-9c85-d69c8c088b80" Alias="Quality" Level="3">
  <Info>
    <Parent Key="43e533ca-2959-4628-9d12-487ddc927cd3">About the University</Parent>
    <Path>/Home/AboutTheUniversity/Quality</Path>
    <Trashed>false</Trashed>
    <ContentType>generalLandingPage</ContentType>
    <CreateDate>2021-02-03T16:13:21</CreateDate>
    <NodeName Default="Quality" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2d105c-dfa8-42d8-8bd5-cf850a36952d">GeneralLandingPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/f42f5183a7d445b286961bb96a46a67f]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[<p>Quality at QMU</p>]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/14bc1e5243524647bb43a455e931d6b6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/14bc1e5243524647bb43a455e931d6b6",
      "image": "umb://media/826b2ec56dd4400cad585e4e22f44937",
      "title": "Quality at QMU",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[umb://document/2091c837bdf644e1902a7a4e548e415b]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Quality]]></Value>
    </displayTitle>
    <focusPanel>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cda26692f7c34d5088de9c9d2f57fce1"
      },
      {
        "contentUdi": "umb://element/acfae592a5ad4328ad37f268b626b6bf"
      },
      {
        "contentUdi": "umb://element/61f605a01a974aabb7c40b8c06f9c94b"
      },
      {
        "contentUdi": "umb://element/09ac42c9d3aa4018b628744f695ec08c"
      },
      {
        "contentUdi": "umb://element/f93bc0e06a884eafa8dba20a1bdd8c1e"
      },
      {
        "contentUdi": "umb://element/0218856eca4e4105ace657c6281ff227"
      },
      {
        "contentUdi": "umb://element/786cc32c17a3487096af4d46cb704b81"
      },
      {
        "contentUdi": "umb://element/1e68123d084f48e1b004f762ab3daea8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/cda26692f7c34d5088de9c9d2f57fce1",
      "title": "Quality Enhancement and External Context ",
      "content": "",
      "image": "umb://media/8c3bb45367f84020b958dc0ddab7e556",
      "link": "[{\"name\":\"Quality Enhancement and External Context\",\"udi\":\"umb://document/5d9697340ed6468bbe191781fead21a0\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/acfae592a5ad4328ad37f268b626b6bf",
      "title": "Committees, Regulations, Policies and Procedures",
      "content": "",
      "image": "umb://media/e4c91baa84ea417285a8abb7469cbe26",
      "link": "[{\"name\":\"Committees, Regulations, Policies and Procedures\",\"udi\":\"umb://document/c2df08504288495fa85201eaaa74a8e4\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/61f605a01a974aabb7c40b8c06f9c94b",
      "title": "Resources for Programme Leaders",
      "content": "",
      "image": "umb://media/9fec5124be27466eb0375ace86783a43",
      "link": "[{\"name\":\"Resources for Programme Leaders\",\"udi\":\"umb://document/a8a912d1657a4c269209b188cbf20886\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/09ac42c9d3aa4018b628744f695ec08c",
      "title": "Resources for External Examiners",
      "content": "",
      "image": "umb://media/85f486d797754978be01531359c162ac",
      "link": "[{\"name\":\"Resources for External Examiners\",\"udi\":\"umb://document/24fbdf7e07c24b8d9e0f2cbfb9772202\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/f93bc0e06a884eafa8dba20a1bdd8c1e",
      "title": "Resources for Validation and Review",
      "content": "",
      "image": "umb://media/e68a5519a8694a4ba9719c6a6d93e7f1",
      "link": "[{\"name\":\"Resources for Validation and Review\",\"udi\":\"umb://document/64942ee124144939ac848d7353f184dd\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/0218856eca4e4105ace657c6281ff227",
      "title": "Governance A-Z Index ",
      "content": "",
      "image": "umb://media/89377e04c5dc422291fa45b8465fe233",
      "link": "[{\"name\":\"Quality A-Z Index\",\"udi\":\"umb://document/fc0fd0d9907144fb8151426584deba6d\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/786cc32c17a3487096af4d46cb704b81",
      "title": "Forms and Guidance",
      "content": "",
      "image": "umb://media/911dc790ea7e44de8d29e68c42a031a2",
      "link": "[{\"name\":\"Forms and Guidance\",\"udi\":\"umb://document/900225304e114621884c0be2943df09e\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/1e68123d084f48e1b004f762ab3daea8",
      "title": "Programme Specifications ",
      "content": "",
      "image": "umb://media/33e14cc333bc487aaf7a3e43e2471c4f",
      "link": "[{\"name\":\"Programme Specifications\",\"udi\":\"umb://document/327e0fda753d46028e060389135cf226\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </focusPanel>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Information about the University's approach to quality and governance.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Information about Queen Margaret University approach to quality and governance.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Governance | About the University | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9f460b96325536d0bec2b6e3342e62bd"
      },
      {
        "contentUdi": "umb://element/76c11b3368cb325088aa9969bc80f68a"
      },
      {
        "contentUdi": "umb://element/28834aea6d1c3dd8a5e917141dfef91c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9eed20a0-b3f3-47c8-8fae-82f763de3e32",
      "udi": "umb://element/9f460b96325536d0bec2b6e3342e62bd",
      "title": "",
      "usefuls": [
        {
          "icon": "icon-umb-content color-indigo",
          "name": "Quality Contacts",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/9a6bb8073eab4862a73dd1a2b4d3bb7f",
          "url": "/about-the-university/quality/quality-contacts/"
        },
        {
          "icon": "icon-layout color-indigo",
          "name": "Research and Knowledge Exchange",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/d642254ee853449cbabd2bfe5c4c98e8",
          "url": "/research-and-knowledge-exchange/"
        },
        {
          "icon": "icon-layout color-indigo",
          "name": "QMU and the Community",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/96928286863f40d38cf8c29dfafd8763",
          "url": "/qmu-and-the-community/"
        },
        {
          "icon": "icon-layout color-indigo",
          "name": "Services for Business and Industry",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/2fb1d2d398484b68ba52af2ced358220",
          "url": "/services-for-business-and-industry/"
        }
      ],
      "useDarkTheme": "0"
    },
    {
      "contentTypeKey": "89a05a83-d84d-4e9e-9117-02ff3cb40efa",
      "udi": "umb://element/76c11b3368cb325088aa9969bc80f68a",
      "socialMedia": "1"
    },
    {
      "contentTypeKey": "29342589-f80e-4c67-8716-a18c67020449",
      "udi": "umb://element/28834aea6d1c3dd8a5e917141dfef91c",
      "link": "umb://document/c1fcaefc3dc34b569c8014d0d03237e2"
    }
  ],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/2e8f8dd13ab94a76b4bf4560db43e92a,umb://document/5adad35d05b1490597fc18a3622e0072,umb://document/e43115c4e4304045b413d2b1f9912fe6]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Quality]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>