<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2714519-61d1-4489-b786-cd5431e41a48" Alias="Sayani Harbe ITM – BA International Culinary Arts" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/SayaniHarbeITMBAInternationalCulinaryArts</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-05-21T13:53:09</CreateDate>
    <NodeName Default="Sayani Harbe ITM – BA International Culinary Arts" />
    <SortOrder>261</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/44d80d7c73cd4c25aec84c22e51ad269]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ac9e0d62c0df40b89f6f6cd930104311"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/ac9e0d62c0df40b89f6f6cd930104311",
      "image": "umb://media/dac3766a76f0495c93372c6c50bc5e82",
      "title": "",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p>Tell me about yourself and why you chose to study the BA Culinary Arts programme?</p>
<p>When I was in secondary school, studying in the eighth grade, I was very much interested in the culinary arts. But after I did 11th and 12th grade, I actually started working towards a career in architecture. My parents used to always tell me keep your passion away from the monetary side of things, don’t include both of these things together. So I was like, ok, architecture is something that I can relate to because my father is an engineer and my sister is studying architecture. They said it’s a good profession, and more women are interested in architecture because you can work from home. Later I realised that this was not the field that I am really intrigued or interested in.</p>
<p>Before joining ITM, I tried training in a hotel to make sure I was fit for this profession, and that’s when I realised it was for me. So I started pursuing my interests in culinary arts, and I was really intrigued by this course because ITM was the only college that offered a course in culinary arts whereas others were offering tourism and hotel management and hospitality, which I wasn’t interested in.</p>
<p>That’s interesting that you spent time in a hotel before you came here. Did you decide you want to work on the practical/food preparation side – did you do that in the hotel?</p>
<p>Yes, in the hotel I worked in the pastry department.</p>
<p>And is that the particular area you’re passionate about?</p>
<p>Yes, I love patisserie. More than bakery, I’m much more interested in the confectionary department. I actually got a placement at Theobroma [a chain of bakeries patisseries, and chocolateries], which has outlets in several places across India.</p>
<p>What have you gained from this programme that has been particular beneficial to you?</p>
<p>All the modules were very beneficial. From food operations to food culture and society, the modules are all linked from farm to plate, which also touched on the adaptation process and also the climate diversity that we have in our country. It gave me a great insight into all the things we have to think about in the culinary industry.</p>
<p>Would you be interested in starting your own business?</p>
<p>I would love to have my own business, but first I really want to work in the industry, gain a lot of knowledge, know what’s up-and-coming in the market, and then I’d love to start my own business.</p>
<p>Would you be interested in studying or working abroad in the future?</p>
<p>I would love to study and work abroad as it would be a different cultural experience altogether. I actually did my industrial training in Sheraton Steamboat Resort in Colorado, USA, at the end of my fourth semester, and it was a beautiful experience - something I couldn’t have imagined. A consultancy came to college and the opportunity arose for me to do my training there.</p>
<p>Initially, they put me in the food preparation area, and then I was placed at the salad station, pizza station, etc. They didn’t have a pastry station but when I said I had those skills they gave me some recipes and allowed me to make desserts and pastries for Valentine’s Day.</p>
<p>What advice would you give to someone about to start the programme?</p>
<p>I would recommend they join. It’s a cultural exchange – modules aren’t something we do in the Indian education system, they’re all about research and analysis, and we Indians as students aren’t used to that. This is about doing things on your own. In a way, this was a different experience – a very valuable experience – as this may help students who want to pursue an education in foreign countries.</p>
<p> </p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Nerul Campus, Sector 4, Khargar, Navi Mumbai ]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[ITM – BA International Culinary Arts ]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Sayani Harbe ]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[[]]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Sayani Harbe tells their story of studying at ITM partnered with Queen Margaret University Edinburgh.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Sayani Harbe ]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[I was really intrigued by this course because ITM was the only college that offered a course in culinary arts whereas others were offering tourism and hotel management and hospitality, which I wasn’t interested in.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Sayani Harbe ITM – BA International Culinary Arts ]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Case study"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>