<?xml version="1.0" encoding="utf-8"?>
<Content Key="c56907ca-f383-41bf-9b6d-5778639c4a83" Alias="Funding Opportunities" Level="5">
  <Info>
    <Parent Key="2bc790c3-d3e6-4892-afee-0d8aecac3427">Alumni and Friends</Parent>
    <Path>/Settings/Navigation/MainNavigation/AlumniAndFriends/FundingOpportunities</Path>
    <Trashed>false</Trashed>
    <ContentType>navigationItem</ContentType>
    <CreateDate>2021-01-19T20:18:31</CreateDate>
    <NodeName Default="Funding Opportunities" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <link>
      <Value><![CDATA[[
  {
    "name": "Funding Opportunities",
    "url": "/alumni-and-friends/funding-opportunities-for-current-students/"
  }
]]]></Value>
    </link>
  </Properties>
</Content>