<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6e96e0e-2b5f-449a-b209-94dc1ce80f8c" Alias="Research &amp; Innovation" Level="4">
  <Info>
    <Parent Key="31a6cb02-71b6-4bde-8ebf-c9e7bc106064">QMYOU Magazine - April 2023 (Edition 90)</Parent>
    <Path>/Home/AlumniAndFriends/QMYOUMagazineApril2023Edition90/ResearchInnovation</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2022-03-24T13:02:24</CreateDate>
    <NodeName Default="Research &amp; Innovation" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="793fdbdc-4982-4bca-96be-86cd7d82393e">AlumniProfile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/fe2f4f1f2bda40cda8d912236df90b3c]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2b1a90b623324cf499f95450201e32b5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/2b1a90b623324cf499f95450201e32b5",
      "image": "umb://media/fe2f4f1f2bda40cda8d912236df90b3c",
      "title": "Research & Innovation",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p><span class="lead-big">Combining research with gaming helps us understand people’s views on climate issues</span></p>
<p><strong>THE ESCALATING CLIMATE crisis may be one of the most important political issues governments currently face. Annual Climate Conferences, such as the COP27, are now recognisable and significant events in the political calendar. However, as the issues maintain their controversial reputation, canvassing the opinions and biases of people </strong><strong>becomes more important than ever before. We spoke to one academic, Dr Kristen Knowles, about her ongoing research to use short interactive games to canvass people’s thoughts on climate issues. The research specifically looks at unconscious </strong><strong>biases people may have towards, not just climate issues, but all kinds of important social topics.</strong></p>
<p>Dr Kristen Knowles is Senior Lecturer in Psychology at Queen Margaret University. She has a background in researching social perception - the way we perceive other people, our social world and the world around us.</p>
<p>Recently Dr Knowles has been working with Scottish games developer Playmob Labs to <br>create a new way to survey people’s feelings about the climate crisis. The company produces surveys for Freemium mobile games. These surveys are often used for market research purposes for large companies such as Burberry, TSB and even the United Nations. The surveys appear on screen while people are playing a Freemium game. To incentivise the player to conduct the survey, they are offered in-game currency or extra lives which allow them to progress in the game.</p>
<p>For years, Playmob Labs has been working alongside the United Nations to put surveys about climate issues in Freemium well-known games like ‘Clash of Clans’ and ‘Angry <br>Birds’. However, now Playmob Labs and Dr Knowles have been working to create, not a survey but a “minigame”, which can be placed inside Freemium games. These minigames will catalogue people’s implicit feelings towards crucial social issues like the <br>climate crisis. </p>
<p>Funded with an Innovation Voucher from the Scottish Funding Council, this ‘minigames’ research project involves users sorting different words related to both the natural and engineered world into categories that relate to them personally. By doing so, the <br>responses can demonstrate how deeply the players connect their own lives with the natural world. This then helps indicate their beliefs about the environment.</p>
<p>Dr Knowles describes these minigames:</p>
<?UMBRACO_MACRO macroAlias="Quote" text="We started developing a game that could be inserted in a pop-up space on screen. We called it a minigame because it’s designed to be played in less than 60 seconds. We wanted the way people played the game to reflect their core beliefs about the environment. Our challenge was to get an implicit judgment rather than an explicit statement about their beliefs." source="" sourceExtra="" />
<p>Dr Knowles explained the process: “We created a word sorting task. A word would appear in the middle of the screen and the player chooses to swipe them into a bucket on either side. We would measure people’s implicit assumptions based on the speed <br>they sorted the words and the number of mistakes they made. The words were a mixture of four categories: things that relate to (1) yourself, (2) other people, (3) the natural world, and (4) the built environment. During the swiping process, the player matches up words that describe themselves - like ‘me’, or ‘I’ or ‘mine’, with something that describes the natural world - like ‘forest’, ‘birdlife, or ‘river’. People’s skill at grouping these terms together could say something about how they view their place <br>in the natural world and whether they are conscious environmentalists.”</p>
<p>As part of the research process, the minigames were initially trialled with 500 people <br>in a stand alone study to see how successful they were in predicting people’s attitudes <br>towards climate change.</p>
<p>Freemium games have a massive international player base and the reach of games, along with the potential to break a lot of socioeconomic barriers, is extraordinary. Dr <br>Knowles explained:</p>
<?UMBRACO_MACRO macroAlias="Quote" text="It’s mind boggling that the research I do could potentially show up in massive games like Angry Birds or Pokémon Go. It’s allowed us to canvass people’s
opinions on a scale that is not usually possible in traditional academic research." source="" sourceExtra="" />
<p>She continued: “These games are free, so players don't have to pay lots of money <br>to engage with them on their phone. Being able to survey people from diverse populations, who may not normally access traditional survey methods, is a gamechanger!</p>
<p>“In the UK, there is a panel which completes surveys for companies like YouGov and ICM. These traditional polling companies use around 1000 people, but we can potentially reach 100,000 people in Senegal - that's really cool!</p>
<?UMBRACO_MACRO macroAlias="Quote" text="In terms of gathering the opinions of more people from different geographical and socio-economic backgrounds, it has the potential to involve people in conversations on the climate crisis who are usually overlooked but also disproportionately more likely to be impacted by it." source="" sourceExtra="" />
<p>Dr Knowles aims to take the research to the next stage by securing a PhD studentship to collaborate further with the United Nations. It is her hope that the minigames model could become a part of the United Nations’ wider strategy to canvas people’s opinions on other critical issues affecting society.</p>]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Research & Innovation]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[QMYOU Magazine - April 2023 (Edition 90)]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Combining research with gaming helps us understand people’s views on climate issues]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Research & Innovation | QMYou Magazine | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[Research & Innovation]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Research & Innovation]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>