<?xml version="1.0" encoding="utf-8"?>
<Content Key="c71082dc-3701-4cbe-b46b-db304532da73" Alias="Manage Your Studies" Level="4">
  <Info>
    <Parent Key="269009e5-b5de-49f8-a6f7-69ec982db3ef">Current Students General Information</Parent>
    <Path>/Home/CurrentStudents/CurrentStudentsGeneralInformation/ManageYourStudies</Path>
    <Trashed>false</Trashed>
    <ContentType>generalLandingPage</ContentType>
    <CreateDate>2021-02-04T11:45:11</CreateDate>
    <NodeName Default="Manage Your Studies" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2d105c-dfa8-42d8-8bd5-cf850a36952d">GeneralLandingPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/51ae3889b758413fa1352001e43a990f]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2e6906b93b5144e9940f2203ff924f04"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/2e6906b93b5144e9940f2203ff924f04",
      "image": "umb://media/fe34a88be15f4b7c9bfc86249b88a5a0",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[umb://document/3df082ba3cfa4c78a1b4eeefa4527d69]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Manage Your Studies]]></Value>
    </displayTitle>
    <focusPanel>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6b70ef0f74714d10a42b52ecd2267dfd"
      },
      {
        "contentUdi": "umb://element/1359a423d2484b899ebd24d348afbdad"
      },
      {
        "contentUdi": "umb://element/910fe460be40486996e4c4af5536511b"
      },
      {
        "contentUdi": "umb://element/c8519ba8601c40d28f3bf14d3b8844c9"
      },
      {
        "contentUdi": "umb://element/2689e5b7f8e34368a377147f38ad6e43"
      },
      {
        "contentUdi": "umb://element/f34f5062bb1a430281ec4516a7c202a7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/6b70ef0f74714d10a42b52ecd2267dfd",
      "title": "Manage Your Details ",
      "content": "<p>Updating your student record, smartcard information, letter requests, council tax and recognition of prior learning.</p>",
      "image": "umb://media/7ce63cf5cf26422e92ace518bcff16f6",
      "link": "[{\"name\":\"Manage Your Details\",\"udi\":\"umb://document/0396bc3cd6504f03926266507c183c79\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/1359a423d2484b899ebd24d348afbdad",
      "title": "Module Registration",
      "content": "<p>Information to help you register for modules on your course.</p>",
      "image": "umb://media/34a803c5027a47418d6ccdf53d668429",
      "link": "[{\"name\":\"Module Registration\",\"udi\":\"umb://document/63a6f4fae083445bb44985dd996e295c\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/910fe460be40486996e4c4af5536511b",
      "title": "Your Module and Course Record",
      "content": "<p>Forms to change a module, programme or the deferral of a module.</p>",
      "image": "umb://media/d24a7c78389e41bca7fff2e12f78b386",
      "link": "[{\"name\":\"Your Module and Course Record\",\"udi\":\"umb://document/ff23937b2beb4e88b743d6821b6415e2\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/c8519ba8601c40d28f3bf14d3b8844c9",
      "title": "Placement Help ",
      "content": "<p>Practice based learning, SAAS placement expenses and clinical feedback.</p>",
      "image": "umb://media/a804bea020294a28a72c756d0fad402f",
      "link": "[{\"name\":\"Placements\",\"udi\":\"umb://document/25288978ad10479db5dda4990d152525\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/2689e5b7f8e34368a377147f38ad6e43",
      "title": "Extenuating Circumstances",
      "content": "<p>Guidance and the required form.</p>",
      "image": "umb://media/4f13f043e3444f0896111bac7aff78b8",
      "link": "[{\"name\":\"Extenuating Circumstances\",\"udi\":\"umb://document/bf490cabaf4f4791ac49cd1dc71cb241\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/f34f5062bb1a430281ec4516a7c202a7",
      "title": "Guidance for UKVI Students",
      "content": "<p>For any student studying in the UK with a Visa or other immigration status.</p>",
      "image": "umb://media/a1ffe42e16b340c3944bc2963a4be8d1",
      "link": "[{\"name\":\"UKVI Guidance for Students\",\"udi\":\"umb://document/a5e888004df1460a935314e89a832ec2\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </focusPanel>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Manage Your Studies]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Manage Your Studies | Current Students | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bcabe4ed413432f58d1c439bc6eb127c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9eed20a0-b3f3-47c8-8fae-82f763de3e32",
      "udi": "umb://element/bcabe4ed413432f58d1c439bc6eb127c",
      "title": "",
      "usefuls": [
        {
          "icon": "icon-layout color-indigo",
          "name": "Thinking of Leaving",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/367989c32a214fe38a5da81d27b016ca",
          "url": "/current-students/thinking-of-leaving/"
        },
        {
          "icon": "icon-thumbnails-small color-indigo",
          "name": "Services for Students",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/8d6c3c6705754477886a789c3bb955c3",
          "url": "/study-here/services-for-students/"
        }
      ],
      "useDarkTheme": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Manage Your Studies]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>