<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8e7e6e1-c46a-4673-be27-c7d8686dd396" Alias="Wellness Walks" Level="3">
  <Info>
    <Parent Key="a713799d-e020-4325-bb06-3efbd482f213">Location and Getting Here</Parent>
    <Path>/Home/LocationAndGettingHere/WellnessWalks</Path>
    <Trashed>false</Trashed>
    <ContentType>generalLandingPage</ContentType>
    <CreateDate>2021-02-09T11:51:45</CreateDate>
    <NodeName Default="Wellness Walks" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2d105c-dfa8-42d8-8bd5-cf850a36952d">GeneralLandingPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/f31eff8974b14880864a97f42d361c6d]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/de2dd2dc52534bf8adae095dbb361361"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/de2dd2dc52534bf8adae095dbb361361",
      "image": "umb://media/b84e7aa39cec4d2ea0c79fb3fbaf43a0",
      "title": "A breath of fresh air",
      "description": "Just moments from QMU's campus",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>We've pulled together a collection of beautiful walking routes for you, perfect for a cycle, jog or stroll. Ranging from 30 minutes to over three hours, you can choose your own adventure based on the time and energy you have to spare.</p>
<p>Each route comes with clear instructions, a downloadable map and a suggested podcast to plug into during your walk, run or cycle. So lace up your shoes, grab your helmet and get ready to explore. </p>]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[umb://document/54dc869eab3a4ab286085fad603bfda8]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Wellness Walks]]></Value>
    </displayTitle>
    <focusPanel>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/17fadf68025248ce8f7c267678627047"
      },
      {
        "contentUdi": "umb://element/874cb8b3282142d98bc477750cbab99f"
      },
      {
        "contentUdi": "umb://element/56c54d7992334143b213f66b4608ea89"
      },
      {
        "contentUdi": "umb://element/41c1808397874c86a35426c99a7c06da"
      },
      {
        "contentUdi": "umb://element/10bf84504eaa476a9909077407a8b193"
      },
      {
        "contentUdi": "umb://element/08df8dc8187b4a39ba677c1fcc9e740c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/17fadf68025248ce8f7c267678627047",
      "title": "Dalkeith Country Park",
      "content": "",
      "image": "umb://media/4c85abfe58c5434f8b92d9dc7ca5d647",
      "link": "[{\"name\":\"Dalkeith Country Park\",\"udi\":\"umb://document/6ee7ce1231f54257abe4ea87191f5eb6\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/874cb8b3282142d98bc477750cbab99f",
      "title": "Esk River",
      "content": "",
      "image": "umb://media/a19019b1bc124c8880f7988a31e3c17c",
      "link": "[{\"name\":\"Esk River\",\"udi\":\"umb://document/e4139a2f1e4442388380addbde0e01ba\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/56c54d7992334143b213f66b4608ea89",
      "title": "Suds Pond",
      "content": "",
      "image": "umb://media/15eadcfa88cc4f69a36e1e754458e30b",
      "link": "[{\"name\":\"Suds Pond\",\"udi\":\"umb://document/357a34168f3449ed90271a88e55b6df1\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/41c1808397874c86a35426c99a7c06da",
      "title": "Newhailes Estate",
      "content": "",
      "image": "umb://media/294c0e23092f4909b3c502b3e17139f9",
      "link": "[{\"name\":\"Newhailes Estate\",\"udi\":\"umb://document/c3ed78bec975460288275b1c9d99daf6\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/10bf84504eaa476a9909077407a8b193",
      "title": "Craigmillar Castle",
      "content": "",
      "image": "umb://media/78adc9df93944a0a8f6183a89bd2fd71",
      "link": "[{\"name\":\"Craigmillar Castle\",\"udi\":\"umb://document/c113dc8b86964dadbd1c591c5b81f4d4\"}]"
    },
    {
      "contentTypeKey": "010f1238-a352-48ff-8dbe-0c171eee3a02",
      "udi": "umb://element/08df8dc8187b4a39ba677c1fcc9e740c",
      "title": "Brunstane Fields",
      "content": "",
      "image": "umb://media/e978b5c94df3410f9babdc8f2fb6afb2",
      "link": "[{\"name\":\"Brunstane Fields\",\"udi\":\"umb://document/4c5970616df34bc4b8eb696783ac6b95\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </focusPanel>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>Gentle exercise is one of the best things you can do for your physical and mental health. Queen Margaret University campus is ideally located to explore some of Edinburgh and East Lothian's most scenic routes by bike and foot.</strong></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Get outdoors and explore]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Wellness Walks | Queen Margaret University Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e99576dc97ee3b62ae59acda445eac46"
      },
      {
        "contentUdi": "umb://element/061b61614f693081bd7577804347e1b5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9eed20a0-b3f3-47c8-8fae-82f763de3e32",
      "udi": "umb://element/e99576dc97ee3b62ae59acda445eac46",
      "title": "Useful Links",
      "usefuls": [
        {
          "icon": "icon-link",
          "name": "cyclestreets.net",
          "published": true,
          "queryString": null,
          "target": "_blank",
          "trashed": false,
          "udi": null,
          "url": "https://www.cyclestreets.net/"
        },
        {
          "icon": "icon-link",
          "name": "Paths for All",
          "published": true,
          "queryString": null,
          "target": "_blank",
          "trashed": false,
          "udi": null,
          "url": "https://www.pathsforall.org.uk/"
        }
      ],
      "useDarkTheme": "0"
    },
    {
      "contentTypeKey": "6298d354-94e1-4d1e-b1c2-7710812ddbae",
      "udi": "umb://element/061b61614f693081bd7577804347e1b5",
      "facebook": "https://www.facebook.com/cycleconnections/",
      "twitter": "https://twitter.com/QMUcycle",
      "instagram": "https://www.instagram.com/qmucycle/",
      "linkedIn": "",
      "youTube": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/a713799de0204325bb063efbd482f213,umb://document/a6b6205e0dc64da1b1a68a080a8fc542,umb://document/8d2f92c8533d41ec9baa7182c2a76a9b,umb://document/35f6be9d3cfe4664b7ffe6d54165c449]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Wellness Walks]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>