<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce235fa3-6522-4c3d-baa7-a6d47d6327d6" Alias="2017.04.14 - Interview with MSc Dietetics student, Dominique Glatt" Level="5">
  <Info>
    <Parent Key="5ec60e7e-de76-4127-aaea-18ddb982220d">2017</Parent>
    <Path>/Home/NewsAndEvents/News//InterviewWithMScDieteticsStudentDominiqueGlatt</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T15:37:14</CreateDate>
    <NodeName Default="2017.04.14 - Interview with MSc Dietetics student, Dominique Glatt" />
    <SortOrder>82</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/d77f0794459444dd8877b42614e89b8c]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d657d97b58bb4cf1961a05ab398d8d36"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/d657d97b58bb4cf1961a05ab398d8d36",
      "image": "umb://media/ff4c1a364c044af5858cf79fe956be40",
      "title": "2017.04.14 - Interview with MSc Dietetics student, Dominique Glatt",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p class="txtMainBlack">Before coming to study at QMU, Dominique completed an undergraduate degree in Biology at the University of Virginia in the USA, where she was first introduced to the study of nutrition and dietetics. To support her studies, Dominique was appointed as a laboratory technician in a cardiovascular disease (CVD) research laboratory and as a teaching assistant for the introductory Human Nutrition course at the University of Virginia.</p>
<p class="txtMainBlack">Dominique also has an MSc Human Nutrition and Metabolism from the University of Aberdeen, as well as work experience as a research assistant for the Rowett Institute and as a researcher for Aberdeen-based biotech company, Scotia Biologics Ltd.</p>
<p class="txtMainBlack"><strong>Why did you decide to study MSc Dietetics at QMU? </strong></p>
<p class="txtMainBlack">Nutrition has always fascinated me. As an undergraduate it was more from a scientific perspective, but as I continued to study nutrition I became more aware of the gap between the researcher and the public, which I wanted to explore.</p>
<p class="txtMainBlack">The MSc Human Nutrition and Metabolism gave me the foundation to become a nutritionist. However, to become a nutritional expert and be able to treat and nutritionally diagnose patients, I knew I would need a degree in dietetics. I was also looking for opportunities that are available as a qualified and registered dietitian, to work within the NHS or have my own clients one day.</p>
<p class="txtMainBlack">QMU makes a significant contribution to nutritional research in Scotland and the world. It advances professional practice, including dietetics, by providing solid foundations for evidence-based practice, making its research not only notable but directly beneficial to healthcare and the wider public. The University is also a true practitioner of service-based research, with QMU’s eResearch programme further promoting free public access to published research.</p>
<p class="txtMainBlack">QMU’s purpose-built campus is easily commutable by train from Edinburgh city centre, where I live, and allows me to work and study in a supportive and friendly environment.</p>
<p class="txtMainBlack"><strong>How do you think the MSc Dietetics is equipping you with the knowledge and skills to pursue your chosen career? </strong></p>
<p class="txtMainBlack">The MSc Dietetics has pushed my boundaries in all directions. I have gone from researcher to healthcare practitioner. It has fulfilled all of my hopes of what the course would teach me, from developing nutritional interventions to diet analysis. It has also given me the practical experience and skills to go confidently into the dietetic world through 26 weeks of external placement within the NHS. It’s challenging at times, but I personally never feel like you are learning if something is too easy.</p>
<p class="txtMainBlack"><strong>What support have you had studying at QMU? </strong></p>
<p class="txtMainBlack">My Personal Academic Tutor (PAT) gave me all of the reassurance I needed during the teaching part of the course and was always there if I needed a chat. The course supervisors and teachers always make themselves available for any queries and even e-mail us about job or volunteering opportunities.</p>
<p class="txtMainBlack">While on placement, you also have the constant guidance and input from your supervising dietitians. I am now entering the MSc project portion of the degree and my supervisor is always there if needed.</p>
<p class="txtMainBlack">This is an MSc degree, so there is an emphasis on independent study, but I‘ve always found QMU staff to respond very quickly and are willing to help.</p>
<p class="txtMainBlack"><strong>What is your favourite part of the MSc Dietetics programme? </strong></p>
<p class="txtMainBlack">I would say the final work placement was my favourite part of the course. I got to practice independently as a student dietitian and everything I’d been taught over the past year came together. It was really exciting and enjoyable and I knew I’d made the right choice by studying dietetics.</p>
<p class="txtMainBlack"><strong>Are you working whilst studying?</strong></p>
<p class="txtMainBlack">Me and my classmates are doing some freelance nutrition writing for a website, which takes up around eight hours per month.</p>
<p class="txtMainBlack"><strong>Would you recommend QMU to future dietetics students and why? </strong></p>
<p class="txtMainBlack">Yes, 100%. QMU is one of only two Scottish universities to offer a masters in dietetics and it provides the excellent education required to become a progressive dietetic practitioner.</p>
<p class="txtMainBlack"><strong>What are your plans after graduating from QMU?</strong></p>
<p class="txtMainBlack">In the short-term, I’d like to practice as a dietitian either in the NHS or private healthcare. In the long-term, I want to pursue the possibility of a PhD studentship and continue in dietetic research. One day I’d like to teach or work for a non-profit organisation to help with the progression of the dietetic profession and expand society’s knowledge of nutrition.</p>
<p class="txtMainBlack"><a href="/study-here/postgraduate-study/2022/msc-dietetics-pre-registration/" title="MSc Dietetics"><span class="blue-btn">MSc Dietetics</span></a></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2017-04-14T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Interview with MSc Dietetics student, Dominique Glatt ]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Dominique Glatt, 28, from Tweedsmuir in the Scottish Borders, is currently studying MSc Dietetics at QMU.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Dominique Glatt, 28, from Tweedsmuir in the Scottish Borders, is currently studying MSc Dietetics at QMU.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Interview with MSc Dietetics student, Dominique Glatt ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p><em>For further media information contact Lynne Russell, Marketing Manager, Queen Margaret University, Edinburgh, E: </em><a href="mailto:lrussell@qmu.ac.uk"><em>lrussell@qmu.ac.uk</em></a><em>  T: 0131 474 0000, M: 07711 011239 and Jon Perkins, Press and PR Officer, E: </em><a href="mailto:jperkins@qmu.ac.uk"><em>jperkins@qmu.ac.uk</em></a><em> T: 0131 474 0000. </em></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Interview with MSc Dietetics student, Dominique Glatt ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>