<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf49d950-de16-4ed3-adc3-8a0234d7d467" Alias="Balance sheets as at 31 July 2023" Level="4">
  <Info>
    <Parent Key="30dcc59d-cbbc-44a9-beae-9c29b2a752d0">QMU Strategic Report and Financial Statements 2023</Parent>
    <Path>/Home/Finance/QMUStrategicReportAndFinancialStatements2023/BalanceSheetsAsAt31July2023</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-01-31T16:18:28</CreateDate>
    <NodeName Default="Balance sheets as at 31 July 2023" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e0fd3f3bdc0c4d1a9e0e349bf657bbd9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/e0fd3f3bdc0c4d1a9e0e349bf657bbd9",
      "image": "umb://media/d9348bd929454fbca712d38d5401f705",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<table border="1" style="border-collapse: collapse; width: 100%; height: 648px;">
<thead>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;"> </td>
<td style="width: 11.1539%; text-align: center; height: 18px;"> </td>
<td colspan="2" style="width: 28.3334%; height: 18px; text-align: center;"><strong>Consolidated</strong></td>
<td colspan="2" style="width: 27.3078%; height: 18px; text-align: center;"><strong>University</strong></td>
</tr>
</thead>
<tbody>
<tr>
<td style="width: 33.2051%;"> </td>
<td style="width: 11.1539%; text-align: center;">
<p> </p>
<p><strong>Note</strong></p>
</td>
<td style="width: 12.9487%; text-align: right;">
<p> </p>
<p><strong>2023</strong></p>
</td>
<td style="width: 15.3847%; text-align: right;">
<p><strong>(Restated)</strong></p>
<p><strong>2022</strong></p>
</td>
<td style="width: 11.6668%; text-align: right;">
<p> </p>
<p><strong>2023</strong></p>
</td>
<td style="width: 15.641%; text-align: right;">
<p><strong>(Restated)</strong></p>
<p><strong>2022</strong></p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;"> </td>
<td style="width: 11.1539%; text-align: center; height: 18px;"> </td>
<td style="width: 12.9487%; text-align: right; height: 18px;">£000</td>
<td style="width: 15.3847%; text-align: right; height: 18px;">£000</td>
<td style="width: 11.6668%; text-align: right; height: 18px;">£000</td>
<td style="width: 15.641%; text-align: right; height: 18px;">£000</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;">Non-current Assets</td>
<td style="width: 11.1539%; text-align: center; height: 18px;"> </td>
<td style="width: 12.9487%; text-align: right; height: 18px;"> </td>
<td style="width: 15.3847%; text-align: right; height: 18px;"> </td>
<td style="width: 11.6668%; text-align: right; height: 18px;"> </td>
<td style="width: 15.641%; text-align: right; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;">Intangible assets</td>
<td style="width: 11.1539%; text-align: center; height: 18px;">11</td>
<td style="width: 12.9487%; text-align: right; height: 18px;">664</td>
<td style="width: 15.3847%; text-align: right; height: 18px;">529</td>
<td style="width: 11.6668%; text-align: right; height: 18px;">664</td>
<td style="width: 15.641%; text-align: right; height: 18px;">529</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;">Tangible assets</td>
<td style="width: 11.1539%; text-align: center; height: 18px;">12</td>
<td style="width: 12.9487%; text-align: right; height: 18px;">136,641</td>
<td style="width: 15.3847%; text-align: right; height: 18px;">133,563</td>
<td style="width: 11.6668%; text-align: right; height: 18px;">136,641</td>
<td style="width: 15.641%; text-align: right; height: 18px;">133,563</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;">Investments</td>
<td style="width: 11.1539%; text-align: center; height: 18px;"> </td>
<td style="width: 12.9487%; text-align: right; height: 18px;">-</td>
<td style="width: 15.3847%; text-align: right; height: 18px;">-</td>
<td style="width: 11.6668%; text-align: right; height: 18px;">-</td>
<td style="width: 15.641%; text-align: right; height: 18px;">-</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;">Defined Benefit Pension Asset</td>
<td style="width: 11.1539%; text-align: center; height: 18px;">17</td>
<td style="width: 12.9487%; text-align: right; height: 18px;">24,147</td>
<td style="width: 15.3847%; text-align: right; height: 18px;">8,571</td>
<td style="width: 11.6668%; text-align: right; height: 18px;">24,147</td>
<td style="width: 15.641%; text-align: right; height: 18px;">8,571</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;"> </td>
<td style="width: 11.1539%; text-align: center; height: 18px;"> </td>
<td style="width: 12.9487%; text-align: right; height: 18px;">161,452</td>
<td style="width: 15.3847%; text-align: right; height: 18px;">142,663</td>
<td style="width: 11.6668%; text-align: right; height: 18px;">161,452</td>
<td style="width: 15.641%; text-align: right; height: 18px;">142,663</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;"> </td>
<td style="width: 11.1539%; text-align: center; height: 18px;"> </td>
<td style="width: 12.9487%; text-align: right; height: 18px;"> </td>
<td style="width: 15.3847%; text-align: right; height: 18px;"> </td>
<td style="width: 11.6668%; text-align: right; height: 18px;"> </td>
<td style="width: 15.641%; text-align: right; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;"> </td>
<td style="width: 11.1539%; text-align: center; height: 18px;"> </td>
<td style="width: 12.9487%; text-align: right; height: 18px;"> </td>
<td style="width: 15.3847%; text-align: right; height: 18px;"> </td>
<td style="width: 11.6668%; text-align: right; height: 18px;"> </td>
<td style="width: 15.641%; text-align: right; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;">Current assets</td>
<td style="width: 11.1539%; text-align: center; height: 18px;"> </td>
<td style="width: 12.9487%; text-align: right; height: 18px;"> </td>
<td style="width: 15.3847%; text-align: right; height: 18px;"> </td>
<td style="width: 11.6668%; text-align: right; height: 18px;"> </td>
<td style="width: 15.641%; text-align: right; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;">Trade and other receivables</td>
<td style="width: 11.1539%; text-align: center; height: 18px;">14</td>
<td style="width: 12.9487%; text-align: right; height: 18px;">2,703</td>
<td style="width: 15.3847%; text-align: right; height: 18px;">1,722</td>
<td style="width: 11.6668%; text-align: right; height: 18px;">3,163</td>
<td style="width: 15.641%; text-align: right; height: 18px;">2,007</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;">Cash at bank and in hand</td>
<td style="width: 11.1539%; text-align: center; height: 18px;"> </td>
<td style="width: 12.9487%; text-align: right; height: 18px;">17,450</td>
<td style="width: 15.3847%; text-align: right; height: 18px;">15,244</td>
<td style="width: 11.6668%; text-align: right; height: 18px;">16,606</td>
<td style="width: 15.641%; text-align: right; height: 18px;">14,670</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;">Totalling:</td>
<td style="width: 11.1539%; text-align: center; height: 18px;"> </td>
<td style="width: 12.9487%; text-align: right; height: 18px;">20,153</td>
<td style="width: 15.3847%; text-align: right; height: 18px;">16,966</td>
<td style="width: 11.6668%; text-align: right; height: 18px;">19,770</td>
<td style="width: 15.641%; text-align: right; height: 18px;">16,677</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;"> </td>
<td style="width: 11.1539%; text-align: center; height: 18px;"> </td>
<td style="width: 12.9487%; text-align: right; height: 18px;"> </td>
<td style="width: 15.3847%; text-align: right; height: 18px;"> </td>
<td style="width: 11.6668%; text-align: right; height: 18px;"> </td>
<td style="width: 15.641%; text-align: right; height: 18px;"> </td>
</tr>
<tr style="height: 36px;">
<td style="width: 33.2051%; height: 36px;">Creditors: amounts falling due within one year</td>
<td style="width: 11.1539%; text-align: center; height: 36px;">15</td>
<td style="width: 12.9487%; text-align: right; height: 36px;">(10,195)</td>
<td style="width: 15.3847%; text-align: right; height: 36px;">(9,934)</td>
<td style="width: 11.6668%; text-align: right; height: 36px;">(9,812)</td>
<td style="width: 15.641%; text-align: right; height: 36px;">(9,645)</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;"> </td>
<td style="width: 11.1539%; text-align: center; height: 18px;"> </td>
<td style="width: 12.9487%; text-align: right; height: 18px;"> </td>
<td style="width: 15.3847%; text-align: right; height: 18px;"> </td>
<td style="width: 11.6668%; text-align: right; height: 18px;"> </td>
<td style="width: 15.641%; text-align: right; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;">Net current assets / (liabilities)</td>
<td style="width: 11.1539%; text-align: center; height: 18px;"> </td>
<td style="width: 12.9487%; text-align: right; height: 18px;">9,958</td>
<td style="width: 15.3847%; text-align: right; height: 18px;">7,032</td>
<td style="width: 11.6668%; text-align: right; height: 18px;">9,958</td>
<td style="width: 15.641%; text-align: right; height: 18px;">7,032</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;"> </td>
<td style="width: 11.1539%; text-align: center; height: 18px;"> </td>
<td style="width: 12.9487%; text-align: right; height: 18px;"> </td>
<td style="width: 15.3847%; text-align: right; height: 18px;"> </td>
<td style="width: 11.6668%; text-align: right; height: 18px;"> </td>
<td style="width: 15.641%; text-align: right; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;">Total assets less current liabilities</td>
<td style="width: 11.1539%; text-align: center; height: 18px;"> </td>
<td style="width: 12.9487%; text-align: right; height: 18px;">171,410</td>
<td style="width: 15.3847%; text-align: right; height: 18px;">149,695</td>
<td style="width: 11.6668%; text-align: right; height: 18px;">171,140</td>
<td style="width: 15.641%; text-align: right; height: 18px;">149,695</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;">Creditors: amounts falling due after more than one year</td>
<td style="width: 11.1539%; text-align: center; height: 18px;">16</td>
<td style="width: 12.9487%; text-align: right; height: 18px;">(23,139)</td>
<td style="width: 15.3847%; text-align: right; height: 18px;">(25,296)</td>
<td style="width: 11.6668%; text-align: right; height: 18px;">(23,139)</td>
<td style="width: 15.641%; text-align: right; height: 18px;">(25,296)</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;">Provisions for liabilities and charges</td>
<td style="width: 11.1539%; text-align: center; height: 18px;">17</td>
<td style="width: 12.9487%; text-align: right; height: 18px;">(4,163)</td>
<td style="width: 15.3847%; text-align: right; height: 18px;">(3,915)</td>
<td style="width: 11.6668%; text-align: right; height: 18px;">(4,163)</td>
<td style="width: 15.641%; text-align: right; height: 18px;">(3,915)</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;"> </td>
<td style="width: 11.1539%; text-align: center; height: 18px;"> </td>
<td style="width: 12.9487%; text-align: right; height: 18px;"> </td>
<td style="width: 15.3847%; text-align: right; height: 18px;"> </td>
<td style="width: 11.6668%; text-align: right; height: 18px;"> </td>
<td style="width: 15.641%; text-align: right; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;"><strong>Net Assets</strong></td>
<td style="width: 11.1539%; height: 18px; text-align: center;"> </td>
<td style="width: 12.9487%; height: 18px; text-align: right;"><strong>144,108</strong></td>
<td style="width: 15.3847%; height: 18px; text-align: right;"><strong>120,484</strong></td>
<td style="width: 11.6668%; height: 18px; text-align: right;"><strong>144,108</strong></td>
<td style="width: 15.641%; height: 18px; text-align: right;"><strong>120,484</strong></td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;"> </td>
<td style="width: 11.1539%; height: 18px; text-align: center;"> </td>
<td style="width: 12.9487%; height: 18px; text-align: right;"> </td>
<td style="width: 15.3847%; height: 18px; text-align: right;"> </td>
<td style="width: 11.6668%; height: 18px; text-align: right;"> </td>
<td style="width: 15.641%; height: 18px; text-align: right;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;"><strong>Restricted Reserves</strong></td>
<td style="width: 11.1539%; height: 18px; text-align: center;"> </td>
<td style="width: 12.9487%; height: 18px; text-align: right;"> </td>
<td style="width: 15.3847%; height: 18px; text-align: right;"> </td>
<td style="width: 11.6668%; height: 18px; text-align: right;"> </td>
<td style="width: 15.641%; height: 18px; text-align: right;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;">Income &amp; expenditure reserve - endowment reserve</td>
<td style="width: 11.1539%; height: 18px; text-align: center;">18</td>
<td style="width: 12.9487%; height: 18px; text-align: right;">1,152</td>
<td style="width: 15.3847%; height: 18px; text-align: right;">1,219</td>
<td style="width: 11.6668%; height: 18px; text-align: right;">1,152</td>
<td style="width: 15.641%; height: 18px; text-align: right;">1,219</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;"> </td>
<td style="width: 11.1539%; height: 18px; text-align: center;"> </td>
<td style="width: 12.9487%; height: 18px; text-align: right;"> </td>
<td style="width: 15.3847%; height: 18px; text-align: right;"> </td>
<td style="width: 11.6668%; height: 18px; text-align: right;"> </td>
<td style="width: 15.641%; height: 18px; text-align: right;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;"><strong>Unrestricted Reserves</strong></td>
<td style="width: 11.1539%; height: 18px; text-align: center;"> </td>
<td style="width: 12.9487%; height: 18px; text-align: right;"> </td>
<td style="width: 15.3847%; height: 18px; text-align: right;"> </td>
<td style="width: 11.6668%; height: 18px; text-align: right;"> </td>
<td style="width: 15.641%; height: 18px; text-align: right;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;">Income &amp; expenditure reserve - unrestricted</td>
<td style="width: 11.1539%; height: 18px; text-align: center;"> </td>
<td style="width: 12.9487%; height: 18px; text-align: right;">54,058</td>
<td style="width: 15.3847%; height: 18px; text-align: right;">38,374</td>
<td style="width: 11.6668%; height: 18px; text-align: right;">54,058</td>
<td style="width: 15.641%; height: 18px; text-align: right;">38,374</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;">Revaluation reserve</td>
<td style="width: 11.1539%; height: 18px; text-align: center;">19</td>
<td style="width: 12.9487%; height: 18px; text-align: right;">88,898</td>
<td style="width: 15.3847%; height: 18px; text-align: right;">80,891</td>
<td style="width: 11.6668%; height: 18px; text-align: right;">88,898</td>
<td style="width: 15.641%; height: 18px; text-align: right;">80,891</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;"> </td>
<td style="width: 11.1539%; height: 18px; text-align: center;"> </td>
<td style="width: 12.9487%; height: 18px; text-align: right;"> </td>
<td style="width: 15.3847%; height: 18px; text-align: right;"> </td>
<td style="width: 11.6668%; height: 18px; text-align: right;"> </td>
<td style="width: 15.641%; height: 18px; text-align: right;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.2051%; height: 18px;"><strong>Total Reserves</strong></td>
<td style="width: 11.1539%; height: 18px; text-align: center;"> </td>
<td style="width: 12.9487%; height: 18px; text-align: right;"><strong>144,108</strong></td>
<td style="width: 15.3847%; height: 18px; text-align: right;"><strong>120,484</strong></td>
<td style="width: 11.6668%; height: 18px; text-align: right;"><strong>144,108</strong></td>
<td style="width: 15.641%; height: 18px; text-align: right;"><strong>120,484</strong></td>
</tr>
</tbody>
</table>
<p> </p>
<p>Queen Margaret University, Edinburgh</p>
<p>Company registered in Scotland no. SC007335</p>
<p>The financial statements on pages 26 to 54 were approved by the University Court on 13th December 2023 and signed on its behalf by:</p>
<p>Chair - Pamela Woodburn</p>
<p>Chair Principal and Vice-Chancellor - Sir Paul Grice</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Balance sheets as at 31st July 2023]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p> </p>
<p> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Balance sheets as at 31st July 2023]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU Strategic Report and Financial Statements 2023 | Balance Sheets | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Balance Sheets]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>