<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf745a12-c1c6-42e9-8fe7-7648ded7a5d1" Alias="2016.09.15-1 - Global health academic" Level="5">
  <Info>
    <Parent Key="ac4dc403-ec85-4439-845b-de25b485c66d">2016</Parent>
    <Path>/Home/NewsAndEvents/News//GlobalHealthAcademic</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T13:00:02</CreateDate>
    <NodeName Default="2016.09.15-1 - Global health academic" />
    <SortOrder>100</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f8120a5b76cc4720857b69c2a5ccfafc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/f8120a5b76cc4720857b69c2a5ccfafc",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "Global health academic teams up with Scottish Government to help integrate refugees",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The 'Sharing lives and languages' programme helps new refugees and established residents to break down barriers of language and trust.  Local communities around Scotland will be supported to create 'peer education' groups where locals and new refugees work together for a few months to identify and tackle concerns that they share.</p>
<p>Last week, the Scottish Government marked the one year anniversary of the setting up of the Refugee Taskforce and the Syrian Resettlement programme with a debate at the Scottish Parliament. This included an announcement by Angela Constance, Cabinet Secretary for Communities, Social Security and Equalities, about the launch of the new Peer Education ESOL (English for Speakers of Other Languages) and Social Networks programme. The £86,000 scheme, which was conceived by Dr Alison Strang, from the Institute for Global Health and Development at Queen Margaret University, and developed in collaboration with Scottish Government, Education Scotland and Scottish Refugee Council, is based on extensive research on refugee integration, social connections and peer education.</p>
<p>Dr Strang, who also leads the New Scots Strategy, the Scottish national strategy for refugee integration, said: “We are delighted that research work from the Institute for Global Health and Development team at Queen Margaret University is helping to shape government policy and improve the future for both refugees who are now settling into their new lives in Scotland, and the communities who are receiving them.</p>
<p>“We are pleased that the Scottish Government clearly acknowledges the importance on investing in social integration. Many people across Scotland have demonstrated their support for welcoming new refugees - particularly in this past year. This programme will involve a broad range of people - some of whom may not have anticipated how much they have in common with their new refugee neighbours - and will help make that welcome real. We look forward to working with partners (Scottish Government, Education Scotland and Scottish Refugee Council) to ensure the implementation of the scheme is a success.”</p>
<p>Over the last sixteen years, Dr Strang has worked extensively with refugees, asylum seekers and community groups with her involvement specifically concentrating on refugee resettlement. Her research has demonstrated the range of factors or 'indicators' critical to settlement and integration. She has examined the role of social networks in supporting integration and mental health. Over the past three years she has collaborated closely with Scottish Refugee Council and partners delivering the 'Holistic Integration Service' to report on the integration experiences of new refugees in Scotland. As Chair of the New Scots strategy Dr Strang will be steering the development of phase 2 of New Scots Strategy which will guide policy and practice beyond 2017.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2016-09-15T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Global health academic teams up with Scottish Government to help integrate refugees]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>A university expert in refugee integration has shaped a new Scottish Government programme which will help refugees settling in Scotland to make friends with local people and practise their English.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[A university expert in refugee integration has shaped a new Scottish Government programme which will help refugees settling in Scotland to make friends with local people and practise their English. The 'Sharing lives and languages' programme helps new refugees and established residents to break down barriers of language and trust.  Local communities around Scotland will be supported to create 'peer education' groups where locals and new refugees work together for a few months to identify and tackle concerns that they share.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Global health academic teams up with Scottish Government to help integrate refugees]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information contact Lynne Russell, Marketing Manager, Queen Margaret University, Edinburgh, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a>  T: 0131 474 0000, M: 07711 011239 and Jon Perkins, Press and PR Officer, E: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a> T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Global health academic teams up with Scottish Government to help integrate refugees]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>