<?xml version="1.0" encoding="utf-8"?>
<Content Key="cff3f47b-e082-44d6-820f-7c670a746482" Alias="Vietnam" Level="5">
  <Info>
    <Parent Key="b866e287-04b9-426b-8120-fbbd6cb4c832">Country</Parent>
    <Path>/Settings/Tags/GlobalTags/Country/Vietnam</Path>
    <Trashed>false</Trashed>
    <ContentType>countryTag</ContentType>
    <CreateDate>2023-10-23T15:20:53</CreateDate>
    <NodeName Default="Vietnam" />
    <SortOrder>42</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <country>
      <Value><![CDATA[Vietnam]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[umb://media/da1c944436cf4d10ba21d6f28af9a381]]></Value>
    </countryFlag>
  </Properties>
</Content>