<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0508cd8-bab4-4711-9941-4a70151b8570" Alias="2015.11.12 - French Film Festival" Level="5">
  <Info>
    <Parent Key="94c45b1a-49ef-4036-9be3-b5a4df2d2026">2015</Parent>
    <Path>/Home/NewsAndEvents/News//FrenchFilmFestival</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T11:43:09</CreateDate>
    <NodeName Default="2015.11.12 - French Film Festival" />
    <SortOrder>109</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/be353f988d3a4d059b29d9b918a13af9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/be353f988d3a4d059b29d9b918a13af9",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "French Film Festival in the limelight at QMU & Edinburgh Filmhouse ",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>QMU students and staff can view the short films for FREE at QMU from 2pm on 1st December. </p>
<p class="txtMainBlack">The films can be enjoyed by the public at the Edinburgh Filmhouse from 6pm on 2nd December.</p>
<p class="txtMainBlack">QMU will also host a FREE student only screening of new films from Lausanne Film School with the film-makers present from 2pm on 25th November.</p>
<p class="txtMainBlack">The UK’s only country-wide celebration of French and francophone cinema is expanding its horizons even further this year with more leading independent cinemas onboard and a programme that embraces Cannes award-winners, classic masterpieces, a celebration of Gaumont (the world’s oldest film company), new talents, student exchanges, schools screenings and a panoply of guests.</p>
<p class="txtMainBlack">Besides its main Scottish venues in Edinburgh (Filmhouse and Dominion) and Glasgow (GFT), the French Film Festival UK with the support of Institut français and Creative Scotland will organise screenings in Aberdeen, Dundee, Inverness, Kirkcaldy and Hawick. Visit the <a href="https://frenchfilmfestival.org.uk/2021/" title="French Film Festival">French Film Festival website</a> for more information. </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2015-11-12T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[French Film Festival in the limelight at QMU & Edinburgh Filmhouse ]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Cannes award-winning film-maker and QMU Drama &amp; Performance lecturer, Irvine Allan, has curated and developed this year’s French Film Festival’s short film strand.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Cannes award-winning film-maker and QMU Drama & Performance lecturer, Irvine Allan, has curated and developed this year’s French Film Festival’s short film strand.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[French Film Festival in the limelight at QMU & Edinburgh Filmhouse]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information please contact Jonathan Perkins, Press and PR Officer, Queen Margaret University, Edinburgh, tel: 0131 474 0000, Email: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[French Film Festival in the limelight at QMU & Edinburgh Filmhouse ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>