<?xml version="1.0" encoding="utf-8"?>
<Content Key="d102efd7-e9bc-40b2-a05e-87e40287f197" Alias="Student Mental Health and Wellbeing Strategy 2022 - 2027" Level="6">
  <Info>
    <Parent Key="d5feb490-17f1-4750-89ec-93d5ab994fe1">Regulations, Policies and Procedures</Parent>
    <Path>/Home/AboutTheUniversity/Quality/CommitteesRegulationsPoliciesAndProcedures/RegulationsPoliciesAndProcedures/StudentMentalHealthAndWellbeingStrategy20222027</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-11-03T15:28:02</CreateDate>
    <NodeName Default="Student Mental Health and Wellbeing Strategy 2022 - 2027" />
    <SortOrder>54</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c4e9f6bf2ab347578499893ff934fd11"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/c4e9f6bf2ab347578499893ff934fd11",
      "image": "umb://media/f466940ea503450d8f796fb2e07722ab",
      "title": "Queen Margaret University ",
      "description": "Queen Margaret University outside exterior ",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p style="font-weight: 400;">The University and Students’ Union have worked in partnership to develop a Student Mental Health and Wellbeing Strategy that demonstrates a commitment to student mental health and wellbeing embedded within a whole university student experience.</p>
<p style="font-weight: 400;">The Strategy is informed by the Scottish Government Mental Health Strategy 2017-2027<sup>2</sup> and is taking steps towards a whole University approach to student mental health as guided by Universities UK Step Change – Mentally Healthy Universities Report 2020<sup>3</sup>.   It aligns itself with the QMU Strategy and Student Experience Strategy and supports QMU’s strategic plan for being a wellbeing university. QMU and the Students’ Union are committed to equality and diversity. They deliver services and support students in respect to the Equality Act 2010 and The Public Sector Equality Duty. </p>
<p style="font-weight: 400;">Our vision is to create an environment and culture that supports health and wellbeing in order to promote and strengthen the wellbeing of all students. It is vital that we provide a system of support for student mental health and wellbeing, which is proactive, cohesive and accessible to all students.</p>
<p style="font-weight: 400;">This Strategy presents a framework of actions related to how we will <strong>Promote</strong>, <strong>Prevent </strong>and <strong>Protect</strong> our student mental health and wellbeing and work in <strong>Partnership</strong> to improve student mental health.</p>
<p style="font-weight: 400;"><span class="lead">Defining mental health and wellbeing</span></p>
<p style="font-weight: 400;"><strong> </strong>Mental health refers to a full spectrum of experience ranging from good mental health to mental illness. It is a continuum with good mental health allowing us to manage challenges we may face utilising resourcefulness and strategies in order to cope.  Good mental health means more than the absence of illness. It will refer to a dynamic state of internal equilibrium in which an individual experiences regular enduring positive feelings, thoughts and behaviours, can respond appropriately to normal negative emotions and situations and is able to make a positive contribution to their community.<em>[1]</em></p>
<p><em>[1]Hughes, G. &amp; Spanner, L. (2019). The University Mental Health Charter. Leeds: Student Minds</em></p>
<p style="font-weight: 400;">Wellbeing encompasses a wider framework, of which mental health is an integral part, but which also includes physical and social wellbeing.</p>
<p style="font-weight: 400;">QMU and The Students’ Union value the role played by the 5 ways to wellbeing in</p>
<p style="font-weight: 400;">Student mental health: </p>
<p style="font-weight: 400;"><strong>Giving</strong> - participation in community &amp; social life, giving to &amp; considering others </p>
<p style="font-weight: 400;"><strong>Taking Notice</strong> - Presence, grounding, self-awareness, appreciation </p>
<p style="font-weight: 400;"><strong>Learning</strong> - pursuing new challenges and learning experiences </p>
<p style="font-weight: 400;"><strong>Being Active</strong> - engagement with different forms of activity and exercise </p>
<p style="font-weight: 400;"><strong>Connect</strong> - creating &amp; nurturing a network of relationships' </p>
<p style="font-weight: 400;"><span class="lead">Our Commitment </span></p>
<p>We will:</p>
<ul>
<li style="font-weight: 400;">Establish and maintain a culture of well-being and belonging. </li>
<li>Promote students in taking responsibility for their wellbeing; providing opportunities to learn, co-create and engage in wellbeing activities.</li>
<li>Provide flexible, person centred and relevant support to students in need.</li>
<li>Support the enhancement of the physical and social environment to promote improved mental health and wellbeing.</li>
<li>Continuously evaluate, contribute and grow our wellbeing university and our wellbeing context within the wider community</li>
</ul>
<p style="font-weight: 400;"><strong>Our Objectives</strong></p>
<p style="font-weight: 400; padding-left: 40px;"><strong>PROMOTE</strong></p>
<p style="font-weight: 400; padding-left: 40px;"><strong>We will promote mental health and wellbeing activities and opportunities and embed wellbeing by using a whole university approach</strong></p>
<p style="font-weight: 400; padding-left: 40px;"><strong>PREVENT</strong></p>
<p style="font-weight: 400; padding-left: 40px;"><strong>We will improve awareness of available mental health and wellbeing support and encourage signposting and early intervention. </strong></p>
<p style="font-weight: 400; padding-left: 40px;"><strong> </strong><strong>PROTECT</strong></p>
<p style="font-weight: 400; padding-left: 40px;"><strong>We will work together to support any student who might benefit from support related to their mental health and wellbeing.</strong></p>
<p style="font-weight: 400; padding-left: 40px;"><strong>PARTNERSHIPS</strong></p>
<p style="font-weight: 400; padding-left: 40px;"><strong>We will build and strengthen partnerships with organisations locally and nationally to develop specialised and comprehensive student support relevant to mental health and wellbeing needs.</strong></p>
<p style="font-weight: 400;"><strong>Objectives (Promote – Prevent – Protect - Partnerships)</strong></p>
<p style="font-weight: 400;">To achieve its aims in accordance with the set principles, this Student Mental Health &amp; Wellbeing Strategy is built upon three core areas:<span>  <strong><em>Promote – Prevent – Protect- Partnership</em></strong> and the specific objectives under each one of the core areas, namely:</span><span></span></p>
<p style="font-weight: 400;"><strong>Objective 1.Promote</strong></p>
<p style="font-weight: 400; padding-left: 40px;">We will use a whole university approach to promote mental health and wellbeing and ensure activities and opportunities to improve wellbeing is available to all students.</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 33.333333%;"><strong>Activities</strong></th>
<th width="138" style="width: 27.483871%;">
<p><strong>Responsible</strong></p>
</th>
<th style="width: 39.139785%;"><strong>How will we know we have been successful? </strong></th>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Promote healthy lifestyle choices and encourage students to look after their own mental health</p>
</td>
<td style="width: 27.483871%;">All</td>
<td style="width: 39.139785%;">Wellbeing promotion<span>  embedded in services delivered &amp; across university campus</span></td>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Deliver a programme of training that support students’ mental health and wellbeing, resilience, self-esteem, cognitive capacity and emotional intelligence.</p>
</td>
<td style="width: 27.483871%;">
<p style="font-weight: 400;">Student Services Academics</p>
Students Union</td>
<td width="277" style="width: 39.139785%;">
<p>Programme of events in place Number of students attending</p>
</td>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Sustain the Residence-Life Events Programme, aimed at increasing the wellbeing of students in QMU accommodation.</p>
</td>
<td style="width: 27.483871%;">
<p style="font-weight: 400;">Halls, WBS</p>
</td>
<td style="width: 39.139785%;">
<p style="font-weight: 400;">Programme in place Training events</p>
<p>Number of students attending</p>
</td>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Support student-led and peer support projects that aim to promote wellbeing</p>
</td>
<td style="width: 27.483871%;">
<p style="font-weight: 400;">Students’ Union</p>
</td>
<td style="width: 39.139785%;">
<p style="font-weight: 400;">Officers/students will have been supported to lead campaigns &amp; new initiatives</p>
</td>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Promote the ‘Five Ways to Wellbeing’ (connect, be active, take notice, keep learning, give) and ‘Wheel of Wellbeing’ (body, mind, spirit, people, place, planet) concepts.</p>
</td>
<td style="width: 27.483871%;">
<p style="font-weight: 400;">Whole University approach</p>
</td>
<td style="width: 39.139785%;">
<p style="font-weight: 400;">Promotional material on display throughout University along with opportunities to engage with 5 ways</p>
</td>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Embed wellbeing in programmes at the curriculum level</p>
</td>
<td style="width: 27.483871%;">
<p style="font-weight: 400;">Academic staff Schools</p>
</td>
<td style="width: 39.139785%;">
<p style="font-weight: 400;">Wellbeing part of the curriculum</p>
</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400;"><strong>Objective 2. Prevent </strong></p>
<p style="font-weight: 400; padding-left: 40px;">We will improve awareness of available mental health and wellbeing support and encourage signposting and early intervention.</p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 36px;">
<tbody>
<tr style="height: 18px;">
<th style="width: 33.333333%; height: 18px;"><strong>Activities<span></span></strong></th>
<th width="110" style="width: 24.645162%;">
<p><strong>Responsible</strong></p>
</th>
<th style="width: 41.978494%; height: 18px;"><strong>How will we know we have been successful? </strong></th>
</tr>
<tr style="height: 18px;">
<td style="width: 33.333333%; height: 18px;">Ensure that the Stay-on-Course system supports students to stay on course and identifies students who may need support</td>
<td style="width: 24.645162%; height: 18px;">ALL</td>
<td style="width: 41.978494%; height: 18px;">Number of students accessing stay-on-course/WBS</td>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Departments (Academic, Professional) across the University and the Students’ Union work closely together to offer prompt and suitable support to students facing mental ill health.</p>
</td>
<td style="width: 24.645162%;">ALL</td>
<td style="width: 41.978494%;">Staff are aware of mutual responsibilities and where to signpost students</td>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Ensure students and front line staff (including academic, academically related and professional) have access to training in mental health awareness and are encouraged to access training and awareness sessions.</p>
</td>
<td style="width: 24.645162%;">SU and HR, SS</td>
<td style="width: 41.978494%;">
<p style="font-weight: 400;">Programme of training rolled out to students and staff Number of students and staff trained.Promote awareness of support services internal and external</p>
</td>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Promote the protocol for mental health crisis intervention which is covered in the ‘Distressed student guide – a guide for staff’</p>
</td>
<td style="width: 24.645162%;">
<p style="font-weight: 400;">Student Services &amp; whole University</p>
</td>
<td style="width: 41.978494%;">
<p style="font-weight: 400;">Staff across QMU aware of the protocol, promoted on staff webpages, PAT guide, sent to PL’s, Academic Administration</p>
</td>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Provide opportunities for students to look after their mental wellbeing, through physical activity, workshops and awareness events on stress reducing activities and social events</p>
</td>
<td style="width: 24.645162%;">
<p style="font-weight: 400;">SU, Student Services, Sport Centre, Res Life</p>
</td>
<td style="width: 41.978494%;">
<p style="font-weight: 400;">Activities throughout the year</p>
<p style="font-weight: 400;">Number of referrals, Uptake of referral</p>
<p style="font-weight: 400;">Retention rates</p>
</td>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Develop an exercise on referral scheme between SS and the Sports Centre</p>
</td>
<td style="width: 24.645162%;">
<p style="font-weight: 400;">Wellbeing, Sport centre</p>
</td>
<td style="width: 41.978494%;">
<p style="font-weight: 400;">Number of referrals and evaluation</p>
</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400;"><strong>Objective 3. Protect </strong></p>
<p style="font-weight: 400; padding-left: 40px;">We will work together to support any student who might benefit from support related to their mental health and wellbeing.</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 33.333333%;">
<p style="font-weight: 400;"><strong>Activities</strong></p>
</th>
<th style="width: 24.817204%;"><strong>Responsible</strong></th>
<th width="276" style="width: 41.806452%;">
<p><strong>How will we know we have been successful? </strong></p>
</th>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Following ‘Supporting Students in Distress: A Guide for University Staff’ (March 2021) processes to support students at risk.</p>
</td>
<td style="width: 24.817204%;">All staff</td>
<td style="width: 41.806452%;">Staff are aware of what to do in case of an emergency</td>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Signpost/refer to additional support &amp; resources when needed within QMU &amp; to external organisations.</p>
</td>
<td style="width: 24.817204%;">Academic staff Student Services</td>
<td style="width: 41.806452%;">Students will have accessed support when needed</td>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Support access to the University Disability service who engage and support students with specific mental health diagnosis</p>
</td>
<td style="width: 24.817204%;">ALL</td>
<td style="width: 41.806452%;">Staff and students will be aware of the support provided by the Disability Service</td>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Provide responsive support to any student who identifies with needing additional support for their mental health and wellbeing</p>
</td>
<td style="width: 24.817204%;">SU and Student Services</td>
<td style="width: 41.806452%;">Students accessing services will have received adequate support</td>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Ensure consistent respect, sensitivity and fairness is applied to all students presenting with mental health issues with the correct application of confidentiality guided by the student confidentiality agreement &amp; policy.</p>
</td>
<td style="width: 24.817204%;">ALL</td>
<td style="width: 41.806452%;">Student cases will be handled with professionalism and in accordance with QMU student confidentiality policy</td>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Support students to use the report and support system to report incidents.</p>
</td>
<td style="width: 24.817204%;">ALL</td>
<td style="width: 41.806452%;">No of reports increasing</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400;"><strong>Objective 4. Partnerships </strong></p>
<p style="padding-left: 40px;">We will build and strengthen partnerships with organisations locally and nationally to develop specialised and comprehensive student support relevant to mental health and wellbeing needs</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 33.333333%;">
<p style="font-weight: 400;"><strong>Activities</strong></p>
</th>
<th width="116" style="width: 33.290323%;">
<p><strong>Responsible</strong></p>
</th>
<th style="width: 33.333333%;"><strong>How will we know we have been successful? </strong></th>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Build partnerships with local agencies to develop referral routes and access for students</p>
</td>
<td style="width: 33.290323%;">Student Services</td>
<td style="width: 33.333333%;">Delivery of a running program of workshops to students and staff</td>
</tr>
<tr>
<td style="width: 33.333333%;">Co-create information and training resources with local and national agencies promoting mental health</td>
<td style="width: 33.290323%;">All</td>
<td style="width: 33.333333%;">Resources developed and actively used by QMU services</td>
</tr>
<tr>
<td style="width: 33.333333%;">
<p style="font-weight: 400;">Take an active role in partnerships locally and nationally that promotes students mental health</p>
</td>
<td style="width: 33.290323%;">Student services</td>
<td width="276" style="width: 33.333333%;">
<p>Improved partnerships and exchange of information</p>
</td>
</tr>
</tbody>
</table>
<p style="font-weight: 400;"><strong>September 2022</strong></p>
<p style="font-weight: 400;">Student Mental Health and Wellbeing Group</p>
<p style="font-weight: 400;">Queen Margaret University and Queen Margaret University Students Union</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU University and Students’ Union - Student Mental Health and Wellbeing Strategy 2022 - 2027]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p style="font-weight: 400;"><span class="lead">Introduction</span></p>
<p style="font-weight: 400;">At QMU we acknowledge that, while it is exciting being at university, it can come with a variety of stresses, including the pressure to succeed academically, learning in a new environment, studying away from home and financial difficulties that can affect students’ health and wellbeing.  Over recent years, we have seen an increase in students experiencing mental health difficulties. Following the isolation that many experienced during the Covid pandemic we are also recognising the challenges students might find in returning to campus and in person learning, as well as building new relationships and friendships.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[The University and Students’ Union have worked in partnership to develop a Student Mental Health and Wellbeing Strategy that demonstrates a commitment to student mental health and wellbeing embedded within a whole university student experience.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Mental Health Strategy | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Student Mental Health and Wellbeing Strategy 2022 - 2027]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>