<?xml version="1.0" encoding="utf-8"?>
<Content Key="d112fc62-48ca-4e2a-9ff1-b087662401f6" Alias="Visit our Business School" Level="3">
  <Info>
    <Parent Key="61a8e686-2a80-4a22-88e1-fc0d682148f6">Links</Parent>
    <Path>/Settings/Links/VisitOurBusinessSchool</Path>
    <Trashed>false</Trashed>
    <ContentType>link</ContentType>
    <CreateDate>2021-12-09T11:47:38</CreateDate>
    <NodeName Default="Visit our Business School" />
    <SortOrder>112</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <externalLink>
      <Value><![CDATA[]]></Value>
    </externalLink>
    <image>
      <Value><![CDATA[umb://media/5fa27e14a8824686a4e1c7f27b6386cf]]></Value>
    </image>
    <internalLink>
      <Value><![CDATA[umb://document/239b95941cd34d4eaf1d33c26dae56c4]]></Value>
    </internalLink>
    <text>
      <Value><![CDATA[Visit our Business School]]></Value>
    </text>
  </Properties>
</Content>