<?xml version="1.0" encoding="utf-8"?>
<Content Key="d26c319e-85f9-47df-ac50-01517e3b2677" Alias="Eat and Drink on Campus" Level="3">
  <Info>
    <Parent Key="512d9a68-5101-4deb-a497-3b51445a2335">Campus Life</Parent>
    <Path>/Home/CampusLife/EatAndDrinkOnCampus</Path>
    <Trashed>false</Trashed>
    <ContentType>manualListing</ContentType>
    <CreateDate>2024-01-11T09:34:59</CreateDate>
    <NodeName Default="Eat and Drink on Campus" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e6cdbb9-764c-4f44-bc5f-e79a05186df4">AnniversaryListingOverview</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f75070f178504eccaa51a2346f0ee1f7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/f75070f178504eccaa51a2346f0ee1f7",
      "image": "umb://media/00f9a540e34c48c8a7e212ce54d69072",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <contentItems>
      <Value><![CDATA[umb://document/89741e53147c46c5b655a4e9390c6333,umb://document/e36804fe93af494591c01866d87091d1,umb://document/e79f4e35ff844d5c8a6b2cb452e265b4,umb://document/ae69b056d3894698b9be9ec6019b1225,umb://document/e3eaa780c10148189f07191b5dc5d30b,umb://document/d849834a5ec6413fbdf7de71ef3a212f]]></Value>
    </contentItems>
    <displayTitle>
      <Value><![CDATA[Eat and Drink on Campus]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">We aim to provide a broad range of high quality, value for money food and retail services on campus, provided by our catering services partner, BaxterStorey.</span> <br /><br />As well as staff and students, the local community are very welcome to take advantage of our catering and retail outlets.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[We aim to provide a broad range of high quality, value for money food and retail services on campus, provided by our catering services partner BaxterStorey. As well as staff and students, the local community are very welcome to take advantage of our catering and retail outlets.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Eat and Drink on Campus | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <relatedContent>
      <Value><![CDATA[umb://document/1c26afbce9b2444da9c2bf15ae50e062,umb://document/317cd2425d1c49108bdb72d4a410654a,umb://document/abc2731051b44ba496edda3800171c9c]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[Related Links]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Eat and Drink on Campus]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>