<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3a5a6d5-991b-43f5-a1ec-4b3f5892af73" Alias="2017.02.08 - Interview with QMU international Lesley Rozycki: MSc Gastronomy" Level="5">
  <Info>
    <Parent Key="5ec60e7e-de76-4127-aaea-18ddb982220d">2017</Parent>
    <Path>/Home/NewsAndEvents/News//InterviewWithQMUInternationalLesleyRozyckiMScGastronomy</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T14:54:47</CreateDate>
    <NodeName Default="2017.02.08 - Interview with QMU international Lesley Rozycki: MSc Gastronomy" />
    <SortOrder>40</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/42dc80db2646449c860df41089608667"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/42dc80db2646449c860df41089608667",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "Interview with QMU international student, Lesley Rozycki: MSc Gastronomy",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p>For further media information contact Lynne Russell, Marketing Manager, Queen Margaret University, Edinburgh, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a>  T: 0131 474 0000, M: 07711 011239 and Jon Perkins, Press and PR Officer, E: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a> T: 0131 474 0000.</p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p class="txtMainBlack">Lesley has an undergraduate degree in journalism from Emerson College in Boston, USA. She worked at a local food distributor in New York before moving to Edinburgh. In this role, Lesley managed the company’s website, as well as various social media accounts.</p>
<p class="txtMainBlack">Lesley also has a blog (<a href="https://theencyclofeedia.com/" title="Encyclofeedia blog">The Encyclofeedia</a>), where she posts weekly about her experience on the MSc Gastronomy programme and life in Scotland.</p>
<p class="txtMainBlack"><strong>Why did you choose to study in Edinburgh/Scotland?</strong></p>
<p class="txtMainBlack"><em>“I didn’t know too much about Edinburgh and Scotland, so I was very intrigued to learn more about the food culture of a nation best known for haggis, Irn-Bru, whisky and the infamous deep fried mars bar. I’ve consumed some of the best traditional and modern Scottish cuisine, and food in general that this country has to offer. </em></p>
<p class="txtMainBlack"><em>“After being here only a few months, Edinburgh and Scotland feels like home. You quickly discover that there’s so much more to Edinburgh and Scotland than just tartan and bagpipes. Where else can you climb an extinct volcano in the middle of a city and visit the beach in the same day? </em></p>
<p class="txtMainBlack"><em>“I also think I chose an exciting time to study and live in Scotland, particularly with recent accolades Scottish food and drink has received from the national and international community, putting a spotlight on a small country with amazing producers.”</em></p>
<p class="txtMainBlack"><strong>Why did you choose to study MSc Gastronomy and why QMU?</strong></p>
<p class="txtMainBlack"><em>“About a year ago, I came across QMU and the Gastronomy programme during a web search on postgraduate food study programmes. I chose this program and QMU because I could study a course comparable to a similar programme in the USA for half the cost and I also get the opportunity to study abroad in Scotland. </em></p>
<p class="txtMainBlack"><em>“Not only is it much more affordable to study in Edinburgh, but I’m gaining a whole new international perspective on food - something I wouldn’t be able to get back home.</em></p>
<p class="txtMainBlack"><em>“I hoped to gain a better knowledge of food and the impact it has on everything ranging from physical and mental health to social and political systems. It has not only done all of that, but has also raised a whole host of new questions and an awareness I didn’t have before this programme.”</em></p>
<p class="txtMainBlack"><strong>How do you find the workload? </strong></p>
<p class="txtMainBlack"><em>“The workload is not light by any means, with quite lengthy readings each week, but it’s what you would expect from a master’s programme. In terms of support, my Personal Academic Tutor (PAT) is always available to answer a question via email or speak to at length. </em></p>
<p class="txtMainBlack"><em>“I recently spoke to my PAT about dissertation ideas I had. She was extremely helpful in offering advice and recommendations on what I should focus on and what realistically can be completed in a short period of time.”</em></p>
<p class="txtMainBlack"><strong>How do you think your QMU degree has equipped you with the skills/knowledge to development your career?</strong></p>
<p class="txtMainBlack"><em>“In addition to the vast amount of information on food, as well as other ideas, issues and processes surrounding it (I know quite a bit about soil), I‘ve made invaluable connections and friendships with my course mates who have vastly different professional and personal experience with food, as well as guest lecturers and producers we’ve visited along the way.”</em></p>
<p class="txtMainBlack"><strong>Top tips for future students? </strong></p>
<p class="txtMainBlack"><em>“Thoroughly research the programme you are interested in at QMU, and don’t hesitate to get in touch with the University. I bombarded the international office and the MSc Gastronomy programme head with loads of questions. They were all a massive help in getting me here and alleviating any worries I had. </em></p>
<p class="txtMainBlack"><em>It may seem daunting to study abroad in a country you know little or nothing about, but don’t be afraid to take the plunge. Taking that bit of a risk is well-worth the reward of studying at a University like QMU in a place like Scotland.”</em></p>
<p class="txtMainBlack"><strong>What are your plans after graduation? </strong></p>
<p class="txtMainBlack"><em>“After the course is completed, I’m hoping to live and work here in Scotland or another part of the UK. Whether that is writing for a magazine, blogging or creating social media content for a large company or non-profit organisation, or even food product development at a company like Marks &amp; Spencer. I’m open to the endless amount of opportunities I think there will be available at the end of this course.”</em></p>
<p class="txtMainBlack"><a href="/study-here/postgraduate-study/2022/msc-gastronomy/" title="MSc Gastronomy"><span class="blue-btn">MSc Gastronomy </span></a></p>
<p class="txtMainBlack"><a href="/study-here/international-students/" title="International students at QMU"><span class="blue-btn">QMU International students</span></a></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2017-02-08T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Interview with QMU international student, Lesley Rozycki: MSc Gastronomy]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Lesley Rozycki, 24, is from Wappingers Falls in New York, USA. She’s currently studying MSc Gastronomy full time at QMU and is due to graduate in 2018.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Lesley Rozycki, 24, is from Wappingers Falls in New York, USA. She’s currently studying MSc Gastronomy full time at QMU and is due to graduate in 2018.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Interview with QMU international student, Lesley Rozycki: MSc Gastronomy]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Interview with QMU international student, Lesley Rozycki: MSc Gastronomy]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>