<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5ffd6ad-1083-4649-9847-119dfed40090" Alias="Clinical Audiology, Speech and Language Research Centre (CASL)" Level="5">
  <Info>
    <Parent Key="b7b8c588-7c05-41c1-aba3-6f82113e11ba">Research Centre</Parent>
    <Path>/Settings/Tags/GlobalTags/ResearchCentre/ClinicalAudiologySpeechAndLanguageResearchCentreCASL</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2023-10-23T17:03:47</CreateDate>
    <NodeName Default="Clinical Audiology, Speech and Language Research Centre (CASL)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagName>
      <Value><![CDATA[Clinical Audiology, Speech and Language Research Centre (CASL)]]></Value>
    </tagName>
  </Properties>
</Content>