<?xml version="1.0" encoding="utf-8"?>
<Content Key="d65ac596-584a-479a-bba2-cc1917008530" Alias="Irene Hynd" Level="4">
  <Info>
    <Parent Key="c69dfb00-ccc9-47b4-8360-bbab8f2ca385">Court</Parent>
    <Path>/Home/AboutOurStaff/Court/IreneHynd</Path>
    <Trashed>false</Trashed>
    <ContentType>staffProfile</ContentType>
    <CreateDate>2021-02-13T12:42:38</CreateDate>
    <NodeName Default="Irene Hynd" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7509730a-2309-4003-8275-a5e134b9cf91">StaffProfile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/d6d3d60c84fc4b84b732ff9fd4cb4459]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <approvalDate>
      <Value><![CDATA[]]></Value>
    </approvalDate>
    <approved>
      <Value><![CDATA[0]]></Value>
    </approved>
    <approvedBy>
      <Value><![CDATA[]]></Value>
    </approvedBy>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f5c405251712489fbef01347316eb2d8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/f5c405251712489fbef01347316eb2d8",
      "image": "umb://media/3ce984ef84e84528a5cc2ab74d37494f",
      "title": "",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <displayTitle>
      <Value><![CDATA[Irene Hynd]]></Value>
    </displayTitle>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <extraInformation>
      <Value><![CDATA[Queen Margaret University]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Irene is the Vice Principal and University Secretary at Queen Margaret University and is also the Secretary to the QMU Court.</p>
<p><strong>Register of interests: </strong></p>
<p>Business interests - Nil</p>
<p>Company directorships - Nil</p>
<p>Trusteeships - Nil</p>
<p>Membership of organisations, public bodies etc - Nil</p>
<p>Other declarable interests - Nil</p>]]></Value>
    </introduction>
    <linkedIn>
      <Value><![CDATA[]]></Value>
    </linkedIn>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Irene is the Vice Principal and University Secretary at Queen Margaret University and is also the Secretary to the QMU Court.

]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Irene Hynd | University Court | Queen Margaret University]]></Value>
    </metaTitle>
    <position>
      <Value><![CDATA[Secretary, University Court]]></Value>
    </position>
    <qualifications>
      <Value><![CDATA[]]></Value>
    </qualifications>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <schoolDivision>
      <Value><![CDATA[umb://document/2e8f8dd13ab94a76b4bf4560db43e92a]]></Value>
    </schoolDivision>
    <shortTitle>
      <Value><![CDATA[Irene Hynd]]></Value>
    </shortTitle>
    <showTwitterBanner>
      <Value><![CDATA[0]]></Value>
    </showTwitterBanner>
    <surname>
      <Value><![CDATA[Aaaab]]></Value>
    </surname>
    <telephone>
      <Value><![CDATA[]]></Value>
    </telephone>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
    <type>
      <Value><![CDATA[[
  "Senior Management"
]]]></Value>
    </type>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>