<?xml version="1.0" encoding="utf-8"?>
<Content Key="d87c070b-e6fc-45ed-86de-1cfe9cca2364" Alias="Student Story - Trent Schmidt - MSc PT Pre-reg" Level="3">
  <Info>
    <Parent Key="d18bb03a-fac8-40f6-80a9-fff6921ad1d2">Quotes</Parent>
    <Path>/Settings/Quotes/StudentStoryTrentSchmidtMScPTPreReg</Path>
    <Trashed>false</Trashed>
    <ContentType>quote</ContentType>
    <CreateDate>2021-10-22T10:33:43</CreateDate>
    <NodeName Default="Student Story - Trent Schmidt - MSc PT Pre-reg" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[umb://media/a692a38f5b1d4d52af9148d7993430b4]]></Value>
    </image>
    <quoteText>
      <Value><![CDATA[“QMU’s focus on independent studies and practical based learning provide me with the hands-on confidence and resourcefulness that are imperative to be a successful physiotherapist.]]></Value>
    </quoteText>
    <source>
      <Value><![CDATA[Trent Schmidt]]></Value>
    </source>
    <sourceExtra>
      <Value><![CDATA[MSc Physiotherapy (Pre-Registration)]]></Value>
    </sourceExtra>
  </Properties>
</Content>