<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9c9a110-0cde-415c-aa1a-05d3b34fcbb1" Alias="Support with Learning" Level="6">
  <Info>
    <Parent Key="f95f6898-e79a-4756-97df-29182db0d963">Information &amp; Support</Parent>
    <Path>/Home/CurrentStudents/CurrentStudentsGeneralInformation/InductionForNewStudents/InformationSupport/SupportWithLearning</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2023-03-24T12:12:34</CreateDate>
    <NodeName Default="Support with Learning" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/77645ad008a845aaaf96436d150b6d20]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d340fb4270bb487eb55b441d6267430e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/d340fb4270bb487eb55b441d6267430e",
      "image": "umb://media/309184c78de648bebc6b0d9140455bc4",
      "title": " Support with Learning",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>There will also be two <strong>IT Drop-In sessions</strong> during induction week on <strong>Tuesday 5th September</strong> (3pm - 4pm) and <strong>Wednesday 6th September</strong> (10am - 11am) in <strong>Room 1126</strong> which is located in the Library (when you enter turn left. The room is located at the very end of the coridoor)</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/811bfe0ef23548638a5c561f1647ee1f"
      },
      {
        "contentUdi": "umb://element/dfdaa341c066441ea0060644467944ac"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/811bfe0ef23548638a5c561f1647ee1f",
      "title": "Effective Learning Service",
      "content": "<p>The Effective Learning Service (ELS) offers guidance and support to all students who wish to develop their academic writing and study skills. Our aim is to help you become as self-reliant as possible as you progress through your degree programmes here at QMU.</p>\n<p>Please click <a href=\"/study-here/student-services/effective-learning-service-els/\">here</a> for further details.</p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/dfdaa341c066441ea0060644467944ac",
      "title": "Learning Resource Centre",
      "content": "<p>The LRC is open between 24 hours a day, 7 days a week, however all internal rooms including the group study rooms, are closed after 9pm.</p>\n<p>Please click <a href=\"/study-here/learning-facilities/library/\">here</a> to find out more about how the LRC can support your studies at QMU.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[[
  "Concertina"
]]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[ Support with Learning]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Please click on the headings below to access information on how staff can support and enhance your learner journey whilst studying at QMU and beyond...</p>
<p>Whether it be improving your study skills or learning more about the Learning Resource Centre (Library). Just click on the links below for further details.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Whether it be improving your study skills or learning more about the Learning Resource Centre (Library). Just click on the links below for further details.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[ Support with Learning | Current Students | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[ Support with Learning]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>