<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbca3fcb-9323-4a75-872a-70c2c2bf61be" Alias="Lecture recording and enhancing the student experience" Level="7">
  <Info>
    <Parent Key="21bd9c36-214c-42af-bdd9-031906f539ab">Panopto</Parent>
    <Path>/Home/StudyHere/LearningFacilities/ITServices/QMKnowHow/Panopto/LectureRecordingAndEnhancingTheStudentExperience</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2021-02-08T15:14:43</CreateDate>
    <NodeName Default="Lecture recording and enhancing the student experience" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65102975-f5a6-47bf-9418-b0e82dc7c288">BlogPost</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/3fc440b0b65f4950b5305bb2bf5ec27b]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3e5558f8b8d9456e8456623c37c26d31"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/3e5558f8b8d9456e8456623c37c26d31",
      "image": "umb://media/2ae64f6b867747c0937bc31f9339251c",
      "title": "",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p>Some links to how lecture recording can enhance the student experience.</p>
<p><a rel="noopener" href="https://www.panopto.com/blog/10-video-trends-that-can-enhance-the-student-learning-experience/" target="_blank">What students think about video learning technologies</a></p>
<p><a rel="noopener" href="https://www.panopto.com/blog/10-video-trends-that-can-enhance-the-student-learning-experience/" target="_blank">Using Panopto to record student performances</a></p>
<p><a rel="noopener" href="https://www.panopto.com/blog/using-panopto-to-improve-teaching-and-learning-for-medical-students/" target="_blank">Using Panopto to improve Learning and Teaching for Medical students</a></p>
<p><a rel="noopener" href="https://www.panopto.com/blog/using-lecture-recording-and-video-to-enhance-the-international-student-experience/" target="_blank">Using Lecture recording and Video to enhance the International Student Experience</a></p>
<p><a rel="noopener" href="https://www.panopto.com/blog/16-ways-you-can-use-video-for-education/" target="_blank">16 ways to use video for Education</a></p>
<p><a rel="noopener" href="https://www.panopto.com/blog/how-are-universities-using-video-on-campus/" target="_blank">Top 10 uses of Panopto in Higher Education</a></p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[2020-10-19T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Lecture recording and enhancing the student experience]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Some links to how lecture recording can enhance the student experience.</p>
<p><a rel="noopener" href="https://www.panopto.com/blog/10-video-trends-that-can-enhance-the-student-learning-experience/" target="_blank">What students think about video learning technologies</a></p>
<p><a rel="noopener" href="https://www.panopto.com/blog/10-video-trends-that-can-enhance-the-student-learning-experience/" target="_blank">Using Panopto to record student performances</a></p>
<p><a rel="noopener" href="https://www.panopto.com/blog/using-panopto-to-improve-teaching-and-learning-for-medical-students/" target="_blank">Using Panopto to improve Learning and Teaching for Medical students</a></p>
<p><a rel="noopener" href="https://www.panopto.com/blog/using-lecture-recording-and-video-to-enhance-the-international-student-experience/" target="_blank">Using Lecture recording and Video to enhance the International Student Experience</a></p>
<p><a rel="noopener" href="https://www.panopto.com/blog/16-ways-you-can-use-video-for-education/" target="_blank">16 ways to use video for Education</a></p>
<p><a rel="noopener" href="https://www.panopto.com/blog/how-are-universities-using-video-on-campus/" target="_blank">Top 10 uses of Panopto in Higher Education</a></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Lecture recording and enhancing the student experience]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Lecture recording and enhancing the student experience]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Lecture recording and enhancing the student experience]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>