<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbef7e4e-fc6f-4fba-85fe-9233458f9672" Alias="2020.10.15 - QMU to offer new film education module" Level="5">
  <Info>
    <Parent Key="9c795575-f12b-4d4d-91c1-652258e7996d">2020</Parent>
    <Path>/Home/NewsAndEvents/News//QMUToOfferNewFilmEducationModule</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-11-02T12:01:08</CreateDate>
    <NodeName Default="2020.10.15 - QMU to offer new film education module" />
    <SortOrder>40</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/b693af72b42c4687a358929ce9001536]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bb5ab07829b7442494f789f3efebea81"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/bb5ab07829b7442494f789f3efebea81",
      "image": "umb://media/650529a489c5451d8ba240cbe4a027c3",
      "title": "QMU to offer new film education module",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>With the University well established and recognised for its achievements in the field, students on this exciting new pathway will have the opportunity to situate their current and historic working practices within contexts of educational research and research in film studies. From March 2021, Students on the Professional Practice in Film Education course will gain awareness of the history and development of film education and be introduced to some of the key theories informing current practice.</p>
<p>Supported by Screen Scotland and developed alongside key stakeholders in the area of film education, this SCQF level 11 module allows students to progress to further study at master's level, should they wish to.</p>
<p>As Scotland seeks to develop its screen industries, encouraging young people to express themselves through the medium of film, and developing their screen craft at a young age becomes increasingly important. Students on this exciting new course will have the unique opportunity to consolidate existing knowledge, develop new skills, research and discuss professional practice and reflect upon what the core elements of a world-leading film education framework might look like.</p>
<p>As part of the course design, QMU is inviting applications from experienced film education practitioners to assist in developing the module. For more information and to apply, please contact Robert Munro (<a href="mailto:RMunro@qmu.ac.uk">RMunro@qmu.ac.uk</a>).</p>
<p>Scott Donaldson, Head of Film Education at Screen Scotland, said: "We are delighted to be able to support the development of this new master's module at QMU. While the importance of film and moving image education is increasingly acknowledged, and while Curriculum for Excellence includes film as a significant part of literacy, there are few significant opportunities to develop the professional practice of film education, or to qualify and specialise in it. This module will make a key contribution to the development and recognition of film teaching in Scotland."</p>
<p>Dr Robert Munro, Lecturer in Film and Media at QMU, added: "We're delighted to be delivering this new module in conjunction with Screen Scotland. Participants on this course are not just students but are actively involved in co-creating the learning as the module develops. We hope that the course will provide a platform to consolidate existing knowledge and begin to build a framework of best practice in film education across Scotland.</p>
<p>Course applications open Tuesday 1 December.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2020-10-15T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU to offer new film education module]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Queen Margaret University (QMU), Edinburgh, is set to offer a new module aimed at those with experience in teaching moving image education, as well as teachers with experience or interest in using film in the classroom.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Queen Margaret University (QMU), Edinburgh, is set to offer a new module aimed at those with experience in teaching moving image education, as well as teachers with experience or interest in using film in the classroom.
]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU offers new film module | QMU News | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media enquiries, please contact Gavin McNee (Media Relations and Content Officer) at Queen Margaret University, Edinburgh, E: <a href="mailto:gmcnee@qmu.ac.uk">gmcnee@qmu.ac.uk</a>, T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU to offer new film education module]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>