<?xml version="1.0" encoding="utf-8"?>
<Content Key="df55a511-7053-4379-8bf1-1740ba37cf62" Alias="Iain Scott" Level="4">
  <Info>
    <Parent Key="644845e5-0db0-4a49-9230-5d12ef68dcb0">Blogs</Parent>
    <Path>/Home/CampusLife/Blogs/IainScott</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2021-01-28T15:25:44</CreateDate>
    <NodeName Default="Iain Scott" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="352afafb-7425-4e97-b145-ab96eebf5bdc">BlogBio</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/3f08cd30da5648eb84efc4251d931237]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dc191546521a4df2aec8f2101e3632a9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/dc191546521a4df2aec8f2101e3632a9",
      "image": "umb://media/4de2988d50194fd8b489ee06b7e45c60",
      "title": "",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Iain Scott]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>I am currently in my first year at QMU studying a BSc (Hons) Dietetics. I am also a father of four wonderful children! A lot of my spare time is spent watching them grow, learn and develop. However, I also volunteer some of my time to help out with community based projects such as Support from the Start, promoting improvements in the health and education for 0 - 8 year-olds, and the Dadswork charity which works with male parents and guardians to provide support, opportunities and trips to develop their skills and improve their time with the children under their care.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Iain Scott, blog biography.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Iain Scott | Blog | Queen Margaret University]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[umb://media/eff706b25fea448e9b32326f09f454a1]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Iain Scott]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>