<?xml version="1.0" encoding="utf-8"?>
<Content Key="e24f8d9a-72ea-46b9-9459-515e866ddd96" Alias="2017.02.27 - Vice-Chancellor’s International Travel Fund helps QMU student join First Aid Africa expedition" Level="5">
  <Info>
    <Parent Key="5ec60e7e-de76-4127-aaea-18ddb982220d">2017</Parent>
    <Path>/Home/NewsAndEvents/News//ViceChancellorSInternationalTravelFundHelpsQMUStudentJoinFirstAidAfricaExpedition</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T14:59:10</CreateDate>
    <NodeName Default="2017.02.27 - Vice-Chancellor’s International Travel Fund helps QMU student join First Aid Africa expedition" />
    <SortOrder>50</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/5e0ee667eab94dd6a91a8f3eec04dc95]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/95c558b2ad75454abda755f5c17de4f7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/95c558b2ad75454abda755f5c17de4f7",
      "image": "umb://media/e7214aba538c434386bd75e1b2285759",
      "title": "Vice-Chancellor’s International Travel Fund helps QMU student join First Aid Africa expedition",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p class="txtMainBlack">Set up by QMU’s Principal and Vice-Chancellor, Professor Petra Wend, the annual bursary of up to £500 per applicant, aims to fund travel, either wholly or in part for suitable overseas academic, professional or vocational initiatives.</p>
<p class="txtMainBlack">Lewis MacDonald, 19, from Glasgow, applied to the Vice-Chancellor’s International Travel Fund to help finance his charity support expedition to Malawi with First Aid Africa in summer 2016.</p>
<p class="txtMainBlack">The charity aims to develop sustainable first aid teaching and equipment in sub-Saharan Africa, including four partner countries – Malawi, Kenya, Tanzania and Uganda.</p>
<p class="txtMainBlack">Lewis spent six weeks working in a high school teaching first aid to classes of up 100 students.</p>
<p class="txtMainBlack">Before leaving for Malawi, Lewis took part in intensive training in third-world country first aid, teaching, and health and safety. This training allowed Lewis to deliver lessons on a topic that he is passionate about and interested in improving.</p>
<p class="txtMainBlack">Whilst in Malawi, Lewis also worked alongside a community healthcare practitioner trained by First Aid Africa to enhance their knowledge of first aid skills, including the recovery position, burns, fractures, snake bites and shock.</p>
<p class="txtMainBlack">Commenting on his successful application to the Vice-Chancellor’s International Travel Fund, Lewis said: “I really enjoyed the experience in Africa. I’m very thankful for opportunities like the QMU Vice-Chancellor’s International Travel Fund to allow students like me to take part in these experiences.</p>
<p>“After graduating from QMU, I’d like to fulfil my life-long ambition to study medicine. So far at QMU I’ve developed the foundations to progress this ambition through experiences like First Aid Africa. I hope to continue travelling and working with the charity in the future.</p>
<p>“My top tip for other students would be to get involved with as many extra-curricular activities and personal development opportunities as possible at QMU – they’re great way to meet new people, broaden your horizons, try new experiences and gain valuable graduate skills.”</p>
<p class="txtMainBlack">Lewis is now the society leader of the Queen Margaret University First Aid Africa society and is currently working to help current volunteers with their expeditions.</p>
<p class="txtMainBlack">Some of the awards that have been made by the Vice-Chancellor’s International Travel Fund in the past have been to support a range of activities, including fieldwork for a research project and Masters dissertations, professional placements, attendance at international conferences and summer schools, as well as visits to overseas universities for collaborative research purposes. Such projects actively benefit QMU, the wider community and have led to publishable papers.</p>
<p class="txtMainBlack">For more information on the Vice-Chancellor’s International Travel Fund and to apply, <a data-id="2959" href="/{localLink:2959}" title="Our Funds">visit Our Funds</a>. Completed application forms should be returned to <a href="mailto:principal@qmu.ac.uk" class="txtMainTextLinks">principal@qmu.ac.uk</a>. Applicants are asked to supply a statement of support from their QMU supervisor with their application.</p>
<p class="txtMainBlack">Learn more about <a href="https://www.firstaidafrica.org/" title="First Aid Africa">First Aid Africa on their website</a>.</p>
<p class="txtMainBlack">For more information on the <a href="https://www.facebook.com/FirstAidAfricaQMU/" title="QMU First Aid Africa Society (Facebook page)">QMU First Aid Africa Society, visit their Society’s Facebook page</a>.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2017-02-27T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Vice-Chancellor’s International Travel Fund helps QMU student join First Aid Africa expedition]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>A second year BSc (Hons) Human Biology student from QMU is a step closer to pursuing a career in medicine thanks to support from the University’s Vice-Chancellor’s International Travel Fund.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[A second year BSc (Hons) Human Biology student from QMU is a step closer to pursuing a career in medicine thanks to support from the University’s Vice-Chancellor’s Fund.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Vice-Chancellor’s Fund helps QMU student join First Aid Africa expedition]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information contact Lynne Russell, Marketing Manager, Queen Margaret University, Edinburgh, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a>  T: 0131 474 0000, M: 07711 011239 and Jon Perkins, Press and PR Officer, E: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a> T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Vice-Chancellor’s International Travel Fund helps QMU student join First Aid Africa expedition]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>