<?xml version="1.0" encoding="utf-8"?>
<Content Key="e35d2d5a-4ef4-4825-9c4d-5b4c4e4c6158" Alias="How to Apply" Level="5">
  <Info>
    <Parent Key="fd8d05c3-f1fb-434a-84a0-a8de69930b3e">Study Here</Parent>
    <Path>/Settings/Navigation/MainNavigation/StudyHere/HowToApply</Path>
    <Trashed>false</Trashed>
    <ContentType>navigationItem</ContentType>
    <CreateDate>2021-01-19T20:07:01</CreateDate>
    <NodeName Default="How to Apply" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <link>
      <Value><![CDATA[[
  {
    "name": "How to Apply",
    "url": "/study-here/how-to-apply"
  }
]]]></Value>
    </link>
  </Properties>
</Content>