<?xml version="1.0" encoding="utf-8"?>
<Content Key="e577c937-276e-4745-bfb9-446d132c037b" Alias="2016.07.25-1 - QMU graduate Jade McNee" Level="5">
  <Info>
    <Parent Key="ac4dc403-ec85-4439-845b-de25b485c66d">2016</Parent>
    <Path>/Home/NewsAndEvents/News//QMUGraduateJadeMcNee</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T12:53:29</CreateDate>
    <NodeName Default="2016.07.25-1 - QMU graduate Jade McNee" />
    <SortOrder>82</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/662fde7851214c8fb4c3c3557904542a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/662fde7851214c8fb4c3c3557904542a",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "Bathgate graduate wins community nursing award",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Jade McNee, 22, who attended Armadale Academy, graduated with a BSc (Hons) Nursing from QMU earlier this month after being presented with the Queen’s Nursing Institute Scotland (QNIS) award.</p>
<p class="txtMainBlack">The Queen’s Nursing Institute Scotland promotes excellence in community nursing across the country. The Institute’s undergraduate award recognises the student showing the most promise in community nursing during the course of the year.</p>
<p class="txtMainBlack">Jade has already secured her first graduate job at the Royal Infirmary of Edinburgh. She will be based in the Acute Stroke Unit, where she will be working stroke patients and their families to supporting them throughout the rehabilitation process.</p>
<p class="txtMainBlack">Although Jade will be starting her career in ward based nursing, she plans to specialise in community nursing by pursuing a district nursing qualification in the future.</p>
<p class="txtMainBlack">Commenting on her academic success and QMU experience, Jade said: “I feel honoured to have won the Queen’s Nursing Institute Scotland Undergraduate Award as I’ve had an interest in nursing within the community since my first clinical placement.</p>
<p>“I loved the fact that community nurses enable individuals to receive care within their home</p>
<p class="txtMainBlack">environments where they felt most comfortable. Winning this award has highlighted my passion for this area of nursing.”</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Bathgate graduate wins community nursing award]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[2016-07-25T01:00:00]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>A Bathgate graduate has won a top community nursing award at Queen Margaret University’s (QMU) recent graduation ceremony in Edinburgh.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[A Bathgate graduate has won a top community nursing award at Queen Margaret University’s (QMU) recent graduation ceremony in Edinburgh.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Bathgate graduate wins community nursing award]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information contact Jonathan Perkins, Press and PR Officer, E: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a> T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Bathgate graduate wins community nursing award]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>