<?xml version="1.0" encoding="utf-8"?>
<Content Key="e83bf8f0-14b4-4d6d-b02b-6c7e7d9054ff" Alias="2022.09.20 Young people with communication needs must be a priority for Scotland’s justice system" Level="5">
  <Info>
    <Parent Key="290de9c5-fde6-4432-9d08-11c487aa0182">2022</Parent>
    <Path>/Home/NewsAndEvents/News//YoungPeopleWithCommunicationNeedsMustBeAPriorityForScotlandSJusticeSystem</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2022-09-20T14:14:13</CreateDate>
    <NodeName Default="2022.09.20 Young people with communication needs must be a priority for Scotland’s justice system" />
    <SortOrder>43</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/49166c8adb184f60810ff637e22af522]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/96d195f1304d4cc38e13f80998896e44"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/96d195f1304d4cc38e13f80998896e44",
      "image": "umb://media/8d8d6ca5d802447a8dc57ba63388199d",
      "title": "Ensuring young people with communication needs know the difference between Guilty or Not Guilty must be a priority for Scotland’s justice system",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p style="font-weight: 400;">Many young people with those needs can lack the language skills to understand what is happening to them or the implications of what is being asked of them when entering the justice system.</p>
<p style="font-weight: 400;">Not knowing the difference between guilty and not guilty or being able to communicate that could have a devastating impact on the lives of youngsters.</p>
<p style="font-weight: 400;">Identifying communication needs earlier could lead to more positive outcomes for young people as well as reducing time and costs to public services.</p>
<p style="font-weight: 400;">If a dedicated speech and language therapy service was introduced at each point in the pathway from pre-offending, working with agencies such as children and families social work services and secondary education, through police and courts to community disposal, custodial sentencing, prison and community reintegration, then the lives of the young people passing through the system would stand a better chance of being improved, according to Dr Ann Hodson, a passionate campaigner on the rights of children and young people.</p>
<p style="font-weight: 400;">She believes tackling communication would not only help the individual but could also reduce costs to the NHS, local authorities, the criminal justice system as well as the wider economy.</p>
<p style="font-weight: 400;"><span class="lead">Children with communication needs are at a massive disadvantage because they can’t tell their side of the story</span></p>
<p style="font-weight: 400;">Dr Hodson, who is a senior lecturer in the Speech and Hearing Sciences Division at Queen Margaret University, Edinburgh, said: “Children with these difficulties are not able to tell their own side of their story, whether they are a witness, victim or alleged offender. That’s a massive disadvantage with far-reaching consequences.</p>
<p style="font-weight: 400;">“They may not understand what’s going on around them. They may say they understand when they don’t. This can have a huge impact, potentially diverting the course of justice and their lives.</p>
<p style="font-weight: 400;">“The people who must prevent this are those working directly with the children, they need to be trained to recognise when a young person isn’t understanding what is being said to them.</p>
<p style="font-weight: 400;">“The principles must be embedded in every aspect of the justice system where the child is questioned by an adult. For example, the police have to be able to say, ‘this child can’t follow what I am saying, I need to contact a speech and language therapist’.</p>
<p style="font-weight: 400;">“Speech and language therapists should be a part of every process in the justice system. That to me is the way to have these principles embodied.”</p>
<p style="font-weight: 400;">The Royal College of Speech and Language Therapists, the professional body which represents speech and language therapists in the UK, offers free training for professionals working in the justice sector.</p>
<p style="font-weight: 400;">The e-learning tool is designed to give them the ability to identify communication issues and the skills to work successfully with individuals who have such issues.</p>
<p style="font-weight: 400;">More information can be found here <a href="https://www.rcslt.org/learning/the-box-training/">https://www.rcslt.org/learning/the-box-training/</a>.</p>
<p style="font-weight: 400;">Glenn Carter, head of Scotland office at the Royal College of Speech and Language Therapists (RCSLT), said: “It’s undeniable that huge numbers of young people in the justice system have communication needs and require expert help. Needs differ greatly and are not always visible, but speech and language therapists have the right skills and expertise to identify people’s communication difficulties as early as possible. They play a vital role in supporting people to understand complex information, develop their vocabulary and express their emotions more effectively. These skills are essential if people are to engage in rehabilitation activities.”</p>
<p style="font-weight: 400;">He added: “While speech and language therapy can make clear differences in people’s lives, provision across Scottish justice settings is patchy. More funding and training are required if we are to prevent offending behaviour in the first place, but also to help turn people’s lives around when they enter the justice system.”</p>
<p style="font-weight: 400;"><span class="lead">A unique team in Scotland working at the forefront with young people in conflict with the law is witnessing first-hand the difference speech, language and communication intervention can make</span></p>
<p style="font-weight: 400;">The REACH team based in Perth and Kinross provides intensive support to families with young people experiencing complex needs, some of whom have entered the justice system and are involved in legal proceedings.</p>
<p style="font-weight: 400;">The multi-disciplinary approach brings together a range of professionals (from Children's Services, Education, and NHS Tayside) into one team and allows young people to benefit from a wide range of specialist support - in one place.</p>
<p style="font-weight: 400;">While speech and language therapists do work across criminal justice settings, the REACH team has the only two dedicated therapists working specifically in that field in Scotland.</p>
<p style="font-weight: 400;">Every young person who is referred to the team is assessed and if identified as having communication needs, speech and language therapists will use a number of approaches to support them; from direct therapy and further assessment to training the parents or carer of the young person as well as provision of easy-to-understand resources which promote effective communication.</p>
<p style="font-weight: 400;">Where needed they will also provide police and social workers with a report about the communication ability of a young person in conflict with the law.</p>
<p style="font-weight: 400;">Julia Pollock, one of the two speech and language therapists at REACH, said: “The team’s intervention can make a significant difference to the lives of young people we see.</p>
<p style="font-weight: 400;">“We’ve had people who have been accused of a crime but haven’t been able to understand what that means to defend themselves because of their communication needs.</p>
<p style="font-weight: 400;">“When someone doesn’t have the cognitive or communication skills to understand what is happening to them it has serious implications.</p>
<p style="font-weight: 400;">“We can assess the different level of communication needs in cases like that and inform the social work team and police of their capacity to understand what is happening to them. This can lead to positive outcomes for those young people who simply don’t have that capacity and need intervention and support.”</p>
<p style="font-weight: 400;"><span class="lead">Some examples of the speech, language and communication needs experienced by young people are:</span></p>
<ul style="font-weight: 400;">
<li>Difficulty understanding spoken words and using language to communicate</li>
<li>Difficulties remembering and recalling information accurately</li>
<li>Difficulty understanding commonly used legal vocabulary, for example Liable, Remorse, Reparation, Threatening or Victim. These difficulties have prevented effective access to the legal and court system</li>
<li>Difficulties in listening and understanding</li>
<li>Difficulties sequencing information to tell a story</li>
<li>Difficulty using abstract language (e.g., idioms, metaphors)</li>
<li>Difficulties staying on topic</li>
<li>Understanding non-verbal communication and relating to others in socially acceptable ways</li>
<li>Difficulty expressing feelings and emotions in an appropriate way, for example they may use aggressive behaviour, instead of words, to express themselves.</li>
</ul>
<p><span class="lead">This press release was written and distributed by <a rel="noopener" href="https://www.morrison-media.co.uk" target="_blank">Morrison Media</a> on behalf of the <a rel="noopener" href="https://www.rcslt.org" target="_blank">Royal College of Speech and Language Therapists</a>, Scotland.</span></p>
<p><em>Photo by <a href="https://unsplash.com/@tingeyinjurylawfirm?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Tingey Injury Law Firm</a> on <a href="https://unsplash.com/s/photos/gavel?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>.</em></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2022-09-20T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Young people with communication needs must be a priority for Scotland’s justice system]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p style="font-weight: 400;">Ensuring speech and language therapy is embodied at every stage in the Scottish justice system could help prevent offending and keep young people with communication needs out of jail.</p>
<p style="font-weight: 400;">Research into young people in conflict with the law has shown between 60% and 90% are affected by speech, language and communication difficulties. That’s considered to be a hidden disability because the difficulties are often not immediately obvious.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Ensuring speech and language therapy is embodied at every stage in the Scottish justice system could help prevent offending and keep young people with communication needs out of jail.

Research into young people in conflict with the law has shown between 60% and 90% are affected by speech, language and communication difficulties. That’s considered to be a hidden disability because the difficulties are often not immediately obvious.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Speech Therapy in Scottish Justice System | QMU News | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p style="font-weight: 400;">For more information, please contact <a href="mailto:victoria.mitchell@morrison-media.co.uk">victoria.mitchell@morrison-media.co.uk</a></p>
<p style="font-weight: 400;">The Royal College of Speech and Language Therapists (RCSLT) is the professional body for speech and language therapists in the UK, representing over 20,000 members – including nearly 1,000 in Scotland. It facilitates and promotes research into the field of speech and language therapy – the care for individuals with communication, swallowing, eating and drinking difficulties. It promotes better education and training of speech and language therapists and is responsible for setting and maintaining high standards in education, clinical practice and ethical conduct. For more information on RCSLT and its Giving Voice campaign visit <a href="http://www.rcslt.org/">www.rcslt.org</a></p>
<p style="font-weight: 400;">For further media information about Queen Margaret University, Edinburgh, contact Lynne Russell, Communications Manager, E: <a rel="noreferrer noopener" href="mailto:lrussell@qmu.ac.uk" target="_blank" class="Hyperlink SCXW202673283 BCX0">lrussell@qmu.ac.uk</a>; M: 07711 011239 and copy to E: <a href="mailto:pressoffice@qmu.ac.uk">pressoffice@qmu.ac.uk</a>.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Young people with communication needs must be a priority for Scotland’s justice system]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>