<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9f1c7de-d68b-421a-b69c-6033d9efa7e2" Alias="Student Story - Zuz Olsinova - BSc Pub Soc" Level="3">
  <Info>
    <Parent Key="d18bb03a-fac8-40f6-80a9-fff6921ad1d2">Quotes</Parent>
    <Path>/Settings/Quotes/StudentStoryZuzOlsinovaBScPubSoc</Path>
    <Trashed>false</Trashed>
    <ContentType>quote</ContentType>
    <CreateDate>2021-10-22T10:40:21</CreateDate>
    <NodeName Default="Student Story - Zuz Olsinova - BSc Pub Soc" />
    <SortOrder>32</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[umb://media/d234eddf4f5c4332a03b8db3e9c784ee]]></Value>
    </image>
    <quoteText>
      <Value><![CDATA[ I would choose QMU and the Public Sociology degree because of the amazing atmosphere at the University, small number of students and professors who are attentive and enthusiastic, and the strong focus on community. ]]></Value>
    </quoteText>
    <source>
      <Value><![CDATA[Zuz Olsinova]]></Value>
    </source>
    <sourceExtra>
      <Value><![CDATA[BSc (Hons) Public Sociology]]></Value>
    </sourceExtra>
  </Properties>
</Content>