<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee739ef7-92da-4f71-9b43-ad93b91be43c" Alias="Balance sheets as at 31 July 2017" Level="4">
  <Info>
    <Parent Key="196d70a7-a40d-4002-82d0-1bc024bd394f">Strategic Report and Financial Statements 2017</Parent>
    <Path>/Home/Finance/StrategicReportAndFinancialStatements2017/BalanceSheetsAsAt31July2017</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-02-08T14:38:19</CreateDate>
    <NodeName Default="Balance sheets as at 31 July 2017" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e2ce4a83920746269f207a398c8b6ba1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/e2ce4a83920746269f207a398c8b6ba1",
      "image": "umb://media/d9348bd929454fbca712d38d5401f705",
      "title": "Balance sheets as at 31 July 2020",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<table border="1" style="border-collapse: collapse; width: 100%; height: 760px;">
<tbody>
<tr style="height: 21px;">
<th style="width: 20.256411%; height: 21px;">
<p>FIXED ASSETS</p>
</th>
<th style="width: 6.410256%; height: 21px;">Notes </th>
<th style="width: 18.715777%; height: 21px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Consolidated</p>
<p>2017</p>
<p>£000</p>
</div>
</div>
</div>
</div>
</th>
<th style="width: 17.950891%; height: 21px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Consolidated</p>
<p>2016</p>
<p>£000</p>
</div>
</div>
</div>
</div>
</th>
<th style="width: 20%; height: 21px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>University</p>
<p>2017</p>
<p>£000</p>
</div>
</div>
</div>
</div>
</th>
<th style="width: 16.666667%; height: 21px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>University</p>
<p>2016</p>
<p>£000</p>
</div>
</div>
</div>
</div>
</th>
</tr>
<tr style="height: 21px;">
<td style="width: 20.256411%; height: 21px;">
<p>Tangible assets</p>
</td>
<td style="width: 6.410256%; height: 21px; text-align: center;">12</td>
<td style="width: 18.715777%; height: 21px; text-align: center;">
<p>82,144</p>
</td>
<td style="width: 17.950891%; height: 21px; text-align: center;">86,170</td>
<td style="width: 20%; height: 21px; text-align: center;">82,144</td>
<td style="width: 16.666667%; height: 21px; text-align: center;">86,170</td>
</tr>
<tr style="height: 21px;">
<td style="width: 20.256411%; height: 21px;">
<p>Investments</p>
</td>
<td style="width: 6.410256%; height: 21px; text-align: center;">13</td>
<td style="width: 18.715777%; height: 21px; text-align: center;">-</td>
<td style="width: 17.950891%; height: 21px; text-align: center;">-</td>
<td style="width: 20%; height: 21px; text-align: center;">-</td>
<td style="width: 16.666667%; height: 21px; text-align: center;">-</td>
</tr>
<tr style="height: 21px;">
<td style="width: 20.256411%; height: 21px;"> </td>
<td style="width: 6.410256%; height: 21px; text-align: center;"> </td>
<td style="width: 18.715777%; height: 21px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>82,144</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 17.950891%; height: 21px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>86,170</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20%; height: 21px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>82,144</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 16.666667%; height: 21px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>86,170</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 20.256411%; height: 21px;">CURRENT ASSETS</td>
<td style="width: 6.410256%; height: 21px; text-align: center;"> </td>
<td style="width: 18.715777%; height: 21px; text-align: center;"> </td>
<td style="width: 17.950891%; height: 21px; text-align: center;"> </td>
<td style="width: 20%; height: 21px; text-align: center;"> </td>
<td style="width: 16.666667%; height: 21px; text-align: center;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 20.256411%; height: 21px;">
<p>Trade and other receivables</p>
</td>
<td style="width: 6.410256%; height: 21px; text-align: center;">14</td>
<td style="width: 18.715777%; height: 21px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>2,945</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 17.950891%; height: 21px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>1,622</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20%; height: 21px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>3,574</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 16.666667%; height: 21px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>2,185</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 20.256411%; height: 21px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Current asset investments</p>
</div>
</div>
</div>
</td>
<td style="width: 6.410256%; height: 21px; text-align: center;"> </td>
<td style="width: 18.715777%; height: 21px; text-align: center;">
<p>-</p>
</td>
<td style="width: 17.950891%; height: 21px; text-align: center;">141</td>
<td style="width: 20%; height: 21px; text-align: center;">-</td>
<td style="width: 16.666667%; height: 21px; text-align: center;">141</td>
</tr>
<tr style="height: 43px;">
<td style="width: 20.256411%; height: 38px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Cash at bank and in hand</p>
</div>
</div>
</div>
</td>
<td style="width: 6.410256%; height: 38px; text-align: center;"> </td>
<td style="width: 18.715777%; height: 38px; text-align: center;">
<p>8,352</p>
</td>
<td style="width: 17.950891%; height: 38px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>7,936</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20%; height: 38px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>7,548</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 16.666667%; height: 38px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>7,198</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 85px;">
<td style="width: 20.256411%; height: 85px;">
<p> </p>
</td>
<td style="width: 6.410256%; height: 85px; text-align: center;"> </td>
<td style="width: 18.715777%; height: 85px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>11,297</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 17.950891%; height: 85px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>9,699</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20%; height: 85px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>11,122</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 16.666667%; height: 85px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>9,524</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 20.256411%; height: 21px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>CREDITORS: amounts falling due within one year</p>
</div>
</div>
</div>
</td>
<td style="width: 6.410256%; height: 21px; text-align: center;">
<p>15</p>
</td>
<td style="width: 18.715777%; height: 21px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>(7,262)</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 17.950891%; height: 21px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>(8,248)</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20%; height: 21px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>(7,087)</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 16.666667%; height: 21px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>(8,073)</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 85px;">
<td style="width: 20.256411%; height: 85px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>NET CURRENT ASSETS / (LIABILITIES)</p>
</div>
</div>
</div>
</td>
<td style="width: 6.410256%; height: 85px; text-align: center;"> </td>
<td style="width: 18.715777%; height: 85px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>4,035</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 17.950891%; height: 85px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>1,451</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20%; height: 85px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>4,035</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 16.666667%; height: 85px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>1,451</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 20.256411%;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>TOTAL ASSETS LESS CURRENT LIABILITIES</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 6.410256%; text-align: center;"> </td>
<td style="width: 18.715777%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>86,179</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 17.950891%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>87,621</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>86,179</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 16.666667%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>87,621</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 20.256411%;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>CREDITORS :amounts falling due after more than one year</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 6.410256%; text-align: center;">16</td>
<td style="width: 18.715777%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>(41,393)</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 17.950891%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>(43,353)</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>(41,393)</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 16.666667%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>(43,353)</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 20.256411%;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>PROVISIONS FOR LIABILITIES AND CHARGES</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 6.410256%; text-align: center;">17</td>
<td style="width: 18.715777%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>(15,471)</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 17.950891%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>(17,191)</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>(15,471)</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 16.666667%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>(17,191)</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 43px;">
<td style="width: 20.256411%; height: 43px;">
<p><strong>NET ASSETS</strong></p>
</td>
<td style="width: 6.410256%; height: 43px; text-align: center;">
<p> </p>
</td>
<td style="width: 18.715777%; height: 43px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>29,315</strong></p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 17.950891%; height: 43px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>27,077</strong></p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20%; height: 43px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>29,315</strong></p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 16.666667%; height: 43px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>27,077</strong></p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 20.256411%;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>RESTRICTED RESERVES</p>
</div>
</div>
</div>
</td>
<td style="width: 6.410256%; text-align: center;">
<p> </p>
</td>
<td style="width: 18.715777%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong> </strong></p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 17.950891%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong> </strong></p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong> </strong></p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 16.666667%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong> </strong></p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 20.256411%;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Income &amp; expenditure reserve – endowment reserve</p>
</div>
</div>
</div>
</td>
<td style="width: 6.410256%; text-align: center;">
<p>18</p>
</td>
<td style="width: 18.715777%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>491</strong></p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 17.950891%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>479</strong></p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>491</strong></p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 16.666667%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>479</strong></p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 20.256411%;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>UNRESTRICTED RESERVES</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 6.410256%; text-align: center;">
<p> </p>
</td>
<td style="width: 18.715777%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong> </strong></p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 17.950891%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong> </strong></p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong> </strong></p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 16.666667%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong> </strong></p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 20.256411%;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Income &amp; expenditure reserve – unrestricted</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 6.410256%; text-align: center;">
<p> </p>
</td>
<td style="width: 18.715777%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>21,561</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 17.950891%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>19,199</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>21,561</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 16.666667%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>19,199</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 20.256411%;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Revaluation reserve</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 6.410256%; text-align: center;">
<p>19</p>
</td>
<td style="width: 18.715777%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>7,263</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 17.950891%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>7,399</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>7,263</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 16.666667%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>7,399</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 20.256411%;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p><strong>TOTAL RESERVES</strong></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 6.410256%; text-align: center;">
<p> </p>
</td>
<td style="width: 18.715777%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>29,315</strong></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 17.950891%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>27,077</strong></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>29,315</strong></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 16.666667%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>27,077</strong></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
<p> </p>
<p>Queen Margaret University, Edinburgh</p>
<p> </p>
<p>Company registered in Scotland no. SC007335</p>
<p>The financial statements on pages 18 to 42 were approved by the University Court on 26 February 2021 and signed on its behalf by:</p>
<p>Linda McPherson - Acting Chair</p>
<p>Sir Paul Grice - Principal and Vice-Chancellor</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Balance sheets as at 31 July 2017]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>BALANCE SHEETS AS AT 31 JULY 2017</strong></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Queen Margaret University Strategic Report and Financial Statement 2017 Balance sheets as at 31 July 2017]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Balance sheets as at 31 July 2017 | Finance | Queen Margaret University ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Balance sheets as at 31 July 2017]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>