<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee9972ce-b016-409a-b2ed-ec3f70eefb26" Alias="UCAS - Higher Education Fairs - West and North Yorkshire" Level="4">
  <Info>
    <Parent Key="ad1c4038-b639-42fb-a0b8-1e2acfcb021a">Events Listing</Parent>
    <Path>/Home/NewsAndEvents/EventsListing/UCASHigherEducationFairsWestAndNorthYorkshire</Path>
    <Trashed>false</Trashed>
    <ContentType>eventItem</ContentType>
    <CreateDate>2021-10-08T13:09:49</CreateDate>
    <NodeName Default="UCAS - Higher Education Fairs - West and North Yorkshire" />
    <SortOrder>40</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="ac865943-209d-4f64-862a-e9637ee86b05">EventItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/bd5bcbbc8405433db3e09a339fd0c9ad]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4358fc78641f43a087d7dd8c8954e66e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/4358fc78641f43a087d7dd8c8954e66e",
      "image": "umb://media/5ef157bfffd54e27bc4a8b3d15d07c7e",
      "title": "UCAS - Higher Education Fairs - West and North Yorkshire",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>16 – 17 June 2022</p>
<p>Find out more about <a rel="noopener" data-id="1212" href="/{localLink:umb://document/fde923ae229e4d59916e57b4c164f7c1}" target="_blank" title="Open Days and Meeting Us"><span class="blue-btn">QMU Open Day Dates and Meeting Us</span></a></p>]]></Value>
    </bodyTop>
    <button>
      <Value><![CDATA[[
  {
    "name": "UCAS Registration Link",
    "url": "https://www.ucas.com/events/west-and-north-yorkshire-ucas-exhibition-2022-403881"
  }
]]]></Value>
    </button>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <cost>
      <Value><![CDATA[Free]]></Value>
    </cost>
    <displayTitle>
      <Value><![CDATA[West and North Yorkshire UCAS Exhibition 2022]]></Value>
    </displayTitle>
    <eventEndDate>
      <Value><![CDATA[2022-06-16T15:00:00]]></Value>
    </eventEndDate>
    <eventStartDate>
      <Value><![CDATA[2022-06-16T09:30:00]]></Value>
    </eventStartDate>
    <furtherInformation>
      <Value><![CDATA[]]></Value>
    </furtherInformation>
    <hashtags>
      <Value><![CDATA[]]></Value>
    </hashtags>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[1]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>This is your perfect opportunity to meet unis, ask questions, speak to subject experts, and compare courses ahead of the deadline. <a href="https://www.ucas.com/events/west-and-north-yorkshire-ucas-exhibition-2022-403881" title="UCAS Registration Link">Make sure you book your place.</a></p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>]]></Value>
    </introduction>
    <location>
      <Value><![CDATA[Leeds Beckett University (Headingley Campus) , Leeds]]></Value>
    </location>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Join us alongside UCAS experts and hundreds of university representatives, employers, and gap year specialists at one of UCAS's largest events This is your opportunity to ask your questions first-hand to a QMU representative.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Queen Margaret University at UCAS Exhibition West and North Yorkshire | 16-17 June 2022]]></Value>
    </metaTitle>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[UCAS - Higher Education Fairs - West and North Yorkshire]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>