<?xml version="1.0" encoding="utf-8"?>
<Content Key="f21855ef-292d-43fb-8fa6-989996460bf1" Alias="2018.02.28 - Older people and alcohol" Level="5">
  <Info>
    <Parent Key="5498406d-bedc-400c-9545-066855cf03b7">2018</Parent>
    <Path>/Home/NewsAndEvents/News//OlderPeopleAndAlcohol</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-11T09:47:16</CreateDate>
    <NodeName Default="2018.02.28 - Older people and alcohol" />
    <SortOrder>52</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/448d4b7896b0469f91353ab6c84f506b]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e2cd66e4d4ba42c894904d4a1fd512f1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/e2cd66e4d4ba42c894904d4a1fd512f1",
      "image": "umb://media/71e1890137b147558ecf2a6b80df0320",
      "title": "Older people and alcohol misuse – why we need to ask more questions",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Health professionals are wary about asking older people about their drinking habits in case it creates a difficult conversation and so important lifestyle questions related to drinking alcohol are often avoided. </p>
<p>The University study was carried out with 17 occupational therapists based in acute hospitals across Scotland. The aim was to understand older people’s use of alcohol in occupying their time and its impact on healthfulness. </p>
<p>Dr Fiona Maclean is a Senior Lecturer in Occupational Therapy and part of the Centre for Person-centred Practice Research at Queen Margaret University, Edinburgh. Dr Maclean, who led the research project, explained: “With an ageing population and changing lifestyles, we need to further our understanding of the relationship older people (65+ year) can have with alcohol.</p>
<p>“Changing life transitions in older age such as retirement, bereavement, social isolation and loneliness can result in older people developing a problematic relationship with alcohol. As part of the research, Occupational Therapists gave examples, such as bereavement and changing health status, as reasons why older people might increase their alcohol intake.</p>
<p>The research found that unless flagged as ‘drinking to excess’ on medical notes, therapists would not address drinking alcohol with older people for fear of offending, a lack of knowledge of what to do next and a tendency to view the conversation as potentially opening a can of worms.</p>
<p>Dr Maclean found that changes in an older person’s lifestyle, such as retirement and loneliness, often did not prompt occupational therapists to ask their patients’ questions about their pattern and nature of drinking alcohol. She confirmed: “In older age, healthfulness is considered important as it can indicate the extent to which older people remain socially engaged with others. When social connections diminish in older age, drinking alcohol can develop into an unhealthy occupation.”</p>
<p>Dr Maclean concluded: “Our research highlights the need for occupational therapists to become more aware of the role alcohol can play in the lives of older people. We need to create ways in which therapists feel confident in asking questions of older people about their occupation of drinking alcohol. By addressing these issues we will be better equipped to help people make healthy transitions into older age”.</p>
<p>The Centre for Person-centred Practice Research at Queen Margaret University is grateful to The Carnegie Trust for the Universities of Scotland which provided the funding for this project.</p>
<p><strong>ENDS</strong></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2018-02-28T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Older people and alcohol misuse – why we need to ask more questions]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[2022-02-28T09:38:52]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Research carried out by Queen Margaret University, Edinburgh has shown that health professionals are reluctant to ask older people about their pattern of drinking alcohol for fear of offending them.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Research carried out by occupational therapists at Queen Margaret University (QMU), Edinburgh has shown that health professionals are reluctant to ask older people about their pattern of drinking alcohol for fear of offending them.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Older people and alcohol misuse – why we need to ask more questions:|News and Events|Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>A generic qualitative design framed this research, recruiting occupational therapists  employed in acute hospital services across two NHS/Joint Integration Boards in Scotland.  In-depth qualitative interviews were completed and analysed.</p>
<p> </p>
<p><em>For further media information contact Lynne Russell, Communications Manager, Queen Margaret University, E: </em><a href="mailto:lrussell@qmu.ac.uk"><em>lrussell@qmu.ac.uk</em></a><em> T: 0131 474 0000, M: 07711 011239, or Jonathan Perkins, Press and PR Officer, E: </em><a href="mailto:jperkins@qmu.ac.uk"><em>jperkins@qmu.ac.uk</em></a><em> T: 0131 474 0000. </em></p>
<p> </p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Older people and alcohol misuse – why we need to ask more questions]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>