<?xml version="1.0" encoding="utf-8"?>
<Content Key="f34083af-47c4-47f4-b607-46df6ec08d36" Alias="MSc Therapeutic Radiography (Pre-Registration)" Level="5">
  <Info>
    <Parent Key="b95174b9-a3a4-4d47-8afe-1b82313a4fb4">2021</Parent>
    <Path>/Home/StudyHere/PostgraduateStudy//MScTherapeuticRadiographyPreRegistration</Path>
    <Trashed>false</Trashed>
    <ContentType>postgraduateTaughtCourse</ContentType>
    <CreateDate>2021-08-26T11:44:31</CreateDate>
    <NodeName Default="MSc Therapeutic Radiography (Pre-Registration)" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="8de98a56-9d9e-4c8f-8798-e4ad3150dbb2">Course</Template>
  </Info>
  <Properties>
    <accreditedBodies>
      <Value><![CDATA[umb://media/f8bb96f8376b417d986488072b7fa293,umb://media/22ecbacd547846a08eac1e942f5a3e56]]></Value>
    </accreditedBodies>
    <admissionsFAQ>
      <Value><![CDATA[[
  {
    "name": "Admissions FAQs",
    "udi": "umb://document/25fdc88b10384495853dd89854ac0873"
  }
]]]></Value>
    </admissionsFAQ>
    <adSpotImage>
      <Value><![CDATA[umb://media/3c3f48a7644d410ba09c66cf880ef25a]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <alert>
      <Value><![CDATA[]]></Value>
    </alert>
    <applicationText>
      <Value><![CDATA[]]></Value>
    </applicationText>
    <applyNow>
      <Value><![CDATA[[]]]></Value>
    </applyNow>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0a999d46f37d48b7ac124b339a3b4824"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/0a999d46f37d48b7ac124b339a3b4824",
      "image": "umb://media/632cb61201874634af8bf96b56bb5966",
      "title": "MSc Therapeutic Radiography ",
      "description": "(Pre-Registration)",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Right\"]",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bestSuitedFor>
      <Value><![CDATA[]]></Value>
    </bestSuitedFor>
    <bodyBottom>
      <Value><![CDATA[<div class="mceNonEditable embeditem" data-embed-url="https://youtu.be/lEEevcJkDzY" data-embed-height="240" data-embed-width="360" data-embed-constrain="true"><iframe width="360" height="203" src="https://www.youtube.com/embed/lEEevcJkDzY?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
<p><span class="lead">Please Note: </span></p>
<p>The delivery of this course is subject to the terms and conditions set out in our <a data-udi="umb://document/fef4b3182d3b43febae4ca24a859babe" href="/{localLink:umb://document/322ced8de53b4a27b128ff2d14791f45}" title="Applicant and Student Terms and Conditions">2021/22 Entry - Terms and Conditions (Postgraduate).</a></p>
<p> </p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>This course will allow you to develop the technical, interpersonal; and professional knowledge required to work as a Therapeutic Radiographer and will include a range of practical and theoretical learning. You will learn about different aspects of oncology, including diagnosis of tumours and the different treatment options available. You will also consider the wider aspects of treatment including safety, planning and developments in practice as well as the appropriate patient management. </strong></p>
<p>Delivered full-time, the course has a clinical and health promotion focus. It includes two practice placements and on completion you will be able to apply for registration with the Health and Care Professions Council (HCPC) to work as a therapeutic radiographer. The Therapeutic Radiography programme at QMU is well established and sits within a suite of clinical programs all focused on developing the skills required to become an Allied Health Professional.</p>]]></Value>
    </bodyTop>
    <careerOpportunities>
      <Value><![CDATA[]]></Value>
    </careerOpportunities>
    <centralBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4bdad658a77a47c590c0f88999df6919"
      },
      {
        "contentUdi": "umb://element/61600f0fe7714a77b2e1a84555848b3c"
      },
      {
        "contentUdi": "umb://element/48c7c152fb4b47b991be0535352cb3c4"
      },
      {
        "contentUdi": "umb://element/d3bdc52019ce4ffda928709a894550d7"
      },
      {
        "contentUdi": "umb://element/82055450d5a04117a6e601aafee2ef31"
      },
      {
        "contentUdi": "umb://element/f1053bd92e7c4508ba862ed7f4fddb2f"
      },
      {
        "contentUdi": "umb://element/90b9a1034d4d469fb1a93b362575c7a6"
      },
      {
        "contentUdi": "umb://element/c0067b2b9b2f4a90bcc8a67363b4e019"
      },
      {
        "contentUdi": "umb://element/e81d0197c99244f9b521eda9d63493ce"
      },
      {
        "contentUdi": "umb://element/0d8a1e76b63e41d8935a8b6e89665197"
      },
      {
        "contentUdi": "umb://element/ab99613e6be94dfa83fc8e415a46214a"
      },
      {
        "contentUdi": "umb://element/a61d7348cb6c40af9ecbf2bfeae980b9"
      },
      {
        "contentUdi": "umb://element/cd299574b87841b9aed702ac9c044316"
      },
      {
        "contentUdi": "umb://element/a4b3e17b18c24827a3ca4c2f5b49985a"
      },
      {
        "contentUdi": "umb://element/6ba785ba920b4c80b429da588087f928"
      },
      {
        "contentUdi": "umb://element/38e2c2e6f0cc406882956bb2e8556e8e"
      },
      {
        "contentUdi": "umb://element/0c26b9eb998f46769007516e53ea715f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/4bdad658a77a47c590c0f88999df6919",
      "title": "Why QMU?",
      "content": "<ul>\n<li>Therapeutic Radiography education at Queen Margaret University is well established, extremely popular, well respected throughout the profession and has good graduate employability rates.</li>\n<li>The teaching team includes three registered therapeutic radiographers who have strong links with the profession within Scotland and across the UK and have a range of experience.</li>\n<li>Clinical placements will be facilitated by 5 sites within Scotland providing a wide range of clinical experience.</li>\n</ul>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/61600f0fe7714a77b2e1a84555848b3c",
      "title": "Course overview",
      "content": "<p>This course provides graduates an ideal opportunity to retrain and enter a rewarding and challenging health care profession.<br />Students on this course will complete a number of modules that integrate anatomy, physiology, radiotherapy physics and radiotherapy practice. You will have the opportunity to put this knowledge into practice in a range of tutorial, workshops and clinical placements.<br />You will also develop your knowledge in the area of research and undertake a final dissertation.</p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/48c7c152fb4b47b991be0535352cb3c4",
      "title": "Exit awards",
      "content": "<p>MSc (360 credits)</p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/d3bdc52019ce4ffda928709a894550d7",
      "title": "Structure",
      "content": "<p>The course delivers theoretical and practical campus based learning with three integrated periods of practice based learning. To be awarded the postgraduate MSc Radiography (Therapeutic) (Pre-Reg) you will be required to complete 360 academic credits and pass the competency-based practice placements.</p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/82055450d5a04117a6e601aafee2ef31",
      "title": "Teaching, learning and assessment",
      "content": "<p>Academic study is learner-centered with analysis and synthesis of knowledge being of paramount importance. You will be expected to take overall responsibility for your learning. Teaching methods will include key note lectures, clinical workshops and tutorials, student led seminars, group discussions, clinical observation and practice. Directed learning materials will be delivered via a virtual learning environment (the HUB) and comprise reading, self-assessment, videos and lecture slides.</p>\n<p>Clinical skills will be developed in radiotherapy departments around Scotland.</p>\n<p>A variety of assessment structures will be used including online examinations, self-appraisal, course work, ePortfolio, viva voce, examinations, presentations and clinical assessment.</p>\n<p> </p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/f1053bd92e7c4508ba862ed7f4fddb2f",
      "title": "Teaching hours and attendance",
      "content": "<p>Each module you study will be made up of attendance in class and independent work. The structure of each module is different with different attendance requirements for each timetabled module.</p>\n<p>Attendance at professional modules is monitored to ensure safety to work in the clinical environment. Students will normally complete the course via a full-time route and clinical placements will take place within the normal working day of a therapeutic radiographer (full time Monday to Friday).</p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/90b9a1034d4d469fb1a93b362575c7a6",
      "title": "Industry links, accreditation and professional registration",
      "content": "<p>This course provides eligibility to apply for registration as a radiographer with the Health and Care Professions Council. It is accredited by the College of Radiographers.</p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/c0067b2b9b2f4a90bcc8a67363b4e019",
      "title": "Modules",
      "content": "<ul>\n<li>Introduction to Radiotherapy Practice (40 credits)</li>\n<li>Fundamental of Radiotherapy Practice (20 credits)</li>\n<li>Less Commonly Occurring Cancers (20 credits)</li>\n<li>Cross Sectional Imaging Science (20 credits)</li>\n<li>Advancing Practice in Radiotherapy (20 credits)</li>\n<li>Preparing for Practice as an Allied Health Professional (20 credits</li>\n<li>Leadership and Enterprise in Health Practice (20 credits)</li>\n<li>Understanding and Appraising the Evidence for Practice (20 credits)</li>\n<li>Applying Skills of Critical Enquiry (project) (20 credits)</li>\n<li>Radiotherapy Practice-based Learning: Placement 1 (60 credits)</li>\n<li>Radiotherapy Practice-based Learning: Placement 2 (60 credits)</li>\n</ul>\n<p><br />The modules listed are correct at time of posting (August 2021) but are subject to change. In the event that modules change, QMU will seek to use reasonable endeavours to ensure that there is no detrimental impact on students.</p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/e81d0197c99244f9b521eda9d63493ce",
      "title": "View specialist facilities film",
      "content": "<div class=\"mceNonEditable embeditem\" data-embed-url=\"https://youtu.be/UL4abucK0mw\" data-embed-height=\"240\" data-embed-width=\"360\" data-embed-constrain=\"true\"><iframe width=\"360\" height=\"203\" src=\"https://www.youtube.com/embed/UL4abucK0mw?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen=\"\"></iframe></div>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/0d8a1e76b63e41d8935a8b6e89665197",
      "title": "Single modules for CPD",
      "content": "<p>Not available.</p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/ab99613e6be94dfa83fc8e415a46214a",
      "title": "Placement",
      "content": "<p>Placements will take place within the five centers within Scotland, with the opportunity to undertake a 2-week elective in Year Two. The costs associated with these are met by the student (eg travel and accommodation).</p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/a61d7348cb6c40af9ecbf2bfeae980b9",
      "title": "Careers",
      "content": "<p>Career prospects on completion of the course are good with the opportunity to seek employment throughout the UK and Ireland.</p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/cd299574b87841b9aed702ac9c044316",
      "title": "Class sizes",
      "content": "<p>Normally there are 10-12 students enrolling on the course each year. Most of the classes are delivered with our undergraduate Master of Radiography (Therapeutic) (MTRad) students with some classes delivered across the division with Master of Physiotherapy (MPhys) and Master of Podiatry (MPod) student.</p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/a4b3e17b18c24827a3ca4c2f5b49985a",
      "title": "Entry requirements",
      "content": "<p>A good honours degree (normally second class or above). An application should illustrate what has been done by the applicant to research, and understand more about the role of a therapeutic radiographer. In particular, evidence of understanding the skills, attributes and values required to work as a therapeutic radiographer should be evident in the application. Where possible a visit to a department should be evidenced.</p>\n<p>This program is not suitable for those with a degree in diagnostic radiography or a medical degree.</p>\n<p>International: You will be required to provide evidence of English language competence at no less than IELTS 7.0 and no individual component score below 6.5.</p>\n<p>Criminal Records Check: A satisfactory criminal records check will be required.</p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/6ba785ba920b4c80b429da588087f928",
      "title": "Application deadline",
      "content": "<p>The next start date will be in 2022/23. Applications will open in October 2021.</p>\n<p>We expect this course to be highly competitive and advise applicants to apply early to be considered. </p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/38e2c2e6f0cc406882956bb2e8556e8e",
      "title": "More information and contacts",
      "content": "<p>Elisabeth Taylor (<a href=\"mailto: etaylor2@qmu.ac.uk\">etaylor2@qmu.ac.uk</a>), Programme Leader or Admissions (<a href=\"mailto:%20admissions@qmu.ac.uk\">admissions@qmu.ac.uk</a>) on tel: +44 (0)131 474 0000</p>"
    },
    {
      "contentTypeKey": "216ea22b-01af-4645-8972-5766bbd75b6c",
      "udi": "umb://element/0c26b9eb998f46769007516e53ea715f",
      "title": "Opportunities to meet us",
      "content": "<p><a href=\"/open-days-and-meeting-us/\">Click for information on our forthcoming open events</a></p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </centralBlocks>
    <courseBlocks>
      <Value><![CDATA[]]></Value>
    </courseBlocks>
    <courseEntryLink1>
      <Value><![CDATA[[]]]></Value>
    </courseEntryLink1>
    <courseEntryLink2>
      <Value><![CDATA[[]]]></Value>
    </courseEntryLink2>
    <courseTags>
      <Value><![CDATA[]]></Value>
    </courseTags>
    <courseTitle>
      <Value><![CDATA[Therapeutic  Radiography (Pre-Registration)]]></Value>
    </courseTitle>
    <degreeType>
      <Value><![CDATA[MSc]]></Value>
    </degreeType>
    <delivery>
      <Value><![CDATA[At QMU, online and in the practice setting]]></Value>
    </delivery>
    <displayTitle>
      <Value><![CDATA[MSc Therapeutic Radiography (Pre-Registration)]]></Value>
    </displayTitle>
    <division>
      <Value><![CDATA[[
  {
    "name": "DNBSPPR",
    "udi": "umb://document/8fdfe28d01124381a92544f52bfb194f"
  }
]]]></Value>
    </division>
    <duration>
      <Value><![CDATA[1 years full-time ]]></Value>
    </duration>
    <entryRequirements>
      <Value><![CDATA[]]></Value>
    </entryRequirements>
    <fees>
      <Value><![CDATA[[
  {
    "name": "Fees and Charges",
    "udi": "umb://document/781a0772d20b4e7091629a2db90d5926"
  }
]]]></Value>
    </fees>
    <hideApplicationBox>
      <Value><![CDATA[]]></Value>
    </hideApplicationBox>
    <hideFromCourseSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromCourseSearch>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[Right]]></Value>
    </horizontalAdPlacement>
    <howToApply>
      <Value><![CDATA[[
  {
    "name": "PGTC Applications",
    "udi": "umb://document/bc5658f87e2543b188470726b41c7740"
  }
]]]></Value>
    </howToApply>
    <introduction>
      <Value><![CDATA[<p><strong>Applications for this new programme will not open until 1 October 2021.</strong></p>]]></Value>
    </introduction>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[This MSc Therapeutic Radiography (Pre-Registration) course will allow you to develop the technical, interpersonal; and professional knowledge required to work as a Therapeutic Radiographer and will include a range of practical and theoretical learning.  You will learn about different aspects of oncology, including diagnosis of tumours and the different treatment options available.  You will also consider the wider aspects of treatment including safety, planning and developments in practice as well as the appropriate patient management]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[MSc Therapeutic Radiography (Pre-Registration) | Queen Margaret University]]></Value>
    </metaTitle>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f32f4497eae331cc857fa2b372d0bbf2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9eed20a0-b3f3-47c8-8fae-82f763de3e32",
      "udi": "umb://element/f32f4497eae331cc857fa2b372d0bbf2",
      "title": "",
      "usefuls": [
        {
          "icon": "icon-school color-indigo",
          "name": "Learn more about Radiography at QMU",
          "published": true,
          "queryString": null,
          "target": null,
          "trashed": false,
          "udi": "umb://document/8fdfe28d01124381a92544f52bfb194f",
          "url": "/schools-and-divisions/dnbsppr/"
        }
      ],
      "useDarkTheme": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/4abef6d44134445da7aeda970cde56ee,umb://document/abbdee2b4e4543c2bea3d265a5fe1c89]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[umb://document/a33d92be97574482967def19ff8a302f,umb://document/22c611bbfdf64dac8852e4192bb3c938,umb://document/f2d18200c53046cb8dd12128d1588486,umb://document/1620d7d2691f4195832b687d9f4c6394,umb://document/d642254ee853449cbabd2bfe5c4c98e8,umb://document/512d9a6851014deba4973b51445a2335,umb://document/1b1fd7659d464b2796c47578cc599767]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[Other Useful Information...]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[Student Stories and staff]]></Value>
    </relatedContentTitle>
    <relatedSimilarCourses>
      <Value><![CDATA[umb://document/d061c67cc6fd42bf9f2938ba91c456ff,umb://document/a1c786e963654eefa43ba623ec154504,umb://document/553bd279bf054f07958c5e838cd3fdf4,umb://document/68edb2f8462f49bc9c4e42986664e660,umb://document/44a1dd3b573c44d19ae6a6adbec5b09d]]></Value>
    </relatedSimilarCourses>
    <school>
      <Value><![CDATA[School of Health Sciences]]></Value>
    </school>
    <scqfLevel>
      <Value><![CDATA[]]></Value>
    </scqfLevel>
    <shortTitle>
      <Value><![CDATA[Therapeutic Radiography (Pre-Registration)]]></Value>
    </shortTitle>
    <startDate>
      <Value><![CDATA[2022-09-22T00:00:00]]></Value>
    </startDate>
    <startDate2>
      <Value><![CDATA[]]></Value>
    </startDate2>
    <startDate3>
      <Value><![CDATA[]]></Value>
    </startDate3>
    <studyAbroad>
      <Value><![CDATA[0]]></Value>
    </studyAbroad>
    <subject>
      <Value><![CDATA[[
  {
    "name": "Radiography",
    "udi": "umb://document/780f17bd9ca343e5aef44cd6f08fed0a"
  }
]]]></Value>
    </subject>
    <subjectFocus>
      <Value><![CDATA[]]></Value>
    </subjectFocus>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <ucasCode>
      <Value><![CDATA[]]></Value>
    </ucasCode>
    <unistatsCourseId>
      <Value><![CDATA[]]></Value>
    </unistatsCourseId>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
    <year1>
      <Value><![CDATA[2021]]></Value>
    </year1>
    <year2>
      <Value><![CDATA[]]></Value>
    </year2>
  </Properties>
</Content>