<?xml version="1.0" encoding="utf-8"?>
<Content Key="f52f655b-3aca-4178-b2c8-72c2af396d6a" Alias="REF - Farmer Decision Making Models" Level="3">
  <Info>
    <Parent Key="2fb1d2d3-9848-4b68-ba52-af2ced358220">Services for Business and Industry</Parent>
    <Path>/Home/ServicesForBusinessAndIndustry/REFFarmerDecisionMakingModels</Path>
    <Trashed>false</Trashed>
    <ContentType>caseStudy</ContentType>
    <CreateDate>2021-02-03T15:00:39</CreateDate>
    <NodeName Default="REF - Farmer Decision Making Models" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="442d9834-4ff8-4eff-a6dd-887657d8857b">CaseStudy</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/1bcc490cdef34454ad5e7b406b2c3365]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/73e55b42bcae4522a24aa4e34d2029d6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/73e55b42bcae4522a24aa4e34d2029d6",
      "image": "umb://media/dd8b626be79043e390fbb293705e09b1",
      "title": "Farmer Decision Making Models ",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/386f74f1d12e41818b0b0aa9b9153259]]></Value>
    </contactPicker>
    <displayTitle>
      <Value><![CDATA[Farmer Decision Making Models ]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[1]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[Right]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>QMU psychology researchers have developed a farmers’ decision-making model to identify the influences of socio-economic, psychological, and farming variables on farmers' decisions.</p>
<p>Understanding the influences on farmers’ business-oriented and environmentally-oriented decisions is important for farmers themselves and environmental policy-makers.  Prior to our study, research into farmers’ decision-making emphasised the roles of economic variables while paying little regard to other factors.  From analysis of the data we demonstrated how the model could explain farmers’ business-oriented and environmentally oriented behaviours.</p>
<p>Ongoing research found that environmentally-related behaviour was more likely for farmers who scored high on extraversion, openness, and conscientiousness, and high on cognitive ability, and for farmers with larger farms.</p>
<p>This work resulted in policy recommendations to the Scottish Government to promote environmentally-orientated behaviour to support compliance with the European Union Nitrates Directive, to identify areas at risk of nitrate contamination and to reduce or prevent future contamination of the environment.</p>
<p>Ongoing impact has been demonstrated through implementation of continued Government guidance to promote environmentally-orientated behaviour among farmers.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[QMU psychology researchers have developed a farmers’ decision-making model to identify the influences of socio-economic, psychological, and farming variables on farmers' decisions. Understanding the influences on farmers’ business-oriented and environmentally-oriented decisions is important for farmers themselves and environmental policy-makers.  Prior to our study, research into farmers’ decision-making emphasised the roles of economic variables while paying little regard to other factors.  From analysis of the data we demonstrated how the model could explain farmers’ business-oriented and environmentally oriented behaviours.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[REF Impact Case Study |  Farmer Decision Making Models | Queen Margaret University]]></Value>
    </metaTitle>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Farmer Decision Making Models ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Case study"
]]]></Value>
    </type>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>