<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6aaa6c5-0f40-4181-bf0f-b4ec75667048" Alias="2020.04.10 - Santander funding worth £35k re-allocated to support students affected by COVID-19" Level="5">
  <Info>
    <Parent Key="9c795575-f12b-4d4d-91c1-652258e7996d">2020</Parent>
    <Path>/Home/NewsAndEvents/News//SantanderFundingWorth35kReAllocatedToSupportStudentsAffectedByCOVID19</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-11-01T14:58:29</CreateDate>
    <NodeName Default="2020.04.10 - Santander funding worth £35k re-allocated to support students affected by COVID-19" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/f05ac173c55f4b3d8c95b53f8fb4e624]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6889cb86fd4443e388592a1b144c7995"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/6889cb86fd4443e388592a1b144c7995",
      "image": "umb://media/bc0fb9d0a4574225b98bf9e95221394c",
      "title": "Santander funding worth £35k re-allocated to support students affected by COVID-19",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The funds will go towards QMU’s International Hardship Fund and Student Discretionary Fund. These initiatives are in place to help students whose continuing access to education may be placed in jeopardy due to financial difficulties, as well as those who are struggling to meet financial commitments, such as living costs while studying at the University.</p>
<p>Sir Paul Grice, QMU Principal and Vice-Chancellor, said: “I can’t thank Santander Universities enough for this incredible gesture. With this, we plan to divert our unspent Santander funding to bolster our Student Discretionary Fund and International Hardship Fund, specifically for those affected by COVID-19. The current situation that we all find ourselves in has made it even clearer to me how far the QMU community stretches and how pivotal our partners and friends are to the success of our University.”</p>
<p><a href="/{localLink:umb://document/3ec26a7098934a6aad20541268040c45}"><strong>Find out more about applying for financial assistance.</strong></a></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2020-04-10T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Santander funding worth £35k re-allocated to support students affected by COVID-19]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>One of Queen Margaret University’s (QMU) major supporters, Santander Universities, is helping with the University’s approach to supporting students adversely affected by the COVID-19 pandemic, by re-allocating £35,000 worth of funding.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[One of Queen Margaret University’s (QMU) major supporters, Santander Universities, is helping the University’s approach to supporting students adversely affected by the COVID-19 pandemic, by re-allocating £35,000 worth of funding.

]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Santander funding re-allocated | QMU News | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media enquiries, please contact Gavin McNee (Media Relations and Content Officer) at Queen Margaret University, Edinburgh, E: <a href="mailto:gmcnee@qmu.ac.uk">gmcnee@qmu.ac.uk</a>, T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Santander funding worth £35k re-allocated to support students affected by COVID-19]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>