<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6d611b0-df80-490c-bb1a-1053a114f32c" Alias="Academic Writing" Level="6">
  <Info>
    <Parent Key="e2cf0dcc-90fc-4d35-884f-11705becdf64">Effective Learning Service (ELS)</Parent>
    <Path>/Home/StudyHere/ServicesForStudents/SupportForLearning/EffectiveLearningServiceELS/AcademicWriting</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-06-04T11:11:33</CreateDate>
    <NodeName Default="Academic Writing" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[<p>Academic Writing</p>]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4927ec7b5aed4e969ef36b49c6e7eaec"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/4927ec7b5aed4e969ef36b49c6e7eaec",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "Academic Writing",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead">Clear and concise:</span></p>
<p><strong>Your writing needs to communicate clearly and unambiguously.</strong></p>
<ul>
<li>A wide range of vocabulary is important but you must use the right word and often shorter ones are better than long ones.</li>
</ul>
<p>Long ‘rambling’:<br />in the approximate vicinity of disseminating misinformation</p>
<p>Short and clear:<br />about/near spreading lies</p>
<ul>
<li>His/her – can cause problems. Use plurals instead:</li>
</ul>
<p><span class="lead"><strong>Example:</strong></span></p>
<p>A student should go over his/her feedback carefully.(ok) Students should go over their feedback carefully. (better)</p>
<p>Avoid any vague words or phrases:</p>
<ul>
<li> Ensure that your reader knows who or what you are referring to when you use words such as: 'it', 'them', 'they'.</li>
<li> Words such as 'people' and 'ideas' can be vague. So, avoid saying: 'according to many people'. Ensure that you explain which people or which ideas.</li>
<li> When talking about events that have happened in the past, avoid phrases such as: 'in the past' or 'in recent times'. You need to be specific.</li>
</ul>
<p><span class="lead"><strong>Make every word count:</strong></span></p>
<p>Too ‘wordy’:<br />The theorist called Sigmund Freud wrote a significant piece of work called On Narcissism which offers valuable insights into ...</p>
<p>Clearer and more concise: <br />Freud (1914) offers valuable insights into ...</p>
<p><span class="lead">Formal and structured:</span></p>
<p>Academic writing need not be complicated, but it does need to have an element of formality. Your choice of words for an academic assignment should be more considered and careful. <br /><br /><strong>Tip:</strong> It may be useful to read your writing aloud. If it sounds more like a written version of a chat with a friend, you will need to revise what you have written.</p>
<ul>
<li><strong>Avoid using informal words</strong></li>
</ul>
<p><strong>Informal/spoken: </strong>White’s bit of research is all right...</p>
<p><strong>Formal: </strong>White’s research is significant because…</p>
<p><strong>Informal/spoken:</strong> 'get' ‘big' ‘a lot’</p>
<p><strong>Formal:</strong> 'obtain' 'considerable ‘ 'many</p>
<ul>
<li><strong>Avoid contracted forms of verbs; always use the full form</strong></li>
</ul>
<p><strong>Examples:</strong> it’s it is; he’ll he will; it’d it would/had</p>
<ul>
<li><strong>Avoid using exclamations (!), and dashes(-) and Brackets () and "etc."</strong></li>
<li><strong>Avoid direct questions if possible</strong></li>
</ul>
<p><strong>Informal: </strong>Why was a mixed methods research strategy adopted?</p>
<p><strong>Formal:</strong> It would be useful to find out why a mixed methods research strategy was adopted.</p>
<p>Although you aim to use more formal words in academic writing, you should not aim to obscure your meaning behind a lot of impressive words. Ultimately you should try to achieve succinct, clear prose.</p>
<p><span class="lead">Impersonal, objective, cautious</span> <br /><br />The style of academic writing is quite objective and impersonal, which means that it avoids mentioning personal feelings.</p>
<ul>
<li><strong>Avoid expressing opinion too strongly</strong></li>
</ul>
<p><strong>Too strong</strong>: White has an extremely important point to make because.. </p>
<p><strong>Better:</strong> White’s view is significant because…</p>
<ul>
<li><strong>Avoid words like ‘really’, ‘very’, ‘extremely’</strong></li>
<li><strong>Avoid evaluative words based on non-technical judgements and feelings. Use more moderate language.</strong></li>
</ul>
<p><strong>Too emotive: <br /></strong>‘amazing’ ‘badly’ ‘disappointing’ <br />‘Parents who smoke are obviously abusing their children.</p>
<p><strong>More ‘academic’: </strong></p>
<p><strong>‘</strong>valid’ ‘inaccurate’ ‘reliable’ ‘clearly demonstrates’ <br />‘Second-hand smoke has some harmful effects on children’s health.’</p>
<ul>
<li><strong>Avoid sweeping generalisations which cannot be supported.</strong></li>
</ul>
<p><strong>Too general/sweeping:</strong></p>
<p>Vulnerable people live in poor housing. <br />International aid is key to solving world poverty</p>
<p><strong>Better:</strong></p>
<p>Some vulnerable people may live in poor housing. <br />It is claimed that international aid contributes to solving world poverty. </p>
<p>So, to show caution, or to allow others to disagree, use ‘may’ ‘might’ or phrases such as ‘It could be said that…’ ‘It appears that… ‘It seems that…’</p>
<ul>
<li> Find authoritative sources (authors, researchers in books or articles) who support your point of view and refer to them in your writing.</li>
</ul>
<p><strong>Too personal:</strong> <br />In my opinion, language is clearly something social. (too personal).<br /><strong>Using author to support your point:</strong> <br />As Halliday (1974) shows, language is essentially social.</p>
<p><span class="lead">Useful website:</span> <br />More on <a href="http://www.uefap.com/writing/writfram.htm" title="Formality and objectivity in academic writing">formality, objectivity and complexity</a>.<br />For more information on this and other aspects of academic study, please visit our <a href="/study-here/student-services/effective-learning-service-els/" title="Effective Learning Service">Effective Learning Service page</a>.<br />If you would like to talk to someone in the Effective Learning Service then email us at <a href="mailto:els@qmu.ac.uk">els@qmu.ac.uk</a></p>
<p> </p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Academic Writing]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead">Academic writing</span></p>
<ul>
<li>has its own tone which dictates the choice of words and phrasing. This can vary significantly depending on the subject-area and the academic discipline you are writing for.</li>
<li>typically aims to be:</li>
</ul>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Academic Writing]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Academic Writing]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/f5cec8e5151e469fac0a659b605e8bcf,umb://document/b8402cf42f1547cb863b2f904aa67fff,umb://document/adec1fabcbd74041b6569d1b673c4e37]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Academic Writing]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>