<?xml version="1.0" encoding="utf-8"?>
<Content Key="f73112fc-b72e-448a-8a25-d02e1a4ffd22" Alias="2016.04.01-2 - QMU Costume Showcase" Level="5">
  <Info>
    <Parent Key="ac4dc403-ec85-4439-845b-de25b485c66d">2016</Parent>
    <Path>/Home/NewsAndEvents/News//QMUCostumeShowcase</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T12:18:23</CreateDate>
    <NodeName Default="2016.04.01-2 - QMU Costume Showcase" />
    <SortOrder>42</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6c38b854c0b2464783cbaea3df3995eb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/6c38b854c0b2464783cbaea3df3995eb",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "QMU’s Costume Showcase creates new worlds ",
      "description": "",
      "textLink": "[]",
      "button": "[]",
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Led by QMU’s BA (Hons) Costume Design and Construction student group, the event will feature characters drawn from a fairy tale past and a science fiction future. The audience can expect a fantastical feast of visual fun including ghostly apparitions brought to life using 21 st century technology.</p>
<p class="txtMainBlack">The show will transport you across time and space. Characters from Brecht’s ‘Caucasian Chalk Circle’ will walk the runway alongside creations inspired by anime and mythology, by the arctic north and the exotic east, by politics and pantomime.</p>
<p class="txtMainBlack">The audience will be introduced to the enchanting family of the ‘Tailor Mice’ and will be amazed by the ‘Experiments in Life Forms’ created specifically for the National Museum of Scotland and Edinburgh’s International Science Festival.</p>
<p class="txtMainBlack">2016’s finale pieces will literally light up the auditorium, so be prepared for a true spectacle!  A selection of exquisite  Renaissance costumes with a modern twist – ‘Selene, goddess of the moon’, and her court - have been especially designed to feature at  an outdoor show  as part of  the ‘Musselburgh Riding of the Marches’, an event that takes place once every 21 years.</p>
<p class="txtMainBlack">An accompanying exhibition will offer the audience an insight into the working world of QMU’s costume studio including designs, puppets, masks and photos of the students’ show projects. After both the matinee and evening shows, guests are invited to meet the student designers and makers, and to get an insight into the research, creativity and skill that goes into developing their creations.</p>
<p class="txtMainBlack">Sarah Paulley, Programme Leader of QMU’s Costume Design and Construction degree at Queen Margaret University, explained: “ This show is a highlight in Queen Margaret University’s calendar. The event provides a city centre platform for our students to showcase their individual talent and creativity – it’s an important opportunity for them to profile some of their very best work, so the show becomes extremely personal to each and every one of them.</p>
<p>“We're delighted that the finale suite of ‘Selene, goddess of the moon’ and her court will be featured in ‘Musselburgh’s Riding of the Marches’ which takes place from  23rd – 31 st July 2016. This is an important event for the community and a wide variety of QMU students, including Costume Design and Construction, Acting and Film students, will all be supporting this unique festival.”</p>
<p>‘Costume Design and Construction Showcase’ will take place at the Pleasance Theatre Hall, 60 Pleasance, Edinburgh, EH8 9TJ on the 13 May 2016. Matinee performance takes place at 3pm, followed by the exhibition. Evening performance, starts at 7 pm, followed by the exhibition which will remain open until close of business. </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2016-04-01T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU’s Costume Showcase creates new worlds ]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Queen Margaret University’s annual Costume Showcase returns to The Pleasance Theatre on the 13th of May with a show that will transport the audience through a chain of imaginary worlds.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Queen Margaret University’s annual Costume Showcase returns to The Pleasance Theatre on the 13th May with a show that will transport the audience through a chain of imaginary worlds. Led by QMU’s BA (Hons) Costume Design and Construction student group, the event will feature characters drawn from a fairy tale past and a science fiction future. The audience can expect a fantastical feast of visual fun including ghostly apparitions brought to life using 21 st century technology.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU’s Costume Showcase creates new worlds ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p><a href="/study-here/undergraduate-study/2023/ba-ba-hons-costume-design-and-construction/" title="Costume Design and Construction">Costume Design and Production</a> is an important part of Queen Margaret University’s flagship area of Creativity and Culture, which also encompasses teaching and research in cultural management; drama; acting; and film, theatre and media studies.</p>
<p>For further media, information contact Lynne Russell, Marketing Manager, Queen Margaret University, Edinburgh, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a>  T: 0131 474 0000, M: 07711 011239 and Jon Perkins, Press and PR Officer, E: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a> T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU’s Costume Showcase creates new worlds ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>