<?xml version="1.0" encoding="utf-8"?>
<Content Key="f77b6601-ddcd-46e2-aecb-8a885bb05826" Alias="Queen Margaret University School Experience Programme Handbook - Roles and Responsibilities during School Experience" Level="6">
  <Info>
    <Parent Key="13d7db04-0af7-4dda-9d4b-020491ce5706">Queen Margaret University School Experience Programme Handbook</Parent>
    <Path>/Home/DocumentMigrationAugust2022/Paul/NewPDFConveted/QueenMargaretUniversitySchoolExperienceProgrammeHandbook/QueenMargaretUniversitySchoolExperienceProgrammeHandbookRolesAndResponsibilitiesDuringSchoolExperience</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2023-02-08T15:59:50</CreateDate>
    <NodeName Default="Queen Margaret University School Experience Programme Handbook - Roles and Responsibilities during School Experience" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8273ca89894b45edb492061cee723082"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/8273ca89894b45edb492061cee723082",
      "image": "umb://media/d9348bd929454fbca712d38d5401f705",
      "title": "Queen Margaret University School Experience Programme Handbook - Roles and Responsibilities during School Experience",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "",
      "textPositionVertical": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>Student Teacher</strong> <strong>Responsibilities</strong></p>
<p>Students at all times must take seriously their responsibilities within school experience. Failure to do so will adversely affect their placement experiences and learning and could lead to the termination of the school placement.</p>
<p><strong>Prior to placement it is expected that the student</strong> <strong>will:</strong></p>
<ul>
<li>Ensure that they have a PVG Scheme Membership for working with Children which is linked<span class="Apple-converted-space"> </span>to Queen Margaret University.</li>
<li>Make contact with the School no earlier than 2 weeks before placement begins to arrange a pre-visit if practical, and pass on relevant documents if necessary</li>
<li>Have adequate arrangements in place to support travel and attendance for <span class="Apple-converted-space"> </span></li>
<li><span style="font-size: 14px;">school experience</span></li>
<li>Monitor their student e-mail accounts and respond promptly to any enquiries from their School/Division</li>
<li>Attend all pre-placement briefings and/or participate in all mandatory preparatory activities as required by the School/Division</li>
<li>Read all documentation provided by the university for school experience including assessment requirements, procedures, and regulations</li>
<li>Read all pre-placement information provided, or recommended by schools</li>
<li>Revise relevant taught information, and skills in preparation for school experience.</li>
</ul>
<p><strong>At the start of the placement and throughout placement students</strong> <strong>must:</strong></p>
<ul>
<li>Complete Health &amp; Safety checklist and abide by the school policy on Health &amp; Safety</li>
<li>Observe the <a href="https://mygtcs.gtcs.org.uk/web/FILES/teacher-regulation/student-teacher-code-0412.pdf" title="Teacher Code of conduct">Student Teacher Code</a>  and Code of <a href="https://www.gtcs.org.uk/fitness-to-teach/code-of-professionalism-and-conduct/" title="Code of Professionalism and Conduct">Professionalism and Conduct</a> COPAC) at all times</li>
<li>Be punctual at all times and dress appropriately for the placement setting and the work involved</li>
<li>Plan a programme of experience with the School Based Educator which takes into <span style="font-size: 14px;">account placement opportunities</span></li>
<li>Make available all school-based learning related documentation for their university and School Based Educators at any time</li>
<li>Ensure all documentation is up to date and presented in an organised and easy to follow fashion</li>
<li>Undertake the specified teaching responsibility and reflect on their progress as a teacher</li>
<li>Organise and maintain the Professional Digital Portfolio as per the university requirements specified in the School Experience Placement Handbook</li>
<li>Support the teacher with the on-going work of the class and learn from observation of the teacher’s interactions with the class</li>
<li>Negotiate with the class teacher the timing and content of lessons and share lesson planning at least a day in advance with the class teacher</li>
<li>Work with the class teacher to complete the Mid Way Review to identify strengths, development needs and progress</li>
<li>Participate in learning observations and professional discussions</li>
<li>Communicate closely with all relevant staff and peers, in advance of the dates of learning observations and professional discussions</li>
<li>Participate in school continuing professional development activities and in-service programme as and when appropriate</li>
<li>Reflect the status of a team member and respectfully engage with other members of staff at the placement setting as appropriate</li>
<li>Contact their University Based Educator at the earliest opportunity if any significant matters arise during the placement, including any areas of concern relating to their own welfare and personal safety, or well-being</li>
<li>Contact the university if circumstances of their placement changes such as changes in opportunities to complete tasks, to the School Based Educator</li>
<li>At all times, follow the procedures of the placement setting, and QMU regarding absence and sickness</li>
<li>Be fully prepared for teaching and contribute to the feedback process in a critically reflective and professional manner</li>
<li>Contribute towards and actively participate in the midway review, and final evaluation of their performance displaying openness to, respect and acknowledgement of other people’s ideas reflect on the school experience enabling personal and professional development. Complete selected items of evidence to add to their Professional Development Portfolio </li>
<li>Abide by the placement policy on Safeguarding and other mandatory policies</li>
<li>Act in accordance with guidance provided by the university in respect of professionalism and avoidance of situations making them vulnerable to allegations.</li>
<li><strong>Turn</strong> <strong>in</strong> <strong>signed</strong> <strong>copies</strong> <strong>of</strong> <strong>the</strong> <strong>school</strong> <strong>experience</strong> <strong>Mid Way</strong> <strong>Review</strong> <strong>to the designated dropbox in the HUB on the specified submission date.</strong></li>
</ul>
<p><strong><em>At the end of the placement students</em></strong> <strong><em>must:</em></strong></p>
<ul>
<li><strong>Turn</strong> <strong>in</strong> <strong>signed</strong> <strong>copies</strong> <strong>of</strong> <strong>the</strong> <strong>school</strong> <strong>experience of the Final</strong> <strong>Assessment Form to the designated dropbox in the HUB on the specified submission date.</strong></li>
</ul>
<p><strong>School Responsibilities</strong></p>
<ul>
<li>A commitment from the Head Teacher and staff to provide a programme in placement which facilitates progression towards meeting the GTCS Standards for Registration</li>
<li>Ensure student teachers have an awareness of and comply with placement policies in relation to Equality and Diversity, which relate to latest legal requirements. Where these are not applicable university policies would be invoked</li>
<li>Ensure that student teachers are treated in accordance with Equal Opportunities Policies based on the most recent legal requirements. Where these are not applicable University policies would be invoked</li>
<li>Fulfil its legal duties with regard to Health and Safety policies and have procedures in place which are made available to student teachers</li>
<li>Forward to the university a copy of any accident or incident report in relation to a student teacher</li>
<li>Ensure that student teachers will be treated with due care, consideration and respect as befits a beginning professional</li>
<li>Allowing student teachers to gather evidence from their professional activities within the placement, which they will keep confidential and report anonymously within assignments prepared for University assessment. Such evidence must be within the normal expectations for professional use by teachers working within placement settings</li>
<li>Ensuring that student teachers are supported and mentored by a suitably qualified teacher</li>
<li>Provide the student teacher with a variety of teaching and learning experiences and wider opportunities appropriate to their stage of professional development</li>
<li>Assess each student teacher’s progress towards the GTCS Standards for Registration both formatively and summatively</li>
<li>Complete observations and give written and verbal feedback</li>
<li>Alert both the student teacher and university at the earliest opportunity of any cause for concern with regards to progress or professional conduct</li>
<li>Complete written reports as stated in the appropriate handbook</li>
<li>Ensure that school experience meets the needs of the student teacher and provides opportunities for progression.</li>
</ul>
<p><strong>School-Based Educator</strong> <strong>Responsibilities</strong></p>
<p>School Based Educators play a key role in the professional development of student teachers. School Based Educators are experienced teachers who are responsible for the assessed outcome on placements.</p>
<p><strong>Prior to the placement starting:</strong></p>
<ul>
<li>Attend the appropriate School Based Educators briefing where possible</li>
<li>Review the student teacher sections of the University’s school experience Support web site for additional information and support</li>
<li>Utilise information from the ITE Student Advance Information for School Based Educators form to anticipate the varied learning requirements of students, for example because of a declared disability or specific cultural background</li>
<li>Prepare an induction for the student’s first day.</li>
</ul>
<p><strong><em>At the start of and throughout the</em></strong> <strong><em>placement:</em></strong></p>
<ul>
<li>Meet and carry out an induction with the student, including:</li>
<li style="list-style-type: none;">
<ul>
<li>Location of appropriate literature such as policies, books etc</li>
<li>Tour of school and location of relevant resources etc</li>
<li>Emergency procedures and policies in the event of fire, etc</li>
<li>Contact details in the event of an emergency and reporting sickness absence</li>
</ul>
</li>
<li>Ensure student has School Based Educator’s contact number(s)</li>
<li>Collaborate with the student to plan a programme of experience which takes into account placement opportunities</li>
<li>Schedule formal observations with the student including dates and times for the interim and final reports with the student</li>
<li>Complete and sign the midway and final reports (It is the student’s responsibility to hand this into the University)</li>
</ul>
<p>Monitor student attendance throughout the placement</p>
<ul>
<li>Inform the University Partnership &amp; Placement Officer immediately if the student has an unauthorised or unexpected absence from placement which lasts for more than 48 hours</li>
<li>Inform the University Based Educator as soon as possible if any concerns arise regarding the student’s wellbeing, professionalism and/or quality of performance overall.</li>
</ul>
<p><strong>The University’s</strong> <strong>Responsibilities</strong></p>
<ul>
<li>Ensuring the course meet the requirements of academic validation and accreditation and comply with latest GTCS regulations</li>
<li>Co-ordinating all aspects of course administration including advertising, admissions, placements, documentation, maintenance of student records, partnership committees, assessment boards, issuing course awards</li>
<li>Providing a structured and varied programme which facilitates progression towards meeting the standards for provisional registration and probation</li>
<li>Sharing accountability for the quality of ITE through quality assurance procedures including provision of external examiners</li>
<li><span style="font-size: 14px;">Ensure student teachers have knowledge of and apply policies in relation to equal opportunities, inclusion policies and safeguarding</span></li>
<li>Ensure that student teachers are made aware of University Equality and Diversity Policies and Procedures</li>
<li>Ensure that the University provides a structure for reporting any non-compliance during school placements</li>
<li>Ensure that student teachers have applied for and gained membership of the PVG scheme for the length of the course</li>
<li>Provide guidance for student teachers with regard to Child Protection/safeguarding and appropriate teacher behaviour</li>
<li>Provide for the student teacher a code of responsibility regarding professional behaviour</li>
<li>Invoke its disciplinary, Fitness to Practise or Cause for Concern procedures should a student teacher behave inappropriately during placement.</li>
</ul>
<p><strong>University Based Educator Responsibilities</strong></p>
<p>The University Based Educator is a teacher educator from the university who acts as a first point of contact for an identified group of students, and School Based Educators during the school experience placement. </p>
<p><strong><em>Key</em></strong> <strong><em>responsibilities:</em></strong></p>
<ul>
<li>Arrange a suitable date and time with the School Based Educator and the student to visit the school to assess the student’s teaching, offer advice and support throughout the placement, to both teachers and students </li>
<li>Negotiating an appropriate plan of action, and subsequent contact with the School Based Educator and student <strong>if there is a cause for concern</strong> pertaining to the quality of their performance, well-being, and/or professional behaviour</li>
<li>Maintaining accurate records of the nature and time of all contacts with the student, School Based Educator, and school</li>
<li>Monitoring a student’s work and submissions online</li>
<li>Alerting the Year Tutor, and the Placement &amp; Partnership Officer to any concerns arising about a student’s well-being, professional behaviour, or performance during a school experience.</li>
</ul>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Queen Margaret University School Experience Programme Handbook - Roles and Responsibilities during School Experience]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>The QMU partnership with schools is built on values of trust and mutual respect which is the basis of our community of professional learning. An effective working partnership depends on <em>shared accountability, responsibilities, tasks and a mutual understanding</em>.</p>
<p>The main aim of these shared responsibilities is to make available appropriate information, resources, staff and experiences to foster student teachers’ attainment of the GTCS Standards for Provisional Registration (SPR).</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[School Experience Programme Handbook - Roles and Responsibilities during School Experience]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>