<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8147b62-2e0a-4108-aea8-78480acde4be" Alias="2020-06-12 QMU entrepreneurs make the Converge Challenge semi-finals" Level="5">
  <Info>
    <Parent Key="9c795575-f12b-4d4d-91c1-652258e7996d">2020</Parent>
    <Path>/Home/NewsAndEvents/News//QMUEntrepreneursMakeTheConvergeChallengeSemiFinals</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-11-01T12:18:32</CreateDate>
    <NodeName Default="2020-06-12 QMU entrepreneurs make the Converge Challenge semi-finals" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/1d01914fc6ef42d184f06bd5886af83b]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/09092777d6b440aab1f85b47f1b52a8f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/09092777d6b440aab1f85b47f1b52a8f",
      "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
      "title": "QMU entrepreneurs make the Converge Challenge semi-finals",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The Converge Challenge, which is supported by the Scottish Funding Council, is open to staff, students and recent graduates of Scottish universities who have entrepreneurial ideas, projects or businesses but could do with a bit of support to get them off the ground. Competition is always fierce, with winners battling it out for cash grants and business support. This year saw a record number of 260 entrants across the challenge’s four categories, including eight from QMU.  </p>
<p>The three semi-finalists from QMU - postgraduate students Martin Craig and Keren McKean, and Senior lecturer, Fiona McLean - are now set to attend online entrepreneurial training and business surgeries, after which they will submit an 8-page business plan, financial forecast and 1-minute video pitch for judging by 6 August 2020.</p>
<p>QMU MA Arts, Festival and Cultural Management postgraduate student, Martin Craig’s business Sculpture Placement Group (SPG) is a semi-finalist in the ‘Converge Creative’ category of the challenge. SPG offers three services, including the Sculpture Adoption Scheme - which aims to improve community production of and access to visual artworks -and the Circular Arts Network, an online marketplace for exchange of artistic materials and resources which reduces waste and promotes sustainable practices. SPG also runs the Sculpture Club subscription scheme, which brings affordable, cutting-edge sculpture into people’s homes and supports charities.</p>
<p>Keren McKean, another QMU postgraduate student studying Arts, Festival and Cultural Management is also through to the semi-finals in the Creative category with her business We Make Music Work (WMMW). WMMW provides innovative services and opportunities to help musicians generate income, such as immersive virtual reality music experiences. Performances in virtual reality ‘temporary structure domes’ enable musicians to reduce their carbon footprint by not having to fly anywhere.</p>
<p>Senior Lecturer in Occupational Therapy and Art Therapy at QMU, Fiona Maclean has also made the semi-finals in the ‘Converge Impact’ category with a proposal to develop an online educational module that would enhance the expertise of the Allied Health Professionals (AHPs) who work with people living with dementia, and their families and carers. What makes this educational module unique is that it’s designed to include people living with dementia, their carers, and AHP experts. The educational module would maximise existing dementia services and promote the development of further high-quality and cost-effective services, tailored to the needs of people and reflecting the best available evidence across Scotland, the UK and world.</p>
<p>Miriam Smith, Business Development Manager at QMU, said “I am incredibly proud of Martin, Keren and Fiona for reaching this stage of the competition.</p>
<p>“Their businesses are innovative and inspired – all of them have been developed out of recognition of some of society’s most urgent social, creative and environmental challenges. On behalf of all at QMU, I’d like to wish them both every success in the final stage of the competition,” Ms Smith added.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2020-06-12T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU entrepreneurs make the Converge Challenge semi-finals]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Three Queen Margaret University (QMU) entrepreneurs have made it through to the semi-finals of this year’s Converge Challenge.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Three Queen Margaret University (QMU) entrepreneurs have made it through to the semi-finals of this year’s Converge Challenge.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU entrepreneurs reach Converge Challenge semi-finals | QMU News | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media enquiries, please contact Amy McGregor-Dainton (Interim Media Relations and Content Officer) at Queen Margaret University, Edinburgh on <a href="mailto:amcgregor-dainton@qmu.ac.uk">amcgregor-dainton@qmu.ac.uk</a> </p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU entrepreneurs make the Converge Challenge semi-finals]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>