<?xml version="1.0" encoding="utf-8"?>
<Content Key="f826c7af-6d0f-41e3-96c9-fc999bbfae8b" Alias="Business" Level="4">
  <Info>
    <Parent Key="2492dcdb-6bb9-4265-b158-2ed335ffee33">Main Navigation</Parent>
    <Path>/Settings/Navigation/MainNavigation/Business</Path>
    <Trashed>false</Trashed>
    <ContentType>navigationGroup</ContentType>
    <CreateDate>2021-01-19T20:05:36</CreateDate>
    <NodeName Default="Business" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <adSpots>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6bb9d97d96a34a03abcf067215449aa3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "18ef20b3-feae-4667-87b4-e491c31740b2",
      "udi": "umb://element/6bb9d97d96a34a03abcf067215449aa3",
      "image": "umb://media/f2805ee0ba71414d831a954a5981fcc8",
      "text": "Research and Knowledge Exchange",
      "link": "[{\"name\":\"Research and Knowledge Exchange\",\"url\":\"/research-and-knowledge-exchange/\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </adSpots>
    <findACourse>
      <Value><![CDATA[0]]></Value>
    </findACourse>
    <link>
      <Value><![CDATA[[
  {
    "name": "Services for Business and Industry",
    "url": "/services-for-business-and-industry/"
  }
]]]></Value>
    </link>
  </Properties>
</Content>