<?xml version="1.0" encoding="utf-8"?>
<Content Key="fac8ea0c-c448-4bad-a0bf-50738d5fbcc3" Alias="2017.07.20-City Region Deal signals major investment in East Lothian" Level="5">
  <Info>
    <Parent Key="5ec60e7e-de76-4127-aaea-18ddb982220d">2017</Parent>
    <Path>/Home/NewsAndEvents/News//CityRegionDealSignalsMajorInvestmentInEastLothian</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T16:21:23</CreateDate>
    <NodeName Default="2017.07.20-City Region Deal signals major investment in East Lothian" />
    <SortOrder>118</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/6ae4634bbffd49dcbe704ed9cdf82bec]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Joint Statement from Queen Margaret University and East Lothian Council]]></Value>
    </author>
    <banner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8538858a7e164b8caeda2bd932ecffd5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19be8da2-f7cf-4047-bbe0-d18c17d66668",
      "udi": "umb://element/8538858a7e164b8caeda2bd932ecffd5",
      "image": "umb://media/d09d72e5f6fe4d5488d752b3232699f0",
      "title": "City Region Deal signals major investment in East Lothian",
      "description": "",
      "textLink": null,
      "button": null,
      "videoID": "",
      "textPositionHorizontal": "[\"Left\"]",
      "textPositionVertical": "[\"Bottom\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><img src="?width=500&amp;height=296.551724137931" alt="Edinburgh and South East Scotland City Region Deal" width="500" height="296.551724137931" data-udi="umb://media/6ae4634bbffd49dcbe704ed9cdf82bec" /></p>
<p>Image: <em>City Deal signing ceremony. (L-R) Malcolm Cutt (Queen Margaret University), Charlie Jeffrey (University of Edinburgh) and Gill Hogg (Heriot Watt University).</em></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The Deal includes resources for infrastructure projects, skills development and innovation projects in East Lothian.</p>
<p>Councillor Innes said: "This is an exciting and significant opportunity to boost East Lothian’s economy while investing in skills programmes for local people.</p>
<p>"I am delighted that East Lothian Council, working with other local authorities in the region and national Government, has secured support for this major package to help accelerate growth.</p>
<p>"The proposed Innovation Park at QMU would see a business focused development driving inclusive economic growth helping to meet local need and supporting the creation of a significant number of new jobs</p>
<p>"Another important element is helping to develop our people, and I warmly welcome the allocation of resources towards skills programmes which have the potential to strengthen the county’s workforce, ensuring that East Lothian is well positioned to build strong, sustainable economic growth."</p>
<p>Queen Margaret University Principal Professor Petra Wend has also welcomed today’s announcement.</p>
<p>Prof. Wend said:</p>
<?UMBRACO_MACRO macroAlias="Quote" text="Our proposals for an Innovation Park in East Lothian, strategically well positioned on the periphery of Edinburgh City are today one step closer to becoming a reality. It is the major project included within the Edinburgh City Region Deal to benefit East Lothian, and is a once in a lifetime opportunity to create significant employment and a vibrant and sustainable community that will serve generations to come." source="Prof. Wend" sourceExtra="Queen Margaret University Principal" />
<p>"We have a prime location that will provide businesses access to national and international networks and expertise provided through the University and the wider university network.</p>
<p>"Innovation is a mindset and, with East Lothian Council as our partner, we have set out a vision of facilities to nurture businesses aligned to QMU’s areas of expertise that will contribute not just to the prosperity of the region and nation, but that will enhance the wellbeing of the community."</p>
<p>The City Region Deal is a mechanism for accelerating growth by pulling in significant government investment. By investing this funding in infrastructure, skills and innovation it is anticipated that economic performance can be substantially improved, which will not only generate funds to pay back this initial investment but also draw in additional funding from the private sector. It is also about greater autonomy and decision making powers for the region to help deliver public services more effectively and to tackle inequality and deprivation. </p>
<p><strong>ENDS </strong></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2017-07-20T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[City Region Deal signals major investment in East Lothian]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>As a key partner, East Lothian Council Leader Willie Innes today welcomed news that investment of £600m has been secured for the Edinburgh and South East Scotland City Region Deal.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[As a key partner, East Lothian Council Leader Willie Innes today welcomed news that investment of £600m has been secured for the Edinburgh and South East Scotland City Region Deal.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[City Region Deal signals major investment in East Lothian]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>More information on the Edinburgh Innovation Park is available at <a href="http://www.edinburghinnovationpark.co.uk/">www.edinburghinnovationpark.co.uk</a> . The website features detailed site plans and places the innovation park in context, including details of the associated commercial hub which will provide retail and leisure facilities for the local community, innovation park users, and QMU students and staff.  </p>
<p>Issued by Jill Mackay, Media Manager, East Lothian Council Tel: 01620 827743</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": []
  },
  "contentData": [],
  "settingsData": []
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[City Region Deal signals major investment in East Lothian]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>