<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1d32f9bc-f468-4647-8ebf-768d484ab80e" Alias="fullWidthPage" Level="2">
  <Info>
    <Name>Full Width Page</Name>
    <Icon>icon-width color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a15c939b-043b-46c5-a328-5282b90d0254">master</Composition>
    </Compositions>
    <DefaultTemplate>FullWidthPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2bbc4e71-c827-453d-ad3d-2377705cfa16">FullWidthPage</Template>
      <Template Key="d6205f37-1639-4aa6-90a5-32edc0344cb5">StudyHereBC4</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c0e85626-2e1e-4ee0-89b0-42baf601a3c6" SortOrder="0">filterPage</ContentType>
    <ContentType Key="7dc0e1af-1926-4904-a67f-03014dcbeee9" SortOrder="1">bandedLandingPage</ContentType>
    <ContentType Key="cd03d616-ada9-4b30-86b1-18ddaf71ea55" SortOrder="2">generalPage</ContentType>
    <ContentType Key="32369178-b1b3-4745-99a4-cd9f1a5af29f" SortOrder="3">generalLandingPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>fde45464-b3d2-4b2c-8f9e-1b7e2b0cdc7a</Key>
      <Name>Anchor Links</Name>
      <Alias>anchorLinks</Alias>
      <Definition>1a7f7822-755b-40d4-ad18-3916eec06ed7</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Horizontal bar containing links to further down the page]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>111d6801-3b02-457b-95c5-6f72113d6191</Key>
      <Name>Bands</Name>
      <Alias>bands</Alias>
      <Definition>0fcc502c-e787-49f3-8af1-da42f118ea0d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Main page content as bands]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>947ffe1e-6a3c-46cf-80f2-088cd1154038</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>