<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="48c0ab84-a2c6-4c75-8ddb-f228c2116556" Alias="filterFolder" Level="2">
  <Info>
    <Name>Filter Folder</Name>
    <Icon>icon-folder color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="cd03d616-ada9-4b30-86b1-18ddaf71ea55" SortOrder="0">generalPage</ContentType>
    <ContentType Key="32369178-b1b3-4745-99a4-cd9f1a5af29f" SortOrder="1">generalLandingPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>fb10e8ef-7997-4e3b-9caf-92391969e268</Key>
      <Name>Allow Custom Ordering</Name>
      <Alias>allowCustomOrdering</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[As default pages are shown alphabetically, toggle on to override this and order pages by page tree layout]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings/settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>db9d955d-8331-4a54-90c2-a642339f9298</Key>
      <Name>Filter indicator colour</Name>
      <Alias>filterIndicatorColour</Alias>
      <Definition>16aea7a2-1159-4c88-9813-00775964ea36</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional: Pick an indicating colour for the folder and associated filter pages so users are better able to see which filter links to which page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/styling">Styling</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b8335788-28d4-46a6-80ec-b11133f897e6</Key>
      <Name>Show All Child Pages</Name>
      <Alias>showAllChildPages</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[As default only the first level child page is returned, toggle on to override this and show all child pages]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4f738b7b-6f4a-4056-9f00-d01622f2ae0c</Key>
      <Name>Use Folder Controls</Name>
      <Alias>useFolderControls</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Toggle on to use the below folder level controls]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a578354d-f326-4709-a7b0-2db00c4a7af8</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a852492a-d330-4606-a7f1-c08120757c13</Key>
      <Caption>Styling</Caption>
      <Alias>settings/styling</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b358ce4b-cf62-4225-8138-aba17741561f</Key>
      <Caption>Settings</Caption>
      <Alias>settings/settings</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>