<?xml version="1.0" encoding="utf-8"?>
<Macro Key="dcf2caab-f1e1-47b3-8f26-72c693cb404a" Alias="RC_Event" Level="0">
  <Name>RC_Event</Name>
  <MacroSource>~/Views/MacroPartials/RC_Event.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>