<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2b17d32c-2402-4b78-aeac-088142fe165b" Alias="staffProfilesOverview" Level="2">
  <Info>
    <Name>Staff profiles overview</Name>
    <Icon>icon-users color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a15c939b-043b-46c5-a328-5282b90d0254">master</Composition>
    </Compositions>
    <DefaultTemplate>StaffProfilesOverview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a68c396f-5a87-468e-afe8-abeab72264cf">StaffProfilesOverview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="78c6f4c9-7c1f-4e52-8428-c4c543b0606d" SortOrder="0">staffProfile</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b8a39945-6f0a-4581-8f20-5004b9dafe6b</Key>
      <Name>Introduction</Name>
      <Alias>introduction</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>