<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7c195044-6fa0-4c11-b5be-c37ddd4f0faf" Alias="tag" Level="4">
  <Info>
    <Name>Tag</Name>
    <Icon>icon-tag color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the generic tag add under the Generic Tag Folder</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Tags/Tag+Items</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f991d300-501c-4f70-9e72-fe3d06529e98</Key>
      <Name>Tag</Name>
      <Alias>tagName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tag">Tag</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Tag</Caption>
      <SortOrder>0</SortOrder>
      <Alias>tag</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>