<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="88419e33-970c-456c-80cf-15b7ff3cf37d" Alias="blogListing" Level="2">
  <Info>
    <Name>Blog Listing</Name>
    <Icon>icon-thumbnail-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a15c939b-043b-46c5-a328-5282b90d0254">master</Composition>
    </Compositions>
    <DefaultTemplate>BlogListing</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0e5da5f9-0874-463f-9a5e-6fc1b761c68f">BlogListing</Template>
      <Template Key="92ad0120-4707-4258-b5cb-d5754a72c518">KnowHowListing</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a2eb28e0-05eb-48ac-9e9d-59d18925a48e" SortOrder="0">blogBio</ContentType>
    <ContentType Key="fe3885f5-b711-4ae6-aa67-b15b308a780a" SortOrder="1">blogPost</ContentType>
    <ContentType Key="057d8995-0af0-453a-8c8a-5ed56e251768" SortOrder="2">folders</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ef71f859-3e10-4878-81a2-0ad2d021e207</Key>
      <Name>Contact Picker</Name>
      <Alias>contactPicker</Alias>
      <Definition>7cda3540-f564-4c15-820f-0dd544199ef1</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="rightColumn">Right column</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88fbf023-22c2-4484-9920-7ced0596e5d8</Key>
      <Name>Introduction</Name>
      <Alias>introduction</Alias>
      <Definition>513c7ccd-1b30-48a8-89aa-8d71479aa7ca</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Right column</Caption>
      <SortOrder>1</SortOrder>
      <Alias>rightColumn</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>