<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c0e85626-2e1e-4ee0-89b0-42baf601a3c6" Alias="filterPage" Level="3">
  <Info>
    <Name>Filter Page</Name>
    <Icon>icon-thumbnails-small color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="a15c939b-043b-46c5-a328-5282b90d0254">master</Parent>
    <Compositions>
      <Composition Key="a15c939b-043b-46c5-a328-5282b90d0254">master</Composition>
    </Compositions>
    <DefaultTemplate>FilterPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="23b407c3-807a-4845-a573-f436bdeef7c3">FilterPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="48c0ab84-a2c6-4c75-8ddb-f228c2116556" SortOrder="0">filterFolder</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1c74bfc2-a170-4f02-9a87-e0a2ed52e3f6</Key>
      <Name>Allow Custom Ordering</Name>
      <Alias>allowCustomOrdering</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[As default pages are shown alphabetically, toggle on to override this and order pages by page tree layout]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="filteredResultsControls">Filtered results controls</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b5ec21b-1a14-4bcf-9dc0-485ac3612daf</Key>
      <Name>Contact Picker</Name>
      <Alias>contactPicker</Alias>
      <Definition>7cda3540-f564-4c15-820f-0dd544199ef1</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="rightColumn">Right Column</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5ac07066-f0d8-4790-b048-23e3cff111e2</Key>
      <Name>Introduction</Name>
      <Alias>introduction</Alias>
      <Definition>513c7ccd-1b30-48a8-89aa-8d71479aa7ca</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displayed in the search results]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4fbcf8a0-f88f-48c4-ad9a-6e4683db1c36</Key>
      <Name>Show All Child Pages</Name>
      <Alias>showAllChildPages</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[As default only the first level child page is returned, toggle on to override this and show all child pages]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="filteredResultsControls">Filtered results controls</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6af739c6-cf66-4467-9d26-d7441dc43759</Key>
      <Name>Show Images</Name>
      <Alias>showImages</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[As default a blue accent will be shown above filtered pages, toggle on to override this and show the pages ad spot images]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="filteredResultsControls">Filtered results controls</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>34be96af-fa65-44f3-a1bc-53a19501d2ed</Key>
      <Name>Show Page Level Indicators</Name>
      <Alias>showPageLevelIndicators</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Toggle on to show a tag on each page item to indicate whether the content level a 'main section' or 'sub section']]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="filteredResultsControls">Filtered results controls</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Right Column</Caption>
      <SortOrder>0</SortOrder>
      <Alias>rightColumn</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Filtered results controls</Caption>
      <SortOrder>102</SortOrder>
      <Alias>filteredResultsControls</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>