<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d4816b0b-f98e-4c7d-892e-e31857951c80" Alias="socialWall" Level="2">
  <Info>
    <Name>Social wall</Name>
    <Icon>icon-share color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a15c939b-043b-46c5-a328-5282b90d0254">master</Composition>
    </Compositions>
    <DefaultTemplate>SocialWall</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ebe45600-a0c6-4b6a-af85-4ded324952dd">SocialWall</Template>
      <Template Key="c50e6647-586b-406a-b26c-f8d76f7f38bb">SocialWallAnniversary</Template>
      <Template Key="5afe4607-486a-41a8-a768-85fe2c7c022f">SocialWallMagazine</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cd03d616-ada9-4b30-86b1-18ddaf71ea55" SortOrder="0">generalPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>4ce42146-2399-4b39-b37e-1b9a4435470b</Key>
      <Name>Articles</Name>
      <Alias>articles</Alias>
      <Definition>515e1935-f1f8-4c56-976c-db97b457dd8f</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0440fdc4-3d4a-403b-9add-249413d8dddd</Key>
      <Name>Blue theme</Name>
      <Alias>blueTheme</Alias>
      <Definition>afafeda2-08d8-4348-9d35-fbad863d3d9e</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="lookAndFeel">Look and feel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6177a1a0-8826-411c-a9a5-35026c31a6a5</Key>
      <Name>Facebook</Name>
      <Alias>facebook</Alias>
      <Definition>515e1935-f1f8-4c56-976c-db97b457dd8f</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cf580a88-76a9-454e-b04d-d2c3f64e0077</Key>
      <Name>Grey theme</Name>
      <Alias>greyTheme</Alias>
      <Definition>f9dddd4b-e10f-4d1c-b42e-7be3c168a54d</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="lookAndFeel">Look and feel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>61778700-cf2b-4d20-b7e6-2d60e16334ac</Key>
      <Name>Instagram</Name>
      <Alias>instagram</Alias>
      <Definition>515e1935-f1f8-4c56-976c-db97b457dd8f</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d9ab6788-2f85-4504-99a1-38e7f106dc6c</Key>
      <Name>Introduction</Name>
      <Alias>introduction</Alias>
      <Definition>513c7ccd-1b30-48a8-89aa-8d71479aa7ca</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f2354886-563c-4774-92f7-1d67068ff00f</Key>
      <Name>Tiles</Name>
      <Alias>tiles</Alias>
      <Definition>515e1935-f1f8-4c56-976c-db97b457dd8f</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7fa9b722-609e-4859-a7d5-348dc16e5b3d</Key>
      <Name>Twitter</Name>
      <Alias>twitter</Alias>
      <Definition>515e1935-f1f8-4c56-976c-db97b457dd8f</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b5121adf-38e2-4312-8782-c0d65f244317</Key>
      <Name>YouTube</Name>
      <Alias>youTube</Alias>
      <Definition>515e1935-f1f8-4c56-976c-db97b457dd8f</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Look and feel</Caption>
      <SortOrder>1</SortOrder>
      <Alias>lookAndFeel</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>