<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0dc662ff-e7d2-4f73-9f7b-45c97704b967" Alias="Quote - Image - Media Picker" Level="1">
  <Info>
    <Name>Quote - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>