<?xml version="1.0" encoding="utf-8"?>
<DataType Key="28680075-b18a-4ddf-8c4d-d3952a69441a" Alias="QMU - Country picker from Settings" Level="1">
  <Info>
    <Name>QMU - Country picker from Settings</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>