<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c2a3abf-c421-4e78-86b1-cc40643eee49" Alias="Master - Broken Document Links - Repeatable textstrings" Level="1">
  <Info>
    <Name>Master - Broken Document Links - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Minimum": 0,
  "Maximum": 0
}]]></Config>
</DataType>