<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ca5c04a-bd35-4860-9daf-377580bb0662" Alias="QMU - Media Gallery" Level="1">
  <Info>
    <Name>QMU - Media Gallery</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "mediaGalleryItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>