<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5898d4db-726c-4122-a9c6-db4692a89e8f" Alias="RC Event - Free text - Textarea" Level="1">
  <Info>
    <Name>RC Event - Free text - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>