<?xml version="1.0" encoding="utf-8"?>
<DataType Key="765df2db-02bd-4230-ad05-9a9123a616d8" Alias="Master - Tags - Toggle" Level="1">
  <Info>
    <Name>Master - Tags - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": true,
  "LabelOn": "Tags (will be added later stage – news, events, blogs only)",
  "LabelOff": "Tags (will be added later stage – news, events, blogs only)"
}]]></Config>
</DataType>