<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85680f52-f8ab-45c0-9548-c02950c7c702" Alias="QMU - Qualification type" Level="1">
  <Info>
    <Name>QMU - Qualification type</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 5,
      "value": "BA"
    },
    {
      "id": 6,
      "value": "BA (Hons)"
    },
    {
      "id": 7,
      "value": "BSc"
    },
    {
      "id": 8,
      "value": "BSc (Hons)"
    },
    {
      "id": 9,
      "value": "e-PgCert"
    },
    {
      "id": 10,
      "value": "Gdip"
    },
    {
      "id": 11,
      "value": "HE Cert"
    },
    {
      "id": 12,
      "value": "HEDip"
    },
    {
      "id": 13,
      "value": "MA"
    },
    {
      "id": 14,
      "value": "MDiet"
    },
    {
      "id": 15,
      "value": "MDRad"
    },
    {
      "id": 16,
      "value": "MNurse"
    },
    {
      "id": 17,
      "value": "MOccTh"
    },
    {
      "id": 18,
      "value": "MPhys"
    },
    {
      "id": 19,
      "value": "MPod"
    },
    {
      "id": 20,
      "value": "MRes"
    },
    {
      "id": 21,
      "value": "MSc"
    },
    {
      "id": 22,
      "value": "MSLT"
    },
    {
      "id": 23,
      "value": "PGDE Secondary"
    },
    {
      "id": 26,
      "value": "PgCert"
    },
    {
      "id": 25,
      "value": "PgDip"
    },
    {
      "id": 24,
      "value": "PhD"
    }
  ]
}]]></Config>
</DataType>