<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aedef517-2eec-4c68-8a5c-5ac59ce1bc5c" Alias="Manual Listing Content Items" Level="1">
  <Info>
    <Name>Manual Listing Content Items</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>