<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee49cdfa-729b-48ec-84ec-ad51c7a82a54" Alias="QMU - image quote" Level="1">
  <Info>
    <Name>QMU - image quote</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "iQS",
      "ncTabAlias": "Content",
      "nameTemplate": "{{source}}"
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>