<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ef6be13e-1250-41a8-8398-05687715a929" Alias="manualListing" Level="2">
  <Info>
    <Name>Manual Listing</Name>
    <Icon>icon-item-arrangement color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a15c939b-043b-46c5-a328-5282b90d0254">master</Composition>
    </Compositions>
    <DefaultTemplate>ManualListing</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4e6cdbb9-764c-4f44-bc5f-e79a05186df4">AnniversaryListingOverview</Template>
      <Template Key="4088bf41-7d92-4227-a878-e067d17e0afb">ManualListing</Template>
      <Template Key="93da8191-4aef-473e-b96b-597f3758b83c">ManualListingOverview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a2eb28e0-05eb-48ac-9e9d-59d18925a48e" SortOrder="0">blogBio</ContentType>
    <ContentType Key="cd03d616-ada9-4b30-86b1-18ddaf71ea55" SortOrder="1">generalPage</ContentType>
    <ContentType Key="d4816b0b-f98e-4c7d-892e-e31857951c80" SortOrder="2">socialWall</ContentType>
    <ContentType Key="2b17d32c-2402-4b78-aeac-088142fe165b" SortOrder="3">staffProfilesOverview</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>20b2845d-1f36-4b48-a73e-09721abae008</Key>
      <Name>Content Items</Name>
      <Alias>contentItems</Alias>
      <Definition>aedef517-2eec-4c68-8a5c-5ac59ce1bc5c</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>85a1d1b4-9fc5-4b24-9c32-97ed2b1453f9</Key>
      <Name>Introduction</Name>
      <Alias>introduction</Alias>
      <Definition>513c7ccd-1b30-48a8-89aa-8d71479aa7ca</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>aaad7a43-d1bd-4240-b9d5-d9c3e7e59a20</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>