<?xml version="1.0" encoding="utf-8"?>
<Macro Key="a23ac027-99ac-430c-80a9-0466670bfc6c" Alias="Breadcrumb" Level="0">
  <Name>Breadcrumb</Name>
  <MacroSource>~/Views/MacroPartials/Breadcrumb.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>