<?xml version="1.0" encoding="utf-8"?>
<Macro Key="cda1f312-a82e-4aac-94d7-d1f685ce2dc3" Alias="RC_NewsEventsBlog" Level="0">
  <Name>RC_NewsEventsBlog</Name>
  <MacroSource>~/Views/MacroPartials/RC_NewsEventsBlog.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>