<?xml version="1.0" encoding="utf-8"?>
<Content Key="00af3abd-5fb5-46b3-9815-1f2250a37e93" Alias="Funding Enquiries" Level="4">
  <Info>
    <Parent Key="13c638db-0259-4ef5-8ac8-d37ff7195001">Groups</Parent>
    <Path>/Settings/Contacts/Groups/FundingEnquiries</Path>
    <Trashed>false</Trashed>
    <ContentType>contactGroup</ContentType>
    <CreateDate>2020-12-28T11:29:15</CreateDate>
    <NodeName Default="Funding Enquiries" />
    <SortOrder>43</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactOptions>
      <Value><![CDATA[]]></Value>
    </contactOptions>
    <contacts>
      <Value><![CDATA[umb://document/d4f9b7174e664d2cbf1fcaa8bd5feafd]]></Value>
    </contacts>
    <displaySocialMediaLinks>
      <Value><![CDATA[0]]></Value>
    </displaySocialMediaLinks>
    <groupName>
      <Value><![CDATA[Funding Enquiries]]></Value>
    </groupName>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <secondaryImage>
      <Value><![CDATA[]]></Value>
    </secondaryImage>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <summary>
      <Value><![CDATA[<p>The University offers a Funding Advice Service for all students.</p>]]></Value>
    </summary>
    <telephoneNumber1>
      <Value><![CDATA[]]></Value>
    </telephoneNumber1>
    <telephoneNumber2>
      <Value><![CDATA[]]></Value>
    </telephoneNumber2>
  </Properties>
</Content>