<?xml version="1.0" encoding="utf-8"?>
<Content Key="01a19aee-f657-459a-b3fa-b36d3eaac8f3" Alias="Communication and Discourse" Level="4">
  <Info>
    <Parent Key="13c638db-0259-4ef5-8ac8-d37ff7195001">Groups</Parent>
    <Path>/Settings/Contacts/Groups/CommunicationAndDiscourse</Path>
    <Trashed>false</Trashed>
    <ContentType>contactGroup</ContentType>
    <CreateDate>2020-12-28T10:37:24</CreateDate>
    <NodeName Default="Communication and Discourse" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactOptions>
      <Value><![CDATA[]]></Value>
    </contactOptions>
    <contacts>
      <Value><![CDATA[umb://document/8f62e02ba06d4d8fba929ab69770778b]]></Value>
    </contacts>
    <displaySocialMediaLinks>
      <Value><![CDATA[0]]></Value>
    </displaySocialMediaLinks>
    <groupName>
      <Value><![CDATA[Communication and Discourse]]></Value>
    </groupName>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <secondaryImage>
      <Value><![CDATA[]]></Value>
    </secondaryImage>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <summary>
      <Value><![CDATA[<p>For information on Communication and Discourse, please use the contact provided.</p>]]></Value>
    </summary>
    <telephoneNumber1>
      <Value><![CDATA[]]></Value>
    </telephoneNumber1>
    <telephoneNumber2>
      <Value><![CDATA[]]></Value>
    </telephoneNumber2>
  </Properties>
</Content>