<?xml version="1.0" encoding="utf-8"?>
<Content Key="01fe0c9e-b853-45be-9a22-83c5d54bb859" Alias="QMU Programme Specification: MSc in Occupational Therapy (Pre-reg)" Level="5">
  <Info>
    <Parent Key="d46e0332-6c81-408a-bd79-bd5d54a54ec3">Programme Specification</Parent>
    <Path>/Home/DocumentMigrationAugust2022/Paul/ProgrammeSpecification/QMUProgrammeSpecificationMScInOccupationalTherapyPreReg</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-10-07T15:12:33</CreateDate>
    <NodeName Default="QMU Programme Specification: MSc in Occupational Therapy (Pre-reg)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<table border="1" style="border-collapse: collapse; width: 100%; height: 515px;">
<tbody>
<tr style="height: 45px;">
<td style="width: 50%; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>1 Awarding Institution</p>
</div>
</div>
</div>
</td>
<td style="width: 50%; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Queen Margaret University. Edinburgh</p>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 45px;">
<td style="width: 50%; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>2 Teaching Institution</p>
</div>
</div>
</div>
</td>
<td style="width: 50%; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Queen Margaret University. Edinburgh</p>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 45px;">
<td style="width: 50%; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>3 Professional body accreditation</p>
</div>
</div>
</div>
</td>
<td style="width: 50%; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>HPC/COT</p>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 45px;">
<td style="width: 50%; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>4 Final Award</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 50%; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>MSc in Occupational Therapy (Pre-reg)</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 62px;">
<td style="width: 50%; height: 62px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p> Subsidiary exit awards</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 50%; height: 62px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>PG Diploma (OT) PG Certificate &amp; PG Diploma (unnamed)</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 45px;">
<td style="width: 50%; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>5 Programme Title</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 50%; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>MSc in Occupational Therapy (Pre- reg)</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 62px;">
<td style="width: 50%; height: 62px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>6 UCAS code (or other coding system if relevant)</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 50%; height: 62px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p> </p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 45px;">
<td style="width: 50%; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>7 SCQF Level</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 50%; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>11</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 76px;">
<td style="width: 50%; height: 76px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>8 Mode of delivery and duration</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 50%; height: 76px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Full-time</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>MSc Full-time: 2 -5years</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 45px;">
<td style="width: 50%; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>9 Date of validation/review</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 50%; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>20th April 2016</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">10. Educational Aims of the programme</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>The student will:</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Build the knowledge, skills, attitudes and behaviours to develop professional competencies that lead to eligibility for registration with The Health and Care Professions Council (HCPC).</p>
</li>
<li>
<p>Develop a critical understanding and synthesis of the: philosophy, beliefs, key theories, relevant knowledge, skills and practice of Occupational Therapy and the influence of context in shaping praxis.</p>
</li>
<li>
<p>To prepare students for occupational therapy practice within diverse and developing practice contexts by enabling students to develop skills in scholarship, research, leadership, compassion and reflexivity in order to advance Practice and improve the health, well being and social contexts of individuals, groups and communities.</p>
</li>
<li>
<p>Advance their ability to critically research, appraise and articulate the importance of occupation in promoting the: health and well-being, recovery and occupational choices and lives of the people with whom we work in partnership.</p>
</li>
<li>
<p>Build the knowledge, skills and values required to confidently implement and evaluate occupation-focussed practice in diverse and changeable practice contexts.</p>
</li>
<li>
<p>Develop knowledge, skills and values which enable them to work effectively, autonomously, collaboratively and in partnership with individuals, groups, communities and other professionals.</p>
</li>
<li>
<p>Foster skills of autonomous learning, professional reasoning, evidence based and informed practice, reflexive practice, leadership and entrepreneurship, in preparation for continuing professional development and a commitment to lifelong learning.</p>
</li>
<li>
<p>Promote knowledge, skills and values which facilitate cultural safety, inclusive and anti- oppressive practice, occupational justice and social justice.</p>
</li>
</ul>
<div class="page">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Critically analyse current practice research and literature and develop personal and professional strategies for promoting service user and carer, narratives and involvement in practice.</p>
</li>
<li>
<p>Build upon critical research skills to enable students to develop and apply the skills of research and enquiry to practice, and produce work which contributes to advancing scholarship and practice.</p>
</li>
</ul>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">11. Benchmark statements/professional and statutory body requirements covered by the programme:</span></p>
<p>The MSc in Occupational Therapy (Pre-reg) has been designed to comply with:</p>
<ul>
<li>HCPC Standards of Proficiency (2013), Standards of education and training (2014), HCPC Guidance on Health and Character (2014), HCPC Standards of Conduct and Ethics (2016</li>
<li>Changes in policy and practice outlined in the College of Occupational Therapists Learning and Development Standards for pre-registration education (2014)</li>
<li>World Federation of Occupational Therapy Minimum Standards for Occupational Therapy Education (2002)</li>
<li>Tuning Occupational Therapy Group Reference points for the design and delivery of degree programmes in Occupational Therapy (2008)</li>
<li>The Quality Assurance Agency (QAA) for Higher Education (2001) Benchmark statements for Occupational Therapy</li>
<li>QAA Code of Practice (2012)</li>
<li>SCQF Scottish Credit and Qualification Framework (2012)</li>
<li>SCQF Framework for Lifelong learning (2009)</li>
<li>SCQF Partnership handbook (2015)</li>
</ul>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">12. Learning Outcomes of the Programme</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><strong>The students will be able to:</strong></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<ul>
<li>Critically evaluate philosophical and theoretical perspectives and empirical knowledge related to occupation, underpinning sciences, and Occupational Therapy and demonstrate scholarship by critically reflecting on the relationship between theory and practice. (K, I)</li>
<li><span style="font-size: 14px;">Demonstrate scholarship by critically debating theory driven, occupation focussed practice and debate how occupation can impact on the health and well being, occupational choices and lives of people. (K, I)</span></li>
<li>To prepare students for occupational therapy practice within diverse and developing practice contexts by enabling students to develop skills in scholarship, research, leadership, compassion and reflexivity in order to advance Practice and improve the health, well being and social contexts of individuals, carers and communities. (K, I, P, T)</li>
<li>Critically appraise the theoretical foundations of Occupational Therapy scholarship and practice and relate these to the key legislative and policy initiatives informing and shaping the relevant practice context (K, I, T)</li>
<li>Debate the impact of contextual factors such as poverty on the occupational participation and fulfilment of individuals, groups and communities (K, I)</li>
<li>Critically explore emerging theoretical frameworks and discourses around occupation and occupational disruption (K, I)</li>
<li>Critically reflect and defend the therapeutic process of assessment, goal setting, intervention strategies and evaluation in relation to occupational performance and participation, and demonstrate reasoning skills in selecting appropriate assessments, interventions and evaluations with diverse service users in a variety of service contexts. (K, P, I)</li>
<li>Demonstrate personal conduct in a manner congruent with professional codes of conduct, critically debate legal and ethical implications of professional actions in practice and demonstrate safe practice through achieving a pass level of competency in all components of the programme (K, P,T, I)</li>
<li>Demonstrate reflexivity and interpersonal skills individually and in groups, in order to and communicate appropriately with and for people with a variety of needs, from diverse contexts (K, P, T, I)</li>
<li>Critically evaluate current practice and governance and develop personal and professional strategies for advancing scholarship and practice (K, P,T, I )</li>
<li>Demonstrate competence in utilising and applying research and scholarly skills to practice. Locate, manage, analyse, critique and present diverse forms of literature through the application of relevant enquiry methods<br />(K, P, T, I)</li>
<li>Engage in autonomous learning and demonstrate autonomous thinking with reference to the enquiry based project, critically reflect on appropriate literature and make informed choices about research methodologies in relation to the production of a proposal and research project (K, P, T, I)</li>
<li>Demonstrate skills required to work effectively within teams and organisations; reflection and reflexivity, communication skills, collaboration, confident engagement with digital technologies and contributing to the management of change (K, P, T, I).</li>
</ul>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><strong>Key:</strong> Knowledge and (K)</p>
<p style="padding-left: 40px;">Intellectual skills (I)</p>
<p style="padding-left: 40px;">Practical skills (P)</p>
<p style="padding-left: 40px;">Transferable skills (T)</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">13. Teaching and learning methods and strategies</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>A hybrid PBL (H-PBL) approach is the working model for the programme. The main aims of this chosen approach are:</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<ul>
<li>to foster problem posing and problem solving skills</li>
<li>to synthesise knowledge from relevant informing disciplines</li>
<li><span style="font-size: 14px;">to develop high level interpersonal skills particularly in relation to learning about teamwork and </span><span style="font-size: 14px;">interagency work</span></li>
<li>to promote reflection-in-action and reflection-on-action</li>
<li>to provide the student with a real world context for learning</li>
<li>to promote conceptual versatility</li>
<li>to encourage creativity and independence of enquiry</li>
<li>to promote autonomous intellectual endeavour</li>
<li>to promote critical reflection of self and others</li>
</ul>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>In selecting a broad definition of problem based learning as the focus of learning and teaching within this programme a blended approach to learning will allow flexibility of delivery and to suit different learning styles. Methods and approaches will incorporate: case based learning, project work, small scale investigations, personal and professional portfolio, student centred, peer and group learning, key note lectures, professional contacts, reflective diaries, self and peer assessment and e-learning. In relation to e-learning, all students will be introduced to the HUB which provides an important forum for group discussion and communication and is used in all modules (including practice education) to promote critical reflection and sharing throughout the learning experience</p>
<p>This model will therefore continue to offer students the opportunity to participate in a variety of learning methods which will foster personal autonomy, promote high-level interpersonal skills, offer a climate for deep learning and promote reflective practice. Where practice education is integrated with academic studies, it permits very immediate possibilities to reflect on practice. This constitutes a strength of the curriculum where students can appreciate the transactional relationship between theory and practice.</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">Assessment strategies</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>A variety of formative and summative assessment methods are used to reflect the range of learning and teaching methods. The majority of the assessments are through summative coursework assignments which are consistent with the overall aims of the programme and follow the principles of adult learning. The choice of assessment methods are informed by the nature of the module and this leads to an eclectic mix of strategies including reports, essays, group work, oral presentations to the cohort, individual viva voce, practical work, reviews of literature, systematic reviews, a research proposal, project work and experiential learning on practice education. This results in versatile learners who can negotiate different expectations. Those expectations are made clear to students within the module and at various times in the curriculum, students are invited to offer a reflective piece on the experience.</p>
<p>Formative assessment is carried out through the means of the HUB where questions are posted by staff on a regular basis in each of the modules. Students are required to individually respond using their “new” knowledge and previous experiences. Students are also formatively assessed in terms of evaluating their own behaviours and that of others through the mechanisms of specific instruments (see Self Evaluation and Peer Evaluation Forms in the appendices). Vivas and small projects will also be part of the formative and summative assessments.</p>
<p>Assessment of students’ performance during practice placements continues to be based on forms which are well respected by educators and students, having been in use (and reviewed) over the past six years. Assessment forms are structured around learning outcomes with associated criteria; increasing demands on students are evident from both the learning outcomes for each placement and the text of each progressive assessment form. Service user feedback is now gathered on student performance during practice placement.</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Programme structures and features, curriculum units (modules), credits and award requirements (including any periods of placement)</p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 430px;">
<tbody>
<tr style="height: 20px;">
<td style="width: 17.051282051282055%; height: 20px;"> </td>
<th style="width: 49.61538461538461%; height: 20px;">Level 1</th>
<th style="width: 33.333333333333336%; height: 20px;">Level 2</th>
</tr>
<tr style="height: 240px;">
<th style="width: 17.051282051282055%; height: 240px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Semester 1 Weeks 1-14</p>
</div>
</div>
</div>
</div>
</th>
<td style="width: 49.61538461538461%; height: 240px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p><strong>Occupational Therapy1: Theory, values and skills for practice</strong></p>
<p>(30M level credits)</p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><strong>Manual Handling</strong> (SCQF L7)</p>
</div>
</div>
</div>
<p> </p>
</div>
</div>
</div>
</td>
<td style="width: 33.333333333333336%; height: 240px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>Occupational Therapy 3: Advancing scholarship and professional Practice</strong></p>
<p>(30M level credits)</p>
<p> </p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><strong>OT: Practice Placement 3</strong><br /><strong>14 weeks: 3 days a week Part- time</strong></p>
<p>(SCQF L9)</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 125px;">
<th style="width: 17.051282051282055%; height: 125px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Semester 2 Weeks 18-35</p>
</div>
</div>
</div>
</div>
</th>
<td style="width: 49.61538461538461%; height: 125px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>Occupational Therapy 2: Process and Practice:</strong> (30M level credits)</p>
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>Research Methods: </strong><span style="font-size: 14px;">(15 M level credits)</span></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 33.333333333333336%; height: 125px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>OT: Practice Placement 4 8 weeks Full-time: </strong>(SCQF L10)</p>
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>OT4: Occupational Choices and Narratives in Context: </strong>(15M level credits)</p>
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>Research Project 14 weeks full time 28 weeks part time:</strong>(60M level credits)</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 45px;">
<th style="width: 17.051282051282055%; height: 45px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Summer</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</th>
<td style="width: 49.61538461538461%; height: 45px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>OT: Practice Placement 2 6 weeks Full-time</strong><br /><strong>Weeks 38-43:</strong>(SCQF L8)</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 33.333333333333336%; height: 45px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>Research Project 14 weeks full time 28 weeks part time</strong>: (60M level credits)</p>
</div>
</div>
</div>
</div>
<p><strong> </strong></p>
</div>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">15. Criteria for admission</span></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>The University shall have reasonable expectation before admission, that an individual applicant will be able to fulfil the objectives of his/her programme of study and achieve the standard required for the award sought.</p>
<ul>
<li>Evidence of a first degree at honours level 2:2 or above in an appropriate area including; Health, Biological Sciences, Physical Sciences, Social Sciences, Education or Humanities.</li>
<li>Evidence of a written research project, a research module or research experience.</li>
<li>Other degrees where there is evidence of a written dissertation are considered.</li>
<li><span style="font-size: 14px;">International applicants with an ordinary degree will be considered if their degree is </span><span style="font-size: 14px;">comparable to a UK honours degree.</span></li>
<li><span style="font-size: 14px;">All international applicants for admission to a taught postgraduate programme offered by the </span><span style="font-size: 14px;">University must demonstrate competence in English at a standard equivalent to British Council English Language Testing Service (IELTS) test at an aggregated grade of 6.5 or above, with at least 6.0 in each band.</span></li>
<li>Evidence of knowledge and commitment to Occupational Therapy as a positive career choice.</li>
<li><span style="font-size: 14px;">Evidence of direct contact and responsibility with marginalised people or those with </span><span style="font-size: 14px;">impairments in a personal, paid or voluntary capacity, for a minimum of 6 months in a health, </span><span style="font-size: 14px;">social care, education or third sector context.</span></li>
<li><span style="font-size: 14px;">Mature applicants who have graduated more than ten years ago will be considered if they </span><span style="font-size: 14px;">have experience and evidence of equivalent CPD.</span></li>
<li><span style="font-size: 14px;">Mature applicants who have graduated more than ten years ago will be considered with the </span><span style="font-size: 14px;">condition that they engage in a module at master’s level study if they do not have equivalent </span><span style="font-size: 14px;">CPD.</span></li>
<li>Two satisfactory references.</li>
<li>Subject to individual interview</li>
<li>Disclosure of criminal convictions “Enhanced Disclosure Scotland”</li>
<li>Health Declaration</li>
</ul>
<p><span class="lead">16. Support for students and their learning</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>QMU programmes normally provide the following student support:</p>
<ul>
<li>Personal Academic Tutors</li>
<li>Personal Development Portfolios</li>
<li>Student handbooks</li>
<li>Access to Student Learning Services, Library and IT support</li>
<li>Access to Student Services: careers, counselling, disability advice</li>
<li>Representation through Student-Staff Committees</li>
</ul>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><span class="lead">17. Quality Assurance arrangements</span></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>This programme is governed by QMU’s quality assurance procedures. See the QMU website for more detail:<a href="/about-the-university/quality/" title="QMU Website Quality page">QMU Website</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="page">
<div class="layoutArea">
<div class="column"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU Programme Specification: MSc in Occupational Therapy (Pre-reg)]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<div class="page">
<div class="layoutArea">
<div class="column">
<p>Where appropriate outcome statements have be referenced to the appropriate Benchmarking Statement (BS)</p>
</div>
</div>
</div>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "1490fd59-ce6c-4cfb-88f5-9109f7fb19b0",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[MSc in Occupational Therapy (Pre-reg)]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>