<?xml version="1.0" encoding="utf-8"?>
<Content Key="030c1eca-1481-457b-bf91-1506f3d17b93" Alias="Food &amp; Drink Innovation - Graduate Roles in the Food Industry" Level="4">
  <Info>
    <Parent Key="31a6cb02-71b6-4bde-8ebf-c9e7bc106064">QMYOU Magazine - April 2023 (Edition 90)</Parent>
    <Path>/Home/AlumniAndFriends/QMYOUMagazineApril2023Edition90/FoodDrinkInnovationGraduateRolesInTheFoodIndustry</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2022-03-24T12:53:21</CreateDate>
    <NodeName Default="Food &amp; Drink Innovation - Graduate Roles in the Food Industry" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="793fdbdc-4982-4bca-96be-86cd7d82393e">AlumniProfile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/e4424b29e1aa4710aea71fe5d0beae47]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "a7f3df53-ea2f-4064-af74-469d6531160e",
    "name": "Food & Drink Innovation - Graduate Roles in the Food Industry",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/4c400e75cf56482e82a9841de476f79c",
    "title": "Food & Drink Innovation - Graduate Roles in the Food Industry",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p><span class="lead-big">Growing demand for graduates to fill specialist roles in the food &amp; drink sector</span></p>
<p><strong>WITH JOBS AND opportunities at an all-time high within the food sector, it’s a great time for people </strong><strong>with an interest in food and science to develop a career in the industry.</strong></p>
<p>In Scotland, there is a demand for enthusiastic, passionate people with the right skillset to help the sector innovate and to respond to growing national and global demands.</p>
<p>But what makes the food industry so interesting and why would a graduate choose a career in this developing, diverse and important industry?</p>
<p>Anil De Sequeira, Senior Lecturer in Food Science at QMU, explained: “Firstly, the food industry is one of the largest and most important industries in the UK, currently employing four million people and generating around £121 billion annually. It’s the largest manufacturing sector in the UK, and in Scotland, the food and drink sector is worth around £14 billion each year to the economy.</p>
<p>“Scotland has 18,850 food and drink businesses, which employ around 115,400 people, but it needs more specialist, high quality graduates who can contribute quickly to the sector and grow its potential.”</p>
<p><strong>QMU graduates have secured some fantastic jobs in Scotland’s growing food industry. Joanna Lis and Callum </strong><strong>Robertson studied Nutrition and Food Science at QMU. They share some insights into their current roles and </strong><strong>the industry’s career opportunities.</strong></p>
<p> </p>
<p><span class="lead"><strong>Joanna, Product Development Technologist with Bakkavor</strong></span></p>
<p><strong>JOANNA LIS WORKS for Bakkavor Salads in Bo’ness. The company is a global </strong><br><strong>leader in the production of fresh foods such as salads, pizzas, desserts, dips </strong><br><strong>and ready meals, and produces freshly prepared produce for one of the UK’s </strong><br><strong>most prominent high street retailers. </strong></p>
<p>Joanna’s job focuses on the development of new food products from concept to the final <br>product which will sell from the supermarket shelf.</p>
<p>Describing her job, Joanna said: “Bakkavor is a huge international food producer, and our section of the business creates fresh food products for one of the UK’s major food retailers. I have a very varied job and no two days are ever the same.”</p>
<p>She continued: “I’m involved in checking food quality, food analysis, product development, and creating the right type of sustainable packing so that the product fits with the retailers needs and is attractive to the customer. My main focus is in developing new products, but I’m also involved in checking the quality of raw ingredients that will go into my new product and liaising with different departments across the whole factory.</p>
<p>“I essentially work as part of a problem-solving team which looks at how we can develop attractive, fresh food products with the right ingredients, in the right packaging, and at a price that the supermarket customer wants to buy. This means I get to experiment with different ingredients and recipes, which I love; work with different professionals across Bakkavor; and liaise directly with the retailer to ensure I am producing products which they will want to sell to their customers.”</p>
<p>It was Joanna’s passion for food and her interest in science that attracted her to the industry, but she’s been surprised by the diversity of work that’s available within the food and drink sector. She said:</p>
<?UMBRACO_MACRO macroAlias="Quote" text="At Bakkavor, a graduate could develop their career in different areas of the business, for example, in product development, process or technical, to name but a few. As an international company, Bakkavor also has bases in America, China and Hong Kong, so there could also be opportunities abroad. At the same time, graduates with the right degree can choose to go into different areas of the industry – perhaps working for an innovative start-up business; diversifying agriculture, food and farm shops; or developing a specialist role within food manufacturing. The possibilities are limitless!" source="" sourceExtra="" />
<p> </p>
<p><span class="lead">Callum, Development Technologist with Genius Food</span></p>
<p><strong>FOLLOWING GRADUATION, Callum Robertson spent </strong><strong>an exciting two years working in both process &amp; new </strong><strong>product development for Bakkavor Salads, Bo’ness. He </strong><strong>is now developing his career as a development technologist </strong><strong>with Genius Food in Bathgate. Genius Food is a trailblazer in </strong><strong>the gluten-free market, producing everything from specialist </strong><strong>fresh loaves and rolls, to pancakes and pies for the bakery </strong><strong>market.</strong></p>
<p>Describing the gluten-free industry, Callum said: “There is increasing demand for fresh gluten-free products, so it’s been exciting to move into a specialist area of the industry which offers so many opportunities. Currently there is still so much unknown about the science behind gluten-free formulations due to the complexity behind the raw materials <br>and their vital function within each gluten-free recipe. In comparison to standard bakeries, the gluten-free industry has only been running commercially for the last 20 years so all the new gluten-free recipes require innovative technology and processes in order to create the best products possible. The challenge facing the industry, however, <br>is that people on a gluten-free diet want delicious, nutritious baked goods which are good for their gut health, but they don’t want to compromise on taste, texture, or quality.</p>
<p>“My role focuses on taking briefs designed by our marketing team and helping create prototype recipes in our new product development (NPD) test kitchen. From there, I support the running of manufacturing trials, conduct nutrition and microbiological testing, and source new raw materials required for NPD recipes. </p>
<p>“Although the job role is primarily practical based, a lot of the role revolves around the complexity of sourcing new raw materials which fit in with our strict allergen policy. By running a completely gluten and dairy free site, we face challenges around quality of materials, cost of goods, alongside strict allergen requirements that often include <br>additional testing and precautions taken by suppliers. Alongside raw material sourcing, I also help by monitoring quality in the factory, making recommendations for everyday production, and running factory process audits in order to achieve the best quality possible.”</p>
<p>Callum continued:</p>
<?UMBRACO_MACRO macroAlias="Quote" text="One of my favourite parts of the job is taking a product brief from the beginning concept and working alongside the other departments to produce a final product that meets the demand of the gluten-free market. Being able to help launch a product that you had a hand in getting across the finish line is a great feeling, especially when you see the product on supermarket shelves!" source="" sourceExtra="" />
<p> </p>
<p>Callum concluded: “The food industry in Scotland is becoming an increasingly diverse and innovative place to work. There are amazing opportunities to work in roles from small artisan food businesses, and specialist food producers to world leading food manufacturers. In the space of a few years, I’ve had the privilege of working for a global leader in fresh food production and now a Scottish-based specialist gluten-free food producer. With the right degree, experience and attitude, the world can be your oyster!”</p>
<p><strong>The new BSc (Hons) Food Science and Innovation has been developed by QMU in direct response to the food industry’s demand for qualified specialist graduates. To find out more about the course and career possibilities, visit: <a href="/{localLink:umb://document/058509757cef4214be1f60453db2bf4a}" title="BSc/BSc (Hons) Food Science and Innovation">www.qmu.ac.uk/food-science-innovation</a></strong></p>]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Food & Drink Innovation - Graduate Roles in the Food Industry]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[QMYOU Magazine - April 2023 (Edition 90)]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Growing demand for graduates to fill specialist roles in the food & drink sector.

WITH JOBS AND opportunities at an all-time high within the food sector, it’s a great time for people with an interest in food and science to develop a career in the industry.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Food & Drink Innovation - Graduate Roles in the Food Industry | QMYou Magazine | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[Food & Drink Innovation - Graduate Roles in the Food Industry]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Food & Drink Innovation - Graduate Roles in the Food Industry]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>