<?xml version="1.0" encoding="utf-8"?>
<Content Key="04eaea90-8870-4917-b89e-84390fc752e3" Alias="Professor Marie Donaghy" Level="4">
  <Info>
    <Parent Key="48d2cf9a-cec3-47cf-9545-679db43e4fd7">Professoriate &amp; Honorary Titles</Parent>
    <Path>/Home/AboutOurStaff/ProfessoriateHonoraryTitles/ProfessorMarieDonaghy</Path>
    <Trashed>false</Trashed>
    <ContentType>staffProfile</ContentType>
    <CreateDate>2021-02-13T12:37:40</CreateDate>
    <NodeName Default="Professor Marie Donaghy" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7509730a-2309-4003-8275-a5e134b9cf91">StaffProfile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <approvalDate>
      <Value><![CDATA[]]></Value>
    </approvalDate>
    <approved>
      <Value><![CDATA[]]></Value>
    </approved>
    <approvedBy>
      <Value><![CDATA[]]></Value>
    </approvedBy>
    <banner>
      <Value><![CDATA[]]></Value>
    </banner>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <displayTitle>
      <Value><![CDATA[Professor Marie Donaghy]]></Value>
    </displayTitle>
    <email>
      <Value><![CDATA[mdonaghy@qmu.ac.uk]]></Value>
    </email>
    <extraInformation>
      <Value><![CDATA[School of Health Sciences]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Education: Bellahouston Academy, Glasgow Scottish Physiotherapy Hospital Glasgow (Diploma in Physiotherapy, Member of the Chartered Society of Physiotherapy) Open University (BA (Hons) Psychology 2:2 Glasgow University (PhD Exercise Psychology Faculty of Medicine)</p>
<p>Profession: Superintendent Physiotherapist Glasgow Lecturer, then Senior lecturer, then Acting Head of Physiotherapy, then Associate Dean, Head of School of Health Sciences Queen Margaret University . Fellow of the Chartered Society of Physiotherapy Personal Chair in Physiotherapy</p>
<p>Main Research: the impact of exercise in different clinical populations in regard to; depression, self esteem, lifestyle behaviour. This has included looking at exercise as an adjunct in treatment of problem drinking, back pain, osteoporosis, cardiopulmonary disease. Lifestyle behaviour linked to alcohol consumption, alcohol guidelines including labelling. Professional competencies and standards. Reflection within the context of Physiotherapy.</p>
<p>Research Funding: Principal sources of research funding have been CSO, NES, SHEFC, CSP, Leonardo Da Vinci European Union.</p>
<p><strong>Selected Publications</strong></p>
<p><strong>Edited Books</strong></p>
<p>Payne, R.,  <strong>Donaghy, M.</strong>  (2010)  Payne’s Handbook of Relaxation Techniques: A guide for healthcare professionals.  4 th Edition Elsevier: Edinburgh.</p>
<p><strong>Donaghy , M.E.</strong> Nichol, M. Davidson, K. (2008) Cognitive Behavioural Interventions in Physiotherapy and Occupational Therapy Butterworth Heinemann, Elsevier: Edinburgh. ISBN-13: 9780750688000</p>
<p>Everett T., <strong>Donaghy M.E .,</strong> Feaver, S (2003) Interventions in Mental Health: An evidence-based approach for Physiotherapists and Occupational Therapists: Butterworth Heinemann: Edinburgh Chapters in Books</p>
<p><strong>Donaghy, M. E.</strong> (2008) Cognitive behavioural Approaches in the Treatment of Alcohol Addiction in <strong>Donaghy M</strong>, Nichol, M. Davidson, K. (Eds) in Cognitive Behavioural Interventions in Physiotherapy and Occupational Therapy p105-120 Butterworth Heinemann Elsevier: Edinburgh</p>
<p><strong>Donaghy, M. E .</strong> Ussher, M (2005) Exercise Interventions in Drug and Alcohol Rehabilitation in Faulkener G Taylor A H(Eds) in Exercise health and mental health:Emerging relationships p46-89 Routledge: London. ISBN 0 - 415 - 33430 - 6</p>
<p><strong>Donaghy M.E .</strong> (2003) Models of mental disorder in Everett T., <strong>Donaghy M.E</strong>., Feaver, S Interventions in Mental Health: An evidence-based approach for Physiotherapists and Occupational Therapists p3-15 Butterworth Heinemann: Edinburgh</p>
<p><strong>Donaghy M.E .</strong> (2003) Problem drinking in Everett T., Donaghy M.E., Feaver, S Interventions in Mental Health: An evidence-based approach for Physiotherapists and Occupational Therapists p221-230 Butterworth Heinemann: Edinburgh</p>
<p><strong>Donaghy M. E .,</strong> Baikie E. (2001) Psychology and the rehabilitation of the older person in Squires, A., Hastings, M. (Eds) Rehabilitation of the Older Person 3rd Edition p. 143-159.Routledge: London.</p>
<p><strong>Donaghy, M. E .</strong> (1995) Models of mental disorder in Everett, T., Dennis, M. Rickets, E.,(Eds) Physiotherapy in Mental Health, p18-38. Butterworth Heinemann: Oxford.</p>
<p><strong>Research articles</strong></p>
<p><strong>Donaghy, M.,</strong> Taylor, A (2010)  Current Controversies: Should practitioners promote physical activity as a treatment for depression. Journal Royal College of Physicians Edinburgh. 20: 40, 132-135</p>
<p>Nichol, K., Johnstone, R., <strong>Donaghy, M</strong> Lawrie, S (2009) Barriers to uptake of physical activity in community based patients with schizophrenia . Journal of Mental Health 18:6 523-532</p>
<p>Bulley, C., <strong>Donaghy M .,</strong> Payne A., Mutrie N (2009) Personal meanings, values and feelings relating to physical activity and exercise participation in female undergraduates: a qualitative exploration. Journal of Health Psychology 14 :6, 751-760.</p>
<p>Duthie, J.,<strong> Donaghy, M</strong> (2009)'The Beliefs and Attitudes of Physiotherapy Students in Scotland Toward Older People Physical &amp; Occupational Therapy In Geriatrics ,27:3, 245-266</p>
<p>Bulley, C., Salisbury, L., Whiteford, S., <strong>Donaghy, M.,</strong> MacKay, E., Howden, S. (2008) A prospective qualitative exploration of views about attending pulmonary rehabilitation. Physiotherapy Research International 14(1) Published online in Wiley InterScience(<a href="http://www.interscience.wiley.com/"> www.interscience.wiley.com</a> ) DOI : 10.1002/pri.435</p>
<p>Bulley, C., <strong>Donaghy M.,</strong> Dow C (2008) Are Physiotherapy Guidelines for the Management of Osteoporosis being Implemented? A UK Wide Survey Advances in Physiotherapy 10, 95-103.</p>
<p>Bulley, C., <strong>Donaghy M.</strong> (2008)Processes in the Development of International Specialist Competencies and Standards Journal of Allied Health Vol 37 (3) 221E - 243E(23).</p>
<p><strong>Donaghy, M.,</strong> Nicol, M., Davidson, K (2007) Cognitive Behavioural Interventions: adding a useful dimension to practice In Touch no120 p 2-7.</p>
<p><strong>Donaghy, M.</strong> (2007) Exercise can seriously improve your mental health: Fact or Fiction? Advances in Physiotherapy 9 (2): 76-89</p>
<p><strong>Donaghy , M.E.</strong> Morss, K.  (2007) An evaluation of the effectiveness of a Framework designed to facilitate reflection on practice within the discipline of physiotherapy  Physiotherapy Theory and Practice 23 (2): 76-89</p>
<p>Gill, J., Warner, P Guise E   <strong>Donaghy, M.</strong> (2007)  Descriptors and Accounts of Female Undergraduate Drinking in Scotland . Health Education Research. 22  27-36</p>
<p>Sousa J.P, Cabri, J.,. <strong>Donaghy, M.</strong> (2007) Case research in sports physiotherapy: A review of studies Physical Therapy in Sport 8 (4): 83-94</p>
<p>Bulley. C., <strong>Donaghy, M. E.,</strong> Payne, A., Mutrie, N. (2007)  A critical review of the validity of measuring stages of change in relation to exercise and moderate physical activity Critical Public Health 17 (1): 17-30</p>
<p>Sousa J. P, Cabri, J., <strong>Donaghy, M.</strong> (2007)  Estudos de Caso em Fisioterapia no Desporto: Uma Revisao Sistematico. Rivista Portuegesa Fisioterapia no Desporto  Vol 1 1 38-48 </p>
<p>Cabri, J., Esteves, J., Oliveira, R., <strong>Donaghy, M .</strong> (2006), Die Wirkungen des funktionellen Sprunggelenk-tapes auf die Propriozeption. Sportverletzung Sportsschaden, Vol.20, nº2, June,  64-68</p>
<p>Sousa J.P, Cabri, J., <strong>Donaghy, M.</strong> (2006), Fall- Forschung in der Sportsphysiotherapie. Sportverletzung Sportsschaden , Vol 20 , nº2 December</p>
<p>Bulley, C <strong>Donaghy M .</strong> (2005) Sports physiotherapy standards: a minimum threshold for performance Physical Therapy in Sport 6 201-207.</p>
<p>Bulley, C <strong>Donaghy M .</strong> (2005) Sports physiotherapy competencies: the first step towards a common platform for specialist professional recognition Physical Therapy in Sport 6 103-108.</p>
<p>Bulley. C., <strong>Donaghy, M. E.,</strong> Payne, A., Mutrie, N. (2005) Validation and Modification of the Scottish Physical Activity Questionnaire for use in a female student population International Journal of Health Promotion and Education vol 43 p117-124</p>
<p>Segura Orti E, <strong>Donaghy M.E.</strong> (2004) A cognitive-behavioural intervention to increase adherence of adult women exercisers Advances in Physiotherapy Vol 6 (2) p84-92.</p>
<p>Bulley. C., <strong>Donaghy, M. E.,</strong> Payne, A., Woodman, K., Mutrie, N. (2004) Physical Activity Participation of Female Students: Prevalence and Change During the First Academic Year International Journal of Health Promotion and Education 42 (3) p83-90</p>
<p>Gill, J <strong>Donaghy, M .</strong> (2004) Variation in the alcohol content of a drink of wine or spirit poured by a Scottish population Health Education Research 19 (5) p485-491.</p>
<p>Johnstone, R., <strong>Donaghy M</strong> , Martin D. (2003) A pilot study of a cognitive-behavioural therapy approach to physiotherapy, for acute low back pain patients, who show signs of developing chronic pain. Advances in Physiotherapy 4 (4) p182-188.</p>
<p>Ussher, M., McCusker, M. Morrow, V., <strong>Donaghy, M E .</strong> (2003) A Physical Activity Intervention in a Community Alcohol Service British Journal of Occupational Therapy 63 (12) p.598-604.</p>
<p><strong>Donaghy, M.E .</strong> Morss, K. (2000) Guided Reflection: A Framework to facilitate and assess reflective practice within the discipline of physiotherapy. Physiotherapy Theory and Practice. 16, p. 3-14</p>
<p><strong>Donaghy, M.E.</strong> (1999) Reflections on clinical effectiveness in therapy: a practical approach British Journal of Therapy and Rehabilitation 6 (6) p. 270-274</p>
<p><strong>Donaghy, M.E</strong> . Gosling, S. (1999) Specialisation in Physiotherapy: Musings on current concepts and possibilities for harmonisation across the European Union Physical Therapy Reviews, 4, p.51-60</p>
<p><strong>Donaghy, M.E .</strong> Mutrie N. (1999) Is exercise beneficial in the treatment and rehabilitation of the problem drinker? A critical review Physical Therapy Reviews 4, p. 153-166</p>
<p>Morss, K., <strong>Donaghy, M. E .</strong> (1998) Discipline-based academic development through a tripartite partnership. International Journal of Academic Development. 3, (2) p.136-145.</p>]]></Value>
    </introduction>
    <linkedIn>
      <Value><![CDATA[]]></Value>
    </linkedIn>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Professor Marie Donaghy Staff Profiles]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Professor Marie Donaghy | Staff Profile | Queen Margaret University]]></Value>
    </metaTitle>
    <position>
      <Value><![CDATA[Emeritus Professor]]></Value>
    </position>
    <qualifications>
      <Value><![CDATA[BA (Hons), FCSP, PhD, ILTM]]></Value>
    </qualifications>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <schoolDivision>
      <Value><![CDATA[]]></Value>
    </schoolDivision>
    <shortTitle>
      <Value><![CDATA[Professor Marie Donaghy]]></Value>
    </shortTitle>
    <showTwitterBanner>
      <Value><![CDATA[0]]></Value>
    </showTwitterBanner>
    <surname>
      <Value><![CDATA[]]></Value>
    </surname>
    <telephone>
      <Value><![CDATA[0131 474 0000]]></Value>
    </telephone>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
    <type>
      <Value><![CDATA[[
  "Professoriate"
]]]></Value>
    </type>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>