<?xml version="1.0" encoding="utf-8"?>
<Content Key="05c3dca0-4863-4ecc-bb0d-b7263f96179e" Alias="Dani Rae" Level="4">
  <Info>
    <Parent Key="6df39042-53f4-433d-a7b4-10e6f8b2636a">50 years of Drama and Performing Arts</Parent>
    <Path>/Home/AlumniAndFriends/yearsOfDramaAndPerformingArts/DaniRae</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2022-01-28T13:25:23</CreateDate>
    <NodeName Default="Dani Rae" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="793fdbdc-4982-4bca-96be-86cd7d82393e">AlumniProfile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/32a31f513be746b3a018896a78db0bad]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "8a940d93-ad61-4416-acb2-7bfaf47d26bf",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/50c0983fa7944998b92a7d3f3a87321a",
    "title": "",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p><span class="lead lead-big"><strong>Dani Rae is General Manager at Assembly Festival.</strong></span></p>
<p>She graduated from Queen Margaret University in 2007 with a BA (Hons) Drama and Theatre Arts.</p>
<p><span class="lead"><strong>What sparked your interest in performing arts?</strong></span></p>
<p>I started playing the violin when I was about eight years old, and my brothers were also musical - which our parents really encouraged. I think my Mum would have loved us to grow up to be The Corrs!</p>
<p>I also took part in school musicals at secondary school, which was great fun. After school, I studied for a HNC in Acting and Performance.  </p>
<p><span class="lead"><strong>Why did you choose to study at QMU?</strong></span></p>
<p>At college, I discovered that I was most certainly not cut out to be an actor. But, I also learned that studying the performing arts could lead to a variety of different careers. </p>
<p>I liked that QMU's Drama and Theatre Arts course offered a broad variety of subjects, and that you could then specialise and hone your craft once you had a better idea of what you wanted to be. </p>
<p><span class="lead"><strong>What did you enjoy most about your course? </strong></span></p>
<p>I love that we still (a lot of us are still friends) refer back to the course, moments that have stuck, particular lessons that stayed with us that we all come back to. I probably shouldn't say that the breathing exercises have helped me most - particularly when having a baby - but it's up there!</p>
<p>I think I enjoyed the commitment of my peers the most though, we were dedicated and wanted to make our stamp, and the number of us still working in the industry is testament to that.</p>
<p><span class="lead"><strong>What are your most memorable experiences of being a QMU student?</strong></span></p>
<p>There are many - the halls of residence at the Corstorphine campus were pretty memorable.</p>
<p>Our lecturer, Ksenija Horvat being a constant source of wisdom and knowledge without taking any of our nonsense. </p>
<?UMBRACO_MACRO macroAlias="Quote" text="Mine and a classmate&#x27;s neglect to do our assignment and learn a section of Shakespeare only to then have to recite the song lyrics that were in our head for the exercise instead. I&#x27;m sorry to all in the room that day, projecting Kelis&#x27; Milkshake as we walked around the space can only have been distracting and not at all hilarious. Apologies." source="" sourceExtra="" />
<p><span class="lead"><strong>Tell us more about your career path since leaving QMU. </strong></span></p>
<p>When I started at QMU, I volunteered for the fantastic Imaginate as part of the Edinburgh International Children's Festival, whom I worked with every year of my degree following that and which led me to different jobs including ushering at the Traverse Theatre and Lyceum Theatre, but perhaps most notably at the Edinburgh Festival Fringe Society.</p>
<p>I got a job in what is now known as their Arts Industry department, where my role was to support the matchmaking of performing companies with festivals, venues and other programmers. The Fringe acts as a shop window to the world for the best in creative works, from newcomers to the established artists. I was, from then on really hooked.</p>
<p>On leaving QMU, I secured a full-time contract in this role, I did this for a while before launching myself as a freelance producer. I've been so lucky to work with some of the best; Magnetic North, Aurora Nova, Live Theatre, Tron Theatre, Scottish Opera, Stellar Quines and many incredible independent artists, touring Scotland and the world.</p>
<p>I returned to the Fringe Society in 2017 as Head of Participant Services maternity cover, a role that yet again marked the Fringe as my home and led to my current role with Assembly.</p>
<p><span class="lead"><strong>Tell us more about what your role of General Manager of Assembly Festival involves. </strong></span></p>
<p>Being General Manager for Assembly Festival takes everything I've learned and puts it to use almost every day. Every budget, every contract, every bit of team work - it's all a part of what I do, it's not a small job but neither is it boring, and I'm really proud to be in the role.</p>
<p>Assembly is the largest and longest running of the curated multi-venue operators on the Fringe. When I joined in 2019, we ran 26 performance spaces across the city, supporting artists to present their work to audiences of over half a million. </p>
<p>2022 is set to be a busy one and we hope this year's Edinburgh Fringe will be one to remember. We're also continuing a new partnership with Coventry's City of Culture celebrations.</p>
<p>We're based out of the fantastic Assembly Roxy, which is a bustling venue, with lots to offer the city all year-round; another aspect to my job that I love. But then, who wouldn't love to have a space to play, make art happen and welcome audiences too?</p>
<p><span class="lead"><strong>What advice would you give to students and new graduates starting out?</strong></span></p>
<p>Get out there and make it happen for yourself.</p>
<p>Absolutely get stuck into your course, but remember you are studying in the Festival's capital of the world. See as much work as you can, and get in amongst it.</p>
<p>You also don't need to have it all figured out. You don't have to know what you want to be, it's enough to know you want to be there. If you're not sure where you fit, keep trying different things. If you're anything like me, what you end up being/doing will likely find you, not the other way around.</p>
<p>And, there are boring bits, even in the arts but just remember the end goal.</p>]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Dani Rae]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[Class of 2007]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>General Manager</p>
<p>- Assembly Festival</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Dani Rae is General Manager at Assembly Festival. She graduated from Queen Margaret University in 2007 with a BA (Hons) Drama & Theatre Arts.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Dani Rae | 50th Anniversary of Drama and Performing Arts at Queen Margaret University, Edinburgh ]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[umb://document/5f3295fdb99a41ca98ae79475155804a,umb://document/1689971f27234574a1d53a7b5e85dc15,umb://document/9cb5d06c44e2413eb5b9e22e95910f0b,umb://document/79c895585e794a7db5836c4fdb1b7ba7,umb://document/5e6bdcf95c334deab12eaaa474229a77,umb://document/b9fbc72872cd4e59b2b3f6946660578e,umb://document/6732d37f4deb4ab5b661438e5c724c00,umb://document/b6519995f860490688b7cb16ce3cbbc3]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[Drama and Performing Arts at QMU ....]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Dani Rae]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>