<?xml version="1.0" encoding="utf-8"?>
<Content Key="0cb84254-3f62-40b9-a956-8cedf4761c3c" Alias="QMU Net-Zero Strategy: Executive Summary" Level="5">
  <Info>
    <Parent Key="f0d45c24-e11f-4ad8-b6dd-f8c215fa8652">QMU Net-Zero Strategy 2023-2028</Parent>
    <Path>/Home/AboutTheUniversity/Sustainability/QMUNetZeroStrategy20232028/QMUNetZeroStrategyExecutiveSummary</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2023-02-28T10:15:12</CreateDate>
    <NodeName Default="QMU Net-Zero Strategy: Executive Summary" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "653062c9-3d6f-4d67-9cb9-5dec7ebf3837",
    "name": "QMU Net-Zero Strategy: Executive Summary",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/b87fbae2858f4c21b6e45da808d2ea04",
    "title": "QMU Net-Zero Strategy: Executive Summary",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<ul>
<li>Leadership and Governance </li>
<li>Partnerships and Engagement </li>
<li>Learning Teaching &amp; Research </li>
<li>Estates and Operations </li>
</ul>
<p><span style="font-size: 14px;">Irrespective of the legislative drivers, the University recognises and embraces the moral and social imperative for it to act and lead on delivering the change needed to face the climate challenge.</span><span style="font-size: 14px;"> </span></p>
<p><span>While net-zero focuses metrics on the Universities own carbon footprint, the role of the University in educating and inspiring future generations to embrace their role in reducing impacts on the natural world and to research the impacts of real-world climate change on society are critical factors in influencing sustained and embedded change. </span> </p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 100%; text-align: left;"><span class="NormalTextRun SCXW204583896 BCX4">Strategic goal – embed sustainability across our portfolio and practice </span> </th>
</tr>
<tr>
<td style="width: 100%;">
<p><span>Promote and incorporate sustainable practices into all of our activities in order to be at the forefront of sustainability and provide an exemplar for other organisations. Take advantage of the learning from the Covid-19 pandemic regarding environmental sustainability. Recognise this environmental priority but ensure that the social and economic aspects of sustainability are also given prominence.</span> </p>
<p><span>Strategic Plan Outcomes:</span> </p>
<ul>
<li><span> A reduction in CO2 emissions and carbon footprint from activities both in the physical operation of the University campus and the working practices of staff and students.</span></li>
<li><span> Academic programmes with sustainability elements embedded.</span></li>
<li><span> Graduates entering society with a rounded understanding of the sustainability challenges facing the world and the tools to contribute to solutions.</span></li>
</ul>
<p><a href="/about-the-university/our-strategic-plan/"><em><span data-ccp-charstyle="Hyperlink">QMU Strategic Plan 2020</span></em></a> </p>
</td>
</tr>
</tbody>
</table>
<p><span class="lead">Objectives </span></p>
<p>The overarching objectives of net-zero strategy are:</p>
<p><strong>1. The University will aim to be net-zero by 2044 in its operations. </strong></p>
<p><span class="NormalTextRun SCXW154516888 BCX4">To achieve this long-term target, interim reduction targets of 42% by 2030 and 63% by 2038 will support monitoring of delivery and therefore tactical responses the University may require to adopt to maintain course. Periodic review of the targets, achievements and technological, societal and political changes may allow acceleration of ambitions.</span> </p>
<p>{image}</p>
<p>{image}</p>
<p><span class="NormalTextRun SCXW215619567 BCX4">To support delivery of net-zero and reduce scope 1 and 2 emissions, we will progress the detailed evaluation and implementation of the technical proposals, which have been set out in a campus decarbonisation options appraisal undertaken by consultants.</span> </p>
<p><span>Further demand reduction measures derived from optimisation of energy use and energy efficiency will be implemented and we will continue to measure performance against appropriate benchmarks to drive improvements.</span> </p>
<p><span>The decarbonisation options appraisal has determined that the principal at-scale solutions which the University controls to decarbonise their energy supply are:</span> </p>
<ul style="font-weight: 400;">
<li data-leveltext="" data-font="Symbol" data-listid="1" data-list-defn-props="{&quot;335552541&quot;:1,&quot;335559684&quot;:-2,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769226&quot;:&quot;Symbol&quot;,&quot;469769242&quot;:[8226],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="1" data-aria-level="1"><em><span>Electricity</span></em><span> – installation of building mounted and ground mounted solar photovoltaic panels (PV) for local micro-generation.</span> </li>
<li data-leveltext="" data-font="Symbol" data-listid="1" data-list-defn-props="{&quot;335552541&quot;:1,&quot;335559684&quot;:-2,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769226&quot;:&quot;Symbol&quot;,&quot;469769242&quot;:[8226],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="2" data-aria-level="1"><em><span>Heating </span></em><span>– installation of either air source heat pumps </span><em><span>or</span></em><span> connection to the wider area community district heat network</span><span>.</span> <span></span></li>
</ul>
<p><strong><span>2. The University will work to establish specific emissions reductions targets for Scope 3 emissions streams by the end of 2023 </span></strong> </p>
<p><span class="NormalTextRun SCXW43188834 BCX4">A Scope 3 boundary audit will ensure that our reporting effectively represents upstream and downstream activities and that the methodologies adopted in measuring these are the most appropriate. </span> </p>
<p><strong><span>3. The University will invest in and develop its knowledge and expertise in support of sustainability and climate change. </span></strong></p>
<p><span class="NormalTextRun SCXW123616861 BCX4">We will develop specialist knowledge in-house and through drawing on external consultancy as well as developing and embedding climate change awareness at all levels of the University.</span> </p>
<p><strong><span>4. Policy and strategy in priority areas will be reviewed to align with climate change and sustainability considerations.</span></strong> </p>
<p><span class="NormalTextRun SCXW17114534 BCX4">A systematic approach to policy review will be adopted, with a focus on priority areas where the most significant impacts could be achieved.</span> </p>
<p><strong><span>5. We will foster a holistic approach to education for sustainable development (ESD) and support a broader alignment of areas of wider practice with sustainability objectives.</span></strong> </p>
<p><span class="NormalTextRun SCXW16374067 BCX4">We will utilise the UN Sustainable Development Goals (SDG’s), National Performance Framework and other relevant policy frameworks to critically engage with and map and develop our activities. </span> </p>
<p><strong><span>6. We will report regularly on the outcomes and progress of our delivery plan.</span></strong> </p>
<p><span class="NormalTextRun SCXW52557098 BCX4">Our reporting will ensure we demonstrate our commitment to our obligations in a transparent and accountable manner. This strategy and associated reporting on the delivery plan will apply to the subsidiary University companies and companies where the University has a controlling financial interest.</span> </p>
<p><strong><span>7. We will strengthen our governance ensuring appropriate responsibility and accountability as well as enhancing mechanisms for engagement and feedback.</span></strong> </p>
<p><span>We will review the terms of reference for our Sustainability Committee creating opportunities to promote wider engagement in thematic issues.</span> </p>
<p><span>We will strengthen administration and reporting from the Committee to support the Senior Leadership Team decision making.</span> </p>
<p><span>We will take positive measures to ensure that student representation in sustainability and climate change is enhanced in line with our Student Experience Strategy.</span></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU Net-Zero Strategy: Executive Summary]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead">Executive Summary</span></p>
<p><span class="NormalTextRun SCXW118583758 BCX4">This strategy and the associated delivery plan aim to ensure a holistic, whole institution approach to climate change encompassing our priority areas:</span> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[This strategy and the associated delivery plan aim to ensure a holistic, whole institution approach to climate change encompassing our priority areas.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Executive Summary | Net Zero | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "a54dc6ac-8bea-4518-874b-427b7b0e099a",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Net-Zero Strategy: Executive Summary]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>