<?xml version="1.0" encoding="utf-8"?>
<Content Key="0cbc3680-4f58-4cc9-91af-74c0e6409cf4" Alias="2015.02.23 - Baron of Prestoungrange supports" Level="5">
  <Info>
    <Parent Key="94c45b1a-49ef-4036-9be3-b5a4df2d2026">2015</Parent>
    <Path>/Home/NewsAndEvents/News//BaronOfPrestoungrangeSupports</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T10:20:44</CreateDate>
    <NodeName Default="2015.02.23 - Baron of Prestoungrange supports" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "626d9405-878b-4e52-a12e-a5fa1918f029",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Baron of Prestoungrange supports ‘Trees of Life’ project to commemorate Scottish diaspora",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p>Dr Gordon Prestoungrange has been a significant driving force behind the development of the Scottish Diaspora Tapestry and has encouraged a diverse range of Scots living all over the world to contribute to the making of the tapestry. The volunteers involved in stitching the magnificent tapestry were located in seven regions of the world. Each group of stitchers submitted a work of art for the tapestry which depicted Scots in the diaspora.  The completed tapestry was assembled and displayed in St Mary’s Church in Edinburgh as part of the 2014 Homecoming celebrations.</p>
<p>The Baron has kindly chosen to permanently commemorate this magnificent creative achievement by sponsoring seven ‘Trees of Life’ – one for each region in the world where Scots live in the diaspora. The Baron’s generous donation has meant that seven beautiful rowan trees have been planted in the grounds of Queen Margaret University in Musselburgh. His aim was to create a permanent feature which pays tribute to the Scottish diaspora who were involved in creating this unique art work. In addition, by supporting the University’s ‘Trees of Life’ donation project, the Baron is making a valuable contribution to student support at Queen Margaret University.</p>
<p>The trees, which were planted in June 2014, have grown somewhat and have created a mini grove of Scottish rowan trees which overlook the pond on the Queen Margaret University campus.</p>
<p>Professor Joe Goldblatt, Development Officer and Director of the International Centre for the Study of Planned Events at Queen Margaret University, said: "The Baron has been a central figure in the East Lothian community and has helped transform Prestonpans from a town struggling to cope with the loss of its mining industry, to a centre for history and the arts.</p>
<p>The Professor continued: “He is enormously supportive of local projects and his generous gift of seven Scottish rowan trees is a perpetual reminder of the positive influence that the Scottish people have had throughout the entire world.  The trees will be enjoyed for many years to come by students, staff and visitors and will continually remind us of Scotland's unique influence throughout the world."</p>
<p>If you are interested in knowing more about the Queen Margaret University’s ‘Trees of Life’ project, and would like to plant a tree to honour or remember someone close to you, please contact Professor Joe Goldblatt at Queen Margaret University on T: 0131 474 0000 or E: <a href="mailto:jgoldblatt@qmu.ac.uk">jgoldblatt@qmu.ac.uk</a></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2015-02-23T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Baron of Prestoungrange supports ‘Trees of Life’ project to commemorate Scottish diaspora]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>The Baron of Prestoungrange, one of East Lothian’s leading arts supporters, has provided a generous gift of seven ‘Trees of Life’ to commemorate the Scots all over the world who contributed to the making of the Scottish Diaspora Tapestry.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[The Baron of Prestoungrange, one of East Lothian’s leading arts supporters, has provided a generous gift of seven ‘Trees of Life’ to commemorate the Scots all over the world who contributed to the making of the Scottish Diaspora Tapestry.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Baron of Prestoungrange supports ‘Trees of Life’ project to commemorate Scottish diaspora]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p><a rel="noopener" href="http://www.scottishdiasporatapestry.org" target="_blank">Link to Scottish Diaspora tapestry. </a></p>
<p><strong>Queen Margaret University’s ‘Trees of Life’ Fund</strong></p>
<p>100% of proceeds, from the funds raised, will go to a designated fund approved by the Student Parliament and will directly benefit students at QMU as trees are donated by Dobbies Garden World Ltd.</p>
<p>For further media information please contact Jonathan Perkins, Press and PR Officer, Queen Margaret University, Edinburgh, tel: 0131 474 0000, Email: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "26c7a920-9f58-4441-84d9-ec136804bd9b",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Baron of Prestoungrange supports ‘Trees of Life’ project to commemorate Scottish diaspora]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>