<?xml version="1.0" encoding="utf-8"?>
<Content Key="12d33370-b5ee-4fd0-8f98-b4398e0ea9b0" Alias="2017.02.17 - Interview with QMU international graduate, Kavita Murthi: MSc in Occupational Therapy (post-registration)" Level="5">
  <Info>
    <Parent Key="5ec60e7e-de76-4127-aaea-18ddb982220d">2017</Parent>
    <Path>/Home/NewsAndEvents/News//InterviewWithQMUInternationalGraduateKavitaMurthiMScInOccupationalTherapyPostRegistration</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T14:56:25</CreateDate>
    <NodeName Default="2017.02.17 - Interview with QMU international graduate, Kavita Murthi: MSc in Occupational Therapy (post-registration)" />
    <SortOrder>43</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "39d45641-41da-4739-ad37-6697486ac60b",
    "name": "Interview with QMU international graduate, Kavita Murthi: MSc in Occupational Therapy (post-registration)",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Interview with QMU international graduate, Kavita Murthi: MSc in Occupational Therapy (post-registration) ",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Before studying at QMU, Kavita completed her undergraduate studies in Occupational Therapy from Maharashtra University of Health Sciences in Mumbai.</p>
<p class="txtMainBlack">After completing her internship, she decided to explore the world as a therapist to understand various cultural, experiential diversities and how this impacted occupational therapy practice. She also wanted to learn more about research methodologies and ways to conduct research, so she decided to look out for postgraduate programmes outside India.</p>
<p class="txtMainBlack"><strong>Why did you choose to study at QMU?</strong></p>
<p class="txtMainBlack"><em>“With research as my priority, I started searching for relevant postgraduate courses and took professional help from an organisation called Study Overseas in Mumbai. I was really attracted to QMU because the study programme could be shaped to suit my individual needs and allowed me to focus on my research interests. I also liked the course structure and flexibility of the programme.</em></p>
<p class="txtMainBlack"><em>“I felt very secure right from when I applied to QMU because I always got answers to all my small doubts and anxieties. I was in touch with my programme leader even before I reached the University. I was also able to meet someone from QMU before I even moved to Edinburgh, which helped ease my anxieties.</em></p>
<p class="txtMainBlack"><em>“I met a lovely staff member who visited the Study Overseas organisation and I actually spent time understanding about the course in depth. This was the comfort level that I was offered even before I completed my application. For me, personally, QMU and its quality of education mattered more than the city and country it is base in.” </em></p>
<p class="txtMainBlack"><strong>Did you enjoy living in Edinburgh? </strong></p>
<p class="txtMainBlack"><em>“I was awestruck when I reached the beautiful city of Edinburgh and I’m still mesmerised by its beauty.” </em></p>
<p class="txtMainBlack"><strong>What did you enjoy most about studying at QMU?</strong></p>
<p class="txtMainBlack"><em>“I found the programme very intriguing, challenging but extremely satisfying and exciting. The workload through the programme was very manageable and this was because of the tremendous positive support that I received from all programme coordinators and my programme leader. I could meet my academic facilitators personally and online, which meant I could clear all the doubts or challenges that I faced through the course of the programme. </em></p>
<p class="txtMainBlack"><em>“This support system helped me to manage my studies, allowing me to work through the programme. </em></p>
<p class="txtMainBlack"><strong>Did you take advantage of any personal development opportunities during your studies at QMU? </strong></p>
<p class="txtMainBlack"><em>“I held two interesting positions in the University itself – Student Ambassador and International Student Lead. These positions allowed me to gain a lot of experience and exposure in meeting new people, building my network of contacts and helping to solve student issues.”</em></p>
<p class="txtMainBlack"><strong>Did you get any work experience during your studies at QMU?</strong></p>
<p class="txtMainBlack"><em>“I worked for a healthcare company as a relief support worker and this role helped me gain first hand experience in community healthcare.”</em></p>
<p class="txtMainBlack"><strong>Did you receive a scholarship at QMU? </strong></p>
<p class="txtMainBlack"><em>“I was lucky to receive the Saltire Scholarship, which allowed me to pursue my academic studies and my dream of undertaking postgraduate studies at an internationally renowned university – QMU.” </em></p>
<p class="txtMainBlack"><em>“I also received a Fellowship from the Higher Education Academy during my programme, which helped support my postgraduate studies at QMU.” </em></p>
<p class="txtMainBlack"><strong>How has your QMU degree and experience helped you get where you are today? </strong></p>
<p class="txtMainBlack"><em>“I intended to explore different avenues through my studies at QMU – research, academic writing and understanding cultural implications in healthcare. I experienced all these facets of my interests through this programme.</em></p>
<p class="txtMainBlack"><em>“My QMU experience has not only immensely changed my outlook towards my profession, but also changed my thinking as a person. I continued to grow both personally and professionally through the programme and received tremendous positive support from all QMU programme coordinators and my programme director. </em></p>
<p class="txtMainBlack"><em>“Through my persistence and the awesome support that I received from my mentors at QMU, not only did I finish my degree on time, but I also got a distinction.”</em></p>
<p class="txtMainBlack"><strong>What are you doing since graduating from QMU? </strong></p>
<p class="txtMainBlack"><em>“Since graduating from QMU, I’ve moved to back to Mumbai and currently I’m working as a Pediatric Therapist. I have enjoyed every bit of this experience and after two years, I’m now planning to pursue doctorate studies.”</em></p>
<p class="txtMainBlack"><a href="/study-here/postgraduate-study/2022/msc-advancing-practice-in-occupational-therapy-post-registration/" title="MSc Advancing Practice in Occupational Therapy (Post-Registration)"><span class="blue-btn">MSc Advancing Practice in Occupational Therapy (Post-Registration)</span></a></p>
<p class="txtMainBlack"><a href="/study-here/international-students/" title="International students"><span class="blue-btn">International students at QMU</span></a></p>
<p class="txtMainBlack">Learn more about <a href="https://www.scotland.org/study/saltire-scholarships" title="Saltire Scholarships"><strong>Scotland’s Saltire Scholarships</strong></a>.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2017-02-17T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Interview with QMU international graduate, Kavita Murthi: MSc in Occupational Therapy (post-registration) ]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Kavita Murthi is from Mumbai in India and is an MSc in Occupational Therapy (post-registration) graduate from QMU.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Kavita Murthi is from Mumbai in India and is an MSc in Occupational Therapy (post-registration) graduate from QMU. Before studying at QMU, Kavita completed her undergraduate studies in Occupational Therapy from Maharashtra University of Health Sciences in Mumbai.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Interview with QMU international graduate, Kavita Murthi: MSc in Occupational Therapy (post-registration) ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information contact Lynne Russell, Marketing Manager, Queen Margaret University, Edinburgh, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a>  T: 0131 474 0000, M: 07711 011239 and Jon Perkins, Press and PR Officer, E: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a> T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "1c4a6698-42ba-4e3d-a67e-17f8d98f7dab",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Interview with QMU international graduate, Kavita Murthi]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>