<?xml version="1.0" encoding="utf-8"?>
<Content Key="138f208d-e8c1-4059-89f9-f5d4d47c5174" Alias="2022.04.26 Paramedic lecturer leads fundraiser to buy medical supplies for Ukraine" Level="5">
  <Info>
    <Parent Key="290de9c5-fde6-4432-9d08-11c487aa0182">2022</Parent>
    <Path>/Home/NewsAndEvents/News//ParamedicLecturerLeadsFundraiserToBuyMedicalSuppliesForUkraine</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2022-04-26T15:21:50</CreateDate>
    <NodeName Default="2022.04.26 Paramedic lecturer leads fundraiser to buy medical supplies for Ukraine" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/e995ac4868b84fafb729d7075fdd3d89]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[press office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "07d6ce25-b312-4eda-8e0d-b6efeb43f3db",
    "name": "Paramedic lecturer leads fundraiser for Ukraine",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/f250382aeb0f4fd887ab0ae833887560",
    "title": "Paramedic lecturer leads fundraiser for Ukraine",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span>Zlata Skabova, who works within Queen Margaret University’s Division of Nursing, is encouraging staff and students from the University to take part in a range of sporting and fun activities. Money generated by the fundraising campaign will buy essential medical supplies which will be transported to Ukraine and distributed to local hospitals.The fundraisers are also hoping to support a field hospital in Kyiv which was set up by Zlata’s former colleague from the ambulance service.</span> </p>
<p><span>Zlata, who is originally from the Czech Republic, is passionate about doing what she can to support volunteer medical and paramedic workers who are currently operating in the Ukraine. She explained: </span><span></span></p>
<?UMBRACO_MACRO macroAlias="Quote" text="This war has a direct impact on my home country and all our neighbours. We used to share borders with Ukraine when we were Czechoslovakia, were I was born. People are doing what they can to help to get through this nonsense war, so am I." source="Zlata Skabova" sourceExtra="" />
<?UMBRACO_MACRO macroAlias="Quote" text="Before I started my job as a lecturer in paramedic science at Queen Margaret University, I worked for seven years as a paramedic in Bristol. One of my former colleagues, from Bristol is currently working as a volunteer paramedic in Ukraine. Jordan is an ex military paramedic who has helped set up a field hospital in Kyiv – his team train people in Pre-hospital Emergency Medicine and Tactical Combat Casualty Care. They went over to help for a few weeks, but are still there. Their skills are badly needed and it appears that they have no current plans to return home. The situation in Ukraine is dangerous and constantly changing, and no one knows what will happen from one hour to the next. " source="" sourceExtra="" />
<p>Zlata has been encouraged by the response from the University community, and from friends from near and far, to her fundraising plans. She explained:</p>
<?UMBRACO_MACRO macroAlias="Quote" text="Our initial fundraiser will be connected to a sport challenge called ‘Get 2 Safety’ which involves people collectively walking, running or cycling the equivalent distance of 785 miles from the east to west border of Ukraine. This is the distance that Ukrainian people would have to overcome to get to safety and the challenge takes place from now until 31 May 2022. There is also a variety of other smaller events planned which will help to raise funds and awareness about our cause, but essentially we want people who can collectively work together to meet the challenge of 785 miles. We are asking people to send us photos and print screens of their tracking apps, so we can track the distances completed and add them together. " source="Zlata Skabova" sourceExtra="" />
<?UMBRACO_MACRO macroAlias="Quote" text="We are so inspired by Zlata and the staff and students from our QMU community who are rising to this challenge and working together to be a force for good. They epitomise the University’s values of making a difference to the world around us, and it’s very heartening to see people using their skills, time and energy to positively impact the lives of others whose lives have been torn apart by the war in Ukraine." source="Sir Paul Grice, Principal of Queen Margaret University" sourceExtra="" />
<p><span>Anyone interested in getting involved in this sporting challenge should contact Zlata directly for details on E: </span><a href="mailto:zskabova@qmu.ac.uk"><span data-ccp-charstyle="Hyperlink">zskabova@qmu.ac.uk</span></a> <span>or they can email: </span><a href="mailto:get2safety@gmail.com"><span data-ccp-charstyle="Hyperlink">get2safety@gmail.com</span></a> <span>There is also a <a href="https://www.facebook.com/groups/356243276559953" title="Get 2 Safety Facebook Page">‘Get 2 Safety’ Facebook page </a></span><span>for participants to share details of the distances that they have tackled. </span> </p>
<p><span>To find out more about this fundraiser visit our <a href="https://www.justgiving.com/crowdfunding/qmu-runs-for-ukraine?utm_term=qAGPnjPW8" data-anchor="?utm_term=qAGPnjPW8">Just Giving Page.</a></span></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2022-04-26T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Paramedic lecturer leads fundraiser for Ukraine]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="NormalTextRun SCXW166558442 BCX8">A lecturer in paramedic science is on a mission to fundraise for medical supplies which will help the people of Ukraine. </span> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Paramedic lecturer, Zlata Skabova, leads fundraiser to help buy medical supplies to help people affected by the war in Ukraine.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Paramedic lecturer leads fundraiser for Ukraine | QMU News | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p><span class="NormalTextRun SCXW124968804 BCX8">For further media information please contact Lynne Russell, Communications Manager, Queen Margaret University, Edinburgh, E: </span><a rel="noopener" href="mailto:lrussell@qmu.ac.uk" target="_blank" class="Hyperlink SCXW124968804 BCX8"><span class="NormalTextRun SCXW124968804 BCX8" data-ccp-charstyle="Hyperlink">lrussell@qmu.ac.uk</span></a><span class="NormalTextRun SCXW124968804 BCX8">;  M: 07711 011239 or  E: </span><a rel="noreferrer noopener" href="mailto:pressoffice@qmu.ac.uk" target="_blank" class="Hyperlink SCXW124968804 BCX8"><span class="NormalTextRun SCXW124968804 BCX8" data-ccp-charstyle="Hyperlink">pressoffice@qmu.ac.uk</span></a><span class="NormalTextRun SCXW124968804 BCX8"> . </span> </p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "faee9363-bc10-47fc-9543-21a092ed1e51",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Paramedic lecturer leads fundraiser for medical supplies for Ukraine]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>