<?xml version="1.0" encoding="utf-8"?>
<Content Key="165c1293-b5fb-4e08-962f-b567a4ce84e4" Alias="2018.05.03 - Success in Scottish Edge Competition" Level="3">
  <Info>
    <Parent Key="2fb1d2d3-9848-4b68-ba52-af2ced358220">Services for Business and Industry</Parent>
    <Path>/Home/ServicesForBusinessAndIndustry/SuccessInScottishEdgeCompetition</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-03T15:07:30</CreateDate>
    <NodeName Default="2018.05.03 - Success in Scottish Edge Competition" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/cf5538ad70ce4ef4843f74205e5ab4ff]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Research and Knowledge Exchange Development Unit.]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "5b502e33-aa21-4d89-bc7f-de2665b03f63",
    "name": "Success in Scottish Edge Competition",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/0d6b081147df4b8cb12bec3d5e81a3cf",
    "title": "Success in Scottish Edge Competition ",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Well done to QMU graduate Lauren Leisk winning £10,000 in the prestigious Scottish Edge competition . Lauren was one of 7 winners in the Young Edge Category.  Lauren's business, Fodilicious is the first in the UK to provide gluten free and dairy free freshly prepared meal options which follow the low fodmap diet, suitable for people who suffer from Irritable Bowel Syndrome (IBS) and other gut related illnesses.  Other winners included a social enterprise reusing ICTs to provide education and training in Scotland and rural African communities a remote environmental monitor for rental properties to inform landlords of damaging situations in their properties and an innovative water company that has developed an alkaline water filter that  utilises a combination of natural ingredients to deliver anti-oxidant rich alkaline water.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/c5f4dac3417b4733b5c670a075e35f36]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2018-06-18T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Success in Scottish Edge Competition ]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p> Well done to QMU graduate Lauren Leisk winning £10,000 in the prestigious Scottish Edge competition . Lauren was one of 7 winners in the Young Edge Category</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[QMU are delighted to announce that four candidates have been successful in being shortlisted for the next round of Converge Challenge.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Success in Converge Challenge  | Business News | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "04a68b60-8bf7-4ba9-934a-5369791f01a9",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Success in Scottish Edge Competition ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>