<?xml version="1.0" encoding="utf-8"?>
<Content Key="17e644de-7960-4386-bb68-6375fbc8de0e" Alias="UK Further Education College Partnerships" Level="4">
  <Info>
    <Parent Key="23ed7ab2-bf2b-4808-b948-dca16bea8636">Partnerships</Parent>
    <Path>/Home/AboutTheUniversity/Partnerships/UKFurtherEducationCollegePartnerships</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-09-02T08:46:20</CreateDate>
    <NodeName Default="UK Further Education College Partnerships" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/2445a3e3ac464060b5b3901aec233a81]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "0d524144-8bf6-4923-9294-2994a9c6f55b",
    "name": "UK Further Education College Partnerships",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/8dede0f9ae354832a43ba678c8724384",
    "title": "UK Further Education College Partnerships",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p> </p>
<p> </p>
<p> </p>
<p> </p>
<table border="0" style="height: 646px; width: 762px;">
<thead>
<tr style="height: 21px;">
<th style="height: 21px; width: 303px;">Partner Institution (Location)</th>
<th style="height: 21px; width: 459px;">Programme Title</th>
</tr>
</thead>
<tbody>
<tr style="height: 43px;">
<td style="width: 303px; height: 43px; padding-left: 40px;"><a href="https://www.fife.ac.uk/" title="Fife College">Fife College</a> (Glenrothes)</td>
<td style="width: 459px; height: 43px;">
<p><a href="https://www.fife.ac.uk/courses/search-all-courses/bahce/" title="Creative Enterprise">BA (Hons) Creative Enterprise</a></p>
<p><a href="https://www.fife.ac.uk/courses/search-all-courses/bachp/" title="Childhood Practice">BA/BA (Hons) Childhood Practice</a></p>
<p><a href="https://www.fife.ac.uk/courses/search-all-courses/bachs/" title="Childhood Studies">BA/BA (Hons) Childhood Studies</a></p>
</td>
</tr>
<tr style="height: 74px;">
<td style="height: 74px; width: 303px;"><a href="https://www.nclanarkshire.ac.uk/" title="New College Lanarkshire">New College Lanarkshire</a> (Coatbridge and Motherwell)</td>
<td style="height: 74px; width: 459px;">
<p><a href="https://www.nclanarkshire.ac.uk/courses/performing-arts/ba-acting" title="BA Acting">BA Acting</a></p>
<p><a href="https://www.nclanarkshire.ac.uk/courses/performing-arts/ba-musical-theatre" title="BA Musical Theatre">BA Musical Theatre</a></p>
</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 303px;"><a href="https://www.westcollegescotland.ac.uk/courses/course-directory/courses/acting-technical-theatre/ba-hons-drama" title="West College Scotland">West College Scotland</a> (Paisley)</td>
<td style="height: 21px; width: 459px;"><a href="https://www.westcollegescotland.ac.uk/courses/course-directory/courses/acting-technical-theatre/ba-hons-drama" title="Drama, Theatre and Performance">BA (Hons) Drama, Theatre &amp; Performance</a></td>
</tr>
</tbody>
</table>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/667a6e7ddfc44a9da6a38df5dd14599b]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[UK Further Education College Partnerships]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Queen Margaret University operates a number of teaching partnerships with FE Colleges in Scotland. </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[List of UK Further Education College Partnerships]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Current Partnerships | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "ae37014b-fb0e-42da-8cca-244f04045b2c",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "usefulLinks",
                    "value": {
                      "name": "Useful Links",
                      "title": "",
                      "usefuls": [
                        {
                          "icon": "icon-link",
                          "name": "International Students",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": null,
                          "url": "/study-here/international-students/"
                        },
                        {
                          "icon": "icon-link",
                          "name": "Exchanges and Study Abroad",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": null,
                          "url": "/study-here/international-students/exchanges-and-study-abroad/"
                        },
                        {
                          "icon": "icon-link",
                          "name": "Canadian articulation pathways",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": null,
                          "url": "https://www.qmu.ac.uk/about-the-university/canadian-articulations/"
                        }
                      ],
                      "useDarkTheme": "0"
                    },
                    "id": "d619695e-4e0f-229d-e19b-a35de96eddb3"
                  },
                  "editor": {
                    "alias": "Useful Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[UK Further Education College Partnerships]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>