<?xml version="1.0" encoding="utf-8"?>
<Content Key="192436af-a216-4774-95a6-4b29ba717241" Alias="Kassandra e’Silva - MSc Music Therapy" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/KassandraESilvaMScMusicTherapy</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-05-21T10:56:02</CreateDate>
    <NodeName Default="Kassandra e’Silva - MSc Music Therapy" />
    <SortOrder>244</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/c52d152f911a44a580da2dafb044e1d5]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "9c332aef-18b9-4e6d-83cf-051ee8a1c167",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/3297fda4736f4bd8aef8c937c3e29930",
    "title": "",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><strong>Story Published 2017-2018</strong></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>She is now working with music therapy charity, Nordoff Robbins Scotland, as a part-time music therapist. She also has a growing freelance practice in Edinburgh as a music therapist and music teacher.</p>
<p class="txtMainBlack">Before studying at QMU, Kassandra studied a BA English Literature and Instrumental Music Studies, PGCE in English and Music at university in South Africa. She has also taught English and Music in South Africa, Thailand and the UK.</p>
<p class="txtMainBlack">While teaching in the UK, Kassandra taught music in special educational needs schools for around two years. During this time, she became increasingly interested in the emotional responses the children were experiencing within the music lessons, beyond any sort of academic concept. It was at this point that she began to consider a career in music therapy.</p>
<p class="txtMainBlack">Kassandra had never lived in Scotland before and loved the experience of living in Edinburgh. She thinks Edinburgh is a beautiful and romantic city with so much to offer, but much smaller and friendlier than London.</p>
<p class="txtMainBlack"><strong>Why did you choose to study MSc Music Therapy at QMU? </strong></p>
<p>“The beginning of the course marked the start of a brand new chapter in my life. It was an opportunity to pursue a career where connecting with the people you work with is the main goal – something I find is increasingly disappearing from the education system.</p>
<p>“I was prepared to work hard, and I knew that I would be very busy as it was necessary for me to maintain a full time job while studying. The workload was reasonably heavy, but very manageable, and I found it easy to keep on top of it. This is perhaps because I was so interested in everything we were given to read, or practice, or research, or discuss. The distribution of days for lectures, supervision, groups and placement was such that I was able to juggle both my shift-work job and the course effectively.</p>
<p>“Our lecturers and supervisors were very approachable and supportive. If we needed any help, we needed only to ask. Similarly, music therapy is a very unique course. Throughout the two years of the MSc, I formed excellent friendships with my colleagues and it was here, too, that I accessed a great deal of support. I left the course with a great network of professional colleagues, both peers and mentors alike, who I continue to be able to approach for support if needed.”</p>
<p class="txtMainBlack"><strong>Top tips for other students?</strong></p>
<p>“While I found the work load to be manageable and the support base of the students around me sufficient, my top tip for prospective postgrad students is to use the resources on offer from QMU. If academic writing is something you haven’t done in a while, approach the staff at the Learning Resource Centre for advice on this. It is a master’s course, and the demands can seem rigorous, but ultimately you will leave with what you need to know to begin to tackle the professional world beyond.”</p>
<p class="txtMainBlack"><strong>Life after graduation </strong></p>
<p>“Immediately after I finished the course, I travelled to Bergen in Norway to present a case study on some work I’d completed during my training at a music therapy symposium. Shortly after this, I got my first music therapy role with Nordoff Robbins Scotland.</p>
<p>“Over the last year, I’ve developed a growing freelance workload, I maintain a part-time job with Nordoff Robbins Scotland, and established a music therapy position with Places for People Scotland Care and Support.</p>
<p>“In 2017, I will begin a new role working in forensic music therapy, which I’m really excited about. It will be a permanent two day per week role within NHS Scotland, working as a music therapist in mental health and secure settings.</p>
<p>“I’ve also recently had a Symposium report published in Approaches, an online music therapy journal.</p>
<p>“I don’t know what the future will hold beyond the next year. I had thought I would leave Edinburgh upon completion of my degree, but it has captured me! I would have done nothing differently!”</p>
<p class="txtMainBlack"><a rel="noopener" href="http://approaches.gr/esilva-cr20160913" target="_blank">View Kassandra’s Symposium report published in Approaches.</a></p>
<p class="txtMainBlack">For more information on Nordoff Robbins Scotland, visit: <a href="http://www.nordoffrobbinsscotland.org.uk/" class="txtMainTextLinks">nordoffrobbinsscotland.org.uk</a></p>
<p class="txtMainBlack">For more information on NHS Scotland, visit: www.scot.nhs.uk</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[South Africa]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[MSc Music Therapy]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Kassandra e’Silva]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[[]]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Kassandra e’Silva, 31, is from East London in South Africa. She graduated with an MSc Music Therapy from QMU in 2015.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Kassandra e’Silva, 31, is from East London in South Africa. She graduated with an MSc Music Therapy from QMU in 2015.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Kassandra e’Silva | Student Stories | Queen Margaret University]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[“The beginning of the course marked the start of a brand new chapter in my life. It was an opportunity to pursue a career where connecting with the people you work with is the main goal – something I find is increasingly disappearing from the education system.

“I was prepared to work hard, and I knew that I would be very busy as it was necessary for me to maintain a full time job while studying. The workload was reasonably heavy, but very manageable, and I found it easy to keep on top of it. This is perhaps because I was so interested in everything we were given to read, or practice, or research, or discuss. The distribution of days for lectures, supervision, groups and placement was such that I was able to juggle both my shift-work job and the course effectively.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Kassandra e'Silva]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Kassandra e’Silva]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Graduate"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>