<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a4e0dc0-f92b-43c1-94b6-45966bfbf267" Alias="Dr Arek Dakessian" Level="5">
  <Info>
    <Parent Key="69f40e27-2aba-4f30-aeae-7e30176b0122">IGHD Staff</Parent>
    <Path>/Home/SchoolsAndDivisions/IGHD/IGHDStaff/DrArekDakessian</Path>
    <Trashed>false</Trashed>
    <ContentType>staffProfile</ContentType>
    <CreateDate>2021-02-08T11:47:54</CreateDate>
    <NodeName Default="Dr Arek Dakessian" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7509730a-2309-4003-8275-a5e134b9cf91">StaffProfile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/7ed54d2f6bd74d158e169bcac0023827]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <approvalDate>
      <Value><![CDATA[2023-05-10T09:59:09]]></Value>
    </approvalDate>
    <approved>
      <Value><![CDATA[1]]></Value>
    </approved>
    <approvedBy>
      <Value><![CDATA[Kerry Browne]]></Value>
    </approvedBy>
    <banner>
      <Value><![CDATA[[
  {
    "key": "04b68fff-e929-4e11-86e7-2badd7c7c0af",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/6b3ad9bd5e394856a5d15e2694a905ab",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <centralBlocks>
      <Value><![CDATA[[
  {
    "key": "5179b4cb-77e6-4095-9c5d-604f18c91f16",
    "name": "Overview",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Overview",
    "content": "<p>Arek Dakessian is a Research Fellow at the IGHD, with a background in  Sociology and research interests revolving around political alterity, such as refugeedom, and the entwining of the aesthetic and the political. He is a Fellow of the Higher Education Academy and convenes the postgraduate module “Forced Displacement and Integration,” and is the IGHD’s Doctoral Research Coordinator.</p>"
  },
  {
    "key": "e9517287-a2e9-4a4a-9139-f52659115500",
    "name": "Research Interests",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Research Interests",
    "content": "<p><strong>Research Overview: </strong>Arek’s research at the IGHD revolves around refugeedom and integration. Specifically, he is part of a team that investigates the role of social relationships and social connectedness in enabling integration, both from the perspective of host and displaced communities.</p>\n<p><strong><span>Active research interests: </span></strong>Refugeedom; displacement; race and racialization; cultural production; material culture; social network analysis.</p>\n<p><strong><span>Research Methods: </span></strong>Ethnography; Social Network Analytic techniques; arts-based research.</p>"
  },
  {
    "key": "2c70bd25-8b25-4e7d-b168-19e15b50f23b",
    "name": "Research Publications",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Research Publications",
    "content": "<p><a rel=\"noopener\" href=\"https://eresearch.qmu.ac.uk/browse?type=author&amp;value=Dakessian%2C+Arek\" target=\"_blank\" data-anchor=\"?type=author&amp;value=Dakessian%2C+Arek\"><span class=\"blue-btn\">Dr Arek Dakessian's QMU eResearch Profile</span></a></p>"
  },
  {
    "key": "ab34abaf-b589-4d95-b415-a721676d7196",
    "name": "Funded Projects",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Funded Projects",
    "content": "<p><span><strong>Family Reunion Integration Service</strong></span></p>\n<p>This research project focusses on the reunion of 900 families who have come to the UK as refugees. This national project will work in eight locations across all four countries within the UK to see how this group of people can be supported to access health, education, housing and welfare services.</p>\n<p>The research carried out at Queen Margaret University will develop an innovative app to study how the social connections within, between and outside this group affect integration into the host country.</p>\n<p>This project is a partnership with the British Red Cross and Barnardo’s. This project is part funded by the EU Asylum, Migration and Integration Fund. Making management of migration flows more efficient across the European Union.</p>"
  },
  {
    "key": "91495390-c9ef-47d2-b914-ce4a00337c23",
    "name": "Teaching & Learning",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Teaching & Learning ",
    "content": ""
  },
  {
    "key": "612de189-b333-482e-b060-0bfc96e3488a",
    "name": "Activities & Awards",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Activities & Awards ",
    "content": ""
  }
]]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[[
  "Tabs"
]]]></Value>
    </centralBlocksType>
    <displayTitle>
      <Value><![CDATA[Dr Arek Dakessian]]></Value>
    </displayTitle>
    <email>
      <Value><![CDATA[adakessian@qmu.ac.uk]]></Value>
    </email>
    <extraInformation>
      <Value><![CDATA[Division: Institute for Global Health and Development]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Dr Arek Dakessian is a Research Fellow in the Institute for Global Health and Development (IGHD).</p>]]></Value>
    </introduction>
    <linkedIn>
      <Value><![CDATA[]]></Value>
    </linkedIn>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Dr Arek Dakessian is a Research Fellow in the Institute for Global Health and Development (IGHD) at Queen Margaret University]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Dr Arek Dakessian | Staff Profile | Queen Margaret University]]></Value>
    </metaTitle>
    <position>
      <Value><![CDATA[Research Fellow]]></Value>
    </position>
    <qualifications>
      <Value><![CDATA[PhD, MSc, BA]]></Value>
    </qualifications>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <schoolDivision>
      <Value><![CDATA[umb://document/4e8a6711690b44dc9b25fafa29f77a7e]]></Value>
    </schoolDivision>
    <shortTitle>
      <Value><![CDATA[Dr Arek Dakessian]]></Value>
    </shortTitle>
    <showTwitterBanner>
      <Value><![CDATA[0]]></Value>
    </showTwitterBanner>
    <surname>
      <Value><![CDATA[Dakessian]]></Value>
    </surname>
    <telephone>
      <Value><![CDATA[0131 474 0000]]></Value>
    </telephone>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
    <type>
      <Value><![CDATA[[
  "Staff"
]]]></Value>
    </type>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>