<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d594f08-b09e-4b30-b6bb-2e1ed7563921" Alias="Darragh Sinnott - BSc/BSc (Hons) Occupational Therapy" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/DarraghSinnottBScBScHonsOccupationalTherapy</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-05-18T10:28:18</CreateDate>
    <NodeName Default="Darragh Sinnott - BSc/BSc (Hons) Occupational Therapy" />
    <SortOrder>41</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/ec2dc767720c47ae9c75dd618fc5dfaf]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "974e59e0-12af-4a21-a6d5-9642a64c35c6",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/9be5555f6a974524aac1629fd74b4713",
    "title": "",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead-big">About you</span></p>
<p><span class="lead">Why did you choose to study at Queen Margaret University (QMU)?</span></p>
<p>QMU was the obvious choice for me because of its excellent reputation for being a small, close-knit, and highly successful university with an excellent graduate employment rate. I have always been passionate about broadening my horizons in life, and QMU offered just that by providing me with an excellent education, whilst also me making feel at home in a small, yet hugely diverse campus with great opportunities to meet friends for life. QMU was also top of my list because of its close proximity to Edinburgh city centre and the many sporting and social opportunities the city has to offer!</p>
<p><span class="lead">What interested you about your chosen course?</span></p>
<p>The Master of Occupational Therapy course at QMU is internationally renowned with extensive opportunities to gain practical experience in the diverse field of occupational therapy in Scotland. The small class sizes and personalised nature of the programme were really attractive to me because it meant that I could establish strong relationships with my peers and lecturers and always feel comfortable asking questions to better my learning. This programme allowed me to pursue my own interests through academic assignments, and offered many occasions to apply my learning in practice placement settings.</p>
<p><span class="lead">What attracted you to study in Edinburgh?</span></p>
<p>When I first visited Edinburgh, I was blown away by how beautiful the city is and how much there is to do. Edinburgh is a very welcoming city that is easy to get around. It has plenty of fantastic opportunities for socialising, sightseeing, or doing the hobbies you love. For me the real essence of Edinburgh is its people, and it’s safe to say that they made me feel right at home – they are extremely friendly and love the craic [<em>a good time / enjoyment – Irish expression</em>] just as much as my fellow Irish!</p>
<p>The fact that Edinburgh is only a short flight from Ireland was also very appealing to me. I felt really secure knowing that I wasn’t too far away from home. It also meant it was easy for friends and family to visit me for the weekend. Additionally, it couldn’t be easier to hop on a train or bus, or rent a car to visit all the rest that Scotland has to offer – there is always something new to see and more people to meet!</p>
<p> </p>
<p><span class="lead-big">The Course</span></p>
<p><span class="lead">What have you most enjoyed about your course? What has been the highlight?</span></p>
<p>The highlight of this course is the friendly, approachable, and helpful lecturing staff. They are truly committed to helping students learn and always make learning as accessible as it possibly can be.</p>
<p><span class="lead">Have you participated in a course activity you found especially interesting?</span></p>
<p>The Master of Occupational Therapy course includes the opportunity to immerse yourself in practice placements and gain over 1000 hours of experience to take into the working world. Placements were always the highlight of the year for me, as it allowed me to get real world, hands-on experience of working with a wide range of individuals and communities to improve their health and well-being and build strong skills to take into my future practice.</p>
<p><span class="lead">How have your lecturers supported your learning?</span></p>
<p>The lecturing team make it their point to get to know their students personally and go out of their way to make sure that each student is able to reach their full potential. They provide engaging course content and are always available to answer questions and point you in the right direction to help you achieve your goals.</p>
<p><span class="lead">Have you taken part in a placement as part of your course and if so, what was your experience?</span></p>
<p>As I mentioned, during my four years of study, I've had the chance to complete over 1000 hours of practice placement across a variety of health and social care settings. I worked directly with a range of individuals and communities to help improve their health and well-being and increase their ability to engage in activities that are truly meaningful to them. Some example placements I've had, which were brilliant experiences, are Stroke and Elderly Rehabilitation, Inpatient Psychiatric Rehabilitation, Children and Young Peoples Occupational Therapy and Community Adult Learning Disability.</p>
<p><br /><span class="lead">Do you have any advice for students who might be interested in applying for this course?</span></p>
<p>Whatever your learning style or preferred way of learning – you can do really well on this course and the university has fantastic support systems in place to help you along your journey. You will get to build your skills in academic writing, presenting and teamworking (to name a few!) whilst at QMU, and the practical experience you will gain on placement will stand you very well in your future career.</p>
<p>No progress comes without hard work but, if you have the will, there is a way! </p>
<p>I found that having a balance between studying and your hobbies was everything. There are so many sports, societies and extracurricular activities you can get involved with at QMU, and the friends and memories that you will make through these are just as valuable as the great degree you will get at the end of your studies!</p>
<p> </p>
<p><span class="lead-big"><strong>The Student Experience:</strong></span></p>
<p><span class="lead">Have you been a part of any extracurricular programmes (e.g. mentoring or volunteering) during your time as a student at QMU? If so, how has it helped you develop skills and experience?</span></p>
<p>I have been lucky to be a class representative for the last three years and it's been great to represent my peers and strive to build upon, and improve, our university experience. Being a class representative is a great experience and there is so much you can do: from providing valuable feedback to staff and keeping your peers updated on staff decision making, to organising exciting additional learning opportunities for the class to take part in. This role is open to any and all students and is an excellent opportunity for you to build strong communication and organisational skills, and to make your peers' University experience even better!</p>
<p><span class="lead">Are you a member of any clubs or societies at QMU? If so, what was the reason you joined and what do you enjoy most about it?</span></p>
<p>I played on the QMU Men’s Rugby team throughout my four years at university and I made lifelong friends and memories along the way. It was a great way to keep fit and healthy and gave me a good reason to get out of the house on the cold Scottish winter nights! Not only were great memories made on the pitch wearing QMU colours, but just as memorable were the bus trips all over Scotland and the fun we had along the way. Getting involved in a sport made my university experience even better, and it was a fantastic way to make new friends not only in rugby, but in all sports and societies at QMU.</p>
<p>QMU has a plethora of sports and societies to get involved with and I’d highly recommend everyone to try out as many as possible – you’ll never know what you might enjoy, and you’ll be sure to make great friends no matter which club or society you get involved with!</p>
<p><span class="lead">What has been the most valuable lesson that you’ve learned at University?</span></p>
<p>Balance is key! No matter how stressful studying might be, always remember to make time for the things you love to do.<strong> </strong></p>
<p> </p>
<p><span class="lead-big">After QMU:</span></p>
<p><span class="lead">What are you plans after graduation? Tell us about your ambitions and where you see yourself in the future?</span></p>
<p>I plan to travel as a qualified occupational therapist and experience the many cultures the world has to offer!</p>
<p> </p>
<p>*Note - the BSc in Occupational Therapy has now changed for the academic year 2021-2022 to an integrated Master of Occupational Therapy (Mocc Ther)</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[umb://media/f5dfeefb8b694b65a2682b8e8c8101c4]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Ireland]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/36223fbb37774f72a57e9c71f3af2fdf]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[BSc Occupational Therapy (MoccTher)]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Darragh Sinnott]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[[]]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Darragh is a fourth year student from Wexford, Ireland completing his BSc in Occupational Therapy*</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[<p>[story published in February 2021]</p>]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Darragh is a fourth year student from Wexford, Ireland completing a BSc in Occupational Therapy at Queen Margaret University, Edinburgh]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Darragh Sinnot | Student Story | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Darrah Sinnott]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Student"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>