<?xml version="1.0" encoding="utf-8"?>
<Content Key="20077c00-b577-4a91-a884-4857cc81b523" Alias="Johnny Elmer - BA (Hons) Drama and Performance" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/JohnnyElmerBAHonsDramaAndPerformance</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-05-21T10:29:08</CreateDate>
    <NodeName Default="Johnny Elmer - BA (Hons) Drama and Performance" />
    <SortOrder>88</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/efd18077b6a74fcda7695f07c49c8754]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "a0db4a94-0c3a-4a25-83db-a4c647ebbc1d",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/e821bfbacc5e4ce3b1e10da92318b7fb",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span>Johnny came to Queen Margaret University (QMU) via the UCAS Clearing system to study Drama and Performance. He loved his experience at QMU so much that he secured the role as Vice President of QMU’s Students’ Union for two years. After completing his stint with the SU, he eventually moved on to a dream job with a highly successful international travel company. Over the last few years, he has developed his management career while working in fabulous locations in Cyprus, Cape Verde and Mexico. Recently he has landed a huge promotion with his company and is now working as Service Delivery Manager, with responsibility for all the company’s sales and service delivery across the European market and revenue income for the American, Canadian and Latin American markets. Working out of Mexico, his new role involves lots of travel to beautiful resorts and line managing seven managers who oversee between 250 and 300 staff. </span> </p>
<p><span>With the skills he learned on his course at QMU, and in his position as Student Vice President – particularly in performance, communication, presentation, team work and problem solving - it wasn’t long before Johnny climbed the ranks in his exciting roles with his international travel company. Just a year after graduating, Johnny jetted off to sunny Cyprus to begin his travel and tourism career. Loving his new life in the sun and excelling in his job, Johnny’s passion for team work and great customer service were recognised by his company. He was promoted each year and given the chance to further develop his managerial skills in new roles based in Cape Verde and then Mexico. Developing teams to deliver outstanding customer experiences in five-star luxury hotel groups became Johnny’s passion.  </span> </p>
<p><strong><span>Coming through the Clearing system and building skills and experience</span></strong> </p>
<p><span>He said: “I was interested in the creative industries from a very young age, so was delighted to secure a place on the BA (Hons) Drama and Performance (now the BA (Hons) Acting and Performance). I chose the course because it gave me the flexibility to learn and appreciate all the different roles in theatre. I loved the variety of the course and was lucky to have such great support from the incredible staff that work within QMU’s School of Arts, Social Sciences and Management. I also chose QMU because it seemed like a lovely modern campus with a close-knit community with a Students’ Union and accommodation on site, so I thought it would be easy to get to know people and get fully involved in student life.”</span> <span></span></p>
<?UMBRACO_MACRO macroAlias="Quote" text="However, QMU also offered so many opportunities to build skills and experience outside of the degree. It’s a great place to develop good interpersonal, group working, communication and problem-solving skills which you will continually draw upon when you join the world of work. Importantly, these are the kind of skills that employers are looking for. QMU makes sure you are job ready and have academic and practical skills so you stand out from the crowd. " source="" sourceExtra="" />
<p><strong><span>My student highlights</span></strong> </p>
<p><span>Discussing his highlights, Johnny said: “Being elected Student Vice President of the Queen Margaret University Students’ Union (QMUSU) for a two-year term was a great way to build my CV and spend my last years with the University. It was an amazing experience to work with a team who were focused on supporting students throughout their student journey. I represented the student body at meetings with university officials; ran large and small scale social and creative events for students; supported our clubs and societies; and was Co-founder and Chair of the National Union of Students (NUS) award winning Edinburgh Student Arts Festival.</span> <span></span></p>
<?UMBRACO_MACRO macroAlias="Quote" text="The more you put in to university life, the more you get out! QMU offers so many different opportunities for people to get involved in university life, and to build their skills and experience.  It’s so easy to take part in different events and join clubs and societies and it’s a great way to meet people and make friends." source="" sourceExtra="" />
<p><span>I was Chair of Cobweb Theatre Company, a QMU Student Union student society, which was great fun and helped me acquire financial and project management skills. All of these opportunities helped to build my experience and expand my outlook. It also helped me grow in confidence and believe in myself. Nowadays, QMU offers an incredible range of scholarships, awards, paid internships, international travel opportunities and voluntary work experiences. I’d urge all students to take full advantage of these initiatives to build their knowledge, skills and confidence, as these experiences really can help strengthen your CV, allow you to stand out from the crowd, and open doors to future employment.”</span> </p>
<p><strong><span>Developing transferable skills and what sets QMU apart</span></strong> </p>
<p><span>Although Johnny didn’t end up working in the creative sector, he developed transferable skills on his performance course and at QMU that he has continued to use every day in his role as Service Delivery Manager. He said:</span></p>
<?UMBRACO_MACRO macroAlias="Quote" text="The course helped me think creatively and take ideas from their conception to implementation. I also learned to work as part of a team and how to communicate with people. The all-round learning experience you gain at QMU really does prepare you for a real job – you’re equipped to hit the ground running when you enter the workforce.


 " source="" sourceExtra="" />
<p>Discussing his time as Student Vice President, Johnny said: “The role gave me a greater insight into the workings of the University. Until I became Student Vice President, I had no idea just how hard the academic and professional services staff worked to ensure every student got everything they needed to excel. At QMU, you are more than just a number and all of the staff are totally committed to ensuring that each student has a great experience. You certainly won’t get lost in the crowd at QMU – the sense of community, feeling of belonging and focus on employability is what sets it apart from other universities. Studying at QMU really was one of the best decisions I have ever made. So, do make the most of Clearing and take a look at the range of great courses that are on offer at QMU. It could be your best decision too!” </p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[umb://media/a785721464e243b8ba34f0e7f09657c2]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[England]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/e44906b308fd475ca841deeb436c2da3]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[BA (Hons) Drama and Performance]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Johnny Elmer]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>From Clearing to dream job with a world-leading international travel company</strong></p>
<p>Johnny Elmer has had a meteoric rise up the ranks doing his dream job with one of the world’s leading travel and tourism companies, but his journey really started when he came to Queen Margaret University, Edinburgh through Clearing.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Johnny Elmer came to Queen Margaret University, Edinburgh through UCAS Clearing to study Drama and Performance. He now working out of Mexico in a senior leadership role with one of the world's leading travel and tourism companies. He's living his best life working in his dream job.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Johnny Elmer | QMU Student Stories | Clearing | Drama and Performance | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Johnny Elmer]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Johnny Elmer - From Clearing to dream job with international travel company ]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Graduate"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>