<?xml version="1.0" encoding="utf-8"?>
<Content Key="21f2a36e-79f9-4e08-8eb8-09c460dd273a" Alias="Thank You" Level="5">
  <Info>
    <Parent Key="8b259244-2c1b-4a88-9663-43b299060861">Sign Up</Parent>
    <Path>/Home/CampusLife/QMUSportsCentre/SignUp/ThankYou</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-01-28T12:26:37</CreateDate>
    <NodeName Default="Thank You" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/d3a6f57654074c38a2b19d9799c20ac8]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "14fa7e00-6b2f-48c2-ae67-c6fcbc8e5259",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/ebbe5c3cade44f389f986f6e7f08e3d5",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><a href="/{localLink:umb://document/8b2592442c1b4a88966343b299060861}" title="Sign Up" data-udi="umb://document/d057247aecd64c708c6b6eaf087c207a"><span class="blue-btn">Back to sign up form and COVID-19 Safety Induction</span></a></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Thank you! Your form has been successfully submitted.</p>
<p>If you are already a member with us, there is nothing else to do.</p>
<p><strong>New members or members who are returning after cancelling a previous membership</strong> will also need to download and complete <a href="/{localLink:umb://media/b2cbbe4e4aa9475bbc338d4cf91455aa}" title="Sports Department Direct Debit Form 2024" data-udi="umb://media/626c0fe2121347108fbf243d1ad2a0b3">our Direct Debit form</a> (MS Word document) and return to our team at <a rel="noopener" href="mailto:sportsreception@qmu.ac.uk" target="_blank" title="Email QMU Sports">sportsreception@qmu.ac.uk</a> to complete the signup process.</p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/8299ee36f2264b37a0a98dc2e73c2516]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Thank You]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big"><strong>Register with QMU Sports</strong></span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[You can now sign up for QMU Sports using this online form. Just follow these simple steps to start your membership.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Thank You | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "c009dd2b-84d9-4016-a25b-29c21c66c8f2",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Thank You]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>