<?xml version="1.0" encoding="utf-8"?>
<Content Key="22e9c34c-b0ae-4c93-9134-a674f07cd9e3" Alias="Support After Covid-19" Level="5">
  <Info>
    <Parent Key="cc05e446-ed65-42dd-99cf-a00599b78d88">Covid-19</Parent>
    <Path>/Home/ResearchAndKnowledgeExchange/QMUResearch/Covid19/SupportAfterCovid19</Path>
    <Trashed>false</Trashed>
    <ContentType>generalLandingPage</ContentType>
    <CreateDate>2021-12-02T15:59:09</CreateDate>
    <NodeName Default="Support After Covid-19" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2d105c-dfa8-42d8-8bd5-cf850a36952d">GeneralLandingPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/834db1679f0b46a98c50bbd27c1cda3a]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "7bd10f8e-39a8-4a2c-af34-8af0761adfd3",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/ce97cfcf211d48738ef584c0c38bfb13",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<?UMBRACO_MACRO macroAlias="Quote" text="Guidance for People with Long Covid, Service Providers and Policy Makers" source="QMU" sourceExtra="November 2021" />]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead">Background to the Project</span></p>
<p><span class="lead">From the start of the COVID-19 pandemic it became clear that people were experiencing illness of different kinds while socially isolating and/or feeling socially isolated.</span></p>
<p>Some people were in hospital wards or intensive care, and some were at home. We already knew that intensive care stays can affect people a great deal and mean they need different types of support later. We didn’t know what effect illness at home would have on people when the people who usually support them are not able to. Over time it became clear that some people had longer-term effects of COVID-19, which became known as ‘Long Covid’.</p>
<p>We carried out two studies, one funded by the Chief Scientist Office in Scotland, called the ‘Support After COVID Study’. In this study we carried out an international online survey and received 675 full responses. People completed this survey between July and August 2020, providing many insights into what it was like to be ill at that point in time. From the results, we developed recommendations to support people and consulted many people with different interests in the recommendations to help us improve them.</p>
<p>Of the people that took part in the international survey, 204 agreed to<br />be contacted again after six months. We wanted to find out how things were going – whether they had been able to find support, how easy or hard this was, and whether anything had helped. Of the people we contacted, 98 (almost half) filled in our follow-up survey and 11 also agreed to a telephone interview that helped us to better understand their experiences.</p>
<p>Listen to our Official <a rel="noopener" href="https://www.spreaker.com/show/support-after-long-covid" target="_blank" title="Support After Long COVID Podcast - Spreaker"><span class="blue-btn">Support After Long COVID Podcast</span></a></p>]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Support After Covid-19]]></Value>
    </displayTitle>
    <focusPanel>
      <Value><![CDATA[[
  {
    "key": "61112bff-d2a1-4261-b299-7af349a3d76a",
    "name": "Guidance for People with Long Covid",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Guidance for People with Long Covid",
    "content": "",
    "image": "umb://media/4a2840dddb3343e4af9a71bca2061843",
    "link": "[{\"name\":\"Report 1 - Finding Support for Long Covid\",\"udi\":\"umb://document/9387c49afe8345669c5292fcba20f4d0\"}]"
  },
  {
    "key": "b09c310d-6a82-4130-88e8-0d03d9a269d7",
    "name": "Person-Centred Services for Long Covid",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Person-Centred Services for Long Covid",
    "content": "",
    "image": "umb://media/3befd59049954e2eb689aac8a7830ae4",
    "link": "[{\"name\":\"Report 2 - Providing person-centred services for people with Long Covid\",\"udi\":\"umb://document/a70531ec9c194f3797b2b6962b3ebbb7\"}]"
  },
  {
    "key": "8685863a-54db-4433-8d64-2296f45006ad",
    "name": "Policy and Service Design through Covid-19",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Policy and Service Design through Covid-19",
    "content": "",
    "image": "umb://media/9fe6f2a6218d43d2a593f6d78f8bf32b",
    "link": "[{\"name\":\"Report 3 - Policy and Service Design through Covid-19\",\"udi\":\"umb://document/584cc9c326fb4415bb461b6e6a4e1106\"}]"
  }
]]]></Value>
    </focusPanel>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">Guidance for People with Long Covid, Service Providers and Policy Makers</span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Support After Covid-19 Research Reports ]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Support After Covid-19 Research Reports ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "122a3560-1556-4ec2-958c-20481b31f072",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "usefulLinks",
                    "value": {
                      "name": "Useful Links",
                      "title": "Download Report Findings (PDF Format)",
                      "usefuls": [
                        {
                          "icon": "icon-layout color-indigo",
                          "name": "Support After Covid-19",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/22e9c34cb0ae4c939134a674f07cd9e3",
                          "url": "/research-and-knowledge-exchange/qmu-research/covid-19/support-after-covid-19/"
                        },
                        {
                          "icon": "icon-umb-content color-indigo",
                          "name": "Report 1 - Finding Support for Long Covid",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/9387c49afe8345669c5292fcba20f4d0",
                          "url": "/research-and-knowledge-exchange/qmu-research/covid-19/support-after-covid-19/report-1-finding-support-for-long-covid/"
                        },
                        {
                          "icon": "icon-umb-content color-indigo",
                          "name": "Report 2 - Providing person-centred services for people with Long Covid",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/a70531ec9c194f3797b2b6962b3ebbb7",
                          "url": "/research-and-knowledge-exchange/qmu-research/covid-19/support-after-covid-19/report-2-providing-person-centred-services-for-people-with-long-covid/"
                        },
                        {
                          "icon": "icon-umb-content color-indigo",
                          "name": "Report 3 - Policy and Service Design through Covid-19",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/584cc9c326fb4415bb461b6e6a4e1106",
                          "url": "/research-and-knowledge-exchange/qmu-research/covid-19/support-after-covid-19/report-3-policy-and-service-design-through-covid-19/"
                        }
                      ],
                      "useDarkTheme": "1"
                    },
                    "id": "db79a97a-1044-2120-4a76-bbc126ab4920"
                  },
                  "editor": {
                    "alias": "Useful Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/5e5fcd5152ed42f993a2d7fb9b7556a9,umb://document/1cbff692c99a46a7a718a70528ebc240,umb://document/dc60d6b9dd384674a8032968d7a0c337]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[QMU Staff Involved in this Research]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Support After Covid-19]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>