<?xml version="1.0" encoding="utf-8"?>
<Content Key="26791e04-d9e2-4977-9ed6-78856bdbe894" Alias="Fully Online" Level="5">
  <Info>
    <Parent Key="d48bd14d-e2fa-4eb3-9320-026b9245ddaf">Delivery</Parent>
    <Path>/Settings/Tags/CourseAZTags/Delivery/FullyOnline</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2023-01-27T13:33:18</CreateDate>
    <NodeName Default="Fully Online" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagName>
      <Value><![CDATA[Fully Online]]></Value>
    </tagName>
  </Properties>
</Content>