<?xml version="1.0" encoding="utf-8"?>
<Content Key="268eaccb-055f-4679-9b77-39c8940d91a8" Alias="2015.06.01 - New student tourism ambassador programme" Level="5">
  <Info>
    <Parent Key="94c45b1a-49ef-4036-9be3-b5a4df2d2026">2015</Parent>
    <Path>/Home/NewsAndEvents/News//NewStudentTourismAmbassadorProgramme</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T10:38:37</CreateDate>
    <NodeName Default="2015.06.01 - New student tourism ambassador programme" />
    <SortOrder>50</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "4f5e5a4f-2a63-4f70-8ae4-c4d3aa2bbbd3",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "New student tourism ambassador programme takes off at Edinburgh Airport",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The partnership project between Queen Margaret University (QMU) and Edinburgh Airport will see some of QMU’s BA (Hons) Events Management students become the first Student Tourism Ambassador Role Scotland (STARS) team at Edinburgh Airport this summer.</p>
<p>The STARS programme has been designed to provide new employment and training opportunities for young people.</p>
<p>QMU students - Lauren Osborne, Katie Logan and Rebecca Neish, will serve as the first STARS welcome team and commercial advisers for international passengers arriving at Edinburgh Airport during its busiest time of year.  A number of new flights will land in Edinburgh from the US, Canada and the Middle East, as well as many other international destinations this summer.</p>
<p>Lauren Osborne will act as a team supervisor, whilst Katie and Rebecca will become the new STARS, welcoming tens of thousands of international passengers to Edinburgh Airport from 1st June until 31st August.</p>
<p>The new STARS team has been put through its paces as part of a rigorous selection process led by QMU’s Careers and Employability team, as well as intensive customer service training provided by Edinburgh Airport.  The talented team also brings previous tourism experience, having volunteered at the Glasgow 2014 Commonwealth Games.</p>
<p>QMU has commissioned kilt maker, Kinloch Anderson, to produce QMU tartan waistcoats for the STARS to wear in their new roles.</p>
<p>Commenting on the launch of the STARS programme, Professor Joe Goldblatt, Executive Director at the International Centre for the Study of Planned Events at QMU, said: “QMU is delighted to be working in partnership with Edinburgh Airport to help welcome our international visitors and deliver new employment opportunities for young people in Edinburgh’s tourism sector.</p>
<p>“The STARS programme will provide a positive first impression and enthusiastic welcome for international visitors arriving in Edinburgh this summer and will also provide a unique paid work experience for some of our most talented students.”</p>
<p>Gordon Dewar, Chief Executive of Edinburgh Airport, said: “This is the first time we’ve introduced an initiative like this at Edinburgh Airport and I’m delighted we’re working with Queen Margaret University to help give students a head start into employment.</p>
<p>“We’re passionate about giving all our passengers a great welcome.  Our new STARS team will be the perfect friendly faces to provide help and advice to the hundreds of thousands of international travellers we’re expecting this summer.”</p>
<p>The STARS programme has also been endorsed by VisitScotland, Scotland’s national tourism organisation.  Malcolm Roughead, Chief Executive of VisitScotland, said: “This is proof that it’s never too early to get started in tourism! It is the lifeblood of the Scottish economy and this exciting initiative will give young people eager to work in the industry an early taste of what it’s all about.</p>
<p>“People in Scotland are famed for the warmth of their welcome and I’m sure those taking part in this programme will prove themselves to be tourism stars of the future.” </p>
<p>Organisers hope that the STARS programme will be rolled out to other universities and colleges across Scotland in 2016, and possibly expanded to other airports and rail stations.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/ef41ba3f5fa74cea8b825f6708865a19]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2015-06-01T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[New student tourism ambassador programme takes off at Edinburgh Airport]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>A new pilot initiative to appoint Edinburgh’s brightest students as international tourism ambassadors was launched at Edinburgh Airport on Monday 1st June 2015.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[A new pilot initiative to appoint Edinburgh’s brightest students as international tourism ambassadors was launched at Edinburgh Airport on Monday 1st June 2015.

The partnership project between Queen Margaret University (QMU) and Edinburgh Airport will see some of QMU’s BA (Hons) Events Management students become the first Student Tourism Ambassador Role Scotland (STARS) team at Edinburgh Airport this summer.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[New student tourism ambassador programme takes off at Edinburgh Airport]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information please contact Jonathan Perkins, Press and PR Officer, Queen Margaret University, Edinburgh, tel: 0131 474 0000, Email: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a></p>
<p><strong>NOTES TO EDITOR</strong></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "0fb595b3-09c0-4017-b8dd-5b28e1042071",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[New student tourism ambassador programme takes off at Edinburgh Airport]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>