<?xml version="1.0" encoding="utf-8"?>
<Content Key="2858ffa0-defa-4e8e-98e2-a419b8da97e7" Alias="The Institute for Global Health and Development Courses (Postgraduate)" Level="4">
  <Info>
    <Parent Key="08981ce7-1b98-4fd1-8c3a-bdb87823f90e">News and Blog Tags</Parent>
    <Path>/Settings/Tags/NewsAndBlogTags/TheInstituteForGlobalHealthAndDevelopmentCoursesPostgraduate</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-04-16T14:10:21</CreateDate>
    <NodeName Default="The Institute for Global Health and Development Courses (Postgraduate)" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagName>
      <Value><![CDATA[The Institute for Global Health and Development Courses (Postgraduate)]]></Value>
    </tagName>
  </Properties>
</Content>