<?xml version="1.0" encoding="utf-8"?>
<Content Key="28fdda3b-1e87-434e-8024-d23a48829bdc" Alias="Queen Margaret University School Experience Programme Handbook - School Experience Placement" Level="6">
  <Info>
    <Parent Key="13d7db04-0af7-4dda-9d4b-020491ce5706">Queen Margaret University School Experience Programme Handbook</Parent>
    <Path>/Home/DocumentMigrationAugust2022/Paul/NewPDFConveted/QueenMargaretUniversitySchoolExperienceProgrammeHandbook/QueenMargaretUniversitySchoolExperienceProgrammeHandbookSchoolExperiencePlacement</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2023-02-08T13:22:44</CreateDate>
    <NodeName Default="Queen Margaret University School Experience Programme Handbook - School Experience Placement" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "3d159c05-2b56-43b0-a66e-cc8d0504c276",
    "name": "Queen Margaret University School Experience Programme Handbook - School Experience Placement",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/d9348bd929454fbca712d38d5401f705",
    "title": "Queen Margaret University School Experience Programme Handbook - School Experience Placement",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>During each placement, students will be expected</strong> <strong>to:</strong></p>
<ul>
<li>Complete the <strong>Health &amp; Safety Induction checklist </strong>by the end of week 1</li>
<li>Read and summarise the School or Local Authority’s <strong>Child Protection</strong> <strong>Policy </strong>by the end of week 1</li>
<li>Through focused observation develop understanding of building relationships with children and young adults and the <strong>pedagogy that informs practice </strong>in education establishments</li>
<li>Identify the use of educational principles and practice i.e., <strong>active</strong> <strong>learning</strong></li>
<li>Reflect on the role of the teacher</li>
<li>Recognise the importance of working in <strong>partnership with</strong> <strong>parents</strong></li>
<li>Identify the roles of professionals working in <strong>integrated children’s</strong> <strong>services</strong></li>
<li>Establish and maintain a Professional Development Portfolio which should be available to the class teachers at any point during the placement (see Section 3.2 below)</li>
<li>Reflect on the <strong>transition processes </strong>from nursery to primary to secondary school, where appropriate</li>
<li>Gain understanding of how young people learn and consider inclusive approaches to integrated learning</li>
<li>Gain more understanding of how teachers plan for <strong>inclusive</strong> <strong>practice</strong> making use of individual lesson plans. Some lessons may stand alone, but with time, students will learn to create lessons as part of a sequence.</li>
<li>Observe how teachers plan, implement, assess and evaluate teaching and learning daily.</li>
</ul>
<p>As early as possible in the placement, students should become familiar with significant policies, namely Health and Safety and the <a href="https://www.gov.scot/policies/girfec/" title="Child Protection policy and GIRFEC">Child Protection policy and GIRFEC</a></p>
<p><strong>Professional Development Portfolio (PDP)</strong></p>
<p>Please note that lesson plans, timetable, blogs, paperwork, feedback, evidence and reports can all be placed in your Professional Development Portfolio (PDP) as evidence of your professional development.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Queen Margaret University School Experience Programme Handbook - School Experience Placement]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "a0854874-5d71-452c-8063-198a3e7201fc",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[School Experience Programme Handbook - School Experience Placement]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>