<?xml version="1.0" encoding="utf-8"?>
<Content Key="29fae8f0-c5be-453a-98ee-68103a6eeaae" Alias="Staff - SCFDI" Level="4">
  <Info>
    <Parent Key="644845e5-0db0-4a49-9230-5d12ef68dcb0">Blogs</Parent>
    <Path>/Home/CampusLife/Blogs/StaffSCFDI</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2022-02-28T14:24:56</CreateDate>
    <NodeName Default="Staff - SCFDI" />
    <SortOrder>74</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="352afafb-7425-4e97-b145-ab96eebf5bdc">BlogBio</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/1c09cabe0e744d07bc3d8e9b367a9dc7]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "043e95d5-08a2-4a8e-8205-c305ad9335e4",
    "name": "Scottish Centre for Food Development and Innovation",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/b1eb78492be54042b3450b27260eda52",
    "title": "Scottish Centre for Food Development and Innovation",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Scottish Centre for Food Development and Innovation]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>The Scottish Centre for Food Development and Innovation blog will highlight changes in the ever-growing fast-paced food industry. This may be in innovation, sustainability, emerging technologies or nutrition and food legislation. We will show what it is like to work as a food and sensory technologist and hope to inspire the next generation.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Scottish Centre for Food Development and Innovation | Staff Blog | Queen Margaret University, Edinburgh]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[SCFDI | Blog | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[umb://media/4346ccc8e2be4e82ba5d10a010f0a9ef]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[SCFDI Blogs]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[[
  {
    "key": "9d475b32-f157-4b4a-9269-cb5624f48cf8",
    "name": "Twitter",
    "ncContentTypeAlias": "SocialMedia",
    "title": "Twitter",
    "type": "[\"Twitter\"]",
    "scUrl": "https://twitter.com/ScotFoodQMU"
  },
  {
    "key": "e4380609-6009-45f0-afb6-6f1c8b65066a",
    "name": "LinkedIn",
    "ncContentTypeAlias": "SocialMedia",
    "title": "LinkedIn",
    "type": "[\"LinkedIn\"]",
    "scUrl": "https://www.linkedin.com/company/scottish-centre-for-food-development-and-innovation/"
  }
]]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>