<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b3b7f6a-786b-4f2f-9b52-00e39d034148" Alias="What to expect from your Induction" Level="6">
  <Info>
    <Parent Key="f95f6898-e79a-4756-97df-29182db0d963">Information &amp; Support</Parent>
    <Path>/Home/CurrentStudents/CurrentStudentsGeneralInformation/InductionForNewStudents/InformationSupport/WhatToExpectFromYourInduction</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2023-04-17T13:26:54</CreateDate>
    <NodeName Default="What to expect from your Induction" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "7d48ecf6-5e6e-41fc-989b-74274868d7a1",
    "name": "What to expect from your Induction",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/f66eeba272c74ba18e74184bbe47fc18",
    "title": "What to expect from your Induction",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[[
  {
    "key": "c3caf50e-727e-4096-ad60-189edc308d48",
    "name": "University Welcome Talk",
    "ncContentTypeAlias": "centralBlocks",
    "title": "University Welcome Talk",
    "content": "<p>This session takes around 45 minutes to an hour and will be run by staff from Student Services, the Students' Union and the Senior Management team. It is an opportunity to hear about all of the ways in which we can support you through your journey at QMU. There will also be time to ask questions. </p>"
  },
  {
    "key": "f19a5af1-2d07-4f1d-aec3-968870285589",
    "name": "IT Assistance",
    "ncContentTypeAlias": "centralBlocks",
    "title": "IT Assistance ",
    "content": "<p>This is an online induction which you can access via the following link. We will also schedule this as part of your induction session as a reminder that you complete it. </p>\n<p><a href=\"https://u.qmu.ac.uk/tour/start/\">https://u.qmu.ac.uk/tour/start/</a></p>"
  },
  {
    "key": "354c8c52-56be-4fa7-8ef7-cec731c882d4",
    "name": "LRC (Library) Induction",
    "ncContentTypeAlias": "centralBlocks",
    "title": "LRC (Library) Induction",
    "content": "<p>(link to follow shortly)</p>"
  },
  {
    "key": "967f9840-efb8-4bdb-a712-557710492bfa",
    "name": "Programme Talk",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Programme Talk",
    "content": "<p>This session will be an opportunity to meet your Course Leader and fellow students on your course as well as find out about the course content. It is <strong>vital</strong> that you attend this session which will take around 1 to 2 hours. For some courses the session may be longer.</p>"
  },
  {
    "key": "f6e45a52-b042-4d0e-a657-df880cb1c8d5",
    "name": "Pre-Placement Talk",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Pre-Placement Talk",
    "content": "<p>All Health Sciences &amp; Education Studies (Primary) students who will be heading out on placement as part of your course, will also need to attend a Pre-Placement Talk as part of their induction. More information can be found <a href=\"/current-students/current-students-general-information/induction-for-new-students/additional-information-for-courses-with-required-placements/\">here</a> </p>"
  },
  {
    "key": "009a1b94-5b11-4272-94f1-6a7a1d9020e0",
    "name": "Students' Union",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Students' Union",
    "content": "<p>As a student at Queen Margaret University you are automatically a member of the Students’ Union whether you are part-time, full-time, distance learning, undergraduate or postgraduate. </p>\n<p>The Students’ Union is a student led organisation, <strong>rated best in Edinburgh</strong>, specialising in enhancing the student experience. We offer advice and support services, representation, extra-curricular activities through sports and societies, volunteering opportunities, events and a student focused café and bar. </p>\n<p>More information on the events they have planned for January 2024 will appear on their <a href=\"https://www.qmusu.org.uk/\">website</a> soon.</p>\n<p> </p>"
  }
]]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[[
  "Concertina"
]]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[What to expect from your Induction]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[This is a brand new event that we are very exited to be running during induction week this year. Staff from Registry, Student Services, Effective Learning Service, Academic Administration and our Student Champions]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[What to expect from your Induction | Current Students | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "239b7674-8f49-48fb-aea8-566f837cf5d4",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[What to expect from your Induction]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>