<?xml version="1.0" encoding="utf-8"?>
<Content Key="2dafd355-928c-4442-911f-1014d05eea92" Alias="10 top tips with Aonghas Pringle – How to integrate yourself into university life" Level="5">
  <Info>
    <Parent Key="51bdfa6d-413f-4358-b3ab-eadb4250ca2d">Aonghas Pringle</Parent>
    <Path>/Home/CampusLife/Blogs/AonghasPringle/topTipsWithAonghasPringleHowToIntegrateYourselfIntoUniversityLife</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2024-04-02T12:01:12</CreateDate>
    <NodeName Default="10 top tips with Aonghas Pringle – How to integrate yourself into university life" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65102975-f5a6-47bf-9418-b0e82dc7c288">BlogPost</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/792a23b5ee9d49f6b8eb39d32dba3cf2]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "7e39ef7c-d014-44d6-8905-6aad499fb0dc",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/ddcd39b96ebd40b4bb56a3b8f82102f8",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<ol>
<li data-leveltext="%1." data-font="Aptos" data-listid="2" data-list-defn-props="{&quot;335552541&quot;:0,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769242&quot;:[65533,0],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;%1.&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="1" data-aria-level="1"><strong><span>If you have the chance to move to a new city when you start university, do it.</span></strong> <span>As the youngest of six siblings, being able to move out and finally have my own place was a new experience and basically, incredible. Moving to a new city, or in some cases, country, can be a scary prospect, but it was honestly one of the best decisions I ever made.</span> </li>
<li data-leveltext="%1." data-font="Aptos" data-listid="2" data-list-defn-props="{&quot;335552541&quot;:0,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769242&quot;:[65533,0],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;%1.&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="2" data-aria-level="1"><strong><span>Get involved in all the events on offer, especially during Welcome Week. </span></strong><span>There are lots of great free or cheap events, especially at the Students’ Union. You would really have to go out of your way to not meet people.</span> </li>
<li data-leveltext="%1." data-font="Aptos" data-listid="2" data-list-defn-props="{&quot;335552541&quot;:0,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769242&quot;:[65533,0],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;%1.&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="2" data-aria-level="1"><strong><span>Throw yourself into course activities. </span></strong><span>In my course, there are lots of opportunities to perform and work in groups which has been super useful as it has helped me navigate different personalities and network – which will be really beneficial when I enter into working life.</span> </li>
<li data-leveltext="%1." data-font="Aptos" data-listid="2" data-list-defn-props="{&quot;335552541&quot;:0,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769242&quot;:[65533,0],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;%1.&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="2" data-aria-level="1"><strong><span>Don’t be scared to ask your lecturers ‘silly’ questions. </span></strong><span>Every one of my lecturers has been willing to support my learning in many ways - they’re happy to take time out of their day to sit with you one-on-one. </span> </li>
<li data-leveltext="%1." data-font="Aptos" data-listid="2" data-list-defn-props="{&quot;335552541&quot;:0,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769242&quot;:[65533,0],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;%1.&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="2" data-aria-level="1"><strong><span>You will get used to the early starts – I promise</span></strong><span>. At first, it was a struggle to attend the 9am lectures, but with time and some conditioning of the sleep schedule, I eventually found it became easy. </span> </li>
<li data-leveltext="%1." data-font="Aptos" data-listid="2" data-list-defn-props="{&quot;335552541&quot;:0,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769242&quot;:[65533,0],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;%1.&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="2" data-aria-level="1"><strong><span>Don’t be intimidated by your peers, learn from them. </span></strong><span>I have learned loads from collaborating with my fellow students, the fear of not being the best disappeared very quickly.</span> </li>
<li data-leveltext="%1." data-font="Aptos" data-listid="2" data-list-defn-props="{&quot;335552541&quot;:0,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769242&quot;:[65533,0],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;%1.&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="2" data-aria-level="1"><strong><span>Don’t be scared to try something new – now is the best time to do so. </span></strong><span>Do things you’ve never done before, you never know what you’ll discover about yourself. There’s a hundred things you can’t do, but this is the place where you can discover what you can do. </span> </li>
<li data-leveltext="%1." data-font="Aptos" data-listid="2" data-list-defn-props="{&quot;335552541&quot;:0,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769242&quot;:[65533,0],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;%1.&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="2" data-aria-level="1"><strong><span>Pick up old hobbies - they can really help when you’re in a new place. </span></strong><span>I’d actually been joking about joining the cheerleaders for a while and then when I went along for their ‘Give it a Go’ session during Welcome Week, I loved it. The sense of community within the cheerleading team is unbelievable, and as the only man on the team. It was daunting joining, but I’ve felt so welcome. Training with the team is one of the things I look forward to the most each week. </span> </li>
<li data-leveltext="%1." data-font="Aptos" data-listid="2" data-list-defn-props="{&quot;335552541&quot;:0,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769242&quot;:[65533,0],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;%1.&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="2" data-aria-level="1"><strong><span>You don’t need to be great at a sport to join a society. </span></strong><span>You are never left out at QMU and never made to feel unequal.</span> </li>
<li data-leveltext="%1." data-font="Aptos" data-listid="2" data-list-defn-props="{&quot;335552541&quot;:0,&quot;335559685&quot;:720,&quot;335559991&quot;:360,&quot;469769242&quot;:[65533,0],&quot;469777803&quot;:&quot;left&quot;,&quot;469777804&quot;:&quot;%1.&quot;,&quot;469777815&quot;:&quot;hybridMultilevel&quot;}" aria-setsize="-1" data-aria-posinset="2" data-aria-level="1"><strong><span>Things are going to change really fast, and that’s okay.</span></strong><span> Welcome the change, it’s going to offer loads of opportunities for you. </span> </li>
</ol>
<p> </p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[2024-04-02T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[10 top tips with Aonghas Pringle – How to integrate yourself into university life  ]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p> </p>
<p><span class="NormalTextRun SCXW43712052 BCX0">Aonghas Pringle, 3rd year </span><a rel="noreferrer noopener" href="/study-here/undergraduate-study/2024/ba-ba-hons-drama-2024-entry/" target="_blank" class="Hyperlink SCXW43712052 BCX0"><span class="NormalTextRun SCXW43712052 BCX0">BA (Hons) Drama</span></a><span class="NormalTextRun SCXW43712052 BCX0"> student, has thrown himself into all the opportunities university life has to offer. </span><span class="NormalTextRun SCXW43712052 BCX0">He shares his 10 to</span><span class="NormalTextRun SCXW43712052 BCX0">p tips on how to make the most out of being a student at QMU. </span> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Aonghas Pringle, 3rd year BA (Hons) Drama student, has thrown himself into all the opportunities university life has to offer. He shares his 10 top tips on how to make the most out of being a student at QMU.  ]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[10 top tips with Aonghas Pringle | Blog | QMU]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[10 top tips with Aonghas Pringle]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>