<?xml version="1.0" encoding="utf-8"?>
<Content Key="374153ff-c640-4a31-ba2f-e1f1af66ac9c" Alias="2015.10.19 - QMU student appointed to Creative Scotland board" Level="5">
  <Info>
    <Parent Key="94c45b1a-49ef-4036-9be3-b5a4df2d2026">2015</Parent>
    <Path>/Home/NewsAndEvents/News//QMUStudentAppointedToCreativeScotlandBoard</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T11:39:08</CreateDate>
    <NodeName Default="2015.10.19 - QMU student appointed to Creative Scotland board" />
    <SortOrder>101</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "05f6b58d-5a18-4801-a6ac-80a71056d4c1",
    "name": "QMU student appointed to Creative Scotland board",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "QMU student appointed to Creative Scotland board",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Sheila Murray, who studied MA Arts, Festival and Cultural Management at QMU, secured the four-year role to help Creative Scotland deliver the ambitions set out in its 10 year plan. </p>
<p class="txtMainBlack">To secure the position, Sheila was able to demonstrate her practical knowledge and understanding of the arts and creative industries in Scotland.</p>
<p class="txtMainBlack">Sheila’s international experience in the arts spans a 25-year former career with the *British Council in a wide variety of management roles in London, Israel, Spain and Scotland. She was responsible for cultural relations and strategy formation, as well as organising and promoting events and projects across the world in all art forms.  Sheila now works freelance and has co-ordinated a conference for Creative Scotland on the arts in Africa and curates Edinburgh’s Macmillan Cancer Support annual exhibition.</p>
<p class="txtMainBlack">Sheila has been a board member of the Traverse Theatre, the Fruitmarket Gallery and *NVA Europe.  Her background is in the visual arts and she holds a master’s degree in fine art.</p>
<p class="txtMainBlack">Sheila’s studies at QMU allowed her to reflect upon her previous experience, deepening her knowledge, skills and understanding, all of which helped her to secure the Creative Scotland role. The QMU master’s degree provides graduates with an integrated perspective on the management of cultural organisations and the political, economic, social and environmental conditions in which they function.</p>
<p class="txtMainBlack">Creative Scotland has become the first public body to answer the Scottish Government’s call for all boards of directors to be gender-balanced by 2020, thanks to the appointment of its new members, including QMU student, Sheila Murray.</p>
<p class="txtMainBlack">Commenting on her appointment to Creative Scotland’s Board, Sheila said: “This is a great opportunity for me to contribute to the future development of Scotland’s arts sector within an international context. </p>
<p>“I’m a believer in life-long learning.  The course updated my skills by providing valuable insight into contemporary issues affecting the management of arts organisations and festivals today and by introducing me to new ways of looking at the arts through practical application and academic research which are essential for becoming an effective leader in the arts.</p>
<p>“Studying at QMU brought home to me that connections, age and background are not as significant as a willingness to learn and to share ideas.  I will take these values with me as I begin my new role with Creative Scotland.”</p>
<p class="txtMainBlack">Janet Archer, CEO, Creative Scotland, said; “Sheila’s experience, knowledge and understanding of the sector will help us support the continued growth of the arts, screen and creative industries across Scotland.  We were delighted to recently be announced as the first public body in Scotland to achieve a 50:50 gender split on our board.  I very much look forward to working with Sheila and I know she will make a significant contribution to our work.”</p>
<p class="txtMainBlack">Culture Secretary, Fiona Hyslop, said of the appointments: “While all board appointments are of course made on merit, the Scottish Government is continually improving our processes to ensure vacancies are attractive and accessible to people from a wide range of backgrounds.</p>
<p>“These appointments mean Creative Scotland now has a gender balanced board, setting an example to the rest of the organisation and to all employers that we must work harder to achieve gender equality in the workplace and ensure everyone in Scotland is able to meet their full potential.”</p>
<p class="txtMainBlack">Sheila found out about the MA Arts, Festival and Cultural Management from a colleague and by attending a Postgraduate Open Evening at QMU where she was able to speak to the course leaders face to face.  The next QMU Postgraduate Open Evening is on Wednesday 25th November 2015. </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2015-10-19T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU student appointed to Creative Scotland board]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>An Arts Management student from Queen Margaret University (QMU), Edinburgh, has been appointed as a board member of Creative Scotland - the government agency in charge of promoting Scotland’s arts, screen and creative industries.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[An Arts Management student from Queen Margaret University (QMU), Edinburgh, has been appointed as a board member of Creative Scotland - the government agency in charge of promoting Scotland’s arts, screen and creative industries.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU student appointed to Creative Scotland board]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information please contact Jonathan Perkins, Press and PR Officer, Queen Margaret University, Edinburgh, tel: 0131 474 0000, Email: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a></p>
<p>The British Council sits on Universities Scotland's International Committee, along with Queen Margaret University.  Both organisations are members of the 'Connected Scotland' initiative, which promotes Scottish universities abroad.  Professor Petra Wend, Principal and Vice-Chancellor of Queen Margaret University, is also a member of British Council Scotland's Advisory Committee.</p>
<p class="txtMainBlack">NVA is an acronym of ‘nacionale vita activa’, expressing the Ancient Greek ideal of a lively democracy, where actions and words shared among equals bring new thinking into the world.</p>
<p class="txtMainBlack"><a href="https://www.creativescotland.com/" title="Creative Scotland">Creative Scotland</a> is the public body that supports the arts, screen and creative industries across all parts of Scotland on behalf of everyone who lives, works or visits here.  We enable people and organisations to work in and experience the arts, screen and creative industries in Scotland by helping others to develop great ideas and bring them to life.  We distribute funding provided by the Scottish Government and the National Lottery. </p>
<p class="txtMainBlack">Follow <a href="https://www.facebook.com/CreativeScotland" title="Creative Scotland Facebook page">Creative Scotland on Facebook.</a></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "e0c8f082-f84f-456c-bfbf-cfcfe7c55810",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU student appointed to Creative Scotland board]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>