<?xml version="1.0" encoding="utf-8"?>
<Content Key="398e88f5-43e9-4ffe-8a4f-dd0bc3b7144f" Alias="2018.04.11 - Midlothian family is top of the class at Scottish university" Level="5">
  <Info>
    <Parent Key="5498406d-bedc-400c-9545-066855cf03b7">2018</Parent>
    <Path>/Home/NewsAndEvents/News//MidlothianFamilyIsTopOfTheClassAtScottishUniversity</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T21:05:20</CreateDate>
    <NodeName Default="2018.04.11 - Midlothian family is top of the class at Scottish university" />
    <SortOrder>43</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/4e3aefec41fd45bc80732ea8701967dd]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "6e997bba-4a0d-41df-bbc8-7ffa3a15703d",
    "name": "Midlothian family is top of the class at Scottish university",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/773ffe2029ce4938856bd704b7c993c9",
    "title": "Midlothian family is top of the class at Scottish university",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The grandmother, daughter and two grandchildren, from Dalkeith and Gorebridge, have become the first people in their family to gain access to university education at the same time, thanks to widening participation initiatives run by Queen Margaret University (QMU), Edinburgh.</p>
<p><span>QMU is committed to widening participation amongst students who have previously been inhibited from entering higher education for social, economic or cultural reasons. </span></p>
<p><span>Racking up 140 years between them, Mary Holgate, 78, Mhairi Barrett, 43, and Mhairi’s children, Charlotte, 11, and Zak, 9, are living proof that age, income and background are becoming less of a barrier to higher education in Scotland. </span></p>
<p><span>Mhairi, who attended Dalkeith High School and has already completed a BSc (Hons) Psychology &amp; Sociology and MSc Gastronomy at QMU, is now undertaking a PhD at the University. Before arriving at QMU, Mhairi spent over 25 years working in the food, drink and catering industry, but had always thought university was out of reach because of her age, background and limited high school qualifications.</span></p>
<p><span>Mhairi said: "QMU has changed my life. The staff have been very supportive throughout my university career. When I first started at QMU, my son, Zak, was only six months old, which could have made returning to university impossible, but the support I received at QMU made it achievable. I’m still here at QMU and Zak is nine years old now!"</span></p>
<p><span>Inspired by her daughter’s success at QMU, Mhairi’s mother, Mary, found that being a 78-year-old grandmother is no obstacle to securing a place at university either. Mary was accepted on to the BSc (Hons) Psychology &amp; Sociology at QMU in 2014. She is studying for her degree at QMU part-time and is due to graduate in 2019.</span></p>
<p><span>Commenting on her experience at QMU, Mary, said: "It's never too late to go to university and achieve your dream. I’m living proof of that.”</span></p>
<p><span>Mary, who worked as a receptionist at Midlothian Council for 13 years, retired in 2012. She continues to stay active and invigilates for the Council at school exams whilst studying at QMU.</span></p>
<p><span>Mhairi and Mary originally joined QMU as associate students on the introductory Sociology module. Since 2004, the University has been offering the module to adult learners in various community spaces and places across Midlothian. It was following completion of this widening participation initiative that Mhairi and Mary joined QMU’s in-house programmes.</span></p>
<p><span>Charlotte and Zak, who attend Gorebridge Primary School, are now both following in their mother and grandmother’s footsteps by joining the Queen Margaret Children’s University (QMCU). </span></p>
<p><span>As QMU’s approach to widening participation has broadened, the University has worked to deepen its engagement with its communities with a view to raising aspirations at an early age. QMCU aims to promote social mobility by recognising and providing high quality, exciting and innovative learning activities and experiences outside normal school hours. Although open to all, QMCU aims specifically to reach children and families facing socio-economic and educational disadvantage through the promotion of activities in areas of deprivation.</span></p>
<p><span>Charlotte said: "I loved the Queen Margaret Children's University Summer School. I made lots of new friends, and we did really fun stuff. When I go to high school this year I will have already made friends from other schools."</span></p>
<p><span>Zak added: "I was so excited to be old enough to join the Queen Margaret Children's University. Now I’m at the same university as my mum and grandma, and I get to go to Summer School too."</span></p>
<p>QMU works determinedly with a range of partners, including schools, colleges, community groups, third sector and voluntary agencies, and local councils, to maximise the opportunities of people in Edinburgh and the Lothians. The University aims to increase student numbers from non-traditional groups, including those who are the first generation to go on to higher education, are from low progression schools, reside in communities in the lowest 20-40% of the Scottish Index of Multiple Deprivation (MD20/40), articulating students from Scotland’s colleges, or are care leavers or students with caring responsibilities.</p>
<p><span>QMU contributes to a number of collaborative widening participation initiatives that each year support more than 5000 prospective students (and their families and advisers). In particular,</span></p>
<p>QMU is a founding partner in the Lothians Equal Access Programme for Schools (LEAPS), a partner in the Schools for Higher Education Programme (SHEP) and the Scottish Wider Access Programme (SWAP).</p>
<p><span>As well as working with school and college partners, QMU is heavily engaged with a wide range of local community partners, including membership of Area Partnerships in East Lothian and the</span></p>
<p>newly established Employment and Learning Midlothian (ELM) group, and have supported a number of initiatives through these engagements such as the Musselburgh-based literacy initiative Reading is Braw and helping to establish an annual all-age Employment and <span>Learning Fair in Midlothian.</span></p>
<p><strong><span>Ends</span></strong></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2018-04-11T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Midlothian family is top of the class at Scottish university]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[2022-04-11T09:50:52]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Three generations of the same Midlothian family are celebrating success at a Scottish university after discovering new routes to higher education.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Three generations of the same Midlothian family are celebrating success at a Scottish university after discovering new routes to higher education.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Midlothian family is top of the class at Scottish university | News and Events | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p><em>For further media information please contact </em><em>Jonathan Perkins, Press and PR Officer, E: </em><a href="mailto:jperkins@qmu.ac.uk"><em>jperkins@qmu.ac.uk</em></a><em> T: 0131 474 0000</em></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "76a4e0f6-d742-468b-9498-e6073e1f576f",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Midlothian family is top of the class at Scottish university]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>