<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a60fbfd-c346-469a-9aba-bf64fe8fa06a" Alias="Sigma Theta Tau QMU Edinburgh Honor Society of Nursing" Level="4">
  <Info>
    <Parent Key="13c638db-0259-4ef5-8ac8-d37ff7195001">Groups</Parent>
    <Path>/Settings/Contacts/Groups/SigmaThetaTauQMUEdinburghHonorSocietyOfNursing</Path>
    <Trashed>false</Trashed>
    <ContentType>contactGroup</ContentType>
    <CreateDate>2020-12-28T15:36:07</CreateDate>
    <NodeName Default="Sigma Theta Tau QMU Edinburgh Honor Society of Nursing" />
    <SortOrder>85</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactOptions>
      <Value><![CDATA[]]></Value>
    </contactOptions>
    <contacts>
      <Value><![CDATA[umb://document/bf7921b47c724898bc73564fcef80018]]></Value>
    </contacts>
    <displaySocialMediaLinks>
      <Value><![CDATA[0]]></Value>
    </displaySocialMediaLinks>
    <groupName>
      <Value><![CDATA[Sigma Theta Tau QMU Edinburgh Honor Society of Nursing]]></Value>
    </groupName>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <secondaryImage>
      <Value><![CDATA[]]></Value>
    </secondaryImage>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <summary>
      <Value><![CDATA[<p>President - <a data-id="2668" title="Professor Jan Dewing">Professor Jan Dewing</a></p>
<p>Vice President - <a data-id="2469" title="Professor Brendan McCormack">Professor Brendan McCormack</a></p>
<p>Treasurer - <a data-id="2688" title="Ruth Magowan">Ruth Magowan</a></p>
<p>Secretary - <a data-id="2669" title="Dr Caroline AW Dickson">Caroline Dickson</a></p>
<p>Events, Media and Marketing - <a data-id="2702" title="Ailsa McMillan">Ailsa McMillan</a></p>
<p>Undergraduate Counsellor - <a data-id="2472" title="Lesley McKinlay">Lesley McKinlay</a></p>
<p>Postgraduate Counsellor - <a data-id="5471" title="Kristina Mountain (CP)">Kristina Mountain</a></p>]]></Value>
    </summary>
    <telephoneNumber1>
      <Value><![CDATA[]]></Value>
    </telephoneNumber1>
    <telephoneNumber2>
      <Value><![CDATA[]]></Value>
    </telephoneNumber2>
  </Properties>
</Content>