<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b5afbc7-5e2b-4142-93a2-73eb995c4aba" Alias="Michael Nardone" Level="4">
  <Info>
    <Parent Key="6df39042-53f4-433d-a7b4-10e6f8b2636a">50 years of Drama and Performing Arts</Parent>
    <Path>/Home/AlumniAndFriends/yearsOfDramaAndPerformingArts/MichaelNardone</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2021-10-07T14:42:16</CreateDate>
    <NodeName Default="Michael Nardone" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="793fdbdc-4982-4bca-96be-86cd7d82393e">AlumniProfile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/91e5fe2235c345fba4191fe7486d6fe5]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "e420b9cb-0195-4000-a98c-2e69f31cf687",
    "name": "Michael Nardone",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/6dfe97e1f7b74ee099594f98365a58d0",
    "title": "Michael Nardone",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p><span class="lead">For the past 30 years, Michael Nardone has built a successful career in TV, film and theatre.  He can currently be seen playing DI Neil McKinven, in the second series of Alibi's crime drama 'Traces'.  </span></p>
<p>Michael graduated from Queen Margaret College in 1988 with a Diploma in Drama (Acting Studies) with Distinction. </p>
<p>Catch our <a href="/{localLink:umb://document/3b8a889e9a214e00a3adbc3216f0da2e}" title="Q&amp;A with actor Michael Nardone" data-udi="umb://document/b7b9295ec6db44bc9f63754752c15af3">interview with Michael</a> in the 2021 edition of QMYOU. He reveals how he fell in love with acting, reminisces about his fencing days at QMC, and speaks about scriptwriting during lockdown.</p>
<p> </p>
<p>Photo credit: Leila Nardone </p>]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Michael Nardone]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[Class of 1988]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Actor</p>
<p>- Alibi's Traces </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Michael plays DI Neil McKinven in BBC One's Traces. He graduated from Queen Margaret College in 1988 with a Diploma in Drama (Acting Studies) with Distinction. ]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Michael Nardone | Alumni Profiles | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[umb://document/5f3295fdb99a41ca98ae79475155804a,umb://document/1689971f27234574a1d53a7b5e85dc15,umb://document/79c895585e794a7db5836c4fdb1b7ba7,umb://document/9cb5d06c44e2413eb5b9e22e95910f0b,umb://document/5e6bdcf95c334deab12eaaa474229a77,umb://document/b9fbc72872cd4e59b2b3f6946660578e,umb://document/6732d37f4deb4ab5b661438e5c724c00,umb://document/b6519995f860490688b7cb16ce3cbbc3]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Michael Nardone]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>