<?xml version="1.0" encoding="utf-8"?>
<Content Key="3de92654-33e8-492e-99bc-a08871da9bb5" Alias="QMYOU Magazine - April 2024 (Edition 91)" Level="3">
  <Info>
    <Parent Key="df06d5ad-f665-4242-b805-0599a75e4d16">Alumni and Friends</Parent>
    <Path>/Home/AlumniAndFriends/QMYOUMagazineApril2024Edition91</Path>
    <Trashed>false</Trashed>
    <ContentType>manualListing</ContentType>
    <CreateDate>2024-03-20T11:24:32</CreateDate>
    <NodeName Default="QMYOU Magazine - April 2024 (Edition 91)" />
    <SortOrder>14</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="4e6cdbb9-764c-4f44-bc5f-e79a05186df4">AnniversaryListingOverview</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "74f131a3-4024-47bb-bcdc-d8e9b8812ea7",
    "name": "QMYOU, April 2024 (Edition 91)",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/d9348bd929454fbca712d38d5401f705",
    "title": "QMYOU, April 2024 (Edition 91)",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <contentItems>
      <Value><![CDATA[umb://document/d7ca781683094c9b8dcbbf7200cac7af,umb://document/65e7358d8c4147b8ae091895f053ffdb,umb://document/cefa0d1b26b64866a65eee93372f9aae,umb://document/59ab3b27e6a2433f896ca9942a3f7eaf,umb://document/eb039a681ea04435964a5a6b8644e3db,umb://document/c315c0357e21452faf2fe1f6073467e4,umb://document/798e5e7b0939472b98f68f852037c082,umb://document/00686081a08544218acfe3b98e4c782e,umb://document/540c36974e1b43e497652332f75319e0,umb://document/71e3c6a8b35742258fdf43ff453192af,umb://document/230827df9e504bdea9ad2615fc1d836c,umb://document/befb897a79ea411a8db30918b025935c,umb://document/83d2e82674c4495bb4048b9bc1fa3931,umb://document/2b8077549d494191b8e32d47a95a2d1f]]></Value>
    </contentItems>
    <displayTitle>
      <Value><![CDATA[QMYOU Magazine - April 2024 (Edition 91)]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">Principal's Welcome - QMYOU Magazine (April 2024)</span></p>
<p>We are delighted to share with you a range of exciting news and initiatives from QMU, and to shine a spotlight on the excellent work of our researchers and academics, as well as our inspirational students and graduates.</p>
<p><strong>With very best wishes</strong><br /><strong>Sir Paul Grice FRSE, FAcSS </strong></p>
<p> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[QMYOU Magazine  Issue 91,  April 2024.
For Alumni and Friends of Queen Margaret University, Edinburgh.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMYOU Magazine - April 2024 (Edition 91) | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMYOU Magazine - April 2024 (Edition 91)]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>