<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f34ee4b-169b-49d4-8a86-64fd7c9101ca" Alias="Jennifer Bingham" Level="5">
  <Info>
    <Parent Key="be970efd-f363-4803-bd3a-d6a3141ce8b6">Business School Staff</Parent>
    <Path>/Home/SchoolsAndDivisions/BusinessSchool/BusinessSchoolStaff/JenniferBingham</Path>
    <Trashed>false</Trashed>
    <ContentType>staffProfile</ContentType>
    <CreateDate>2021-02-05T11:49:31</CreateDate>
    <NodeName Default="Jennifer Bingham" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7509730a-2309-4003-8275-a5e134b9cf91">StaffProfile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/5ca1c23d59b444589247289f3cd1f44f]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <approvalDate>
      <Value><![CDATA[]]></Value>
    </approvalDate>
    <approved>
      <Value><![CDATA[0]]></Value>
    </approved>
    <approvedBy>
      <Value><![CDATA[]]></Value>
    </approvedBy>
    <banner>
      <Value><![CDATA[[
  {
    "key": "419c741e-28fc-4130-9a0b-1bc877e47f46",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/0b26684657ab4cc9a5e4803a09814a70",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <centralBlocks>
      <Value><![CDATA[[
  {
    "key": "25a52d63-e0ca-404a-9eef-4952389b8466",
    "name": "Overview",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Overview",
    "content": ""
  },
  {
    "key": "4fc5037c-a663-4846-bba1-91b63b3fada1",
    "name": "Research Interests",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Research Interests",
    "content": "<p>My current research interests revolve around the motivation of young people to choose to study hospitality and some of the barriers preventing them choosing to study and work in the hospitality sector.</p>"
  },
  {
    "key": "de1478aa-b76c-40bf-b576-a9d268a5f216",
    "name": "Research Publications",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Research Publications",
    "content": ""
  },
  {
    "key": "921ae6f6-d46f-4fef-9e55-7f9acdd807b5",
    "name": "Funded Projects",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Funded Projects",
    "content": ""
  },
  {
    "key": "fefab17b-fe82-4d1b-94b8-2b872620a2d5",
    "name": "Teaching & Learning",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Teaching & Learning ",
    "content": "<p>I have taught across hospitality, tourism and events UG programmes.</p>"
  },
  {
    "key": "adf4724b-bbd6-4dbf-8859-7ea561b386fe",
    "name": "Activities & Awards",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Activities & Awards ",
    "content": ""
  }
]]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[[
  "Tabs"
]]]></Value>
    </centralBlocksType>
    <displayTitle>
      <Value><![CDATA[Jennifer Bingham]]></Value>
    </displayTitle>
    <email>
      <Value><![CDATA[jbingham@qmu.ac.uk]]></Value>
    </email>
    <extraInformation>
      <Value><![CDATA[]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Jennifer Bingham is a Lecturer in the Business School.</p>]]></Value>
    </introduction>
    <linkedIn>
      <Value><![CDATA[]]></Value>
    </linkedIn>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Jennifer Bingham Staff Profile]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Jennifer Bingham | Staff Profile | Queen Margaret University]]></Value>
    </metaTitle>
    <position>
      <Value><![CDATA[Lecturer]]></Value>
    </position>
    <qualifications>
      <Value><![CDATA[MSc ]]></Value>
    </qualifications>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <schoolDivision>
      <Value><![CDATA[umb://document/239b95941cd34d4eaf1d33c26dae56c4]]></Value>
    </schoolDivision>
    <shortTitle>
      <Value><![CDATA[Jennifer Bingham]]></Value>
    </shortTitle>
    <showTwitterBanner>
      <Value><![CDATA[0]]></Value>
    </showTwitterBanner>
    <surname>
      <Value><![CDATA[]]></Value>
    </surname>
    <telephone>
      <Value><![CDATA[0131 474 0000]]></Value>
    </telephone>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
    <type>
      <Value><![CDATA[[
  "Staff"
]]]></Value>
    </type>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>