<?xml version="1.0" encoding="utf-8"?>
<Content Key="3fc730a9-124e-4cf6-be96-a6211b424015" Alias="Consolidated statement of cash flows" Level="4">
  <Info>
    <Parent Key="11faddfd-95cd-4601-927d-64e11baa0b08">Strategic Report and Financial Statements 2020</Parent>
    <Path>/Home/Finance/StrategicReportAndFinancialStatements2020/ConsolidatedStatementOfCashFlows</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-06-11T11:33:59</CreateDate>
    <NodeName Default="Consolidated statement of cash flows" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "fd13c1bd-d84d-48db-8084-579f413a1aad",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/bc0fb9d0a4574225b98bf9e95221394c",
    "title": "Consolidated statement of cash flows",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<table border="1" style="border-collapse: collapse; width: 100%; height: 722px;">
<tbody>
<tr style="height: 43px;">
<td style="width: 36.751243%; height: 43px;"> </td>
<th style="width: 13.248757%; height: 43px; text-align: center;">Notes</th>
<th style="width: 25%; height: 43px; text-align: center;">
<p>2019/20</p>
</th>
<th style="width: 25%; height: 43px; text-align: center;">
<p>2018/19</p>
</th>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;"> </td>
<td style="width: 13.248757%; height: 21px;"> </td>
<td style="width: 25%; height: 21px; text-align: center;">£000</td>
<td style="width: 25%; height: 21px; text-align: center;">£000</td>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;">
<p>Cash inflow from operating activities</p>
</td>
<td style="width: 13.248757%; height: 21px;"> </td>
<td style="width: 25%; height: 21px; text-align: center;"> </td>
<td style="width: 25%; height: 21px; text-align: center;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;">
<p>(Deficit) / surplus for the year</p>
</td>
<td style="width: 13.248757%; height: 21px;"> </td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>(475)</p>
</td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>(6,044)</p>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;">
<p>Adjustments for non-cash items</p>
</td>
<td style="width: 13.248757%; height: 21px;"> </td>
<td style="width: 25%; height: 21px; text-align: center;"> </td>
<td style="width: 25%; height: 21px; text-align: center;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;">
<p>Depreciation</p>
</td>
<td style="width: 13.248757%; height: 21px;">12</td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>5,314</p>
</td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>5,735</p>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;">
<p>Deferred capital grants released</p>
</td>
<td style="width: 13.248757%; height: 21px;"> </td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>(649)</p>
</td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>(528)</p>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;">
<p>Pension costs less contributions payable</p>
</td>
<td style="width: 13.248757%; height: 21px;"> </td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>1,220</p>
</td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>2,143</p>
</td>
</tr>
<tr style="height: 43px;">
<td style="width: 36.751243%; height: 43px;">
<p>(Increase) /decrease in operating debtors</p>
</td>
<td style="width: 13.248757%; height: 43px;"> </td>
<td style="width: 25%; height: 43px; text-align: center;">
<p>(812)</p>
</td>
<td style="width: 25%; height: 43px; text-align: center;">
<p>2</p>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;">
<p>Increase / (decrease) in operating creditors</p>
</td>
<td style="width: 13.248757%; height: 21px;"> </td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>(940)</p>
</td>
<td style="width: 25%; height: 21px; text-align: center;">524</td>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;">
<p>Increase / (decrease) in pension provision</p>
</td>
<td style="width: 13.248757%; height: 21px;"> </td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>(502)</p>
</td>
<td style="width: 25%; height: 21px; text-align: center;">698</td>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;">
<p>Adjustments for investing or financing activities</p>
</td>
<td style="width: 13.248757%; height: 21px;"> </td>
<td style="width: 25%; height: 21px; text-align: center;"> </td>
<td style="width: 25%; height: 21px; text-align: center;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;">
<p>Investment income and interest receivable</p>
</td>
<td style="width: 13.248757%; height: 21px;"> </td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>(56)</p>
</td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>(85)</p>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;">
<p>Interest payable</p>
</td>
<td style="width: 13.248757%; height: 21px;"> </td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>1,187</p>
</td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>1,246</p>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;">
<p>(Gain)/loss on the sale of tangible assets</p>
</td>
<td style="width: 13.248757%; height: 21px;"> </td>
<td style="width: 25%; height: 21px; text-align: center;">(4)</td>
<td style="width: 25%; height: 21px; text-align: center;">-</td>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;">
<p>Net cash inflow / (outflow) from operating activities</p>
</td>
<td style="width: 13.248757%; height: 21px;"> </td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>4,283</p>
</td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>3,691</p>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;">
<p>Cash flows from investing activities</p>
</td>
<td style="width: 13.248757%; height: 21px;"> </td>
<td style="width: 25%; height: 21px; text-align: center;"> </td>
<td style="width: 25%; height: 21px; text-align: center;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;">
<p>Investment income</p>
</td>
<td style="width: 13.248757%; height: 21px;"> </td>
<td style="width: 25%; height: 21px; text-align: center;">56</td>
<td style="width: 25%; height: 21px; text-align: center;">85</td>
</tr>
<tr style="height: 43px;">
<td style="width: 36.751243%; height: 43px;">
<p>Payments made to acquire fixed assets</p>
</td>
<td style="width: 13.248757%; height: 43px;"> </td>
<td style="width: 25%; height: 43px; text-align: center;">
<p>(940)</p>
</td>
<td style="width: 25%; height: 43px; text-align: center;">
<p>(1,011)</p>
</td>
</tr>
<tr style="height: 43px;">
<td style="width: 36.751243%; height: 43px;">
<p> </p>
</td>
<td style="width: 13.248757%; height: 43px;"> </td>
<td style="width: 25%; height: 43px; text-align: center;">
<p>(884)</p>
</td>
<td style="width: 25%; height: 43px; text-align: center;">
<p>(926)</p>
</td>
</tr>
<tr style="height: 43px;">
<td style="width: 36.751243%; height: 43px;">
<p><strong>Cash flows from financing activities</strong></p>
</td>
<td style="width: 13.248757%; height: 43px;"> </td>
<td style="width: 25%; height: 43px; text-align: center;"> </td>
<td style="width: 25%; height: 43px; text-align: center;"> </td>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;">
<p>Interest paid</p>
</td>
<td style="width: 13.248757%; height: 21px;"> </td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>(1,187)</p>
</td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>(1,246)</p>
</td>
</tr>
<tr style="height: 43px;">
<td style="width: 36.751243%; height: 43px;">
<p>Repayments of amounts borrowed</p>
</td>
<td style="width: 13.248757%; height: 43px;"> </td>
<td style="width: 25%; height: 43px; text-align: center;">
<p>(1,522)</p>
</td>
<td style="width: 25%; height: 43px; text-align: center;">
<p>(1,521)</p>
</td>
</tr>
<tr style="height: 43px;">
<td style="width: 36.751243%; height: 43px;">
<p> </p>
</td>
<td style="width: 13.248757%; height: 43px;"> </td>
<td style="width: 25%; height: 43px; text-align: center;">
<p>(2,709)</p>
</td>
<td style="width: 25%; height: 43px; text-align: center;">
<p>(2,767)</p>
</td>
</tr>
<tr style="height: 43px;">
<td style="width: 36.751243%; height: 43px;">
<p><strong>Increase / (decrease) in cash and cash equivalents in the year</strong></p>
</td>
<td style="width: 13.248757%; height: 43px;"> </td>
<td style="width: 25%; height: 43px; text-align: center;">
<p><strong>690</strong></p>
</td>
<td style="width: 25%; height: 43px; text-align: center;">
<p><strong>2</strong></p>
</td>
</tr>
<tr>
<td style="width: 36.751243%;">
<p>Cash and cash equivalents at beginning of the year</p>
</td>
<td style="width: 13.248757%;"> </td>
<td style="width: 25%; text-align: center;">
<p>8,082</p>
</td>
<td style="width: 25%; text-align: center;">
<p>8,084</p>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 36.751243%; height: 21px;">
<p>Cash and cash equivalents at end of the year</p>
</td>
<td style="width: 13.248757%; height: 21px;"> </td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>8,772</p>
</td>
<td style="width: 25%; height: 21px; text-align: center;">
<p>8,082</p>
</td>
</tr>
<tr>
<td style="width: 36.751243%;">
<p> </p>
</td>
<td style="width: 13.248757%;"> </td>
<td style="width: 25%; text-align: center;">690</td>
<td style="width: 25%; text-align: center;">(2)</td>
</tr>
</tbody>
</table>
<p> </p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Consolidated statement of cash flows]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>CONSOLIDATED STATEMENT OF CASH FLOWS</p>
<p>For the Year Ended 31 July 2020</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Consolidated statement of cash flows]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Consolidated statement of cash flows]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "4fc539a1-a630-41b1-80da-400f1d6ebf69",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Consolidated statement of cash flows]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>