<?xml version="1.0" encoding="utf-8"?>
<Content Key="434d4ac3-18b6-452e-96ab-956f0f95075c" Alias="5 tips for international students moving abroad" Level="5">
  <Info>
    <Parent Key="a2429746-063b-4139-ae8a-3bcba72f826d">Essi Eskelinen</Parent>
    <Path>/Home/CampusLife/Blogs/EssiEskelinen/tipsForInternationalStudentsMovingAbroad</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2024-02-12T15:20:17</CreateDate>
    <NodeName Default="5 tips for international students moving abroad" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65102975-f5a6-47bf-9418-b0e82dc7c288">BlogPost</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/cf9c45b982ba4778bf4a96a7e7d28976]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "59b79fab-b5c8-409c-8621-58c7a5cc2f5f",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/8b03715a550f4722a78d503732740721",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<figure style="text-align: center;"><img src="?mode=max&amp;width=561&amp;height=586" alt="QMU student Essi sitting on the floor in front of suitcases" width="561" height="586" data-udi="umb://media/05af8ce7ab9947b693373df40dcf28fa" data-caption="All packed up!">
<figcaption>All packed up!</figcaption>
</figure>
<p> </p>
<p><strong>1. Meeting new people and seeing new places</strong></p>
<p><span>When I moved away from home to start my studies, I was really scared that I would not make any new friends and that people would think that I was weird for being an international student. Safe to say, that I was scared for no reason. Universities host so many different activities and events that make it super easy to make friends. One thing that really helped me was remembering that 90% of the people here are in exactly the same situation as me, they don’t know anyone. So don’t worry, you won’t be considered a weirdo if you don’t have a lot of friends when starting uni. We’re all on the same boat. Rather than stressing, try to enjoy the experience, and remember that studying abroad is a great opportunity to see places you may never have had the chance to see otherwise!</span></p>
<p> </p>
<figure style="text-align: center;"><img src="?mode=crop&amp;height=800" alt="Essi in Glen Coe" width="611.4393463230672" height="800" data-udi="umb://media/98a8babfe3644bd4b483813027b00b75" data-caption="Glencoe, Scottish Highlands">
<figcaption>Glencoe, Scottish Highlands</figcaption>
</figure>
<p> </p>
<p><strong>2. Learning, learning and learning! </strong></p>
<p><span>Trust me when I say this: when studying abroad you learn a lot more than just the contents of your chosen course. You get to challenge yourself with a whole new academic system and gain a whole new set of skills. Studying away from home also allows you to get opportunities that you maybe could not get back home; taking up new sports or hobbies, for example, or getting internships and jobs that before you could have only dreamt of! For me, studying abroad helped me perfect my English language skills and I’ve also been able to work in roles that are not even possible to have back in my home country. Not to mention, you get to learn a whole other culture and the wholesome traditions that belong to it! </span> </p>
<p>Alongside my Masters in <a rel="noopener" href="/study-here/postgraduate-study/postgraduate-subject-overviews/media-communications-and-public-relations/" target="_blank">Digital Campaigning and Content Creation</a>, I have also gotten very involved with the university as Social Media Ambassador, a role that has given me social media marketing experience and has helped me earn a little extra cash!</p>
<p> </p>
<p><strong>3. Getting more independent and growing </strong></p>
<p><span>Once you live away from home, you are in complete control of how to live your life. I must admit, it was a bit daunting to use the washing machine for the first time when I had no idea what I was doing, and there was no one else to blame when the toilet paper ran out, but moving away from home has made me grow so much. You learn so many new skills whether it has to do with taking care of your home or yourself. Just remember, being a bit out of your comfort zone is not a bad thing.</span> </p>
<p> </p>
<figure style="text-align: center;"><img style="display: block; margin-left: auto; margin-right: auto;" src="?mode=crop&amp;height=800" alt="Essi in front of a lake" width="635.4647330257086" height="800" data-udi="umb://media/b755997a0094427188b02786e01418e5" data-caption="Balloch, Loch Lomond &amp; The Trossachs National Park">
<figcaption>Balloch, Loch Lomond &amp; The Trossachs National Park</figcaption>
</figure>
<p><strong>4. Appreciating your family and friends even more </strong></p>
<p><span>It might feel scary to leave those familiar faces behind when moving away, or you might actually be looking forward to finally enjoying your own space. Whatever your situation might be, after a wee while away from home you will learn just how important your loved ones are to you. You might not keep in touch every single day, but people don’t just disappear because you move away. When you meet them again, it will feel that much more special. </span> </p>
<p> </p>
<p><strong>5. Remember, your home is always one trip away </strong></p>
<p><span>I would lie if I said I have never been homesick during my studies. Being homesick is completely normal and most of us go through it at some point. You can ease up homesickness by regular calls with your family and friends or having the next trip back home planned. I also recommend bringing pieces from your home to your new home: photographs, furniture, stuffed animals, whatever you feel like can bring you comfort and that feels familiar. Personally, every time I visit Finland, I bring loads of chocolate, coffee and bread with me. Whenever I want to feel closer to home, I munch on my treats. </span> </p>
<p><span>What has helped me the most though, is realising that home for me is only just one flight away. If something doesn’t work out, you can always go back home. Just knowing that it is an option helps so much. Your home is not going anywhere, even though you are.</span> </p>
<p><span>Moving away from home to study is not just about getting a degree; it’s about growing as a person and creating memories that last a lifetime.</span></p>
<figure style="text-align: center;"><img src="?mode=crop&amp;width=800" alt="Finnish treats: bread, coffee Moonmins mug" width="800" height="643.2" data-udi="umb://media/984ecc6e801b447290f79ffcad57cc45" data-caption="Finnish treats to make me feel closer to home!">
<figcaption>Finnish treats to make me feel closer to home!</figcaption>
</figure>
<p><span> </span></p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[2024-02-14T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[5 tips for international students moving abroad ]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>There is so much more to Higher Education than getting that degree. </strong>There are a bunch of new places to see, people to meet and experiences to gain. For many people, this means moving away from home for the first time ever. If you’re thinking about moving away from home to start your dream degree in another city, or even in another country, here are some of my top tips - as an international Finnish student, to encourage you to make that big leap!</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[There is so much more to Higher Education than getting that degree. There are a bunch of new places to see, people to meet and experiences to gain. For many people, this means moving away from home for the first time ever. If you’re thinking about moving away from home to start your dream degree in another city, or even in another country, here are some of my top tips - as an international Finnish student, to encourage you to make that big leap!]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[5 tips for international students moving abroad | QMU Blog | QMU, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[5 tips for international students moving abroad ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>