<?xml version="1.0" encoding="utf-8"?>
<Content Key="455a2ae6-ce0c-4cd2-b800-db6b7b4703ec" Alias="Read the strategy in full" Level="3">
  <Info>
    <Parent Key="61a8e686-2a80-4a22-88e1-fc0d682148f6">Links</Parent>
    <Path>/Settings/Links/ReadTheStrategyInFull</Path>
    <Trashed>false</Trashed>
    <ContentType>link</ContentType>
    <CreateDate>2021-12-16T12:15:22</CreateDate>
    <NodeName Default="Read the strategy in full" />
    <SortOrder>85</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <externalLink>
      <Value><![CDATA[https://joom.ag/TZNC]]></Value>
    </externalLink>
    <image>
      <Value><![CDATA[umb://media/60ff098ebdb84f4880c6642eedae543e]]></Value>
    </image>
    <internalLink>
      <Value><![CDATA[]]></Value>
    </internalLink>
    <text>
      <Value><![CDATA[Read the strategy in full]]></Value>
    </text>
  </Properties>
</Content>