<?xml version="1.0" encoding="utf-8"?>
<Content Key="459b7bd9-407c-411b-b011-6fa43dffa584" Alias="Georgia" Level="5">
  <Info>
    <Parent Key="b866e287-04b9-426b-8120-fbbd6cb4c832">Country</Parent>
    <Path>/Settings/Tags/GlobalTags/Country/Georgia</Path>
    <Trashed>false</Trashed>
    <ContentType>countryTag</ContentType>
    <CreateDate>2023-10-23T14:53:47</CreateDate>
    <NodeName Default="Georgia" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <country>
      <Value><![CDATA[Georgia]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[umb://media/38715353ea584c5d84372f8f3a6aef05]]></Value>
    </countryFlag>
  </Properties>
</Content>