<?xml version="1.0" encoding="utf-8"?>
<Content Key="47711ce3-226f-458a-85d4-882b8eb91e26" Alias="2016.12.23 - QMU film director releases new feature film set on Christmas Eve" Level="5">
  <Info>
    <Parent Key="ac4dc403-ec85-4439-845b-de25b485c66d">2016</Parent>
    <Path>/Home/NewsAndEvents/News//QMUFilmDirectorReleasesNewFeatureFilmSetOnChristmasEve</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T13:21:15</CreateDate>
    <NodeName Default="2016.12.23 - QMU film director releases new feature film set on Christmas Eve" />
    <SortOrder>159</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/8704c6a2d46f4574be604944a2954492]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "6e3c4d44-08dd-49e9-bdeb-6a6add52b9cf",
    "name": "QMU film director releases new feature film set on Christmas Eve",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/00409c9e69dd4b5d9a16d8833513d3df",
    "title": "QMU film director releases new feature film set on Christmas Eve",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The film's cameraman and producer, Grant McPhee, works as part of the camera team on ‘Outlander’ and has also worked on 'Game of Thrones'.</p>
<p>Graham, the film’s director, said: “January and February are traditionally quiet months within the film industry and Grant had some down time last year and challenged me to come up with a story line and a concept which could be filmed in about five to six days. He generously provided his time, equipment and helped supply crew.</p>
<p>Graham said: “It’s been great working with Grant and to finally complete the film in time for Christmas.”</p>
<p>The film stars Iwona Glowinska, from the band Featherwest, and co-stars Duglas T Stewart, singer and songwriter of BMX Bandits – Glasgow musical icons and Kurt Cobain’s other favourite band . The story focuses on a lonely Polish cleaner in Glasgow who prepares a traditional ‘Wigilia’ meal but her peace is shattered by the arrival of an unexpected visitor seeking refuge in what he thought would be an empty flat. Both are lonely and in need of sanctuary over the Christmas period.</p>
<p>Graham concluded: “It’s been a challenging process making a low/no budget feature film but I’ve had great support from Grant. Importantly, I can now pass on the knowledge that I’ve gained during the process to students on the film and media degree course at Queen Margaret University.”</p>
<p><a href="https://vimeo.com/ondemand/wigilia/148777067" title="Wigilia trailer (Vimeo video)">Watch the trailer on Vimeo</a>, where the full film can also be rented for £1.44.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2016-12-23T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU film director releases new feature film set on Christmas Eve]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Graham Drysdale, a Lecturer in Screenwriting &amp; Film Production at Queen Margaret University, Edinburgh has just released his first feature film ‘Wigilia’ which takes its name from the traditional Polish Christmas Eve celebration.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Graham Drysdale, a Lecturer in Screenwriting & Film Production at Queen Margaret University, Edinburgh has just released his first feature film ‘Wigilia’ which takes its name from the traditional Polish Christmas Eve celebration.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU film director releases new feature film set on Christmas Eve]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p><strong>Director - Graham Drysdale </strong></p>
<p><strong>Actor - Duglas T Stewart</strong></p>
<p><strong>Producer - Steven Moore</strong></p>
<p>Find out more about <a href="https://www.facebook.com/tartanfeatures/" title="Tartan Features on Facebook">Tartan Features on Facebook</a>.</p>
<p><em>For further media information contact Lynne Russell, Communications Manager, Queen Margaret University, Edinburgh,  E: </em><a href="mailto:lrussell@qmu.ac.uk"><em>lrussell@qmu.ac.uk</em></a><em> T: 0131 474 0000, M: 07711 011239.</em></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "1384cd77-0b93-4f5f-b944-e7e92f400437",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU film director releases new feature film set on Christmas Eve]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>