<?xml version="1.0" encoding="utf-8"?>
<Content Key="489ef8a0-1a4c-4926-a0a8-1d6c9066d3bd" Alias="2018.06.29 - Success in inaugural Royal Society of Edinburgh Unlocking" Level="3">
  <Info>
    <Parent Key="2fb1d2d3-9848-4b68-ba52-af2ced358220">Services for Business and Industry</Parent>
    <Path>/Home/ServicesForBusinessAndIndustry/SuccessInInauguralRoyalSocietyOfEdinburghUnlocking</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-03T15:07:47</CreateDate>
    <NodeName Default="2018.06.29 - Success in inaugural Royal Society of Edinburgh Unlocking" />
    <SortOrder>31</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/0514f307e2644667aeb3976cf091792f]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Research and Knowledge Exchange Development Unit.]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "cf96c551-c71c-49d4-b79e-fe45f5b8b177",
    "name": "Success in inaugural Royal Society of Edinburgh Unlocking Ambition Enterprise Fellowship Programme",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/18200b80f7514baca07f32c3708a09f9",
    "title": "Success in inaugural Royal Society of Edinburgh Unlocking Ambition Enterprise Fellowship Programme ",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>This is the first time that the University has been successful in the Enterprise Fellowship Programme and we are delighted to be hosting Lauren and working with her to support her on her entrepreneurial  journey.</p>
<p>The £4m Unlocking Ambition Challenge is being delivered by stakeholders from Scotland's entrepreneurial ecosystem as  part of the Scotland CAN DO initiative backed by the First Minister, Nicola Sturgeon.</p>
<p><a href="https://rse.org.uk/scotlands-next-generation-entrepreneurs-unlock-their-ambition/" title="Royal Society of Edinburgh Unlocking Ambition">Full list of applicants</a></p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/c5f4dac3417b4733b5c670a075e35f36]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2018-06-29T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Success in inaugural Royal Society of Edinburgh Unlocking Ambition Enterprise Fellowship Programme ]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>QMU is proud to announce that Lauren Leisk is one of 20 high potential young entrepreneurs who have been selected to be part of the first cohort in the Royal Society of Edinburgh Unlocking Ambition Enterprise Fellowship Programme Her business, Fodilicious, provides freshly prepared "free-from" meal options which follow the low FODMAP diet for digestive health.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[QMU are delighted to announce that four candidates have been successful in being shortlisted for the next round of Converge Challenge.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Success in Converge Challenge  | Business News | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "3781fe8c-1e59-4505-9788-fc92bb899cd9",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Success in inaugural Royal Society of Edinburgh Unlocking Ambition Enterprise Fellowship Programme]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>