<?xml version="1.0" encoding="utf-8"?>
<Content Key="49d9a5d3-da08-42cf-a81d-08ed09b35b04" Alias="Care Leavers - Gayle Green" Level="4">
  <Info>
    <Parent Key="ecf5930f-7e9c-41b1-9bd9-b5a7c0284236">Individuals</Parent>
    <Path>/Settings/Contacts/Individuals/CareLeaversGayleGreen</Path>
    <Trashed>false</Trashed>
    <ContentType>contactIndividual</ContentType>
    <CreateDate>2020-12-28T20:31:59</CreateDate>
    <NodeName Default="Care Leavers - Gayle Green" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactOptions>
      <Value><![CDATA[[
  {
    "key": "aaeebbcc-0b35-4949-bda8-a6d933866624",
    "name": "Email",
    "ncContentTypeAlias": "SocialMedia",
    "title": "Email",
    "type": "[\"Email\"]",
    "scUrl": "ggreen@qmu.ac.uk"
  }
]]]></Value>
    </contactOptions>
    <logoImage>
      <Value><![CDATA[]]></Value>
    </logoImage>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <mainTitle>
      <Value><![CDATA[Gayle Green]]></Value>
    </mainTitle>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <telephoneNumber1>
      <Value><![CDATA[0131 474 0000]]></Value>
    </telephoneNumber1>
    <telephoneNumber2>
      <Value><![CDATA[]]></Value>
    </telephoneNumber2>
    <thumbnailImage>
      <Value><![CDATA[]]></Value>
    </thumbnailImage>
  </Properties>
</Content>