<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a78818f-438f-44de-8954-c6a036ce475a" Alias="2019.10.07 - QMU students receive welcome boost  from Lord Forte Foundation Scholarships" Level="5">
  <Info>
    <Parent Key="08947aaf-1983-41d9-af0f-da5f3d7f0945">2019</Parent>
    <Path>/Home/NewsAndEvents/News//QMUStudentsReceiveWelcomeBoostFromLordForteFoundationScholarships</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-11T11:35:50</CreateDate>
    <NodeName Default="2019.10.07 - QMU students receive welcome boost  from Lord Forte Foundation Scholarships" />
    <SortOrder>64</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/5f995951948f412cae15821549cc5915]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "8a2b90f4-2a77-4e77-89a9-73ecd14caaa1",
    "name": "QMU students receive welcome boost  from Lord Forte Foundation Scholarships",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/88782f7d824644788619e6dee22921d3",
    "title": " QMU students receive welcome boost  from Lord Forte Foundation Scholarships",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The students from QMU’s BA (Hons) International Hospitality and Tourism Management course will benefit from the prestigious Lord Forte Foundation Scholarship, which carries with it a £2,500 award to pay living expenses and other costs to allow them to focus on achieving academic excellence.</p>
<p>Richard Cooke, General Manager of The Balmoral, a Rocco Forte Hotel, spoke to students from QMU’s BA (Hons) International Hospitality and Tourism Management and BA (Hons) Events Management programmes at a reception at the University on Thursday 3 October, detailing his career path which led him to roles at some of the world’s most prestigious hotels in New Zealand, the USA and Singapore.</p>
<p>As well as fielding questions from students on a wide range of subjects which covered environmental sustainability, the role of general managers, and the international market, Mr Cooke had some words of wisdom for the final year students. “Find your moral compass to steer you on the right path,” he said. “You have the biggest opportunity at your fingertips by working in this industry, and I wish you all the very best.”</p>
<p>The six recipients of this award in 2019/20 are as follows:</p>
<ul>
<li>Chandi Kumar Paudel (originally from Dandagaun Rasuwa in Nepal)</li>
<li>Ewa Jaworski (originally from Jelenia Góra in Poland, now resident in Edinburgh)</li>
<li>Heather Linn Fyfe (from Dalkeith)</li>
<li>Martina Soos (originally from Tata in Hungary, now resident in Edinburgh)</li>
<li>Roddy Lamont (from Banchory in Aberdeenshire)</li>
<li>Iona Ross (from Aberdeen)</li>
</ul>
<p>Ewa said: "I am delighted that to receive the Lord Forte Scholarship. I am a direct entry student who joined Queen Margaret University last academic year. I have to admit that university matters are different compared to college. There is much more self-study and self-management. As a mother of two girls, Lily (5) and Hana (3), there are challenges in juggling everyday life with and academia. This scholarship will give me extra time and a clear mind to focus on my assignments and dissertation project.</p>
<p>"Learning in another country - where English is my second language and with two young children at home - is not easy. However, I have already done a lot and I will continue to fight for a better life for me and my family. This award will make a significant difference to me." </p>
<p>Roddy commented: "It was such a relief finding out that I’d been awarded the scholarship, it means that I’ll be able to focus on my studies without worrying about working to support myself, and the fact that it comes from such an acclaimed hospitality group is the icing on the cake!"</p>
<p>Martina added: "I was thrilled to learn that I'd been awarded the Lord Forte Scholarship. I am very grateful to both the Lord Forte Foundation and Queen Margaret University for this opportunity. This scholarship will make an immense difference to my life, my studies and my future career by allowing me to fully focus on my studies and to continue to explore and develop new academic interests. This scholarship will also allow me to take advantage of extra placements and opportunities offered throughout fourth year." </p>
<p>Dr Majella Sweeney, Head of Business, Enterprise and Management at QMU, said: “We are delighted that the Lord Forte Foundation continues to work with us to support the development of the next generation of hospitality, tourism and events professionals.</p>
<p>“We are especially grateful to Mr Cooke for giving up his time to speak with our students about his impressive career and for his invaluable advice and insight into the hospitality industry.</p>
<p>“These scholarships are proving to be of significant benefit for our students. By helping to alleviate the financial burden associated with university study, a more level playing field has been established to help talented students - regardless of their background - to achieve their goals.”</p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2019-10-07T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU students receive welcome boost  from Lord Forte Foundation Scholarships]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Six students from Queen Margaret University (QMU), Edinburgh, have each been awarded a £2,500 scholarship to help them excel in their penultimate year of study and prepare them for entering the hospitality, tourism and events industry.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Six students from Queen Margaret University (QMU), Edinburgh, have each been awarded a £2,500 scholarship to help them excel in their penultimate year of study and prepare them for entering the hospitality, tourism and events industry. The students from QMU’s BA (Hons) International Hospitality and Tourism Management course will benefit from the prestigious Lord Forte Foundation Scholarship, which carries with it a £2,500 award to pay living expenses and other costs to allow them to focus on achieving academic excellence.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU students receive welcome boost  from Lord Forte Foundation Scholarships]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>1. Applications to the Lord Forte Foundation Scholarships are accepted from students in year three or four of the BA (Hons) International Hospitality and Tourism Management degree, and the BA (Hons) Events Management degree. Applicants must meet three criterions:</p>
<p>- Academic performance – students should be averaging a 2:1 or above.<br />- Financial need – students should demonstrate that the scholarship would make a real difference to their living costs as well as other costs associated with studying.<br />- Motivation to work within the hotel sector in the UK – students should document their career aspirations and any current achievements within the hotel industry.</p>
<p>2. For further media enquiries, please contact Karen Keith (Media Relations and Content Officer) at Queen Margaret University, Edinburgh, E: <a href="mailto:kkeith@qmu.ac.uk">kkeith@qmu.ac.uk</a>, T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "a018e097-961d-41ce-9cb0-864223a4825e",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Lord Forte Foundation Scholarships]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>