<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ab97702-7ea9-46cd-a9ee-72e4cd77f031" Alias="2015.06.12 - Sir Tom Farmer to step down" Level="5">
  <Info>
    <Parent Key="94c45b1a-49ef-4036-9be3-b5a4df2d2026">2015</Parent>
    <Path>/Home/NewsAndEvents/News//SirTomFarmerToStepDown</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T10:41:50</CreateDate>
    <NodeName Default="2015.06.12 - Sir Tom Farmer to step down" />
    <SortOrder>55</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "96b67e6b-fd9f-429b-99cb-c5022fd9618b",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Sir Tom Farmer to step down after 8 years as Chancellor of Queen Margaret University",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Sir Tom will officiate at this year's graduation ceremonies on Friday, 10th July, but will step down before graduation ceremonies in July 2016. This extended period of time will allow the University time to appoint a successor to Sir Tom.</p>
<p>The much loved and celebrated Scottish entrepreneur was inaugurated as the founding Chancellor of Queen Margaret University when the institution was granted full university title in 2007.</p>
<p>Prior to becoming Chancellor, Sir Tom Farmer had been a staunch supporter of the University's work for many years, initially taking on the role as President of its Development Campaign in 1999. He helped launch the University's first fundraising campaign in a dynamic event on board The Royal Yacht Britannia over 16 years ago, which was quickly followed up by an awareness raising reception at the House of Lords. Both these ambitious events introduced the University to new audiences. Sir Tom has played a key ambassadorial role for the University over a period during which the University has been renewed and reinvigorated through gaining full university status, relocating to an award-winning new campus, developing its global reach and impact, enjoying ever increasing research success, and making its mark on 21st century higher education.</p>
<p>Over the years Sir Tom's rousing speeches and deep-felt commitment to Queen Margaret University's work has brought the University to the attention of the business community, philanthropists and sporting heroes both in Scotland and overseas. However, it has been his ability to connect with an audience, particularly his entertaining and passionate speeches at the University's graduation ceremonies, which have earned him a place in the hearts of staff, students and graduates. His warm approach has encouraged everyone to believe in themselves, to be resilient in life, and to value the people around them, in particular those supporting them during their education and career journey. As comfortable speaking to students on a one-to-one basis as well as in formal speeches, he has always been willing to share useful life lessons to help students, and also to pay tribute to the people who helped to shape him as a person and supported him throughout his career.</p>
<p>Sir Tom's boundless energy, business acumen, enthusiasm for nurturing student talent, and down to earth attitude together will secure his place as one of QMU's most highly respected, memorable and loved figures.</p>
<p>Of his time as Chancellor, Sir Tom said: "I have been involved with Queen Margaret University in various roles for almost 20 years of which the past 8 years have been as Chancellor. During that time, I have seen the University grow and enjoy great success. Having participated in 23 Graduation ceremonies, one of the greatest pleasures for me has been shaking hands with and looking into the eyes of more than 10,000 graduates who I know are well prepared to go into the world and make a difference to society because of their time at Queen Margaret University. Their energy and enthusiasm, combined with the same energy and enthusiasm of all members of staff, has resulted in the acknowledged success of QMU. It has been a great honour for me to have been appointed the first Chancellor of Queen Margaret University and I thank everyone for their support."</p>
<p>Keir Bloomer, Chair of the Court of Queen Margaret University said: "It has been our privilege to have Sir Tom as our founding Chancellor. As someone who is a great visionary with limitless energy and commitment to society, he was a natural choice as Chancellor for an ambitious new university committed to social justice. We will miss him greatly when he steps down."</p>
<p>Professor Petra Wend, Principal and Vice-Chancellor of Queen Margaret University said: "In his time as Chancellor, Sir Tom has been a true asset to the University and a wonderful advocate for our work, as well as an immense support to me personally and to my colleagues. QMU's vision is to be a university of ideas and influence. With his entrepreneurial brilliance and commitment to make a difference in the world, Sir Tom is someone who embodies ideas and influence, fitting him perfectly to his role as Chancellor."</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2015-06-12T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Sir Tom Farmer to step down after 8 years as Chancellor of Queen Margaret University]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>The entrepreneur and founder of Kwik Fit, Sir Tom Farmer CVO CBE KCSG FRSE DL is to step down from his position as Chancellor of Queen Margaret University, Edinburgh.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[The entrepreneur and founder of Kwik Fit, Sir Tom Farmer CVO CBE KCSG FRSE DL is to step down from his position as Chancellor of Queen Margaret University, Edinburgh. Sir Tom will officiate at this year's graduation ceremonies on Friday, 10th July, but will step down before graduation ceremonies in July 2016. This extended period of time will allow the University time to appoint a successor to Sir Tom.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Sir Tom Farmer to step down after 8 years as Chancellor of Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>Sir Tom went to St. Mary's Primary School and Holy Cross Academy, Edinburgh. He has been married to wife Anne for 48 years and they have two children and four grandchildren.</p>
<p>Sir Tom founded Kwik-Fit in 1971 from which he resigned after its sale to Ford in 1999. He has a number of business interests which include property development and investments in new business start-ups.</p>
<p><strong>Appointments</strong></p>
<p>His present appointments are: Honorary President - Young Enterprise Scotland, Honorary President of the Entrepreneurial Exchange, Deputy Lieutenant of the City of Edinburgh and Non-executive Director of Scottish Power.</p>
<p><strong>Honours and Awards</strong></p>
<p>2009 Royal Victorian Order (CVO - Commander of the Victorian Order in the Queen's New Year's Honours).</p>
<p>1997 Knights Bachelor in the Queen's Birthday Honours.</p>
<p>1990 CBE in the Queen's Birthday Honours.</p>
<p>1997 Knight Commander with Star of the Order of St. Gregory the Great (Pope John Paul II).</p>
<p>1996 Officier in de Orde van Orange-Nassau of The Netherlands (Queen Beatrix of The Netherlands).</p>
<p>1993 The Knight Cross of the Order of Merit of the Republic of Poland (The President of Poland).</p>
<p>The Doctorates he has been awarded are Honorary Degree of Doctor of the University, Queen Margaret University, Edinburgh, Honorary Doctorate in Business Administration, Napier University, Edinburgh, Honorary Degree of Doctor of Technology, Glasgow Caledonian University, Degree of Doctor honoris causa, University of Edinburgh. Honorary Degree of Doctor of Laws, University of St. Andrews. Honorary Fellowship from Stevenson College, Edinburgh.</p>
<p>The awards he has received are The Institute of Management Gold Medal, Scotland's Elite Leader of the Year Award. Scottish Businessman of the Year, Recipient of the Golden Plate Award - American Academy of Achievement, Entrepreneurial Exchange - Exceptional Achievement Award, Clydesdale Bank Corporate Citizenship Award, The Rotary Foundation of Rotary International (Paul Harris Fellowship) Award. The Andrew Carnegie Medal of Philanthropy - (Sir Tom is the first Scot to receive this prestigious Award). Patron of the Arts in the Vatican Museums. Companionship of The Royal College of Surgeons. FRSE - Fellow of The Royal Society of Edinburgh. Scottish Business Award for outstanding contribution to Scottish Business.</p>
<p>For further media information please contact Lynne Russell, Communications Manager, Queen Margaret University, Edinburgh on E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk;</a> T: 0131 474 0000, M: 07711 011239</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "8d16e2a4-548a-4f8f-9f45-63995ad0547b",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Sir Tom Farmer to step down after 8 years as Chancellor of Queen Margaret University]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>