<?xml version="1.0" encoding="utf-8"?>
<Content Key="4bb2cb2c-e148-475f-a640-7eb2a5ad6229" Alias="2015.09.30 - University project set to save the nation’s voices" Level="5">
  <Info>
    <Parent Key="94c45b1a-49ef-4036-9be3-b5a4df2d2026">2015</Parent>
    <Path>/Home/NewsAndEvents/News//UniversityProjectSetToSaveTheNationSVoices</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T11:36:21</CreateDate>
    <NodeName Default="2015.09.30 - University project set to save the nation’s voices" />
    <SortOrder>93</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/c50c91cc661247caa57b7d8cce26f3d7]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "d8d54093-14d3-4e17-8c45-3b3e7f38c1ab",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "University project set to save the nation’s voices ",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Led by QMU’s Dr Felix Schaeffler, the specialist team has devised a smartphone-assisted voice care service for iPhones and Android devices to help teachers, lecturers, call centre workers and other professional voice users look after their voices.</p>
<p class="txtMainBlack">Increasing evidence shows that people who rely on their voices for work are at risk of developing voice problems. Time off work due to voice stress and strain costs the UK economy around £200 million each year. A voice problem can also have profound impact on a person’s everyday social interaction and well-being.</p>
<p class="txtMainBlack">Using their new smartphone-assisted voice care service, QMU researchers are now offering a quick way of identifying voice problems before they become serious enough to require medical treatment, as well as providing tailor-made advice on how people can protect their voice.</p>
<p class="txtMainBlack">The new service, ‘fitvoice’, allows regular voice monitoring via a smartphone app, including audio recordings and self-reports. The data is transmitted via the internet to a database which is accessible by voice coaches and therapists. They monitor vocal health of each individual client, supported by automatic acoustic analysis. Based on their analysis the experts then provide regular personal feedback and advice to professional voice users as to how to protect their voice or at what point to seek specialist medical care.</p>
<p class="txtMainBlack">QMU’s fitvoice project was announced as a finalist in the Social Enterprise category at the Converge Challenge Awards, which took place at the Barony Hall in Strathclyde on 29th September.</p>
<p class="txtMainBlack">Converge Challenge is Scotland's premier commercialisation competition, which is open to staff and students from all Scottish universities and research institutes. The initiative is an award-winning beacon for entrepreneurship, providing a prize fund of over £100,000 in cash, as well as business support.</p>
<p class="txtMainBlack">Commenting on the fitvoice project, Dr Felix Schaeffler from QMU’s internationally renowned Clinical Audiology, Speech and Language Research Centre, said: “We’re delighted to have reached the finals of this prestigious competition for our voice care service.</p>
<p>“Our aim is to help professional voice users to work effectively and to reduce both short and long term voice problems. The fitvoice service has the potential to have a positive impact on professional voice users across various professions and businesses, with significant possibilities for the call centre industry, for example.</p>
<p>“fitvoice addresses a gap in the market for a convenient and affordable service that allows remote assessment of voices and remote delivery of personalised advice, so that professional voice users can fit regular voice care into their busy daily routines.”</p>
<p class="txtMainBlack">Professor Alan Gilloran, Deputy Principal of QMU, said “We’d like to congratulate Dr Schaeffler and his team for their outstanding achievements. fitvoice is an excellent example of QMU’s socially relevant research and fits with its philosophy of improving quality of life.</p>
<p>“Entrepreneurship continues to be at the forefront of QMU’s strategy, from expanding entrepreneurial thought across our teaching programmes to creating research led start-ups that drive impactful social innovation”.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2015-09-30T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[University project set to save the nation’s voices ]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>A team of voice care experts from QMU is set to save the nation’s voices with its pioneering technology after becoming a finalist in a top commercialisation competition.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[A team of voice care experts from QMU is set to save the nation’s voices with its pioneering technology after becoming a finalist in a top commercialisation competition.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[University project set to save the nation’s voices ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information please contact Jonathan Perkins, Press and PR Officer, Queen Margaret University, Edinburgh, tel: 0131 474 0000, Email: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "eca23ea7-2ae9-48ee-8300-a558a5371cfb",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[University project set to save the nation’s voices ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>