<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c4be8a6-99c5-426e-8e01-9f8a6ad193cf" Alias="Strategic Report and Financial Statements 2021" Level="3">
  <Info>
    <Parent Key="61203bde-5c78-46ad-9f20-edbd884ccf4d">Finance</Parent>
    <Path>/Home/Finance/StrategicReportAndFinancialStatements2021</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-02-08T14:38:17</CreateDate>
    <NodeName Default="Strategic Report and Financial Statements 2021" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/14b5f4ebc4494e46aaa52dabb40129b8]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "e2c98ff9-da82-41ca-8ec2-ae4fe2c9dc62",
    "name": "Strategic Report and Financial Statements 2021",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/bc0fb9d0a4574225b98bf9e95221394c",
    "title": "Strategic Report and Financial Statements 2021",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<ol>
<li><a data-udi="umb://document/d02ea24a80764e878f8d7b562fb8c853" href="/{localLink:umb://document/8939b6793ce74824a6056d3826df6989}" title="Principal's Report">Principal’s report<br /><br /></a></li>
<li><a data-udi="umb://document/fbcdc1c8e77744cf86edbeffb68bd2d4" href="/{localLink:umb://document/6f95d1a9f6754408acc51fbde9328ad6}" title="Strategic Report" data-anchor="#">Strategic report</a><br /><br /></li>
<li><a data-udi="umb://document/3352613d96aa4650b1fcfdee890bb2dc" href="/{localLink:umb://document/d7d62709feff40fba7499f6f4b59ad67}" title="Director's Report" data-anchor="#">Directors’ report</a><br /><br /></li>
<li><a data-udi="umb://document/5482ad191e704b2dbcfd825f95ea4bcb" href="/{localLink:umb://document/a6e4f11c78b64482a1c3511dd03ce8ef}" title="Corporate Governance Statement" data-anchor="#">Corporate governance statement</a><br /><br /></li>
<li><a data-udi="umb://document/0c94fae4bb214511aa1c85356e7141a6" href="/{localLink:umb://document/8c049d010ea6490098cf8db94616ebaa}" title="Responsibilities of the University Court" data-anchor="#">Responsibilities of the University Court</a><br /><br /></li>
<li><a data-udi="umb://document/a119f7fc0728423095b655ddd36e6ef9" href="/{localLink:umb://document/33cca315b9dd41849580cf2d2db3c4e6}" title="Independent Auditor’s Report" data-anchor="#">Independent auditor’s report</a><br /><br /></li>
<li><a data-udi="umb://document/1080d02df42246d287ba546c8e02b21a" href="/{localLink:umb://document/5acf61087a9a4e578e3282b3d5a941db}" title="Statements of Comprehensive Income and Expenditure" data-anchor="#">Statements of comprehensive income and expenditure</a><br /><br /></li>
<li><a data-udi="umb://document/2203fda015ba4bd9bf7829c3deeee20d" href="/{localLink:umb://document/8c6b2fea88334238a7c9de87d2137f2d}" title="Statements of Changes in Reserves" data-anchor="#">Statements of changes in reserves</a><br /><br /></li>
<li><a data-udi="umb://document/9875052dec1249a2874d2224b43d598d" href="/{localLink:umb://document/ff326d37ae324ad796413b64f4b77e76}" title="Balance sheets as at 31 July 2020" data-anchor="#">Balance sheets as at 31 July 2021</a><br /><br /></li>
<li><a data-udi="umb://document/67fa65ca87cb48f7abdaea4063c4daf2" href="/{localLink:umb://document/1f5b4196dbe24c3f8b5492bae6c473f4}" title="Consolidated statement of cash flows" data-anchor="#">Consolidated statement of cash flows</a><br /><br /></li>
<li><a data-udi="umb://document/bf204cd24ca6429787786ec71f7f8abd" href="/{localLink:umb://document/99a2efc3c2a942b4aeb16c616121558e}" title="Statement of principal accounting policies" data-anchor="#">Statement of principal accounting policies</a><br /><br /></li>
<li><a data-udi="umb://document/f379dc9521b04b2faeca3e32b6063473" href="/{localLink:umb://document/084d71402590453e95cc1638564a39b5}" title="Notes to the financial statements" data-anchor="#">Notes to the financial statements</a></li>
</ol>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/09617c7a689b4d40a664364701529d0b]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Strategic Report and Financial Statements]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>Strategic Report and Financial Statements for the year ended 31st July 2021</strong><br />Registered No. SC007335<br />Scottish Charity No. SC002750</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Queen Margaret University, Edinburgh - Strategic Report and Financial Statements for the year ended 31st July 2020.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Strategic Report and Financial Statements 2020 | Finance | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "49a53386-8797-4933-b969-e86dee170303",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Strategic Report and Financial Statements]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>