<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d4fc8b4-797b-4d42-8f68-0692425f9b37" Alias="Emma’s Exchange" Level="5">
  <Info>
    <Parent Key="85f60739-4f45-4891-bce0-83cd4b4b9fc2">Study Abroad - Magazine layout</Parent>
    <Path>/Home/StudyHere/InternationalStudentsRevamp2022/StudyAbroadMagazineLayout/EmmaSExchange</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2022-04-07T14:23:33</CreateDate>
    <NodeName Default="Emma’s Exchange" />
    <SortOrder>17</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="352afafb-7425-4e97-b145-ab96eebf5bdc">BlogBio</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "bc5eccff-a76e-4246-9e73-83cf65e1f864",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Emma's Semester Abroad",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p><span class="lead-big">Emma Grainger – Film &amp; Media – Level 3</span></p>
<p><span class="lead">Brock University, Canada</span></p>
<p> </p>
<p><span class="lead">My Exchange in Canada</span></p>
<p>For my second semester of 3rd year I was very happy to be chosen to study at Brock University in Ontario, Canada.</p>
<p>This was my third visit to Canada, but my first experience living abroad, thus I was naturally apprehensive about what to expect. Now I can happily say that I had nothing to worry about. I guess I’ll start from the beginning…</p>
<p><span class="lead">The Journey</span></p>
<p>I arrived in Toronto Airport with 3 suitcases (yes, I’m an over-packer) and my passport, ready to start my adventure. The journey to the university was straight forward and before I knew it I was unpacked in my new home for the next four months.</p>
<p><span class="lead">The University Experience</span></p>
<p>I was extremely nervous about attending a new university with new classes, new classmates and new buildings. I won’t lie and say that I felt at home instantly, but with the help of university staff and new friends I eventually settled in after a couple of weeks. It is true what they say- Canadians are incredibly kind-hearted people. Every single person I encountered through-out my experience impacted my time at the university positively, always going out of their way to aid me in any way they could. As for the classes, my academic abilities were certainly challenged, which I am glad for. I learned a lot, not only about my course, but how to study in new subjects in new environments. Overall, I had a wonderful experience at Brock University and would recommend it to anyone.</p>
<p><span class="lead">The Touristy Stuff</span></p>
<p>As I had already visited Ontario’s main tourist attractions in my previous trips to Canada, I looked into exploring elsewhere. During ‘spring break’ I travelled to Quebec, Montreal for the week with my flatmates. As Quebec is a French speaking province they have adopted many European traits, which was a nice reminder of home. The scenery was stunning, the food was incredible and the company was even better. On my next trip to Canada I would love to visit Quebec again.</p>
<p><span class="lead">The Weather</span></p>
<p>It would be a sin to write a blog about living in Canada and not tell you about the weather. Oh my. Everyone had warned me about the extremely cold and snowy winters, although I had no idea it was be THAT cold. With temperatures often reaching negative 40 (!!!) Celsius you cannot stay outside for longer than 10 minutes without getting frostbite. That being said, the summer weather makes up for the freezing winters, with temperatures often reaching plus 40 Celsius. So, if you are visiting from winter to summer, you better pack your biggest fluffiest winter coat alongside your bikinis and shorts.</p>]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Emma's Exchange]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[August 13, 2019]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[For my second semester of 3rd year I was very happy to be chosen to study at Brock University in Ontario, Canada.

This was my third visit to Canada, but my first experience living abroad, thus I was naturally apprehensive about what to expect. Now I can happily say that I had nothing to worry about. I guess I’ll start from the beginning…]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Emma’s Exchange | Reasons to Study Abroad | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Emma’s Exchange]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>