<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e18f0dc-ff31-48f2-95fc-cb49e6419c02" Alias="2017.03.10 - Interview with QMU international student, Andrea Fitzgerald: MSc Physiotherapy (Pre-Registration)" Level="5">
  <Info>
    <Parent Key="5ec60e7e-de76-4127-aaea-18ddb982220d">2017</Parent>
    <Path>/Home/NewsAndEvents/News//InterviewWithQMUInternationalStudentAndreaFitzgeraldMScPhysiotherapyPreRegistration</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T15:01:32</CreateDate>
    <NodeName Default="2017.03.10 - Interview with QMU international student, Andrea Fitzgerald: MSc Physiotherapy (Pre-Registration)" />
    <SortOrder>57</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "d52bee90-f9f2-406e-9479-fc19543e7765",
    "name": "Interview with QMU international student, Andrea Fitzgerald: MSc Physiotherapy (Pre-Registration)",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Interview with QMU international student, Andrea Fitzgerald: MSc Physiotherapy (Pre-Registration)",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p class="txtMainBlack">Andrea had previously achieved a BSc Kinesiology (the scientific study of human or non-human body movement) from Dalhousie University in Halifax, Canada and was determined to study MSc Physiotherapy.</p>
<p class="txtMainBlack"><strong>Why did you decide to study MSc Physiotherapy (pre-registration) at QMU?</strong></p>
<p class="txtMainBlack"><em>“I had a difficult time trying to enroll on postgraduate physiotherapy programmes in Canada. After working in clinics in Ottawa for three years, I decided to study overseas. </em></p>
<p class="txtMainBlack"><em>“QMU offered me the ability to live in Scotland’s cultural capital city and study at a friendly and supportive university campus. I absolutely fell in love with the city of Edinburgh during my two years at QMU.” </em></p>
<p class="txtMainBlack"><strong>How did you find studying on the course at QMU?</strong></p>
<p class="txtMainBlack"><em>“I found my course work fairly intensive, especially in my first year, but I found it more manageable as I was more comfortable in my second year. </em></p>
<p class="txtMainBlack"><em>“I was also slightly home sick during my first semester, but it helped that there were so many other Canadian students in my same position on the course.”</em></p>
<p class="txtMainBlack"><strong>Did you work whilst studying?</strong></p>
<p class="txtMainBlack"><em>“I worked part time in my second year in a bar, which gave me a nice taste of the Scottish culture!"</em></p>
<p class="txtMainBlack"><strong>What have you done since graduating from QMU? </strong></p>
<p class="txtMainBlack"><em>“After graduating from QMU, I returned to Canada to work as a physiotherapy assistant at a private orthopaedic clinic in Ottawa. I’m now waiting to write my National Exam in Canada, after a process called 'credentialing', which took a few months. </em></p>
<p class="txtMainBlack"><em>“I’m very happy to have my MSc Physiotherapy under my belt and wish that I had applied overseas sooner.”</em></p>
<p class="txtMainBlack"><strong>MSc Physiotherapy (Pre-Registration) </strong></p>
<p class="txtMainBlack"><a data-id="2347" href="/{localLink:2347}" title="PgDip/MSc Physiotherapy (Pre-Registration)">More information on <strong>MSc Physiotherapy (Pre-Registration)</strong> at QMU</a>.</p>
<p class="txtMainBlack"><strong>International students </strong></p>
<p class="txtMainBlack"><a data-id="1247" href="/{localLink:1247}" title="International Students">More information for international students at QMU</a>.</p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2017-03-10T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Interview with QMU international student, Andrea Fitzgerald: MSc Physiotherapy (Pre-Registration)]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Andrea Fitzgerald, 28, is from Ottawa, Ontario in Canada. She graduated with MSc Physiotherapy (Pre-Registration) from QMU in 2015.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Andrea Fitzgerald, 28, is from Ottawa, Ontario in Canada. She graduated with MSc Physiotherapy (Pre-Registration) from QMU in 2015.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Interview with QMU international student, Andrea Fitzgerald: MSc Physiotherapy (Pre-Registration)]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information contact Lynne Russell, Marketing Manager, Queen Margaret University, Edinburgh, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a>  T: 0131 474 0000, M: 07711 011239 and Jon Perkins, Press and PR Officer, E: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a> T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "693040c8-f490-41c8-9cce-d36fe4c3bc13",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Interview with QMU international student, Andrea Fitzgerald: MSc Physiotherapy (Pre-Registration)]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>