<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fbd1b8d-93df-49b9-984a-e7d9902ab2b6" Alias="Similarity checker tool" Level="7">
  <Info>
    <Parent Key="50c76e03-09c4-4dfe-86ff-f9cb0eee03cb">Canvas</Parent>
    <Path>/Home/StudyHere/LearningFacilities/ITServices/QMKnowHow/Canvas/SimilarityCheckerTool</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2021-02-08T15:03:29</CreateDate>
    <NodeName Default="Similarity checker tool" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65102975-f5a6-47bf-9418-b0e82dc7c288">BlogPost</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/05c0deddcb024dd4b69f4eadb99a3cc7]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "6478c0e3-96dd-4651-9c89-efe10ce7f796",
    "name": "Similarity checker tool",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/bc0fb9d0a4574225b98bf9e95221394c",
    "title": "Similarity checker tool",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p>Every Hub module should have a menu item called "<strong>Plagiarism &amp; Referencing</strong>" and in this section you will find a link to a 'Similarity Checker Tool' and also a link to the <a rel="noopener" href="/study-here/student-services/effective-learning-service-els/how-to-avoid-plagiarism/" target="_blank">QMU student guide to avoiding plagiarism</a>. This resource provides information and resources in relation to QMU's approach to plagiarism prevention.</p>
<p>The tool link can be used to check your draft referencing before submitting your assignment to the separate dropbox for marking. </p>
<p>Student Guides to using the similarity checker tool</p>
<p>The Guides are available as .pdf's and .docs, you can choose to open in your browser or download.</p>
<p>The Similarity Checker Tool allows you to check draft versions of your work before final submission. </p>
<p><a href="/{localLink:umb://media/2e2850bb4c7347c3b1997670bfc8b534}" title="Student Guide To Using The Similarity Checker Toolv2">Using the Similarity checker tool</a></p>
<p><a rel="noopener" href="/{localLink:umb://media/98e1e5f248ec45bd9af25b2f78070b3d}" target="_blank" title="Student Guide To Using The Similarity Checker Toolv2">Using the Similarity Checker Tool.doc </a> download and open on your computer</p>
<p><a rel="noopener" href="https://help.turnitin.com/feedback-studio/turnitin-website/instructor/the-similarity-report/interpreting-the-similarity-report.htm" target="_blank" title="Interpreting the Similarity report">Interpreting the Similarity Report </a>links to the Turnitin UK support page containing advice on how to interpret the reports</p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[2020-10-19T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Similarity checker tool]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Every Hub module should have a menu item called "<strong>Plagiarism &amp; Referencing</strong>" and in this section you will find a link to a 'Similarity Checker Tool' and also a link to the <a rel="noopener" href="/study-here/student-services/effective-learning-service-els/how-to-avoid-plagiarism/" target="_blank">QMU student guide to avoiding plagiarism</a>. This resource provides information and resources in relation to QMU's approach to plagiarism prevention.</p>
<p>The tool link can be used to check your draft referencing before submitting your assignment to the separate dropbox for marking. </p>
<p>Student Guides to using the similarity checker tool</p>
<p>The Guides are available as .pdf's and .docs, you can choose to open in your browser or download.</p>
<p>The Similarity Checker Tool allows you to check draft versions of your work before final submission. </p>
<p><a href="/{localLink:umb://media/2e2850bb4c7347c3b1997670bfc8b534}" title="Student Guide To Using The Similarity Checker Toolv2">Using the Similarity Checker Tool</a></p>
<p><a rel="noopener" href="/{localLink:umb://media/32674f0c89c14f3cbee0d0739d1fbbaf}" target="_blank" title="Student Guide To Using The Similarity Checker Toolv2 (1)">Using the Similarity Checker Tool.doc </a> download and open on your computer</p>
<p><a rel="noopener" href="https://help.turnitin.com/feedback-studio/turnitin-website/instructor/the-similarity-report/interpreting-the-similarity-report.htm" target="_blank" title="Interpreting the Similarity report">Interpreting the Similarity Report </a>links to the Turnitin UK support page containing advice on how to interpret the reports</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Similarity checker tool]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Similarity checker tool]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Similarity checker tool]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>