<?xml version="1.0" encoding="utf-8"?>
<Content Key="50360e82-a06a-4e86-a63c-a995dab988a2" Alias="2018.01.05 - Air travellers lean to the right" Level="5">
  <Info>
    <Parent Key="5498406d-bedc-400c-9545-066855cf03b7">2018</Parent>
    <Path>/Home/NewsAndEvents/News//AirTravellersLeanToTheRight</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-11T10:03:06</CreateDate>
    <NodeName Default="2018.01.05 - Air travellers lean to the right" />
    <SortOrder>61</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/a09df698745b4c39828477b543225be4]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "2687b6a8-4561-46c6-89f7-93151a1fd076",
    "name": "University research shows air travellers lean to the right",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/521d61d74a634da0b56697e65141e27d",
    "title": "University research shows air travellers lean to the right",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The study was led by Dr Stephen Darling, Psychology Lecturer at Queen Margaret University, Edinburgh and carried out at the University of Edinburgh. He explained: “It’s been known for a while that people have lateral tendencies in laboratory experiments – people preferring one side to the other – but we were keen to establish if individuals had right or left preferences which they applied to domestic tasks carried out in the real world."</p>
<p>This research project was the first fully controlled study looking at where people would choose to sit on aeroplanes. Participants were asked to choose a seat by clicking on a seating plan diagram. They did this for 32 separate flights between fictional locations.</p>
<p>Sergio Della Sala, Professor of Human Cognitive Neuroscience at the University of Edinburgh, was part of the research team. He said: “We were keen to rule out the possibility that participants may have just had a tendency to click one side of the computer screen. Participants were therefore presented with seating diagrams with the plane facing either upwards or downwards. The result clearly showed that the orientation of the plane made no difference to the preference, with most participants still making an active choice to choose seating on the right of the plane."</p>
<p>Dr Darling concluded: “The research shows that people’s preference as to which side they sit on in an aeroplane is dictated by our mind’s rightward bias in representing the real world.”</p>
<p>The research paper ‘<a href="https://www.tandfonline.com/doi/abs/10.1080/1357650X.2017.1417994" title="Fly on the right  - research paper">Fly on the right: lateral preferences when choosing aircraft seats</a>’ was published on 22 December 2017 in the journal ‘Laterality: Asymmetries of Body, Brain and Cognition.’ </p>
<p><strong>ENDS</strong></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2018-01-05T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[University research shows air travellers lean to the right]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>A new study from universities in Edinburgh has shown that travellers choose to sit on the right hand side of an aeroplane rather than the left.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[A new study from Queen Margaret University (QMU) and the University of Edinburgh has shown that travellers choose to sit on the right hand side of an aeroplane rather than the left.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Queen Margaret University research shows air passangers choose seats on the right of an aeroplane  | News and Events | Queen Margaret University ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information contact Lynne Russell, Communications Manager, Queen Margaret University, E: <a rel="noopener" href="mailto:lrussell@qmu.ac.uk" target="_blank">lrussell@qmu.ac.uk</a> T: 0131 474 0000, M: 07711 011239, or Jonathan Perkins, Press and PR Officer, E: <a rel="noopener" href="mailto:jperkins@qmu.ac.uk" target="_blank">jperkins@qmu.ac.uk</a> T: 0131 474 0000. </p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "4f7dea1e-79ff-4ac2-bbe0-56d1edb19e6d",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Research shows air travellers choose seats on right]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>