<?xml version="1.0" encoding="utf-8"?>
<Content Key="523f1146-ffdf-48b5-ad98-e99aa02a12df" Alias="Kevin Geddes - MSc Gastronomy" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/KevinGeddesMScGastronomy</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-05-21T11:10:07</CreateDate>
    <NodeName Default="Kevin Geddes - MSc Gastronomy" />
    <SortOrder>99</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/c1f8e4ed7de04e949108c3b274d14236]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "bce864fc-0fda-47a1-857e-27d3c14c8f1d",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/396b298a75594d1bb1deec41647c569c",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<div class="mceNonEditable embeditem" data-embed-url="https://youtu.be/zOeN6-xj0RQ" data-embed-height="646" data-embed-width="950" data-embed-constrain="true"><iframe width="950" height="534" src="https://www.youtube.com/embed/zOeN6-xj0RQ?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" title="MSc Gastronomy at Queen Margaret University, Edinburgh"></iframe></div>
<p> </p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Kevin had been working in senior management positions for different health charities across the UK for over 25 years since he graduated with his first degree in Politics from Strathclyde University</p>
<p><span>He was diagnosed with Type 1 diabetes in his final year at university but still managed to graduate, but he had often felt like he had more studying left in him. </span></p>
<p><span>Kevin’s career had been devoted to making improvement in policy and practice for people living with long-term conditions, and the time felt right for him to take some time to study again. </span></p>
<p><span>Kevin has always been interested in food and, through work, had become increasingly interested in how food could play a positive role in the management of health conditions, nutritionally and socially. </span></p>
<p><span>The MSc Gastronomy at QMU caught his eye when it first launched, but he couldn’t quite figure out how to combine study with work at that point. </span></p>
<p><span><strong>Why did you choose to study MSc Gastronomy at QMU?</strong></span></p>
<p><span>“Initially, I really just wanted to do the course for my own interest, primarily to see if I could study again, and if I’d enjoy it. I knew it would benefit my role at work and I knew I could use the knowledge and research to explore new opportunities within work. My workplace were great, giving me their full support, allowing me to work flexibly to attend lectures two days a week, which meant I could study and work at the same time.” </span></p>
<p><strong><span>How did you find the workload?</span></strong></p>
<p>“Most of the advice I read at the time suggested against working and studying at the same time, but for me it worked well. I’d been used to prioritising my own workload, juggling tasks and meeting deadlines for all those years at work, so studying slotted in just fine.<span> </span></p>
<p><span>“It wasn’t at all easy, the workload on the Masters course was full-on, as you’d expect, but I had some great guidance, especially around dissertation time, from my supervisors. The ability to access the library and resources remotely helped me greatly, so I could do some research at times that suited me, without travelling in to the University each day.” </span></p>
<p><strong><span>What was the highlight of the course for you?</span></strong></p>
<p><span>“My plans to merge my work world of health policy with food and gastronomy changed part way through the course, when I realised that my passion for early television cooking shows, and the work of Fanny Cradock in particular, might also make a strong dissertation. I was fortunate to be offered the opportunity to access Cradock’s personal archive to use for my research, which highlighted in a new way her contribution to home cooking in Britain. I think having that separation from a work topic helped during the three months of dissertation research and writing, in the end.”</span></p>
<p><em><span>Fanny Cradock (1909-1994), was an English restaurant critic, TV celebrity chef and writer frequently appearing on television, at cookery demonstrations and in print.</span></em></p>
<p><strong><span>What have you been doing since graduating from QMU?</span></strong></p>
<p>“After successfully completing the MSc Gastronomy, my supervisor encouraged me to consider continuing my research and developing it for other audiences. I applied to present my research at the Third International Conference on Food History &amp; Culture in France in 2017 where it was well received.<span> </span></p>
<p><span>“I also re-worked my research for submission to academic journals, with support from my supervisor. I was delighted when it was published in the International Journal of Consumer Studies earlier in 2017, titled ‘<a rel="noopener" href="https://onlinelibrary.wiley.com/doi/10.1111/ijcs.12387/full" target="_blank">Above all, garnish and presentation: An evaluation of Fanny Cradock's contribution to home cooking in Britain’, which is now available online</a>.</span></p>
<p><span>“Since graduating, I’ve moved from full-time employment to setting up my own Third Sector consultancy business, which allows me the luxury of working as well as doing more research for academic purposes and for a general biography of Fanny Craddock that I’m writing. </span></p>
<p><span>“I’ve been accepted to present at the Dublin Symposium on Gastronomy in 2018, looking at new research on Cradock’s career at the BBC, following extensive research in the BBC Written Archives. I also have an article about to be published in a food history journal, an appearance on a BBC Scotland documentary looking at our changing relationship with food over the recent decades and a few other exciting prospects for the coming year. </span></p>
<p><span>“I wouldn’t have done any of these things had it not been for the MSc Gastronomy at QMU.”</span></p>
<p><strong><span>What is your top tip for future students?</span></strong></p>
<p><span>“I’d love to go on and perhaps tackle a PhD but for now my advice for anyone considering a return to study would be to simply go for it. You never know where it will take you.”</span></p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Scotland]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/aaad752ecd51489b96ddc2953a1d8cdf]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[MSc Gastronomy]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Kevin Geddes]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Kevin Geddes, 46, from Edinburgh, graduated with an MSc Gastronomy from QMU in 2017.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Kevin Geddes, 46, from Edinburgh, graduated with an MSc Gastronomy from QMU in 2017.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Kevin Geddes | Graduate Story | Queen Margaret University ]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[Since graduating, I’ve moved from full-time employment to setting up my own Third Sector consultancy business, which allows me the luxury of working as well as doing more research for academic purposes and for a general biography of Fanny Craddock that I’m writing.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Kevin Geddes]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Graduate"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>