<?xml version="1.0" encoding="utf-8"?>
<Content Key="52e36413-c4b2-429a-9691-ded696952e1f" Alias="Abstract 7" Level="7">
  <Info>
    <Parent Key="cdb3d710-116c-4453-82de-de57f857a70a">HSR</Parent>
    <Path>/Home/ResearchAndKnowledgeExchange/ResearchCentresInstitutesAndKnowledgeExchangeCentres/InstituteForGlobalHealthAndDevelopment/HealthSystemsCluster/HSR/Abstract7</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-23T17:20:17</CreateDate>
    <NodeName Default="Abstract 7" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "88a0f37f-9fb3-40ed-8b5e-994c079e5f83",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Understanding and tackling fragility",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><a data-udi="umb://document/77be0259233a43d19adc18bd46a74916" href="/{localLink:umb://document/cdb3d710116c445382dede57f857a70a}" title="HSR">Back to HSR 2020</a></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead">Summary of the Planned Session</span></p>
<p>We present cutting-edge research on systems for health and their ability to sustain health in situations of fragility. Mixed-method case studies from West Africa and the Middle East spark discussion on the interplay of community-health systems capacities needed for successful mental health and non-communicable disease service delivery and utilization.</p>
<p><span class="lead">Session description:</span></p>
<p>Evidence suggests fragility poses a major barrier to health and socioeconomic development for over 2 billion people, with communities living in fragile contexts set to approach 50% by 2030. Fragility affects health systems and recipient health care communities in two ways. First, health service delivery may be compromised due to limited financial and human resources or exposure to prolonged conflict and violence. Second, health seeking mechanisms across diverse populations may be severely disrupted due to political marginalization, systemic inequalities or exposure to extraordinary events (natural disasters, epidemics).</p>
<p>However, current framings of fragility principally focus on ‘fragile states’ or ‘vulnerable communities’ in isolation and neglect to examine the ‘situations of fragility’ arising at the interface between health systems and recipient communities. Adopting a ‘systems for health’ lens and systematically examining fragility is critical to understanding the implications of fragility on health-care provision and identifying healthcare delivery models and promising approaches for engaging patients and wider communities and securing improved health outcomes.</p>
<p><span class="lead">Using the lens of mental health and non-communicable diseases in Sierra Leone and Lebanon, this session will:</span></p>
<ol>
<li>Introduce a novel framework for conceptualizing and appraising fragility for global health and health systems research;</li>
<li>Present case studies that reflect the multidimensional nature of fragility as it relates to health, health systems and communities and the design of health interventions.</li>
</ol>
<p>The session will include policy-maker reflections and invite active audience participation for the refinement of the above introduced fragility framework.</p>
<p><span class="lead">The session aims to:</span></p>
<ul>
<li>Reflect on the multidimensional nature of fragility as it relates to health, health systems and communities</li>
<li>Offer insights into the varied sources and manifestations of fragility arising in selected health systems contexts</li>
<li>Present forms of service design and community engagement that prove durable and effective in situations of fragility</li>
<li>Outline supportive or inhibitory approaches for tackling fragility in relation to mental health and non-communicable diseases within and between communities and health services</li>
<li>Introduce a preliminary fragility appraisal framework and refine this with help of the session’s audience.</li>
</ul>
<p><span class="lead">Session contributors:</span></p>
<p>The session brings together research conducted through the multi-partner Research Unit on Health in Situations of Fragility (RUHF). Funded by the National Institute for Health Research UK, RUHF builds on the experiences of several institutions in post-conflict health reconstruction strategy, recovery from the Ebola virus disease outbreak in West Africa and response to political instability and displacement in the Eastern Mediterranean Region. The work of the unit focuses on understanding fragility and its impacts on health systems and communities in contrasting settings and on identifying promising strategies for mitigating this and securing health outcomes.</p>
<p>Abstracts for presentation were chosen in line with HSG’s sub-theme “Engaging Social, Economic and Environmental forces”. We therefore present a cohesive body of work intended to challenge current narratives around fragility and its relations to conflict, state functions and underperforming systems, and present work which directly speaks to the challenge of navigating fragility in Sierra Leone (affected by rapid urbanization and climate related stressors) and Lebanon (affected by substantive refugee migration, displacement and political change).</p>
<p><span class="lead">Presenting contributors include:</span></p>
<p><a data-udi="umb://document/c153136a1d03499e964cfb2ffd5b88e1" href="/{localLink:umb://document/09abf26806fe441c868a59faa7e5a27e}" title="Professor Alastair Ager">Professor Alastair Ager</a>, is the Director of the Institute of Global Health and Development. He is currently also seconded to the UK Department of International Development, where he serves as Deputy Chief Scientific Adviser.</p>
<p>Dr. Haja Wurie, Dean of Nursing, College of Medicine and Allied Health Sciences, University of Sierra Leone. Dr Wurie is currently Co-principal investigator for the RUHF project in Sierra Leone.</p>
<p>Dr. Shadi Saleh, Director of the Global Health Institute, American University of Beirut. Dr. Saleh is a Co-principal investigator for the RUHF project in Lebanon.</p>
<p>Presentations will be followed by responses from two discussants actively involved in policy-making and health service delivery in the two countries of focus:</p>
<ul>
<li>Mr. Reynold Senesi, Coordinator, Directorate of NCDs and Mental Health, Ministry of Health and Sanitation Sierra Leone;</li>
<li>Dr. Rabih El Chammay, Coordinator of the National Mental Health Programme, Lebanon.</li>
</ul>
<p>Discussions will be followed by a participatory exercise (guided by presenters and discussants) in which the audience will be invited to contribute towards the refinement and validation of the above introduced fragility framework.<br /> <br /><span class="lead">Format:</span></p>
<p>(10’ Ager) Introduction and presentation of a novel framework for conceptualisation of fragility.</p>
<p>(10’ Wurie) Presentation of case study illustrating how multi-dimensional aspects of fragility (including urbanization) affect non-communicable disease burden and health system responses in Sierra Leone.</p>
<p>(10’ Saleh) Presentation on further core facets of fragility as evidenced in Lebanon, including by refugee displacement and political instability among others on mental health related burden and systems’ responses.</p>
<p>(15’ Senesi &amp; El Chammai) Responses and reflections from session discussants.</p>
<p>(45’ All) Participatory exercise to engage audience in the validation and refinement of the above presented fragility framework.</p>
<p><span class="lead">Abstracts:</span></p>
<p>Prof. Alastair Ager: Understanding fragility – implications for global health research and practice</p>
<p>Drawing on the findings of a comprehensive literature scoping review conducted in 2019, this presentation will challenge current conceptualizations of fragility and their utility for informing global health research and practice. We illustrate how the theoretical positions surrounding fragility identified in existing literature, were further challenged and refined by case-study research in wider contexts of fragility (including El-Salvador and Nepal). A novel fragility appraisal framework will be offered for discussion and validation by the sessions’ audience via a participatory exercise.</p>
<p>Dr Haja Wurie: Opportunities and challenges for delivering NCD management and services in Sierra Leone</p>
<p>We present the case of Sierra Leone, using a combination of participatory group model building exercises, key informant interviews and scoping review, to understand health system challenges and opportunities for NCD prevention and control in fragile settings. Multiple challenges were captured, including limited financial commitment from stakeholders to support effective implementation of policies and strategic plans and high recourse to private and informal care seeking. Leverage points for strengthening the system were identified and include improved clinical guides/tools, community engagement and regulatory and fiscal measures.</p>
<p>Dr Shadi Saleh: Fragility and its impacts on mental health in Lebanon</p>
<p>Dr. Saleh presents a comprehensive case study on the mental health burden and associated health system and community responses. Qualitative and systems dynamics research methods were used to identify pathways of care delivery and community utilization of mental health services in areas diversely affected by migration and refugee displacement. Findings are triangulated with quantitative assessments capturing the current incident burden of depression and the health systems’ capacity to offer mental health services, including via a novel vignette-based study appraising health workers’ responses to distress, depression and suicidal ideation.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Understanding and tackling fragility]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>January 13th, 9.00-10.15 GMT</strong><br /><strong>Dr Karin Diaconu, <a data-udi="umb://document/c153136a1d03499e964cfb2ffd5b88e1" href="/{localLink:umb://document/09abf26806fe441c868a59faa7e5a27e}" title="Professor Alastair Ager">Prof Alastair Ager</a></strong></p>
<p>Related project: <a data-udi="umb://document/6eb2ee1c8a0b495d925a1c3f7638b27b" href="/{localLink:umb://document/7fbd82bbfe534219ae9d344d944bc8b8}" title="NIHR Research Unit on Health in Situations of Fragility (RUHF)">Research Unit on Health in Situations of Fragility</a></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Understanding and tackling fragility]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Understanding and tackling fragility | HSR 2020 | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "6d8d8f3e-3519-4e73-8b24-1fd0edbc57e9",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "links",
                    "value": {
                      "name": "Image Links",
                      "link": "umb://document/9ff8f7a8199b49b088feabd8ba289ea6"
                    },
                    "id": "32559d45-5580-ca3f-cb00-e570c79eb27d"
                  },
                  "editor": {
                    "alias": "Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Abstract 7]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>