<?xml version="1.0" encoding="utf-8"?>
<Content Key="56c1a51c-8509-4ecf-b24c-bd7fd334fb17" Alias="Mitasha Sharma ITM - BA International Hospitality &amp; Tourism Management" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/MitashaSharmaITMBAInternationalHospitalityTourismManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-05-21T12:21:22</CreateDate>
    <NodeName Default="Mitasha Sharma ITM - BA International Hospitality &amp; Tourism Management" />
    <SortOrder>252</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/44d80d7c73cd4c25aec84c22e51ad269]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "f16ee902-385c-4529-94ef-4700d475714d",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/dac3766a76f0495c93372c6c50bc5e82",
    "title": "",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Tell us who you are and which course you're studying? </p>
<p>My name is Mitasha Sharma and I recently completed my third year in the BA International Hospitality &amp; Tourism Management course at ITM. </p>
<p>Which campus were you based on? </p>
<p>I studied at the Oshiwara campus in the western suburbs of Mumbai. </p>
<p>Tell us why you chose that particular course at ITM? </p>
<p>Initially, I was at a loss when it came to what I really wanted to do. I saw advertisements for hotel management courses, and talking to people has always been one of my passions, so I felt that this would be the ideal industry for me. Another reason why I chose ITM was because it was affiliated with Queen Margaret University, and I did not know of any other campus out here in Mumbai which had an international degree option. A dual degree always gives you an advantage when you go for work placements and future employment, so that was the reason why I thought that ITM would be the best place to study.</p>
<p>What have you found most useful so far and which degree modules have you enjoyed the most? </p>
<p>I think my favourite module would be Hospitality Operations Management, mainly because I scored the highest in that one! Another reason is because it helped me to link the theories I’d learned with the management skills we were required to demonstrate during interviews - ultimately, it helped me get selected for an internship with a prestigious company. </p>
<p>How did your performance on that module specifically help you in terms of the interview? </p>
<p>There was one theory that I came across, the Service Leader Theory, and when I went for my interviews, we were told to prepare our own PowerPoint presentations in order to showcase what we had learnt to the interviewers. While giving the presentation, I mentioned these theories and the interviewers were surprised to know that an undergraduate was learning about things that are normally studied by somebody who is pursuing a masters’ degree, so that was a major advantage.</p>
<p>Where did this internship take place? </p>
<p>I did my internship with J.W. Marriott, in the hotel that's near the International Airport (Mumbai). It was a good learning experience as out of all the departments, I was fortunate enough to get placed with Human Resources - that was the time I realised that I might want to get into HR, but when there were placements becoming available here on campus, I was lucky enough to get selected as a Management Trainee at Conrad, the luxury brand of Hilton Hotels. It's an 18-month management training programme. </p>
<p>I've decided that if I do want to work in human resources later on then I will go back and do my MBA in this field. </p>
<p>Is that in Mumbai?</p>
<p>It's about a three to four hour drive away, in a place called Pune. </p>
<p>And Conrad is the luxury brand of Hilton? </p>
<p>Yes. During the 18 months, I'll be training across all the departments - not only the core departments but the auxiliary ones as well. Upon completion of the programme, I will be promoted to Assistant Manager of the department of my choosing. My current preference is Front of Office, so the designation that I'd be given would be a DM - that's almost like an Assistant Manager in the front office.</p>
<p> So, you'll be doing a bit of time in a number of departments. At the moment you think that the front office may be your choice, but you could change your mind depending on how you get on somewhere else? </p>
<p>Well my colleagues believe that I'm really good at talking [with the customers], and the front office is where you get to do that the most. People always say that your first impressions are your last impressions, so that's likely to be what you’ll end up doing. </p>
<p>Why do you think that you'll want to go on to Human Resources management? Do you enjoy that too? </p>
<p>I really enjoy the way that they work and the way that they look after each and every employee. So that is my secondary option. Unfortunately, when placements happen out here, they select students only for the core departments. However, when we have hotel brands coming to visit us on campus, the fact that some students have decided to choose a module that looks specifically at Human Resources could be an incentive for them to employ us for that department. </p>
<p>You said you might think about further study - is that because you enjoyed the studying aspect of the course? </p>
<p>That's one of the reasons. It's always good to study more as you never know when it will help you in the future. </p>
<p>What advice would you give to who might be thinking of doing this programme? What would you recommend and what would you say to anyone who might apply for a course at ITM? </p>
<p>For Indian students, it will definitely help as not everyone is able to get a job after graduation. Many of them plan to go on to further study or take over the family business, so this programme will definitely be helpful to them.</p>
<p>Would you like to work internationally? </p>
<p>Definitely. I've been told at Hilton is that there's a high chance that I’ll be spending six months of my placement abroad. It will be fun learning about new people and new cultures! </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Mitasha Sharma  ITM - BA International Hospitality & Tourism Management ]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[[]]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Mitasha Sharma tells their story of studying at ITM partnered with Queen Margaret University Edinburgh.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Mitasha Sharma]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[Another reason why I chose ITM was because it was affiliated with Queen Margaret University, and I did not know of any other campus out here in Mumbai which had an international degree option. A dual degree always gives you an advantage when you go for work placements and future employment...]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Mitasha Sharma  ITM - BA International Hospitality & Tourism Management ]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Case study"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>