<?xml version="1.0" encoding="utf-8"?>
<Content Key="56d169b0-b639-4888-97c7-5ee96e704742" Alias="Privacy Notice Summary" Level="4">
  <Info>
    <Parent Key="ce8c5f4b-0676-4752-9811-fd507b9beadb">Test</Parent>
    <Path>/Home/KEEPFORRECORDPURPOSESCoronavirus/Test/PrivacyNoticeSummary</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-11-05T15:09:52</CreateDate>
    <NodeName Default="Privacy Notice Summary" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/4346ccc8e2be4e82ba5d10a010f0a9ef]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[<p>Privacy Notice Summary</p>]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "4e20d922-f9cd-4dbf-a340-f35dbd6ae798",
    "name": "Privacy Notice Summary",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/1dfa730a810a41c5a80408cf1a8ae78c",
    "title": "Privacy Notice Summary",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p class="p2"><span class="lead">Why do we collect your data?</span></p>
<p class="p3">Your personal data is helpful in our efforts to defeat the virus.</p>
<p class="p3">We ask for your information for three main reasons:</p>
<ol>
<li> ‘TEST’: to identify people with COVID-19 including those who have previously had the virus</li>
<li>‘TRACE’: to identify people who may have been exposed to the virus through close contact with others who have tested positive, and</li>
<li>‘CONTAIN’: to inform where we collect research data to help us stop the spread of COVID-19</li>
</ol>
<p> </p>
<p class="p2"><span class="lead">What data do we collect?</span></p>
<p class="p3">The Medicines and Healthcare products Regulatory Agency (MHRA) require that the organisation keeps a test kit log for all tests that are provided for use at home. This is so you can be contacted in the event of a batch recall, investigations, or issuing of a safety notice. The information collected is:</p>
<ul>
<li class="p3">First name, last name, telephone number</li>
<li class="p3">Details of lot/batch number for the test kits you receive</li>
</ul>
<p class="p3">For this Test Kit Log the organisation is acting as a ‘processor’ of DHSC and this information will only be provided to DHSC upon request. For more information about what DHSC do with your data please see their <a href="https://www.gov.uk/government/publications/coronavirus-covid-19-testing-privacy-information" title="Covid Testing Privacy Notice">COVID-19 Privacy Notice.</a></p>
<p class="p3"> </p>
<p class="p3"><span class="lead">How we store your personal information</span></p>
<p class="p3">The organisation will keep the test kit log. This information will be stored securely and with appropriate access controls. It will only be accessible to personnel involved in the management of tests. Data from the Test Kit Log may be submitted to DHSC by the organisation on request by DHSC at any time (in the format as notified to the organisation by DHSC); delete all data contained in the Test Kit Log from the organisation system as soon as instructed to do so by DHSC. The organisation will retain its test kit log for no longer than 12 months after the test kit is provided. DHSC will retain information for up to eight (8) years.</p>
<p class="p3"> </p>
<p class="p3"><span class="lead">Who else can access your personal data?</span></p>
<p class="p2">Your personal data is confidential. We take extensive security measures to protect it.</p>
<p class="p2">Data protection laws mean we can’t share your data with anyone else unless it is necessary to do so.</p>
<p class="p2">We may need to share some of your personal data with partnering organisations, for example those who help us deliver testing kits to home addresses.</p>
<p class="p2">We will not share the data you give us today with your GP or contacts.</p>
<p class="p3"> </p>
<p class="p3"><span class="lead">How long do we keep your personal data?</span></p>
<p class="p2">How long we keep data depends on what it is used for. Typically, we keep data in the programme for up to 8 years. This is reviewed periodically and could change.</p>
<p class="p2"> </p>
<p class="p1"><span class="lead">What are your rights?</span></p>
<p class="p2">Your personal data is yours.</p>
<p class="p2">You have the right to get copies of the information we hold about you, update it if you think it is inaccurate, and limit or object to how we use your data. You also have the right to have personal data removed in certain circumstances.</p>
<p class="p2">It is also your right to complain about our use of your data to the Information Commissioners Office who are our regulator but please contact us first to try and resolve any problems.</p>
<p class="p2">If you want to make a request about your data email <a href="mailto:data_protection@dhsc.gov.uk" title="Email Address for requesting information about your data">data_protection@dhsc.gov.uk</a>.</p>
<p class="p2">Your personal data helps the NHS Test and Trace programme combat COVID19.</p>
<p class="p2"> </p>
<p class="p1"><span class="lead">Access the full privacy notice using the link below:</span></p>
<p class="p2">* <a href="https://www.gov.uk/government/publications/nhs-test-and-trace-privacy-information/test-and-trace-overarching-privacy-notice" title="Link to full privacy notice">https://www.gov.uk/government/publications/nhs-test-and-trace-privacy-information/test-and-trace-overarching-privacy-notice </a></p>
<p class="p2"> </p>
<p class="p1">Further background on MHRA requirements</p>
<p class="p2">To satisfy Medicines and Healthcare products Regulatory Agency (MHRA) requirements we will require the test site to collect your first name, surname and contact telephone number before you collect a self-test kit. This is so we can contact you in order to fulfil our regulatory requirement to MHRA in the event of a batch recall, or adverse incidents investigation, or issuing of a field safety notice. We will only use this data to contact you.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Privacy Notice Summary]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">Privacy Notice Summary</span></p>
<p><span class="lead">This page features the text of the NHS Privacy Notice Summary v3.1.</span></p>
<p>When you use the <a href="/{localLink:umb://document/76ac1807ad8a46a6967561f0dd7e94c6}">LFD Collect service</a>, it is important that you report each test result online to NHS Test and Trace, whether positive, negative or void. Reporting takes only a minute or two, and Instructions for doing this come with the testing kits. Reporting results helps the NHS monitor the spread of the virus, combat the virus and save lives.  Please see the <a rel="noopener" href="https://www.gov.uk/government/publications/coronavirus-covid-19-testing-privacy-information" target="_blank">NHS Track and Trace Privacy Notice Summary</a> to find out how they use your personal data.</p>
<p>It is important that you read this document before collecting your test kit</p>
<p>The NHS Test &amp; Trace Programme in England is run by the Department of Health and Social Care. This makes us the Data Controller.</p>
<p>NHS Test &amp; Trace uses your personal data in several ways to help keep the public safe.</p>
<p>This privacy information summary briefly covers how we process personal data and is in support of the NHS Test &amp; Trace Programme privacy notice.</p>
<p>You can access the full privacy notice for more in depth details on how long we store your data by category and who we share your data with on the link below.*</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[A copy of the NHS' Privacy Notice Summary on the Queen Margaret University website.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Privacy Notice Summary | Coronavirus | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "f892ecf8-0b15-46d4-87d0-45deab76416e",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/b673e3c08a21451691ec92f364641f89,umb://document/2903c860f28b4ce5a34a763573cd0783,umb://document/655742a31f25458f96f2d67439fb297a,umb://document/0b0d45a3f3aa4e6496a61b5024dd54b1]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Privacy Notice Summary]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>