<?xml version="1.0" encoding="utf-8"?>
<Content Key="5989c909-3eab-417d-adfd-889ca95a5c19" Alias="Location and Getting Here" Level="5">
  <Info>
    <Parent Key="e64d2995-f1a5-42e0-8f10-334b03964c80">About</Parent>
    <Path>/Settings/Navigation/MainNavigation/About/LocationAndGettingHere</Path>
    <Trashed>false</Trashed>
    <ContentType>navigationItem</ContentType>
    <CreateDate>2021-04-16T13:34:06</CreateDate>
    <NodeName Default="Location and Getting Here" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <link>
      <Value><![CDATA[[
  {
    "name": "Location and Getting Here",
    "udi": "umb://document/a713799de0204325bb063efbd482f213"
  }
]]]></Value>
    </link>
  </Properties>
</Content>