<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b46d592-033d-4531-ad93-011e419cfa0f" Alias="Mammography Support for Work Place Mentors" Level="5">
  <Info>
    <Parent Key="b7562f68-f66a-42e0-a131-84368abdc8b6">Radiography</Parent>
    <Path>/Home/SchoolsAndDivisions/DNBSPPR/Radiography/MammographySupportForWorkPlaceMentors</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-08T13:52:49</CreateDate>
    <NodeName Default="Mammography Support for Work Place Mentors" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/7952d50d69604f119e891aefbdd3be74]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "9e2e3d2f-8527-4903-8b9f-95b6336530aa",
    "name": "Mammography Support for Work Place Mentors",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/828ad91c906e4e328bfbaaaea2030229",
    "title": "Mammography Support for Work Place Mentors",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead-big">Key contacts</span></p>
<p><strong>Scottish Academy of Breast Imaging (SABI):</strong></p>
<ul>
<li><a href="mailto:%20simon.holmes@ggc.scot.nhs.uk">Contact Simon Holmes</a> (National Mammography Training Lead)</li>
<li><a href="mailto:%20maureen.mcauley@ggc.scot.nhs.uk">Contact Maureen McAuley</a> (SABI Programme Co-ordinator)</li>
</ul>
<p><strong>QMU:</strong></p>
<ul>
<li><a href="mailto:%20etaylor2@qmu.ac.uk">Elisabeth Taylor</a> (QMU Collaborative Academic Lead)</li>
<li><a href="mailto:%20jwilkinson@qmu.ac.uk">Contact Jess Wilkinson</a> (Subject Librarian)</li>
</ul>
<p><span class="lead-big">Video Guides</span></p>
<p>Please collapse the concertina tabs below to watch key films.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[[
  {
    "key": "d6f0c12b-b6f4-4305-875d-863a062d8dda",
    "name": "Course Descriptors",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Course Descriptors",
    "content": "<p><span class=\"lead\">Postgraduate Certificate in Mammography</span></p>\n<div class=\"mceNonEditable embeditem\" data-embed-url=\"https://youtu.be/x6vFEQA4GLo\" data-embed-height=\"430\" data-embed-width=\"895\" data-embed-constrain=\"true\"><iframe width=\"764\" height=\"430\" src=\"https://www.youtube.com/embed/x6vFEQA4GLo?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen=\"\" title=\"Course Description PgCert 2\"></iframe></div>"
  },
  {
    "key": "fc7a6874-19d9-4b97-9b18-1df33cfc7a59",
    "name": "Roles and Responsibilities of Being a Mentor",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Roles and Responsibilities of Being a Mentor",
    "content": "<div class=\"mceNonEditable embeditem\" data-embed-url=\"https://youtu.be/AgJLl2npJjo\" data-embed-height=\"430\" data-embed-width=\"895\" data-embed-constrain=\"true\"><iframe width=\"573\" height=\"430\" src=\"https://www.youtube.com/embed/AgJLl2npJjo?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen=\"\" title=\"Roles and Responsibilities of being a Mentor at QMU for the Mammography Programmes\"></iframe></div>\n<p> </p>"
  },
  {
    "key": "e8784bf6-8b3c-4a02-89ab-092d1685c7b4",
    "name": "Communication and Giving Feedback",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Communication and Giving Feedback",
    "content": "<div class=\"mceNonEditable embeditem\" data-embed-url=\"https://youtu.be/NHqbScRy8hc\" data-embed-height=\"430\" data-embed-width=\"895\" data-embed-constrain=\"true\"><iframe width=\"573\" height=\"430\" src=\"https://www.youtube.com/embed/NHqbScRy8hc?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen=\"\" title=\"Communication and Giving Feedback for QMU Mammography Programmes\"></iframe></div>\n<p> </p>"
  },
  {
    "key": "5ea67832-d15c-4461-9a13-897820db4be7",
    "name": "Supporting the Failing Student",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Supporting the Failing Student",
    "content": "<div class=\"mceNonEditable embeditem\" data-embed-url=\"https://youtu.be/wv4bBSGruxc\" data-embed-height=\"430\" data-embed-width=\"895\" data-embed-constrain=\"true\"><iframe width=\"573\" height=\"430\" src=\"https://www.youtube.com/embed/wv4bBSGruxc?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen=\"\" title=\"Supporting the Failing Student on the QMU Mammography Programmes\"></iframe></div>\n<p> </p>"
  },
  {
    "key": "e56685f0-6760-4e67-a8b3-256f9fc9d32d",
    "name": "Learning and Teaching Styles",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Learning and Teaching Styles",
    "content": "<div class=\"mceNonEditable embeditem\" data-embed-url=\"https://youtu.be/shT8KwcQYF4\" data-embed-height=\"430\" data-embed-width=\"895\" data-embed-constrain=\"true\"><iframe width=\"573\" height=\"430\" src=\"https://www.youtube.com/embed/shT8KwcQYF4?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen=\"\" title=\"Learning and Teaching Styles\"></iframe></div>"
  },
  {
    "key": "36c328da-9e63-4336-bc5f-9e7455edcfd3",
    "name": "Critical Thinking",
    "ncContentTypeAlias": "centralBlocks",
    "title": "Critical Thinking",
    "content": "<div class=\"mceNonEditable embeditem\" data-embed-url=\"https://youtu.be/QvacNYVkzIY\" data-embed-height=\"430\" data-embed-width=\"895\" data-embed-constrain=\"true\"><iframe width=\"764\" height=\"430\" src=\"https://www.youtube.com/embed/QvacNYVkzIY?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen=\"\" title=\"Critical Thinking as a Skill\"></iframe></div>\n<p> </p>"
  }
]]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[[
  "Concertina"
]]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Mammography Courses - Support for Work Place Mentors]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>Thank you for agreeing to be a mentor on one of the Mammography courses delivered by the Scottish Mammography Education Centre in collaboration with Queen Margaret University. </strong></p>
<p>Here you will find a number of resources to help guide you through being a mentor and supporting your learner through their course of study. In addition to the general information on skills to help being a mentor, you can select a video giving a short description of the relevant course for your mentee.</p>
<p>For full details of the course, look at the relevant mentors handbook listed on this page.</p>
<p> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Here you will find a number of resources to help guide you through being a mentor and supporting your learner through their course of study.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Mammography Courses - Support for Work Place Mentors | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "bcc446fb-eb5a-436c-b18f-561c9cd6e30b",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Mammography Courses - Support for Work Place Mentors]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>