<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e0664d9-8272-44dd-953e-8a94ff4160e5" Alias="Information for current healthcare students" Level="4">
  <Info>
    <Parent Key="23ed7ab2-bf2b-4808-b948-dca16bea8636">Partnerships</Parent>
    <Path>/Home/AboutTheUniversity/Partnerships/InformationForCurrentHealthcareStudents</Path>
    <Trashed>false</Trashed>
    <ContentType>generalLandingPage</ContentType>
    <CreateDate>2023-08-31T08:50:12</CreateDate>
    <NodeName Default="Information for current healthcare students" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2d105c-dfa8-42d8-8bd5-cf850a36952d">GeneralLandingPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/c77e1c17ba87430d82040aa3a5bbb445]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "1d43a500-c26a-4dd5-a735-3967748f2220",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/c4508f4e4beb4858ae37643d2b666633",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><strong>Information about professional registration</strong></p>
<p class="txtMainBlack">Please note that programmes delivered overseas do not lead automatically to professional registration in the UK.</p>
<p class="txtMainBlack">The BSc (Hons) Nursing degree delivered by <strong>BUE</strong> is designed to meet the requirements of the Supreme Council of Nursing in Egypt. While this programme is designed to prepare nurses to work in Egypt we recognise that some students may wish to work in other countries. All countries have their own unique professional regulatory requirements and no nursing programme worldwide is designed, or able to meet all these requirements. This does not mean that nurses who complete the BSc (Hons) Nursing cannot work in other countries, but it does mean that depending on the regulations in each country, you may be required to complete some additional practice placement hours or sit some exams.</p>
<p class="txtMainBlack">Queen Margaret University has validated the following allied health professional (AHP) programmes in Greece:</p>
<ul>
<li>BSc (Hons) Physiotherapy</li>
<li>BSc (Hons) Dietetics</li>
<li>BSc (Hons) Occupational Therapy</li>
<li>BSc (Hons) Speech and Language Therapy (formerly known as Logopaedics)</li>
<li>BSc (Hons) Podiatry</li>
</ul>
<p class="txtMainBlack">These programmes are delivered by the <strong>Metropolitan College</strong> at their campuses across Greece. If a graduate from these programmes wishes to work as a registered AHP in the United Kingdom, the graduate may apply for HCPC registration through the international route.  Applications are considered on an individual basis and further details are available from the <a href="https://www.hcpc-uk.org" title="Health &amp; Care Professions Council">Health &amp; Care Professions Council.</a></p>
<p class="txtMainBlack">While Queen Margaret University and Metropolitan College cannot guarantee that any individual graduate will be accepted for registration by the Health and Care Professions Council, there have been numerous examples of graduates from the programmes who have achieved registration.</p>
<p>Graduates of Metropolitan College who wish to work as allied health professionals in Greece need to follow the Greek legal framework the EC Directive 2005/36/E.</p>
<p>The following programmes have been validated in line with guidance from the relevant Greek professional body:</p>
<ul>
<li>BSc (Hons) Nursing</li>
<li>BSc (Hons) Midwifery</li>
</ul>
<p>These degrees are not approved by the Nursing and Midwifery Council. Following the UK's exit from the European Union, the legislation regarding recognition of nursing and midwifery qualifications in Greece has become more complex. The partners are liaising actively with the Greek and UK governments in order to resolve the difficulties that have emerged. Please contact Metropolitan College for more up-to-date information.</p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Here you will find information about resources to support you in your studies:</p>
<p><a href="/{localLink:umb://media/e77385800e9a448f9dad9e02547760e9}" title="ACCESSING QMU SYSTEMS 2023">Accessing QMU resources - a beginner's guide</a></p>
<p><a href="/{localLink:umb://document/2dcd33d7240d4ed789ae987c43c85822}" title="General Assessment Regulations">General assessment regulations</a> (note that specially agreed joint regulations apply to the BSc (Hons) Nursing degree at BUE)</p>
<p><a href="/{localLink:umb://document/76e1fcaba073450ab7d398fbc93e064a}" title="Academic Appeals Regulations">Appeals procedure</a></p>
<p><a href="https://qmu.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=5fa94621-c93d-4a1c-a917-b06700909e17" title="Library induction video" data-anchor="?id=5fa94621-c93d-4a1c-a917-b06700909e17">Library induction video</a> (there are also additional videos on <a href="https://www.youtube.com/user/QMULRC" title="Library video guides">Youtube</a>)</p>
<p><a href="https://libguides.qmu.ac.uk/" title="Subject guides">Library guides for individual subjects</a></p>
<p>Please watch this video to hear more about how QMU works with collaborative partners to deliver health sciences programmes.</p>
<div class="mceNonEditable embeditem" data-embed-url="https://youtu.be/7fiyj4IGeLw" data-embed-height="703" data-embed-width="950" data-embed-constrain="false"><iframe width="950" height="534" src="https://www.youtube.com/embed/7fiyj4IGeLw?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" title="QMU welcomes new collaborative students in Health Sciences"></iframe></div>
<p> </p>]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[umb://document/ff59ed8d2dc94703aa01567def353c9e]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Information for current healthcare students]]></Value>
    </displayTitle>
    <focusPanel>
      <Value><![CDATA[[
  {
    "key": "8dac1318-cdbf-45e9-9959-a63db98110b4",
    "name": "Accessing the QMU e-library",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Accessing the QMU e-library",
    "content": "",
    "image": "umb://media/01da6ac6ed514e68badbceb0885e8d64",
    "link": "[{\"name\":\"Library - overseas students - healthcare\",\"url\":\"http://libguides.qmu.ac.uk/collaborations/health\"}]"
  },
  {
    "key": "0d69b79e-eb57-4eff-ba2d-a64102cc44b0",
    "name": "Effective Learning Service",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Effective Learning Service",
    "content": "",
    "image": "umb://media/e68a5519a8694a4ba9719c6a6d93e7f1",
    "link": "[{\"name\":\"Effective Learning Service\",\"url\":\"https://www.qmu.ac.uk/study-here/student-services/effective-learning-service-els/\"}]"
  },
  {
    "key": "fe127d95-d16b-4172-92f9-2318c9d23af6",
    "name": "QMU Student Portal",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "QMU Student Portal",
    "content": "",
    "image": "umb://media/c22d0c6ccf2b4330b89bfd754047f43d",
    "link": "[{\"name\":\"Student Portal\",\"url\":\"https://u.qmu.ac.uk/live/sits.urd/run/siw_lgn\"}]"
  },
  {
    "key": "c4db64d8-c8c1-4cc7-830f-34157adbba53",
    "name": "Referencing",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Referencing",
    "content": "",
    "image": "umb://media/01da6ac6ed514e68badbceb0885e8d64",
    "link": "[{\"name\":\"Referencing guide\",\"url\":\"https://libguides.qmu.ac.uk/referencing\"}]"
  }
]]]></Value>
    </focusPanel>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>This page is for students taking QMU healthcare degrees through a collaborative partner arrangement. Welcome to the QMU community!</p>
<p>The programmes offered through collaborative partnerships are delivered by the partner institution, with quality assurance from QMU. This means that local faculty provide the teaching and student support but QMU ensures the standards of teaching, learning and assessment are in line with the equivalent programme at QMU and meet the expectations of UK Higher Education.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[This page is for students taking QMU healthcare degrees through Metropolitan College, Greece. Welcome to the QMU community!]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Metropolitan College | Info for Healthcare Students | Partnerships | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "16785b64-900b-4039-96e3-a82109ece9f4",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "usefulLinks",
                    "value": {
                      "name": "Useful Links",
                      "title": "",
                      "usefuls": [
                        {
                          "icon": "icon-link",
                          "name": "QMU Advancing Practice Academy",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": null,
                          "url": "https://www.qmu.ac.uk/schools-and-divisions/advancing-practice-academy/"
                        },
                        {
                          "icon": "icon-link",
                          "name": "Degree Recognition (Greece)",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": null,
                          "url": "http://www.doatap.gr/gr/index.php"
                        },
                        {
                          "icon": "icon-link",
                          "name": "Nursing and Midwifery Council (UK)",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": null,
                          "url": "https://www.nmc.org.uk/"
                        },
                        {
                          "icon": "icon-link",
                          "name": "Health & Care Professions Council",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": null,
                          "url": "https://www.hcpc-uk.org"
                        },
                        {
                          "icon": "icon-link",
                          "name": "Nursing Times",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": null,
                          "url": "https://www.nursingtimes.net"
                        }
                      ],
                      "useDarkTheme": "1"
                    },
                    "id": "069f966f-1b69-7bf9-fe85-d24b64e44f44"
                  },
                  "editor": {
                    "alias": "Useful Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/66bed97569a0485ba7eb1ff03097a3d2,umb://document/23ed7ab2bf2b4808b948dca16bea8636,umb://document/4002dd5945f84f4b95c5e6711da2bb9a,umb://document/43e533ca295946289d12487ddc927cd3]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[Other useful information]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[students-health]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>