<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f38c181-098c-406d-a557-2c0ad39bf300" Alias="Handbook" Level="4">
  <Info>
    <Parent Key="1eaae8dd-9255-4f28-aa92-104fdb786081">Paul</Parent>
    <Path>/Home/DocumentMigrationAugust2022/Paul/Handbook</Path>
    <Trashed>false</Trashed>
    <ContentType>folders</ContentType>
    <CreateDate>2022-10-13T08:47:15</CreateDate>
    <NodeName Default="Handbook" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>