<?xml version="1.0" encoding="utf-8"?>
<Content Key="64444396-9bb9-415d-b612-1ac5b29069e0" Alias="Essential Ongoing Quality Assurance" Level="5">
  <Info>
    <Parent Key="2dd3b8cb-642f-4fd7-b045-b3357990ddc1">QMU Collaborations Manual</Parent>
    <Path>/Home/AboutTheUniversity/Partnerships/QMUCollaborationsManual/EssentialOngoingQualityAssurance</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-04T10:45:38</CreateDate>
    <NodeName Default="Essential Ongoing Quality Assurance" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "379b6a0c-ecab-4004-8508-a416eeb35035",
    "name": "Essential Ongoing Quality Assurance",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/0f2ab3f0202e4da8a96f1fcfb2222727",
    "title": "Essential Ongoing Quality Assurance",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><a data-udi="umb://document/74176a16e6ed46a3b78289b37ced544e" href="/{localLink:umb://document/b8cf1be446e14222ac5418191393628f}" title="Risk Assessment and Monitoring">Next</a></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>Student-Staff Consultative Committee </strong></p>
<p>Student-staff consultative committees should be held once per semester for all programmes leading to an award of the University. These committees should consist of student representatives and some members of the programme team. It is recommended that there be more students than staff to allow students to lead the agenda. Students should be encouraged to bring forward any recommendations for future programme development or issues of concern to them and their colleagues. Minutes or notes of the meeting are reported to the Programme Committee and Joint Board of Studies.<a href="/{localLink:umb://media/84bd433c020e42ddb17ec332c23aff26}" title="Sscc Minutes Template"> (See SSCC minutes exemplar.)</a></p>
<p><strong>Module evaluation and student surveys </strong></p>
<p>Module evaluations are normally conducted for each module every time it runs, giving students an opportunity to indicate their opinion anonymously. Results of module evaluations are reported to the Programme Committee and Joint Board of Studies, often through the annual monitoring process. QMU’s standard <a href="/{localLink:umb://media/fae28b57f5a64aa88aab16abdcff173f}" title="Module Evaluation Form">module evaluation form</a> can be used. The form can be customised to include specific questions about the modules delivered by the partner institution.</p>
<p>Programme teams may decide from time to time to issue surveys to students about their experience of the programme as a whole in order to gain broader feedback.</p>
<p><strong>External Examiner reports </strong></p>
<p>External examiner reports are considered by the Programme Committee and Joint Board of Studies. It is important that all members of the teaching team see the examiner's comments and agree how the team should respond. It is also important that reports are shared with students (normally through student representatives or by publishing reports on the Hub). This provides reassurance to students about how the academic standards of the award compare with similar awards across the UK.</p>
<p><strong>Annual Programme Monitoring </strong></p>
<p>The purpose of annual programme monitoring is to allow each School to review the ongoing performance of its programmes. Each programme, including Short Programmes, must provide an annual report and action plan. A template for the report will be provided in autumn by GQE and a deadline for submission of reports set.</p>
<p>There are two parts to the process:</p>
<ul>
<li>Part 1. At the end of the academic year, programme teams are asked to reflect on the evidence they have available to them at that time and identify the key features to note about what has gone well and what could be improved. The report should include a brief summary of the important points arising from the evidence; commentary on actions agreed in the previous year’s report; and actions for the coming year. In particular, teams are asked to identify:
<ul>
<li>Three things to celebrate.</li>
<li>Three things to improve.</li>
<li>Three things to draw to the attention of the University and the partner organisation’s management.</li>
</ul>
</li>
<li>Part 2. Once full evidence is available about the complete academic year, programme teams are asked to update the report with any additional information that is relevant. For example, the external examiner report may have come in, or there may be fuller information about student performance once the resit boards are complete.</li>
</ul>
<p>The reason for completing Part 1 in July is to allow any proposed changes to be completed in time for the next academic year. However, it is recognised that collaborative programmes may have different academic calendars. Staff of Governance and Quality Enhancement will negotiate suitable deadlines for Part 1 with individual programme leaders and CALs.</p>
<p>Part 2 reports must be provided by the end of October. This allows all reports to be compiled and considered at School level in time for the relevant committees. The University will provide statistical information on student performance in October to assist with completing Part 2.</p>
<p><a rel="noopener" href="/{localLink:umb://media/ae5a9d520a814999801152b363f97c95}" target="_blank" title="Exemplar Amr">An exemplar of a completed report.</a></p>
<p>The Collaborative Academic Lead will provide advice and support in preparing the report, which should be written by the programme leader. The report should be agreed by the Joint Board of Studies and submitted to the Division of Governance and Enhancement. Reports feed into the School composite report, which is considered by the School Academic Board. Reports should also be published to students.</p>
<p>As a result of this ongoing monitoring, the programme team may decide to modify the programme or individual modules. See <a data-id="9467" href="/{localLink:umb://document/3747674c727a44fdaf4cffd1d2a34f3f}" title="Joint Boards of Studies and Committees">Joint Boards of Studies and Committees</a> above for information on the procedure to follow when making changes.</p>
<p>To make more substantial and far-reaching changes to a programme, you should go through a <a data-udi="umb://document/4d78174ad2e04fd2b245cf6f786f1c23" href="/{localLink:umb://document/c5f14547243b423f88d3501a281c9138}" title="Programme Review">programme review</a>. </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/667a6e7ddfc44a9da6a38df5dd14599b]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Essential Ongoing Quality Assurance]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>Mechanisms for assuring quality include: </strong></p>
<ul>
<li>Student staff consultative committees</li>
<li>Module evaluations</li>
<li>Student surveys</li>
<li>External examiner reports (see separate section)</li>
<li>Annual programme monitoring reports</li>
<li>Programme review (see separate section)</li>
</ul>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Mechanisms for assuring quality . Student representation, module evaluation,  surveys, annual programme monitoring reports]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Essential Ongoing Quality Assurance | QMU Collaborations Manual | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "7f4c6e00-7c2d-4e61-82f5-ab0d151b4016",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Essential Ongoing Quality Assurance]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>