<?xml version="1.0" encoding="utf-8"?>
<Content Key="64cce8bb-d938-41d8-b607-d10e3dbd4218" Alias="Hettie Rowan  - QMU Exchange student" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/HettieRowanQMUExchangeStudent</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-05-18T16:10:15</CreateDate>
    <NodeName Default="Hettie Rowan  - QMU Exchange student" />
    <SortOrder>241</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/015c4a418b5d427c9403a3eb5a2126e9]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "c2999431-7b11-4ff8-b270-6b376b38a53c",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/b6c4c5763c64414da58e0752603f9499",
    "title": "",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><strong>Story Published 2017 - 2018</strong></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p class="txtMainBlack"><strong>Why did you decide to apply for a place on an exchange programme at QMU?</strong></p>
<p class="txtMainBlack">I’m something of a social justice advocate. I’ve always had an interest in the wellbeing and success of those from disadvantaged backgrounds, participating in youth outreach programs in my home city of Brisbane, Australia.</p>
<p class="txtMainBlack">I applied to go on an exchange programme because I was attracted to the list of subjects available in the Sociology department of QMU. There were things I was interested in academically, courses not available to me at my home university, and QMU offered all of this and more to me.</p>
<p class="txtMainBlack">The fact that my family migrated from Scotland to Australia also meant that I would be able to follow in the footsteps of my ancestors and connect to my familial roots.</p>
<p class="txtMainBlack"><strong>Why did you choose to study at QMU?</strong></p>
<p class="txtMainBlack">QMU is a sister university to my home university, and as such I knew there was a good relationship existing between my university and QMU. This made me feel supported in the application process and reassured how friendly and supportive the staff at QMU would be during my time studying with them.</p>
<p class="txtMainBlack">I was also excited to meet and learn from academic staff in Sociology, who write in areas of academic interest to me. They provided incredible support and invaluable mentoring during my time at QMU.</p>
<p class="txtMainBlack"><strong>How did you find living on the QMU campus? </strong></p>
<p class="txtMainBlack">Living in the halls was nothing but a positive experience for me. I was very lucky to be paired with two other mature age students who came from Kenya and St Lucia in the Caribbean. We became a family, supporting each other through times of homesickness and when we had a lot of work on our plates.</p>
<p class="txtMainBlack">We would head out together to have dinner and blow off steam, exploring Fort Kinnaird and other places local to us. They remain dear friends to me and we’ve stayed in touch over Facebook even nine months after I returned home. I treasure my memories of my time with them.</p>
<p class="txtMainBlack"><strong>What did you enjoy most about living in Edinburgh/East Lothian?</strong></p>
<p class="txtMainBlack">There are three gems that stands out:</p>
<p class="txtMainBlack">S. Luca in Musselburgh – the best ice-cream and chocolate you’re going to find anywhere. Try the Irn Bru gelato, it’s unbelievably good!</p>
<p class="txtMainBlack">Anteaques in Edinburgh – a tiny little tea shop that makes the best blends of loose leaf tea in Scotland. I took a kilo of tea home with me, with the Pomegranate Green Tea being my particular favourite.</p>
<p class="txtMainBlack">Maki Maki Omakase – there are two of these in Edinburgh but the one my friend and I visited the most was at 75 Nicolson Street. Their vegetarian ramens are the best I’ve had outside of Japan.</p>
<p class="txtMainBlack">Edinburgh has so many hidden gems for you to discover – the little tea shops hidden down laneways on High Street, cute little curio shops on Cockburn Street, the market stalls that would pop up at Grassmarket (and if you go here at night and look up at the Castle I think this is one of its best views). Gems are in the eye of the beholder, but I encourage all students to explore and find their own – there are many to be had.</p>
<p class="txtMainBlack"><strong>What was the highlight of your studies at QMU?</strong></p>
<p class="txtMainBlack">I got the opportunity to do an independent study module, which allowed me to design my own paper and gave me great practice for the honours thesis I’m currently completing at my home university.</p>
<p class="txtMainBlack">I had great support from the academic team at QMU, who helped me through hard times with kindness and encouragement that allowed me to accomplish so much during my time at QMU.</p>
<p class="txtMainBlack">The Queen Margaret Students’ Union team is always cheerful and there to offer support where they can. You can also get some pet therapy from their resident dog, Rocco, who helped with missing my own pet back home.</p>
<p class="txtMainBlack"><strong>Do you have any advice or top tips for students who might be interested in studying at QMU as an exchange student?</strong></p>
<p class="txtMainBlack">Don’t over-pack clothes before travelling to Scotland. There are so many stores to buy things in Edinburgh at decent prices and it will stop you from incurring luggage fees or from hefting a heavy bag around.</p>
<p class="txtMainBlack">Also, if you’re from a warm climate then it’s likely the cold-weather clothes you can buy in your home country won’t be as good as the Scottish ones. So save your back and save some space in your suitcase.</p>
<p class="txtMainBlack"><strong>What have you done off the QMU campus? Have you managed to travel?</strong></p>
<p class="txtMainBlack">I travelled up to the highlands of Scotland the Isle of Skye where I have family roots. This was my first trip before the semester started and I loved it.</p>
<p class="txtMainBlack">I also have treasured memories of buzzing around the small villages between Edinburgh and the Scottish borders with friends.</p>
<p class="txtMainBlack">My trip to London, Bath and Stonehenge were also a big highlight for me as I always dreamed of visiting Stonehenge. I was surprised, coming from a smaller city like Brisbane, at how much I loved London and its hubbub of busy streets and markets overflowing with food and knick knacks from different cultures. I also got to see a West End show, something not to be missed, and I know that I will come back to the UK to visit the places that I fell in love with while at QMU.</p>
<p class="txtMainBlack"><strong>How has your exchange experience at QMU influenced your future ambitions or plans?</strong></p>
<p class="txtMainBlack">My time in Edinburgh brought me back to myself in a way I never expected. I got back into gaming, particularly by joining a local Dungeons &amp; Dragons gaming society, and beginning to play once a fortnight after over a decade of not playing.</p>
<p class="txtMainBlack">I remembered how much I loved it and how much gaming is part of who I am. As a direct result, I’m now going into Ludological Sociology (studying games and their place in society) as my career.</p>
<p class="txtMainBlack">I’ve had nothing but positive response to my new career direction and the studies I’m doing. I have my time in Scotland to thank for this. I would not be who I am and have the bright future ahead, had it not been for my exchange experience at QMU.</p>
<p class="txtMainBlack"><strong>Exchanges and Study Abroad </strong></p>
<p class="txtMainBlack">For more information on exchanges and study abroad at QMU, visit <a data-udi="umb://document/1a73f579f0f34d2a9f4ddb6fa7b5ce94" href="/{localLink:umb://document/1a73f579f0f34d2a9f4ddb6fa7b5ce94}" title="Exchanges and Study Abroad">our International pages</a>.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[QMU Exchange]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Hettie Rowan]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[[]]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Hettie Rowan, 34, is from Brisbane in Australia. She came to study at QMU in 2016 as an exchange student from Griffith University in Australia</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Hettie Rowan, 34, is from Brisbane in Australia. She came to study at QMU in 2016 as an exchange student from Griffith University in Australia]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Hettie Rowan | Student Stories | Queen Margaret University]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[QMU is a sister university to my home university, and as such I knew there was a good relationship existing between my university and QMU. This made me feel supported in the application process and reassured how friendly and supportive the staff at QMU would be during my time studying with them.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Hettie Rowan]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Hettie Rowan]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Student"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>