<?xml version="1.0" encoding="utf-8"?>
<Content Key="675f58bb-9f19-4069-8df7-764eb224bc1f" Alias="Podiatry" Level="5">
  <Info>
    <Parent Key="69007f18-ca1e-4568-a038-5f520556e927">Postgraduate Subject Overviews</Parent>
    <Path>/Home/StudyHere/PostgraduateStudy/PostgraduateSubjectOverviews/Podiatry</Path>
    <Trashed>false</Trashed>
    <ContentType>subject</ContentType>
    <CreateDate>2021-08-26T13:16:22</CreateDate>
    <NodeName Default="Podiatry" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="56ed73fd-5e86-48da-8db7-9662dd1b54ea">Subject</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/5afc2dc896a54475b027db774b6762c7]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "a7115561-21d0-43c2-82ca-ca5fdde27198",
    "name": "Podiatry",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/5e3f60b4a5bb4a9fa3f6db5daffe10ca",
    "title": "Podiatry",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead-big">Why study at QMU?</span></p>
<p><span class="lead">A major provider in postgraduate education in the fiel</span>d</p>
<p>Our Division of Dietetics, Nutrition, Biological Sciences, Physiotherapy, Podiatry and Radiography (DNBSPPR) has extensive knowledge and skills in allied health professional education as well as in public health, community and voluntary sectors.</p>
<p>Our proximity to Edinburgh city centre positions us close to many of the leading players in both national and local government, as well as many large hospitals, companies, research laboratories and government offices. The links to our hospital, private practice and third sector partners across Scotland are essential to ensure that our students have access to the high-quality placement experiences that are at the core of their training with us. Many of our courses reflect the fact that QMU is a major player in postgraduate education and staff have very close links with the professions across Scotland, for example, opportunities to work in Scotland’s cancer centres, or to work with students from another Scottish university or one elsewhere in the UK.</p>
<p><span class="lead"><strong>Convert to a career in podiatry: our postgraduate pre-registration master’s course </strong></span></p>
<p>Our <strong><a href="/{localLink:umb://document/69efb7926db640c6976851a4c8b3688d}" title="MSc Podiatry (Pre-Registration)">MSc Podiatry (Pre-Registration)</a></strong> is a full-time two year course for graduates who wish to continue their education to master’s level to become qualified practitioners in podiatry. Completing our pre-registration courses means that students are eligible to apply for registration with the Health and Care Professions Council (HCPC) that allows them to work in the United Kingdom. These courses include placements in the health fields.</p>
<p><a href="/{localLink:umb://document/1c5c025f356e4eba8924a752f6f309b5}" title="Pre-Registration Healthcare courses">Read more about pre-registration master's courses.</a></p>
<p><span class="lead"><strong>Upskill with our postgraduate post-registration master’s courses in podiatry </strong></span></p>
<p>Post-registration study is for those who are already qualified practitioners and who want to extend and develop their knowledge and skills in more depth. Studying at this level not only contributes to continuing professional development (CPD) but also enhances personal development.</p>
<p>Within our <a href="/study-here/postgraduate-study/postgraduate-subject-overviews/advancing-practice-in-health-framework/" title="Advancing Practice in Health Framework">Advancing Practice in Health Framework</a> we offer an <a href="/{localLink:umb://document/52ac5f7648654a96b6b8d01281305c52}" title="MSc/PgDip Advancing Practice in Podiatry (Advancing Practice in Health Framework)"><strong>MSc/PgDip Advancing Practice in Podiatry</strong>.</a> Other routes or single modules within the Framework may also appeal to podiatrists looking to expand their knowledge and skills.</p>
<p>We also offer an <a href="/{localLink:umb://document/fcad1b50757d4142be91c5b8dc37eaac}" title="MSc Theory of Podiatric Surgery"><strong>MSc Theory of Podiatric Surgery</strong></a> (in conjunction with Glasgow Caledonian University). This online course is for established podiatrist looking to develop their career into the flourishing field of podiatric surgery.</p>
<p><a href="/study-here/postgraduate-study/postgraduate-subject-overviews/post-registration-courses-for-registered-health-professionals-and-social-care-practitioners/" title="Post-Registration courses for registered  health professionals and social care practitioners">Read more about post-registration master's courses</a> and what QMU offers.</p>
<p><span class="lead">Student-centred teaching</span></p>
<p>Students are at the core of our priorities and we aim to enrich the learning, teaching and the overall academic experience for them. We appreciate that postgraduate students come to us with a whole host of skills, experiences and knowledge that they have acquired from a previous undergraduate degree or work experience. We anticipate students will draw on this to enhance both their own  learning and that of fellow students. The student is placed at the centre of the learning process and with guidance and the use of learning contracts is expected to take overall responsibility for their learning. These strategies will emphasise the development of critical, innovative and creative ways of thinking.</p>
<p>We attract students from across the globe, which facilitates wide-ranging discussion of health-related issues. Our courses are reviewed regularly and staff ensure that they take cognisance of developments in practice, and UK and wider healthcare policies to ensure that courses are fit for purpose.</p>
<p>All students have the opportunity to undertake an independent piece of research, with staff supervision, as the culmination of their studies. Preregistration students typically select a practise-based study that often fits the research programme of a member of staff. Post-registration students typically develop a study pertinent to their own clinical practice and work setting. A number of our students have gone on to present their dissertation work at national and international conferences.</p>
<p><span class="lead">Expert staff</span></p>
<p>The majority of QMU staff are registered with the HCPC while other colleagues are registered with professional and scientific bodies, and all the staff in the Division have extensive experience and expertise in their discipline and in health. Additionally, many staff members are active in research. A number of staff are active in professional and policy matters at both a local and national level and some staff are also practising clinicians. </p>
<p>Find out more information on <a href="/study-here/how-to-apply/" title="How to Apply">how to apply</a> for a course at QMU.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <displayTitle>
      <Value><![CDATA[Podiatry]]></Value>
    </displayTitle>
    <focusImage>
      <Value><![CDATA[umb://media/cb3668fc352645d29ebe08915fad26f4]]></Value>
    </focusImage>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[Right]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>A long established providing of podiatry education, we offer a pre-registration course to enable you to move into a career in podiatry in only two years, and  a range of post-registration courses for qualified podiatrists.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Qualified at undergraduate level, a podiatrist will diagnose and treat a vast range of problems relating to the health and wellbeing of the foot and the lower limb. A qualified podiatrist will be able to recognise and diagnose a broad range of mobility and medical conditions that have a direct effect on foot health, including diabetes, arthritis, heart, and blood disorders, and disorders of the nervous system.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Podiatry | Postgraduate Subject Overviews | Queen Margaret University]]></Value>
    </metaTitle>
    <relatedContent>
      <Value><![CDATA[umb://document/8fdfe28d01124381a92544f52bfb194f,umb://document/b71cb3d75fb8428f94cd4da6adab3812]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[Other relevant pages]]></Value>
    </relatedContentTitle>
    <relatedCourses>
      <Value><![CDATA[umb://document/fcad1b50757d4142be91c5b8dc37eaac,umb://document/69efb7926db640c6976851a4c8b3688d,umb://document/52ac5f7648654a96b6b8d01281305c52,umb://document/c4a4d7c1fe7b46d0bb94037c06a9417c]]></Value>
    </relatedCourses>
    <relatedCoursesTitle>
      <Value><![CDATA[Podiatry at QMU]]></Value>
    </relatedCoursesTitle>
    <shortTitle>
      <Value><![CDATA[Podiatry]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>