<?xml version="1.0" encoding="utf-8"?>
<Content Key="6aacbcc7-9569-4098-a0a2-a3a3e2bad8d1" Alias="Importance of Food Texture" Level="5">
  <Info>
    <Parent Key="29fae8f0-c5be-453a-98ee-68103a6eeaae">Staff - SCFDI</Parent>
    <Path>/Home/CampusLife/Blogs/StaffSCFDI/ImportanceOfFoodTexture</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2022-02-28T15:00:48</CreateDate>
    <NodeName Default="Importance of Food Texture" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65102975-f5a6-47bf-9418-b0e82dc7c288">BlogPost</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/a1c4beeedf224a798f6853e529f4ea9e]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "8f46afb4-3105-4617-b296-33c0dbddd85f",
    "name": "Importance of Food Texture",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/dd5929d0512146308a4389aaafb9ff28",
    "title": "Importance of Food Texture",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p>The textural properties of food are a major contributor to overall consumer acceptance of food products, often more detrimental to the product than flavour.  When we as consumers think about the texture of the food we eat, we also consider how texture links with other quality aspects such as the ripeness of fruit, the staling of bread or the firmness of fish.</p>
<p>Achieving the “ideal” texture of a product over is essential to the longevity of product sales. Food manufacturers, ever mindful of the textural impacts of reformulating to reduce sugar, salt and fat in product, continue to want to meet consumer overall expectations of their products, of which texture plays a key part.  </p>
<p>Food companies are increasingly trying to match texture profiles or monitor the texture over shelf life.  The Scottish Centre for Food Development &amp; Innovation can assist with this task in four main ways:</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 50%;"><strong>Consumer Insight</strong></th>
<td style="width: 50%;">Provides consumer acceptance of texture of products and gather consumers likes and dislikes</td>
</tr>
<tr>
<th style="width: 50%;"><strong>Expert Sensory Panel</strong></th>
<td style="width: 50%;">Trained panellists objectively assess the texture of products to determine if there are any significant differences in the texture profile</td>
</tr>
<tr>
<th style="width: 50%;"><strong>Textural Analysis Using Specialist Equipment </strong></th>
<td style="width: 50%;">Provides an objective measurement of the texture of a product whether that is the firmness, fracturability, springiness, chewiness or resilience  </td>
</tr>
<tr>
<th style="width: 50%;"><strong>Bespoke Training Courses</strong></th>
<td style="width: 50%;">Provide training to a group of employees within a food manufacturing business on how to assess the texture of their product on a regular basis</td>
</tr>
</tbody>
</table>
<p>The assessment of texture, in conjunction with other product attributes, provides information to food and drink companies which enables them to make informed decisions about their formulations and any requirement for reformulation.</p>
<p><img src="?width=500&amp;height=320.53422370617693" alt="Image of food technician examining food texture" width="500" height="320.53422370617693" data-udi="umb://media/2dea54a9af22415a9feb51a2237ce8ad" /></p>
<p><span class="lead"><strong>Get in touch if you would like assistance assessing the texture of your</strong><strong> product:</strong></span> <a rel="noopener" href="mailto:HelloSCFDI@qmu.ac.uk" target="_blank" title="Email HelloSCFDI@qmu.ac.uk"><span class="blue-btn">Email Us</span></a> </p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[2022-02-28T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Importance of Food Texture]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">We determine the texture of a food by how it looks, how it feels, how it’s perceived by receptors in the mouth and in certain cases, how it sounds as we chew. </span></p>
<p>The food we eat varies widely in textural properties, for example we experience chewiness from gummy sweets, creaminess from béchamel sauce and crunchiness from fresh apples. We all have individual preferences for textures, the polarity of views on oysters is a prime example of this. Some enjoy the plump and springy texture of oysters and some extremely dislike the texture.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Importance of Food Texture | Staff Blogs | Queen Margaret University, Edinburgh]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Importance of Food Texture | Staff Blogs | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Importance of Food Texture]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>