<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d22ed1b-8a72-4a18-9ddd-1d6ba50da5dc" Alias="'I will be forever grateful for this experience'" Level="5">
  <Info>
    <Parent Key="1433e228-b3ec-41ee-b3e8-f61ebe2f401e">Jared Baker</Parent>
    <Path>/Home/CampusLife/Blogs/JaredBaker/IWillBeForeverGratefulForThisExperience</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2021-01-28T21:06:24</CreateDate>
    <NodeName Default="'I will be forever grateful for this experience'" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65102975-f5a6-47bf-9418-b0e82dc7c288">BlogPost</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/4346ccc8e2be4e82ba5d10a010f0a9ef]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "9a921534-8a6c-407b-ab89-f88c404b2a9c",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/694fb17ee865405ca6870c5d82eefc36",
    "title": "",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p>I decided to do my study abroad in Kempten (Allgaü), a small city nestled in the heart of the German mountain region of Allgaü which boasta stunning scenery and picturesque landscapes.</p>
<p>I picked Kempten in Germany as it was near to home if I ever needed to come back to the UK for family members’ birthdays, for example. Kempten is well served by the rail network Deutsche Bahn, which offers a very good service to Munich, Memmingen and Ulm (change here for services to Stuttgart). Munich and Memmingen also offer direct flights to Edinburgh, which was a big selling point for on studying in Germany.</p>
<p>In classes, I was able to communicate well with the professors and lecturers who led my classes and have a dialogue with them. They spoke fluent English, although the accents took some getting used to. I found the international business courses enlightening and my German A1 course was very helpful in gaining a basic understanding of the German language.</p>
<p><img src="?width=500&amp;height=249.99999999999997" alt="Image of Jared and friends posing for a selfie" width="500" height="249.99999999999997" data-udi="umb://media/b161e576d3ef464987722871e815d017" /></p>
<p>I had some issues whilst abroad, such as cultural differences, the language barrier and different personalities, but I was able to overcome them and learn from them – these experiences were all a blessing in disguise. One issue that proved to be a hindrance was Brexit. Travelling to München or Prague or elsewhere had to be planned out meticulously. If you want to travel and see around Europe, some great advice would be book as soon as possible - train travel in most countries is operated by the government and is just as pricey as travelling here in the UK. Flights are a little better depending on where you travel to or the operator you travel with, however the most cost-effective way to travel around the continent is the coach service. While this is the longest option it is significantly cheaper and must be considered.</p>
<p><img src="?width=500&amp;height=333.04347826086956" alt="Neauschwanstein Castle" width="500" height="333.04347826086956" data-udi="umb://media/68d840283cba41e18fc0358e09656f92" /></p>
<p>The surrounding area in Kempten, as I’ve mentioned, is a beauty to behold. The Neuschwanstein Castle helps to personify these landscapes and is well worth the visit. I cannot express into the words the scenery; I found it complete unimaginable, as was the experience to go and study abroad.</p>
<p>I met some incredible people, and got to see parts of a country that might be overlooked by the average tourist. The skills I’ve developed - such as language and understanding - will help me not just in my time at University but throughout all aspects of my life.</p>
<p>I will be forever grateful for this experience.</p>
<p><a href="/{localLink:umb://document/61c8e09441eb44ae940a55266617ab37}" title="Exchanges and Study Abroad" data-udi="umb://document/1a73f579f0f34d2a9f4ddb6fa7b5ce94">More information about exchange opportunities with QMU</a></p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[2019-10-23T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA['I will be forever grateful for this experience']]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Queen Margaret University (QMU) student, Jared Baker, was given the opportunity to study a semester abroad during his third year of the BA (Hons) Business Management programme.</p>
<p>Despite a few challenges around the language barrier and cultural differences, Jared said that the skills and understanding he has developed through the experience will help him not just in his academic pursuits but in his own personal life. Here, he explains more...</p>
<p> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Queen Margaret University (QMU) student, Jared Baker, was given the opportunity to study a semester abroad during his third year of the BA (Hons) Business Management programme.

Despite a few challenges around the language barrier and cultural differences, Jared said that the skills and understanding he has developed through the experience will help him not just in his academic pursuits but in his own personal life.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA['I will be forever grateful for this experience']]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA['I will be forever grateful for this experience']]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>