<?xml version="1.0" encoding="utf-8"?>
<Content Key="6dd8e19a-8520-4d6e-9ae7-bf21dde61531" Alias="Master of Research (Sociology)" Level="5">
  <Info>
    <Parent Key="7534d720-fc61-4aa0-8b38-218f8ab060c2">2022</Parent>
    <Path>/Home/StudyHere/PostgraduateResearchStudy//MasterOfResearchSociology</Path>
    <Trashed>false</Trashed>
    <ContentType>postgraduateResearchCourse</ContentType>
    <CreateDate>2022-01-13T13:25:39</CreateDate>
    <NodeName Default="Master of Research (Sociology)" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="8de98a56-9d9e-4c8f-8798-e4ad3150dbb2">Course</Template>
  </Info>
  <Properties>
    <accreditedBodies>
      <Value><![CDATA[]]></Value>
    </accreditedBodies>
    <admissionsFAQ>
      <Value><![CDATA[[]]]></Value>
    </admissionsFAQ>
    <adSpotImage>
      <Value><![CDATA[umb://media/1d694706c73e4f0ca9f854063066b7ba]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <alert>
      <Value><![CDATA[]]></Value>
    </alert>
    <applicationText>
      <Value><![CDATA[]]></Value>
    </applicationText>
    <applyNow>
      <Value><![CDATA[[]]]></Value>
    </applyNow>
    <banner>
      <Value><![CDATA[[
  {
    "key": "16407f82-8365-4cd3-8845-580f41eedbfb",
    "name": "Master of Research",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/608879d0b48e47d1840b12a120ef7325",
    "title": "Master of Research",
    "description": "(Sociology)",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bestSuitedFor>
      <Value><![CDATA[]]></Value>
    </bestSuitedFor>
    <bodyBottom>
      <Value><![CDATA[<p><span class="lead">Please Note: <br /></span></p>
<p>The delivery of this course is subject to the terms and conditions set out in our <a data-id="12681" href="/{localLink:umb://document/96ddcf29bad6478f8a1e8de4dd86b962}" title="2020/21 Postgraduate Fees">2022/23 Entry - Terms and Conditions (Postgraduate).</a></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>In this flexible course that can be taken online, you’ll develop professional-standard research skills in the subject of your choice. An MRes can give you a competitive edge in the researcher job market, and is also a valuable stepping stone towards a PhD.</p>
<p>For more information, visit the <a data-id="9667" href="/{localLink:umb://document/2102a2e0670e483abcc4f1bb40c4d300}" title="Master of Research" data-udi="umb://document/2deb9d9b3daf4a3f992d149523cb0a91">Master of Research</a> entry.</p>]]></Value>
    </bodyTop>
    <careerOpportunities>
      <Value><![CDATA[]]></Value>
    </careerOpportunities>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <courseBlocks>
      <Value><![CDATA[]]></Value>
    </courseBlocks>
    <courseEntryLink1>
      <Value><![CDATA[[
  {
    "name": "2022/23 entry",
    "udi": "umb://document/6dd8e19a85204d6e9ae7bf21dde61531"
  }
]]]></Value>
    </courseEntryLink1>
    <courseEntryLink2>
      <Value><![CDATA[[]]]></Value>
    </courseEntryLink2>
    <courseTags>
      <Value><![CDATA[]]></Value>
    </courseTags>
    <courseTitle>
      <Value><![CDATA[Research (Sociology)]]></Value>
    </courseTitle>
    <degreeType>
      <Value><![CDATA[Master of]]></Value>
    </degreeType>
    <delivery>
      <Value><![CDATA[Taught modules at QMU, with additional online learning. Research project conducted in an appropriate laboratory or applied setting agreed with supervisor.]]></Value>
    </delivery>
    <displayTitle>
      <Value><![CDATA[Master of Research (Sociology)]]></Value>
    </displayTitle>
    <division>
      <Value><![CDATA[[]]]></Value>
    </division>
    <duration>
      <Value><![CDATA[1 year full-time OR 2.5-7 years part-time]]></Value>
    </duration>
    <entryRequirements>
      <Value><![CDATA[]]></Value>
    </entryRequirements>
    <fees>
      <Value><![CDATA[[
  {
    "name": "More info",
    "udi": "umb://document/781a0772d20b4e7091629a2db90d5926"
  }
]]]></Value>
    </fees>
    <hideApplicationBox>
      <Value><![CDATA[]]></Value>
    </hideApplicationBox>
    <hideFromCourseSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromCourseSearch>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <howToApply>
      <Value><![CDATA[[]]]></Value>
    </howToApply>
    <introduction>
      <Value><![CDATA[<p><strong>Please note that this course is not accepting applications for the upcoming academic year (2022/23).</strong></p>]]></Value>
    </introduction>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Develop professional-standard research skills in Sociology with this flexible course in Edinburgh.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Master of Research (Sociology) | Queen Margaret University ]]></Value>
    </metaTitle>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "3a0389e6-bd82-4de0-815f-9417a40b13c6",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "rCEvent",
                    "value": {
                      "name": "RC Event",
                      "image": "umb://media/21223ca0d4944b69a6d67e9e259a75f3",
                      "title": "A Student Story (see bottom of page for more)",
                      "subTitle": "Jordon Phillips - Master of Research ",
                      "freeText": "“The MRes allowed me to utilise the research skills I’d gained during my undergraduate degree and build on them to become a more well-rounded academic researcher.”",
                      "event": [],
                      "linkText": "Read my story",
                      "linkInternal": [
                        {
                          "icon": "icon-umb-users color-indigo",
                          "name": "Jordan Phillips - MRes",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/eeaaaca95a654ef09e9da47e29b39fc4",
                          "url": "/study-here/student-stories/jordan-phillips-mres/"
                        }
                      ],
                      "linkExternal": ""
                    },
                    "id": "6d671a33-5c54-8b73-9c3a-e4d1e9246519"
                  },
                  "editor": {
                    "alias": "RC Event",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/eeaaaca95a654ef09e9da47e29b39fc4,umb://document/b443a2eaa7694bb5856e1e7eaf036f12]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[umb://document/1b1fd7659d464b2796c47578cc599767,umb://document/512d9a6851014deba4973b51445a2335,umb://document/d642254ee853449cbabd2bfe5c4c98e8,umb://document/22c611bbfdf64dac8852e4192bb3c938,umb://document/f2d18200c53046cb8dd12128d1588486,umb://document/a33d92be97574482967def19ff8a302f,umb://document/1620d7d2691f4195832b687d9f4c6394]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[Other Useful Information...]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[Student Stories and Staff]]></Value>
    </relatedContentTitle>
    <relatedSimilarCourses>
      <Value><![CDATA[umb://document/2102a2e0670e483abcc4f1bb40c4d300,umb://document/8a8413bac50546158f53b302efead6e2,umb://document/1c472e11d3c644adaf4d9583c255d409,umb://document/105dcc9a87cf4eaf904a88131539c198,umb://document/dffa7f27771e48139bdfe9380441f85a,umb://document/d399fc3fc6fd459d8b993b97ae9b9137,umb://document/9d032288540f415e9decb4f031197112,umb://document/3c18ed27940843d7a344f70594041a76,umb://document/e8c8b4766bc54406addb5a39eb9e846a,umb://document/a8a17fff128247ceb28efec55e879cbf,umb://document/8a2e6c15051e4c9bb8999884b0de64ee,umb://document/91b956cbe72b45b0a7fb45346bc06fb6,umb://document/b022c8ce81264702bc0ae3e4f955c53a]]></Value>
    </relatedSimilarCourses>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Master of Research (Sociology)]]></Value>
    </shortTitle>
    <startDate>
      <Value><![CDATA[2022-01-01T00:00:00]]></Value>
    </startDate>
    <startDate2>
      <Value><![CDATA[]]></Value>
    </startDate2>
    <startDate3>
      <Value><![CDATA[]]></Value>
    </startDate3>
    <studyAbroad>
      <Value><![CDATA[0]]></Value>
    </studyAbroad>
    <subject>
      <Value><![CDATA[[]]]></Value>
    </subject>
    <subjectFocus>
      <Value><![CDATA[]]></Value>
    </subjectFocus>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <ucasCode>
      <Value><![CDATA[]]></Value>
    </ucasCode>
    <unistatsCourseId>
      <Value><![CDATA[]]></Value>
    </unistatsCourseId>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
    <year1>
      <Value><![CDATA[2022]]></Value>
    </year1>
    <year2>
      <Value><![CDATA[]]></Value>
    </year2>
  </Properties>
</Content>