<?xml version="1.0" encoding="utf-8"?>
<Content Key="6fa205bf-880d-4ae6-8de3-6d922ca5320b" Alias="2018.05.15 - Athena Swan Bronze Award" Level="5">
  <Info>
    <Parent Key="5498406d-bedc-400c-9545-066855cf03b7">2018</Parent>
    <Path>/Home/NewsAndEvents/News//AthenaSwanBronzeAward</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T21:00:49</CreateDate>
    <NodeName Default="2018.05.15 - Athena Swan Bronze Award" />
    <SortOrder>33</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/170d66f06a744dd79f0f1271f8dda521]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "4d737b12-1b1e-4959-b734-25d60efbfa4e",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/e1a054ad938e4dc28fd3d45f15080b7a",
    "title": "",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The Athena SWAN Charter is a recognition scheme for UK universities, it was originally set up to assist the recruitment, retention and progression of women in Science, Engineering and Technology (SET) departments. In recent years, the charter was expanded to recognise work undertaken in arts, humanities, social sciences, business and law (AHSSBL), and in professional and support roles, and for trans staff and students. The charter now recognises work undertaken to address gender equality more broadly, and not just barriers to progression that affect women.</p>
<p>Queen Margaret University has a proud history of both educating and employing women and is committed to supporting gender equality in terms of the working environment and career progression.</p>
<p>The bronze award was initially achieved by the institution in 2013, the University has since been awarded two Bronze department awards in the Division of DNBS, Physiotherapy, Podiatry and Radiography and the Division of Nursing. University staff are delighted that QMU’s continuous work to support women and promote gender equality across academic and professional services, and to champion a diverse staff and student community, is recognised by the renewal of the Bronze award. </p>
<p>Professor Petra Wend, Principal of Queen Margaret University, said: “We are pleased that the Athena SWAN assessment panel acknowledges our commitment to equality and diversity. We are particularly proud of our success in closing the gender pay gap. Indeed, QMU has a mean gender pay gap of 1.69% in favour of females compared to the higher education sector-wide data from the Office of National Statistics, which shows a mean gender pay gap of 14.8% in favour of men.</p>
<p>“In the last three years, we have introduced a number of key changes and initiatives, which have had a positive impact on equality and diversity at QMU. These include appointing Athena SWAN champions, embedding the Athena SWAN principles within our policies and practices, sponsoring 16 female future leader talent to attend Aurora leadership training, launching a student ‘attracting diversity’ initiative, removing zero hour contracts and achieving the National Living Wage, and introducing reward and recognition criteria to improve the progression of Assistant Lecturers.</p>
<p>“These changes, along with dedicated resources across the University working to embed the Athena SWAN principles, has ensured that we continue to strengthen our work and commitment in this important area.”</p>
<p>QMU’s mission is to be recognised as a University of ideas and influence, and by embedding the principals of Athena SWAN into its new strategic plan (QM150), its success in achieving this Bronze award ensures the University is fulfilling its ambitions.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2018-05-15T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU achieves Athena SWAN Bronze award for working to address gender inequalities]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[2022-05-15T12:05:43]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Queen Margaret University is delighted to receive a renewal of its Institutional Athena SWAN Bronze award, which recognises the University’s achievements in addressing equality barriers relating to the recruitment, retention and career progression of its workforce.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Queen Margaret University (QMU) is delighted to receive a renewal of its Institutional Athena SWAN Bronze award, which recognises the University’s achievements in addressing equality barriers relating to the recruitment, retention and career progression of its workforce.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU achieves Athena SWAN Bronze award for working to address gender inequalities]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p><em>For further media information please contact Lynne Russell, Communications Manager, Queen Margaret University, Edinburgh, E: </em><a href="mailto:lrussell@qmu.ac.uk"><em>lrussell@qmu.ac.uk</em></a><em>; T: 0131 474 0000, M: 07711 011239.</em></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "ea637442-3f91-4b1a-a3b1-2e6767ea1870",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Athena Swan Award for QMU]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>