<?xml version="1.0" encoding="utf-8"?>
<Content Key="71e3c6a8-b357-4225-8fdf-43ff453192af" Alias="My sporting life – 60 second catch up with Megan Richardson" Level="4">
  <Info>
    <Parent Key="3de92654-33e8-492e-99bc-a08871da9bb5">QMYOU Magazine - April 2024 (Edition 91)</Parent>
    <Path>/Home/AlumniAndFriends/QMYOUMagazineApril2024Edition91/MySportingLife60SecondCatchUpWithMeganRichardson</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2024-03-20T11:24:33</CreateDate>
    <NodeName Default="My sporting life – 60 second catch up with Megan Richardson" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="793fdbdc-4982-4bca-96be-86cd7d82393e">AlumniProfile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/085a5cf7305b4f559244de7b404c788a]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "16fe61df-0953-4fc8-a15c-62cc96b2cfac",
    "name": "My sporting life – 60 second catch up with Megan Richardson",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/8dad0b7ab8804ce583a4cb591174688c",
    "title": "My sporting life – 60 second catch up with Megan Richardson",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p><span class="lead-big">Megan talks to us about her memories of QMU, job satisfaction and goals for 2024.</span></p>
<p><strong>What brought you to QMU?</strong></p>
<p>As a successful Scottish badminton champion, I was regularly treated by a podiatrist, and I found the profession fascinating. I always wanted to work in sport and health, so choosing the BSc (Hons) Podiatry allowed me to combine my interests in both. I loved QMU the minute I set foot on campus - I was meant to<br>study there!</p>
<p><strong>Best memory of your time as Students’ Union Vice President</strong></p>
<p>Hosting the Sports &amp; Societies Grand Ball two years in a row to celebrate the amazing achievements of students who make up the teams and societies. I also made friends for life!</p>
<p><strong>Did your role as Vice President of QMUSU help your career?</strong></p>
<p>Yes, I had loads of incredible opportunities! Working in a fast-paced office environment, managing<br>budgets, chairing committees, sitting on University Court &amp; Senate, liaising with partners and sponsors<br>- not to mention the wide range of students, staff and volunteers I worked with on a day-to-day<br>basis. The list was endless, and I gained so much confidence!</p>
<p><strong>Most rewarding sporting achievement since leaving QMU?</strong></p>
<p>Mentoring a group of athletes and coaches as part of the Team Scotland Achieve Programme at Birmingham Commonwealth Games 2022 - what an incredible experience!</p>
<p><strong>Best part of being Sport &amp; </strong><strong>Physical Activity Skills Hub </strong><strong>Manager with CIMSPA?</strong></p>
<p>My current role with the Chartered Institute for the Management of Sport and Physical Activity (CIMSPA) combines my passion for group exercise/ personal training, performance sport and my previous experience in<br>student sport.</p>
<?UMBRACO_MACRO macroAlias="Quote" text="I’m the first to do this role in Scotland and I get to work with the most amazing staff team. I’ve enjoyed every day with CIMSPA and am delighted to make a positive contribution to Scotland’s sporting sector." source="" sourceExtra="" />
<p><strong>What motivates you?</strong></p>
<p>Supporting people - through my main job as Hub Manager and my part-time role as a personal trainer - to become the happiest and healthiest version of themselves. This energises me<br>to be the best version of myself.</p>
<p><strong>What’s next?</strong></p>
<p>Right now, I’m exactly where I’m meant to be, and I’m excited to keep progressing on this journey. This year, my personal goal is to climb 30 Munros to align with the year I celebrate my 30th birthday. I’ll also complete my first half marathon. I used to hate running, but now I love it! </p>]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[My sporting life – 60 second catch up with Megan Richardson]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[QMYOU, April 2024 (Edition 91)]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>Success as an athlete, a degree in podiatry and a two-year stint as QMU’s </strong><strong>Student Vice President led Megan Richardson to a dream career in sport. </strong><strong>She used her health degree and the transferable skills developed </strong><strong>at QMU to direct her career into sports management. After five </strong><strong>wonderful years with Scottish Student Sport, she feels she’s </strong><strong>exactly where she should be – in a role helping people</strong><br /><strong>achieve happy, healthy lifestyles through sport.</strong></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Success as an athlete, a degree in podiatry and a two-year stint as QMU’s Student Vice President led Megan Richardson to a dream career in sport. She used her health degree and the transferable skills developed at QMU to direct her career into sports management. After five wonderful years with Scottish Student Sport, she feels she’s exactly where she should be – in a role helping people achieve happy, healthy lifestyles through sport.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[My sporting life – 60 second catch up with Megan Richardson | QMYou Magazine April 2024 | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[My sporting life – 60 second catch up with Megan Richardson]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>