<?xml version="1.0" encoding="utf-8"?>
<Content Key="72f73b31-159d-4dcc-8268-49ab66c9e054" Alias="QMU Procurement Report - Section 2: Review of Regulated Procurement Compliance" Level="4">
  <Info>
    <Parent Key="1896e715-37c5-435e-83e5-021ec94bd20f">QMU Annual Procurement Report</Parent>
    <Path>/Home/Finance/QMUAnnualProcurementReport/QMUProcurementReportSection2ReviewOfRegulatedProcurementCompliance</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2023-02-15T16:36:35</CreateDate>
    <NodeName Default="QMU Procurement Report - Section 2: Review of Regulated Procurement Compliance" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "149f7297-8afb-4773-a776-a31908c4ada3",
    "name": "QMU Procurement Report - Section 2: Review of Regulated Procurement Compliance",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/a699c47d21cc43e1b40412cdd7606997",
    "title": "QMU Procurement Report - Section 2: Review of Regulated Procurement Compliance",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span>In making its regulated procurements every care has been taken to ensure that the University awards the business to suppliers who are capable, reliable and who can demonstrate that they meet high ethical standards and values in the conduct of their business.</span> </p>
<p><span>In the period covered by this report the University has conducted all its regulated procurements in compliance with EU Treaty Principles of equal treatment, non-discrimination, transparency, proportionality and mutual recognition.</span> </p>
<p><span>Successful delivery against the procurement strategy objectives is part of a customer valued, continual improvement process (CIP) that seeks incremental improvements to process and outcomes over time.</span> </p>
<p><span>The PCIP assessment was conducted in April 2022 by APUC and the institutional score fell into the Silver band. The intention now is to improve upon this score and maintain the Silver band rating or move into the Gold band in time for the next assessment.</span> </p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 107px;">
<tbody>
<tr style="height: 17px;">
<th style="width: 38.633094%; height: 17px;"><span class="NormalTextRun SCXW46591978 BCX4">Procurement aims and focus</span> </th>
<th style="width: 61.366906%; height: 17px;">Annual Report Commentary on strategy delivery/compliance</th>
</tr>
<tr>
<td style="width: 38.633094%;"><span class="NormalTextRun SCXW46591978 BCX4">Support Academic and Professional Services Departments to enhance the learning experience, for the many and diverse needs of stakeholders, by providing innovative solutions for their procurement decisions</span></td>
<td style="width: 61.366906%;">
<p><span>Optimal procurement strategies are developed and agreed through consultation with key stakeholders, end users and suppliers. This intelligence gathering approach is also used to deliver innovation, to improve skills and competencies in securing the most appropriate procurement routes to market that yield best value outcomes consistent with the guidelines set out in the </span><a href="https://www.procurementjourney.scot/"><span data-ccp-charstyle="Hyperlink">Scottish Procurement Journey</span></a><span>. </span> </p>
<p><span>Procurement activities follow the guidelines set out in the Procurement Journey. This helps to manage the expectations of stakeholders, customers and suppliers alike and facilitates best practice and consistency with what other organisations do across the Scottish public sector.</span> </p>
<p><span>For every procurement over £4m, the institution will consider how it can improve the economic, social or environmental wellbeing of its area through inclusion of community benefit clauses. Where possible and proportionate, such clauses may be included in procurements below £4m.</span> </p>
<p><span>Care is taken to ensure that procurement operations chime in with and support institutional strategic objectives.</span> </p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 38.633094%; height: 18px;">To sustain and further develop partnerships within the sector, with other publicly funded bodies, with professional bodies and appropriately with supply markets that will yield intelligence, innovation and deliver value to users of procurement services</td>
<td style="width: 61.366906%; height: 18px;">
<p><span>The engagement with internal and external stakeholders and suppliers provides valuable feedback which informs the University of possible necessary adjustments and improvements to strategy and process.</span> </p>
<p><span>For each procurement, the institution considers the community affected by the resultant contract and ensures that any affected organisations/persons are consulted (e.g. impact on service for students, or a local contract that could be combined with other similar institutions’ needs). Such consultation will always be on a scale and approach relevant to the procurement in question.</span> </p>
<p><span>The institution actively engages with other bodies through HE and FE specific events, Scottish public-sector events and wider UK HE events.</span> </p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 38.633094%; height: 18px;"><span class="NormalTextRun SCXW97408622 BCX4">To promote the delivery of value for money through good procurement practice and optimal use of procurement collaboration opportunities.</span><span class="NormalTextRun SCXW97408622 BCX4"> </span></td>
<td style="width: 61.366906%; height: 18px;">
<p><span>The best balance of cost, quality and sustainability is consistently used to assess value for money delivered and to identify sensible aggregation opportunities through collaborative contracting.</span> </p>
<p><span>Queen Margaret University sorts regulated procurements into procurement categories. How these goods, services and works are bought – joint purchasing, use of local, regional and national framework agreements, consolidated contracting – is subject to annual review with APUC and, through user consultation, optimal category strategies are agreed, sensible aggregation opportunities are exploited, category and commodity strategies are developed, recorded, signed off and processed.</span> </p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 38.633094%; height: 18px;"><span class="NormalTextRun SCXW30079268 BCX4"><span class="NormalTextRun SCXW83099456 BCX4">Develop management information to measure and improve procurement and supplier performance, assisting key stakeholder areas in meeting their requirements for best value goods and services.</span>  </span> </td>
<td style="width: 61.366906%; height: 18px;">
<p><span>Internal governance procedures, policies, tools such as e-enabled workflow enhancements are introduced to effect improvements to procurement process and efficiency.</span> </p>
<p><span>Expenditure segmentation analysis and data located on the Hub, Hunter (including Contracts Registers) and Procurement Data Dashboard. Where relevant, use is made of appropriate standards and labels in procurements to take account of fair and ethical trading considerations with due consideration given to equivalent tender offerings from suppliers; use is made of PCS and PCS-T to publish procurement opportunities; and appropriate use is made of lotting, output-based specifications and clear evaluation criteria to ensure that procurements are accessible to as many bidders (including SMEs) as possible.</span> </p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 38.633094%; height: 18px;"><span class="NormalTextRun SCXW226080175 BCX4">To embed sound ethical, social and environmental policies within the Institution’s procurement function and to comply with relevant Scottish, UK and EC legislation in performance of the sustainable procurement duty. </span>  </td>
<td style="width: 61.366906%; height: 18px;">
<p><span>Procedures are in place to ensure that consideration of environmental, social and economic issues and benefits is made, where appropriate, on a contract-by-contract basis during the planning stage utilising tools including Prioritisation, Flexible Framework, APUC’s Supply Chain Code of Conduct, and Supply Chain Management Programme (section 2 questions = Sustain) </span> </p>
<p><span>Procedures are also in place to ensure that regulated procurements are only awarded to businesses that are capable, reliable and, where relevant, meet high ethical standards and values in the conduct of their business. Queen Margaret University is committed to contracting only with suppliers that comply with all appropriate and relevant legislation. Where appropriate, and on a contract-by-contract basis, the institution will assess the legislation applicable to a procurement and take steps to ensure bidders comply with it e.g. Health and Safety, Late Payment legislation. Where relevant and proportionate the Living Wage and fair work practices of suppliers are promoted in tender documentation. </span><span>The University is a Living Wage employer.</span> </p>
<p><span>The Institution complies with its duties under the Modern Slavery Act.</span> </p>
</td>
</tr>
</tbody>
</table>
<p>Queen Margaret University has procurement process and sign off arrangements that are consistent with the guidelines set out in the Procurement Journey and that have met the objectives and obligations set out immediately above.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU Procurement Report - Section 2: Review of Regulated Procurement Compliance]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Section 2: Review of Regulated Procurement Compliance</p>
<p><span class="NormalTextRun SCXW115379741 BCX4">Where appropriate, Queen Margaret University has made use of collaborative contracts to deliver improved contract terms, supported contract and supplier management, sustainable procurement outcomes and value for money (the best balance of cost, quality and sustainability).</span> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Where appropriate, Queen Margaret University has made use of collaborative contracts to deliver improved contract terms, supported contract and supplier management, sustainable procurement outcomes and value for money (the best balance of cost, quality and sustainability). ]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Regulated Procurement Compliance | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "c485b014-0ba5-46d0-8c01-f2e3ae3435db",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Section 2: Review of Regulated Procurement Compliance]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>