<?xml version="1.0" encoding="utf-8"?>
<Content Key="7422c65d-6988-48a9-aba1-a018494e01e0" Alias="Parking Policy" Level="3">
  <Info>
    <Parent Key="61a8e686-2a80-4a22-88e1-fc0d682148f6">Links</Parent>
    <Path>/Settings/Links/ParkingPolicy</Path>
    <Trashed>false</Trashed>
    <ContentType>link</ContentType>
    <CreateDate>2021-02-13T15:10:35</CreateDate>
    <NodeName Default="Parking Policy" />
    <SortOrder>71</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <externalLink>
      <Value><![CDATA[https://dev-queen-margaret-university.euwest01.umbraco.io/media/8d892138e9bd163/parking-policy-2016.pdf]]></Value>
    </externalLink>
    <image>
      <Value><![CDATA[umb://media/5abf86e7e69a48c0967f4f413008d746]]></Value>
    </image>
    <internalLink>
      <Value><![CDATA[]]></Value>
    </internalLink>
    <text>
      <Value><![CDATA[Parking Policy (PDF)]]></Value>
    </text>
  </Properties>
</Content>