<?xml version="1.0" encoding="utf-8"?>
<Content Key="768bd80c-eebe-45b3-9d58-3016a31681cf" Alias="Dialogue, Participation and Engagement" Level="4">
  <Info>
    <Parent Key="13c638db-0259-4ef5-8ac8-d37ff7195001">Groups</Parent>
    <Path>/Settings/Contacts/Groups/DialogueParticipationAndEngagement</Path>
    <Trashed>false</Trashed>
    <ContentType>contactGroup</ContentType>
    <CreateDate>2020-12-28T10:50:01</CreateDate>
    <NodeName Default="Dialogue, Participation and Engagement" />
    <SortOrder>34</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactOptions>
      <Value><![CDATA[]]></Value>
    </contactOptions>
    <contacts>
      <Value><![CDATA[umb://document/2a707a2b9a54480b8f60a59edb4813f4]]></Value>
    </contacts>
    <displaySocialMediaLinks>
      <Value><![CDATA[0]]></Value>
    </displaySocialMediaLinks>
    <groupName>
      <Value><![CDATA[Dialogue, Participation and Engagement]]></Value>
    </groupName>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <secondaryImage>
      <Value><![CDATA[]]></Value>
    </secondaryImage>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
    <telephoneNumber1>
      <Value><![CDATA[]]></Value>
    </telephoneNumber1>
    <telephoneNumber2>
      <Value><![CDATA[]]></Value>
    </telephoneNumber2>
  </Properties>
</Content>