<?xml version="1.0" encoding="utf-8"?>
<Content Key="77ee230f-32ac-4da7-8020-1ae68459661a" Alias="Finance Office" Level="5">
  <Info>
    <Parent Key="a6f794b4-e329-4df2-bc01-0c55cf703527">Services &amp; Facilities</Parent>
    <Path>/Settings/Navigation/Footer/ServicesFacilities/FinanceOffice</Path>
    <Trashed>false</Trashed>
    <ContentType>navigationItem</ContentType>
    <CreateDate>2021-01-18T16:18:31</CreateDate>
    <NodeName Default="Finance Office" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <link>
      <Value><![CDATA[[
  {
    "name": "Finance",
    "url": "/finance"
  }
]]]></Value>
    </link>
  </Properties>
</Content>