<?xml version="1.0" encoding="utf-8"?>
<Content Key="781a0772-d20b-4e70-9162-9a2db90d5926" Alias="Fees and Charges" Level="4">
  <Info>
    <Parent Key="269009e5-b5de-49f8-a6f7-69ec982db3ef">Current Students General Information</Parent>
    <Path>/Home/CurrentStudents/CurrentStudentsGeneralInformation/FeesAndCharges</Path>
    <Trashed>false</Trashed>
    <ContentType>generalLandingPage</ContentType>
    <CreateDate>2021-02-04T13:41:05</CreateDate>
    <NodeName Default="Fees and Charges" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2d105c-dfa8-42d8-8bd5-cf850a36952d">GeneralLandingPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/37927bc3dfb54e799250a0d97dcff1b2]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "fa3929d3-8cf6-4c44-9f4f-b14954970b84",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/ea91339166af4913bebb584b901f1ba9",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[umb://document/eef6ac2efe13413d843e8a65df6a8285]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Tuition Fees and Charges]]></Value>
    </displayTitle>
    <focusPanel>
      <Value><![CDATA[[
  {
    "key": "f9049e18-6570-46c2-bcdf-d2c690b917a4",
    "name": "2025/26 Undergraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2025/26 Undergraduate Fees",
    "content": "",
    "image": "umb://media/d2acd3b4694e496896ac6b5a3ab9a244",
    "link": "[{\"name\":\"https://www.qmu.ac.uk/current-students/current-students-general-information/fees-and-charges/2025-26-undergraduate-fees/\",\"url\":\"https://www.qmu.ac.uk/current-students/current-students-general-information/fees-and-charges/2025-26-undergraduate-fees/\"}]"
  },
  {
    "key": "9e658096-b079-4e81-b63b-1a254ab38f87",
    "name": "2024/25 Postgraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2024/25 Postgraduate Fees",
    "content": "",
    "image": "umb://media/a1ffe42e16b340c3944bc2963a4be8d1",
    "link": "[{\"name\":\"2024-25 Postgraduate Fees\",\"udi\":\"umb://document/400cb5a17c404c23b52d5d5163660b73\"}]"
  },
  {
    "key": "c476aa79-6f00-4718-aa81-21d84703eb89",
    "name": "2024/25 Undergraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2024/25 Undergraduate Fees",
    "content": "",
    "image": "umb://media/d9914987f5584d2f813cf5689fcd2a60",
    "link": "[{\"name\":\"2024/25 Undergraduate fees\",\"udi\":\"umb://document/fb314b5dcf384f3a9c3f13adea255d06\"}]"
  },
  {
    "key": "adb977aa-50bf-482b-a2af-2ca4d4e3b6b6",
    "name": "2023/24 Postgraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2023/24 Postgraduate Fees ",
    "content": "",
    "image": "umb://media/5fa27e14a8824686a4e1c7f27b6386cf",
    "link": "[{\"name\":\"2023/24 Postgraduate Fees\",\"udi\":\"umb://document/e7381ab15e4540f582fd4d8d66606e3d\"}]"
  },
  {
    "key": "628a8077-c5a3-4f5d-94bc-3b466c2ba443",
    "name": "2023/24 Undergraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2023/24 Undergraduate Fees",
    "content": "",
    "image": "umb://media/d9914987f5584d2f813cf5689fcd2a60",
    "link": "[{\"name\":\"2023/24 Undergraduate fees\",\"udi\":\"umb://document/0e0cc8eb4b364774b2355161f878cc61\"}]"
  },
  {
    "key": "836ca4fc-b6c9-4dcd-a9d4-464434dcc59b",
    "name": "2022/23 Postgraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2022/23 Postgraduate Fees",
    "content": "",
    "image": "umb://media/5fa27e14a8824686a4e1c7f27b6386cf",
    "link": "[{\"name\":\"2022/23 Postgraduate Fees\",\"udi\":\"umb://document/f5d2399b363e4ea8b88d70fd61239132\"}]"
  },
  {
    "key": "078419a5-8810-48f8-9cd6-36e51e743012",
    "name": "2022/23 Undergraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2022/23 Undergraduate Fees",
    "content": "",
    "image": "umb://media/d9914987f5584d2f813cf5689fcd2a60",
    "link": "[{\"name\":\"2022/23 Undergraduate fees\",\"udi\":\"umb://document/1144181100db4dd4a0c4d33a05052f9c\"}]"
  },
  {
    "key": "ae6d242d-1171-4d6a-9654-6533bfa87900",
    "name": "2021/22 Postgraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2021/22 Postgraduate Fees ",
    "content": "",
    "image": "umb://media/5fa27e14a8824686a4e1c7f27b6386cf",
    "link": "[{\"name\":\"2021/22 Postgraduate Fees\",\"udi\":\"umb://document/1eb605a8fe9d4443b09d1d9eb12fb38d\"}]"
  },
  {
    "key": "e939cb07-d0f6-458c-b37b-5fc1c80d8a44",
    "name": "2021/22 Undergraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2021/22 Undergraduate Fees",
    "content": "",
    "image": "umb://media/d9914987f5584d2f813cf5689fcd2a60",
    "link": "[{\"name\":\"2021/22  Undergraduate fees\",\"udi\":\"umb://document/036dafbdaf554fd6b4bde5b2190329d9\"}]"
  },
  {
    "key": "c946192c-0fde-46e3-bf68-1bde7484e3a3",
    "name": "2020/21 Postgraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2020/21 Postgraduate Fees",
    "content": "",
    "image": "umb://media/5fa27e14a8824686a4e1c7f27b6386cf",
    "link": "[{\"name\":\"2020/21 Postgraduate Fees\",\"udi\":\"umb://document/96ddcf29bad6478f8a1e8de4dd86b962\"}]"
  },
  {
    "key": "b394bed1-f5f7-46f3-ac49-f8e9fa17d671",
    "name": "2020/21 Undergraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2020/21 Undergraduate Fees",
    "content": "",
    "image": "umb://media/d9914987f5584d2f813cf5689fcd2a60",
    "link": "[{\"name\":\"https://www.qmu.ac.uk/current-students/current-students-general-information/fees-and-charges/2020-21-undergraduate-fees/\",\"url\":\"https://www.qmu.ac.uk/current-students/current-students-general-information/fees-and-charges/2020-21-undergraduate-fees/\"}]"
  },
  {
    "key": "13f6192a-4353-4539-9c13-e4de0a2ba48e",
    "name": "2019/20 Postgraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2019/20 Postgraduate Fees",
    "content": "",
    "image": "umb://media/5fa27e14a8824686a4e1c7f27b6386cf",
    "link": "[{\"name\":\"2019/20 Postgraduate Fees\",\"udi\":\"umb://document/efbf0f1eab404fa1af52ca5076c87925\"}]"
  },
  {
    "key": "dbe0e7af-e070-4e7a-b771-9101bbeb9056",
    "name": "2019/20 Undergraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2019/20 Undergraduate Fees",
    "content": "",
    "image": "umb://media/d9914987f5584d2f813cf5689fcd2a60",
    "link": "[{\"name\":\"2019/20 Undergraduate fees\",\"udi\":\"umb://document/8c95762d1f99488c9e686f224e6d8431\"}]"
  },
  {
    "key": "b21b3416-9641-47c3-bbcb-334bc894988e",
    "name": "2018/19 Postgraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2018/19 Postgraduate Fees",
    "content": "",
    "image": "umb://media/a1ffe42e16b340c3944bc2963a4be8d1",
    "link": "[{\"name\":\"2018/19 Postgraduate Fees\",\"udi\":\"umb://document/f5ba9059af8646d2ab5cc864def5d803\"}]"
  },
  {
    "key": "2e23011a-f19d-4d60-8430-93b0bc564738",
    "name": "2018/19 Undergraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2018/19 Undergraduate Fees",
    "content": "",
    "image": "umb://media/d9914987f5584d2f813cf5689fcd2a60",
    "link": "[{\"name\":\"2018/19 Undergraduate Fees\",\"udi\":\"umb://document/d65cd7e2f23e4a06aa5c14c6e0c05a13\"}]"
  },
  {
    "key": "8fb62b54-c781-41b2-b786-99787fee5035",
    "name": "2017/18 Postgraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2017/18 Postgraduate Fees",
    "content": "",
    "image": "umb://media/a1ffe42e16b340c3944bc2963a4be8d1",
    "link": "[{\"name\":\"2017/18 Postgraduate Fees\",\"udi\":\"umb://document/8cda1f256f874012bf9a5760a67a9e22\"}]"
  },
  {
    "key": "b6d9ded5-1ed6-47e2-82aa-3ce863c1d949",
    "name": "2017/18 Undergraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2017/18 Undergraduate Fees",
    "content": "",
    "image": "umb://media/d9914987f5584d2f813cf5689fcd2a60",
    "link": "[{\"name\":\"2017/18 Undergraduate Fees\",\"udi\":\"umb://document/2e122190d1804462b3a226f4a4fd08f9\"}]"
  },
  {
    "key": "04040037-d359-4a2e-9de3-09629cf32396",
    "name": "2016/17 Postgraduate Fees",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "2016/17 Postgraduate Fees",
    "content": "",
    "image": "umb://media/a1ffe42e16b340c3944bc2963a4be8d1",
    "link": "[{\"name\":\"2016/17 Postgraduate Fees\",\"udi\":\"umb://document/dd7e269187bc4bf4bd81ebf222e5f9b0\"}]"
  }
]]]></Value>
    </focusPanel>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Please click on the relevant panel below to view the fees for your course, level and year.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Tuition fees and other fee information by course and year.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Fees and Charges | Current Students | Queen Margaret University ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "6daf74e4-de07-4fde-8abb-eac975646b60",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "usefulLinks",
                    "value": {
                      "name": "Useful Links",
                      "title": "",
                      "usefuls": [
                        {
                          "icon": "icon-umb-content color-indigo",
                          "name": "Federal Student Aid",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/d8663490b13145f398ed62e9e9a13cb1",
                          "url": "/current-students/current-students-general-information/fees-and-charges/federal-student-aid/"
                        },
                        {
                          "icon": "icon-umb-content color-indigo",
                          "name": "Applicant and Student Terms and Conditions",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/322ced8de53b4a27b128ff2d14791f45",
                          "url": "/current-students/current-students-general-information/matriculation-and-enrolment/applicant-and-student-terms-and-conditions/"
                        },
                        {
                          "icon": "icon-layout color-indigo",
                          "name": "Fees and Funding",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/22c611bbfdf64dac8852e4192bb3c938",
                          "url": "/study-here/fees-and-funding/"
                        }
                      ],
                      "useDarkTheme": "0"
                    },
                    "id": "0a569cec-3077-9ae5-8540-d0896580b71f"
                  },
                  "editor": {
                    "alias": "Useful Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "links",
                    "value": {
                      "name": "Image Links",
                      "link": "umb://document/6a167eca52ce4604a6d28e2eb826eb8d"
                    },
                    "id": "94bcbbbf-96ad-bdd9-6f8f-96e08409d629"
                  },
                  "editor": {
                    "alias": "Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Tuition Fees and Charges]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>