<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a4f4a1e-1dbb-451b-bd05-bf0c42dc79e0" Alias="Hannah Bowman - PALS" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/HannahBowmanPALS</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-11-05T11:03:01</CreateDate>
    <NodeName Default="Hannah Bowman - PALS" />
    <SortOrder>68</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/e3d3e974d8314dbebfdd956e506528fd]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "de8fa209-0278-470c-9e01-b5de4f1dbafd",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/4e2265cb1fa444509bdad82d028de911",
    "title": "",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[PALS]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Hannah Bowman]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[[]]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Being a PALS leader has been such a significant part of my university experience. It has been exciting and enjoyable, but it has also been educational. Being a PALS leader has provided me with the opportunity to gain and improve an extensive number of transferable skills. One transferable skill which I have seen significant improvement in myself is leadership. When most people think of leadership, they think of it in the traditional sense in terms of positional and hierarchal leadership. However, taking part in PALS requires you to improve your personal leadership. This is a leadership style that gives you the knowledge and confidence to encourage and inspire others. It focuses on resilience and perseverance in order to work creatively and effectively.</p>
<p>Other transferable skills which PALS helped me refine were creativity, communication, teamwork and time management. These were essential when organising and leading sessions to help share knowledge effectively for a range of people to understand. It is so important to communicate with students and other PALS leaders in an approachable and adaptable way, and as a leader, it is essential to work as a team not only with other PALS leaders but also with the students who come to the sessions. This year was so challenging for everyone; it was so important to promote that group solidarity and support network.</p>
<p>The final two transferable skills which I associate with my PALS experience would be patience and perseverance. Although not the most obvious choices of transferable skills, they are probably the ones where I saw the most considerable improvements. As we all know, this year has been more than a challenge; it has been life-changing. For some people, the PALS sessions might have been the only communication they had that day; for me, that was sometimes the case. It was difficult for everyone, but as a PALS leader, it was so important to persevere through the challenges and create the encouragement and energy that was essential for the students and myself. This also took a lot of patience from everybody. I am very proud to say I was a PALS leader, and I am so grateful for the opportunity.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Being a PALS leader has been such a significant part of my university experience. It has been exciting and enjoyable, but it has also been educational. Being a PALS leader has provided me with the opportunity to gain and improve an extensive number of transferable skills.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Hannah Bowman]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Hannah Bowman]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Hannah Bowman]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Student"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>