<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a79d4d5-f643-48ae-801e-24bfc3eac335" Alias="How to Avoid Plagiarism" Level="6">
  <Info>
    <Parent Key="e2cf0dcc-90fc-4d35-884f-11705becdf64">Effective Learning Service (ELS)</Parent>
    <Path>/Home/StudyHere/ServicesForStudents/SupportForLearning/EffectiveLearningServiceELS/HowToAvoidPlagiarism</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-08T14:15:20</CreateDate>
    <NodeName Default="How to Avoid Plagiarism" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/cb8b663f033d48728d669cb86e34f99d]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[<p>How to Avoid Plagiarism</p>]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "f1f0916e-8fd7-4d31-947b-074102b7c180",
    "name": "How to Avoid Plagiarism",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/f37c9aeb2f3a4db3a88fcda350e75f7e",
    "title": "How to Avoid Plagiarism",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The Guides are available as .pdf's and .docs, you can choose to<span> open</span> in your browser or download.</p>
<p>Student Guides to using the similarity checker tool</p>
<p>The Similarity Checker Tool allows you to check draft versions of your work before final submission. </p>
<p><a rel="noopener" data-id="13601" href="/{localLink:umb://document/4fbd1b8d93df49b9984ae7d9902ab2b6}" target="_blank" title="Similarity checker tool">Using the Similarity Checker Tool </a>opens in a new window</p>
<p><a rel="noopener" href="https://help.turnitin.com/feedback-studio/turnitin-website/instructor/the-similarity-report/interpreting-the-similarity-report.htm" target="_blank" title="Interpreting the Similarity report">Interpreting the Similarity Report </a>links to the Turnitin UK support page containing advice on how to interpret the reports.</p>
<p><span class="lead">Student Guides to Submitting your assignment to Turnitin</span></p>
<p><a rel="noopener" data-id="13593" href="/{localLink:umb://document/ee51b591d90247ffb2b9da0b8c4ae921}" target="_blank" title="Queen Margaret University - Student Guide: Submitting a Turnitin Assignment">Student Guide to submitting assignments to Turnitin</a> download and open on your computer</p>
<p><a rel="noopener" href="https://help.turnitin.com/feedback-studio/turnitin-website/student/quickstart.htm?_ga=2.146685236.1810344832.1579076043-1041019810.1578409563" target="_blank" title="Turnitin student quick start guide">Turnitin student quick start guide </a>- is the Turnitin support guide for students.</p>
<p>You can watch a video which shows how to <a rel="noopener" href="https://youtu.be/hmWE4AxqAoE" target="_blank" title="Submitting your assessment to a dropbox">Submit your assessment to a Turnitin Dropbox </a></p>
<p> </p>
<p>More information can be found here: <a href="https://libguides.qmu.ac.uk/referencing/plagiarism" title="Avoiding plagiarism">Avoiding plagiarism</a></p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/ce49f177d8b9430fad1a606a525ae243]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[How to Avoid Plagiarism]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead"><em>Turnitin is a service that helps you check that your assignment work does not contain plagiarism. You will normally use this service prior to submitting the work for marking.</em></span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Turnitin is a service that helps you check that your assignment work does not contain plagiarism. You will normally use this service prior to submitting the work for marking.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[How to Avoid Plagiarism | ELS | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "9c992420-48d5-4aaf-8dc1-01949aa60005",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/b8402cf42f1547cb863b2f904aa67fff,umb://document/f5cec8e5151e469fac0a659b605e8bcf,umb://document/adec1fabcbd74041b6569d1b673c4e37]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[How to Avoid Plagiarism]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>