<?xml version="1.0" encoding="utf-8"?>
<Content Key="7bce4b86-8f7b-4780-a328-0a4a78fb75bd" Alias="Michael Truffelli - BA (Hons) International Hospitality and Tourism Management" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/MichaelTruffelliBAHonsInternationalHospitalityAndTourismManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-05-21T12:14:45</CreateDate>
    <NodeName Default="Michael Truffelli - BA (Hons) International Hospitality and Tourism Management" />
    <SortOrder>134</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/6c11d3a4563240c9b669e7cefb91ecaf]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "e0d8f0de-625b-440d-aa05-44c23745fdec",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/41461abf8e0044b99b435088c875d416",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>Student Name:</strong> Michael Truffelli</p>
<p><strong>Course:</strong> International Hospitality and Tourism Management</p>
<p><strong>Hometown:</strong> Livingston, Scotland</p>
<p><strong>Year of Course:</strong> Fourth year</p>
<p> </p>
<p><strong>About you</strong></p>
<p><strong>Tell us a little about yourself such as your hobbies/interests that are related or not related to your course of study. </strong></p>
<p>An interest that is perhaps not directly related to my course is my study of Mandarin Chinese. I have been studying the language for a year and three months since I returned from my work placement in Beijing, China. I fell in love with China during my time over there, and have since had an avid passion for both the linguistic and cultural aspects of the country.</p>
<p>In addition, I love to play chess in my spare time as it allows me to take my mind off work and study whilst stimulating myself intellectually. My other hobbies and interests revolve around constantly seeking new experiences through travel, cuisine and culture as I feel that opening yourself up to these elements in life truly does broaden the mind.</p>
<p><strong>Why did you choose to study at QMU and what attracted you to the course? </strong></p>
<p>In an effort to be completely transparent, I must say that I applied to my course through UCAS clearing upon a lack of focus in my final year of school leading to me falling short of requirements for my initial choices. However, QMU and the International Hospitality and Tourism Management (IHTM) course turned out to be a blessing in disguise, and what started as an initial attraction for both the industrial placement offered and the opportunity to learn more about the hospitality and tourism industries, evolved to a degree that I believe is providing me with exceptional prospects upon graduation.</p>
<p><strong>Why did you choose to study in the city in which your university is based? </strong></p>
<p>Edinburgh is close to home for me but it is also our country’s capital which created a huge appeal for me as I was eager at the age of 17 to experience life in a bigger city.</p>
<p> </p>
<p><strong>The Course</strong></p>
<p><strong>What have you most enjoyed about your course? What has been your highlight? </strong></p>
<p>Personally, the industrial placement was the highlight of course as it really has been life-changing in its impact.</p>
<p>The opportunity to travel to the other side of the world, experience a completely different culture and create a passion to pursue study of the most difficult language in the world is something that I will be forever grateful to the IHTM course for.</p>
<p><strong>What have you learnt, or which particular activity has been the most interesting? </strong></p>
<p>I really enjoyed the finance and accounting aspects of the course. It also goes without saying that the placements, such as the one I took to Beijing, were course highlights.</p>
<p><strong>How have your lecturers supported your learning? </strong></p>
<p>In general, I feel like due to the size of the classes in QMU, we are presented with a rather unique opportunity of a relatively open channel of communication with lecturers. I have rarely experienced difficulty when I found myself requiring assistance, and I’ve recognised the provision of support for students from the beginning of my study.</p>
<p><strong>What have been some of your challenges with the course and university life? How have you overcome them?</strong></p>
<p>A main challenge for me has been pushing myself to constantly read academic material when there is not a specific requirement to do so. In my school years, I was accustomed to reading only what was necessary to pass the corresponding assessments. However, in university, you should be reading alongside studying, not as your method of studying.</p>
<p>Getting to grips with this new reality was tough initially, but after a few years I have recognised the benefits across the board of consistent reading, from participation in seminar groups, to performance in assessments. When you are studying a degree, often you are also preparing to enter the corresponding industry, therefore, more knowledge will always help rather than hinder you.</p>
<p><strong>Did you take part in a placement as part of your course and if so, what was your experience? </strong></p>
<p>As I mentioned, I had the incredible opportunity to travel to Beijing, China to participate in a five month work placement as a management trainee, spending four months in front office and one month in marketing and sales. Initially, I was out of my comfort zone in terms of the language and the culture but I soon began to appreciate the opportunity that I had in front of me and then excelled in my internship, developing valuable skills to take forward.</p>
<p><strong>Any advice for students who might be interested in this course? </strong></p>
<p>I would highly recommend IHTM as a course that is undergoing constant development. It provides you with valuable industry knowledge alongside work placement components which really ties together theory and practice, providing a very well-rounded degree.</p>
<p><strong> </strong></p>
<p><strong>Enhancing our student learning and personal development</strong></p>
<p><strong>Have you won any awards/scholarship/internships etc., that helped you develop skills and experience? </strong></p>
<p>Through an advertisement on the QMU hub [the university’s virtual learning environment and course management system] I applied and won the Lord Forte Foundation Scholarship which was pivotal to my study of Mandarin Chinese. This £2,500 fund allowed me to participate in evening classes to further my study of the language.</p>
<p>I was given the scholarship after submitting an essay that specified how I was eager to utilise my developing linguistic skills in the hospitality industry, recognising the exponential growth of the Chinese market.</p>
<p>Following the scholarship, The Balmoral Hotel, a Rocco Forte Hotel, contacted me to offer me a position with them as Asian Ambassador (which I’m doing in addition to my studies at QMU). This role has given me a unique opportunity to help pioneer strategic efforts to tap into this area of market growth.</p>
<p><strong> </strong></p>
<p><strong>Life as a Student at QMU</strong></p>
<p><strong>What’s your ‘top tip’ for making the most of being a student? </strong></p>
<p>Recognise that while study is important, it should not stop you from having a social life. Enjoy meeting a whole host of new people, open yourself to unfamiliar experience and most importantly, enjoy the ride!</p>
<p><strong>What has been the most valuable lesson that you’ve learned at university? </strong></p>
<p>Question everything and if you are not sure on something, do not stop asking until you are.</p>
<p> </p>
<p><strong>After graduation</strong></p>
<p><strong>What are your plans after graduation? </strong></p>
<p>Upon graduation, I plan to continue as the Asian Ambassador for the Balmoral, a Rocco Forte Hotel, on a full-time basis alongside continuing my study of Mandarin Chinese.</p>
<p><strong>Tell us about your ambitions and where you see yourself in the future? </strong></p>
<p>In terms of the future, I am unsure as to exactly where I would position myself. However, I do see myself excelling in my study in both Chinese language and culture and I firmly believe that this will run alongside my personal development within the hospitality and tourism industries.</p>
<p> </p>
<p><em>[Published February 2019]</em></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Scotland]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/d1dff860257348839291d20c1842932b]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[BA (Hons) International Hospitality and Tourism Management]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Michael Truffelli]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Michael Truffelli readily admits that Queen Margaret University (QMU) and International Hospitality and Tourism Management weren’t on the agenda when he was weighing up his options for higher education. The decision to study at QMU, however, turned out to be a blessing in disguise and has provided him with the opportunity to work in Beijing, take up a role as Asian Ambassador of a prestigious Edinburgh hotel, and be well on his way to fluency in Mandarin Chinese!</p>
<p>Here he explains more about his journey to QMU and beyond.</p>
<p> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Michael Truffelli readily admits that Queen Margaret University (QMU) and International Hospitality and Tourism Management weren’t on the agenda when he was weighing up his options for higher education. The decision to study at QMU, however, turned out to be a blessing in disguise and has provided him with the opportunity to work in Beijing, take up a role as Asian Ambassador of a prestigious Edinburgh hotel, and be well on his way to fluency in Mandarin Chinese! Here he explains more about his journey to QMU and beyond.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Michael Truffelli - BA (Hons) International Hospitality and Tourism Management]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[The opportunity to travel to the other side of the world, experience a completely different culture and create a passion to pursue study of the most difficult language in the world is something that I will be forever grateful to the International Hospitality and Tourism Management course for.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Michael Truffelli]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[BA (Hons) International Hospitality and Tourism Management]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Michael Truffelli]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Graduate"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>