<?xml version="1.0" encoding="utf-8"?>
<Content Key="80e76e7d-1567-4fea-82ff-120035134a58" Alias="Principal's Welcome" Level="4">
  <Info>
    <Parent Key="02401f4c-a909-4319-9374-4ba87ae5b360">Magazine</Parent>
    <Path>/Home/AlumniAndFriends/Magazine/PrincipalsWelcome</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-08-16T14:56:40</CreateDate>
    <NodeName Default="Principal's Welcome" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/3522b3c8f741468aa7da82de759d6eb8]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "fb901a3b-2965-4e9e-b177-b6fba42a6652",
    "name": "Principal's Welcome",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/f55d5d164e87437ea276a25dda6ffcd9",
    "title": "Principal's Welcome",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Every part of the University’s operations has been impacted by the pandemic, yet we continue to deliver - preparing students for the world of work, supporting our communities, driving forward important research, and focusing our activity on making a real difference to the world around us.</p>
<p>I am deeply impressed at the resilience, and the passion and determination of QMU staff, students and graduates who contribute in a positive way to society. This edition of the magazine pays tribute to each and every member of the University’s community who has used their skills, knowledge and time to help our communities in coping with and recovering from the pandemic. The first part of this magazine shares some of these stories. Our feature focusing on our response to the pandemic helps to demonstrate the important place that QMU inhabits, not only in the community, but in UK higher education and indeed the world at large.</p>
<p>In this most challenging of years, we are delighted to bring some much needed positivity. Our magazine not only focuses on the great work of our students, graduates and staff, it celebrates our history, acknowledges our present, and looks with confidence towards our future. We take this opportunity to share some significant milestones with you.</p>
<p>This edition celebrates two anniversaries – <a data-udi="umb://document/725cedb3c86f4b80bcdbf5a6523cbc50" href="/{localLink:umb://document/0d2a10dc65c4426db7ee214575b74668}" title="Celebrating 50 years of drama">50 years of drama</a> and <a data-udi="umb://document/c62b77f059de411d85479959bc16a3f7" href="/{localLink:umb://document/de0b28e3ca754e9c815d7a7984b5b5c3}" title="Celebrating 75 years of speech at QMU">75 years of speech sciences</a>. We have a proud history of education in these specialist areas, and are pleased that some of our graduates and staff have agreed to share their experiences and career stories with us.</p>
<p>Like me, I know you’ll love hearing from our alumni, including <a data-udi="umb://document/99a16ddb97e347ba8579c210b029ce89" href="/{localLink:umb://document/e6c1ff846f084693a2daa897589d1246}" title="Interview with Kevin McKidd – The long road to Hollywood">Hollywood actor Kevin McKidd</a>, and <a data-udi="umb://document/e75ff22cec3f4d34b226ab639f123ed2" href="/{localLink:umb://document/86503579f49d44fa96e696c9ebe64dc5}" title="From QMU to Craiglang">Jane McCarry and Mark Cox</a>, AKA Isa and Tam, stars of the immensely popular TV sitcom ‘Still Game’. We are also proud to celebrate the success of rising star and <a data-udi="umb://document/5ea08d5384aa47308c9163217c70926c" href="/{localLink:umb://document/a18c78b8ed4943648e91bb4221967753}" title="2020 has been a year like no other for rising star Gbemisola">BAFTA winner Gbemisola Ikumelo</a>, who is fast becoming one of the leading comedy performers of her generation.</p>
<p>I hope you enjoy reading this celebratory edition as much as I have, and find inspiration from some of our news stories, features and interviews. If you are a graduate, please continue to connect with the University through our <a href="mailto:alumni@qmu.ac.uk" title="Alumni Office">Alumni Office</a> and if you are a member of the public or are already connected with the University, please consider talking to our <a href="mailto:development@qmu.ac.uk" title="Development Email">Development Team</a> about different ways you can support our work.<br /><br />With very best wishes<br />Sir Paul Grice FRSE, FAcSS</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Principal's Welcome]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">There is no denying that the last year has been one of the most challenging periods in the history of Queen Margaret University.</span> <br /><br /><span class="lead">Like all universities, we have had to move quickly to adapt our teaching methods - students now benefit from our blended learning approach which involves a mix of face-to-face teaching and online learning. We have also had to reshape how we offer student support, run our commercial operations and undertake our research.</span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[There is no denying that the last year has been one of the most challenging periods in the history of Queen Margaret University. Like all universities, we have had to move quickly to adapt our teaching methods - students now benefit from our blended learning approach which involves a mix of face-to-face teaching and online learning. We have also had to reshape how we offer student support, run our commercial operations and undertake our research.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Principal's Welcome | QMYou Magazine | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "341a6a17-fb58-4d64-aee9-440e68f50f30",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Principal's Welcome]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>