<?xml version="1.0" encoding="utf-8"?>
<Content Key="81a566fd-de60-41c7-a83a-8fcb7e764a00" Alias="2015.11.23-2 - Interview with QMU Graduate, Sarah Ssali" Level="5">
  <Info>
    <Parent Key="94c45b1a-49ef-4036-9be3-b5a4df2d2026">2015</Parent>
    <Path>/Home/NewsAndEvents/News//InterviewWithQMUGraduateSarahSsali</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T11:44:55</CreateDate>
    <NodeName Default="2015.11.23-2 - Interview with QMU Graduate, Sarah Ssali" />
    <SortOrder>114</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "90d18ee6-d13e-4b53-af43-a79e1805c7ca",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Interview with QMU graduate, Sarah Ssali, Senior Lecturer in Makerere University, Uganda",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>What does your lecturing position at Makerere University involve? </strong></p>
<p class="txtMainBlack">As part of the School of Gender Studies I focus on gender analysis. I teach students about gender and its relation with the State and public policy, institutions and social transformation, ‘research methods and feminist theory. My work within the Clinical Epidemiology Unit includes looking at government policies and the health system for a social (including gender) perspective. This involves examining the impact of social policy on communities affected by poverty and war.</p>
<p class="txtMainBlack"><strong>Why did you come to Scotland in 1999? </strong></p>
<p class="txtMainBlack">QMU offered me the opportunity to develop my current knowledge in international health and to learn to study and teach. Having previously visited Scotland, my husband said that it was the best country in the world!</p>
<p class="txtMainBlack"><strong>What were your achievements while studying at QMU? </strong></p>
<p class="txtMainBlack">Completing my PhD in three years whilst raising a young child and also having a baby! I was seven months pregnant when I arrived in Scotland and my husband was studying abroad, so, as a single parent, juggling a young family and my education was very challenging.</p>
<p class="txtMainBlack"><strong>What were the most important lessons you learned from the international health staff at QMU? </strong></p>
<p class="txtMainBlack">That good teaching is about humility and information sharing. In Uganda, being a professor is a really big thing – it brings status and clout. But QMU has a different value system. A lecturer must have high levels of integrity and to teach well you must be able to empathize with students and communities. You must see things from all angles and be able to relate to people. It’s about how you positively impact people and share knowledge for the betterment of society. It’s not about being better or more knowledgeable than your students.</p>
<p class="txtMainBlack">I also learned the benefits of inter-professionalism and how helpful it is to have other people from different specialisms critique your work. My final reports were always much better if I had allowed others, from different backgrounds, to critically evaluate my work.</p>
<p class="txtMainBlack"><strong>Did your time at QMU influence your teaching? </strong></p>
<p class="txtMainBlack">The influence of QMU staff has been significant on my lecturing. I undertook pedagogical training while at QMU and I had the opportunity to teach whilst studying for my PhD. I also learned how to research, as well as the importance of critical analysis. Critical analysis is an important part of what is taught at QMU. This style was not part of teaching in Uganda. Normally Ugandan teachers provide all of the information necessary, the students learn it all, regurgitate it correctly, and pass the exam. Critical analysis helps people improve what has been done in the past and so effects positive change.</p>
<p class="txtMainBlack">I have applied QMUs various teaching styles to my lecturing at the University of Makerere, and I have been promoted several times. I now sit on the University Council and oversee graduate programmes. I am helping to change and influence teaching styles across the University and in my school and college.</p>
<p class="txtMainBlack"><strong>How has your research style affected communities in Uganda? </strong></p>
<p class="txtMainBlack">You must be able to empathize with people if you are going to carry out research work in some of the poorest communities. My research has involved hundreds of people in Uganda and you can only be successful if you try to see the world through their eyes. You must have empathy. Hopefully the results of my research for the ReBUILD project will help transform health systems in Uganda and improve the lives of the poor.</p>
<p class="txtMainBlack"><strong>Most significant achievement whilst working in Uganda? </strong></p>
<p class="txtMainBlack">Being able join the administration of the Academic Staff Union which allows me to advocate for the improvement of staff welfare. I really improved my English while studying at QMU and, as a result, I am often asked to contribute to University reports for government policy makers.</p>
<p class="txtMainBlack"><strong>What are you most proud of? </strong></p>
<p class="txtMainBlack">Being able to identify and teach Africa’s next generation of social scientists. I am delighted to be a lead facilitator on the Social Sciences Research Council on the programme ‘Next Generation of African Social Scientists’ which means I am helping to nurture and develop some of the leaders of the future in Africa. It is one of the most inspiring programmes I have been involved with, and one which will have real impact on the future of Africa.</p>
<p class="txtMainBlack"><strong>What’s the best bit about coming back Scotland? </strong></p>
<p class="txtMainBlack">The opportunity to come back to Edinburgh to take part in the ReBUILD project is fantastic. After a visit to Scotland I feel reborn! It’s like going to an academic Mecca!</p>
<p class="txtMainBlack"><strong>How have you stayed connected with QMU? </strong></p>
<p class="txtMainBlack">QMU gave me a future, so it’s important to me that I am able to give something back. I undertake joint research projects like the ReBUILD Consortium and I support QMU students who wish to carry out research in Uganda.</p>
<p class="txtMainBlack"><strong>What’s the most important life’s lesson you learned from your time at QMU? </strong></p>
<p class="txtMainBlack">Not everything has to be monetarised. People shouldn’t just help others if they are being paid. QMU academics really invested their time, energy and knowledge to help me. That went far beyond normal paid academic hours.</p>
<p class="txtMainBlack">I have tried to use QMU’s values to positively influence teaching and research in Uganda. It is very satisfying to see how my students are now using their skills and knowledge to create change in our communities. QMU’s work really does have international reach. I am what I am today because of QMU!</p>
<p class="txtMainBlack"><strong>What are your best memories of QMU? </strong></p>
<p class="txtMainBlack">Staff and students from IIHD enjoying the beautiful gardens at the Corstorphine campus and the sense of camaraderie within the Centre and across the university.</p>
<p class="txtMainBlack">If you're a QMU graduate and have an interesting career story to tell, we're keen to hear from you. Please email <a href="mailto:jperkins@qmu.ac.uk" class="txtMainTextLinks">jperkins@qmu.ac.uk</a></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2015-11-23T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Interview with QMU graduate, Sarah Ssali, Senior Lecturer in Makerere University, Uganda]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Sarah Ssali, Senior Lecturer in Makerere University, Uganda, graduated with a PhD in International Health Studies from QMU’s Institute for Global Health and Development (1999 – 2003). She is now influencing the next generation of social scientists in Africa</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Sarah Ssali, Senior Lecturer in Makerere University, Uganda, graduated with a PhD International Health Studies from QMU’s Institute for Global Health and Development (1999 – 2003). She is now influencing the next generation of social scientists in Africa]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Interview with QMU graduate, Sarah Ssali, Senior Lecturer in Makerere University, Uganda]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information please contact Jonathan Perkins, Press and PR Officer, Queen Margaret University, Edinburgh, tel: 0131 474 0000, Email: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "bd42ccac-f7ca-4cd4-8d68-fb147b48e098",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Interview with QMU graduate, Sarah Ssali, Senior Lecturer in Makerere University, Uganda]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>