<?xml version="1.0" encoding="utf-8"?>
<Content Key="84911cc5-45e7-488f-86c6-cb93c519e183" Alias="2015.10.30 - Student film for Edinburgh charity helps prepare children for hospital" Level="5">
  <Info>
    <Parent Key="94c45b1a-49ef-4036-9be3-b5a4df2d2026">2015</Parent>
    <Path>/Home/NewsAndEvents/News//StudentFilmForEdinburghCharityHelpsPrepareChildrenForHospital</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T11:40:22</CreateDate>
    <NodeName Default="2015.10.30 - Student film for Edinburgh charity helps prepare children for hospital" />
    <SortOrder>104</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "b04079ec-07a3-4ec8-b4eb-553d5e8cf177",
    "name": "Student film for Edinburgh charity helps prepare children for hospital",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Student film for Edinburgh charity helps prepare children for hospital",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p class="txtMainBlack">Third year students, Alice McKinney and Emma Foster, volunteered to create a specialist film for an Edinburgh-based charity.</p>
<p class="txtMainBlack">The voluntary sector organisation ‘What? Why? Children in Hospital’ helps parents and carers prepare their children by reducing the anxiety associated with hospital visits. The charity makes video clips suitable for children and parents so they know what to expect when they go into hospital and answers some questions starting with ‘what’ and ‘why’ about procedures and treatments.</p>
<p class="txtMainBlack">Dr Marit Boot, from the What? Why? Children in Hospital charity, explained: “A hospital visit can be a very scary time for children, as well as their parents. The need for specific procedures can be difficult for parents to explain, for example most children may not understand why they need a blood test or what happens when a patient goes into an MRI machine. We wanted to make it easier for families to understand what happens in hospital and so our charity website offers a number of useful and informative short video clips which help parents prepare their children for hospital visits and medical procedures.”</p>
<p class="txtMainBlack">She continued: “We knew that QMU’s film students often worked on external projects and we hoped they could use their talents to assist us in developing our next film ‘How do I prepare my child for hospital?’</p>
<p class="txtMainBlack">“We attended the University’s film screening at Edinburgh’s Filmhouse, which showcased an impressive range of work produced by QMU film and media students. We approached the University and were delighted when Alice and Emma agreed to volunteer their time to help us create the new film.</p>
<p class="txtMainBlack">Twenty-four year old Alice McKinney, said: “We were really pleased to get involved. We were not only helping the charity, the project allowed us to gain experience of dealing with sensitive topics and working with a client. It also helped us build on our existing portfolio of films.”</p>
<p class="txtMainBlack">The students, who have already established their own video production company ‘Bonnyblink Productions’, used their summer holidays to carry out the filming and editing for the project. Most of the filming was done on location at the new Glasgow Royal Hospital for Children.</p>
<p class="txtMainBlack">Emma Foster, aged 21, said: “We particularly enjoyed meeting and interacting with parents, children and healthcare specialists, and helping to tease out the essential information that would eventually help families going through similar hospital experiences.”</p>
<p class="txtMainBlack">Graham Drysdale, Lecturer in Film at Queen Margaret University, said: “We have had glowing reports from the charity about the girls work. We are extremely pleased at the way the students conducted themselves throughout this project – interacting skilfully with parents, children and charity representatives. The girls were only in second year when they worked on the project and the quality and content of their film is very impressive. We are sure it will be a valuable resource to the charity.”</p>
<p class="txtMainBlack">Dr Marit Boot said: “It was a pleasure working with Emma and Alice and we are grateful that Queen Margaret University supported this project by lending the essential video production equipment necessary to create the film. ‘How do I prepare my child for hospital?’ will be an extremely useful tool in helping parents communicate with their children before hospital visits.”</p>
<p class="txtMainBlack">The video is now available on the <a href="https://www.whatwhychildreninhospital.org.uk/videos" title="What? Why? Children in Hospital">What? Why? Children in Hospital</a> website and on <a href="https://www.youtube.com/watch?v=UrWr07cCN5U" title="Preparing your child for hospital (YouTube video)" data-anchor="?v=UrWr07cCN5U">YouTube</a>.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2015-10-30T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Student film for Edinburgh charity helps prepare children for hospital]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Two Media students from QMU have used their creative talents to help parents prepare their children for a visit to hospital.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Two Media students from QMU have used their creative talents to help parents prepare their children for a visit to the hospital. Third-year students, Alice McKinney and Emma Foster volunteered to create a specialist film for an Edinburgh-based charity.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Student film for Edinburgh charity helps prepare children for hospital]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p class="txtMainBlack">Alice McKinney and Emma Foster, the QMU film students involved in the production of the new film, run the video production company <a href="https://vimeo.com/bonnyblinkproductions" title="Bonnyblink Productions Vimeo profile">Bonnyblink Productions</a>. </p>
<p class="txtMainBlack">Find out more about The <a href="https://www.whatwhychildreninhospital.org.uk/" title="What? Why? Children in Hospital">What? Why? Children in Hospital</a> charity.</p>
<p>For further media information please contact Lynne Russell, Communications Manager, Queen Margaret University, Edinburgh, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a>, T: 0131 474 0000, M: 07711 011239 or Jon Perkins, Press and PR Officer on E: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a>, T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "eeb7a2d2-2411-43cc-98ef-9668ed10177a",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Student film for Edinburgh charity helps prepare children for hospital]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>