<?xml version="1.0" encoding="utf-8"?>
<Content Key="8555360f-4020-4f37-ab53-38bee6b4e864" Alias="Impact of COVID-19 on children of colour in Scotland" Level="5">
  <Info>
    <Parent Key="cc05e446-ed65-42dd-99cf-a00599b78d88">Covid-19</Parent>
    <Path>/Home/ResearchAndKnowledgeExchange/QMUResearch/Covid19/ImpactOfCOVID19OnChildrenOfColourInScotland</Path>
    <Trashed>false</Trashed>
    <ContentType>generalLandingPage</ContentType>
    <CreateDate>2022-04-05T11:07:03</CreateDate>
    <NodeName Default="Impact of COVID-19 on children of colour in Scotland" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2d105c-dfa8-42d8-8bd5-cf850a36952d">GeneralLandingPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "cfaf3255-f55d-419c-9845-f2050935b421",
    "name": "Impact of COVID-19 on children of colour in Scotland",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Impact of COVID-19 on children of colour in Scotland",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><span class="lead">Research Team</span></p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 268px;">
<tbody>
<tr style="height: 232px;">
<th style="width: 50%; height: 232px;">
<p style="text-align: left;"><strong>Principal Investigator</strong></p>
<p style="text-align: left;">Dr Caralyn Blaisdell, Queen Margaret University</p>
</th>
<td style="width: 50%; height: 232px;">
<p>       <img src="?width=310&amp;height=197&amp;mode=max" alt="Caralyn Blaisdell" width="310" height="197" data-udi="umb://media/2d6eeb861a72426db359078001a7fbee" /></p>
</td>
</tr>
<tr style="height: 18px;">
<th style="width: 50%; height: 18px;">
<p style="text-align: left;"><strong>Research Assistant</strong></p>
<p style="text-align: left;">Fatmata K Daramy, Queen Margaret University</p>
</th>
<td style="width: 50%; height: 18px;">              <img src="?width=239&amp;height=239&amp;mode=max" alt="Image of Fatmata K Daramy" width="239" height="239" data-udi="umb://media/b2220217c27042adab9bde4810aec9a8" /></td>
</tr>
<tr style="height: 18px;">
<th style="width: 50%; height: 18px;">
<p style="text-align: left;"><strong>Consultant</strong></p>
<p style="text-align: left;">Pavithra Sarma</p>
</th>
<td style="width: 50%; height: 18px;">              <img src="?width=240&amp;height=240&amp;mode=max" alt="Image of Pavithra Sarma" width="240" height="240" data-udi="umb://media/43f3cc0b265a44c09f495e49c451e369" /></td>
</tr>
</tbody>
</table>
<p> </p>
<p><span class="lead">Community Advisors</span></p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 50%; text-align: left;">
<p>Tamzin McDonald</p>
</th>
<td style="width: 50%;">                  <img src="?width=196&amp;height=251" alt="Image of Tamzin McDonald" width="196" height="251" data-udi="umb://media/08653dff38564356b4f25bd65eb20cad" /></td>
</tr>
<tr>
<th style="width: 50%; text-align: left;">
<p>Benitha Iradukunda</p>
</th>
<td style="width: 50%;">                   <img src="?width=191&amp;height=340&amp;mode=max" alt="Image of Benitha Iradukunda" width="191" height="340" data-udi="umb://media/aa0defe03bc84727b49d03cae190d75d" /></td>
</tr>
</tbody>
</table>
<p> </p>
<p><span class="lead">Child Advisory Team</span></p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 50%; text-align: left;">
<p>Ashaanka Sarma</p>
</th>
<td style="width: 50%;"> </td>
</tr>
<tr>
<th style="width: 50%; text-align: left;">
<p>Jamal Imran</p>
</th>
<td style="width: 50%;"> </td>
</tr>
</tbody>
</table>
<p> </p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead">Background of the project</span></p>
<p>The project investigated how children<span> of colour </span>are experiencing the pandemic, and what they want public services to do in order to actually help them and their communities. The project was designed in collaboration with grassroots anti-racist activists, researchers and educators in Scotland (see ‘Research Team’).</p>
<p>This research was funded by the Scottish Funding Council: <em>Research Funding to Mitigate the Effects of COVID 19 on the Research Base</em></p>
<p><span class="lead"><strong>Research Methods</strong></span></p>
<p>To adhere to lockdown rules and to ensure the safety of participants, the research was conducted online/at a distance using a range of methods. Different methods were used to maximise the flexibility of participation. Such methods included:</p>
<ul>
<li>Zoom interviews</li>
<li>Writing or drawing</li>
<li>Voice recordings</li>
</ul>
<p>Many children had support from adults to take part, while others took part on their own.  </p>
<p><span class="lead"><strong>Participants</strong></span></p>
<p>35 children of colour living in Scotland, aged between 9 months – 15 years of age, with the average age being 9 years old.</p>]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Impact of COVID-19 on children of colour in Scotland]]></Value>
    </displayTitle>
    <focusPanel>
      <Value><![CDATA[[
  {
    "key": "5a57982b-9ba8-4c54-a936-d95a44e597b7",
    "name": "Research Briefing",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Research Briefing",
    "content": "",
    "image": "umb://media/8704c6a2d46f4574be604944a2954492",
    "link": "[{\"name\":\"Research Briefing\",\"udi\":\"umb://document/cababef86eff43b4add5982cf508e35c\"}]"
  },
  {
    "key": "78808db9-965c-4f25-960e-18adcd6f87b0",
    "name": "Comic Book",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Comic Book",
    "content": "",
    "image": "umb://media/b87fbae2858f4c21b6e45da808d2ea04",
    "link": "[{\"name\":\"Comic Book\",\"udi\":\"umb://document/6215ead906534e0183c030292feddcb4\"}]"
  },
  {
    "key": "2aba6746-3b1f-44b9-9132-e70aa0bc84a9",
    "name": "Official Report",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Official Report",
    "content": "",
    "image": "umb://media/3a38e17c45ab4b6cb8ed80d044e800e5",
    "link": "[{\"name\":\"Official Report\",\"udi\":\"umb://document/bc3c8b7e0fa043ca9f3a01ab40533072\"}]"
  }
]]]></Value>
    </focusPanel>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">This qualitative project investigated the social and cultural impact of the COVID-19 pandemic on Black, Asian and other racialised minority ethnic children in Scotland (hereafter ‘children of colour’). </span></p>
<p><a name="_ftn1" href="#_ftnref1"></a></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Impact of COVID-19 on children of colour in Scotland | QMU Research | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "b8713d77-2b64-498d-a30f-902095edaaf1",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "usefulLinks",
                    "value": {
                      "name": "Useful Links",
                      "title": "Useful Links",
                      "usefuls": [
                        {
                          "icon": "icon-link",
                          "name": "Launch Night Recording - YouTube Video",
                          "published": true,
                          "queryString": null,
                          "target": "_blank",
                          "trashed": false,
                          "udi": null,
                          "url": "https://www.youtube.com/watch?v=UGIsEOkntz8"
                        }
                      ],
                      "useDarkTheme": "1"
                    },
                    "id": "3747b677-99d3-bd10-9247-3bd87dd8436f"
                  },
                  "editor": {
                    "alias": "Useful Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Impact of COVID-19 on children of colour in Scotland]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>