<?xml version="1.0" encoding="utf-8"?>
<Content Key="89f7e861-d6e2-4996-a873-e3e1fd973751" Alias="Up your 5 a day game" Level="5">
  <Info>
    <Parent Key="a7f7a52a-a62f-430c-aad9-5452b8a5bb76">Lucie Weir</Parent>
    <Path>/Home/CampusLife/Blogs/LucieWeir/UpYour5ADayGame</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2021-01-28T15:34:46</CreateDate>
    <NodeName Default="Up your 5 a day game" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65102975-f5a6-47bf-9418-b0e82dc7c288">BlogPost</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/ce22aa2c00004b7f9e2c081eafadc468]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "c66dace2-4da0-4db6-a1f4-e7e25f7c4493",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/0b4af6e2f09e47e3967bb9b3804ad8b6",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p>But the question is, how many carrots do we actually need to eat per day to gain the supposed important health benefits? Especially the night vision our grandparents promised us*. What actually is a recommended “portion” of fruit and vegetables? As well, what does this look like on a plate?</p>
<p>So to answer the above queries, here is a brief list devised to hopefully make your life a little bit easier, regarding reaching the 5-a-day goal for optimum health.</p>
<p><em>*= Not scientifically proven but grannies are just so cute and crafty we believed them!</em></p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 50%;"><strong>Fruit</strong></th>
<th style="width: 50%;"><strong>Vegetables</strong></th>
</tr>
<tr>
<td style="width: 50%;">1/2 grapefruit</td>
<td style="width: 50%;">1 medium-sized tomato</td>
</tr>
<tr>
<td style="width: 50%;">1 apple, banana, nectarine, orange, pear and slice of melon</td>
<td style="width: 50%;">2 florets of broccoli</td>
</tr>
<tr>
<td style="width: 50%;">2 kiwis, plums and slices of mango</td>
<td style="width: 50%;">3 tablespoons of carrots, green beans, spinach, sweetcorn and sticks of celery</td>
</tr>
<tr>
<td style="width: 50%;">7 blueberries and strawberries</td>
<td style="width: 50%;">4 tablespoons of wilted kale and spinach</td>
</tr>
<tr>
<td style="width: 50%;">30g of dried fruit</td>
<td style="width: 50%;">7 cherry tomatoes</td>
</tr>
<tr>
<td style="width: 50%;">150ml of pure fruit juice</td>
<td style="width: 50%;">150ml of vegetable juice</td>
</tr>
</tbody>
</table>
<p><span style="font-size: 14px;">Unfortunately, potatoes do not count as portion of your 5-a-day. They are regarded as a starchy food, similar to bread, pasta and rice – which are all really important to include in the diet. However, they do not contribute towards your daily recommended intake for fruit and vegetables.</span></p>
<p>On the other hand, frozen fruit and vegetables have the same retained nutrient quality as fresh options. Therefore, they have the same portion recommendation. Frozen fruits and vegetables are so handy and can be much cheaper than fresh food, if you are buying in bulk. Take them out of the freezer and they’re ready to go when making meals! Try frozen berries as a porridge topping or peas to toss in when preparing a chicken fried rice.</p>
<p>Smoothies are also such a great way to boost your daily intake of fruit and vegetables. Try adding a handful of spinach to a banana, nut butter, milk smoothie. The spinach will make your blend go an amazing green colour and you honestly won’t taste it, because the flavour is overpowered by the deliciously sweet ripe banana. Two portions of your 5-a-day in one nutrient-packed glass. Such a great start to any the day.</p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[2017-06-16T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Up your 5 a day game]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>I’m sure you are probably quite well aware that we are recommended to eat five portions of fruit and vegetables a day. “Probably” is a slight understatement. You will have most definitely heard this before at some point during your life. There are so many posters, documentaries, celebrity chefs and television adverts promoting this health promoting lifestyle. I’m sure even your granny harped on for years at you about the benefits of including fruit and veggies in our diets. Especially carrots for some reason.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[I’m sure you are probably quite well aware that we are recommended to eat 5 portions of fruit and vegetables a day. “Probably” is a slight understatement. You will have most definitely heard this before at some point during your life. There are so many posters, documentaries, celebrity chefs and television adverts promoting this health promoting lifestyle. I’m sure even your granny harped on for years at you about the benefits of including fruit and veggies in our diets. Especially carrots for some reason.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Up your 5 a day game]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Up your 5 a day game]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>