<?xml version="1.0" encoding="utf-8"?>
<Content Key="89fff50c-7232-467c-93a3-fea79f0b2792" Alias="2018.16.03 - QMU offers lifeline to colleges Performing Arts degrees" Level="5">
  <Info>
    <Parent Key="5498406d-bedc-400c-9545-066855cf03b7">2018</Parent>
    <Path>/Home/NewsAndEvents/News//QMUOffersLifelineToCollegesPerformingArtsDegrees</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T21:06:50</CreateDate>
    <NodeName Default="2018.16.03 - QMU offers lifeline to colleges Performing Arts degrees" />
    <SortOrder>48</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/bf4a759696f64bd0acf82ea70a3f2999]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "81c486f6-f9b5-4d45-bb76-1007f8234162",
    "name": "QMU offers lifeline to college's Performing Arts degrees",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/2f4045e988ad4ddab35a8394f886c5d8",
    "title": "QMU offers lifeline to college's Performing Arts degrees",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The BA Acting and BA Musical Theatre degree courses may be able to continue at the College’s Coatbridge and Motherwell campuses, after QMU agreed to partner with the College in order to take on the validation and accreditation of the courses, adding to its existing repertoire of highly regarded performing arts courses.</p>
<p>One of only a handful of degree level performing arts providers in Scotland, New College Lanarkshire has built a strong reputation in performing arts throughout the years, giving prospective students and budding artists from across the country the opportunity to study from HND through to degree level.</p>
<p>The partnership with QMU will allow the degree courses to continue at the College, following uncertainty over their future after the College’s partnership with former validator, Northumbria University, came to an end.</p>
<p>As well as extending options for those looking to study Acting and Musical Theatre at degree level, current students studying at HND level will now have the opportunity to progress onto one of the BA programmes at New College Lanarkshire – building their skillset and enhancing their opportunities for the future. </p>
<p>Matthew Smith, Head of Faculty for Creative Industries at New College Lanarkshire, said:</p>
<p>“We are absolutely thrilled that QMU has stepped in to save our much loved BA Acting and BA Musical Theatre degree courses, essentially securing the future of so many of our students across Scotland who hope to progress to it.</p>
<p>“New College Lanarkshire already has a strong presence in the performing arts industry, but by having a partnership with a University as reputable as QMU, we will be enhancing our offering while providing more opportunities to our students.”</p>
<p>Dr David Stevenson, Head of Division of Media, Communication and Performing Arts at Queen Margaret University, said: “QMU has been delivering courses in culture and creativity for over forty years and we are committed to the sustainability and diversity of the cultural sector in Scotland. It is vital that young people, irrespective of their background, have accessible routes into the creative industries and we are very keen to partner with other institutions to help create even more opportunities for this to happen.</p>
<p>“We are therefore delighted to work with New College Lanarkshire to help ensure the ongoing delivery of its high quality performing arts portfolio with a view to the courses being up and running in time for the August start this year.”</p>
<p>New College Lanarkshire offers a range of performing arts courses in professional dance, acting, performance and musical theatre across various levels up to degree. Find out more about <a href="https://www.nclanarkshire.ac.uk/courses/performing-arts" title="New College Lanarkshire: Performing arts courses">New College Lanarkshire's performing arts courses</a>.</p>
<p>Queen Margaret University also offers degree-level programmes in acting, costume design and construction, drama, and performance.</p>
<p><strong>ENDS</strong></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2018-03-16T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU offers lifeline to college's Performing Arts degrees]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Queen Margaret University has offered a lifeline to New College Lanarkshire by agreeing to validate performing arts courses that were under threat of cancellation.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Queen Margaret University has offered a lifeline to New College Lanarkshire by agreeing to validate performing arts courses that were under threat of cancellation. 
The BA Acting and BA Musical Theatre degree courses may be able to continue at the College’s Coatbridge and Motherwell campuses, after QMU agreed to partner with the College in order to take on the validation and accreditation of the courses, adding to its existing repertoire of highly regarded performing arts courses.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU offers lifeline to new College Lanarkshire by validating performing arts courses: |News and Events|Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p><em>For further media information please contact Lynne Russell, Communications Manager, Queen Margaret University, Edinburgh, E: </em><a href="mailto:lrussell@qmu.ac.uk"><em>lrussell@qmu.ac.uk</em></a><em>; T: 0131 474 0000, ML 07711 011239 or Jonathan Perkins, Press and PR Officer, E: </em><a href="mailto:jperkins@qmu.ac.uk"><em>jperkins@qmu.ac.uk</em></a><em> T: 0131 474 0000</em></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "d5a267db-1b5e-4b2a-adb8-bf9d5f41376e",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU offers lifeline to college's Performing Arts degrees]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>