<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ca6d367-2350-4016-85c2-518587e58165" Alias="Postgraduate Research Study" Level="5">
  <Info>
    <Parent Key="fd8d05c3-f1fb-434a-84a0-a8de69930b3e">Study Here</Parent>
    <Path>/Settings/Navigation/MainNavigation/StudyHere/PostgraduateResearchStudy</Path>
    <Trashed>false</Trashed>
    <ContentType>navigationItem</ContentType>
    <CreateDate>2021-01-19T20:08:00</CreateDate>
    <NodeName Default="Postgraduate Research Study" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <link>
      <Value><![CDATA[[
  {
    "name": "Postgraduate Research Study",
    "url": "/study-here/postgraduate-research-study/"
  }
]]]></Value>
    </link>
  </Properties>
</Content>