<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ca98eb3-0620-4f8f-8677-82861c5700f3" Alias="Student Guide v2" Level="6">
  <Info>
    <Parent Key="d8e85aae-a221-491c-a279-b31b77b3d873">CAP</Parent>
    <Path>/Home/StudyHere/LearningFacilities/ITServices/CAP/StudentGuideV2</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-06-08T15:06:33</CreateDate>
    <NodeName Default="Student Guide v2" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/4346ccc8e2be4e82ba5d10a010f0a9ef]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "f71fec35-7137-4b3e-9642-5f0fec762e9a",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/48742e1d42a94cf48120315d575c3847",
    "title": "",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Web Peer Assessment (WebPA) is an online tool which enables students in a group to peer review. Group work is often criticised because each student receives the same team mark regardless of individual performance. By using WebPA, peers assess each members of the group’s contribution to their work and then each student receives an adjusted mark. If a student has worked hard, contributed consistently throughout the group project and been committed to the group, then they will receive a better mark than their peers who have not contributed to the same extent.</p>
<p>You will be provided with a link in the Hub which will take you to online area with the name of your group. Then, for each group member you can rank their performance from 1 to 5 for each criterion, for example, meeting deadlines, contributing quality resources. Once the tutor has given your group a grade the marks that you have allocated for each criteria will affect the final mark that each member receives.</p>
<p>An example:</p>
<p>Your tutor grades a group with 66%. Normally all the members of the group would receive 66% regardless of how much they had contributed to the group’s work.</p>
<p>With online peer assessment, a percentage of the mark is based on the tutor’s grade and the remainder on peer assessment. One student, Mary, who has worked hard and contributed to the progress of the group may have her grade increased to 73% through peer marking (her peers acknowledge her commitment by ranking her highly on all the criterion) but Sam who has not been so committed may find that his grade is reduce to 59%. Tutors can check and moderate peer scores and override if appropriate (see picture below).</p>
<p><img src="https://qmu.ac.uk/media/10487/5558-student-guide-v2-1.jpg" alt="Image of Bar chart showing typical distribution of individuals marks." /></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>A full worked example of the algorithm explaining how these grades are worked out is available at: http://webpaproject.lboro.ac.uk/?q=node/125. This system has been widely used at Loughborough University for over ten years and at Edinburgh, Cardiff and many other universities through out the UK.</p>
<p><strong>How do I complete the peer assessment?</strong></p>
<p>Go to the appropriate module in the Hub. Here you tutor will have created a link which will clearly state peer assessment When you click the link, you should see the name of your group work (in this case poster groupwork) and the dates when the assessment is open for you to complete. Click on Take Assessment.</p>
</div>
</div>
</div>
<p><img src="https://qmu.ac.uk/media/10488/5558-student-guide-v2-2.jpg" alt="Image showing Take Assessment section of Hub@QMU platform" /></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>You will then be presented with a new web page which shows you the criteria for rating your peers. You can rate each of your peers and sometimes your tutor will ask you to rate yourself as well.</p>
<p><img src="https://qmu.ac.uk/media/10489/5558-student-guide-v2-3.jpg" alt="Image of Assessment Criteria and Rating section of hub@QMU platform" /></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>After you have rated your peers, and perhaps yourself, you may be asked to provide feedback. This is very important and will help your tutor understand why you rated your peers. It is essential that you provide as much information as possible. In most cases, the feedback will not be returned to your peers but will only be viewed by your tutors. If your tutors do decide to return the feedback to your peers, they would normally expect to inform you of this.</p>
<p><img src="https://qmu.ac.uk/media/10490/5558-student-guide-v2-4.jpg" alt="Image of Peer Assessment and Save Score(s) section of hub@QMU platform" /></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>After completed the feedback, click on save Score(s). Please contact your tutor for further information.</p>
<p> </p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[A student guide to online web peer assessment (WebPA)]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>A student guide to online web peer assessment (WebPA)</strong></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[An informative webpage about A student guide to online web peer assessment (WebPA) from the CAP Department of Queen Margaret University]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[A student guide to online web peer assessment (WebPA) | CAP | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "1e1cc673-956a-4da4-b25a-5b2eab8b3b7f",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[A student guide to online web peer assessment (WebPA)]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>