<?xml version="1.0" encoding="utf-8"?>
<Content Key="8cc18f86-ab27-4bfc-aca8-58d0203d3d24" Alias="Jonathan’s Exchange" Level="5">
  <Info>
    <Parent Key="85f60739-4f45-4891-bce0-83cd4b4b9fc2">Study Abroad - Magazine layout</Parent>
    <Path>/Home/StudyHere/InternationalStudentsRevamp2022/StudyAbroadMagazineLayout/JonathanSExchange</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2022-04-11T11:17:42</CreateDate>
    <NodeName Default="Jonathan’s Exchange" />
    <SortOrder>35</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="352afafb-7425-4e97-b145-ab96eebf5bdc">BlogBio</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "4d24fe95-738c-4e9d-ad39-af3b07dd903f",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Jonathan's Semester Abroad",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p><span class="lead-big">Jonathan Jorgens – Business Management – Level 3</span></p>
<p><span class="lead">Acadia University, Canada</span></p>
<p>I went to Acadia University in Nova Scotia Canada for my first semester in the third year. Both of my sisters went on exchange programs before me in their respective universities and told me I had to do it for the experience. Personally, I was not that interested in an exchange semester but if your two older sisters say, you should do something it’s not like you have a choice.</p>
<p>When I selected a place to go, the university itself was not that important. I wanted to go to Canada because I wanted to experience the cold Winter. I did not go alone to Acadia one classmate also went to Acadia. When I arrived, the university was a lot larger than my university in Scotland and steeper, getting around the campus was a workout in of itself. But having food provided at the cafeteria seven days a week made up for this. Furthermore, the swimming pool was exemplary. The actual town was tiny and there was not a lot going on, which did not matter for me because I don’t actually go out that much anyway.</p>
<p>I did not hang out with Canadians but with fellow internationals one was from Wales, two from Korea and the last one from Macau, not that this is unusual. We ate together at the cafeteria and talked mainly about football. The winter I was looking forward to, did not come because I was at the East coast the weather stayed rather mild, it snowed but never more than a couple of inches. I did spend a week in Quebec City just as it stated to snow which was cold and fun. I saw a Polar bear and some snow foxes and the zoo. (Didn’t take any pictures). On the drive back from Quebec to Acadia the snow really started to fall and because I had a rented car with all terrain wheels which are not equipped for Canadian snow I nearly crashed on the motorway.</p>
<p>My most surprising experience was that I had a group project where all the members of the group contributed. Overall my courses where interested and I felt would help me in my career. The were no lectures just seminars with 20-30 students. There were a lot more essays and tests but each of them were not as in depth as I was used to and quoted in a different style.</p>
<p>Even though I only went because my sisters made me, I enjoyed my exchange and am very happy I went.</p>]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Jonathan's Exchange]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[June 4, 2019]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[I went to Acadia University in Nova Scotia Canada for my first semester in the third year. Both of my sisters went on exchange programs before me in their respective universities and told me I had to do it for the experience. Personally, I was not that interested in an exchange semester but if your two older sisters say, you should do something it’s not like you have a choice.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Jonathan’s Exchange | Reasons to Study Abroad | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Jonathan’s Exchange]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>