<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f0792c3-523e-4c30-8284-79f43d5db6de" Alias="QMU RKE" Level="4">
  <Info>
    <Parent Key="1eaae8dd-9255-4f28-aa92-104fdb786081">Paul</Parent>
    <Path>/Home/DocumentMigrationAugust2022/Paul/QMURKE</Path>
    <Trashed>false</Trashed>
    <ContentType>folders</ContentType>
    <CreateDate>2022-09-05T08:38:52</CreateDate>
    <NodeName Default="QMU RKE" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>