<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ffd2062-0c39-4139-8750-5b8d3bccdc76" Alias="Cycle Connections" Level="3">
  <Info>
    <Parent Key="a713799d-e020-4325-bb06-3efbd482f213">Location and Getting Here</Parent>
    <Path>/Home/LocationAndGettingHere/CycleConnections</Path>
    <Trashed>false</Trashed>
    <ContentType>generalLandingPage</ContentType>
    <CreateDate>2021-02-09T11:57:53</CreateDate>
    <NodeName Default="Cycle Connections" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2d105c-dfa8-42d8-8bd5-cf850a36952d">GeneralLandingPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/b3ecd349cb674f698e9ce0746b4f1cb6]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "f55f2d8c-1476-4457-8fa2-928e89595664",
    "name": "Cycle Connections",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/9068f094f6de49a8ac5791652d8e2600",
    "title": "Cycle Connections",
    "description": "For all things cycling at QMU",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[umb://document/3912eed23253405a8c78cabc9d61af51]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Cycle Connections]]></Value>
    </displayTitle>
    <focusPanel>
      <Value><![CDATA[[
  {
    "key": "8064c552-e6b7-4ed4-be7c-fee1c897dfdd",
    "name": "Facilities for Cyclists",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Facilities for Cyclists",
    "content": "",
    "image": "umb://media/861d4667980446e4ada53d34231f684e",
    "link": "[{\"name\":\"Facilities\",\"udi\":\"umb://document/359bccd00ef94c3aa3658a62d3c042b5\"}]"
  },
  {
    "key": "688167e6-dbfc-4010-bbda-39a59c3dbab4",
    "name": "Top Reasons to Cycle to QMU",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Top Reasons to Cycle to QMU",
    "content": "",
    "image": "umb://media/28fe0660d9a549bd906c5df2c0980545",
    "link": "[{\"name\":\"Top Reasons\",\"udi\":\"umb://document/a229b7440c3d459598b867b65e73a1da\"}]"
  },
  {
    "key": "dc2c0b78-1065-445b-aa6f-eb19dad82ebd",
    "name": "Plan Your Route",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Plan Your Route",
    "content": "",
    "image": "umb://media/28fe0660d9a549bd906c5df2c0980545",
    "link": "[{\"name\":\"Plan Route\",\"udi\":\"umb://document/47e0e17f6c0c4cf28034642786761832\"}]"
  },
  {
    "key": "430bb443-31d6-4be9-8e13-a9e4fb506e9f",
    "name": "Events",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Events",
    "content": "",
    "image": "umb://media/fb0c6be388ae462eacb342ba275f6af6",
    "link": "[{\"name\":\"Events\",\"udi\":\"umb://document/be3d4a783a6b414da74749b2a0cb8981\"}]"
  },
  {
    "key": "c3cd6589-0ea1-4c9f-8c84-54656f91a0ff",
    "name": "Gallery",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Gallery",
    "content": "",
    "image": "umb://media/ff1f5eaaff9b46e984b5fde59254fcf5",
    "link": "[{\"name\":\"Gallery\",\"udi\":\"umb://document/4f6083d738204824bccde9d63f35826e\"}]"
  }
]]]></Value>
    </focusPanel>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Cycle Connections is devoted to all things cycling at Queen Margaret University. Follow us on <a rel="noopener" href="https://www.facebook.com/cycleconnections/" target="_blank" title="Cycle Connection's Facebook page">Facebook</a> and <a rel="noopener" href="https://www.instagram.com/qmucycle/" target="_blank" title="Cycle Connection's Instagram page">Instagram</a> to keep up to date with all news and events affecting cycling life on campus.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[This page is devoted to all things cycling at Queen Margaret University. Keep up to date with all news and events affecting cycling life on campus.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Cycle Connections | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "1667311a-d65f-48a3-a461-aecc5c655895",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "customSocialMedia",
                    "value": {
                      "name": "Custom Social Media",
                      "facebook": "https://www.facebook.com/cycleconnections/",
                      "twitter": "",
                      "instagram": "https://www.instagram.com/qmucycle/",
                      "linkedIn": "",
                      "youTube": ""
                    },
                    "id": "b728de25-7859-7142-400a-f87ff84ff1f4"
                  },
                  "editor": {
                    "alias": "Custom Social Media",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "usefulLinks",
                    "value": {
                      "name": "Useful Links",
                      "title": "",
                      "usefuls": [
                        {
                          "icon": "icon-link",
                          "name": "Cycling UK",
                          "published": true,
                          "queryString": null,
                          "target": "_blank",
                          "trashed": false,
                          "udi": null,
                          "url": "https://www.cyclinguk.org/scotland"
                        },
                        {
                          "icon": "icon-link",
                          "name": "Cycle Scotland",
                          "published": true,
                          "queryString": null,
                          "target": "_blank",
                          "trashed": false,
                          "udi": null,
                          "url": "https://www.cycling.scot/"
                        }
                      ],
                      "useDarkTheme": "1"
                    },
                    "id": "4fe9a12e-7f6d-18a4-b491-d7d95eb3088d"
                  },
                  "editor": {
                    "alias": "Useful Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "usefulLinks",
                    "value": {
                      "name": "Useful Links",
                      "title": "",
                      "usefuls": [
                        {
                          "icon": "icon-link",
                          "name": "Cycle Streets",
                          "published": true,
                          "queryString": null,
                          "target": "_blank",
                          "trashed": false,
                          "udi": null,
                          "url": "https://www.cyclestreets.net/"
                        },
                        {
                          "icon": "icon-link",
                          "name": "Trail Forks",
                          "published": true,
                          "queryString": null,
                          "target": "_blank",
                          "trashed": false,
                          "udi": null,
                          "url": "https://www.trailforks.com/"
                        },
                        {
                          "icon": "icon-link",
                          "name": "Sustrans",
                          "published": true,
                          "queryString": null,
                          "target": "_blank",
                          "trashed": false,
                          "udi": null,
                          "url": "https://www.sustrans.org.uk/find-a-route-on-the-national-cycle-network/"
                        }
                      ],
                      "useDarkTheme": "0"
                    },
                    "id": "804fb497-bdfd-e38b-ff57-2e4d4fb1afd0"
                  },
                  "editor": {
                    "alias": "Useful Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Two Column",
          "id": "5755a33b-9006-419b-a033-16821220ccc0",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/a713799de0204325bb063efbd482f213,umb://document/c8e7e6e1c46a4673be27c7d8686dd396,umb://document/a6b6205e0dc64da1b1a68a080a8fc542,umb://document/a496e951eb4a4535a0baf04d116cc2d8,umb://document/0c0ea8b5d1be4b2dabfb24c32c43d1d8]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[Location and Getting Here]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Cycle Connections]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>