<?xml version="1.0" encoding="utf-8"?>
<Content Key="90022530-4e11-4621-884c-0be2943df09e" Alias="Forms and Guidance" Level="4">
  <Info>
    <Parent Key="c193260b-5586-48f2-9c85-d69c8c088b80">Quality</Parent>
    <Path>/Home/AboutTheUniversity/Quality/FormsAndGuidance</Path>
    <Trashed>false</Trashed>
    <ContentType>generalLandingPage</ContentType>
    <CreateDate>2021-02-04T10:03:16</CreateDate>
    <NodeName Default="Forms and Guidance" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2d105c-dfa8-42d8-8bd5-cf850a36952d">GeneralLandingPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/c22d0c6ccf2b4330b89bfd754047f43d]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "9d80d5ef-88a2-46bf-a59e-3225bc00022a",
    "name": "Forms and Guidance",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/5ba7ebf273a146879e4a79e910eced26",
    "title": "Forms and Guidance",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Forms and Guidance ]]></Value>
    </displayTitle>
    <focusPanel>
      <Value><![CDATA[[
  {
    "key": "4cd138d0-f397-4da6-b374-2b39de4eca6a",
    "name": "Research Ethics",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Research Ethics ",
    "content": "",
    "image": "umb://media/d28e75de2efe44e1ad8779579123984b",
    "link": "[{\"name\":\"QMU Research Ethics\",\"udi\":\"umb://document/02df0ba1ece54b56ae65089d2528af7f\"}]"
  },
  {
    "key": "ca02419d-1dca-4c6d-83b7-2631060281b1",
    "name": "External Examiner Forms",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "External Examiner Forms ",
    "content": "",
    "image": "umb://media/7aac589cb951451d8635294d69e2c972",
    "link": "[{\"name\":\"Forms for External Examiners\",\"udi\":\"umb://document/f245691fb03147138f3aa7286a40288a\"}]"
  },
  {
    "key": "e526d02e-8fac-48fb-807b-9f83d27e9a7f",
    "name": "Programme Design and Modification Forms",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Programme Design and Modification Forms ",
    "content": "",
    "image": "umb://media/c22d0c6ccf2b4330b89bfd754047f43d",
    "link": "[{\"name\":\"Forms for Programme Design\",\"udi\":\"umb://document/4ce2fc6405974e58932e799e86e78415\"}]"
  },
  {
    "key": "efcfbfd2-7d40-4134-a968-3d85d387f4a5",
    "name": "Other Forms",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Other Forms",
    "content": "",
    "image": "umb://media/c22d0c6ccf2b4330b89bfd754047f43d",
    "link": "[{\"name\":\"Other Forms\",\"udi\":\"umb://document/619f5558770b411cab928f6444eb864d\"}]"
  }
]]]></Value>
    </focusPanel>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Many of the University's quality procedures require completion of a form. Use of forms helps ensure consistency with regulations, completeness of information and accurate record keeping. As there are a large number of forms for different purposes, this section of the Quality site has been divided into discrete areas.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Many of the University's quality procedures require completion of a form. Use of forms helps ensure consistency with regulations, completeness of information and accurate record keeping. As there are a large number of forms for different purposes, this section of the Quality site has been divided into five areas.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Forms and Guidance | Quality and Governance | Queen Margaret University ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "5cc71f57-064b-4082-946f-6c4730cbc1bc",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "usefulLinks",
                    "value": {
                      "name": "Useful Links",
                      "title": "",
                      "usefuls": [
                        {
                          "icon": "icon-umb-content color-indigo",
                          "name": "Quality Contacts",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/9a6bb8073eab4862a73dd1a2b4d3bb7f",
                          "url": "/about-the-university/quality/quality-contacts/"
                        }
                      ],
                      "useDarkTheme": "1"
                    },
                    "id": "4623574b-5229-32cf-fec3-b4ed16c6a8d7"
                  },
                  "editor": {
                    "alias": "Useful Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/2e8f8dd13ab94a76b4bf4560db43e92a,umb://document/5adad35d05b1490597fc18a3622e0072,umb://document/11fa5041bcb541fa91fbba20a5881bea]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Forms and Guidance ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>