<?xml version="1.0" encoding="utf-8"?>
<Content Key="927ec4c1-fa62-467c-99e9-ec48e70c178d" Alias="Nursing Careers" Level="4">
  <Info>
    <Parent Key="31a6cb02-71b6-4bde-8ebf-c9e7bc106064">QMYOU Magazine - April 2023 (Edition 90)</Parent>
    <Path>/Home/AlumniAndFriends/QMYOUMagazineApril2023Edition90/NursingCareers</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2022-03-24T10:39:05</CreateDate>
    <NodeName Default="Nursing Careers" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="793fdbdc-4982-4bca-96be-86cd7d82393e">AlumniProfile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/520e456ad5c74096941a05137b53743a]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "21d4ea84-c189-4ce6-93de-70229bdafd86",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/601108f7ce32465889e0a1652c4ce676",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p><span class="lead-big"><strong>Nursing at QMU can take you anywhere</strong></span></p>
<p><strong>THE PANDEMIC, and the recent surge in demand for qualified nurses, has brought into stark focus just how critically important the nursing profession is to our health service and our wider society.</strong></p>
<p>Nursing can be an incredibly rewarding, challenging and varied career. Given the range of nursing opportunities available within the NHS and private practice, nurses have tremendous scope to carve out their own unique career in their chosen specialism.</p>
<p>Each career journey is unique – every nurse has a different story. In this feature, we find out about two nurses with very different interests and experiences.</p>
<p> </p>
<p><span class="lead-big"><strong>From high dependency in Edinburgh to Director of Clinical Services in Australia </strong></span></p>
<p><span class="lead">A DEGREE IN NURSING provides a skillset that can takeyou almost anywhere in the world. It offers graduates the opportunity to have a varied and rewarding career whilst living in an area of their choice. This is certainly true for QMU nursing graduate Caroline Wilson who has found herself climbing the career ladder and living her best life in the beautiful coastal city of Wollongong in Australia. </span></p>
<p>Caroline started her undergraduate nursing degree in 1999 when Queen Margaret University College, as it was then, was based at its Corstorphine campus. Recalling her experience of teaching and learning, she acknowledges the focus that lecturers had on staying active in nursing practice. She remembers a fantastic lecturer, Allison Gouldburn, who picked up intensive care shifts at the Western General to ensure she could connect current practice with academic learning.</p>
<p>Allison said: “Even though she was a full-time lecturer, she recognised that she still needed to keep up-to-date with what was happening on the ground. I was very impressed with that.” The same is true of many of QMU’s healthcare lecturers today.</p>
<p>Following graduation, Caroline worked for a year in gynaecology at the new Royal Infirmary of Edinburgh, before transitioning into the cardiothoracic high dependency unit where she worked until 2019. While still working in cardiothoracic critical care, Caroline also studied part-time for her postgraduate degree.</p>
<p>Caroline’s adventures Down Under began in 2016 when her husband took part in a 'year-long' teacher exchange programme. She landed in Oz without a job but soon picked up shifts in a local private hospital and a public hospital, mainly working in Accident and Emergency.</p>
<p>The year flew by, and when the family returned to the UK, they immediately looked for ways to move to Australia permanently.</p>
<p>After two years of planning, the Australian dream became a reality, with Caroline’s husband securing a job and Caroline returning to work at the same hospitals she had been at before in Wollongong.</p>
<p>Caroline explained: “It just snowballed. I started off as a registered nurse and then progressed. I did some work as a hospital educator and then I secured a role as Director of Clinical Services."</p>
<p>Something Caroline finds so unique about hervocation is the flexibility of a nursing career. Five of her closest classmates from QMU have all taken part in at least some nursing work abroad.</p>
<p>Caroline said: “Nursing is so portable. You can really go anywhere with it. I could never have imagined that I would end up in the role that I’m in now in Australia.</p>
<?UMBRACO_MACRO macroAlias="Quote" text="Going from my previous role working in critical care with post-op cardiac patients to the one I’m in now has just been brilliant. I&#x27;ve really enjoyed it, and it just shows the flexibility and diversity of a nursing degree." source="" sourceExtra="" />
<p><span class="lead">Caroline Wilson, Director of Clinical Services, Wollongong Private Hospital</span></p>
<p><span class="lead">BSc Nursing, Class of 2003</span></p>
<p> </p>
<p><span class="lead lead-big">You’re having a laugh!– Using humour in the ER?</span></p>
<p><span class="lead">WE ALL KNOW that laughter makes everything better. It can redirect <br>people’s focus, taking their mind off any pain that they are experiencing, and can diffuse a serious situation, making it seem less scary. That capacity to improve a situation is what attracted Kirk Dickerson to explore the use of humour in nursing care.</span></p>
<p>Originally from Idaho, USA, Kirk undertook the BSc (Hons) Nursing at QMU during his early 30s. In his final year, he carried out a fascinating dissertation which explored the use of humour in creating therapeutic relationships in the emergency department.</p>
<p>Kirk’s research is recognised as an exciting and ground-breaking piece of work which caught the attention of all the QMU nursing staff. He won ‘Undergraduate Dissertation of the Year 2022’ and was also awarded the ‘Brendan McCormack Award’.</p>
<p>Now 36, Kirk is carrying out his first year of nursing practice as a critical nurse at the Royal Infirmary of Edinburgh. So, in the serious business of ITU - better known to many as intensive care - what fuelled his interest in the power of comedy?</p>
<p>Kirk explained: “From a young age, I realised that humour is something that is generally well received by others, as long as the joke is not at their expense. Throughout my nurse training, I used humour to develop relationships with people in my care, and they almost always responded positively.</p>
<?UMBRACO_MACRO macroAlias="Quote" text="If I instigated the humour, I noticed that other patients in the vicinity would start joking, or at least chatting to
each other more. So, it became a useful icebreaker and social connector." source="" sourceExtra="" />
<p>He continued: “The use of therapeutic humour in healthcare is a way for nurses to help patients manage psychological and emotional difficulties and cultivate therapeutic relationships. I realised there was untapped potential in this area, so for my dissertation I carried out a literature review to explore the use of humour to facilitate, promote, and expedite the formation of therapeutic relationships in the emergency department.</p>
<p>“By using humour, nurses hope to cultivate a therapeutic relationship based on trust, by alleviating concerns and fears that service users understandably have when faced with an admission to the emergency department.”</p>
<p>Kirk concluded: “The use of humour in nursing practice is a greatly under-utilised resource which has the capacity to help nurses fully care for service users. Whilst I’m still in the early stages of my work in ITU, I believe there will be ample opportunities to use therapeutic humour as I develop my practice in ITU. I can certainly identify particular situations for future exploration, for example, in reducing the stress experienced by family members when visiting a loved one in ITU.</p>
<p>“So, despite the challenges for nurses and patients, I’ll keep smiling and laughing to help us through the tough times.”</p>
<p><span class="lead">Kirk Dickerson, BSc (Hons) Nursing, </span><br><span class="lead">Class of 2022 </span></p>]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Nursing Careers]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[QMYOU Magazine - April 2023 (Edition 90)]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Nursing at QMU can take you anywhere.

THE PANDEMIC, and the recent surge in demand for qualified nurses, has brought into stark focus just how critically important the nursing profession is to our health service and our wider society.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Nursing Careers | QMYou Magazine | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Nursing Careers]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>