<?xml version="1.0" encoding="utf-8"?>
<Content Key="92ed1592-625b-40eb-a1d4-7ab54dc6e582" Alias="Why our occupation matters more than ever" Level="4">
  <Info>
    <Parent Key="c0bea5ca-bff8-4c6d-ae2d-1cc18dc67f0f">Blogs</Parent>
    <Path>/Home/AtHome/Blogs/WhyOurOccupationMattersMoreThanEver</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-09T11:28:42</CreateDate>
    <NodeName Default="Why our occupation matters more than ever" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/695413a7552b4bc08831a7573fec5acb]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "871a86ce-e9f9-40ef-b5a0-d17ed9787b64",
    "name": "Why our occupation matters more than ever",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/1b890689952742d291468a4195a34d91",
    "title": "Why our occupation matters more than ever",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Living with the government restrictions imposed to reduce transmission of COVID-19 has brought in to sharp focus all those things we do (or now cannot do). In particular COVID-19 has increased our awareness of those occupations that are important for us, which seem to bring particular meaning to our lives, and how those occupations support our health and happiness. Occupations are important because they enable us to survive, and to use and hone our skills and abilities. They allow us to express ourselves, to connect us with others including the natural world, and to experience pleasure and a sense of belonging.</p>
<p>As occupational therapists we know that many events, such as illness, moving house, being unemployed, or taking retirement, can bring changes to our occupations. Such changes may be expected, planned or, as in the case of COVID-19, unanticipated and unwelcomed. We also know, however, that occupations themselves can help us adapt to these transitions. These days, as we develop a new ‘normal’, and transition to social distancing practices, and as many of us miss our immediate friends and families, occupations can support and enable the development of new daily routines and rhythms.</p>
<p>Some of the work of occupational therapists is to support people as they explore new or modified ways of doing their occupations, introduce new occupations into their lives, and brainstorm opportunities to approach the challenges and barriers to engaging in occupations. This work is undertaken to support the creation of satisfying lives for individuals, families, and the wider community.</p>
<p>With this in mind, some key ideas from occupational therapy and occupational science around building a healthy life through occupation’ may help us cope with the significant changes COVID-19 has created. For example:</p>
<ul>
<li>A routine is important but also a sense of control. Choose when you feel it is right to do your various occupations as well as what you think is important for you and those around you to do. Share this and plan it with your family.</li>
<li>Try to keep a balance between your various occupations. Balance is not about amount of time but about balance between the things you have to do and the things you want to do; between the things that tire you and things that give you energy; between movement and stillness; between social and individual.</li>
<li>Occupations that give us particular satisfaction or meaning, that are special to us in some way, are particularly important. We need to try to do these regularly, even if doing so requires a creative or novel approach. Make time for them.</li>
<li>Creativity is important in helping us to find ways to adjust to challenges we may be facing. This is both creativity as a means of expression and for having fun, but also in finding ways to do things differently - that new recipe for bread when the flour we usually use is not available, inventing games to play via social media.</li>
<li>And of course, keep in touch with friends and family, but also with your neighbours. Not everyone knows their neighbours, but you can still feel connected through a smile at people as you pass them, give a wave or say hello. It is good to have eye contact, to feel seen.</li>
</ul>
<p>In our busy lives we may not have previously given much time to thinking about our occupations and how occupations collectively weave together the threads of the lives that we live. Similarly, we may have not have appreciated how our own occupations coexisted or were enabled by the occupations experienced by others. We may not have paid close attention to the restrictions and limitations faced by people whose lives and circumstances appeared different from our own. However, the restrictions to many daily occupations has unified us all, on some level, even temporarily.</p>
<p>Now is an opportunity, perhaps it is even essential, that we spend some considering this. What we do every day, from the seemingly insignificant to the most important occupations, support who we are and what we will become, as individuals and as members of our families and communities.</p>
<p><a href="/{localLink:umb://document/c0bea5cabff84c6dae2d1cc18dc67f0f}" title="Blogs"><span class="blue-btn">Back to QMU@Home blogs</span></a></p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Why our occupation matters more than ever]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">Sarah Kantartzis, Michelle Elliot and Fiona Maclean from the Division of Occupational Therapy and Arts Therapies </span></p>
<p><strong>As occupational therapists, we are frequently asked what we do and in particular, what is occupation? Occupations are all those things that we do every day: as individuals, with families and as part of our communities. It could be playing sport, getting dressed, cooking a meal or sharing a coffee with friends and family. And, through the impact of COVID-19, those occupations that we used to take for granted have either stopped or changed in ways that even a month ago would have seemed unimaginable to us.</strong></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Why our occupation matters more than ever | QMU At Home Blog]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Why our occupation matters more than ever | QMU At Home Blog]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "08bc8a29-4a8e-4646-81f5-ef93413cd1e7",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "quotes",
                    "value": {
                      "name": "Quotes",
                      "quote": "umb://document/d2952f9d84364ef68e8ec20f093d6b1b"
                    },
                    "id": "fa882be9-d78e-046d-7fd8-373abcd4bfd1"
                  },
                  "editor": {
                    "alias": "Quotes",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "rCSocMed",
                    "value": {
                      "name": "RC Social Media",
                      "socialMedia": "1"
                    },
                    "id": "3a93be00-fab5-903c-388c-33b97525a515"
                  },
                  "editor": {
                    "alias": "Social Media",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Why our occupation matters more than ever]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>