<?xml version="1.0" encoding="utf-8"?>
<Content Key="9308b29d-b01b-4e4e-a7bb-298fe0db9122" Alias="2020.30.11 - QMU launches the world’s first Master’s in Mad Studies" Level="5">
  <Info>
    <Parent Key="9c795575-f12b-4d4d-91c1-652258e7996d">2020</Parent>
    <Path>/Home/NewsAndEvents/News//QMULaunchesTheWorldSFirstMasterSInMadStudies</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-11T13:39:27</CreateDate>
    <NodeName Default="2020.30.11 - QMU launches the world’s first Master’s in Mad Studies" />
    <SortOrder>58</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/93ed8f268d474120bcbe0a7c62a20fac]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "2a20375b-269b-4217-89eb-a78a58361a21",
    "name": "QMU launches the world’s first Master’s in Mad Studies",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/467c9a8b1dd140608c952b6cdb0a818c",
    "title": "QMU launches the world’s first Master’s in Mad Studies",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Mad Studies is a recognised academic discipline that explores the knowledge and actions that have grown from the global mad movement. It cuts across the fields of social sciences, healthcare and humanities and expresses a radical new voice in academia about madness.</p>
<p>Queen Margaret University (QMU) has been developing Mad Studies projects over the last decade. In partnership with CAPS Independent Advocacy and Edinburgh Health and Social Care Partnership, QMU has been offering a free short course titled Mad People’s History and identity (MPHI). This innovative short course is for people from different backgrounds who have lived experienced of mental health issues. MPHI has created a route to undergraduate degree level courses in QMU. This new MSc extends this progression to postgraduate study. The new MSc Mad Studies has been designed for people who are engaged in the mad movement. Some scholarships are also available to make this a real option for people with lived experience, but the course will also be available for people working in the field of mental health as part of their ongoing development.</p>
<p>Dr Elaine Ballantyne, Senior Lecturer in Occupational Therapy at QMU, has driven this work for several years. She explained: “We are really excited to be leading the first MSc Mad Studies, which we have developed in partnership with CAPS Independent Advocacy and Thrive Edinburgh. It’s an important development that recognises Mad Studies as an academic discipline, and the important contribution that the mad community can make to the generation of knowledge about madness."</p>
<p>“At the core of Mad Studies, we should have mad people, mad issues and mad culture. QMU is keen to push academic boundaries and we are passionate about social justice, equality of opportunity and person-centred learning. We can’t wait to engage with students, who want to learn how Mad Studies can meaningfully contribute to social justice and change. This course is a great fit for QMU and brings together a teaching team with wide ranging expertise including activists from the mad movement and academics from Occupational Therapy, Public Sociology and Person-centred Practice.”</p>
<p>The MSc Mad Studies course draws on the knowledge and actions generated by Mad Studies scholars and activists throughout the world. Dr Kathryn Church, a world leading scholar in Mad Studies and Disability Studies from Ryerson University in Toronto, said of the course: “This proposal is the most exciting piece of curriculum development that I have seen in my 20 year career as an academic. What is potentially revolutionary is the attention to students from the mad community, the opening for their uptake of this opportunity and their participation in a diverse community of learners. There will be powerful new learning from the roll-out of this initiative with implications for an international community of critical thinkers and educators.”</p>
<p>Dr Linda Irvine Fitzpatrick, the strategic lead for Thrive Edinburgh, said: “I’m delighted to see the evolution of this course which remains grounded in the activism which has been a key driving force for changing the conversation and culture around mental health and wellbeing.  Nationally and internationally this is such an opportunity to further shift our perceptions and understanding of mental health.”</p>
<p>People who are interested in this course need to move quickly if they want to secure a place and a scholarship. The course application deadline is 14th December 2020 with the course starting in January 2021. There are three scholarships available specifically for students with lived experience of mental health issues who are unemployed or from low income households. The Kathryn Church Scholarship, David Reville Scholarship and the Thrive Scholarship cover course fees and are only available for Home and UK students.</p>
<p>For more information email: <a href="mailto:EBallantyne@qmu.ac.uk">EBallantyne@qmu.ac.uk</a> or visit our <a href="/study-here/postgraduate-study/2022/msc-mad-studies/" title="Mad Studies (MSc)">Mad Studies (MSc) page</a>.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2020-11-30T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU launches the world’s first Master’s in Mad Studies]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Queen Margaret University, Edinburgh is launching the world’s first master’s degree in Mad Studies. The MSc Mad Studies course is primarily a course for graduates with lived experience of mental health issues. It has been hailed by a leading international Mad Studies academic as the most exciting piece of curriculum development in the last 20 years!</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Queen Margaret University, Edinburgh is launching the world’s first master’s degree in Mad Studies. The MSc Mad Studies course is primarily a course for graduates with lived experience of mental health issues. It has been hailed by a leading international Mad Studies academic as the most exciting piece of curriculum development in the last 20 years!]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU Master’s in Mad Studies | QMU News | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information please contact Queen Margaret University's Press Office at <a href="mailto:pressoffice@qmu.ac.uk">pressoffice@qmu.ac.uk</a>  </p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "3032f926-30fd-47ef-91ee-8881b471906c",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU launches the world’s first Master’s in Mad Studies]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>