<?xml version="1.0" encoding="utf-8"?>
<Content Key="94f56e01-57c0-4cf1-a0a5-48f60d66bca1" Alias="2017.06.20 - QMU Principal and Deputy Principal officiate in graduation ceremonies in India and Greece" Level="5">
  <Info>
    <Parent Key="5ec60e7e-de76-4127-aaea-18ddb982220d">2017</Parent>
    <Path>/Home/NewsAndEvents/News//QMUPrincipalAndDeputyPrincipalOfficiateInGraduationCeremoniesInIndiaAndGreece</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T15:52:07</CreateDate>
    <NodeName Default="2017.06.20 - QMU Principal and Deputy Principal officiate in graduation ceremonies in India and Greece" />
    <SortOrder>100</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/c71abc0a3988421fb9ce3889cbf3db3b]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "5874baae-cb7c-4690-86ea-6b1512846a4e",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/552a13d60c8d43c2ab582dd035275dc1",
    "title": "QMU Principal and Deputy Principal officiate in graduation ceremonies in India and Greece",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>In the run up to QMU’s graduation ceremony in Edinburgh on 11th July, Professor Petra Wend officiated in the graduation ceremony at the Institute for Technology &amp; Management (ITM) in India on 20th June 2017 and Dr Richard Butt officiated in the graduation ceremony at Metropolitan College (AMC) in Athens and Thessaloniki, Greece, on 10th and 12th May 2017.</p>
<p class="txtMainBlack">QMU has been working with ITM for nearly two decades and, during that time, Professor Wend has been greatly impressed by the institution’s commitment to professionalising hospitality and tourism management. ITM delivers two QMU programmes to students in Mumbai: BA International Hospitality and Tourism Management, and BA International Culinary Arts. This year, the partnership between the Indian and Scottish institutions has seen 142 Indian students graduate with a UK degree from QMU.</p>
<p class="txtMainBlack">Commenting on this year’s ITM graduation, Professor Wend, said: “At QMU we’re very proud of our partnership with ITM. Under the inspiring leadership of Professor Ramana and Professor Maureen Lobo, and with the dedication of staff, this institution is renowned for its innovative approach to education. As a result, their graduates secure prestigious jobs in high quality organisations.</p>
<p>“Like ITM, we focus on relevance at Queen Margaret University. That is why our graduates – including those from ITM - are amongst the most sought after in the world of work.”</p>
<p class="txtMainBlack">QMU has been working with Metropolitan College (AMC) in Greece since 2001. AMC delivers a wide range of QMU’s allied health, business, media and international hospitality programmes to students in Greece. In 2017, the partnership between AMC and QMU has seen 97 Greek students graduate with a UK degree from QMU.</p>
<p class="txtMainBlack">For the first time, the Athens graduation took place in the spectacular setting of the Athens Olympic Cycling Centre, and included a display of a team of track cyclists racing around the velodrome while the graduates and academics entered the arena. The Thessaloniki graduation ceremony took place in the Vellidio Conference Centre.</p>
<p class="txtMainBlack">Reflecting on the 2017 AMC graduation in Greece, Dr Butt said: “It was a real honour to congratulate the achievements and success of more than 700 graduates of the Metropolitan College in Athens and Thessaloniki, as they marked the beginning of their professional lives and a brilliant future.</p>
<p>“QMU is proud of its long-standing collaboration with Metropolitan College for almost 20 years, and we look forward to celebrating the academic successes of its students for many more years to come.”</p>
<p class="txtMainBlack">More information on <a rel="noopener" href="http://www.itm.edu" target="_blank" title="ITM">Institute for Technology &amp; Management (ITM)</a>.</p>
<p class="txtMainBlack">More information on <a rel="noopener" href="http://www.mitropolitiko.edu.gr/en" target="_blank" title="Metropolitan College">Metropolitan College, Greece</a>.</p>
<p class="txtMainBlack">QMU also offers degrees through partnerships with the following overseas institutions:</p>
<ul>
<li class="txtMainBlack"><a rel="noopener" href="http://www.silvermountain.edu.np" target="_blank" title="Silver Mountain School of Hotel Management, Nepal">Silver Mountain School of Hotel Management, Nepal</a></li>
<li class="txtMainBlack"><a rel="noopener" href="https://www.eaim.edu.sg/en/" target="_blank" title="East Asia Institute of Management, Singapore">East Asia Institute of Management, Singapore</a></li>
<li class="txtMainBlack"><a rel="noopener" href="http://aibs.ace.edu.np" target="_blank" title="Ace International Business School">Ace International Business School, Nepal</a></li>
<li class="txtMainBlack"><a rel="noopener" href="https://www.bue.edu.eg" target="_blank" title="The British University in Egypt">The British University in Egypt</a></li>
</ul>
<p class="txtMainBlack">Find out more about <a rel="noopener" href="https://www.qmu.ac.uk/about-the-university/partnerships/why-partner-with-us/" target="_blank" title="QMU's partner institutions">QMU's partner institutions</a>.</p>
<p class="txtMainBlack"><strong>ENDS</strong></p>
<p class="txtMainBlack"> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2017-06-20T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU Principal and Deputy Principal officiate in graduation ceremonies in India and Greece]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Professor Petra Wend (Principal &amp; Vice-Chancellor of QMU) and Dr Richard Butt (Deputy Principal of QMU) have officiated in this summer’s overseas graduation ceremonies at the University’s partner institutions in India and Greece.</p>
<p class="txtMainBlack">QMU operates a number of teaching partnerships with organisations in Scotland, across the UK and around the world. Through these partnerships, students can study for QMU qualifications in a manner and at a location most convenient to them.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Professor Petra Wend (Principal & Vice-Chancellor of QMU) and Dr Richard Butt (Deputy Principal of QMU) have officiated in this summer’s overseas graduation ceremonies at the University’s partner institutions in India and Greece.

QMU operates a number of teaching partnerships with organisations in Scotland, across the UK and around the world. Through these partnerships, students can study for QMU qualifications in a manner and at a location most convenient to them.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU Principal and Deputy Principal officiate in graduation ceremonies in India and Greece | News and Events | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p class="txtMainBlack"><strong>NOTES TO EDITOR</strong></p>
<p><em>For further media information contact Lynne Russell, Marketing Manager, Queen Margaret University, Edinburgh, E: </em><a href="mailto:lrussell@qmu.ac.uk"><em>lrussell@qmu.ac.uk</em></a><em>  T: 0131 474 0000, M: 07711 011239 and Jon Perkins, Press and PR Officer, E: </em><a href="mailto:jperkins@qmu.ac.uk"><em>jperkins@qmu.ac.uk</em></a><em> T: 0131 474 0000. </em></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "5141ad0e-95af-4352-9b80-0b88ca5aad41",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU Principal and Deputy Principal officiate Indian and Greek graduations ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>