<?xml version="1.0" encoding="utf-8"?>
<Content Key="95fd4735-28ec-46a3-a36b-5b01e962ac23" Alias="Facilities on Campus" Level="3">
  <Info>
    <Parent Key="b2c190a2-030c-4f64-8cdf-c01b3598a2c3">August - Fringe Village at QMU</Parent>
    <Path>/Home/AugustFringeVillageAtQMU/FacilitiesOnCampus</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-09T14:21:19</CreateDate>
    <NodeName Default="Facilities on Campus" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/d406cfa8aec545a68e2c8aae1e85d815]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "0c8bd9f6-94cd-4e82-a924-dcec7579c819",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/f47a7438c6604af7b7cfacebc5668c21",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Facilities on Campus]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[1]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>Theatre Space 1044<br /></strong> - seating for up to 67 people<br /> - trampoline grid<br /> - conventional stage lighting and sound<br /> - and the facility to use intelligent lighting<br /> - 8.1m wide x 12.2m long<br /> - height to under the grid is 5.4m</p>
<p> </p>
<p><strong>Performance Studio 1<br /></strong> - sprung floor<br /> - mirrored wall<br /> - natural light<br /> - 9.15m x 7.35m</p>
<p>We have a further 3 performance studios, 1 of which has a sprung floor.</p>
<p><strong>Rehearsal Studio 51<br /></strong> - non-sprung floor<br /> - natural light<br /> - 11.99m x 8.83m<br /> - 3m high</p>
<p><strong><u>Catering &amp; Gym facilities</u>:<br /><br /></strong>Maggie's Bar and Cafe is open on campus 9am - 8pm (indoors &amp; kitchen), 10pm (outdoors). For full menu details, please look at our <a rel="noopener" href="https://www.facebook.com/MaggiesBarCafe/" target="_blank">Maggie's Bar and Café</a> Facebook page.</p>
<p>The campus is only a short walk or bus ride from Fort Kinnaird, a large outdoor shopping complex offering high street chain stores, restaurants and a multiplex cinema. There are also several supermarkets nearby.</p>
<p>There is a <strong>Sports Centre</strong> on campus which has the following facilities:</p>
<ul>
<li>Gym</li>
<li>Weights room</li>
<li>Exercise studio</li>
<li>AstroTurf suitable for 5-a-side or 7-a-side football</li>
<li>Sports hall - 4 badminton court sized</li>
</ul>
<p>Full details of sports facilities available can be found on our <a rel="noopener" href="/{localLink:umb://document/854bacf0350b4399af7c7ec40cbea646}" target="_blank" title="QMU Sports Centre">Sports Centre</a> pages.  </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[[
  {
    "key": "1056460e-1e2d-4b76-9acb-7b715eae1829",
    "name": "Item 1",
    "ncContentTypeAlias": "mediaGalleryItem",
    "image": "umb://media/82776253cbf843129ed5f7e9008e0fbf",
    "title": "",
    "subtitle": ""
  },
  {
    "key": "eec83a46-0fe1-4fd4-9593-b2478cd5b9de",
    "name": "Item 2",
    "ncContentTypeAlias": "mediaGalleryItem",
    "image": "umb://media/d9dd2f19e6f4498eadb7629d7777a8e7",
    "title": "",
    "subtitle": ""
  },
  {
    "key": "7e5d860f-a146-4692-963d-5994007ff3f3",
    "name": "Item 3",
    "ncContentTypeAlias": "mediaGalleryItem",
    "image": "umb://media/7e69fa85a9bd446daea7e8c8fac1fb4e",
    "title": "",
    "subtitle": ""
  },
  {
    "key": "9d8b9d94-c2a0-4db2-9473-670eac2003ed",
    "name": "Item 4",
    "ncContentTypeAlias": "mediaGalleryItem",
    "image": "umb://media/9c4a11c23fa948c48096fa711842ac35",
    "title": "",
    "subtitle": ""
  },
  {
    "key": "4a775feb-5dcf-4661-8ce4-0a98d071f30b",
    "name": "Item 5",
    "ncContentTypeAlias": "mediaGalleryItem",
    "image": "umb://media/87021a569ac44508b6254848a7598f9e",
    "title": "",
    "subtitle": ""
  }
]]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Facilities on Campus for accommodation guests whilst at Edinburgh Fringe ]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Facilities on Campus | QMU Accommodation for Edinburgh Fringe Artists]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "06b5a1ab-6d8d-4f0b-bf53-ffc0765a64f4",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Facilities on Campus]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>