<?xml version="1.0" encoding="utf-8"?>
<Content Key="975d8481-b8b5-41ba-8ce1-9dd406c15276" Alias="Stefano Berrone" Level="3">
  <Info>
    <Parent Key="d18bb03a-fac8-40f6-80a9-fff6921ad1d2">Quotes</Parent>
    <Path>/Settings/Quotes/StefanoBerrone</Path>
    <Trashed>false</Trashed>
    <ContentType>quote</ContentType>
    <CreateDate>2022-01-12T14:55:27</CreateDate>
    <NodeName Default="Stefano Berrone" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[umb://media/89b76502bea34eaa83a369869540b613]]></Value>
    </image>
    <quoteText>
      <Value><![CDATA[Through this module I improved my theoretical knowledge about lifestyle medicine, and I deepened some aspects through reading articles and searching further evidence.]]></Value>
    </quoteText>
    <source>
      <Value><![CDATA[Stefano Berrone]]></Value>
    </source>
    <sourceExtra>
      <Value><![CDATA[]]></Value>
    </sourceExtra>
  </Properties>
</Content>