<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b65e731-8049-47d9-b90f-90decfb3eb9a" Alias="DNBS" Level="4">
  <Info>
    <Parent Key="8fdfe28d-0112-4381-a925-44f52bfb194f">DNBSPPR</Parent>
    <Path>/Home/SchoolsAndDivisions/DNBSPPR/DNBS</Path>
    <Trashed>false</Trashed>
    <ContentType>division</ContentType>
    <CreateDate>2021-02-08T11:52:51</CreateDate>
    <NodeName Default="DNBS" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b4bc3b7f-3362-41db-822a-44248557b1ff">Division</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/c6775431fadd49e6a849ca21284493fa]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[<p>Dietetics, Nutrition and Biological Sciences</p>]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "564c20fc-1a09-477b-b084-22f046bb16db",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/ba4dc8190e5c4864a5d41134dab13b18",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Dietetics, Nutrition and Biological Sciences at Queen Margaret University is a dynamic, research-active unit offering a range of <a data-id="4549" href="/{localLink:umb://document/459150c020bb424c89d61a42547ec50d}" title="Course A-Z">undergraduate and postgraduate courses</a> in the fields of dietetics, human biology and health. Our staff have particular expertise in public health, clinical nutrition and metabolism.</p>
<p>We currently offer the following courses: </p>
<p><span class="lead"><strong>Undergraduate </strong></span></p>
<p><a href="/{localLink:umb://document/883daf57ff6c41a4a9c9f008f83d57e9}" title="Master of Dietetics (MDiet)/BSc (Hons) Dietetics (2025 entry)">Master of Dietetics (MDiet)/ BSc (Hons) Dietetics</a></p>
<p><a href="/{localLink:umb://document/880916dbde9746058ec19f9c60685580}" title="Master of Nutrition (MNutrition)/BSc (Hons) Nutrition (2025 entry)">BSc/BSc (Hons) Nutrition</a></p>
<p><span class="lead"><strong>Postgraduate </strong></span></p>
<p><a href="/{localLink:umb://document/4a5f2082b9d14120b033d4696d0033ee}" title="MSc Dietetics (Pre-Registration)">MSc Dietetics (Pre-Registration)</a></p>
<p><a href="/{localLink:umb://document/936c314bfd6a4f9c90558d0324714715}" title="MSc/PgDip Advancing Practice in Dietetics (Advancing Practice in Health Framework)">MSc Advancing Practice in Dietetics</a></p>
<p>The courses produce professionals who are capable of working to maintain and promote health in a variety of career posts.</p>
<p>Students are at the core of our priorities and we aim to enrich both the teaching and the academic environment for them. We emphasise development of independence and effective group-working in students while offering the academic and personal support to help individuals fulfil their full potential. We aim to be flexible and responsive to the requirements of our students.</p>
<p>Learning experiences are enlivened by mixing with students from other courses with shared modules, postgraduate students (who assist in various classes) and guest lecturers.</p>
<p> </p>]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[umb://document/7d08908bf1ac4fb7887a349d742d3248]]></Value>
    </contactPicker>
    <displayTitle>
      <Value><![CDATA[Dietetics, Nutrition and Biological Sciences]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Welcome to Dietetics, Nutrition and Biological Sciences (DNBS) at Queen Margaret University. We are part of a division comprising DNBS, Physiotherapy, Podiatry &amp; Radiography within the School of Health Sciences.</p>]]></Value>
    </introduction>
    <linkBlocks>
      <Value><![CDATA[[
  {
    "key": "07890e5d-1bf2-4d52-9b2a-650012ad2f32",
    "name": "Undergraduate courses",
    "ncContentTypeAlias": "iHTL",
    "image": "umb://media/d51140e81a2644e494e7ca36a79422fc",
    "header": "Undergraduate courses",
    "text": "",
    "link": "[{\"name\":\"Health Sciences\",\"udi\":\"umb://document/5ea0b74333bb460582542113254779d6\"}]"
  },
  {
    "key": "c4a86438-efba-4391-a015-21239a3e39ee",
    "name": "Pre-Registration postgraduate courses",
    "ncContentTypeAlias": "iHTL",
    "image": "umb://media/c6775431fadd49e6a849ca21284493fa",
    "header": "Pre-Registration postgraduate courses",
    "text": "",
    "link": "[{\"name\":\"Pre-Registration Health Courses\",\"udi\":\"umb://document/279c7cc88824496896ea2979f470d7ea\"}]"
  },
  {
    "key": "5c72711c-4d15-4df4-a42a-48c20eec0dd6",
    "name": "Advancing Practice in Health Framework",
    "ncContentTypeAlias": "iHTL",
    "image": "umb://media/a9f23ca39e104209b7aae8b8dea0e294",
    "header": "Advancing Practice in Health Framework",
    "text": "",
    "link": "[{\"name\":\"Advancing Practice in Health Framework\",\"udi\":\"umb://document/78b0b9a6e91f46e49eedefd6b8d571c7\"}]"
  }
]]]></Value>
    </linkBlocks>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Welcome to Dietetics, Nutrition and Biological Sciences at Queen Margaret University. We are part of a division comprising DNBS, Physiotherapy, Podiatry & Radiography within the School of Health Sciences.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Dietetics, Nutrition and Biological Sciences | Schools And Divisions | Queen Margaret University]]></Value>
    </metaTitle>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "a1eb97d9-a795-410b-b201-e7dcc3cf4722",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "links",
                    "value": {
                      "name": "Image Links",
                      "link": "umb://document/e4bde164193f40e483d774a4309c6d4c"
                    },
                    "id": "0795b51a-ad9f-f710-29e5-6460f001f6d9"
                  },
                  "editor": {
                    "alias": "Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "links",
                    "value": {
                      "name": "Image Links",
                      "link": "umb://document/f84beab62b104fd797660d52c8021ab7"
                    },
                    "id": "816ab4f7-0e02-5c13-3d15-cdb0f7d336c0"
                  },
                  "editor": {
                    "alias": "Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "usefulLinks",
                    "value": {
                      "name": "Useful Links",
                      "title": "Useful Links",
                      "usefuls": [
                        {
                          "icon": "icon-users color-indigo",
                          "name": "Dietetics, Nutrition and Biological Sciences: Staff",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/a8e10fa19da244be9d47d993b8bed028",
                          "url": "/schools-and-divisions/dnbsppr/dnbs/dnbs-staff/"
                        },
                        {
                          "icon": "icon-link",
                          "name": "Dietetic Practice Placement Information",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": null,
                          "url": "https://www.rgu.ac.uk/dietetic-placements-scotland"
                        }
                      ],
                      "useDarkTheme": "0"
                    },
                    "id": "5d71ac5b-8107-6906-a13c-07cfd32fe1f9"
                  },
                  "editor": {
                    "alias": "Useful Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/7fa9d3241e554cd7b2d00d6d700da7ae,umb://document/b633ffe154ca4168b1c7dca39726df66,umb://document/9a9cfa65a1164f868bb240fbd59efcdd,umb://document/9884562d3c4949f896e4744620da573a,umb://document/2097f467bd534c7f87339e0c699ffaea,umb://document/0a3f18810ee5450ba4bf5d2fbcd546dd,umb://document/de0625681ffc4df081010379c814160b,umb://document/a2d61cfdbc654834aea475de6ddb6574,umb://document/d4d983c19c2848de91b55b1b01c558b8,umb://document/8375df64fb614d4594123dcba5b21c5d,umb://document/a571e078704943288d462df07185b2b5,umb://document/9a24ee57acd4479ea5356c141f132750]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[A selection of our staff (see Useful Links for more) ]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[DNBS]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>