<?xml version="1.0" encoding="utf-8"?>
<Content Key="9cc75e87-4901-4c92-9298-d2dac85fd413" Alias="New year, new you: begin a postgraduate course in January 2022" Level="3">
  <Info>
    <Parent Key="61a8e686-2a80-4a22-88e1-fc0d682148f6">Links</Parent>
    <Path>/Settings/Links/NewYearNewYouBeginAPostgraduateCourseInJanuary2022</Path>
    <Trashed>false</Trashed>
    <ContentType>link</ContentType>
    <CreateDate>2022-01-19T12:25:44</CreateDate>
    <NodeName Default="New year, new you: begin a postgraduate course in January 2022" />
    <SortOrder>65</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <externalLink>
      <Value><![CDATA[]]></Value>
    </externalLink>
    <image>
      <Value><![CDATA[umb://media/15718f181df0496d9d4e877f0f9c2c09]]></Value>
    </image>
    <internalLink>
      <Value><![CDATA[umb://document/4c61685abe3f4795903778d7405e9a72]]></Value>
    </internalLink>
    <text>
      <Value><![CDATA[Make 2022 Your Year]]></Value>
    </text>
  </Properties>
</Content>