<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f53812a-c5ec-4fd5-bf97-c63b075957cb" Alias="Chidi Izunwanne - Master of Nursing" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/ChidiIzunwanneMasterOfNursing</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2023-04-28T11:38:24</CreateDate>
    <NodeName Default="Chidi Izunwanne - Master of Nursing" />
    <SortOrder>210</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/41bed0d822494d82941832b481c4ca8c]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "88ef7f81-cf58-402d-81fd-7c1a7da58f10",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/06261deb74494bc4be73f82e83194293",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>How did you arrive at QMU via Clearing and what was your experience like?</strong></p>
<p><span> A</span><span>fter much contemplation and weighing up options, I decided that it was the moment for me, and clearing was the best route to gaining an admission.</span> <span>I found the clearing process very easy to navigate through. I searched for my course via Clearing on UCAS and chose QMU from a list of five other options. I made the application myself without assistance from anybody.</span> </p>
<p><strong>Sum up your experience of coming through the Clearing system in three words:</strong></p>
<p><span> </span><span>Smooth. Informative. Helpful.</span> </p>
<p><strong>What support did you get from QMU staff to secure your place at QMU? </strong></p>
<p><span>The Registry Office was quick in responding to my emails and giving feedback. This was crucial in keeping me motivated and making me feel that QMU would be a welcoming place.</span> </p>
<p><strong>What attracted you to your course at QMU?</strong></p>
<p><span> </span><span>I always wanted to do Nursing and found QMU's integration with the Master's appealing. The history of the city, including attractions like the Surgeon's Hall, and the brilliant landscape of Edinburgh were also very appealing.</span></p>
<p><strong>What do you like about being a student in Scotland’s capital city?</strong></p>
<p><span> </span><span>It gives you the opportunity to meet other students from neighbouring universities like Napier, Harriot Watt, and the University of Edinburgh.</span> </p>
<p><strong>Have you lived in student residences and if so, how did you find that experience?</strong></p>
<?UMBRACO_MACRO macroAlias="Quote" text="I lived in the student residences, and the experience was amazing. There is a sense of community there, and living on campus helped me with punctuality in classes. " source="Chidi Izunwanne" sourceExtra=" Master of Nursing (MNurse)" />
<p><strong>What have been the highlights of your course?</strong></p>
<p><span> </span><span>Just being able to get to the finish line of my first year, and gaining the confidence that I can go all the way.</span> </p>
<p><strong>What have you found most challenging? </strong></p>
<p><span>Keeping up with the cost of living, but this became easier over time as I found my footing.</span> </p>
<p><strong>How have you found integrating into the student community?</strong></p>
<p><span>I have integrated well; I made some friends during Freshers' Week. My nursing cohort is also close-knit and a great community to be part of.</span> </p>
<p><strong>Have you used any support services to help you through your student journey?</strong></p>
<p><span>I used an online proof-reading and correction platform from the QMU hub called Studiocity.</span> </p>
<p><strong>How have you found the support of academic staff?</strong></p>
<p><span> </span><span>My Personal academic tutor (PAT) has been amazing, and the staff are incredibly supportive.</span> </p>
<p><strong>What extra-curricular activities have you been involved in and has this helped to enhance your student experience?</strong></p>
<p><span> </span><span>Other than going to the QMU gym, I also ride around the city on my bike rented from QMU Cycle connections. I also attended cycle confidence courses organised by Cycle connections.</span> </p>
<p><strong>Most memorable moment at QMU?</strong></p>
<p><span>I am still making memories and soaking in everything!</span></p>
<p><strong>What do you like best about student life at QMU? </strong></p>
<p><span>The sense of community and living in student halls.</span> </p>
<p><strong>What are your plans after graduation?</strong></p>
<p><span>When I graduate, I may work alongside postgraduate study.</span> </p>
<p><strong>What would you say to other students considering finding a course via Clearing?</strong></p>
<p><span> </span><span>Go for it!</span> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[Master of Nursing (MNurse)]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Chidi Izunwanne]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>36 year old Chidi Izunwanne came to Queen Margaret University after working as a Safety Supervisor. He decided that he wanted to pursue the <a rel="noopener" href="/study-here/undergraduate-study/2023/master-of-nursing-mnurse/?id=47800" target="_blank" title="Master of Nursing (MNurse)" data-anchor="?id=47800">Master of Nursing</a> and the <a rel="noopener" href="/study-here/how-to-apply/clearing/" target="_blank" title="UCAS Clearing">UCAS Clearing</a> route helped him achieve just that. </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[36 year old Chidi Izunwanne came to Queen Margaret University after working as a Safety Supervisor. He decided that he wanted to pursue the Master of Nursing and the UCAS Clearing route helped him achieve just that. ]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Chidi Izunwanne | Case Study | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Chidi Izunwanne]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Student"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>