<?xml version="1.0" encoding="utf-8"?>
<Content Key="a16ff06f-a9ba-41c1-bbeb-887b15d0be90" Alias="Advice for College Leavers &amp; Mature Students" Level="3">
  <Info>
    <Parent Key="61a8e686-2a80-4a22-88e1-fc0d682148f6">Links</Parent>
    <Path>/Settings/Links/AdviceForCollegeLeaversMatureStudents</Path>
    <Trashed>false</Trashed>
    <ContentType>link</ContentType>
    <CreateDate>2023-02-14T14:58:15</CreateDate>
    <NodeName Default="Advice for College Leavers &amp; Mature Students" />
    <SortOrder>141</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <externalLink>
      <Value><![CDATA[]]></Value>
    </externalLink>
    <image>
      <Value><![CDATA[umb://media/805ed3b674004dbe936dbffc93640e57]]></Value>
    </image>
    <internalLink>
      <Value><![CDATA[umb://document/c528f4881bc6483ca82efa6223640e44]]></Value>
    </internalLink>
    <text>
      <Value><![CDATA[Advice for College Leavers & Mature Students]]></Value>
    </text>
  </Properties>
</Content>