<?xml version="1.0" encoding="utf-8"?>
<Content Key="a34d7cb3-9088-4175-9098-ae48128ca8dd" Alias="2016.09.19-3 - Proposed East Lothian" Level="5">
  <Info>
    <Parent Key="ac4dc403-ec85-4439-845b-de25b485c66d">2016</Parent>
    <Path>/Home/NewsAndEvents/News//ProposedEastLothian</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T13:01:33</CreateDate>
    <NodeName Default="2016.09.19-3 - Proposed East Lothian" />
    <SortOrder>107</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "ffe0a6c2-3dfc-4923-a7b3-66b4aa2cacbf",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Proposed East Lothian Local Development Plan brings Innovation Park a step closer",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The proposed LDP designates the land adjacent to the university campus for use for employment purposes, bringing QMU’s plans for an innovation park on the site a step closer.</p>
<p>QMU Principal Professor Petra Wend said:</p>
<p>“We welcome the councillors’ support for the proposed LDP which recognises the need to provide for growth in employment. East Lothian is to deliver over 10,000 new homes for the area in the coming years and the community facilities associated with the innovation park will help serve the needs of these residents and the broader community, adding vibrancy to the local area.’</p>
<p>“We have drawn up a business plan for the Innovation Park that could create up to 13,000 jobs for the local economy.  We have followed the newest best-practice global trends bringing together national and global centres of research and knowledge exchange excellence with commercial and community development.</p>
<p>“Our proposals play to our strengths in food and drink innovation, and the park’s attractiveness nationally and internationally as a location. Working in partnership with East Lothian Council we aim to create a place with facilities and support for growing businesses and the proposed LDP now allows for that to happen.”</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2016-09-19T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Proposed East Lothian Local Development Plan brings Innovation Park a step closer]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Queen Margaret University has welcomed the Proposed Local Development Plan (LDP) for East Lothian now approved by councillors which sets out development priorities in the area for the next decade.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Queen Margaret University has welcomed the Proposed Local Development Plan (LDP) for East Lothian now approved by councillors which sets out development priorities in the area for the next decade.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Proposed East Lothian Local Development Plan brings Innovation Park a step closer]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information contact Maggie Wright on 07801 710360, E: <a href="mailto:maggie.wright@mwa.co">maggie.wright@mwa.co</a> orLynne Russell, Marketing Manager, Queen Margaret University, Edinburgh, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a>  T: 0131 474 0000, M: 07711 011239 or Jon Perkins, Press and PR Officer, E: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a> T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "ee5ad004-ccab-4098-854c-c71bed8da689",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Proposed East Lothian Local Development Plan brings Innovation Park a step closer]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>