<?xml version="1.0" encoding="utf-8"?>
<Content Key="a525d70a-af96-491f-a106-5007300059c1" Alias="2016.03.03-2 - QMU develops innovative learning" Level="5">
  <Info>
    <Parent Key="ac4dc403-ec85-4439-845b-de25b485c66d">2016</Parent>
    <Path>/Home/NewsAndEvents/News//QMUDevelopsInnovativeLearning</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T12:12:01</CreateDate>
    <NodeName Default="2016.03.03-2 - QMU develops innovative learning" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "eb70224d-7190-4328-959c-0e26e6b76ec8",
    "name": "QMU develops innovative learning to improve global health education",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "QMU develops innovative learning to improve global health education",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The university’s Institute for Global Health and Development has won €371,000 to create joint distance learning packages and teaching materials to develop global health education within Europe and beyond.  The Institute has successfully collaborated with the Royal Tropical Institute (KIT, Amsterdam) and the Centre for International Health (University of Bergen) to secure the Erasmus+ funding for the project.</p>
<p>Erasmus+ is a multinational programme which provides opportunities for over four million Europeans to study, train, gain work experience and volunteer abroad. As well as helping students, Erasmus+ also supports transnational partnerships, like the one QMU is involved in, to ‘foster cooperation and bridge the worlds of education and work in order to tackle the skills gaps we are facing in Europe.’</p>
<p>The three year QMU-lead project aims to develop a range of learning and technology skills amongst higher education staff to help them develop innovative e-learning materials for students. Ultimately, the work will enhance student learning making them more effective practitioners when working in specialist areas of global health practice across the world.</p>
<p>The project will help students improve their digital skills, thereby enhancing their learning, and establish a framework of accreditation of e-learning. The outcome will be a series of modules that combine the expertise of the three partner institutions and that allow students to gain access to digital learning opportunities across the institutions in Scotland, the Netherlands and Norway.  The experience gained by academics during the three year project will be used to develop a handbook for eLearning for all academics working in similar fields.</p>
<p>The project is an excellent fit with the priorities of the European Commission (2013) Communication on ‘Opening Up Education’ which identified the expansion of online delivery as a priority within the European Union education system.</p>
<p>Dr Carola Eyber, Project Lead with the Institute for Global Health and Development at QMU, explained: “Studying can be an expensive business for many students. Often they face economic or geographical challenges such as high fees, high living costs, visa restrictions and the expense of living away from home for a full year. By blending learning with e-learning and creating access to high quality digital content across universities in different countries, we are able to offer an effective solution to many of these challenges. This work will also ensure that learning methods are up-to-date with the digital age and that the institutions are sharing information and resources for the benefit of their students.”</p>
<p>Professor Alastair Ager, Director of the Institute for Global Health and Development at QMU, concluded: “The provision of online higher education within Europe is currently under-developed, particularly within the area of postgraduate global health education. We are therefore delighted that QMU, as the main grant holder, is working with our partners in Norway and the Netherlands to develop more effective learning outcomes to meet the increasing demand for effective global health education within Europe and beyond. It will bring together students – many of whom are experienced health and development professionals – to collaborate in addressing current global health and development challenges.”</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2016-03-03T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU develops innovative learning to improve global health education]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Queen Margaret University’s (QMU) international health experts have secured funding to develop learning materials which will support the growing demand for global health education.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Queen Margaret University’s (QMU) international health experts have secured funding to develop learning materials which will support the growing demand for global health education. The university’s Institute for Global Health and Development has won €371,000 to create joint distance learning packages and teaching materials to develop global health education within Europe and beyond.  The Institute has successfully collaborated with the Royal Tropical Institute (KIT, Amsterdam) and the Centre for International Health (University of Bergen) to secure the Erasmus+ funding for the project.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU develops innovative learning to improve global health education]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information contact Lynne Russell, Marketing Manager, Queen Margaret University, Edinburgh, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a>  T: 0131 474 0000, M: 07711 011239 and Jon Perkins, Press and PR Officer, E: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a> T: 0131 474 0000.</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "b8c59c6a-98c8-4dbb-8061-0ef5de935c6a",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU develops innovative learning to improve global health education]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>