<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5af221e-7fb8-4c3e-b883-58d15d6b2824" Alias="BSc (Hons) Food Science and Innovation (2024 entry)" Level="5">
  <Info>
    <Parent Key="f19a380c-438f-4f2c-b9fc-0b587bc23b5b">2024</Parent>
    <Path>/Home/StudyHere/UndergraduateStudy//BScHonsFoodScienceAndInnovation2024Entry</Path>
    <Trashed>false</Trashed>
    <ContentType>undergraduateCourse</ContentType>
    <CreateDate>2023-02-07T10:54:43</CreateDate>
    <NodeName Default="BSc (Hons) Food Science and Innovation (2024 entry)" />
    <SortOrder>35</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8de98a56-9d9e-4c8f-8798-e4ad3150dbb2">Course</Template>
  </Info>
  <Properties>
    <accreditedBodies>
      <Value><![CDATA[]]></Value>
    </accreditedBodies>
    <admissionsFAQ>
      <Value><![CDATA[[
  {
    "name": "Admissions FAQs",
    "udi": "umb://document/25fdc88b10384495853dd89854ac0873"
  }
]]]></Value>
    </admissionsFAQ>
    <adSpotImage>
      <Value><![CDATA[umb://media/2d370cd8efa145cf9d4c74a72dafb91d]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <alert>
      <Value><![CDATA[]]></Value>
    </alert>
    <applicationText>
      <Value><![CDATA[]]></Value>
    </applicationText>
    <applyNow>
      <Value><![CDATA[[
  {
    "name": "UCAS Applications - Food Science and Innovation at QMU",
    "url": "https://www.ucas.com/dashboard#/application?coursePrimaryId=67b81c00-2fd7-4c96-8513-16fe11e87273&courseOptionId=137308f6-1b80-4545-8b00-affaec55785e&scheme=ucas&studyYear=2024&applyCycle=2024"
  }
]]]></Value>
    </applyNow>
    <banner>
      <Value><![CDATA[[
  {
    "key": "7c0eeb1d-2d4f-4738-9162-2083fab361e5",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/e8f5a5ff61b64d0d920cfe47d3aa0699",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bestSuitedFor>
      <Value><![CDATA[Those who:  

• want to work in the food sector and are passionate about food, ensuring that our food is fresher, more “natural” with minimal packaging and of high quality in terms of flavour, texture, appearance, safety and nutritional value;

• are motivated by the opportunity to be innovative and gain the specialist skills that the food sector is looking for to help it innovate and meet national and global demands.
Solve real problems associated with the food sector, for example the impact of food production on the environment, sustainability, and how to make food healthier and tastier;

• enjoy practical work in labs and product development and sensory workshops;

• would enjoy a variety of options for your student placement in the food sector to meet your career aspirations; and

• want to work in the food sector in roles such as a food scientist, a food production and processing technologist, a new product Development technologist, a food analyst, a food microbiologist or a sensory technologist or analyst.  



]]></Value>
    </bestSuitedFor>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p> </p>
<p> </p>]]></Value>
    </bodyTop>
    <careerOpportunities>
      <Value><![CDATA[]]></Value>
    </careerOpportunities>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <courseBlocks>
      <Value><![CDATA[]]></Value>
    </courseBlocks>
    <courseEntryLink1>
      <Value><![CDATA[]]></Value>
    </courseEntryLink1>
    <courseEntryLink2>
      <Value><![CDATA[]]></Value>
    </courseEntryLink2>
    <courseTags>
      <Value><![CDATA[umb://document/7452aaa4a7374af9bfaa0e421cf0b584,umb://document/5ea91792969a4662b00a53ee4c63bada]]></Value>
    </courseTags>
    <courseTitle>
      <Value><![CDATA[Food Science and Innovation - 2024 entry]]></Value>
    </courseTitle>
    <degreeType>
      <Value><![CDATA[BSc (Hons)]]></Value>
    </degreeType>
    <delivery>
      <Value><![CDATA[On campus]]></Value>
    </delivery>
    <displayTitle>
      <Value><![CDATA[Food Science and Innovation - BSc (Hons) ]]></Value>
    </displayTitle>
    <division>
      <Value><![CDATA[]]></Value>
    </division>
    <duration>
      <Value><![CDATA[4 years full-time]]></Value>
    </duration>
    <entryRequirements>
      <Value><![CDATA[See course entry for full details]]></Value>
    </entryRequirements>
    <fees>
      <Value><![CDATA[[
  {
    "name": "Fees and Charges",
    "udi": "umb://document/781a0772d20b4e7091629a2db90d5926"
  }
]]]></Value>
    </fees>
    <hideApplicationBox>
      <Value><![CDATA[1]]></Value>
    </hideApplicationBox>
    <hideFromCourseSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromCourseSearch>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <howToApply>
      <Value><![CDATA[[
  {
    "name": "UCAS Applications",
    "udi": "umb://document/942a07d685bc4f2a8d3257576cfcf9d0"
  }
]]]></Value>
    </howToApply>
    <introduction>
      <Value><![CDATA[<p><span class="lead">We regret that we are no longer accepting applications to this course. You might instead be interested in our <a href="/{localLink:umb://document/7d4a587147e64e4580db2953c1d6a06f}" title="BSc (Hons) Nutrition (2024 entry)">BSc (Hons) of Nutrition</a> which is still open for 2024 entry.</span></p>]]></Value>
    </introduction>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[This new BSc (Hons) Food Science and Innovation course at QMU has been developed due to a lack of people with the specialist skills that the food industry needs. The food industry is crying out for graduates who have the knowledge and skills to help the industry innovate and meet national and global demands.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[BSc (Hons) Food Science and Innovation - 2024 entry | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "69f17257-5c98-481f-be89-8eb996a3cf22",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Two Column",
          "id": "d5deaf85-0ec6-437b-bdc5-1ce377038f97",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "usefulLinks",
                    "value": {
                      "name": "Useful Links",
                      "title": "Useful links",
                      "usefuls": [
                        {
                          "icon": "icon-layout color-indigo",
                          "name": "Scottish Centre for Food Development and Innovation",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/69c58227236e425a92f24212b1a9d4e9",
                          "url": "/research-and-knowledge-exchange/research-centres-institutes-and-knowledge-exchange-centres/scottish-centre-for-food-development-and-innovation/"
                        },
                        {
                          "icon": "icon-link",
                          "name": "Article on the food industry career paths of QMU graduates",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": null,
                          "url": "/alumni-and-friends/qmyou-magazine-april-2023-edition-90/food-drink-innovation-graduate-roles-in-the-food-industry/"
                        }
                      ],
                      "useDarkTheme": "0"
                    },
                    "id": "140ee509-344c-5ac6-30d9-a0fa9dcc1985"
                  },
                  "editor": {
                    "alias": "Useful Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "eventFromLibrary",
                    "value": {
                      "name": "Event from Library",
                      "event": "umb://document/fe2cab6554194637ac8015bad9e93fa5"
                    },
                    "id": "37a66a3d-c632-b552-de22-7835ae23679e"
                  },
                  "editor": {
                    "alias": "eventFromLibrary",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/a571e078704943288d462df07185b2b5,umb://document/1d5f682f8ef34b69860aa94fa9ac8a43,umb://document/18723df51ab6471b8d7d41f536a640ec,umb://document/b633ffe154ca4168b1c7dca39726df66,umb://document/270bf4d415424289b69c7b0e1dad859a,umb://document/2097f467bd534c7f87339e0c699ffaea]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[umb://document/1b1fd7659d464b2796c47578cc599767,umb://document/512d9a6851014deba4973b51445a2335,umb://document/d642254ee853449cbabd2bfe5c4c98e8,umb://document/c528f4881bc6483ca82efa6223640e44,umb://document/22c611bbfdf64dac8852e4192bb3c938,umb://document/8d6c3c6705754477886a789c3bb955c3,umb://document/1620d7d2691f4195832b687d9f4c6394]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[Other Useful Information]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[Student Stories and Staff]]></Value>
    </relatedContentTitle>
    <relatedSimilarCourses>
      <Value><![CDATA[]]></Value>
    </relatedSimilarCourses>
    <school>
      <Value><![CDATA[School of Health Sciences]]></Value>
    </school>
    <scqfLevel>
      <Value><![CDATA[10]]></Value>
    </scqfLevel>
    <shortTitle>
      <Value><![CDATA[Food Science and Innovation]]></Value>
    </shortTitle>
    <startDate>
      <Value><![CDATA[2024-09-01T00:00:00]]></Value>
    </startDate>
    <startDate2>
      <Value><![CDATA[]]></Value>
    </startDate2>
    <startDate3>
      <Value><![CDATA[]]></Value>
    </startDate3>
    <studyAbroad>
      <Value><![CDATA[0]]></Value>
    </studyAbroad>
    <subject>
      <Value><![CDATA[]]></Value>
    </subject>
    <subjectFocus>
      <Value><![CDATA[Mainly on biological sciences (biology & chemistry).]]></Value>
    </subjectFocus>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <ucasCode>
      <Value><![CDATA[D610]]></Value>
    </ucasCode>
    <unistatsCourseId>
      <Value><![CDATA[]]></Value>
    </unistatsCourseId>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
    <year1>
      <Value><![CDATA[2024]]></Value>
    </year1>
    <year2>
      <Value><![CDATA[]]></Value>
    </year2>
  </Properties>
</Content>