<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7655bcd-863e-4b84-8a31-2bd28060385f" Alias="Louise’s Exchange" Level="6">
  <Info>
    <Parent Key="f1509fae-6848-403b-a28f-3de63cb2e77e">Semester Abroad Experiences</Parent>
    <Path>/Home/StudyHere/InternationalStudentsRevamp2022/ReasonsToStudyAbroad/SemesterAbroadExperiences/LouiseSExchange</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2022-04-27T14:28:32</CreateDate>
    <NodeName Default="Louise’s Exchange" />
    <SortOrder>54</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65102975-f5a6-47bf-9418-b0e82dc7c288">BlogPost</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/ae8516ad7f7f4d9b9c1e381efef9b8de]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "05ce4a10-9ff6-41c2-b342-28c5bf8e6800",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Louise’s Semester Abroad ",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p>Well Auckland, you certainly are a treat for the eyes and very warm – not that I’m complaining!</p>
<p>After having a lovely extended Christmas holiday, the New Zealand semester has finally started and my Media exchange at Auckland University of Technology commences!</p>
<p>Since arriving, it certainly has been an overwhelming first week or so, for all the senses. From sweet pastry wafting from the street vendors and the very welcomed balmy Auckland breeze, to the continual picture perfect backdrop of cloudless blue skies for the impressive skyline to the extremely welcoming tones of the lovely Kiwi accent.</p>
<p>I’m attempting to refrain my spamming Instagram and Facebook with photos from my jet lag wanderings but with constant clear blue skies, I can’t quite help it.  It’s too good not to share the evidence of such nice weather, especially compared to that being experienced back home!</p>
<p>As well as the delightful scenic views, the Kiwis are a really friendly bunch.  They’re all so happy and easy going – probably because its so sunny and who could blame them? After a long 30 hour journey, they’re definitely the kind of people you want to be welcomed by!</p>
<p>To be honest, its also been pretty daunting. While trying to meet people and get over the lingering jet lag, finding your way around Auckland and finding the right places to get food (I know, priorities right?), its a lot to handle.  Its funny how you get so comfortable with the friends you have met at uni over the last couple of years. Therefore,  having to go back to what it was like in first year is pretty nerve wracking and an intimidating task.</p>
<p>We’re getting there though! Gradually becoming acquainted with the relaxed approach to things and with classes starting, looking forward to seeing what the Media course has to offer.</p>
<p>So, first impressions of Auckland has been a delight, albeit a little nerve wracking. Its still been a joy to wander around and explore, especially while attempting to shake off jet lag.  Looking forward to seeing what else New Zealand has to offer and  experiencing all things Kiwi over the next four months!</p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[2017-03-10T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Louise’s Semester Abroad]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">Louise Nicolson – Media – Level 3</span></p>
<p><span class="lead">AUT University, New Zealand</span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Well Auckland, you certainly are a treat for the eyes and very warm – not that I’m complaining!

After having a lovely extended Christmas holiday, the New Zealand semester has finally started and my Media exchange at Auckland University of Technology commences!]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Louise’s Exchange | Reasons to Study Abroad | Queen Margaret University, Edinburgh ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Louise’s Exchange]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>