<?xml version="1.0" encoding="utf-8"?>
<Content Key="a90e5cfe-82e6-4339-9151-2886da148648" Alias="Revision Tips" Level="6">
  <Info>
    <Parent Key="e2cf0dcc-90fc-4d35-884f-11705becdf64">Effective Learning Service (ELS)</Parent>
    <Path>/Home/StudyHere/ServicesForStudents/SupportForLearning/EffectiveLearningServiceELS/RevisionTips</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-01-26T12:29:44</CreateDate>
    <NodeName Default="Revision Tips" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "0a5bdd57-be8a-4483-bdd0-a60b3b5d19fd",
    "name": "Revision Tips",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Revision Tips ",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead">Revision strategies</span></p>
<p><strong>Contents:</strong></p>
<p>• Making a timetable or plan<br />• How do you revise?<br />Proactive strategies<br />• Useful revision activities<br />• Organising and using notes<br />• Use past exam questions<br />• Finally…keep positive<br />• Extra ideas </p>
<p><strong>Key Activities</strong><br />• Know yourself – habits, patterns<br />• Be flexible and realistic<br />• Keep in control<br />• Reflect – if it’s not going well, make changes</p>
<p><span class="lead">Making a timetable or plan</span></p>
<p>Making a plan takes time, but it’s a very important part of revision– it means having to make a<br />lot of decisions about how you are going to spend your time.</p>
<p>It helps to be as realistic as possible when you plan. Make a plan that fits with your<br />likes/dislikes, not something so ambitious that it is bound to fail.</p>
<p>• Work in small ‘chunks’ of time<br />• Plan which topics you will study on which days<br />• List tasks involved (checking notes, focus on questions, quick essay plans)<br />• Build in definite breaks – and when they finish<br />• Don’t try to cover too much too fast – be realistic, small chunks are best<br />• Keep half and whole days when you don’t revise – so they are available for emergencies</p>
<p><span class="lead">How do you revise? Pro-active strategies</span></p>
<p>Revision takes a lot of concentration and is intense – find strategies that help you keep ‘on<br />track’ and alert. Short periods of revision are usually best for this.</p>
<p>• Plan how to use the time even if it’s 15 minutes – make a ‘tick list’<br />• Use notes – see below<br />• Identify a key topic, mindmap what you know, identify what you don’t know and find it<br />• Only use books/articles to ‘fill gaps’ – scan for info. you need<br />• Revision works best when you really engage with the subject, if only for ten minutes at a time! Find what suits you<br />• Keep asking yourself questions<br />• Put things in your own words</p>
<p><span class="lead">Useful revision activities</span><br />• Re-write notes, to clarify ideas (but don’t overdo it!)<br />• Organise notes around particular questions, issues, themes<br />• Practise using your material flexibly ie to suit different exam questions<br />• Talk through an answer to a question – takes less time than writing<br />• Make up lots of short questions on a topic – and plan your answers<br />• Talk to students on your course – talking through/discussing topics really helps!</p>
<p><span class="lead">Organising and using notes</span><br />Don’t just re-read notes (passive learning) but think about what you can do with them (active learning)<br />• Sort through and highlight what’s essential<br />• Make notes on notes to help recall<br />• Reduce notes to key headings, points and references<br />• Make ‘master’ cards with key points and memory triggers<br />• Focus- ask questions, keep engaged e.g. ‘What does this mean? How does it relate to x? What is important about this theory/point?’ etc.</p>
<p><br /><span class="lead">Use past exam questions</span><br />Look at these at the early stages of revising – that way, you will find out what you need to<br />revise, and can look at notes with more focus on particular issues.</p>
<p>• Use as a focus for your note organising<br />• Practise ‘de-coding’ the question<br />• Find links between exam questions and areas of study<br />• Check questions carefully –highlight key words, decode ‘jargon’<br />• Do quick plans/mindmaps for exam essays-time yourself<br />• Check/add points you can’t recall<br />• Practise prioritising-make decisions about what to leave out/put in<br />• Do at least one timed ‘exam’ essay – do with a friend, then discuss each other’s essay….very good for seeing how you get on in exam conditions</p>
<p><span class="lead">Finally…keep positive</span><br />• Revision is tiring – give yourself lots of short breaks and rewards for getting things done.<br />• Studies suggest that we retain more at the start and finish of study sessions – so the more short sessions you have revising, the more you will remember…that’s the theory, anyway!<br />• Try to get enough sleep, a bit of exercise, and enough energy food. It helps concentration and state of mind.</p>
<p><br /><span class="lead">Extra ideas</span><br />Look at the ‘Learning Pay-Off’ sheet attached. Think about the ‘pay-off’ of the different revision activities. It’s a useful way of reflecting on revision – what’s effective and what isn’t. Bear in mind that a lot depends on your own style of learning…and build a revision plan that suits your style.</p>
<p>Use the ‘Revision: seven-point action plan’ sheet to develop your own methods and goals for revision – this can be a useful ‘focusing’ exercise, but be realistic – you can always change your action plan if it isn’t working as well as you hoped.</p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 204px;">
<tbody>
<tr style="height: 18px;">
<th style="width: 50%; height: 18px;">Activity</th>
<th style="width: 50%; height: 18px;">
<p>Learning pay-off</p>
<p>(high, medium low)</p>
</th>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px;">1. Reading your lecture notes, handouts, books and articles over and over again.</td>
<td style="width: 50%; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px;">2. Making summaries of your source materials as you read them.</td>
<td style="width: 50%; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px;">3. Writing important things out over and over again.</td>
<td style="width: 50%; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px;">4. Practicing writing out full essay answers.</td>
<td style="width: 50%; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px;">5. Making essay plans for essay question possibilities.</td>
<td style="width: 50%; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px;">6. Practising writing out answers to old exam questions.</td>
<td style="width: 50%; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px;">7. Working out hundreds of short, sharp questions on your own and practising writing out answers to these.</td>
<td style="width: 50%; height: 18px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px;">8. Practising speaking the short answers to past questions and to short, sharp questions that you have written for yourself.</td>
<td style="width: 50%; height: 18px;"> </td>
</tr>
<tr style="height: 10px;">
<td style="width: 50%; height: 10px;">
<p>9. Practising thinking through how you would answer questions.</p>
</td>
<td style="width: 50%; height: 10px;"> </td>
</tr>
<tr style="height: 14px;">
<td style="width: 50%; height: 14px;">10. Practising solving problems.</td>
<td style="width: 50%; height: 14px;"> </td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px;">11. Getting fellow students to quiz you and quizzing them.</td>
<td style="width: 50%; height: 18px;"> </td>
</tr>
</tbody>
</table>
<p> </p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 690px;">
<tbody>
<tr style="height: 33px;">
<th style="width: 100%; height: 33px; text-align: center;">Revision: seven-point action plan</th>
</tr>
<tr style="height: 94px;">
<td style="width: 100%; height: 94px;">
<p>1. Positive state of mind e.g. checking my motivation; giving myself positive messages; working in stress; accepting the challenge. Things I will do to stay positive:</p>
<p> </p>
</td>
</tr>
<tr style="height: 111px;">
<td style="width: 100%; height: 111px;">
<p>2. Time e.g. going over my work from early in the year in different ways; organising a timetable, Priority organiser (page 82) or Time circle for revision (page 80); dealing with my excuses for not revising; using spare moments. I will:</p>
<p> </p>
</td>
</tr>
<tr style="height: 94px;">
<td style="width: 100%; height: 94px;">
<p>3. Variety e.g. working in many short spells; using varied and interesting ways of going over my material. I will:</p>
<p> </p>
</td>
</tr>
<tr style="height: 94px;">
<td style="width: 100%; height: 94px;">
<p>4. Over-learning e.g. rewriting notes, index cards, new essay plans, memory triggers. I will:</p>
<p> </p>
</td>
</tr>
<tr style="height: 94px;">
<td style="width: 100%; height: 94px;">
<p>5. Practice e.g. doing past questions; working under exam conditions; having a trial run. I will:</p>
<p> </p>
</td>
</tr>
<tr style="height: 76px;">
<td style="width: 100%; height: 76px;">
<p>6. People e.g. sharing revision with other people where possible. I will:</p>
<p> </p>
</td>
</tr>
<tr style="height: 94px;">
<td style="width: 100%; height: 94px;">
<p>7. Selection What topics will I revise? What level of detail can I really use under exam conditions? I will:</p>
<p> </p>
</td>
</tr>
</tbody>
</table>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Revision Tips ]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>This guide covers some different revision strategies that you might find useful in your studies, including making timetables, reviewing past exam papers and keeping a positive outlook.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Revision | Effective Learning Service | Queen Margaret University, Edinburgh ]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Revision | Effective Learning Service | Queen Margaret University, Edinburgh ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "850a0869-ed06-4274-b037-29d835b2bc2b",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Revision Tips ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>