<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab345f30-5276-46e4-bc40-074f68dd89bd" Alias="Plain Cookery Recipes Published in 1932" Level="5">
  <Info>
    <Parent Key="e93c06df-805f-4cb9-870f-e39bb734649d">Cookery, Hospitality, Food &amp; Drink</Parent>
    <Path>/Home/AboutTheUniversity/QMU150150Stories/CookeryHospitalityFoodDrink/PlainCookeryRecipesPublishedIn1932</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-03-01T12:00:05</CreateDate>
    <NodeName Default="Plain Cookery Recipes Published in 1932" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/44d80d7c73cd4c25aec84c22e51ad269]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "7ef0df05-6867-4169-b3be-82294018841b",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/dac3766a76f0495c93372c6c50bc5e82",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<div class="mceNonEditable embeditem" data-embed-url="https://www.youtube.com/watch?v=uorBWf_M6c4" data-embed-height="866" data-embed-width="950" data-embed-constrain="true"><iframe width="950" height="534" src="https://www.youtube.com/embed/uorBWf_M6c4?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="" title="Cooking Up the Past 1: Soda Scones from Atholl Crescent"></iframe></div>
<p>This video was produced as part of Museum and Galleries Edinburgh’s Auld Reekie Retold project, which ran from three years from 2019 to connect objects, stories and people using their collection of over 200,000 objects.</p>
<p>The history of the Edinburgh College of Domestic Science illustrates the fight for women’s education, an end to child malnutrition and the work to formalise of ‘home’ skills that was raging at the turn of the twentieth century. It shows how publishing a recipe book can be a radical act.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Plain Cookery Recipes Published in 1932]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>In this video, you can see staff from Museums and Galleries Edinburgh make soda scones from the Plain Cookery Recipes, a book published in 1932 by QMU’s predecessor institution, the Edinburgh College of Domestic Science.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[In this video, you can see staff from Museums and Galleries Edinburgh make soda scones from the Plain Cookery Recipes, a book published in 1932 by QMU’s predecessor institution, the Edinburgh College of Domestic Science.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Plain Cookery Recipes Published in 1932 | QMU150 | QMU, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "c56066c1-f26d-4462-a221-65870f31576b",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Plain Cookery Recipes Published in 1932]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>