<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae785d54-02fe-4b01-97fc-da767b956324" Alias="SCFDI Salt Enquiries" Level="4">
  <Info>
    <Parent Key="ecf5930f-7e9c-41b1-9bd9-b5a7c0284236">Individuals</Parent>
    <Path>/Settings/Contacts/Individuals/SCFDISaltEnquiries</Path>
    <Trashed>false</Trashed>
    <ContentType>contactIndividual</ContentType>
    <CreateDate>2022-02-28T14:49:03</CreateDate>
    <NodeName Default="SCFDI Salt Enquiries" />
    <SortOrder>143</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactOptions>
      <Value><![CDATA[[
  {
    "key": "9de9f26f-be70-4d2b-aafe-b7d4aa911c13",
    "name": "Item 1",
    "ncContentTypeAlias": "SocialMedia",
    "title": "",
    "type": "[\"Email\"]",
    "scUrl": "HelloSCFDI@qmu.ac.uk"
  }
]]]></Value>
    </contactOptions>
    <logoImage>
      <Value><![CDATA[]]></Value>
    </logoImage>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <mainTitle>
      <Value><![CDATA[SCFDI Salt Enquiries]]></Value>
    </mainTitle>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <telephoneNumber1>
      <Value><![CDATA[0131 474 0000]]></Value>
    </telephoneNumber1>
    <telephoneNumber2>
      <Value><![CDATA[]]></Value>
    </telephoneNumber2>
    <thumbnailImage>
      <Value><![CDATA[]]></Value>
    </thumbnailImage>
  </Properties>
</Content>