<?xml version="1.0" encoding="utf-8"?>
<Content Key="afd12caf-5158-4a4d-9da6-edd15f63c6cf" Alias="&quot;Scotland: my biggest adventure yet!&quot;" Level="5">
  <Info>
    <Parent Key="c567bbf0-9aaf-4aa9-a3b4-eb806a8983c1">Yeliz Cavrar</Parent>
    <Path>/Home/CampusLife/Blogs/YelizCavrar/ScotlandMyBiggestAdventureYet</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2021-01-28T20:57:48</CreateDate>
    <NodeName Default="&quot;Scotland: my biggest adventure yet!&quot;" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65102975-f5a6-47bf-9418-b0e82dc7c288">BlogPost</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/e228a4ac693041f9890338ef3f121689]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "a6c938fc-0ed4-49c0-911e-5373231baf91",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/4151499a2bd149d68fb5e6b0351b6584",
    "title": "",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p>The first time I visited Edinburgh (I lived in Queen Margaret University's student residences in Musselburgh, a short distance from the city centre) the weather was the worst, but I still had a lot of fun.</p>
<p>Let me explain. First of all the weather was so rainy and windy - and by windy I mean you could've been blown away just like Harry Styles did in his ‘Sign of the Times’ music video which was ironically filmed in Scotland. It was nearly impossible to walk against the wind. Funnily enough the weather the day before and after that was quite the opposite which is why I did not bother to check the forecast. But it made it all the more memorable. I chose to go with the flow and let the wind navigate me since I did not know the city yet. </p>
<p>Then I met up with Eni, my travel partner who joined me on excursions across Scotland. She also came from the same university as me in Hungary. We started planning everything, booking tours and deciding where to go. Our first plan was to take a hike up Arthur’s Seat. I was especially excited for this because I like to hike and enjoy feeling like I’m on top of the world which, I mean, who doesn’t? The sun was setting by the time we reached the top and the air was getting chillier as the sky got darker, but the view was so mesmerising that we barely noticed the cold. In whatever direction I looked, the scenery took my breath away but at the same time it was peaceful and quiet as the streetlights turned on and the day come to an end.</p>
<p><img src="?width=500&amp;height=332.14285714285717" alt="Arthurs Seat at Sunrise" width="500" height="332.14285714285717" data-udi="umb://media/5e3b5cbb999e4af7b5ae1c0ac406ef25" /></p>
<p>Before continuing with the trips we went on next, I want to mention my new discovery. Scones. Now this might be a very simple pastry for some that is not worth mentioning, but for me it almost turned into an obsession. I would feel like I was missing something if I hadn’t eaten a scone in a couple of days. This resulted in a hunt for the best scones in town. If you are visiting Edinburgh I would highly recommend checking out <em>The Beach House</em> in nearby Portobello. They earned the best scone title in my book! They serve freshly baked scones with delicious butter and strawberry jam. I also loved the scones in Queen Margaret University's cafeteria with tea or coffee - that was my usual breakfast and it was also very affordable.</p>
<p><img src="?width=500&amp;height=281.54761904761904" alt="The Beach House Portobello" width="500" height="281.54761904761904" data-udi="umb://media/be8e726385c04cdf91f5a424ce24b220" /></p>
<p>After we visited everywhere we wanted to in Edinburgh, took long walks and familiarised ourselves with the city, Eni and I were ready to take our trips outside the city.</p>
<p> </p>
<p>The best weekend trip we took was to Skye. It was my first time in the Highlands and we stopped at Eilean Donan Castle, Loch Lomond, Glencoe and Fort William along the way where we learned a lot about the history of Scotland and listened to folk music. It was such an amazing trip even though the weather did not bless us (it was rainy, windy and cold but what can I say; it’s Scotland, we were prepared for it!). We still enjoyed it very much, met some cool people, and our tour guide was very entertaining and knowledgeable. I would say it is worth signing up for these student tours, you really get your money’s worth.</p>
<p><img src="?width=500&amp;height=331.54761904761904" alt="Rainbow Road to Skye" width="500" height="331.54761904761904" data-udi="umb://media/1e496f75d59f4a8ca65e37714ecf954b" /></p>
<p>One of my favourite days in Scotland was actually on my birthday, which sure enough became the best birthday I have ever had. Eni and I first went to Aberdeen. Aberdeen seemed like a combination of Glasgow and Edinburgh; not quite as industrialised as Glasgow but more so than Edinburgh, with very old buildings. We worried about the people’s accent as we were told that it is hard to understand but thankfully we faced no trouble buying a coffee so it wasn’t a big problem. After taking in the city and having enjoyed the time we spent there, we took a bus to Stonehaven. The bus driver was kind enough to bring us close to Dunnottar Castle which is what we wanted to see first.</p>
<p>If someone asked me which castle I liked the most in Scotland I would instantly say Dunnottar Castle without any doubt. It looks like something out of a fairy tale.</p>
<p><img src="?width=500&amp;height=332.14285714285717" alt="Dunnottar Castle" width="500" height="332.14285714285717" data-udi="umb://media/2c71794272dc498088dee2631342cc86" /></p>
<p><img src="?width=500&amp;height=280.95238095238096" alt="Costal path to castle" width="500" height="280.95238095238096" data-udi="umb://media/ec97984c601e46e1bf0fe5e734aa0b2c" /></p>
<p><img src="?width=500&amp;height=332.14285714285717" alt="Dunnottar Castle" width="500" height="332.14285714285717" data-udi="umb://media/dea3466087d7493b8a4ffe274952fa0d" /></p>
<p>Afterwards we walked down to Stonehaven and found a cute cafe for tea and cake. The lady working there was nice enough to give us the rest of the scones for nothing because the cafe was about to close and she knew we were students away from our families, happy to accept free food!</p>
<p><img src="?width=500&amp;height=281.54761904761904" alt="Tea and Scones" width="500" height="281.54761904761904" data-udi="umb://media/933b64cd19e048ebb0ab7af4d037d214" /></p>
<p>On November 15 2018, the Feast Day of St Margaret, Eni and I were invited to the Edinburgh Castle as we were part of the Queen Margaret Legacy Programme. Every year, members of St Margaret's Chapel Guild take turns to bring flowers to the chapel inside the castle in remembrance of St Margaret and we had the chance to meet and have lunch with members in the castle which was surreal. What I found very interesting is that the only way one can become a member is by having the name Margaret, so the members consisted of women only. They also named their children Margaret (some by middle name) to enable them to join. After lunch and having taken the opportunity to meet as many Margarets as we could, we had a tour of the castle. Up until then, I hadn't realised how big the castle actually is, so it was great that we got to see every part of it, inside and out.</p>
<p><img src="?width=500&amp;height=296.551724137931" alt="Photo collage" width="500" height="296.551724137931" data-udi="umb://media/e228a4ac693041f9890338ef3f121689" /></p>
<p>I cannot end this blog without mentioning some other beautiful places that we got to visit. One of them is Melrose Abbey. It is located in a cute little village and the abbey is just beautiful. We went there on a cold, wintry day, so it was no surprise that we were the only people inside the abbey. I also tried sticky toffee pudding for the first time in Melrose and it was delicious!</p>
<p><img src="?width=500&amp;height=332.14285714285717" alt="Image of Melrose Abbey" width="500" height="332.14285714285717" data-udi="umb://media/e8a2b7a6fa9a4c928c7e7f7f0b7300c3" /></p>
<p>Other honourable mentions include the seaside town of North Berwick, and St Andrews which is full of beautiful and historic buildings.</p>
<p>We also visited Inverness, and while we were there we took a short bus ride to Loch Ness. We did not see Nessie unfortunately… In the city we explored the most beautiful bookshop ever. You could easily get lost in there and spend hours looking through the books. It was a bookworm’s paradise, really.</p>
<p>I had a great time in Scotland and would highly recommend it as an ideal place for a student exchange. Queen Margaret University was very welcoming, the staff were helpful and the school was full of international students so you won’t feel out of place.</p>
<p>The only advice I can offer someone thinking about coming to Scotland is to plan everything ahead of time. Make the most of your experience, and most importantly, have fun!</p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[2019-04-04T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA["Scotland: my biggest adventure yet!"]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>The past semester has been the biggest adventure for me. It is not easy to put this experience into a short account, but I will try my best to reflect my appreciation and tell my stories for those who want to take part in an exchange in Scotland for themselves. </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[The past semester (3 month and 19 days to be exact) have been the biggest adventure for me. And it is not easy to put this experience into a few pages but I will try my best to reflect my appreciation and tell my stories for those who want to take part in an exchange semester themselves. This is basically going to be a list of ‘the bests’ because I wouldn’t be able to write everything.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA["Scotland: my biggest adventure yet!" Queen Margaret Legacy Programme]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Queen Margaret Legacy Programme]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>