<?xml version="1.0" encoding="utf-8"?>
<Content Key="b67e8e39-3261-4cb3-abe2-997dc60bca3b" Alias="Conferences and Events Team" Level="4">
  <Info>
    <Parent Key="ecf5930f-7e9c-41b1-9bd9-b5a7c0284236">Individuals</Parent>
    <Path>/Settings/Contacts/Individuals/ConferencesAndEventsTeam</Path>
    <Trashed>false</Trashed>
    <ContentType>contactIndividual</ContentType>
    <CreateDate>2021-01-02T15:13:26</CreateDate>
    <NodeName Default="Conferences and Events Team" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactOptions>
      <Value><![CDATA[[
  {
    "key": "cd85a98c-95df-4fd3-ac86-2e0123b4a53d",
    "name": "Email",
    "ncContentTypeAlias": "SocialMedia",
    "title": "Email",
    "type": "[\"Email\"]",
    "scUrl": "events@qmu.ac.uk"
  }
]]]></Value>
    </contactOptions>
    <logoImage>
      <Value><![CDATA[]]></Value>
    </logoImage>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <mainTitle>
      <Value><![CDATA[Conferences and Events Team]]></Value>
    </mainTitle>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <telephoneNumber1>
      <Value><![CDATA[0131 474 0000]]></Value>
    </telephoneNumber1>
    <telephoneNumber2>
      <Value><![CDATA[]]></Value>
    </telephoneNumber2>
    <thumbnailImage>
      <Value><![CDATA[]]></Value>
    </thumbnailImage>
  </Properties>
</Content>