<?xml version="1.0" encoding="utf-8"?>
<Content Key="b700d4b2-8ff4-4ae9-9cf8-237b1ea09e5d" Alias="Group Management" Level="6">
  <Info>
    <Parent Key="7fbd82bb-fe53-4219-ae9d-344d944bc8b8">NIHR Research Unit on Health in Situations of Fragility (RUHF)</Parent>
    <Path>/Home/ResearchAndKnowledgeExchange/ResearchCentresInstitutesAndKnowledgeExchangeCentres/InstituteForGlobalHealthAndDevelopment/NIHRResearchUnitOnHealthInSituationsOfFragilityRUHF/GroupManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-24T08:18:29</CreateDate>
    <NodeName Default="Group Management" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/b2ff4b609c174a2ca86725db6a7ff452]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "5c054bea-6c74-4ddc-801d-3df0490afffb",
    "name": "Group Management",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/4d9df1716b114d9d8607cd1386163858",
    "title": "Group Management",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead">Programme Management Group</span></p>
<p>The unit is directed by a Programme Management Group (PMG) comprising:</p>
<p>          -Unit Director, <a rel="noopener" href="/{localLink:umb://document/09abf26806fe441c868a59faa7e5a27e}" target="_blank" title="Professor Alastair Ager">Professor Alastair Ager</a></p>
<p>          -Unit Deputy Director, <a rel="noopener" href="/{localLink:umb://document/68e2b38c75df45ff8af59b4071833abb}" target="_blank" title="Professor Sophie Witter">Professor Sophie Witter</a></p>
<p>          -<a rel="noopener" href="https://ghi.aub.edu.lb/" target="_blank" title="AUB">AUB </a>Research Lead, <a rel="noopener" href="https://www.aub.edu.lb/pages/profile.aspx?memberID=ss117" target="_blank" title="Professor Shadi Saleh" data-anchor="?memberID=ss117">Professor Shadi Saleh</a></p>
<p>          -<a rel="noopener" href="https://kslp.org.uk/partners/college-of-medicine-allied-health-science/" target="_blank" title="COMAHS">COMAHS </a>Research Leads, Dr Haja Wurie and Dr Mohamad Samai</p>
<p><span class="lead">Strategy Advisory Group</span></p>
<p>We are advised by a Strategy Advisory Group (SAG), comprising senior academics, policymakers, providers and service users.</p>
<p>This has representation from global technical networks including:</p>
<p>          -<a rel="noopener" href="https://gcp.network/" target="_blank" title="The Global Clinical Practice Network">The Global Clinical Practice (GCP) Network</a> of the Global Mental Health Program (through Dr Kathy Pike, <a rel="noopener" href="https://www.columbia.edu/" target="_blank" title="Columbia University">Columbia University</a>)</p>
<p>          -<a rel="noopener" href="https://mhpss.net/" target="_blank" title="MHPSS network">The Mental Health and Psychosocial Support (MHPSS) Network</a> (through Dr Margriet Blaauw)</p>
<p>          -The UK-Africa Academic Partnership on Chronic Conditions in Africa (through Professor Ama</p>
<p>           de-Graft Aikins, University of Ghana)</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/501990fb231e49c29c304d045b442dd7]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Group Management]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><a rel="noopener" href="/{localLink:umb://document/7fbd82bbfe534219ae9d344d944bc8b8}" target="_blank" title="NIHR Research Unit on Health in Situations of Fragility (RUHF)">The NIHR Research Unit on Health in Situations of Fragility</a> (RUHF) at Queen Margaret University, Edinburgh seeks to identify sources of resilience within formal health systems and local community processes.</p>
<p>This is done in order to facilitate effective provision for health priorities - particularly mental health and non-communicable disease (NCDs) - in situations of fragility.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[The RUHF is directed by a Programme Management Group and advised by a Strategy Advisory Group comprising academics, policymakers, providers and service users.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Group Management| RUHF | IGHD |  Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "afec9e78-5df7-4237-ba71-808c48a2e804",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "customSocialMedia",
                    "value": {
                      "name": "Custom Social Media",
                      "facebook": "https://www.facebook.com/IGHDQMU/",
                      "twitter": "https://twitter.com/IGHD_QMU",
                      "instagram": "",
                      "linkedIn": "https://www.linkedin.com/company/ighd-qmu",
                      "youTube": ""
                    },
                    "id": "f3b8cfbc-3f48-9ef5-70ec-00a864702a39"
                  },
                  "editor": {
                    "alias": "Custom Social Media",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Group Management]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>