<?xml version="1.0" encoding="utf-8"?>
<Content Key="b886db8e-e3cc-4e47-8e8c-6884038029ec" Alias="Working from home while attempting to home school children" Level="3">
  <Info>
    <Parent Key="d18bb03a-fac8-40f6-80a9-fff6921ad1d2">Quotes</Parent>
    <Path>/Settings/Quotes/WorkingFromHomeWhileAttemptingToHomeSchoolChildren</Path>
    <Trashed>false</Trashed>
    <ContentType>quote</ContentType>
    <CreateDate>2022-01-17T09:53:22</CreateDate>
    <NodeName Default="Working from home while attempting to home school children" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[umb://media/ae590ba94c31448d8cdbb213de3c9cbc]]></Value>
    </image>
    <quoteText>
      <Value><![CDATA[We have found a routine that works, but it relies on us all being quite strict with each other.]]></Value>
    </quoteText>
    <source>
      <Value><![CDATA[Lorain Findlay]]></Value>
    </source>
    <sourceExtra>
      <Value><![CDATA[27 April 2020]]></Value>
    </sourceExtra>
  </Properties>
</Content>