<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9e2338c-79c4-489d-bfc5-d96b0d966a0e" Alias="Student Story - Harry Jackson - BA Hons Act Stage/Screen" Level="3">
  <Info>
    <Parent Key="d18bb03a-fac8-40f6-80a9-fff6921ad1d2">Quotes</Parent>
    <Path>/Settings/Quotes/StudentStoryHarryJacksonBAHonsActStageScreen</Path>
    <Trashed>false</Trashed>
    <ContentType>quote</ContentType>
    <CreateDate>2021-10-22T09:35:09</CreateDate>
    <NodeName Default="Student Story - Harry Jackson - BA Hons Act Stage/Screen" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[umb://media/a692a38f5b1d4d52af9148d7993430b4]]></Value>
    </image>
    <quoteText>
      <Value><![CDATA[“QMU also boasts brilliant facilities and staff. Furthermore, the University is in Edinburgh, the location for the International Film Festival and Fringe Festival, which in your fourth year, you can take part in with a show developed during your course time.”]]></Value>
    </quoteText>
    <source>
      <Value><![CDATA[Harry Jackson]]></Value>
    </source>
    <sourceExtra>
      <Value><![CDATA[BA (Hons) Acting for Stage and Screen]]></Value>
    </sourceExtra>
  </Properties>
</Content>