<?xml version="1.0" encoding="utf-8"?>
<Content Key="bad7538f-a6c4-4dcf-9d4c-42f5a13147a4" Alias="2017.10.20 - Consumer representation in financial services" Level="5">
  <Info>
    <Parent Key="5ec60e7e-de76-4127-aaea-18ddb982220d">2017</Parent>
    <Path>/Home/NewsAndEvents/News//ConsumerRepresentationInFinancialServices</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T14:49:52</CreateDate>
    <NodeName Default="2017.10.20 - Consumer representation in financial services" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/7d577d014deb4c668660d64d2a7eb948]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "c64fd51e-99d7-48cd-92fc-563f1d61dbd3",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/1ba7ccfdf8ce44da8b30b9242f1c1e13",
    "title": "Consumer representation in financial services ",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The research, commissioned by Bacs Payment Schemes Limited (Bacs) – the organisation behind Direct Debit, Bacs Direct Credit and the Current Account Switch Service - identifies ways in which consumer representation can be improved across the financial industry to ensure that the needs of end-users are put at the centre of discussions on how to develop, deliver and monitor the effectiveness of new products and services.</p>
<p>The publication also highlights that principles in relation to culture, people and processes underpin effective consumer representation, while it is suggested that a mix of both representatives on boards, and a collective forum can provide an influential and effective voice for consumers.</p>
<p>The findings conclude that strong consumer representation should be viewed as integral to an organisation’s strategy and that, when consumers are put at the heart of corporate decision making, better outcomes are achieved.</p>
<p>Anne Pieckielon, Bacs’ Director of Product and Strategy, said:</p>
<p>'At Bacs we are big believers that only by putting the needs of consumers front and centre when it comes to decision making can the best outcomes be achieved for all. As part of our governance arrangements for the Current Account Switch Service we have worked hard to ensure that a range of interests are represented, as we know the importance of having a number of different voices around the table'</p>
<p> </p>
<?UMBRACO_MACRO macroAlias="Quote" text="By commissioning this research we hope that our work can help inform governance decisions across the industry, spark further discussion about what best practice looks like and help set a benchmark for true consumer engagement at the highest levels within organisations." source="Anne Pieckielon" sourceExtra="Director of Product and Strategy, Bacs" />]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2017-10-20T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Consumer representation in financial services ]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>Report into consumer representation in the payments sector released today.</strong></p>
<p>A new report, examining the best approaches to ensure effective consumer representation in the governance of financial services is released today (Friday 20 October) by Queen Margaret University.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[A new report, examining the best approaches to ensure effective consumer representation in the governance of financial services is released today (Friday 20 October) by Queen Margaret University.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Consumer representation in financial services |News and Events | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "17f00161-0727-4aed-99b4-2f8b398e2611",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Consumer representation in financial services]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>