<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb3e30d1-fd71-46d4-91ed-025dcea48fbf" Alias="Staff - Professor Alastair Ager" Level="4">
  <Info>
    <Parent Key="644845e5-0db0-4a49-9230-5d12ef68dcb0">Blogs</Parent>
    <Path>/Home/CampusLife/Blogs/StaffProfessorAlastairAger</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2021-01-28T15:53:28</CreateDate>
    <NodeName Default="Staff - Professor Alastair Ager" />
    <SortOrder>70</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="352afafb-7425-4e97-b145-ab96eebf5bdc">BlogBio</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/8d916bae22f34e4eb79761473c050b82]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "0ecac2fd-75ba-4e5f-83a1-9c39306457b9",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/8c4d19521aaf470594aa876fb04a2237",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p>I have worked in the field of global health and development for over twenty-five years, after originally training in psychology at the universities of Keele, Wales and Birmingham in the UK. I was formerly Head of the Department of Psychology at the University of Malawi, Director of the Centre for International Health Studies at Queen Margaret, and Senior Research Manager for the UK Department for International Development, with responsibility for the agency's global portfolio of health and education research. I have international experience as a lecturer, researcher and consultant across sub-Saharan Africa, south Asia, Europe and North America, working with a range of intergovernmental, non-governmental and governmental agencies.</p>
<p>I am active in five major areas of research: the evaluation of humanitarian programming (particularly with regard to protection and psychosocial support of refugee children); health systems resilience in contexts of crisis (through work in northern Nigeria and the Middle East); the engagement of local faith communities in humanitarian response (in colleaboration with World Vision, Islamic Relief, the Lutheran World Federation and the JLI); the adjustment and well-being of humanitarian workers (in collaboration with the Antares Foundation); and health research capacity strengthening.</p>]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Professor Alastair Ager]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>I am an Emeritus Professor at QMU and the former Director of the Institute of Global Health and Development and a full member of the Institute for Global Health and Development Research Centre, having joined QMU as Director of the Institute of International Health and Development in July 2015.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[I am an Emeritus Professor at QMU and the former Director of the Institute of Global Health and Development and a full member of the Institute for Global Health and Development Research Centre, having joined QMU as Director of the Institute of International Health and Development in July 2015.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Professor Alastair Ager | Staff Blogger Profile | Queen Margaret University]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[umb://media/e2f84ef3e47740b8aef5dbbc21693556]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Professor Alastair Ager]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>