<?xml version="1.0" encoding="utf-8"?>
<Content Key="bddf5e4c-8e9a-488e-886f-2fd9fada626e" Alias="Mohawk College" Level="4">
  <Info>
    <Parent Key="1620d7d2-691f-4195-832b-687d9f4c6394">International Students</Parent>
    <Path>/Home/StudyHere/InternationalStudents/MohawkCollege</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-08T15:31:50</CreateDate>
    <NodeName Default="Mohawk College" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/6dc679f6131047adae5cef1b0f5b21b6]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "8911d57e-eb4d-44c5-bf02-7b94e0a3396f",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/c3dea5fbdb22448b87ad3fe81508d181",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><span class="lead">Virtual Events</span><span> </span></p>
<p><span>We appreciate that if you are overseas it may not be possible to attend the University for a visit. Throughout the year we host a number of events online where you can see presentations about a number of our courses, interact with academic staff as well as with staff from the International Office. </span></p>
<p><a href="/{localLink:umb://document/d4c167e2e84048a2b1f84e1b9d0efbff}" title="Web Chat Sessions"><span class="blue-btn">More information on Virtual Open Days</span></a></p>
<p><span class="lead">Contact us </span></p>
<p>For further information, or to make an appointment to meet a QMU representative, please <a href="mailto:%20international@qmu.ac.uk">contact the International Office</a>. Alternatively you can call us on +44 (0)131 474 0000.</p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The table below outlines the articulation routes which are currently available. To read more about a particular course at QMU, click on the name which will take you through to the course entry.</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 33.3333%;"><strong>Mohawk Course</strong></th>
<th style="width: 33.3333%;"><strong>QMU course</strong></th>
<th style="width: 33.3333%;"><strong>Level of entry</strong></th>
</tr>
<tr>
<td style="width: 33.3333%;"><a href="https://www.mohawkcollege.ca/programs/graduate-studies/public-relations-166" title="Public Relations Graduate Ontario College Graduate Certificate Mohawk College">Public Relations <span>Graduate Ontario College Graduate Certificate</span></a></td>
<td style="width: 33.3333%;">
<p><a data-id="12648" href="/{localLink:umb://document/0491facfd4bf4e149c9806fdead595c3}" title="MSc Strategic Communication and Public Relations" data-udi="umb://document/54b1660569064b9cbcdb94a0216ddf28">MSc Strategic Communication and Public Relations</a></p>
<p>Application: Click the 'Apply for this course' button on the page above. There is a section on the application form where you should state that you are a student at Mohawk College.</p>
</td>
<td style="width: 33.3333%;">
<p>40 credits of RPL and exemption from the following modules: </p>
<ul>
<li>Strategic Communication Planning and Digital Practice</li>
<li>Elective</li>
</ul>
<p>Students would need to complete 80 credits of taught modules plus the 60-credit dissertation OR project.</p>
</td>
</tr>
<tr>
<td style="width: 33.3333%;">Possession of a previous undergraduate degree or equivalent PLUS Mohawk Graduate Certificate in Communications Media Practices OR Mohawk Graduate Certificate in Multimedia Storytelling</td>
<td style="width: 33.3333%;">
<p><a href="/{localLink:umb://document/f2635ec6a70541aaa4fd3e27de52bc71}" title="MSc Digital Campaigning and Content Creation" data-udi="umb://document/eb1e207b75dd4dea9d3bf38c9d16f3e1">MSc Digital Campaigning and Content Creation</a></p>
<p>Application: Click the 'Apply for this course' button on the page above. There is a section on the application form where you should state that you are a student at Mohawk College.</p>
</td>
<td style="width: 33.3333%;">
<p>40 credits of RPL and exemption from the following modules: </p>
<ul>
<li>Visual Storytelling for Media Campaigns</li>
<li>Elective</li>
</ul>
<p>Students would need to complete 80 credits of taught modules plus the 60-credit dissertation OR project.</p>
</td>
</tr>
</tbody>
</table>
<p>Once you have submitted your online application, please <a href="mailto:admissions@qmu.ac.uk" title="Admissions E-mail Contact">email Admissions</a> <a href="mailto:Admissions@qmu.ac.uk"></a>to notify them that you have applied through an articulation route. Please provide your student number (if known), your date of birth, the course you have applied for and the partner College or University that you have studied at. This information is crucial in allowing the University to send you the correct course information, and to consider any tuition fee discounts that may be applicable to you. </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/9a38b61cd40348afa67f7bcf6ce08e82]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Mohawk College]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead">We have a partnership with <a href="https://www.mohawkcollege.ca/">Mohawk College</a>, Hamilton, Ontario enabling graduates from there to advance their studies with QMU in the beautiful city of Edinburgh, receiving an education combining the ideal balance of theoretical and practical knowledge.</span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[We have a partnership with Mohawk College, Hamilton, Ontario enabling graduates from there to advance their studies with QMU in the beautiful city of Edinburgh, receiving an education combining the ideal balance of theoretical and practical knowledge.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Mohawk College | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "933304e9-5b48-437f-b7a9-e3411ca3fcff",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "rCEvent",
                    "value": {
                      "name": "RC Event",
                      "image": "umb://media/5c133104b66d4286893f17cfb2e4594b",
                      "title": "A Student Story",
                      "subTitle": "Nicole Moll - MSc Strategic Communication and Public Relations ",
                      "freeText": "\"I chose to study at QMU because I am a part of the Mohawk College Pathway Agreement between QMU and Mohawk College in Canada. This pathway was introduced to me in 2017 and I was immediately interested because there are very few public relations-based programmes in Canada which would allow me to earn an MSc in one year.\"",
                      "event": [],
                      "linkText": "Read my story",
                      "linkInternal": [
                        {
                          "icon": "icon-umb-users color-indigo",
                          "name": "Nicole Moll - MSc Strategic Communication and Public Relations",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/51568a5ed3e94c7ca5747501d54bb6ac",
                          "url": "/study-here/student-stories/nicole-moll-msc-strategic-communication-and-public-relations/"
                        }
                      ],
                      "linkExternal": ""
                    },
                    "id": "7be37d04-8ec0-a9e9-3719-d5377464a35f"
                  },
                  "editor": {
                    "alias": "RC Event",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Mohawk College]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>