<?xml version="1.0" encoding="utf-8"?>
<Content Key="be024f6b-2725-4e46-8415-6ed19f330b19" Alias="Alex Hunstone - BA International Hospitality and Tourism Management" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/AlexHunstoneBAInternationalHospitalityAndTourismManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-05-17T09:46:37</CreateDate>
    <NodeName Default="Alex Hunstone - BA International Hospitality and Tourism Management" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/ee93a64ee7324d179e27b3cddb7f4460]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "58f6f9d6-7b5d-4f22-a1c4-5e8bf5ea29fb",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/771572c0f56b46288a45a20d4a326c7f",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p>Published in 2018</p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead-big">The Course</span></p>
<p><span class="lead">What did you enjoy most about the course?</span></p>
<p>I enjoyed all the practical elements of the course. It was nice to get taught things in the lecture hall as well as outside in the real world. It allowed us to gain so much knowledge of the industry. From the work placement in my second year, to having an assignment of completing a walking tour around Edinburgh and everything in between. It’s hard to pin point what I enjoyed most. I enjoyed it all.</p>
<p><span class="lead">Was there any particular course activity you found especially interesting?</span></p>
<p>I really enjoyed going to Edinburgh Newtown Cooking School. It was so much fun learning how to cook different dishes. We also put on events for family and lecturers, our team did a 007 James Bond evening and all our dishes were themed around the films. We also decorated the restaurant and send out invitations which we had designed. It taught how we could come together and plan and event and make it happen, it made it all worthwhile when you saw all the guests enjoying the food and the event.</p>
<p><span class="lead">How did your lecturers support your learning?</span></p>
<p>My lecturers were great throughout the four years I was at QMU. They were always available for anything that I needed and kept me on the straight and narrow. A special shout out to Marc Robertson and Majella Sweeney who were there for me throughout everything.</p>
<p><span class="lead">What challenges did you face with the course or university life and how did you overcome them?</span></p>
<p>One of the challenges I faced was homesickness. If affected me in my 1st year as it was the first time id moved away from home and everything in my first week especially just seemed to be going wrong. Little things would really upset me when normally I would have just sorted out the problem. To overcome this challenge I talked to my flatmates and friends who had also moved away from home. We learnt that we could all rely on each for support.</p>
<p><span class="lead">Did you take part in a placement as part of your course? Tell me about your experience.</span></p>
<p>I took part in a placement during my second year at QMU. It took me to Disney World in Orlando Florida. I have always loved Disney so the placement as part of my course gave me a perfect excuse to work for them. I was a lifeguard in all the Magic Kingdom Resorts and was friends with Tigger. It taught me so much about the travel and hospitality industry and allowed me the opportunity to work for the largest entertainment company in the world. The little things of how you are part of a team, you’re a cast member not staff, how you were part of a production of magic; all of which made you feel valued and honoured to work for the company and not just a number.</p>
<p>After having the experience of this work placement, once I graduated in 2016 I went back to Disneyworld in Orlando. I have been working for the company ever since, and now work for Disney Cruise Lines.</p>
<p><span class="lead">Do you have any advice for students who might be interested in this course?</span></p>
<p>For people who are interested in working in the hospitality and tourism industry this course encompasses everything in the industry. It covers both hospitality and Tourism aspects. When I was choosing what course I wanted to do, a lot only had one aspect of the industry, so it was either more focused on Hospitality or more focused on Tourism. I wanted an equal division of the two and QMU offered this with their course. Having the practical element in the course made my CV look a lot more attractive to potential employers because I had already got experience in the industry. I would encourage every student interested in this industry to definitely look at completing this course at QMU</p>
<p><span class="lead-big">Enhancing student living and personal development</span></p>
<p><span class="lead">Did you enjoy any schemes to enhance you learning and development (volunteering, mentoring)?</span></p>
<p>I was a student mentor while at QMU. I did enjoy my role as I could pass on tips and knowledge to new students in their 1st year. It helped me remember where I started and how much I’d grown as a person throughout my time at QMU.</p>
<p><span class="lead-big">Life as a student at QMU</span></p>
<p><span class="lead">What is your top tip for making the most of being a student?</span></p>
<p>I would say my top tip would be to involve yourself in a much as you can. Make friends, join societies as that can be your escape from your course and stop you from overthinking or becoming bored. Find the balance between fun and the course you’re studying as that will make your university experience the best it can possibly be.</p>
<p><span class="lead">What was the most valuable lesson that you learned at university?</span></p>
<p>The most valuable lesson I learnt was not to compare myself to other people in my class. I was my individual and it was my choice who I wanted to become and what I wanted to do in the future. I learnt how to believe in myself and know that I could achieve anything I set my mind to. When I look back on my time at QMU I don’t regret anything and that’s the most important thing. It shows that I took everything I learnt on board and put it into practice.</p>
<p><span class="lead-big">After Graduation</span></p>
<p><span class="lead">Can you tell us about your life post-graduation (your career path)?</span></p>
<p>Since graduating in 2016 I went back and worked for Disney World in Orlando, Florida. From 2016 to 2017 I participated in an internship at the Swan and Dolphin Hotel and Resort, I completed several roles at the resort which included Guest Services, Front Desk and Recreation. While I was there we went through the hotel merger between Marriott and Starwood. As the Resort is on Disney property the hotel operated as every other Disney hotel. The main difference for us was that we had both Disney Values to uphold as well as Marriott and Starwood policies and procedures.</p>
<p>After my internship finished in December 2017, I returned back to England and went and worked at Dovehaven Care Homes as their Recruitment Manager. I have always worked for the family-owned company since I was 16, so was happy to return to help where I could. As Recruitment Manager I recruited staff for 20 homes, which included care assistants, support staff (chefs, and domestics) and managers.</p>
<p>After a year of being back in England I wanted to travel again. I applied for a job back at Disney. In November 2018 I went and joined the Disney Dream, 1 of the 4 Disney Cruise Line Ships and have been working for them since. I am a Youth Activities Counsellor and work with children between the ages of 3-17 years old. The Disney Dream is currently based out in the Bahamas, but it has also lead me to travel to Mexico, Grand Cayman and their own Private Island Castaway Cay. Since starting my role with Disney Cruise Lines, I have achieved my 1 year service pin with the company and have become a Disney Trainer.</p>
<p>There are various different ways I can progress my career with Disney and I am thankful for everything they have taught me over the 4 years I’ve been working for them. It’s a dream come true to work for Disney and its fun and exciting to work for the largest entertainment company in the world.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Scotland]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/d1dff860257348839291d20c1842932b]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[BA/ BA (Hons) International Hospitality and Tourism Management  ]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Alex Hunstone]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">About You</span></p>
<p><span class="lead">Why did you choose to study at QMU and what attracted you to the course?</span></p>
<p>I was looking at universities up in Scotland as they all had courses I was interested in especially ones that had both hospitality and tourism. QMU was on the list as it was a campus university which I wanted as I could live and study in the same place. I was worried that a city campus would be very overwhelming especially as I was moving so far away from home.</p>
<p>The course attracted me straight away due to the fact it had a work placement during the second year. I knew that this would be beneficial as employers like hospitality and tourism students to have experience in the industry. The course also had an equal balance of both hospitality and tourism which I knew I’d enjoy.</p>
<p> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Alex Hunstone graduated from Queen Margaret University, Edinburgh in 2016 with a BA International Hospitality and Tourism Management. He now works for Disneyworld. Here he tells his story of his student experience at the university. ]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Alex Hunstone | Graduate Stories | Queen Margaret University, Edinburgh ]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[I took part in a placement during my second year at QMU. It took me to Disney World in Orlando Florida. I have always loved Disney so the placement as part of my course gave me a perfect excuse to work for them.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Alex Hunstone ]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Alex Hunstone]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Graduate"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>