<?xml version="1.0" encoding="utf-8"?>
<Content Key="be354ef4-6b95-4bbb-a57c-77307a5b5b1e" Alias="2021.10.26 MSc Podiatry pre-registration" Level="5">
  <Info>
    <Parent Key="659cf431-5480-4060-80fd-c765a525647f">2021</Parent>
    <Path>/Home/NewsAndEvents/News//MScPodiatryPreRegistration</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-11-22T14:59:02</CreateDate>
    <NodeName Default="2021.10.26 MSc Podiatry pre-registration" />
    <SortOrder>40</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/32edc814d22347e8942dde792c56eca2]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "a5de3147-9d54-4526-aa12-07d2c3765db8",
    "name": "Change your life and career with the fast-track two year MSc Podiatry (Pre-reg)",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/7c70281ff5c5436886478ab6c20443b7",
    "title": "Change your life and career with the fast-track two year MSc Podiatry (Pre-reg)",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The great thing about a podiatrist’s role is that it has the potential to be flexible. Podiatrists often don’t require to work shifts, weekends, overtime or be ‘on-call’. As the world demands more fluid working arrangements that fit better around a busy lifestyle and provide improved work/life balance, the profession offers the flexibility for professionals to set up their own business, go self-employed and even run clinics from the comfort of their own home.  </p>
<p>The job market is strong for qualified podiatrists. Most podiatrists choose to work in clinical practice in the NHS, but there are a wide range of career options to choose from. Many podiatrists have their own business in private practice, working hours that suit their lifestyle; others have developed their roles in the sports industry, voluntary sector, higher education sector (teaching), research sector, or progressed with further study to develop exciting careers in podiatric surgery.</p>
<p>By studying the fast-track two year course at Queen Margaret University, Edinburgh – the only MSc Podiatry (Pre-reg) in Scotland - changing profession can be relatively quick and extremely rewarding.</p>
<p>Podiatry is a profession which has evolved significantly in recent times. With their knowledge and skills podiatrists can help people to stay independent and mobile; they can help people prevent, reduce or manage painful conditions of the foot and lower limb; podiatrists can save someone’s foot or leg from amputation; and they can even save the life of someone presenting with severe complications manifesting from systemic illness, for example, those living with advanced diabetes. A podiatrist can prevent, manage and correct serious and minor foot and leg injuries. They can use skilled diagnostics - tests and assessments - to detect foot and lower limb problems, and provide medical interventions which improve people’s health and keeps them active. They can even perform minor foot surgery and administer and supply a range of prescription-only medicines including antibiotics.</p>
<p>Joseph McIntyre, Programme Leader of the MSc Podiatry (Pre-reg) at Queen Margaret University, Edinburgh, said: “Many people’s view of a modern day podiatrist is probably quite outdated. Podiatrists work with a wide range of people – from young children with structural issues, to athletes with sports injuries like tendinopathy, to older adults experiencing foot pain.</p>
<p>“People may be surprised by how interesting, rewarding and flexible a career in podiatry can be, and where it can take you. The range of jobs is incredible with the opportunity to work in the NHS, the voluntary, private or higher education sectors; or to be more entrepreneurial and run your own business. An MSc Podiatry (Pre-reg) can also be a gateway to a career anywhere in the UK – from a rural practice on the Scottish islands, to a bustling inner city hospital. However, for those with ambitions to travel, work opportunities can also beckon beyond the UK.”</p>
<p>Joseph continued: “The MSc Podiatry (Pre-reg) is a full-on two year conversion degree which leads to eligibility for HCPC registration, and a career in podiatry. It is perfect for individuals who are looking to change careers and who want to work in a rewarding healthcare role which focuses on health, rehabilitation and wellbeing. Ideally, it would suit people already working in a health related job but who want to change specialism, as well as those with a science degree or alternative academic or professional background. It is open to people coming from a more general background who are passionate about making a difference to the quality of people’s lives. However, as a fast-track course, all prospective students should expect an intense two years of study with a range of fantastic placement opportunities across Scotland.”</p>
<p>The podiatry team at Queen Margaret University has a well developed international reputation, global connections and a strong research background – all of this experience and knowledge feeds into the teaching practice, ensuring students benefit from the latest thinking, research and technology. Students also gain from QMU’s multi-disciplinary team approach to health and rehabilitation, networking opportunities and the chance to build their experience working with different health and social care professions/professionals. These are all important elements for student’s personal and professional development.</p>
<p>Joseph concluded: “Today, there is so much scope and opportunity in the field of podiatry. Careers can be full-time or part-time, in the UK or abroad, rural or city based, or in private practice or the NHS. They can be honed to suit the lifestyles that people want to live, and more importantly, we can teach individuals the skills and knowledge to improve and transform the lives of the people they work with. What could be more rewarding than that?”</p>
<p>If it’s time for you to change career, take the first step by finding out more about MSc Podiatry (Pre-reg) at Queen Margaret University, and about living and studying in Scotland’s beautiful capital city of Edinburgh. Find out more about the course at MSc Podiatry (pre-reg).</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2021-10-26T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Change your life and career with the fast-track two year MSc Podiatry (Pre-reg)]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong><a href="/{localLink:umb://document/fc562f0c5c894fd2b9cba42f8e7ee2ff}" title="Postgraduate Open Events">Book your place</a> at our next online Postgraduate Open Day on 11 November to find out more about the <a href="/{localLink:umb://document/58288e0e8ae94a32b9da09684959f466}" title="MSc Podiatry (Pre-Registration)">MSc Podiatry (pre-reg)</a> and other postgraduate study options at Queen Margaret University.</strong></p>
<p>If you are looking to change career and want a rewarding healthcare role which has the potential to transform the quality of people’s lives, take a look at the role of a podiatrist.</p>
<p>With a fast-track course in podiatry, you could work towards a career which improves the health and wellbeing of people of all ages, offers flexible working options and, on occasion, can even save lives!</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[MSc Podiatry (pre-reg) at Queen Margaret University, Edinburgh is a fast track two year programme which is designed to allow graduates to change career direction.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[MSc Podiatry pre-registration | QMU News | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p><em>For media enquiries, please contact Lynne Russell, Communications Manager, Queen Margaret University, Edinburgh, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a>; M: 07711 011239.</em></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "7177c482-6645-47e7-b4f4-2df4f63d417d",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Change your life and career with the fast-track two year MSc Podiatry (Pre-reg)]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>