<?xml version="1.0" encoding="utf-8"?>
<Content Key="be886665-7e01-4a06-a567-976c16cf9b38" Alias="Review of Court Effectiveness - Part 1" Level="4">
  <Info>
    <Parent Key="2e8f8dd1-3ab9-4a76-b4bf-4560db43e92a">University Court</Parent>
    <Path>/Home/AboutTheUniversity/UniversityCourt/ReviewOfCourtEffectivenessPart1</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-09-01T11:16:09</CreateDate>
    <NodeName Default="Review of Court Effectiveness - Part 1" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/12b47abcda794cc1a6ed926479b90db0]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "fdbd647a-7c54-4897-a9e7-85911b68c282",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/1dfa730a810a41c5a80408cf1a8ae78c",
    "title": "",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead-big">Final Report and Recommendations</span></p>
<p><span class="lead">1 Summary and Judgement </span></p>
<p>This Report is the outcome of an externally facilitated Effectiveness Review conducted by a University Court appointed Review Working Group.</p>
<p>The review was conducted over the period February to October 2015 by a team of 5 Court appointed reviewers (listed in paragraph 4 below). The methodology and approach adopted by the Review Working Group was facilitated by an external adviser and supported by the University Secretary and former Governance Adviser.</p>
<p>Having reviewed all the evidence available to it, the overarching judgement of the Review Working Group is that the University Court has <strong>Effective</strong> arrangements in place to ensure that it meets its key obligations as set out in the University Court Statement of Primary Responsibilities. Examples of best practice in governance are in place, and a small number of areas for potential development and enhancement has been identified and form the basis of recommendations set out in Section 5 of this report.</p>
<p><span class="lead">2 Format of Report and Recommendations </span></p>
<p>This report consists of two parts. The first part is an overview of the overarching conclusions and recommendations of the Review Working Group. These conclusions and recommendations draw heavily on the second part of the report, which is the independent assessment and report produced for the Working Group by the External Adviser, John Lauwerys. That report is appended to this document. Given the unanimity with which the Review Working Group accepted almost all the conclusions and recommendations set out in that report, the Lauwerys report has been reproduced in full as part of the review outcome.</p>
<p><span class="lead">3 Background and Review Approach</span></p>
<p>As part of a process of enhancing the effectiveness of its governance, and in fulfilment of the requirements of the Scottish Code of Good HE Governance (‘the Scottish Code’), the University Court commissioned an externally facilitated review of the effectiveness of its governance arrangements view early in 2015.</p>
<p>The Scottish Code states at Principle 16 that:</p>
<p><em>‘The governing body shall keep its effectiveness under annual review. Normally not less than every five years, it shall undertake an externally-facilitated evaluation of its own effectiveness and that of its committees, and ensure that a parallel review is undertaken of the senate/academic board and its committees. Effectiveness shall be assessed both against the Statement of Primary Responsibilities and compliance with this Code. The governing body shall, where necessary, revise its structure or processes, and shall require the senate/academic board of its Institution to revise its structure and processes, accordingly.’ [1]</em></p>
<p>The University Court had already commissioned the University’s Internal Auditors, KPMG, to undertake an audit of its compliance with the Scottish Code shortly after the Code came into effect and Universities were required to implement its main principles on a ‘comply or explain’ basis. The KPMG audit report, published in December 2014, confirmed the University Court’s compliance with the Scottish Code, and made only minor recommendations concerning some areas of best practice implementation of the Code. </p>
<p>In February 2015, the University Court set aside a half-day session during its annual Away Days in order to determine how it might move assessment of its governance arrangements away from a narrow focus on compliance and towards benchmarking effectiveness against best practice. The session was facilitated by an External Adviser, John Lauwerys, former Secretary and Registrar of the University of Southampton, who has wide experience of governance effectiveness reviews. At its April 2015 meeting, the University Court agreed the establishment of a Working Group to take forward the Review.</p>
<p>The Review Working Group was constituted as follows:</p>
<p><strong>Review Working Group </strong></p>
<ul>
<li>Keir Bloomer (Convener)</li>
<li>Mark Laing, Vice Chair</li>
<li>Professor Graham Caie, Court Lay Member</li>
<li>Professor Alan Gilloran, Deputy Principal</li>
<li>Heidi Vistisen, Student President</li>
<li>John Lauwerys, External Consultant</li>
<li>Irene Hynd, University Secretary (In attendance)</li>
<li>Riley Power (Secretary)</li>
</ul>
<p>The Review Working Group met on three separate occasions in June, September and November 2015, with individual members involved in interviews and research in the intervening periods. The External Adviser attended all meetings of the Group, contributing fully to the discussions and providing examples of practice at other universities.</p>
<p>An interim report was presented to the 7 October 2015 meeting of the University Court, which set out some prelimary findings and emerging proposals for the enhancement of current practice. In producing this final report, the Review Group has revisited those preliminary findings to ensure that they have been incorporated appropriately in its conclusions and recommendations.</p>
<p><span class="lead">4 Review Outcome and Recommendations </span></p>
<p>Having reviewed all the evidence available to it, the overarching judgement of the Review Working Group is that the University Court has Effective arrangements in place to ensure that it meets its key obligations as set out in the University Court Statement of Primary Responsibilities.</p>
<p>The Court is judged to be chaired effectively, and its members have a wide and impressive range of experience and skills which they bring to bear for the benefit of the University. There is a dedicated and enthusiastic commitment to the University on the part of Court members. In fulfilling their responsibilities, they are ably supported by the University Executive and particularly in a governance context by the University Secretary.</p>
<p>Examples of best practice are in place, but nevertheless, there are some proposals for further development and enhancement. As noted in Paragraph 2 above, the recommendations that follow are drawn from those set out in the Lauwerys report. Not all of the recommendations in that report have been accepted in full, and some have been identified as requiring further discussion and agreement by the University Court.</p>
<p><span class="lead">5 Recommendations </span></p>
<p>The following comments and recommendations are commended to the Court for further discussion and agreement. Paragraph references relate to paragraphs within the body of the Lauwerys report appended to this document.</p>
<p style="padding-left: 40px;">5.1<em> The Statement of Primary Responsibilities of the Court should be redrafted to create a more useful document which should then be reviewed annually by the Court. [Paragraph 2.3] </em></p>
<p style="padding-left: 40px;">While the Statement of Primary Responsibilities is judged to be compliant (a judgement supported by the KPMG Audit), it is suggested that it is good practice to review this document on a regular basis. An update could incorporate more explicitly the particular matter highlighted in the Lauwreys report concerning the Governing body’s responsibility for ‘appointing the Head of the Institution (the Principal) as chief executive officer of the Institution and putting in place suitable arrangements for monitoring his/her performance. The University’s SI states clearly that one of the areas reserved to the Court is its review of the performance of the Principal. A review could usefully be undertaken during Session 2015/16 and presented to the Court at its June 2016 meeting.</p>
<p style="padding-left: 40px;">5.2 <em>The format of the Risk Register should be further developed particularly to enable finer 'grained' reporting under certain risk categories. [Paragraph 3.2]. </em></p>
<p style="padding-left: 40px;">The Risk Register is subject to regular review and evaluation by the Audit Committee and the University Court, with the highest level risks ordered at the top of the register. The format of the Register reflects advice from the University’s internal auditors, and focuses on a limited number of key risks beyond those that a business would plan for as part of ‘business as usual’. Such risks are identified under the University’s Business Continuity Plan, with mitigating action attached. In recognition of the importance of this area, it is suggested that the University Court satisfy itself that significant risks are covered either in the risk register or in the business continuity plan.</p>
<p style="padding-left: 40px;">5.3 <em>The number of Key Performance Indicators presented on a quarterly basis to Court should be reduced to ten or a dozen high level KPIs. The performance targets should be agreed by Court annually and not amended during the following year. [Paragraph 3.3] </em></p>
<p style="padding-left: 40px;">The University Court has discussed proposals to reduce the number of KPIs presented to it on a number of occasions, with members expressing varying views on the matter. It is suggested the University Court accepts the principle that it reviews a small suite of leading indicators quarterly but reviews the full suite of the KPIs annually.</p>
<p style="padding-left: 40px;">5.4 <em>Action being taken to address adverse performance under any KPI should be regularly reported to the Court. [Paragraph 3.5] </em></p>
<p style="padding-left: 40px;">The University Court receives quarterly updates on performance against target as part of the KPI commentary, so no action is suggested as being necessary in this area.</p>
<p style="padding-left: 40px;">5.5 <em>The maximum size of the Court should be reduced to 23 by removing provision for a second Vice Principal to be an ex-officio member. [Paragraph 4.1]</em></p>
<p style="padding-left: 40px;">The maximum size of the University Court is established in the Queen Margaret University, Edinburgh (Scotland) Order of Council 2007, recently amended and in force from 28th September 2015. Any further amendment to the composition or size of the University Court would require legislation. It is suggested that discussion of this matter is deferred pending any requirement to alter the SI arising from the Higher Education (Scotland) Bill.</p>
<p style="padding-left: 40px;">5.6 <em>When seeking candidates for membership of Court, the Nominations Committee should, through its Secretary, invite suggestions from public and private bodies as well as advertising vacancies in the Press. [Paragraph 4.3] </em></p>
<p style="padding-left: 40px;">The Nominations Committee employs a number of differing approaches to encourage applications for vacancies. This includes advertising on Public Appointments Scotland, Goodmoves, Women on Boards, and in the press, as well as circulation of the details via mailing lists, including to Chambers of Commerece, and to those registered on the QMU Alumni Database. Extending this to contacts within public and private bodies is suggested as helpful practice.</p>
<p style="padding-left: 40px;">5.7 <em>A template should be devised for the use of the Nomination Committee to setting out the characteristics to be sought among Court members both in terms of diversity and skills/expertise. [Paragraph 4.3] </em></p>
<p style="padding-left: 40px;">The Nominations Committee currently considers a matrix of current members’ expertise and characteristics as a means to ‘identify the gaps’ before advertising for new members. The Committee considers other elements of diversity, and includes diversity data monitoring as part of the lay member recruitment process. The Committee receives data at each of its meetings on the gender balance of the Court and of its standing committees. At the time of writing, 47% of Court members are female, and this will increase to 50% by March 2016. The Working Group considers that the University is compliant in this area but suggests that further thought be given as to how this might be more explicitly captured within a revised template.</p>
<p style="padding-left: 40px;">5.8 <em>The Court should amend the terms of office for Court members and its Officers when the Governing Instrument is next amended to reflect the greater flexibility of the Scottish Code. [Paragraph 4.4] </em></p>
<p style="padding-left: 40px;">The Scottish Code states that 'continuity of membership is important but so is the need for new blood'. It goes on to say that 'continuous service beyond three terms of three years, or two terms of four years, is not desirable (although exceptions, such as retention of a particular skill or expertise, may be permitted). This allows governing bodies to set terms up to 9 years, but the extent to which the Code is suggesting this is the ‘norm’ is open to interpretation. The University’s SI provides for 2 terms of 3 years, and a further term of up to 3 years exceptionally. It is suggested that discussion of this issue be revisited in light of any required changes to the SI arising from the Higher Education (Scotland) Bill, but also that the University Court might interpret its current regulations more flexibly.</p>
<p style="padding-left: 40px;">5.9 <em>When resource is available, the University intranet site should be developed to provide a section to support the work of the Court. [Paragraph 4.5]. </em></p>
<p style="padding-left: 40px;">University Court members have access to the University intranet where all Court papers are published for the benefit of all staff and students. Further population of this site would enhance Court member’s experience and is planned for the period to June 2016.</p>
<p style="padding-left: 40px;">5.10 <em>The format of Court meetings should be amended to permit more discussion of significant items facilitated by papers which present more alternatives and options. [Paragraph 5.3] </em></p>
<p style="padding-left: 40px;">5.11 <em>More time should be allowed for Court meetings and the formal agenda should be preceded by a presentation or visit to part of the University. Consideration should be given to concluding Court meetings with a buffet supper to enable networking discussions between members and the Executive. [Paragraph 5.5] </em></p>
<p style="padding-left: 40px;">These two recommendations are taken together. The format of Court meetings has been amended already to accommodate discussion of significant items at the start of the meeting. The Standing Orders were amended during 2014-15 to accommodate this revision which arose out of discussion at the Court Away Days. Provision has also been built in over the past 3 years or so for a strategic presentation or discussion at each Court meeting. A proposal to bring University Court meetings forward to 3.00 pm was not supported in April 2015 but such an adjustment would provide more time for discussion without extending the meeting beyond 6.00 pm. The University Court is invited to discuss the matter further.</p>
<p style="padding-left: 40px;">5.12 <em>The membership of the Audit Committee should be increased to five members (without a minimum lesser number of members) and the quorum raised to three. One member could be co-opted onto the Committee rather than necessarily appointed from the Court. [Paragraph 6.3] </em></p>
<p style="padding-left: 40px;">This recommendation concerning an increase in membership to 5 is commended for approval. Further discussion is required on the matter of coopted membership of Committees.</p>
<p style="padding-left: 40px;">5.13 <em>The membership of the Finance and Estates Committee should be increased to seven (without a minimum lesser number of members) in addition to the Principal and Deputy Principal who are ex-officio members. The quorum should be raised to four nonexecutive members. [Paragraph 6.7] </em></p>
<p style="padding-left: 40px;">This recommendation to increase membership of the Finance and Estates Committee to 7 is commended to the University Court for approval.</p>
<p style="padding-left: 40px;">While not set out in this recommendation, the Lauwreys report also suggests that the remit of the Finance and Estates Committee should be extended to incorporate HR matters. The Review Working Group supported the view that such matters might be addressed within the committee structure, but not necessarily within the FEC. A number of options was discussed, including the resurrection of the previous Staffing Committee (dissolved in 2012), or an extension to the SMRC remit. No one suggestion found approval. The University Court is invited to reflect on the suggestion as part of its consideration of the report recommendations.</p>
<p style="padding-left: 40px;">5.14 <em>The terms of reference of the Nominations Committee should be extended to include governance effectiveness and the Committee should then be renamed the Nominations and Governance Committee. [Paragraph 6.9] </em></p>
<p style="padding-left: 40px;">The Review Group accepted the suggestion that issues of governance should be addressed somewhere in the committee structure. However, there is a concern amongst some Review Group members that extending the remit of the Nominations Committee in this way changes the nature of the committee fundamentally. Currently, the Committee meets to progress recruitment to lay court and other vacancies as they arise, which distinguishes the Committee from that of the standing Committees of the Court ie Finance and Estates/Audit/Senate. The University court is asked to reflect on this recommendation.</p>
<p style="padding-left: 40px;">5.15 <em>An annual discussion should take place at Court over the work of the Remuneration Committee, and the Court should approve the policies and processes used by the Committee as laid down in the Scottish Code. [Paragraph 6.10] </em></p>
<p style="padding-left: 40px;">The Senior Management Remuneration Committee developed a senior management remuneration policy during 2014, which was discussed and approved by the University Court. Amendments to that policy came forward from the committee in the next round of discussion about senior pay in October 2015. On the basis that such discussion is taking place currently, and that this is in line with recently issued Committee of Scottish Chairs’ Guidance, there are no recommendations for action other than that the SMRC minutes make this discussion more explicit.</p>
<p style="padding-left: 40px;">5.16 <em>The Scheme of Delegation should be reviewed to ensure it is comprehensive and it should then be presented to Court on an annual basis for endorsement that it remains acceptable and valid. [Paragraph 7.1] </em></p>
<p style="padding-left: 40px;">The Scheme of delegation was reviewed and amended last academic session and will be reviewed and presented to the University Court during this academic session. No further recommendations are proposed from this item.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[[
  {
    "key": "c4b3c15a-c39f-4ac8-aac2-e376aa69d511",
    "name": "References",
    "ncContentTypeAlias": "centralBlocks",
    "title": "References",
    "content": "<ol>\n<li>Scottish Code of Good HE Governance, July 2013, Page 6, Main Principles.</li>\n</ol>"
  }
]]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[[
  "Concertina"
]]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Review of Court Effectiveness - Part 1]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>This page details the findings of an effectiveness review of the University Court, conducted by a Review Working Group.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[This page details the findings of an effectiveness review of the University Court, conducted by a Review Working Group.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Review of Court Effectiveness - Part 1 | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "76856edc-6d0d-4d49-b882-b870a8bf1b2f",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Review of Court Effectiveness - Part 1]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>