<?xml version="1.0" encoding="utf-8"?>
<Content Key="be970efd-f363-4803-bd3a-d6a3141ce8b6" Alias="Business School Staff" Level="4">
  <Info>
    <Parent Key="239b9594-1cd3-4d4e-af1d-33c26dae56c4">Business School</Parent>
    <Path>/Home/SchoolsAndDivisions/BusinessSchool/BusinessSchoolStaff</Path>
    <Trashed>false</Trashed>
    <ContentType>staffProfilesOverview</ContentType>
    <CreateDate>2021-02-05T11:48:37</CreateDate>
    <NodeName Default="Business School Staff" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a68c396f-5a87-468e-afe8-abeab72264cf">StaffProfilesOverview</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/df19a13ec9a545368d86c0ec79715346]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "2d424170-205a-46bc-a98c-b8a13790a3df",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/333dc46fb73940768139196c0590b816",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <displayTitle>
      <Value><![CDATA[Staff in the Queen Margaret Business School]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Staff within Queen Margaret Business School.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Business School | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <relatedContent>
      <Value><![CDATA[umb://document/239b95941cd34d4eaf1d33c26dae56c4,umb://document/111619e552024b8e9010a77021ca06c9,umb://document/1b1fd7659d464b2796c47578cc599767]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Business School Staff]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>