<?xml version="1.0" encoding="utf-8"?>
<Content Key="c046acbe-541c-4a4f-acd1-03d5071c3ea1" Alias="Scotland’s Food and Drink County" Level="3">
  <Info>
    <Parent Key="2fb1d2d3-9848-4b68-ba52-af2ced358220">Services for Business and Industry</Parent>
    <Path>/Home/ServicesForBusinessAndIndustry/ScotlandSFoodAndDrinkCounty</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-03T15:06:58</CreateDate>
    <NodeName Default="Scotland’s Food and Drink County" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/4d30c0e1a67344af8ddb5dc975a4469a]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "599d3d9e-6952-4b56-a0aa-2464d6c90192",
    "name": "Scotland’s Food and Drink County",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/4eb08e23043447f18a0941ca8d8db073",
    "title": "Scotland’s Food and Drink County",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Known as the “garden county” East Lothian has a thriving food and drink sector, with a rich heritage and reputation  for delivering high quality produce. From flour to beef to rapeseed oil, the rich farmlands of East Lothian produce some of the finest food in Scotland. <br />Home to one of Scotland’s finest malt whisky distilleries, the region also produces first class, gin, beer and cider. With over 40 miles of coastline, the county boasts a plentiful supply of freshly landed fish and seafood and has seen success in less traditional produce including spices, oils, ice-cream <br />and chocolate. </p>
<p>Through our <a data-id="3601" href="/{localLink:umb://document/7f6c3acad7604c19af1ba3004a50f490}" title="Scottish Centre for Food Development and Innovation">Scottish Centre for Food Development and Innovation</a>, (SCFDI) we are delighted to be an Associate Member of the BID, actively working with and supporting member companies. The academic team at SCFDI have assisted a number of members of the BID research and develop new products, reformulate existing products and carry out sensory and taste panel analysis.</p>
<p>In addition, BID member companies have also engaged with QMU students on a wide range of products including marketing, PR and video production.</p>
<p>We host the Food &amp; Drink Business Improvement District (BID) in our <a data-id="2911" href="/{localLink:umb://document/2d4a743fca8a4e1bb0fd4ac739908821}" title="Business Innovation Zone">Business Innovation Zone</a>, further strengthening and extending our support and engagement with the team. </p>
<p>We welcome all enquiries and interest in collaboration with the BID - contact the Research and KE Development Unit (RKEDU): <a href="mailto:rkedu@qmu.ac.uk">rkedu@qmu.ac.uk</a></p>
<p> </p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/e08694002ead41768b64dc79e2afdfa2]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Scotland’s Food and Drink County ]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[1]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>In 2016 an exciting new collaboration between local food and drink producers saw the first Food &amp; Drink <a href="https://www.gov.scot/policies/regeneration/business-improvement-districts-bids/" title="Business Improvement District (BID)">Business Improvement District (BID)</a> established in East Lothian.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[In 2016 an exciting new collaboration between local food  and drink producers saw the first Food & Drink Business Improvement District (BID) established in East Lothian.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Scotland’s Food and Drink County | Services for Business and Industry]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "45840332-480a-4e6b-8047-a4dfced7e362",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "usefulLinks",
                    "value": {
                      "name": "Useful Links",
                      "title": "Useful Links",
                      "usefuls": [
                        {
                          "icon": "icon-link",
                          "name": "Scotland's Food and Drink County",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": null,
                          "url": "https://foodanddrink.scot"
                        },
                        {
                          "icon": "icon-link",
                          "name": "Scottish Centre for Food Development and Innovation",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": null,
                          "url": "https://www.qmu.ac.uk/research-and-knowledge-exchange/research-centres-institutes-and-knowledge-exchange-centres/scottish-centre-for-food-development-and-innovation/"
                        },
                        {
                          "icon": "icon-link",
                          "name": "Business Innovation Zone",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": null,
                          "url": "https://www.qmu.ac.uk/services-for-business-and-industry/business-innovation-zone/"
                        }
                      ],
                      "useDarkTheme": "0"
                    },
                    "id": "586fccde-2b5d-419c-2488-a92b2394c495"
                  },
                  "editor": {
                    "alias": "Useful Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Scotland’s Food and Drink County ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>