<?xml version="1.0" encoding="utf-8"?>
<Content Key="c10e9484-271e-4e22-8740-6e9371fc28db" Alias="Coleen Kelly - BSc Psychology" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/ColeenKellyBScPsychology</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2022-08-24T10:57:03</CreateDate>
    <NodeName Default="Coleen Kelly - BSc Psychology" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/7576e507f05f49b7bda1f584d9642df7]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "4d5ab746-f101-43b8-8fa6-37717afc06f3",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/c33aeaab43904e1f9534e3090090ebbb",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><em>[story published in August 2022]</em></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead">Hi Coleen, can you give us a bit of an introduction where you are now in your career and when did you graduate from QMU?</span></p>
<p>I graduated from QMU in 2010 with a BSc Psychology. Since then I’ve moved up the ranks working for a variety of charities, starting at Lothian Autistic Society as a Project Coordinator when I first graduated. </p>
<p>I was then the Volunteers Coordinator at City of Edinburgh Council, then became Self-Management Programme Lead at the MS Society.</p>
<p>I went on to work at Crisis UK in 2020 where I was promoted from Operations Lead to the Director of Skylight Edinburgh, a centre which helps provide support for the homeless in wellbeing and mental health, finding work and housing.</p>
<p>Since March of 2022 I’ve been the Director of Services at Support in Mind Scotland, a mental illness support charity.</p>
<p><span class="lead"><strong>Why did you choose QMU, what stood out to you?</strong></span></p>
<p>I looked at a lot of universities when I was trying to make a decision. I knew I wanted to be in the city. QMU stood out because it was smaller, had a real community spirit about it. I really liked that.</p>
<p>I loved how easy it was to contact the academics as well. I was able to simply phone up Duncan Robb, head of psychology at the time and just have a chat and ask questions.</p>
<p>I’d been poorly as a teenager which left me with panic attacks, it was made clear that I would be supported, Student Services were really supportive of me and not only were they invested in me getting support, they were upfront and clear in how they would support me and what access I had. </p>
<p>For example when I told them I got panic attacks from exams, they made sure I got a room by myself, so I could have privacy and not feel exposed. </p>
<p>At QMU, I felt comfortable straight away, I clicked with people in my class, Freshers Week was great. It’s a big step, moving out of your home, but QMU felt like a community - I felt at home straight away.</p>
<p><span class="lead"><strong>What were the highlights or challenges of your course specifically?</strong></span></p>
<p>During my time (and still today), we had the opportunity to work on a special practical dissertation project, in my case with an educational psychologist. We were able to go out into East Lothian schools to do psychological tests. We worked with children in nurture groups and on theory of mind. </p>
<p>My dissertation was based on the findings from those interviews and that research project. When I was job hunting later on, that practical work experience really helped my CV stand out.</p>
<p>In terms of student life, I loved going out every night of the week. QMU is easy to get into town from, with great access to Edinburgh nightlife. There’s also lots of clubs and societies on campus to get involved in.</p>
<p><span class="lead"><strong>Can you name any specific moments at QMU which helped shape you and prepare you for career success?</strong></span></p>
<p>I did a lot of volunteering at university. This helped me work out my career pathway and my interests. It also really helped me stand out in interviews. I volunteered for Lothian Autistic Society where I then got a job after graduation as Projects Coordinator for Information Volunteers.</p>
<p>QMU gave me confidence because I had a positive experience and I really learned how to communicate well with peers and academics.</p>
<p>Being able to demonstrate I had applied both theory and practical work in my dissertation, as well as my varied volunteering experience was key in helping me get a job when I graduated, and to stand out in the jobs market.</p>
<p><span class="lead"><strong>Any advice you would give to prospective students looking to apply today, especially in your field?</strong></span></p>
<p>Volunteering REALLY helps you understand what you love or don’t like. I will help you understand yourself better as well as helping you gain experience for your CV. </p>
<p>Psychology can be a very broad field so it’s helpful to hone into the specifics before you job hunt and get a better understanding what area you want to focus on.</p>
<p><span class="lead"><strong>Are there learning from your university days that you still apply today? </strong></span></p>
<p>Definitely the written skills I learned at QMU are something I’ve taken with me. I have to write a lot of briefs, reports, and present how I am demonstrating impact. I often have to negotiate for funding and written skills and good communications skills are key for that. </p>
<p>I’m also good at debating and defending a point / stance which is something I first learned from seminars at QMU.</p>
<p><span class="lead"><strong>Can you describe a few of the responsibilities you now have in your current role? </strong></span></p>
<p>Over the last few years in my career, I’ve been responsible for the quality of support services and for delivery strategies (how we spend money, where and what we are delivering and how the impact will be measured).</p>
<p>I analyse a lot of data to make decisions and am responsible for running efficient teams and processes. I also enjoy leading and developing positive and inclusive work cultures. </p>
<p>It’s down to me to lead my teams so we make sure we are having the most efficient and positive impact possible on those that matter and need our support most.</p>
<p>I am also a trustee for Queen Margaret University Students’ Union. In practice this means I make sure that strategic ownership sits with the trustees, ie decisions about how the Union is run, supporting the student representatives, mentoring them, helping them learn and develop the skills they need.</p>
<p>I really wanted to give back to QMU because of my positive experience here. </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Scotland]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/15bf27bc8db9496abc8ed04736bc7ffe]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[Bsc/BSc (Hons) Psychology]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Coleen Kelly]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Graduate Coleen gained her BSc Psychology from QMU in 2010 going straight into a job at Lothian Autism Society from where she kickstarted her career in the charity sector.</p>
<p>Now Director of Services of Support in Mind Scotland, Coleen spoke to QMU about how her university experience and Psychology course was formative in helping her get into the world of work, what skills from QMU she has taken with her in her career and her memories of student life! </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Queen Margaret University, Edinburgh graduate Coleen gained her BSc Pyschology in 2010 going straight into a job at Lothian Autism Society from where she kickstarted her career in the charity sector.

She speaks to QMU about how her university experience and Pscyhology course was formative in helping her get into the world of work.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Coleen Kelly | Graduate Stories | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[Being able to demonstrate I had applied both theory and practical work in my dissertation, as well as my varied volunteering experience at university was key in helping me get a job when I graduated, and to stand out in the jobs market.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Coleen Kelly]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Coleen Kelly]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Graduate"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>