<?xml version="1.0" encoding="utf-8"?>
<Content Key="c161a690-0dfd-4034-b7f2-a53baa1692e2" Alias="Diana Prosser- Direct Entry Student - BA (Hons) International Hospitality and Tourism Management" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/DianaProsserDirectEntryStudentBAHonsInternationalHospitalityAndTourismManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-11-05T10:43:59</CreateDate>
    <NodeName Default="Diana Prosser- Direct Entry Student - BA (Hons) International Hospitality and Tourism Management" />
    <SortOrder>235</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/ba95ab65f5c8440ca31481043bf108fe]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "b898fd06-907d-4897-8749-5ac2fa2d5572",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/a3710df5c6d747eeae330dec0882ef64",
    "title": "",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><em>[Published June 2019]</em></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>About you</strong></p>
<p><strong>Why did you choose QMU and this particular degree course?</strong></p>
<p>I started work in hospitality at 13 as my family owned their own businesses and I worked in the field ever since. When I moved to the central belt, I obtained a job in events. One night, when I was bored, I decided I wanted to have a qualification. I felt that by returning to education I would gain more insight into how people were taught the profession of Hospitality, Tourism and Events Management. I was also keen to expand my knowledge and build on the practical skills I had learned during my job as a training coordinator.</p>
<p>I obtained a HND in Hospitality Management and obtained ‘A’ grades for each year. I hadn’t expected to achieve such high grades as I have dyslexia, and this did initially hold me back from entering education. My college tutors told me about Queen Margaret University and its excellent reputation for hospitality courses. I hadn’t planned to go to university as I felt that with my dyslexia, I may not be able to cope with level of academic work. However, I enjoyed studying so much I decided to call QMU, even though it was after the official admissions deadline, and I was thrilled to be offered a place on the BA (Hons) International Hospitality and Tourism Management course.</p>
<p>I decided to go directly into year two at university, rather than year three, as I knew the work would be a big jump from college and my writing skills were weak.</p>
<p><strong>Did you face any particular challenges in your educational journey before coming to QMU?</strong></p>
<p>I’ve known I have dyslexia since I was a child, but accepting both the label and help was very hard for me. I felt a bit embarrassed to have dyslexia and I viewed the extra help in proofreading as cheating. I grew up in a generation where if you had dyslexia, you kept quiet about it.</p>
<p><strong>How did you feel about coming to QMU?</strong></p>
<p>I liked the fact it was smaller and not so intimidating. I’m from a small town, and I felt that QMU’s smaller size and friendly, welcoming atmosphere was a good fit for me.</p>
<p>The campus is quite far from Tullibody, but the trains are easy to navigate. The introduction week for direct entrants felt a bit overwhelming, but exciting at the same time. There was a lot of information to process in the first few weeks, but there are extra classes for people who are direct entrants from college, so that was both helpful and reassuring.</p>
<p><strong>How did you settle into university life? What support networks/initiatives were in place to help you get to grips with university level education and general student life?</strong></p>
<p>The extra classes for direct entry students were really useful - not just in helping me understand the work, but making me feel more relaxed. It took me the first year to figure everything out and get my support tutor sorted. I am so glad I started in year two, not three, so I could learn from my mistakes and take time to adjust to university work. </p>
<p><strong>What are the most useful/helpful services that you have used at QMU (e.g. Effective Learning Service, counselling, Pre-Entry course/QMU Advance, etc.)</strong></p>
<p>The extra classes for direct entrance students were a great help. If students have any questions or need additional support with any aspect of their learning, they can also make use of the Effective Learning Service, which provides tailored support for each student.</p>
<p><strong> </strong></p>
<p><strong>The Course</strong></p>
<p><strong>What was the most interesting part of the course?</strong></p>
<p>I enjoyed researching each topic and trying to find my own voice in my essay writing, thinking outside the box and questioning everything.</p>
<p><strong>What challenges did you encounter on the course, and what do you consider to be your successes?</strong></p>
<p>My challenges were in essay writing but I developed new ways to learn and remember things. Although writing will always be an issue for me, I am learning to better manage my dyslexia. I am also becoming more critical, as the course opens your mind and encourages you to question more and research more. Talking in public without stuttering or mumbling in front of tutors when giving presentations is still a challenge I am working to overcome.</p>
<p><strong>Have you benefited from any type of scholarship/awards/additional learning opportunities?</strong></p>
<p>I have a dyslexic tutor. Through working with her, and showing her my crazy way of thinking, I have been able to build my confidence in my work. I still struggle to accept why we can’t cure dyslexia, but I am starting to accept that is it part of who I am.</p>
<p><strong>Any advice for students who might be interested in this course?</strong></p>
<p>It is fun, challenging and has a good mix of different styles of work including essays, designing posters and delivering presentations. Researching the topic is fun and will open your mind. Time management and developing a studying rota is a big help. Have a note book and take notes and record the lecture after each day. Try to write what you have learned, then when it comes to essay time, you’ll be grateful that you can refer to all of the info in your note book. Remember to bookmark everything you read online and write the reference list as you go. I never read anything before uni, now I read everything!</p>
<p><strong>Do you undertake any paid/voluntary work and if so, how do you juggle the demands of this with study/family life etc.?</strong></p>
<p>I’m a single mum with a young child and two older kids who have left home. I work at the weekends in events and volunteer with a kids group on Tuesday nights. I section up my week to help with my planning and workload. From Sunday to Thursday night I would write out a weekly task sheet of which subjects I needed to study and when I needed to complete things by. I need to plan more time for university work as I’m slower at reading compared to the average student. You have to be really committed, but if you take the view that university semesters are only 10 to 11 weeks, it starts to feel achievable.</p>
<p> </p>
<p><strong>After graduation</strong></p>
<p><strong>What are your plans for the future after graduating?</strong></p>
<p>I did my dissertation on employers’ perception on hiring and training dyslexics. Through doing this it helped me research the more positive elements that I discovered I had with my dyslexia in how I perceive and translate information from multiple angles, how I’m more creative, and think both outside and inside the box.</p>
<p>Through researching this it helped me understand myself more and develop my skills. I discovered I loved researching new innovative topic that most people wouldn’t tackle, therefore I decided the best fit for me was to carry on to do a master’s to give me more skills and knowledge in combating more contemporary issues the hospitality industry face.</p>
<p>I’m hoping this will give me a good foundation on which to gain a scholarship to undertake a PhD in a topic that will help the hospitality industry overcome contemporary challenges.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Scotland]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/d1dff860257348839291d20c1842932b]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[Direct Entry Student - BA (Hons) International Hospitality and Tourism Management]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Diana Prosser]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[[]]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<div class="staffintro">
<p>Diana is a mature student and single parent living in Tullibody, near Stirling. She was brought up in Fort William, but moved her family to the central belt to ensure she and her children had a wider choice of further education options available to them.</p>
<p>Diana has dyslexia, which did hold her back in her earlier life, but when she received unexpected ‘A’ grades during her HND study on a hospitality management course, she was spurred on to progress to a university degree.</p>
<p>After successfully completing her college course, she moved directly into the second year of QMU’s BA (Hons) International Hospitality and Tourism Management. Diana is now about to graduate from QMU with first class honours, and is in the process of submitting a master’s proposal so she can advance her academic study at master’s level. Having been bitten by the learning bug, Diana is keen to go all the way. If her research topic has significant potential, she may try to gain a scholarship to support her progression to PhD level.</p>
<p>Diana tells us more about her student journey through further and higher education, the challenges of coping with dyslexia and juggling study, family life and plans for the future.</p>
<p> </p>
</div>
<p> </p>
<p><strong>Name:</strong> Diana Prosser<br /><strong>Hometown:</strong> Tullibody, Scotland<br /><strong>Course of study:</strong> BA (Hons) International Hospitality and Tourism Management<br /><strong>Year of graduation:</strong> 2019</p>
<p> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Diana tells us more about her student journey through further and higher education, the challenges of coping with dyslexia and juggling study, family life and plans for the future.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Diana Prosser]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[[The course] is fun, challenging and has a good mix of different styles of work including essays, designing posters and delivering presentations. I never read anything before uni, now I read everything!]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Diana Prosser]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Diana Prosser]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Student"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>