<?xml version="1.0" encoding="utf-8"?>
<Content Key="c50fd8d4-5091-4f48-beb0-78306aab9d07" Alias="2017.09.12 - QMU wins top award for its student accommodation" Level="5">
  <Info>
    <Parent Key="5ec60e7e-de76-4127-aaea-18ddb982220d">2017</Parent>
    <Path>/Home/NewsAndEvents/News//QMUWinsTopAwardForItsStudentAccommodation</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T20:43:52</CreateDate>
    <NodeName Default="2017.09.12 - QMU wins top award for its student accommodation" />
    <SortOrder>127</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "d90121f4-d128-4df3-b51a-c4cfcd1a5a4e",
    "name": "QMU wins top award for its student accommodation",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "QMU wins top award for its student accommodation",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>In 2007, the University’s new campus in Musselburgh was recognised as an exemplar in sustainability across the UK. Building on its sustainability credentials, the University has placed sustainability at the very core of our vision, taking a joined up approach to the social, environmental and economic dimensions of sustainable development.</p>
<p>QMU was up against some of the best providers of student accommodation in the UK as voted for by the students themselves, with finalists drawn from the results of the <a href="http://www.nshs.co.uk/" title="National Student Housing Survey">National Student Housing Survey </a>– the country’s largest accommodation survey of students. This year, there was over 34,000 responses – a new record for the survey.</p>
<p>Paul Sibanda, Accommodation Manager at Queen Margaret University, said: “We are particularly pleased to have achieved success in these awards, as the result is based on our students’ feedback. It is encouraging to know that students appreciate the campus’s environmental features and sustainable facilities, and our efforts to incorporate these into campus life.</p>
<p>“We always strive to provide our student community with outstanding customer service, and were therefore delighted to also be a finalist in the Awards’ ‘Best Customer Service’ category. In addition, the standard of our customer service has been confirmed with the achievement of the Quality Mark for International Accommodation. QMU is one of only 11 accommodation providers which achieved over 90% satisfaction from the international student community in halls.”</p>
<p><br />ENDS</p>
<p> </p>
<p> </p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2017-09-12T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU wins top award for its student accommodation]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>This week, Queen Margaret University, Edinburgh (QMU) has taken one of the top places at the National Student Housing Awards. The University won ‘Best Environmental Management’ award, which recognised its achievements in environmental sustainability in student accommodation.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[This week, Queen Margaret University, Edinburgh (QMU) has taken one of the top places at the National Student Housing Awards. The University won ‘Best Environmental Management’ award, which recognised its achievements in environmental sustainability in student accommodation.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU wins top award for its student accommodation | News and Events | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>The annual National Student Housing Awards are based exclusively on direct feedback from over 34,000 students across 200 universities and colleges across the UK. With no written nominations and no ‘expert’ judges, the National Student Housing Awards are uniquely credible and highly prized.</p>
<p>Data for the awards are collected through the National Student Housing Survey which is managed by <a href="https://www.redbrickresearch.com/" title="Red Brick Research">Red Brick Research</a>, an independent market research agency with a specialist youth marketing and higher education practice.</p>
<p><a href="/campus-life/accommodation/" title="QMU accommodation"><span class="blue-btn">Queen Margaret University’s accommodation service</span></a></p>
<p>For further media information please contact Lynne Russell, Communications Manager at Queen Margaret University, E: <a href="mailto:lrussell@qmu.ac.uk">lrussell@qmu.ac.uk</a> , T: 0131 474 0000, M: 07711 011239 or Jonathan Perkins, Press and PR Officer,  E: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a> T: 0131 474 0000</p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "aff37fa4-b691-4473-8d2c-24366180692f",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU wins top award for its student accommodation]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>