<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6a4c620-afc9-411d-b6d8-bedd6bd62c4f" Alias="2015.08.27 - Calum's top tips for QMU" Level="5">
  <Info>
    <Parent Key="94c45b1a-49ef-4036-9be3-b5a4df2d2026">2015</Parent>
    <Path>/Home/NewsAndEvents/News//CalumsTopTipsForQMU</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T11:30:02</CreateDate>
    <NodeName Default="2015.08.27 - Calum's top tips for QMU" />
    <SortOrder>85</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "202c6cad-2515-4f12-805c-9080766c13d4",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "CALUM’S TOP TIPS FOR QMU OPEN DAYS: A graduate’s perspective",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Calum has been working as a student helper at the open days for the last three years. He has just graduated with a first, so we think he’s one of the best people to advise you how you can get the most out of your open day experience.</p>
<p class="txtMainBlack">Calum was recognised by Queen Margaret University Students’ Union this year for being the most inspiring and engaging student throughout his time at the University. Enthusiastic about taking every opportunity to engage in university life and gain work experience, Calum became one of the most well-known students within the QMU community. By the time of graduation, he had built an impressive CV having worked at a wealth of university corporate events, held a shift supervisor’s position with the student accommodation team and worked at several external hospitality events.</p>
<ul>
<li class="txtMainBlack"><strong>Prepare before you get to the University</strong>. Check out the QMU website details and have a look at what’s on offer at the <a rel="noopener" href="https://www.qmu.ac.uk/open-days-and-meeting-us/undergraduate-open-days/" target="_blank" title="open day">open day</a> event. Think about what you’d like to do first and what your main priorities are.</li>
</ul>
<ul>
<li class="txtMainBlack">If you can, <strong>dedicate your day to the full event</strong> and make the most of all the talks and tours that are on offer. Getting as much information as possible will be worth your while. But don’t worry if you can’t stay for the full event. Come and meet the academics and go to your subject area talk.  </li>
</ul>
<ul>
<li><strong>Plan your journey.</strong>   There are so many options for travelling to QMU. QMU is only 6 minutes by train from Edinburgh’s Waverley Station. Check out the train timetable in advance. The number 30 bus runs regularly from Edinburgh city centre to QMU regularly throughout the day.      </li>
</ul>
<ul>
<li class="txtMainBlack">There is also free parking at QMU for the open day event. There will be plenty of road signage near the campus for the event, so you shouldn’t get lost. </li>
</ul>
<ul>
<li class="txtMainBlack">Make sure you get an <strong>open day information booklet</strong> when you arrive. It’s a good guide to the event. Jot down any questions that you may have on the back page.</li>
</ul>
<ul>
<li class="txtMainBlack"><strong>Make a day of it.</strong> Visit the beautiful countryside in and around QMU and make full use of being close to Scotland’s stunning capital city, Edinburgh.</li>
</ul>
<ul>
<li class="txtMainBlack">When you arrive plan your day based on priority and what is left in the day.</li>
</ul>
<ul>
<li class="txtMainBlack">IMPORTANT: <strong>Don’t miss the Welcome Talk</strong> by QMU’s Vice Principal - it’s the essential talk to give you an overview of QMU. We repeat the talk four times so you shouldn’t miss out.</li>
</ul>
<ul>
<li class="txtMainBlack">Have a good look at the programme and <strong>prioritise going to your subject area talk</strong>. This is essential for you to find out more about the subject area you’re keen to study. The academic staff are very approachable and open to any questions you may have about their subject areas. Leave our open day with no question unanswered! Don't forget the drop in sessions its a great place to speak to academics and other staff, for example admissions, student funding.</li>
</ul>
<ul>
<li class="txtMainBlack"><strong>Talk to the student helpers</strong> and find out about student life. They can also give you a student insight into the courses. They are also great at giving campus tours.  </li>
</ul>
<ul>
<li class="txtMainBlack">Full campus tour allows you to see how great QMU is.</li>
</ul>
<ul>
<li class="txtMainBlack"><strong>Remember, this day is about you. Don’t be shy</strong> . Ask questions and get as much information as possible to help you make the right decisions about your future. Coming to uni is a life changing experience, so talk to staff and students, go to lots of talks, tour the campus and see the facilities.</li>
</ul>
<ul>
<li class="txtMainBlack">There will be <strong>complementary tea, coffee and biscuits available from 9.30am</strong> (even though our <strong>official event doesn’t kick off until 11am</strong>).  So you can have a seat in our food court and look over the open day booklet before the first Welcome Talk starts at 11am.</li>
</ul>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2015-08-27T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[CALUM’S TOP TIPS FOR QMU OPEN DAYS: A graduate’s perspective]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>QMU’s recent Hospitality and Tourism graduate Calum McEachern, offers his top tips for the upcoming QMU undergraduate Open Days on Thursday 3rd September and Saturday 3rd October 2015.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[QMU’s recent Hospitality and Tourism graduate Calum McEachern, offers his top tips for the upcoming QMU undergraduate Open Days on Thursday 3rd September and Saturday 3rd October 2015.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[CALUM’S TOP TIPS FOR QMU OPEN DAYS: A graduate’s perspective]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information please contact Jonathan Perkins, Press and PR Officer, Queen Margaret University, Edinburgh, tel: 0131 474 0000, Email: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "c9e19ce1-d840-43f7-9b54-77ebeb673b60",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[CALUM’S TOP TIPS FOR QMU OPEN DAYS: A graduate’s perspective]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>