<?xml version="1.0" encoding="utf-8"?>
<Content Key="c723ef29-648d-45fd-9f95-d414b714c7d9" Alias="Nursing" Level="4">
  <Info>
    <Parent Key="c4f8e364-d90c-463c-ad9e-e6f6aed20e55">QMU150 - 150 stories</Parent>
    <Path>/Home/AboutTheUniversity/QMU150150Stories/Nursing</Path>
    <Trashed>false</Trashed>
    <ContentType>filterFolder</ContentType>
    <CreateDate>2024-02-05T12:12:31</CreateDate>
    <NodeName Default="Nursing" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <allowCustomOrdering>
      <Value><![CDATA[]]></Value>
    </allowCustomOrdering>
    <filterIndicatorColour>
      <Value><![CDATA[{
  "value": "ef7e21",
  "label": "ef7e21",
  "sortOrder": 5,
  "id": "6"
}]]></Value>
    </filterIndicatorColour>
    <showAllChildPages>
      <Value><![CDATA[]]></Value>
    </showAllChildPages>
    <useFolderControls>
      <Value><![CDATA[]]></Value>
    </useFolderControls>
  </Properties>
</Content>