<?xml version="1.0" encoding="utf-8"?>
<Content Key="c846da23-399a-4d85-81c5-8e6983621c76" Alias="Events" Level="2">
  <Info>
    <Parent Key="7c28b037-248d-4048-8a11-5bc460a5c372">Settings</Parent>
    <Path>/Settings/Events</Path>
    <Trashed>false</Trashed>
    <ContentType>eventFolder</ContentType>
    <CreateDate>2022-11-23T11:37:39</CreateDate>
    <NodeName Default="Events" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>