<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9efde28-226c-4cab-870a-6a34dc912927" Alias="2019.02.19 Teaching Makes People" Level="5">
  <Info>
    <Parent Key="08947aaf-1983-41d9-af0f-da5f3d7f0945">2019</Parent>
    <Path>/Home/NewsAndEvents/News//TeachingMakesPeople</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-11T11:29:05</CreateDate>
    <NodeName Default="2019.02.19 Teaching Makes People" />
    <SortOrder>54</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "f7b22d14-59e4-4385-9c87-687b52f35563",
    "name": "Discover the teacher in you at ‘Teaching Makes People’ roadshow",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Discover the teacher in you at ‘Teaching Makes People’ roadshow",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The roadshow is touring across Scotland as part of an ongoing, nation-wide recruitment campaign.</p>
<p>Visiting undergraduate students will get the chance to speak to current teachers about their own experiences, get information on applying to the Professional Graduate Diploma in Education (PGDE) course, and find out all they need to know about pursuing a career in teaching.</p>
<p>Teaching is an incredibly rewarding career, which allows you to share your own passion for your subject of study and help to make a difference in the education of young people. In return you will enjoy a solid pathway for career progression and professional development, a generous holiday entitlement, and a competitive salary.</p>
<p>John Swinney, Cabinet Secretary for Education and Skills said: “Teaching is an inspiring career that allows graduates to flex their creativity and autonomy while enhancing the lives of children and young people by bringing education to life. However, it is often overlooked as a career choice by undergraduates completing their courses at Scottish universities each year, many of whom may not immediately think they have the skills for the role. ‎</p>
<p>“This campaign aims to encourage more people studying or working in related areas to think again and consider a challenging and rewarding career in teaching where they can make a positive difference.”</p>
<p>To find out more information about a highly rewarding career with fantastic benefits, visit <a href="https://teachinscotland.scot" title="Teach In Scotland">Teach In Scotland.</a></p>
<p><strong>Background</strong></p>
<p>The Scottish Government is firmly committed to maintaining teacher numbers and are investing £88 million this year alone to recruit and retain teachers across the country. This is in addition to our work with the General Teaching Council for Scotland (GTC) and universities to develop new ways to attract people into the profession, supported with £1 million from our Attainment Scotland Fund.</p>
<p>As part of the ‘Teaching Makes People’ campaign throughout February, the event will visit all Universities that offer the PGDE course and will be held at University of; Stirling, Abertay, Highlands and Islands, Heriot-Watt, Edinburgh Napier, Strathclyde, Glasgow, Aberdeen, Queen Margaret, Edinburgh, West of Scotland, and Dundee.</p>
<p>For details of further dates when they are announced, visit the <a href="https://teachinscotland.scot" title="Teach In Scotland website">Teach In Scotland website</a>.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2019-02-19T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Discover the teacher in you at ‘Teaching Makes People’ roadshow]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[2023-02-19T17:00:14]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>If you have ever considered a career in teaching, now is your chance to find out more by attending the Scottish Government’s ‘Teaching Makes People’ roadshow, which will be at Queen Margaret University (QMU), Edinburgh on 26<sup>th</sup> February from 10am to 3pm.  </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Discover the teacher in you at ‘Teaching Makes People’ roadshow

If you have ever considered a career in teaching, now is your chance to find out more by attending the Scottish Government’s ‘Teaching Makes People’ roadshow, which will be at Queen Margaret University (QMU), Edinburgh on 26th February from 10am to 3pm.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Discover the teacher in you at ‘Teaching Makes People’ roadshow]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>Issued by The BIG Partnership on behalf of the Scottish Government.</p>
<p><strong>For more information, please contact Eilidh Smith at BIG Partnership on </strong><a href="mailto:eilidh.smith@bigpartnership.co.uk"><strong>eilidh.smith@bigpartnership.co.uk</strong></a><strong> or by calling 0131 557 5252.</strong></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "a4f549b0-c72c-4970-8a67-4357ca53d219",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Discover the teacher in you at ‘Teaching Makes People’ roadshow]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>