<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca37ab78-838e-46d3-b116-f19ae9eb93cd" Alias="Blackboard Learning - Getting started with Assignments" Level="6">
  <Info>
    <Parent Key="d8e85aae-a221-491c-a279-b31b77b3d873">CAP</Parent>
    <Path>/Home/StudyHere/LearningFacilities/ITServices/CAP/BlackboardLearningGettingStartedWithAssignments</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-06-08T13:03:59</CreateDate>
    <NodeName Default="Blackboard Learning - Getting started with Assignments" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/4346ccc8e2be4e82ba5d10a010f0a9ef]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "3896eb65-fab2-4bd0-a1f7-3ed295b00e8f",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/48742e1d42a94cf48120315d575c3847",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p>650 Massachusetts Avenue</p>
<p>NW 6th Floor Washington,</p>
<p>DC 20001-3796</p>
<p>1-800-424-9299</p>
<p> </p>
<p>Copyright © 2012. Blackboard, Inc.</p>
<p>All rights reserved.</p>
<p>Blackboard and the Blackboard logo are registered trademarks of Blackboard, Inc</p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>Student View</strong></p>
<p><img src="https://qmu.ac.uk/media/10439/5553-blackboard-learn-91-getting-started-with-assignments-1.jpg" alt="Screenshot highlighting areas of upload assignment worksheet for Getting started with assignments webpage." /></p>
<p><strong>1. Click assignment link</strong> - In the course area, click the assignment link to access the Upload Assignment page.</p>
<p><strong>2. Assignment Information</strong> - Review the instructions and the date the assignment needs to be submitted by.</p>
<p><strong>3. Points Possible and View Rubric</strong> - View how much the assignment is worth and a scoring rubric, if made available by the instructor.</p>
<p><strong>4. Assignment Files</strong> - Download one or more files attached by the instructor</p>
<p><strong>5. Submission, Attach File, and Comments</strong> - In the Submission text box, students can type responses and use the Text Editor functions to format the text and include files, images, external links, multimedia, and Mashups. They may also attach one or more files by clicking Browse My Computer or Browse Course and locating the file or files to attach. Optionally, they may include comments pertaining to the submission.</p>
<p><strong>6. Save as Draft and Submit</strong> - Students may save their responses and files, and return to edit their assignments at a later time. Students must click Submit to ensure completed assignments are submitted. A success message appears confirming the assignment submission.</p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 879px;">
<tbody>
<tr style="height: 23px;">
<th style="width: 33.3333%; height: 23px;"><strong>Task</strong></th>
<th style="width: 33.3333%; height: 23px;"><strong>What You Need to Know</strong></th>
<th style="width: 33.3333%; height: 23px;"><strong>Steps to Accomplish</strong></th>
</tr>
<tr style="height: 688px;">
<td style="width: 33.3333%; height: 688px;">Creating Assignments</td>
<td style="width: 33.3333%; height: 688px;">
<p>You can create assignments in Content Areas, Learning Modules, Lesson Plans, and folders. In an assignment, you can include a description, point value, and file attachments. You can deliver assignments to each student individually or as collaborative work for groups of students.</p>
<p>As assignments are created, you will work in Edit Mode. When Edit Mode is ON, you can view and use all of the instructor functions.</p>
</td>
<td style="width: 33.3333%; height: 688px;">
<p>1. In Edit Mode, access the course area where you want to create the assignment.</p>
<p>2. On the Action Bar, point to Assessments to access the drop-down list.</p>
<p>3. Select Assignment.</p>
<p>4. On the Create Assignment page, type a Name. Students click this name in the course area to access the assignment.</p>
<p>5. Optionally, type Instructions for the assignment. Format the text and include images, links, multimedia, Mashups, and attachments using the functions in the Text Editor, if needed. Clear concise instructions are necessary for student success. Include file naming conventions, due dates, and where to go for additional help.</p>
<p>6. Optionally, attach a file using Browse My Computer, Browse Course, or Browse Content Collection and type a Link Name. The Link Name appears in the course area. If you do not provide one, the file name is used as the link.</p>
<p>7. Type Points Possible.</p>
<p>8. Optionally, associate a rubric.</p>
<p>9. Select the options for delivering the assignment and make it available.</p>
<p>10. Click Submit</p>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 33.3333%; height: 21px;">Accessing Assignments for Grading</td>
<td style="width: 33.3333%; height: 21px;">
<p>When you create an assignment, a grade column is created automatically in the Grade Center. This makes reviewing and grading assignment submissions in the Grade Center easy to accomplish. Assignments that have been submitted, but not graded, are indicated with an exclamation mark—the needs grading icon—in the Grade Center, so you will always know which assignments need grading.</p>
<p>Depending on your grading style, you can access and grade one assignment attempt, view all the submissions for one assignment, or view all the assignments with submissions that need grading.</p>
</td>
<td style="width: 33.3333%; height: 21px;">
<p>To access a single assignment attempt:</p>
<p>1. On the Control Panel, expand the Grade Center section and click Full Grade Center. NOTE: You can also access assignments on the Needs Grading page or in the default Assignments Smart View. You can access both options in the Grade Center section of the Control Panel.</p>
<p>2. In the Grade Center, locate the cell for the student’s assignment containing an exclamation mark.</p>
<p>3. Move the mouse pointer over the cell to see the Action Link and click it to access the contextual menu.</p>
<p>4. Select Attempt. The Grade Assignment page appears.</p>
<p>To access all submissions for an assignment: 1. In the assignment’s column header, click the Action Link to access the contextual menu.</p>
<p>2. Select Grade Attempts. The Grade Assignment page appears.</p>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 33.3333%; height: 21px;">Reviewing and Grading Assignments</td>
<td style="width: 33.3333%; height: 21px;">
<p>When reviewing assignment submissions, you can provide a grade and feedback on the Grade Assignment page.</p>
<p>The Grade Assignment page is accessed from the Needs Grading page or the Grade Center.</p>
<p>NOTE: If you allowed multiple attempts for an assignment, a student’s grade is not released until all of the attempts are graded.</p>
</td>
<td style="width: 33.3333%; height: 21px;">
<p>1. On the Grade Assignment page, view the submission text, attached files, and comments made by the student.</p>
<p>2. Type a Grade for the assignment, or it a gradable rubric has been associated, click View Rubric and score the assignment.</p>
<p>3. Optionally, type comments in the Feedback to User text box and attach a file for the student to review. Use the Text Editor functions to format the text and include files, images, links, multimedia, and Mashups.</p>
<p>4. Optionally, type comments in the Grading Notes text box and attach files that only you can access.</p>
<p>5. Click Save and Exit to return to the Full Grade Center, the Needs Grading page, or the Grade Details page, depending on where grading began.</p>
<p>-OR-</p>
<p>Click Save and Next to grade the next assignment, when available. If no grade is assigned for the attempt, clicking Save and Next will not change the status of the attempt.</p>
<p>-OR-</p>
<p>Click Save as Draft to save your comments and feedback for the user and return to grading at a later time. The assignment remains ungraded and an exclamation mark appears in My Grades and in the Grade Center.</p>
<p>-OR-</p>
<p>Use the arrow buttons to navigate through or grade the attempts in the queue one at a time.</p>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 33.3333%; height: 21px;">Grading Assignments Anonymously</td>
<td style="width: 33.3333%; height: 21px;">
<p>You can choose to grade assignments anonymously to ensure impartial evaluation of student work. For example, an opinion-based assignment that is graded anonymously may offer students a higher level of comfort when expressing themselves.</p>
<p>In anonymous grading, all identifying information is hidden and attempts appear in random order. Each student is assigned a number, such as Student 8.</p>
<p>You may grade anonymously from the Needs Grading page, from the Grade Center, or from the Grade Assignment page.</p>
</td>
<td style="width: 33.3333%; height: 21px;">
<p>To grade anonymously from the Grade Center:</p>
<p>1. Click an assignment’s Action Link in the column header to access the contextual menu.</p>
<p>2. Select Grade Anonymously. The Grade Assignment page appears.</p>
<p>To grade anonymously from the Grade Assignment page:</p>
<p>1. On the Action Bar, click Hide User Names.</p>
<p>2. Click OK in the pop-up window to verify the action. If grading was in progress, any unsaved changes to the open attempt are lost. The Grade Assignment page refreshes and all identifying information is hidden.</p>
<p>To grade anonymously from the Needs Grading page:</p>
<p>1. Click an assignment attempt’s Action Link to access the contextual menu.</p>
<p>2. Select Grade Anonymously. The Grade Assignment page appears.</p>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 33.3333%; height: 21px;">Allowing Additional Attempts</td>
<td style="width: 33.3333%; height: 21px;">
<p>If a student has submitted the maximum number of attempts for an assignment but you want to provide another opportunity for submission, you can allow another attempt.</p>
<p>NOTE: The Allow Additional Attempt function only appears if a student has already submitted the maximum number of attempts allowed for that assignment. You can continue to offer opportunities to resubmit attempts each time a student reaches that maximum number. Previous attempts do not have to be graded to allow the student to submit again.</p>
</td>
<td style="width: 33.3333%; height: 21px;">
<p>1. Locate the cell for a student’s assignment containing an exclamation mark.</p>
<p>2. Move the mouse pointer over the cell to see the Action Link.</p>
<p>3. Click the Action Link to access the contextual menu.</p>
<p>4. Select View Grade Details. The Grade Details page appears.</p>
<p>5. Click Allow Additional Attempt, and then confirm.</p>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 33.3333%; height: 21px;">Editing Assignments</td>
<td style="width: 33.3333%; height: 21px;">You can edit an assignment to change the name and instructions, add or delete file attachments, and adjust availability or availability dates.</td>
<td style="width: 33.3333%; height: 21px;">
<p>1. Navigate to the course area containing the assignment.</p>
<p>2. Click the Action Link to the right of an assignment’s name to access the contextual menu and select Edit.</p>
<p>3. On the Edit Assignment page, make your changes.</p>
<p>4. Click Submit.</p>
</td>
</tr>
<tr style="height: 21px;">
<td style="width: 33.3333%; height: 21px;">Deleting Assignments</td>
<td style="width: 33.3333%; height: 21px;">You can delete an assignment at any time. If students have submitted work, deleting the assignment also deletes the submissions. You can choose whether or not to keep the associated grades.</td>
<td style="width: 33.3333%; height: 21px;">
<p>1. Navigate to the course area containing the assignment.</p>
<p>2. Click the Action Link to the right of an assignment’s name to access the contextual menu and select Delete.</p>
<p>3. Click OK to continue.</p>
<p>4. On the Delete Assignment page, choose to: Preserve scores in the Grade Center for this Assignment, but delete the assignment and all its submissions.</p>
<p>-OR-</p>
<p>Delete this Assignment, the Grade Center item for this Assignment, all grades for this Assignment, and all submissions for this Assignment.</p>
<p>5. Click Remove to delete the assignment or Cancel to keep it. Reminder: Even if you keep the scores in the Grade Center, you will not be able to access the assignment submissions again.</p>
</td>
</tr>
</tbody>
</table>
<p> </p>
<p><strong>Presenting Assignments</strong> - You have a number of options for presenting assignments. Review the following options and consider which approach meets your needs or create a new method to accomplish your goals.</p>
<p> </p>
<p><strong>Option A</strong>: Add all assignments to one Content Area.</p>
<p>How it works: Create an Assignments Content Area and create all of your assignments there.</p>
<p>Suggested use: This option keeps the creation process simple and helps students quickly access all assignments for the course in a list.</p>
<p><strong>Option B</strong>: Add assignments to different Content Areas, in close proximity to related course content.</p>
<p>How it works: After setting up various Content Areas for your course, you can add assignments to them. For example, you can create Content Areas for each week of your course where students see the week’s overview, reading materials, lecture, and the assignment.</p>
<p>Suggested use: For a fully online course, this method is an effective way to integrate assignments with course content and provide everything students need for a unit of study on a single page.</p>
<p><strong>Option C</strong>: All assignments are created in one location, such as the Assignments Content Area. Course Links to assignments are also added in other Content Areas, folders, or Learning Modules.</p>
<p>How it works: The Assignments Content Area provides a single location for instructors to access and update assignments, while the links in the other areas allow assignments to be presented alongside course content. Although this option does require an extra step, it accommodates different course-usage styles and creates an integrated, cohesive learning experience.</p>
<p>Suggested use: This option is most appropriate for instructors teaching robust, fully online courses. Editing assignments is easy for instructors, and students still have convenient access to assignments.</p>
<p> </p>
<p><strong>Glossary</strong></p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 23.0366%; text-align: left;">Adaptive Release</th>
<td style="width: 76.9634%;">The Adaptive Release tool enables you to customize the release of content to control when and to whom course content is available. You can create a rule where students must satisfy the criteria to gain access to an assignment -OR- where students must attain a certain grade on an assignment to access other content.</td>
</tr>
<tr>
<th style="width: 23.0366%; text-align: left;">Attempt</th>
<td style="width: 76.9634%;">An attempt is a specific submission of a test or an assignment</td>
</tr>
<tr>
<th style="width: 23.0366%; text-align: left;">Course Link</th>
<td style="width: 76.9634%;">A Course Link is a shortcut to an existing area, tool, or item in a course. You can add Course Links to a Content Area, Learning Module, Lesson Plan, folder, the Course Menu, and within some tools. For example, if you have created all assignments in their own Content Area, you can create Course Links to individual assignments in other areas of the course, such as in a unit folder, weekly Content Area, or Learning Module. A Course Link has a special icon in the course area.</td>
</tr>
<tr>
<th style="width: 23.0366%; text-align: left;">Display After/Until</th>
<td style="width: 76.9634%;">You can set assignments to display on a specific date and time and to stop displaying on a specific date and time. Select the Display After and Display Until check boxes to enable the date and time selections. Type dates and times in the text boxes or use the pop-up Date Selection Calendar and Time Selection Menu to select dates and times. Display restrictions do not affect an assignment’s availability, only when it appears.</td>
</tr>
<tr>
<th style="width: 23.0366%; text-align: left;">Draft</th>
<td style="width: 76.9634%;">A draft is a version of an assignment saved by a user, but not yet submitted for grading.</td>
</tr>
<tr>
<th style="width: 23.0366%; text-align: left;">Score attempts using</th>
<td style="width: 76.9634%;">g When multiple attempts are allowed for an assignment, you can edit the assignment’s Grade Center column to change which attempt is used as the score in the Grade Center. For example, if you have allowed students to submit an assignment more than once, you can select Edit Column Information in the assignment column’s contextual menu. On the Edit Column page, select which attempt to use for the score in the Score attempts using drop-down list. The default is Last Graded Attempt. If you do not edit the column, the Grade Center automatically uses the grade of the last attempt when more than one attempt is allowed.</td>
</tr>
</tbody>
</table>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Blackboard Learning - Getting started with Assignments]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>Getting Started With . . . Assignments</strong></p>
<p>Blackboard Learning - Release 9.1 Service Pack 8</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Blackboard Learning - Getting started with Assignments | A tutorial webpage giving guidance on getting started with blackboard learning.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Blackboard Learning - Getting started with Assignments | CAP | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "b591936d-5b30-4112-a1c7-be9d7fb08bcb",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Blackboard Learning - Getting started with Assignments]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>