<?xml version="1.0" encoding="utf-8"?>
<Content Key="cabe748d-ac5e-4445-82cd-d9ee7a1f2439" Alias="Stefania Vryoni  - BA (Hons) International Hospitality and Tourism Management" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/StefaniaVryoniBAHonsInternationalHospitalityAndTourismManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-11-05T13:50:34</CreateDate>
    <NodeName Default="Stefania Vryoni  - BA (Hons) International Hospitality and Tourism Management" />
    <SortOrder>168</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/bb9ee55931c7480cba758706e6ac2c41]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "f0f612a5-a0c0-40d6-8c67-66893d6e9938",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/a07a5ebd234c4cdb831a44f5c30d6d82",
    "title": "",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p>[story published in April 2021]</p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<div class="staffintro">
<div class="staffintro">
<p><span class="lead">Why did you choose to study this programme through QMU-Metropolitan College?</span></p>
<p><br />I chose this programme because tourism in Greece is developing more and more - there are lots of jobs and lots of different types of jobs. I like the tourism and hospitality industry because I enjoy being around people and having lots of variety in my work. Also, here in Greece, we don't have a bachelor level degree for tourism and hospitality, if you wanted to study these subjects it would only be a diploma. It was important to me to do a bachelor’s degree and with this programme there was even the option of doing an honour’s or master’s level course afterward.</p>
<p><span style="font-size: 16px; font-weight: bold;">Did you feel supported by your lecturers and the other staff during your course?</span></p>
</div>
<p><br />The tutors were very kind. I could always ask them if I had any problems and they would always help. We also had a personal tutor as well so if someone is quiet person, they can speak up in their meetings with their personal tutor- they don't have to speak up in the big class. I think that’s very important.</p>
<p><span class="lead">What are your post-graduation plans?</span></p>
<p>I used to work as a flight attendant, so I would like to work for an airline in the marketing department. I would also like to do a master’s degree, but first I want to get some more experience to see exactly what field I want to study more of.</p>
</div>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[umb://media/48faac309985447d8d930f05188a3e05]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Greece]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/d1dff860257348839291d20c1842932b]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[BA (Hons) International Hospitality and Tourism Management]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Stefania Vryoni ]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[[]]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Stefanie studied for her Queen Margaret University degree at one of our partner institutions, Metropolitan College in Athens, Greece.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Stefanie studied for their Queen Margaret University degree at one of our partner institutions, Metropolitan College in Athens, Greece.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Stefania Vryoni | Student Story | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[The tutors were very kind. I could always ask the tutors if I had any problems and they would always help.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Stefania Vryoni]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Stefania Vryoni ]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Graduate"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>