<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce096c82-a964-4c5c-802d-46a87f798fb0" Alias="Holly’s Exchange" Level="6">
  <Info>
    <Parent Key="f1509fae-6848-403b-a28f-3de63cb2e77e">Semester Abroad Experiences</Parent>
    <Path>/Home/StudyHere/InternationalStudentsRevamp2022/ReasonsToStudyAbroad/SemesterAbroadExperiences/HollySExchange</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2022-04-27T11:41:40</CreateDate>
    <NodeName Default="Holly’s Exchange" />
    <SortOrder>32</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65102975-f5a6-47bf-9418-b0e82dc7c288">BlogPost</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/ec37ebe6447941bb9edcd684daca01c2]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "3a7c2e8f-cdc7-4586-8e41-2c4d3e36e7d5",
    "name": "Holly's Semester Abroad",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Holly's Semester Abroad",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p>In my second semester of my 3<sup>rd</sup> year doing Events Management I was able to go on exchange to Central Connecticut State University (CCSU). First of all, EVERYTHING IS HUGE – you name it: cars, shops, food, buildings… such a strange sight at first! This was the first time I had ever been to America, and so I wanted to go on exchange because it is such an amazing opportunity. To experience an entirely different culture, a different school system and a different way of life. I can honestly say that over the past 4 months of being there, I have learned so much. Not only did I learn about the different culture but I also learned a lot about myself.</p>
<p><img src="?width=300&amp;height=300" alt="Friends skiing" width="300" height="300" data-udi="umb://media/12518fb936f64d7fba6e0c5e59ed1338" /></p>
<p>I met some really great people while I was studying in Connecticut – I mostly stayed with the other exchange students because we were all in the same boat. It was also nice to have people who you already have made connections with. I was not planning on travelling around America after my studies but I did manage to go see some of the places close by. I went on a skiing trip to Vermont – such an amazing experience – (organised by the uni) and went to Boston and New York during our Spring Break. Both equally amazing in their own different ways.</p>
<p><img src="?width=300&amp;height=399" alt="Image of pizza's" width="300" height="399" data-udi="umb://media/de9537d32b6246999681a948a7a7f4b6" /></p>
<p>One of the biggest things I found (culturally), and definitely what shocked me the most at first, was that people talk to each other. I mean this on a whole different level to how people talk to one another back in Europe. People in America are very open about their lives, their feelings and their experiences. It actually felt pretty refreshing to be in such an open culture.</p>
<p><img src="?width=300&amp;height=300" alt="Image of city skyline" width="300" height="300" data-udi="umb://media/4ec5cf1222274a699ff3ec695c506e37" /></p>
<p>I’d say one of the best aspects of this exchange programme or something I enjoyed the most was ironically, the school work. I discovered a passion for subjects I never thought I would be interested in, much less get the chance to learn about. Not only was it the topics that caught my interest, but it was also the method in which the teachers assess the students. For my classes there was a mixture of projects, presentations, field work, investigations, and group essays. As a very practical person, I thrived in this type of assessment. I don’t think I have ever had such good grades in my life.</p>
<p><img src="?width=300&amp;height=224" alt="Image of Holly standing in the snow" width="300" height="224" data-udi="umb://media/9bac9c7c82c94b6b94cfebf0a6e4e090" /></p>
<p>Suffice to say, I thoroughly enjoyed my time in the US and would highly recommend others to not miss out on such a great opportunity such as this.</p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[2019-06-05T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Holly’s Semester Abroad]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">Holly Green – Events Management – Level 3</span></p>
<p><span class="lead">Central Connecticut State University, USA</span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[In my second semester of my 3rd year doing Events Management I was able to go on exchange to Central Connecticut State University (CCSU). First of all, EVERYTHING IS HUGE – you name it: cars, shops, food, buildings… such a strange sight at first! This was the first time I had ever been to America, and so I wanted to go on exchange because it is such an amazing opportunity. To experience an entirely different culture, a different school system and a different way of life. I can honestly say that over the past 4 months of being there, I have learned so much. Not only did I learn about the different culture but I also learned a lot about myself.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Holly’s Exchange | Reasons to Study Abroad | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Holly’s Exchange]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>