<?xml version="1.0" encoding="utf-8"?>
<Content Key="cfc18692-f339-4726-b94f-6664e9295ee9" Alias="Student Guide to selecting the modules you wish to study via the QM:U Student Portal" Level="4">
  <Info>
    <Parent Key="fec66ea3-33a4-4405-8650-d0e9f84726ae">Vacancies</Parent>
    <Path>/Home/Footer/Vacancies/StudentGuideToSelectingTheModulesYouWishToStudyViaTheQMUStudentPortal</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-06-04T11:04:44</CreateDate>
    <NodeName Default="Student Guide to selecting the modules you wish to study via the QM:U Student Portal" />
    <SortOrder>14</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "62077249-fa16-4569-bf3c-cea65781132f",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Student Guide to selecting the modules you wish to study              ",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>QM:u Student Portal can be accessed both on and off campus. The Online Module Registration Facility is only available to matriculated students.</p>
<p>To login to QM:u Student Portal you must click on:</p>
<p>Input your username (matriculation number) and password that you use to login to the QMU network and click on</p>
<p>(If you need to reset your password you can click on the “Student Password Reset Screen” option.)</p>
<p>Under the Student Details Section you must click on <span class="lead">Select Your Module Options for 2016/7</span></p>
<p>The following screen will display</p>
<p><span class="lead">The Student Details Section</span> displays your Matriculation Number, Name, Programme, Mode of<br />Attendance, Registration Year and the number/total credit value of modules you have already been registered for.</p>
<p><span class="lead">The Selected Modules Section</span> displays the module code, semester (the period in which the module is taught) level (the level of the module) credits and status of the module (C for compulsory or O for optional) and the name of the module.</p>
<p><span class="lead">The Pick Module Section</span> displays the instructions on how many modules you must select and lists the module codes.</p>
<p>To select your modules you must click on<span class="lead"> “Select”</span> and the following will appear.</p>
<p>Under the <span class="lead">Make Selection</span> Section it will detail the number of modules/credits you must select.</p>
<p>If you click on the <span class="lead">Module Name</span> it will display a brief description of what the module entails</p>
<p>If you click on the <span class="lead">Click Here View Timetable Information</span> it will list when the classes take place for that module</p>
<p>Close the timetable window and press ‘Back’ to return to the Make Selection section.</p>
<p>Click alongside the module(s) you would like to select and click on <span class="lead">“Submit Selections”</span></p>
<p>The modules you have selected will be displayed on the right hand side of the screen. If at this stage you would like to change the modules you have selected click on <span class="lead">“Clear All Selections"</span></p>
<p>The Student Portal will return you to the above screen where you can reselect your modules by clicking on <span class="lead">“Select”</span> and follow the previous instructions.</p>
<p>If the following error message appears when you select a module it means the module is now full (the maximum number of students who can take this module has been reached) and you must select another module as per the above instructions</p>
<p>Once you are happy that you have selected the correct modules click on <span class="lead">“Submit Selections”</span></p>
<p>Not sure what the square above is referring to?</p>
<p>It will then display a list of all modules you are registered on for this current Academic Year. At this stage you can still change your mind and click on <span class="lead">“Undo Last Change”</span> <span class="lead">then “Clear All Selections”</span> to go back to the module selection stage.</p>
<p>Once you are happy with the module(s) you have selected click on <span class="lead">“Confirm Selections”</span></p>
<p>The screen will display a list of modules you have <span class="lead">selected</span> and <span class="lead">submitted.</span></p>
<p><span class="lead">A confirmation of the modules you have selected will be sent to your student email account for your records.</span></p>
<p>You can now log out of the Student Portal.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Student Guide to selecting the modules you wish to study ]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">You can access the QM:u Student Portal via the quick links to option on the Queen Margaret University Website.</span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Step by step module selecting guide for students using the QM:u Student Portal.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Student Guide to selecting the modules you wish to study | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "c7d292ad-c485-4317-bc36-73d703f79a9e",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Module Selection for Students]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>