<?xml version="1.0" encoding="utf-8"?>
<Content Key="d119d04e-d4c3-4240-ac93-ef93140d235e" Alias="Theodosia Papougiannaki – BA (Hons) Marketing Management" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/TheodosiaPapougiannakiBAHonsMarketingManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2022-06-01T14:58:18</CreateDate>
    <NodeName Default="Theodosia Papougiannaki – BA (Hons) Marketing Management" />
    <SortOrder>190</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/444ac2451971480f960c0778cbbfab01]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "ce68466a-743e-4a32-a540-db9035783459",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/473407b433734574a19063d1dd06eb6b",
    "title": "",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><span class="lead">What's your' top tip' for making the most of being a student, and what was the most valuable lesson you learned?</span></p>
<p>My' top tip' is to attend classes regularly. This provided me with a more holistic view of the instructional contents, but it also allowed me to build meaningful bonds with my classmates and teachers. Additionally, the most valuable lesson I learned was how to work with all kinds of people towards a goal. Through teamwork at university, I gained essential communication and leadership skills. <br /><br /><span class="lead">Can you tell us about your life post-graduation?</span></p>
<p>I am currently volunteering as a mentor at an NGO about women's entrepreneurship. Being able to share my knowledge about Marketing with others and help them with their personal development is very self-fulfilling.</p>
<p><em>[Published June 2022]</em></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p style="font-weight: 400;"><strong>Student name:</strong> Theodosia Papougiannaki</p>
<p style="font-weight: 400;"><strong>Course:</strong> BA (Hons) Marketing Management</p>
<p style="font-weight: 400;"><strong>Hometown:</strong> Thessaloniki</p>
<p style="font-weight: 400;"><strong>Year of graduation:</strong> 2021</p>
<p style="font-weight: 400;"> </p>
<p><span class="lead">Why did you choose to study with one of QMU's collaborative partner institutions, and what attracted you to the course?</span></p>
<p>Metropolitan college was one of the first educational institutions in Greece to provide a bachelor's degree in Marketing Management through QMU. Studying at a university that understands the upcoming trends was crucial to me. As for the course, one of the main things that attracted me was the range of its topics. Marketing is a dynamic, interesting, challenging and eclectic field that combines strategy, psychology and creativity. As I usually say, it's the "fun" side of business. So, it's perfect for those who want to study something enjoyable but also something that prepares them for a variety of career paths in a high-demand industry.</p>
<p><span class="lead">What did you enjoy most about your course?</span></p>
<p>I enjoyed how the course was presented in the lecture slides: they were precise and not overly theoretical and contained just the right amount of information to grasp the concepts. Also, because of the progression of the modules, from the introductory to the more advanced, it was easy to understand more advanced topics progressively.<br />Were there any particular course activities you found especially interesting?<br />The case method activities are what I found most interesting. The ability to apply concepts learned in the course in the "real world" encouraged me to develop a unique framework for dealing with business problems and improved my analysis and evaluation skills.</p>
<p><span class="lead">Do you have any advice for students who might be interested in this course?</span></p>
<p>INVEST IN YOURSELF! Use your university years to read books, attend seminars, learn new skills, meet new people, join societies, work out and travel. Just aim to feel full of vim.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Greece]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/1b68be2476b04d4d8cc579b01646b2b2]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[BA (Hons) Marketing Management]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Theodosia Papougiannaki]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[[]]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Theodosia graduated with a BA (Hons) Marketing Management degree from Queen Margaret University (QMU), delivered through our Athens-based partner institution <a rel="noopener" href="/about-the-university/partnerships/metropolitan-college/" target="_blank">Metropolitan College</a>.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Theodosia graduated with a BA (Hons) Business Management degree from Queen Margaret University (QMU), delivered through our Athens-based partner institution Metropolitan College.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Theodosia Papougiannaki – BA (Hons) Marketing Management]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[The most valuable lesson I learned was how to work with all kinds of people towards a goal. Through teamwork at university, I gained essential communication and leadership skills.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Theodosia Papougiannaki]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[BA (Hons) Marketing Management ]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Theodosia Papougiannaki]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Graduate"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>