<?xml version="1.0" encoding="utf-8"?>
<Content Key="d21a3fe5-43ed-44e7-ae65-ec3b79e88208" Alias="Make a Donation" Level="3">
  <Info>
    <Parent Key="df06d5ad-f665-4242-b805-0599a75e4d16">Alumni and Friends</Parent>
    <Path>/Home/AlumniAndFriends/MakeADonation</Path>
    <Trashed>false</Trashed>
    <ContentType>generalLandingPage</ContentType>
    <CreateDate>2021-02-03T14:13:52</CreateDate>
    <NodeName Default="Make a Donation" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2d105c-dfa8-42d8-8bd5-cf850a36952d">GeneralLandingPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/6f316dede3e8443db93f3fd735835008]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "c108d64f-6500-4836-b86c-533eb173fb13",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/bf96f88740a74e41becf8ca7dc93f0a8",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[umb://document/d15d0e1b794a4f8f8976918641a0912d]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Make a Donation]]></Value>
    </displayTitle>
    <focusPanel>
      <Value><![CDATA[[
  {
    "key": "b397733b-db78-418e-be83-37031574ebd4",
    "name": "Our Funds",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Our Funds",
    "content": "",
    "image": "umb://media/2f3a4be82168455baeff82b6ccab7b3c",
    "link": "[{\"name\":\"Our Funds\",\"udi\":\"umb://document/2bdabee0b1d3413c970af692cf12bef5\"}]"
  },
  {
    "key": "7eba7127-0873-4394-b4c0-fa697097a97d",
    "name": "Ways to Give",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Ways to Give",
    "content": "",
    "image": "umb://media/05bbbcd74dfc4f0ba84a4929e13bd804",
    "link": "[{\"name\":\"Ways to Give\",\"udi\":\"umb://document/1f26388bcada44e2b0e03c55994f32f9\"}]"
  },
  {
    "key": "ca1e7542-2d02-4670-9930-c4dd50810236",
    "name": "Get Involved",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Get Involved",
    "content": "",
    "image": "umb://media/96326b0292d74f09a996321ee77708c7",
    "link": "[{\"name\":\"Get Involved\",\"udi\":\"umb://document/08215b2abb3c4390bef45d5190a12f0f\"}]"
  }
]]]></Value>
    </focusPanel>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Each year many of our alumni and friends support the University by making a donation or by volunteering their time, experience and knowledge. You can play an important role in helping the University achieve its potential, and helping our students and the students of tomorrow achieve their goals.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Each year many of our alumni and friends support the University by making a donation or by volunteering their time, experience and knowledge. You can play an important role in helping the University to achieve its potential and helping the students of tomorrow to reach their goals.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Opportunities to Give | Alumni and Friends | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "9cb30f85-6e97-4938-9c03-a9bfe9c7cd69",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "customSocialMedia",
                    "value": {
                      "name": "Custom Social Media",
                      "facebook": "",
                      "twitter": "",
                      "instagram": "",
                      "linkedIn": "https://www.linkedin.com/in/queen-margaret-graduates-212b42251/",
                      "youTube": ""
                    },
                    "id": "308be607-5003-3260-ef84-982852298a83"
                  },
                  "editor": {
                    "alias": "Custom Social Media",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Two Column",
          "id": "3ffdcc53-9ced-4a8e-97fd-f960b0bcc3e0",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "usefulLinks",
                    "value": {
                      "name": "Useful Links",
                      "title": "Useful Links ",
                      "usefuls": [
                        {
                          "icon": "icon-layout color-indigo",
                          "name": "Alumni and Friends",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/df06d5adf6654242b8050599a75e4d16",
                          "url": "/alumni-and-friends/"
                        },
                        {
                          "icon": "icon-umb-content color-indigo",
                          "name": "Meet the Team",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/d1d1005d0aff4f1c8b3a1c74b89e0a14",
                          "url": "/alumni-and-friends/meet-the-team/"
                        },
                        {
                          "icon": "icon-umb-content color-indigo",
                          "name": "Keep in Touch",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/a16ce2d31a154e5280d785c2cd872c3c",
                          "url": "/alumni-and-friends/alumni-opt-in-lite/"
                        },
                        {
                          "icon": "icon-umb-content color-indigo",
                          "name": "QMYOU Magazine",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/456088f5f8a54bdb999fe35400c2be50",
                          "url": "/alumni-and-friends/qmyou-magazine/"
                        },
                        {
                          "icon": "icon-newspaper color-indigo",
                          "name": "News",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/24c2c53c30c24b2d9c432c21ba9b29f6",
                          "url": "/news-and-events/news/"
                        }
                      ],
                      "useDarkTheme": "1"
                    },
                    "id": "25f6df9f-dc02-892a-76f2-de3aba396391"
                  },
                  "editor": {
                    "alias": "Useful Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Make a Donation]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>