<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2b681e8-d580-496c-88e0-cd27f66be2a2" Alias="Croatia" Level="5">
  <Info>
    <Parent Key="b866e287-04b9-426b-8120-fbbd6cb4c832">Country</Parent>
    <Path>/Settings/Tags/GlobalTags/Country/Croatia</Path>
    <Trashed>false</Trashed>
    <ContentType>countryTag</ContentType>
    <CreateDate>2023-10-23T14:52:53</CreateDate>
    <NodeName Default="Croatia" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <country>
      <Value><![CDATA[Croatia]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[umb://media/a1ade7604087401bbf7a42b810f6b296]]></Value>
    </countryFlag>
  </Properties>
</Content>