<?xml version="1.0" encoding="utf-8"?>
<Content Key="d37b7801-4685-4d1a-9e85-b6180be326f3" Alias="Redefining Pathways to Quality in the Participatory Arts" Level="3">
  <Info>
    <Parent Key="2fb1d2d3-9848-4b68-ba52-af2ced358220">Services for Business and Industry</Parent>
    <Path>/Home/ServicesForBusinessAndIndustry/RedefiningPathwaysToQualityInTheParticipatoryArts</Path>
    <Trashed>false</Trashed>
    <ContentType>caseStudy</ContentType>
    <CreateDate>2021-02-03T15:22:45</CreateDate>
    <NodeName Default="Redefining Pathways to Quality in the Participatory Arts" />
    <SortOrder>59</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="442d9834-4ff8-4eff-a6dd-887657d8857b">CaseStudy</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "96c0fee4-250f-49f2-8f57-2d024eecc54d",
    "name": "Redefining Pathways to Quality in the Participatory Arts",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/2339228bb1b64cd997970f9c916e97da",
    "title": "Redefining Pathways to Quality in the Participatory Arts",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><span class="lead-big"><strong>Meet the Researcher</strong></span></p>
<p>Rachel Blanche</p>
<p><img src="?width=553&amp;height=328" alt="Rachel Blanche" width="553" height="328" data-udi="umb://media/bf4d55f03fac4ec0b47f96f804db9606" /></p>
<p><a href="/{localLink:umb://document/730eb5e98c9a4ff5ad051d5c2e068224}" title="Rachel Blanche"><span class="blue-btn"><strong>See Rachel Blanche's Profile</strong></span></a></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <displayTitle>
      <Value><![CDATA[Redefining Pathways to Quality in the Participatory Arts]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[1]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[Left]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Rachel Blanche at QMU produced a quality framework for participatory arts that has redefined notions of excellence in the sector and enhanced understanding of how best to foster quality.  Having identified key drivers and conditions for achieving quality, Rachel created a workable quality development model that has so far been adopted by arts funders in Scotland, Wales and Portugal, and is reflected in their quality frameworks, stimulating a shift in practice in the sector.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Rachel Blanche at QMU produced a quality framework for participatory arts that has redefined notions of excellence in the sector and enhanced understanding of how best to foster quality.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[ Redefining Pathways to Quality in the Participatory Arts| Transforming Research Case Study | Queen Margaret University]]></Value>
    </metaTitle>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "b6c1aab3-290a-492b-89f4-ab20377a908c",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Redefining Pathways to Quality]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Case study"
]]]></Value>
    </type>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>