<?xml version="1.0" encoding="utf-8"?>
<Content Key="d443c5c2-1f31-4bcf-a914-a54e2a6dc4f1" Alias="Nursing" Level="3">
  <Info>
    <Parent Key="483b75de-776b-4f8a-baaf-139685141b54">Experience QMU</Parent>
    <Path>/Home/ExperienceQMU/Nursing</Path>
    <Trashed>false</Trashed>
    <ContentType>generalLandingPage</ContentType>
    <CreateDate>2021-02-09T14:24:40</CreateDate>
    <NodeName Default="Nursing" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2d105c-dfa8-42d8-8bd5-cf850a36952d">GeneralLandingPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/d51140e81a2644e494e7ca36a79422fc]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "fcf6d61a-a94f-4101-becd-b7add93b1c4e",
    "name": "Experience Nursing Courses",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/8906071d7c8940acb2e1f0ce356d9da8",
    "title": "Experience Nursing Courses",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Our facilities for nursing students include a fully equipped clinical simulation suite, where skills can be practiced in a safe environment. We provide the broadest range of allied health professional courses in Scotland and are well placed to ensure that our nursing students learn to work effectively as a team with other health professionals. Our graduates are practice-ready and have a strong academic background that makes them particularly prepared to be leaders of tomorrow.</p>
<p>Have a browse through what we have to offer, and we look forward to welcoming you to QMU soon.</p>]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[umb://document/2091c837bdf644e1902a7a4e548e415b]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Experience Nursing Courses]]></Value>
    </displayTitle>
    <focusPanel>
      <Value><![CDATA[[
  {
    "key": "3173aa1e-5908-4a04-9ced-87c7b0e5937d",
    "name": "Read the story of a real-life hero",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Read the story of a real-life hero",
    "content": "",
    "image": "umb://media/4fec50f8853443cfb3d50696fa981c9c",
    "link": "[{\"name\":\"Alumni and Friends\",\"udi\":\"umb://document/df06d5adf6654242b8050599a75e4d16\"}]"
  },
  {
    "key": "bdabdc0f-60b0-4b83-b5d1-6a5d6d8f8f33",
    "name": "QMU staff talk all things nursing",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "QMU staff talk all things nursing",
    "content": "",
    "image": "umb://media/3677963105d74baaacd8898e22f1567d",
    "link": "[{\"name\":\"https://youtu.be/A_a7Naat4kY\",\"target\":\"_blank\",\"url\":\"https://youtu.be/A_a7Naat4kY\"}]"
  },
  {
    "key": "a63a1400-37e7-4471-9cf7-f97ff5217e3f",
    "name": "Graham Ogilvie captures QMU’s International Nurses Day event",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Graham Ogilvie captures QMU’s International Nurses Day event  ",
    "content": "",
    "image": "umb://media/dd2ba14f2fec49a6bf515dd697100925",
    "link": "[{\"name\":\"Graham Ogilvie For Qmu\",\"target\":\"_blank\",\"udi\":\"umb://media/aadf288a63464b479f4af9c59df20aba\"}]"
  },
  {
    "key": "d0a74a4e-a634-4747-b32a-5af0d0b4c721",
    "name": "Reasons to consider a professional teaching qualification PGCE",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Reasons to consider a professional teaching qualification PGCE ",
    "content": "",
    "image": "umb://media/bf7363f42bae4ea584802e669b1dd5fa",
    "link": "[{\"name\":\"https://youtu.be/0WVETj1UkW8\",\"target\":\"_blank\",\"url\":\"https://youtu.be/0WVETj1UkW8\"}]"
  }
]]]></Value>
    </focusPanel>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Welcome to our online experience of QMU’s nursing courses, where we are passionate about excellent person-centred and evidence-informed practice. Along with our nursing (and other health-related) undergraduate and postgraduate courses, we are engaged in a range of impactful research projects.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Welcome to our online experience of QMU’s nursing courses, where we are passionate about excellent person-centred and evidence-informed practice.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Experience Nursing Courses at Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "81378fbf-8877-433d-a15c-04bf8de1ff96",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "usefulLinks",
                    "value": {
                      "name": "Useful Links",
                      "title": "Experience Nursing Degrees",
                      "usefuls": [
                        {
                          "icon": "icon-link",
                          "name": "Watch a talk on Person-Centred Practice",
                          "published": true,
                          "queryString": null,
                          "target": "_blank",
                          "trashed": false,
                          "udi": null,
                          "url": "https://eu.bbcollab.com/recording/48e55385ea2e4adda49ee2aed041ac12"
                        },
                        {
                          "icon": "icon-link",
                          "name": "QMU celebrates International Nurses Day 2020",
                          "published": true,
                          "queryString": null,
                          "target": "_blank",
                          "trashed": false,
                          "udi": null,
                          "url": "https://youtu.be/_nB31FF_uVQ"
                        },
                        {
                          "icon": "icon-school color-indigo",
                          "name": "Get an overview of QMU’s nursing courses",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/d4c0e121fc6641bdbf75d9b8cb0c3411",
                          "url": "/schools-and-divisions/nursing/"
                        }
                      ],
                      "useDarkTheme": "0"
                    },
                    "id": "662490d9-90bf-b15d-f54f-0837e08e81e3"
                  },
                  "editor": {
                    "alias": "Useful Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/483b75de776b4f8abaaf139685141b54,umb://document/1d10b8fa5e3f441bb70c7de6e299f557,umb://document/930ae1141d5e480ab758e7a32bf82be7,umb://document/84bb1e8dc907469085f514f50981f098]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[Experience QMU]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Experience Nursing Courses]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>