<?xml version="1.0" encoding="utf-8"?>
<Content Key="d51250ea-fd30-476c-8b58-81d26e93c67c" Alias="Global Navigation" Level="6">
  <Info>
    <Parent Key="d8e85aae-a221-491c-a279-b31b77b3d873">CAP</Parent>
    <Path>/Home/StudyHere/LearningFacilities/ITServices/CAP/GlobalNavigation</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-06-08T15:43:59</CreateDate>
    <NodeName Default="Global Navigation" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/4346ccc8e2be4e82ba5d10a010f0a9ef]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "f988ef6f-9763-4a22-804a-3b22f22b8faf",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/48742e1d42a94cf48120315d575c3847",
    "title": "",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>1. How to access Global Navigation</strong></p>
<p>To access the Global Navigation menu select the area at the top-right of the Hub interface where you see the person icon (or your photo), your name, or the downward pointing arrow.</p>
<p><img src="https://qmu.ac.uk/media/10527/6199-global-navigation-1.jpg" alt="Image of highlighted profile section of HUB@QMU platform" /></p>
<p>A menu will appear displaying icons which link to:</p>
<p><img src="https://qmu.ac.uk/media/10528/6199-global-navigation-2.jpg" alt="Image of menu displaying icons in HUB@QMU platform" /></p>
<p>Tutors will also see an icon which links to the Retention Centre (although this function is not currently available).</p>
<p>A list of your modules should be displayed under Courses in the Global Navigation Menu. It is possible to hide this list completely or to display just modules you have visited recently. To do this go to Personal Information in the Settings menu and select Personalize My Settings, then select or unselect the tick box beside My Courses as required (for full details, see section 3.3).</p>
<p>At the bottom of the Global Navigation menu is a Home icon which will take you to the Queen Margaret University (QMU) website homepage: <a href="http://www.qmu.ac.uk/" title="Link to the Queen Margaret University Home Page">http://www.qmu.ac.uk/</a></p>
<p>There is also a help icon which will take you to the Centre for Academic Practice (CAP) Hub information web page: <a href="http://www.qmu.ac.uk/cap/Hub.htm" title="Link to CAP Help Centre">http://www.qmu.ac.uk/cap/Hub.htm</a></p>
<p>A Settings menu is also available at the bottom of the Global Navigation menu.</p>
<p>Select Settings to expand the menu, which includes:</p>
<ul>
<li>Change Text Size</li>
<li>High Contrast Setting</li>
<li>Personal Information</li>
<li>Edit Notification Settings</li>
<li>Notification Dashboard.</li>
</ul>
<p><img src="https://qmu.ac.uk/media/10529/6199-global-navigation-3.jpg" alt="Image of setting options on HUB@QMU" /></p>
<p>To log-out of the Hub select the door and right-pointing arrow at the top-right of the interface.</p>
<p> </p>
<p><strong>2. Global Navigation tools</strong></p>
<p>A brief summary of each of the navigation tools is now provided.</p>
<p><strong>2.1 Edit My Blackboard Profile</strong></p>
<p>The Blackboard Profile is only available to the QMU community; it cannot be accessed by anyone who is not a matriculated student or member of staff at QMU. Here you will be able to: add an email address, link to Facebook and/or Twitter, upload a picture of yourself, add information about yourself, and adjust privacy options. Select Submit to save any changes you make.</p>
<p><img src="https://qmu.ac.uk/media/10530/6199-global-navigation-4.jpg" alt="Pop up in HUB@QMU asking to provide a primary email adress" /></p>
<ul>
<li>Add an email address When you first access Edit My Blackboard Profile you will be asked to provide a Primary Email Address. This can be your QMU email or a personal email address – it is your choice. Blackboard will use the email address you enter to verify your profile account and you need to respond to the email from</li>
<li>Blackboard in order for the profile to be accepted (e.g. you will not be able to upload a photo or add any profile information if you do not verify the email address you provide). One benefit of providing a personal email address is that this would provide a point of future contact should you leave the University. Please note: whichever email address you provide, it will have no impact on emails sent from your module areas in the Hub, which will always be sent to your QMU email address. (You can change your Primary email address at any time using the Contact Information field at the bottom of the Edit My Blackboard Profile page).</li>
<li>Link to Facebook or Twitter If you have Facebook and/or Twitter accounts, you can create links to these in order to pull information across to your Blackboard profile. For example, when linking to Facebook you can choose whether to copy across your Facebook picture, description and email – or if you prefer, you can select to Connect With Facebook without copying any of these across.</li>
</ul>
<p><img src="https://qmu.ac.uk/media/10531/6199-global-navigation-5.jpg" alt="Image of pop-up messages on HUB@QMU with options to link to Twitter or Facebook" /></p>
<p>If you have a Twitter account you can select to copy across your Twitter picture and description – or just Connect with Twitter without copying these across.</p>
<p>When linking to Facebook and Twitter you will be asked to authorise the Blackboard Cloud services access to your accounts by providing your usual Facebook/Twitter username and password. Access is limited; for example, if linking to Twitter, visitors to your profile will be able to read any tweets from your timeline and see who you follow, but viewers will not be able to: follow new people on your behalf, update your profile, posts tweets for you, access your direct messages, or see your password.</p>
<p>If you choose to link to Facebook and/or Twitter, tutors and students at QMU will be able to access your Facebook and Twitter profile pages by selecting the appropriate icon when viewing your Blackboard Profile Card:</p>
<p><img src="https://qmu.ac.uk/media/10532/6199-global-navigation-6.jpg" alt="Image of profile card in Hub@QMU with Twitter icon highlighted" /></p>
<p>You can choose to Unlink your Facebook or Twitter profile at any time by selecting the appropriate icon in Edit My Blackboard Profile and selecting Unlink.</p>
<ul>
<li>Upload a picture of yourself</li>
</ul>
<p style="padding-left: 40px;">To upload a picture, select the picture icon and browse for your picture. Please note: images must be less than five megabytes in size, and at least 50x50 pixels in dimension. Although it appears that different photo formats can be used, the format currently MUST be .png (portable network graphic). Any picture you upload will be visible in all of your module areas – in most cases it will only be visible to you, but if you use discussion forums then your picture will appear in these and you will also be able to see pictures of others (if they have uploaded one). You can change your picture at any time – just go to Edit My Blackboard Profile and select Change Picture, then select Upload New and search for your picture.</p>
<ul>
<li>Information about you You can choose how you want your name to be displayed and you can also enter any information you wish to share about yourself in the text box provided. These fields can be edited at any time.</li>
<li>Privacy Options Anyone can view your profile card within your module (unless your status is set as Hidden). The following Privacy Options control who can search and browse for you on the People page:
<ul>
<li>My School (recommended) – enables sharing across the institution (e.g. your picture will be visible in the People area);</li>
<li>Private – restricts sharing of your profile with module users only (e.g. your picture will be visible in discussion forums within your modules);</li>
<li>Hidden – your profile is not shared with anyone.</li>
</ul>
</li>
</ul>
<p><strong>2.2 Overview</strong></p>
<p>This page provides the current date, links to the calendar, and shows a list of any discussion posts students have contributed to, as well as responses from peers and tutors.</p>
<p><img src="https://qmu.ac.uk/media/10533/6199-global-navigation-7.jpg" alt="Image of HUB@QMU overview page" /></p>
<p><strong>2.3 Posts</strong></p>
<p>This page presents a list of any discussion posts students have contributed to, as well as responses from peers and tutors. Selecting a thread and then the name of the discussion forum enables you to move directly to that forum. Please note: you should still visit discussion pages within module areas to ensure you do not miss out on the full range of discussion fora available. Blogs and journal postings will also be displayed here.</p>
<p><img src="https://qmu.ac.uk/media/10534/6199-global-navigation-8.jpg" alt="Image of Posts page in HUB@QMU platform" /></p>
<p><strong>2.4 Updates</strong></p>
<p>New updates are highlighted by a red box with a number (indicating the number of new updates). The red box is visible at the top of the Hub interface screen as well as within the Global Navigation menu.</p>
<p>Any courses (modules) with updates are listed on the Updates page as live links. There is also a breakdown of All updates with details of how many hours or days ago the update was made and options to Open or Dismiss. Once you have viewed the Updates page, the red box will disappear from view (re-appearing when future updates are available). It is possible to view updates for each individual module as well as all updates. Please note: the system is set by default to remove updates that have been visible for more than five days.</p>
<p><img src="https://qmu.ac.uk/media/10537/6199-global-navigation-9.jpg" alt="Image of Updates page in HUB@QMU platform" /></p>
<p>The tool for customising notifications about updates can be accessed using the ‘cog’ icon from the topright corner of the Updates page.</p>
<p><img src="https://qmu.ac.uk/media/10538/6199-global-navigation-10.jpg" alt="Image of 'show/hide notifications' pop up for HUB@QMU" /></p>
<p>Here you can select to Show/Hide Notifications, or to go to View Notification Settings if you wish to edit these settings (see section 3.4 for full details). This will reduce the number of alerts you receive.</p>
<p><strong>2.5 Retention Centre</strong></p>
<p>This function is currently unavailable – please ignore this area. (We hope to introduce the Retention Centre for tutor use at a later stage).</p>
<p><strong>2.6 Calendar</strong></p>
<p>There is a new calendar tool with the option of linking to Outlook and Google – for a quick introduction, please have a look at this short YouTube video: http://youtu.be/pTdGOMAZhQY</p>
<p>The calendar pulls information from all module areas and also has a personal calendar option.</p>
<ul>
<li>Tutors can create module calendar events – just select the appropriate module name from the drop-down calendar menu in the Create Event window;</li>
<li>Students can only create personal calendar events.</li>
</ul>
<p>Calendar events can be created from within the Global Navigation Calendar page as well as within module areas – just double-click on any date and then enter an event title and description in the fields provided. You can also provide start and end times.</p>
<p>To view the calendar there are three options: day, week, and month. You can also choose whether to show all calendars or just selected ones. If you enter a date/time incorrectly just click on the event and drag to the correct date (students are only able to move personal events).</p>
<p>There is the facility to create a link which you can import into other calendar applications – just select Get External Calendar Link and copy the web link (URL) that appears. Next go to your email account (e.g. Outlook) and in the email account settings select and paste the web link into the New Internet Calendar Subscription within the Internet Calendars tab (this can be found by going to File then Account Settings/Account Settings in Outlook email).</p>
<p>Please note: this will mean that all events added to a calendar in your modules will be shown in Outlook. It does not mean that anyone can access or view your Outlook calendar.</p>
<p><strong>2.7 People</strong></p>
<p>There is the facility to search:</p>
<ul>
<li>My Learning Network This screen shows icons / pictures of people in your Learning Network at QMU. There is also the facility to search for First names and Surnames in the search box (profiles will only be available for those who have added this information and made it visible).</li>
<li>My Institution Selecting Queen Margaret University and then Queen Margaret University Directory will enable you to see everyone who is sharing their profile at QMU.</li>
</ul>
<p> </p>
<p><strong>3. Settings</strong></p>
<p>As illustrated in section 1, the Settings tab is available from within the Global Navigation menu and provides access to information about how to customise your settings in the following areas:</p>
<ul>
<li>Change Text Size;</li>
<li>High Contrast Setting;</li>
<li>Personal Information;</li>
<li>Edit Notification Settings;</li>
<li>Notification Dashboard.</li>
</ul>
<p><strong>3.1 Change Text Size</strong></p>
<p>This menu item opens a help window which provides guidance on how to change text size in three commonly used browsers: Internet Explorer, Firefox and Safari.</p>
<p><strong>3.2 High Contrast Setting</strong></p>
<p>Selecting this option will cause your Operating System’s styles to overwrite Blackboard styles.</p>
<p><strong>3.3 Personal Information</strong></p>
<p>Within this section are four editing options:</p>
<ul>
<li>Edit Personal Information – information in this section is set to the institution’s default setting. It is not possible to edit any of these settings</li>
<li>Personalize My Settings – here you can select whether to have links to My Courses displayed in the Global Navigation menu. You can also customise the number of courses displayed by entering a number in the field: Show only courses visited since ... days Leaving the field blank would result in links to all courses (modules) being displayed.</li>
</ul>
<p><img src="https://qmu.ac.uk/media/10539/6199-global-navigation-11.jpg" alt="Image of Personalize My Settings section of Hub@QMU platform" /></p>
<ul>
<li>Change Personal Settings – these relate to settings for the language pack and page instructions. We recommend that these remain on the default settings (e.g. User Language Pack = System Default; Show all page instructions = Yes)</li>
<li>Set Privacy Options – it is recommended that these remain at the default setting.</li>
</ul>
<p><strong>3.4 Edit Notification Settings</strong></p>
<p>Notifications can be received through several channels:</p>
<ul>
<li>For students – via the Student Notifications dashboard (e.g. displays notifications with links to course (module) items or information that have been changed, submitted, created, or that have impending due dates). In some cases tutors will not use this.</li>
<li>For tutors and students
<ul>
<li>Via the Notifications Dashboard (My Hub page);</li>
<li>Via the Updates and Posts areas of the Global Navigation menu;</li>
<li>Via a mobile application;</li>
<li>Via email.</li>
</ul>
</li>
</ul>
<p><strong>3.4.1 Making changes</strong></p>
<p>To make changes to the settings for your notifications, select Edit Notifications Settings from the Settings menu in Global Navigation.</p>
<p>Here you can edit settings for all courses (modules) that you teach/take (Bulk Edit Notification Settings), or if you prefer, you can Edit Individual Course Settings (e.g. use this method if some courses need greater monitoring than others).</p>
<p><img src="https://qmu.ac.uk/media/10540/6199-global-navigation-12.jpg" alt="Image of Edit Notification Settings screen for HUB@QMU Platform" /></p>
<p><strong>3.4.2 Bulk Edit Notification Settings</strong></p>
<p>In Courses I am teaching/Course I am taking you can select to make changes to All courses (modules) or only to the modules selected. In step 1 (Select Course), either select All, or select only the courses (modules) you wish to edit notifications settings for and move these across to the Selected Items area.</p>
<p><img src="https://qmu.ac.uk/media/10541/6199-global-navigation-13.jpg" alt="Image of Select Courses options within Change settings section of Hub@Qmu platform" /></p>
<p>Step 2 shows the channels in which you will receive notifications e.g. mobile and email.</p>
<p>In step 3 (Settings), make your selections for Dashboard, Mobile and Email beside the notification event type. Toggling the box beside the channel name (e.g. Dashboard) will select/deselect all. For example, if you do not wish to receive notifications for every event type, it may be easier to deselect all and then simply select the few that you do wish to receive.</p>
<p><img src="https://qmu.ac.uk/media/10542/6199-global-navigation-15.jpg" alt="Image of Settings selection options in hub@qmu platform" /></p>
<p>Once you have made your choices, go to step 4 and select Submit.</p>
<p><img src="https://qmu.ac.uk/media/10543/6199-global-navigation-16.jpg" alt="Image of submit screen in hub@qmu platform" /></p>
<p>You will receive a message from the webpage informing you that your selection will overwrite any previous changes you have made and asking if you wish to proceed. Select OK.</p>
<p><img src="https://qmu.ac.uk/media/10544/6199-global-navigation-17.jpg" alt="Image of submission confirmation message in hub@qmu platform" /></p>
<p>You should be returned to the Edit Notification Settings screen and a green bar with a message confirming your settings have been saved should be visible.</p>
<p>If you wish to check your changes have taken effect, go to one of the individual course links beneath Edit Individual Course Settings. Here you will see the notifications setting screen greyed out and you will be able to see the settings you have saved. For example, in the following screen shot you can see that Announcement Available, Assignment Available and Content Item Available are selected for notification via the Dashboard, Mobile and email, but other notifications are not selected.</p>
<p><img src="https://qmu.ac.uk/media/10545/6199-global-navigation-18.jpg" alt="Image of edit notifications settings selection checklist in hub@qmu platform" /></p>
<p>Changes you make to notification settings will be saved between Hub sessions. However, if you go back into the Bulk Edit Notifications Settings area it may appear as if nothing has changed – do not be concerned – this merely displays the institutional default settings. Remember: you can check your settings by selecting an individual module link from the list.</p>
<p><strong>3.4.3 General Settings</strong></p>
<p>To make changes to the way in which you receive emails, go to Edit General Settings within the Edit Notifications settings area. Here you can choose whether to receive email notifications as individual messages or as a Daily Email Digest. You can also select whether to have notification of Due-Date Reminders sent.</p>
<p> </p>
<p><strong>4. Where to find help</strong></p>
<ul>
<li>Online guides and videos are available at: <a href="http://www.qmu.ac.uk/cap/Hub.htm" title="Links to further online guides and videos">http://www.qmu.ac.uk/cap/Hub.htm</a></li>
<li>Hub information wiki: <a href="https://sites.google.com/a/qmu.ac.uk/hub/" title="Link to hub information wiki">https://sites.google.com/a/qmu.ac.uk/hub/</a></li>
<li>Email contact: hub@qmu.ac.uk</li>
</ul>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Guide to Global Navigation and Notification Settings in the Hub]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>Guide to Global Navigation and Notification Settings in the Hub</strong></p>
<p>This guide provides information about:</p>
<p>- How to access Global Navigation</p>
<p>- Global Navigation tools</p>
<p>- Notification Settings</p>
<p>- Where to find help</p>
<p> </p>
<p>July 2013</p>
<p>Centre for Academic Practice</p>
<p>Queen Margaret University</p>
<p> </p>
<p>This guide provides an overview of how to access and use the Global Navigation menu and edit settings in the Hub. A short video created by Blackboard, which shows you how to use the Global Navigation menu, is available through the Hub: <a href="http://ondemand.blackboard.com/r91/movies/bb91_myblackboard_global_nav.htm" title="Link to short video tutorial by Blackboard">http://ondemand.blackboard.com/r91/movies/bb91_myblackboard_global_nav.htm</a>. Please note that not all of the functionality outlined on this video is available (e.g. My Grades).</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[An informative webpage discussing on Guide to Global Navigation and Notification Settings in the Hub from the CAP department of Queen Margaret University.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Guide to Global Navigation and Notification Settings in the Hub | CAP | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "6e7bd193-7b2c-4135-878e-a279d5c02f17",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Guide to Global Navigation and Notification Settings in the Hub]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>