<?xml version="1.0" encoding="utf-8"?>
<Content Key="d70e28f2-182c-488f-acfc-2a8fa0a93eef" Alias="2017.06.21 - Student talent in the spotlight at Edinburgh’s Filmhouse" Level="5">
  <Info>
    <Parent Key="5ec60e7e-de76-4127-aaea-18ddb982220d">2017</Parent>
    <Path>/Home/NewsAndEvents/News//StudentTalentInTheSpotlightAtEdinburghSFilmhouse</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T15:52:24</CreateDate>
    <NodeName Default="2017.06.21 - Student talent in the spotlight at Edinburgh’s Filmhouse" />
    <SortOrder>101</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/b0640181e8c6455e8f16c70af501bd2e]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "590b8670-2526-4625-974e-c98e5ea02d49",
    "name": "Student talent in the spotlight at Edinburgh’s Filmhouse",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/84588573bd1c47a08b6937131ccd91d0",
    "title": "Student talent in the spotlight at Edinburgh’s Filmhouse ",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Nine short films made by QMU’s Film and Media students have made it through to this year’s line-up, covering a diverse range of subjects and genres, including documentaries on artists and local activists, the story of an immigrant escaping to a better life and dramas about racial tension, mother and daughter relationships and winning the lottery.</p>
<p class="txtMainBlack">Graham Drysdale, Lecturer in Screenwriting, Digital Filmmaking and Media Production at QMU, said: “We’re really grateful to Edinburgh’s Filmhouse for providing our students with a platform to showcase their creative talents once again this year.</p>
<p>“Our Film and Media Degree Show is always a highlight in the QMU calendar as it provides a platform for us to celebrate creativity, as well as allowing students to unveil films they have worked on over the last year. It’s important to our students to see their work on the big screen. There’s nothing like hearing and seeing an audience respond to your film in the way you hoped when you first conceived of the idea.”</p>
<p class="txtMainBlack">Special prizes will be awarded to the best films on the night.</p>
<p class="txtMainBlack">Many of the films have been generously supported through QMU’s ‘Become a Producer Initiative’. Donations from the University’s friends and graduates provide much needed production expenses for QMU’s talented student filmmakers, allowing them to purchase costumes, hire equipment or travel to film on location. Supporters are credited at the end of all films.</p>
<p class="txtMainBlack"><strong>ENDS</strong></p>
<p class="txtMainBlack"> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2017-06-21T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Student talent in the spotlight at Edinburgh’s Filmhouse ]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Students from Queen Margaret University (QMU) are preparing to put their creative talents in the spotlight as part of the University’s annual Film &amp; Media Degree Show at Edinburgh’s Flimhouse, Lothian Road, on Monday 10th July from 8.30pm.</p>
<p class="txtMainBlack">The showcase event will present work from QMU’s second, third and fourth year Film and Media students, including a wonderfully varied selection of short dramas, documentaries and music videos.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Students from Queen Margaret University (QMU) are preparing to put their creative talents in the spotlight as part of the University’s annual Film & Media Degree Show at Edinburgh’s Flimhouse, Lothian Road, on Monday 10th July from 8.30pm. The showcase event will present work from QMU’s second, third and fourth year Film and Media students, including a wonderfully varied selection of short dramas, documentaries and music videos.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Student talent in the spotlight at Edinburgh’s Filmhouse | News and Events | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p class="txtMainBlack"><strong>NOTES TO EDITOR</strong></p>
<p><em>For further media information contact Lynne Russell, Marketing Manager, Queen Margaret University, Edinburgh, E: </em><a href="mailto:lrussell@qmu.ac.uk"><em>lrussell@qmu.ac.uk</em></a><em>  T: 0131 474 0000, M: 07711 011239 and Jon Perkins, Press and PR Officer, E: </em><a href="mailto:jperkins@qmu.ac.uk"><em>jperkins@qmu.ac.uk</em></a><em> T: 0131 474 0000. </em></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "71ba5001-260d-4488-8ba7-aa7858520a50",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Student talent in the spotlight]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>