<?xml version="1.0" encoding="utf-8"?>
<Content Key="d759b48d-c624-4543-bb5e-735d22702af0" Alias="Staff - Catriona Bell" Level="4">
  <Info>
    <Parent Key="644845e5-0db0-4a49-9230-5d12ef68dcb0">Blogs</Parent>
    <Path>/Home/CampusLife/Blogs/StaffCatrionaBell</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2022-10-19T10:29:17</CreateDate>
    <NodeName Default="Staff - Catriona Bell" />
    <SortOrder>82</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="352afafb-7425-4e97-b145-ab96eebf5bdc">BlogBio</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/cc1794866a3045d5b76db70be4bb3e1a]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "680a4622-cf55-4ad9-8490-5af2fece9054",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/3ee4f7bff76f45a9ad134cd5f89f1715",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p>Professor Bell joined QMU in October 2021 as Director of Academic Development and Learning Enhancement. She provides strategic leadership of the enhancement of learning, teaching and assessment across the portfolio of the University, including our domestic and international collaborative partnerships and online learning portfolio.  As part of this, she has established our new <a tabindex="0" href="/learning-enhancement-and-academic-development-lead-centre/about-us-lead/professor-catriona-bell/" title="Learning Enhancement and Academic Development (LEAD) Centre">Learning Enhancement and Academic Development (LEAD) Centre</a>.</p>
<p>Her early portfolio was achieved in her ‘home discipline’ of Veterinary Education - she is a qualified veterinary surgeon, and she then built on this strong foundation to translate and apply her leadership skills in cross-disciplinary contexts at both Advance HE and the University of Edinburgh.</p>
<p>Catriona has gained the highest level of professional recognition for learning and teaching, becoming a Principal Fellow of the Higher Education Academy (PFHEA) in 2015 and a National Teaching Fellow (NTF) in 2018, the first year that the NTF scheme ran in Scotland. She now champions teaching excellence and practice sharing through a variety of channels, including the Scottish networks for Principal Fellows and national Teaching Excellence Award winners, both of which she initiated in collaboration with colleagues.</p>
<p>She has particular expertise in cross-disciplinary academic development and veterinary medical education. Her key areas of interest include Leadership of Learning and Teaching (particularly around empowering Programme Leaders), and championing both Students as Partners and Inclusive Curricula approaches. Her research portfolio has focussed on veterinary medical education, academic (faculty) development, assessment of clinical skills, peer-assisted learning, and knowledge transfer with farmers in the global south.</p>]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Professor Catriona Bell]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Catriona Bell is a Professor of Learning and Teaching Enhancement and Director of Academic Development and Learning Enhancement at Queen Margaret University, Edinburgh. She is also a member of the Royal College of Veterinary Surgeons (MRCVS).</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Catriona is a Professor of Learning and Teaching Enhancement and Director of Academic Development and Learning Enhancement at Queen Margaret University, Edinburgh.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Blog Profile| Professor Catriona Bell| Queen Margaret University| QMU]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Prof Catriona Bell]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>