<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9b3d6d1-79fd-4fa3-b859-fa0ce583b9d8" Alias="Our Alumni in the Sports Industry" Level="3">
  <Info>
    <Parent Key="df06d5ad-f665-4242-b805-0599a75e4d16">Alumni and Friends</Parent>
    <Path>/Home/AlumniAndFriends/OurAlumniInTheSportsIndustry</Path>
    <Trashed>false</Trashed>
    <ContentType>manualListing</ContentType>
    <CreateDate>2024-03-21T09:43:06</CreateDate>
    <NodeName Default="Our Alumni in the Sports Industry" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e6cdbb9-764c-4f44-bc5f-e79a05186df4">AnniversaryListingOverview</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/63f71c5822a045b69524a3ca60554cfd]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "2ab72055-075d-43b2-a8e4-2da510c05979",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/d9348bd929454fbca712d38d5401f705",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <contentItems>
      <Value><![CDATA[umb://document/f6f1a7f5f55744eca3c90ea71cf4fcfe,umb://document/636896b58eab4431999f96fd0c534bc8,umb://document/69a4c2e34be340fcb363ba7fde818946,umb://document/fbc7af41239a4abf8f003fe1eb3259e6,umb://document/425ba23aa9404b619c72f53107c2e447,umb://document/cf3e9c63816e4c04890462c1ae5b67c3,umb://document/13b9901dd6434f02ab154541d3f40f77]]></Value>
    </contentItems>
    <displayTitle>
      <Value><![CDATA[Our Alumni in the Sports Industry]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">Sport is not a specialism that QMU is renowned for. However, many of our alumni are thriving in a variety of different careers in this exciting global industry.</span></p>
<p>From administration to audience engagement, media to managing large-scale events, our graduates have combined the skills they learned at QMU with their passion for sport and achieved great success. </p>
<p>We shine the spotlight on a small selection our alumni; their job, career highlights and a glimpse into their typical day working in the world of sport.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Our Alumni in the Sports Industry]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Our Alumni in the Sports Industry | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU Alumni in Sports]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>