<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbf67400-664b-4d0d-b287-177b90a96cd5" Alias="MA in Stage Management and Technical Theatre Production- Induction Programme" Level="6">
  <Info>
    <Parent Key="eb9ce3aa-32f4-4456-a0a3-c71071d377d2">January Induction Programme List 2024</Parent>
    <Path>/Home/CurrentStudents/CurrentStudentsGeneralInformation/InductionForNewStudents/JanuaryInductionProgrammeList2024/MAInStageManagementAndTechnicalTheatreProductionInductionProgramme</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-08-31T12:28:38</CreateDate>
    <NodeName Default="MA in Stage Management and Technical Theatre Production- Induction Programme" />
    <SortOrder>53</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/c9acb30656b745e0aefdbb5c9bf3fd55]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "9eca5d8b-4975-469b-a4c7-7d7af79f64ae",
    "name": "MA in Stage Management and Technical Theatre Production- Induction Programme",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/23d0b603ae584fe6a1cdce27a9dc7a6c",
    "title": "MA in Stage Management and Technical Theatre Production- Induction Programme",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><a href="/{localLink:umb://document/8b22f79cd8a3445eb24b3d40a2e78943}" title="General Information &amp; Support"><span class="blue-btn"> You can also view further Induction Information &amp; Support via our Main Induction Pages</span></a></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>More information on your induction will be posted here shortly.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[MA in Stage Management and Technical Theatre Production - Induction Programme]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>We are delighted that you have chosen to study with QMU and we are looking forward to supporting you throughout your studies. You can also view further<strong> Induction</strong> <strong>Information &amp; Support</strong> <a href="/{localLink:umb://document/8b22f79cd8a3445eb24b3d40a2e78943}" title="General Information &amp; Support">here</a>.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Induction Schedule Template 2021 for MA Stage Management]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[MA in Stage Management and Technical Theatre Production -  Induction Programme| Induction 2021 | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "ac668b67-3198-4b8e-92c2-b9daa72113d3",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/348cf564986f47b790d25bfaf281a6e4,umb://document/1620d7d2691f4195832b687d9f4c6394]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[MA in Stage Management and Technical Theatre Production - Induction]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>