<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcd8550f-6fcc-4c79-b77e-396176f2753b" Alias="Equality and Diversity in Research Careers" Level="4">
  <Info>
    <Parent Key="6fd0d11c-8594-405d-84df-d152d70af58d">Strategy and Culture</Parent>
    <Path>/Home/ResearchAndKnowledgeExchange/StrategyAndCulture/EqualityAndDiversityInResearchCareers</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-24T08:30:41</CreateDate>
    <NodeName Default="Equality and Diversity in Research Careers" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/d28e75de2efe44e1ad8779579123984b]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[<p>Equality and Diversity in Research Careers</p>]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "f98d67dd-aff2-49d9-bdc0-fa0fc1a62090",
    "name": "Equality and Diversity in Research Careers",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/4e745b77b9db48b4bba79af919a25dd7",
    "title": "Equality and Diversity in Research Careers",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead"><strong>Celebrating our Women Researchers</strong></span></p>
<p>This exhibition celebrates the career journeys of a <a rel="noopener" href="https://joom.ag/NyvW" target="_blank">selection of our women researchers</a>. The women in the photographs represent just a small selection of the fantastic women researchers who work across different disciplines at various levels across QMU.</p>
<p><a data-id="1535" href="/{localLink:umb://document/a67713586dab42108759e724aece703d}" title="History">Since our inception in 1875</a> we have had a long history of achievement in championing and progressing the role of women. Our founders Christian Guthrie Wright and Louisa Stevenson, were key influencers in the UK.-wide mid Victorian "Women's Movement", which was a campaign for better education and improved career opportunities for females.</p>
<p>Today we are proud to be one of the first UK and European institutions to be awarded and to retain the HR Excellence Award, bestowed by the European Commission, recognising a university's commitment to improving the working conditions and career development of its research staff through the Concordat for Research Careers.</p>
<p>We are also pleased to be actively involved in a number of sector initiatives to promote and embed good practice in Equality and Diversity in Research Careers including the Vitae Every Researcher Counts initiative. The School of Health Sciences’ commitment to addressing gender inequalities in science and to improving career progression for female academics has been recognized by Athena SWAN and we will continue to champion gender equality initiatives beyond the conventional STEM domain to include initiatives such as Aurora.</p>
<p> </p>
<p> </p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/386f74f1d12e41818b0b0aa9b9153259]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Equality and Diversity in Research Careers]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead"><strong>Equality and Diversity</strong></span></p>
<p>QMU is committed to creating and celebrating a positive, inclusive research environment based on respect for individuals’ differences.  </p>
<p>Our objective is to continue to develop as an institution that understands, appreciates and values the diversity of each individual, makes people feel valued and able to participate and reach their full potential.</p>
<p>QMU supports equality and diversity in researcher careers and is actively involved in a number of sector initiatives to promote and embed good practice in this area including the  <a href="https://www.vitae.ac.uk/doing-research/every-researcher-counts-equality-and-diversity-in-researcher-careers">Vitae Every Researcher Counts initiative.</a>  Our Equality and Diversity Committee sets the strategic framework for equality in service provision and employment across the University.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[QMU is committed to creating and celebrating a positive, inclusive research environment based on respect for individuals’ differences. Our objective is to continue to develop as an institution that understands, appreciates and values the diversity of each individual, makes people feel valued and able to participate and reach their full potential. QMU is committed to equality and diversity in researcher careers and is actively involved in a number of sector initiatives to promote and embed good practice in this area including the  Vitae Every Researcher Counts initiative.  Our Equality and Diversity Committee sets the strategic framework for equality in service provision and employment across the University.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Research Equality and Diversity | Strategy and Policy | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "15c85a61-9710-4f88-aec5-dc3842a1d36d",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "usefulLinks",
                    "value": {
                      "name": "Useful Links",
                      "title": "REF 2021 Code of Practice",
                      "usefuls": [
                        {
                          "icon": "icon-document",
                          "name": "Qmu Ref2021 Code Of Practice Revised 16 April 21",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://media/0a73e408237949de864adb001946e09c",
                          "url": "/media/cdshgctz/qmu-ref2021-code-of-practice-_-revised-16-april-21.pdf"
                        }
                      ],
                      "useDarkTheme": "1"
                    },
                    "id": "aaa8acf7-53b6-c119-c7cb-9b513b13f194"
                  },
                  "editor": {
                    "alias": "Useful Links",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/619cef5b64dc46c28892328c1e0c21bd,umb://document/9e59330129ac41028d861633fdcb6a2d,umb://document/7fdb541da48d47dc91e9466840d62a37,umb://document/31ab41f070314f9898b2a70ae9208c37,umb://document/03785f08f50a4001abf6a1516aff240d,umb://document/65964e68b23d4f27ab8eb788fd944070,umb://document/b1afd3d686004eb6891a0b52789711a3,umb://document/71a4b5b071994d0dbb6152f220959f06]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[Research Centres, Institutes and Knowledge Exchange Centres]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Equality and Diversity in Research Careers]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>