<?xml version="1.0" encoding="utf-8"?>
<Content Key="ddca6a0c-c0bc-440b-a283-c8b68c4d5314" Alias="Europe" Level="5">
  <Info>
    <Parent Key="74dfddb2-2120-449f-945c-8a45d47a5bbe">International Research Collaborations</Parent>
    <Path>/Home/ResearchAndKnowledgeExchange/QMUResearch/InternationalResearchCollaborations/Europe</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-23T16:48:22</CreateDate>
    <NodeName Default="Europe" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/7ca3592e0a4e4e929e98382ea29076cb]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "f364e130-4cbc-498b-ac08-5052257bd4da",
    "name": "Europe",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/cc6e6b1ee4be4d33a3150bd5a5229482",
    "title": "Europe",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><a href="/{localLink:umb://document/9e59330129ac41028d861633fdcb6a2d}" title="Centre for Applied Social Sciences"><span class="lead blue-btn">Centre for Applied Social Sciences</span></a></p>
<p><span class="lead"><strong>Citizen Project Group</strong></span></p>
<p>Spain, Tunisia<br /><span>Since 2013<br />Ongoing project to explore the concept of citizenship in occupational therapy practice, research and education. </span></p>
<p><span class="lead"><strong>Prejudice in Social Media</strong></span></p>
<p>Ireland<br />Ongoing<br />Research collaboration with Trinity College Dublin to examine prejudice and trolling across various forms of social media.</p>
<p><span class="lead"><strong>Social Transformation through Occupation Project Group</strong></span></p>
<p>The Netherlands, Germany, Spain, Canada<br />Since 2017<br />Research project exploring the processes and theoretical underpinnings of projects or organisations <span>working towards social transformation through occupation.</span></p>
<p><strong><span class="lead">GRACE Project (Gender and Cultures of Equality in Europe)</span></strong></p>
<p>The Netherlands<br />Ongoing<br />Research and mentoring at University of Utrecht. Rebecca Frankel will be a keynote speaker at The GRACE Conference 2019.</p>
<p><strong> </strong></p>
<p><a rel="noopener" href="/{localLink:umb://document/619cef5b64dc46c28892328c1e0c21bd}" target="_blank" title="Centre for Health, Activity and Rehabilitation Research"><span class="blue-btn lead">Centre for Health, Activity and Rehabilitation Research</span></a></p>
<p><span class="lead"><strong>Transplantoux</strong></span></p>
<p>Belgium, Europe wide<br />Since 2017<br /><span>International Research Consortium in partnership with Katholike University of Leuven. This collaboration extends our work around the role of exercise rehabilitation and/or physical activity as adjunct therapies for the pre-and post-transplant recipient. </span></p>
<p><span class="lead"><strong>HD-Frailty</strong></span></p>
<p>Spain<br /><span>Since 2015<br />Universidad Cardenal Herrera. Joint external PhD supervision, hosting of a 3-month PhD study visit; joint publication with Lucia Ortega.</span></p>
<p><span class="lead"><strong>STADION</strong></span></p>
<p>Spain<br /><span>2016-2018<br />Research Consortium. QMU hosted a 3 month post-graduate research student study visit; join Horizon 2020 grant application.</span></p>
<p><span class="lead"><strong>Cerebral Palsy Research</strong></span></p>
<p><span style="font-size: medium;">Switzerland<br /><span>Since 2013</span></span></p>
<p><span>Rehabilitation for Children and Adolescents Center in Affoltern am Albis, Switzerland. </span><span>Professor Huub van Hedel.</span></p>
<p><span>QMU Researchers: Professor Tom Mercer, Dr Marietta van der Linden</span></p>
<p><span>Research collaboration exploring the concept of selective voluntary motor control (2013-2019) somato-sensory function and body awareness (since 2019): PhD supervision and joint publications.</span></p>
<p><span class="lead"><strong>RaceRunning</strong></span></p>
<p>The Netherlands, Sweden<br /><span>Since 2017<br />International Research Consortium focused on RaceRunning</span></p>
<p><span>QMU researchers: Dr Marietta van der Linden, Dr Pelly Koufaki</span></p>
<p><span>RaceRunning allows people with limited or no walking ability to propel themselves independently using a three-wheeled bike that has a saddle and a chest plate for support but no pedals. </span></p>
<p><span class="lead"><strong>Focal-Rehab</strong></span></p>
<p>Greece<br /><span>2016-2018<br />PhD supervision at the University Hospital of Patras and 5 joint publications. This project evaluated neuromuscular rehabilitation techniques aiming at increased proprioceptive input to improve motor response in dynamic environments.</span></p>
<p><strong><span class="lead">SHOULDER</span></strong></p>
<p>Switzerland<br /><span>Since 2014<br />This project investigated the quality of commonly used tools for the evaluation of shoulder function and explored the clinical utility of smartphone-based inertial systems for objective measurement of the recovery of shoulder function during activities of daily living.  Joint supervision of a PhD candidate and 3 co-authored publications.</span></p>
<p><span><strong><span class="lead">RISMUS</span></strong></span></p>
<p>Switzerland<br />Since 2014<br /><span>Research collaboration and PhD supervision with the University of Applied Sciences and Arts.</span></p>
<p><span class="lead"><strong>EURRCKD</strong></span></p>
<p>Pan-European Group<br /><span>Since 2013<br />European Association of Rehabilitation in Chronic Kidney Disease. Pan-European Research Consortium.</span></p>
<p> </p>
<p><a rel="noopener" href="/{localLink:umb://document/7fdb541da48d47dc91e9466840d62a37}" target="_blank" title="Centre for Person-centred Practice Research"><span class="blue-btn"><span class="lead">Centre for Person-centred Research</span></span></a></p>
<p><strong><span class="lead">International Community of Practice for Person-centred Practice (iCOP)</span><br /></strong></p>
<p>The Netherlands, Australia, Norway, Austria, Switzerland, Ireland<br />2018-Present<br />A collaboration for advancing knowledge in person-centredness including teaching, learning, research and development.</p>
<p><span class="lead"><strong>National Programme to Develop Person-centred Cultures in the Health Service Executive (HSE)</strong></span></p>
<p>The programme offers learning and development in person-centred facilitation, knowledge and skills but with an emphasis on being reflective, critically creative and using creative practices.  The programme is focused on person-centredness for everyone - staff as well as people using the service and their families. Researchers from QMU: Professor Brendan McCormack; Dr Debbie Baldie. </p>
<p><span class="lead"><strong>Northbridge Collaboration</strong></span></p>
<p>Ireland<br />2018- Present<span class="lead"><br /></span>Research partnership with Dr Catherine Buckley of Northridge House Education Centre in advancing person-centred research development in the programmes offered in the centre.</p>
<p><strong>Development of Doctoral Expertise</strong></p>
<p>Slovenia<br /><span>2016-2018<br />An annual course in participatory research and person-centredness.  Development of gerontological expertise. Doctoral supervision.</span></p>
<p> </p>
<p><a rel="noopener" href="/{localLink:umb://document/65964e68b23d4f27ab8eb788fd944070}" target="_blank" title="Institute for Global Health and Development"><span class="lead"><span class="blue-btn"><span class="lead">Institute for Global Health and Development</span></span></span></a></p>
<p><span class="lead">Increased TB Treatment Adherence and Improved Outcomes in Vulnerable Groups in the European Economic Area</span></p>
<p>Latvia<br />2016-2018<br />Part of a larger programme of work funded by the European Centre for Disease Control, World Health Communication Associates in partnership with the London School of Hygiene and Tropical Medicine, the project will provide preliminary evidence for the impact of a tailored tuberculosis adherence support intervention on interim treatment outcomes.  Through process evaluation, the research will report on challenges encountered in intervention delivery.  This study is being carried out among hard-to-reach and vulnerable population groups in Riga, Latvia - social transformation through occupation.</p>
<p> </p>
<p><a href="/{localLink:umb://document/03785f08f50a4001abf6a1516aff240d}" title="Centre for Communication, Cultural and Media Studies"><span class="lead blue-btn">Centre for Communication, Cultural and Media Studies </span></a></p>
<p><span class="lead">Cultural Sustainable Prosperity  </span></p>
<p>UK/Ireland<br />2021-2022</p>
<p>Funder: Royal Society of Edinburgh</p>
<p>Partners: Academic partner - University College Dublin, Industry Partner - Deveron Projects, Summerhall, Dún Laoghaire-Rathdown County Council</p>
<p>Taking a ‘place-based’ approach, this network project undertook site-specific workshops in Urban, Rural and Urban-peripheral places in Scotland and Ireland to explore how arts and cultural organisations in these different ecologies might respond to notions of sustainable prosperity in a post-covid world. ‘Sustainable prosperity’ means living well with less material consumption and centres equity, inclusivity, resilience, long-term thinking, and place-specific approaches with sustainability efforts. As such, the projects explored how different sites were responding to these notions through or via culture and creative activities.</p>
<p><span class="lead">Using a multi-hazard and catchment-based approach to understand and increase resilience in hyper-expanding cities in Vietnam and the Philippines</span></p>
<p>UK/Philippines/Vietnam<br />2019-2022</p>
<p>Funder: Global Challenges Research Fund, managed by the Royal Society of London</p>
<p>Partners: British Geological Survey, Ateneo De Manilla University, Vietnam National University (Hanoi)</p>
<p>This study will investigate how the different components of a rapidly expanding urban environment behave and interact prior to, during and following a complex (potentially cascading) disaster. We will use this information to explore how we can increase resilience to natural hazards (e.g., floods, landslides). The findings of the project will be useful because they will increase understanding of how urban resilience can be strengthened, supporting national efforts to reduce the impacts of disasters. Researchers from QMU’s led on a strand of this research that examined how ‘culture’ might play a role in exploring these difficult, complex, affective events.</p>
<p> </p>
<p> </p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/386f74f1d12e41818b0b0aa9b9153259]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Europe]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead"><strong>The following are some of our research projects and outputs in Europe:</strong></span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Information on our research projects in Europe.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Europe | International Research Collaborations | Queen Margaret University]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "6e908085-8de6-47a4-a0b8-cf01ddd5aa06",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[umb://document/619cef5b64dc46c28892328c1e0c21bd,umb://document/9e59330129ac41028d861633fdcb6a2d,umb://document/7fdb541da48d47dc91e9466840d62a37,umb://document/31ab41f070314f9898b2a70ae9208c37,umb://document/03785f08f50a4001abf6a1516aff240d,umb://document/65964e68b23d4f27ab8eb788fd944070,umb://document/b1afd3d686004eb6891a0b52789711a3,umb://document/71a4b5b071994d0dbb6152f220959f06]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[Research Centres, Institutes and Knowledge Exchange Centres]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Europe]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>