<?xml version="1.0" encoding="utf-8"?>
<Content Key="debe7206-fd32-471f-97a6-f50e2d1ff5a9" Alias="The sudden appearance of fear" Level="4">
  <Info>
    <Parent Key="c0bea5ca-bff8-4c6d-ae2d-1cc18dc67f0f">Blogs</Parent>
    <Path>/Home/AtHome/Blogs/TheSuddenAppearanceOfFear</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-09T11:21:15</CreateDate>
    <NodeName Default="The sudden appearance of fear" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/b0ed3c38870945d78a2dd903aeebb29c]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "1576fbb3-29b8-4110-b5d2-7f6eba661ad0",
    "name": "The sudden appearance of fear: a temp worker’s experience",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/a5ab5abe5f294fa28ec31e5bc5465266",
    "title": "The sudden appearance of fear: a temp worker’s experience ",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><a href="/{localLink:umb://document/c0bea5cabff84c6dae2d1cc18dc67f0f}" title="Blogs"><span class="blue-btn">Back to QMU@Home blogs</span></a></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>You see, I’m a migrant worker half way through a three-month contract with the communications team here at QMU.</p>
<p>Eight weeks ago I turned up in Edinburgh, a week prior to my 31st birthday – the deadline to have your feet on British cobblestones if you’re an Aussie fancying a ‘two-year working holiday’. I didn’t have much in the way of a plan, so when I was fortunate enough to get a temporary gig at QMU, I thought it would be a fun and interesting way to keep myself out of trouble until I found something in my field.</p>
<p>Then coronavirus happened. I don’t know about you, but for me it seemed to happen fast. One minute, it was this thing happening to other people in other places, and we were just making contingency plans. Then those contingency plans became our reality. And I became acutely aware of just how precarious my situation was. Would I be kept on for the rest of my contract? How long would my savings last if not? Should I get on the next plane home?</p>
<p>There was talk of Australia closing borders. The cost of flights was skyrocketing. I didn’t know what to do. So, I did the only sensible thing anyone can do in that situation – I went to the pub.</p>
<p>In the end, I found myself in the enviable position of having a few more weeks of job security, somewhere to live, enough books to read and colleagues who have become my friends.</p>
<p>What the future will look like and when it will start, none of us know. For now, I’m just thankful – thankful in the same intense way that I was frightened for that moment in time - for the security and sense of belonging offered to me by QMU through this.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[The sudden appearance of fear: a temp worker’s experience ]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[1]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">Amy McGregor-Dainton</span></p>
<p><strong>It’s not that often, as an adult, that you get scared. Stomach whizzing, hands wobbling, mind hurtling sort of scared. But that’s how I felt the evening QMU staff were notified that in light of the escalating coronavirus situation, they should work from home for the foreseeable future. </strong></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[The sudden appearance of fear: a temp worker’s experience  | QMU@Home]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[The sudden appearance of fear: a temp worker’s experience  | QMU@Home]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "1b84429f-005b-447c-9be2-68079b4a2e0d",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "rCSocMed",
                    "value": {
                      "name": "RC Social Media",
                      "socialMedia": "1"
                    },
                    "id": "ed857473-2222-96d3-799c-125ace7ab097"
                  },
                  "editor": {
                    "alias": "Social Media",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "quotes",
                    "value": {
                      "name": "Quotes",
                      "quote": "umb://document/07f20f6d2a7c45b7984503b32141d6ed"
                    },
                    "id": "6f1d95bb-2722-80d2-1189-cfb7cfacaf32"
                  },
                  "editor": {
                    "alias": "Quotes",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[umb://document/f8f2dda5e1754809b904884b3faf93a8,umb://document/36559360414c4f098b8dc8ea73f89518,umb://document/981bfda085f44c1c994d90e4608f4faf,umb://document/896fba08863b45f38c25e2776c5589c7,umb://document/64968a81af604c13b806d33995677364,umb://document/5813b2a081f24324958c976dd5a3a06a,umb://document/66507d07813347e58028bcffd259f680,umb://document/023b48264e3e45c4a6d85f3eec695250]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[QMU@Home]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[QMU@Home]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[The sudden appearance of fear: a temp worker’s experience ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>