<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0a6c313-b1a1-48a4-a510-79a8d64d4350" Alias="Rubrics/grading forms in Turnitin" Level="7">
  <Info>
    <Parent Key="49d77641-215d-4268-b2fc-08f76d3aeb08">Turnitin</Parent>
    <Path>/Home/StudyHere/LearningFacilities/ITServices/QMKnowHow/Turnitin/RubricsgradingFormsInTurnitin</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2021-02-08T15:11:32</CreateDate>
    <NodeName Default="Rubrics/grading forms in Turnitin" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="977bdfa5-7633-45f1-88fe-471187d31c6f">KnowHowAnswer</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/6628eba29aae4220b373995055e8229f]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "c3014530-8ae3-4928-8c36-417b4dcac06e",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/f37c9aeb2f3a4db3a88fcda350e75f7e",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p>Your Turnitin submission dropboxes should now have been set up in your modules, and if you plan on using a Grading Form or a Rubric you will need to attach it to your assignment before the marking begins. </p>
<p><strong>N.B.</strong> It is important to know that if you change/edit a rubric during the marking process then all of your existing marks/comments that have been added to that Rubric will be lost, so it is best to plan how you are using your rubrics before marking begins.</p>
<p><span>What is a Rubric / Grading Form in Turnitin?</span></p>
<p>In simplest terms a Rubric / Grading form is a structured template for marking against set criteria.  This structure can include multiple sets of criterion and be graded to different levels of achievement.  Depending on the nature of the Rubric, marks and feedback can be calculated and auto-populated with the option to add further feedback if required.</p>
<p>A Grading Form differs to a Rubric because it is a simpler form structure that has multiple criterion but does not offer an additional axis of level of achievement to be populated.</p>
<p> </p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Rubrics/grading forms in Turnitin]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Your Turnitin submission dropboxes should now have been set up in your modules, and if you plan on using a Grading Form or a Rubric you will need to attach it to your assignment before the marking begins. </p>
<p><strong>N.B.</strong> It is important to know that if you change/edit a rubric during the marking process then all of your existing marks/comments that have been added to that Rubric will be lost, so it is best to plan how you are using your rubrics before marking begins.</p>
<p><span>What is a Rubric / Grading Form in Turnitin?</span></p>
<p>In simplest terms a Rubric / Grading form is a structured template for marking against set criteria.  This structure can include multiple sets of criterion and be graded to different levels of achievement.  Depending on the nature of the Rubric, marks and feedback can be calculated and auto-populated with the option to add further feedback if required.</p>
<p>A Grading Form differs to a Rubric because it is a simpler form structure that has multiple criterion but does not offer an additional axis of level of achievement to be populated.</p>
<p> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Your Turnitin submission dropboxes should now have been set up in your modules, and if you plan on using a Grading Form or a Rubric you will need to attach it to your assignment before the marking begins. ]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Rubrics in Turnitin | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Rubrics/grading forms in Turnitin]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>