<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2c1d904-c354-4a92-860f-998399cb2dff" Alias="Brand Guidelines" Level="3">
  <Info>
    <Parent Key="31296317-01d4-40c3-9043-3e6d71a8fedf">News and Events</Parent>
    <Path>/Home/NewsAndEvents/BrandGuidelines</Path>
    <Trashed>false</Trashed>
    <ContentType>generalLandingPage</ContentType>
    <CreateDate>2021-02-04T16:19:35</CreateDate>
    <NodeName Default="Brand Guidelines" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2d105c-dfa8-42d8-8bd5-cf850a36952d">GeneralLandingPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/a1669c2762104327824eac9256969e10]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[<p>Brand Guidelines</p>]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "1bb44300-066b-45e3-9ef9-5411518577e0",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/381f4bf2be3e47c2a4b93b2c2401aeb7",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Our corporate identity is a vital part of the institution's marketing and must be used consistently and correctly. These guidelines provide you with all of the information that you will need to use our corporate identity. Simply click on the buttons below to find the information you need and then download the relevant artwork from the Download section. There should be no need to create any additional modified artwork – if you feel you have a requirement which has not been provided please contact the Marketing and Communication office.</p>
<p>Our brand guidelines are also available as a PDF. See our <a href="/{localLink:umb://media/5560c2518096497f8385f8da74b85445}" title="QMU Brand Guidelines V1.7Tagged" data-udi="umb://media/904b794f3eb5464bbce3b410b786093d"><span class="blue-btn">Brand Guidelines (PDF)</span></a></p>
<p>If you are a member of staff and have any queries or would like to discuss any part of the corporate identity, please call the Marketing and Communication Office on +44 (0)131 474 0000 or email <a href="mailto:marketing@qmu.ac.uk" title="Email QMU Marketing">marketing@qmu.ac.uk</a></p>
<p>Any third parties wishing to use any part of the corporate identity should seek relevant permission from the Marketing and Communication Office at <a href="mailto:marketing@qmu.ac.uk" title="Email QMU Marketing">marketing@qmu.ac.uk</a></p>
<p> </p>]]></Value>
    </bodyTop>
    <contactPicker>
      <Value><![CDATA[umb://document/6ba146e55961492b9fc688e14e2ec67f]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Brand Guidelines]]></Value>
    </displayTitle>
    <focusPanel>
      <Value><![CDATA[[
  {
    "key": "449bc19b-2448-4c04-b622-8ec64ba75f63",
    "name": "Logo",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Logo",
    "content": "",
    "image": "umb://media/4b3d0ae8e51646ee81c164b16cd13248",
    "link": "[{\"name\":\"Logo\",\"udi\":\"umb://document/e535cab39be245dbae20bb6feabe6d86\"}]"
  },
  {
    "key": "6f48b1a3-a80d-4c6d-9224-230fbe63b0e5",
    "name": "Photography",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Photography",
    "content": "",
    "image": "umb://media/193422eec5c846898f8bc6fa5eea0552",
    "link": "[{\"name\":\"Photography\",\"udi\":\"umb://document/7d6374aebc6246de97c30eacd30b600f\"}]"
  },
  {
    "key": "4522cd4b-26ce-444d-bfef-6807ad6a5404",
    "name": "Type and fonts",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Type and fonts",
    "content": "",
    "image": "umb://media/7a640220a3bb4500bdc2ba501234da36",
    "link": "[{\"name\":\"Type and fonts\",\"udi\":\"umb://document/c47f2b23ecae4d2aa059b30c12438a78\"}]"
  },
  {
    "key": "713496da-2beb-4f65-9ebd-c82c5d34d97e",
    "name": "Brand colours",
    "ncContentTypeAlias": "focusPanelItem",
    "title": "Brand colours",
    "content": "",
    "image": "umb://media/9404f746fd4d449e9752df7445b9f9bc",
    "link": "[{\"name\":\"Brand colours\",\"udi\":\"umb://document/9c6cba1e03564b33b19112c51ad2115e\"}]"
  }
]]]></Value>
    </focusPanel>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Brand guidelines for Queen Margaret University, Edinburgh.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Brand Guidelines | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "3b0d80ee-62cc-4338-97bf-6bf9ebeee29f",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "usefulLinks",
                    "value": {
                      "name": "Useful Links",
                      "title": "",
                      "usefuls": [
                        {
                          "icon": "icon-umb-content color-indigo",
                          "name": "Download Artwork",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://document/1b7b56763ebb4ab480f5bfd300a1cd55",
                          "url": "/news-and-events/brand-guidelines/download-artwork/"
                        },
                        {
                          "icon": "icon-document",
                          "name": "QMU Brand Guidelines V1.7",
                          "published": true,
                          "queryString": null,
                          "target": null,
                          "trashed": false,
                          "udi": "umb://media/5560c2518096497f8385f8da74b85445",
                          "url": "/media/jhbgavmw/qmu-brand-guidelines-v17tagged.pdf"
                        }
                      ],
                      "useDarkTheme": "0"
                    },
                    "id": "ef7066fb-025a-e976-1393-cf5e62711322"
                  },
                  "editor": {
                    "alias": "Useful Links",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Brand]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>