<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3629ce4-42bc-4ce0-b944-f6b6f75b69c8" Alias="Course A-Z" Level="5">
  <Info>
    <Parent Key="c1b8c683-6285-4260-a70c-f07f64ada777">Prospective Students</Parent>
    <Path>/Settings/Navigation/Footer/ProspectiveStudents/CourseAZ</Path>
    <Trashed>false</Trashed>
    <ContentType>navigationItem</ContentType>
    <CreateDate>2021-01-18T16:20:08</CreateDate>
    <NodeName Default="Course A-Z" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <link>
      <Value><![CDATA[[
  {
    "name": "Course A-Z",
    "udi": "umb://document/459150c020bb424c89d61a42547ec50d"
  }
]]]></Value>
    </link>
  </Properties>
</Content>