<?xml version="1.0" encoding="utf-8"?>
<Content Key="e45df9ce-e6f7-45b9-9fa7-241bfac25d4f" Alias="Smoking Policy" Level="6">
  <Info>
    <Parent Key="85ea1cd2-51c0-4676-a876-51a01799c188">Health, Safety and Wellbeing</Parent>
    <Path>/Home/Footer/Vacancies/HRPoliciesAndProcedures/HealthSafetyAndWellbeing/SmokingPolicy</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-06-04T11:03:13</CreateDate>
    <NodeName Default="Smoking Policy" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/2b5e369948b14ca58a88d05faadc774b]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "48d4d02e-e36c-4697-a595-4a9cf2a8a2dd",
    "name": "Smoking Policy",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Smoking Policy",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th colspan="2" style="width: 50%; text-align: center;"><strong>Smoke-Free Policy</strong></th>
</tr>
<tr>
<td style="width: 50%;">Policy Summary:</td>
<td style="width: 50%;">This policy outlines the University’s position regarding smoking on campus property, grounds and in University vehicles.</td>
</tr>
<tr>
<td style="width: 50%;">Policy Owner:</td>
<td style="width: 50%;">Health and Safety Committee</td>
</tr>
<tr>
<td style="width: 50%;">
<p>Approved by:</p>
</td>
<td style="width: 50%;">Health and Safety Committee, 27th March 2024</td>
</tr>
<tr>
<td style="width: 50%;">Consultation Completed:</td>
<td style="width: 50%;">Complete</td>
</tr>
<tr>
<td style="width: 50%;">Equality Impact Assessed:</td>
<td style="width: 50%;">6th February 2024</td>
</tr>
<tr>
<td style="width: 50%;">Date of Issue:</td>
<td style="width: 50%;">27th March 2024</td>
</tr>
<tr>
<td style="width: 50%;">Review Period:</td>
<td style="width: 50%;">Annually (or, where changes in legislation, assets, or best practice deem otherwise).</td>
</tr>
</tbody>
</table>
<p><span class="lead">1. Introduction</span></p>
<p>Queen Margaret University is committed to providing and promoting a smoke-free environment to protect the health and wellbeing of our community of staff, students, visitors, and contractors.</p>
<p>Scotland's Chief Medical Officer recognises that smoking is the main health problem facing Scotland and considers it to be the single biggest cause of preventable premature death and ill-health in the country, with around 13,000 Scots dying each year from smoking-related illnesses. Passive smokers also suffer an increased risk of smoking-related diseases, and second-hand smoke is also thought to be a major cause of asthma in children.</p>
<p>In Scotland, the Smoking, Health and Social Care [Scotland] Act 2005 (which came into force on 26 March 2006) requires a complete restriction on smoking in enclosed public places and workplaces. It is, therefore, an offence to smoke or to permit smoking in these areas.</p>
<p><span class="lead">2. Scope</span></p>
<p>This policy applies to all staff, students, visitors, and contractors.</p>
<p><span class="lead">3. Policy</span></p>
<p>The University’s definition of smoking extends beyond traditional cigarettes, pipes, cigars, etc. to include the use of e-cigarettes and vapes.</p>
<p>Smoking is prohibited in all University buildings, grounds and vehicles with the exception of the designated smoking areas. Anyone wishing to smoke is asked to be mindful of others and to make every effort to eliminate or minimise the risk of passive smoking.</p>
<p><strong>The designated smoking areas are:</strong></p>
<ol>
<li>The shelter at the entrance from the car park.</li>
<li>The seated external licensed area at Maggies.</li>
<li>Outside of residential accommodation if you are a resident. You must be at least 5 metres from the building and away from doorways, windows, air intakes and pedestrian walkways.</li>
</ol>
<p><span class="lead">4. Compliance</span></p>
<p>Our community of staff, students, visitors, and contractors are encouraged to politely challenge those who do not adhere to this policy and request anyone who engages in smoking outwith the designated smoking areas to move to a designated smoking area.</p>
<p>As a smoker who is part of the QMU community, it is expected that if you are approached with such a request to move to a designated smoking area, you respond in a polite and courteous manner.</p>
<p>Where repeated non-compliance with this policy occurs, the incident will be escalated to the appropriate persons.</p>
<p>Appropriate signage will be displayed around the University, and the Health, Safety and Wellbeing team will ensure this policy is communicated and made available.</p>
<p><span class="lead">5. Support for Smoking Cessation</span></p>
<p>As part of its commitment to promoting health &amp; wellbeing, the University is keen to support and encourage those trying to stop smoking.</p>
<p>The following sources of advice are available:</p>
<p><a href="https://myshare.qmu.ac.uk/services/human-resources/SitePages/Employee%20Assistance Programme - MCL Medics.aspx" title="Employee Assistance Programme (EAP) - MCL Medics">Employee Assistance Programme - MCL Medics</a><br /><a href="https://www.nhsinform.scot/care-support-and-rights/nhs-services/helplines/quit-your-way-scotland/" title="NHS Inform - Quit Your Way Scotland">Quit Your Way Scotland</a><br /><a href="https://ash.org.uk/" title="ASH - Action on Smoking and Health">ASH (Action on Smoking and Health)</a></p>
<p><span class="lead">6. Equality Analysis</span></p>
<p>Consideration has been given to the protected characteristics of all population groups identified in the Equality Act 2010. These protected characteristics are:</p>
<ul>
<li>Age</li>
<li>Disability</li>
<li>Gender reassignment</li>
<li>Marriage and civil partnership</li>
<li>Race</li>
<li>Religion and belief</li>
<li>Sex</li>
<li>Sexual orientation</li>
<li>Pregnancy and maternity</li>
</ul>
<p>The University recognises the need for specific measures to ensure the health and safety of each of these groups. This policy and all other associated health and safety related policies and procedures consider this.</p>
<p><span class="lead">7. Monitoring and Review</span></p>
<p>The Health, Safety and Wellbeing Team will review this policy every three years to ensure that it continues to meet the University's needs and recommend any necessary changes. Alternatively, any significant changes which affect this policy will prompt a review.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[umb://document/1244a53590b94cd5b89deb90497dab7d]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Smoke-Free Policy]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>This policy outlines the University’s position regarding smoking on campus property, grounds and in University vehicles.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[This policy outlines the University’s position regarding smoking on campus property, grounds and in University vehicles.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Smoke-Free Policy | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "29ccf3b7-f9da-4e38-b5b5-3852f05cbe2b",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Smoke-Free Policy]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>