<?xml version="1.0" encoding="utf-8"?>
<Content Key="e97c99fe-ab43-445e-b888-9097861d3a98" Alias="2015.07.15-1 - QMU graduate lands leading role" Level="5">
  <Info>
    <Parent Key="94c45b1a-49ef-4036-9be3-b5a4df2d2026">2015</Parent>
    <Path>/Home/NewsAndEvents/News//QMUGraduateLandsLeadingRole</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-04T10:49:11</CreateDate>
    <NodeName Default="2015.07.15-1 - QMU graduate lands leading role" />
    <SortOrder>68</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/67e3c772b81a430b996cc903b076cf45]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "d1eecfe6-a00b-4d10-9e29-09831a217a16",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "QMU graduate lands leading role at top Edinburgh agency",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Cody graduated with a BA (Hons) Media Studies from QMU in July 2015.</p>
<p>Cody is now kick-starting his media career with video production, public relations and social media agency, Tanami, following his successful application to QMU's Employer Mentoring Scheme and Santander Universities SME Internship Programme.</p>
<p>Building on his previous work experience with the Glasgow 2014 Commonwealth Games and the BBC, Cody hopes to widen his skills set by getting hands-on experience of film production and managing public relations campaigns for ambitious start-up companies to global market leaders.  Tanami’s clients include Magners, Peugeot, the Scottish Government and Chevrolet.</p>
<p>Commenting on his new internship role, Cody said: “I’m really excited about joining one of Edinburgh’s top creative agencies so soon after graduating and getting my career off the ground.</p>
<p>“The continued advice and support I’ve received through QMU’s Employer Mentoring Scheme was extremely beneficial and gave me confidence when it was most needed in my final year of study.  The experience encouraged me to explore new career options in public relations and led to some interesting creative opportunities with QMU’s marketing and communications department.</p>
<p>As part of the scheme, Cody got the chance to help create a new student recruitment film for QMU, which he also starred in.</p>
<p>Find out more about <a rel="noopener" href="https://www.qmu.ac.uk/alumni-and-friends/opportunities-to-give/santander-universities/" target="_blank" title="Santander Universities">Santander Universities</a> internships.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2015-07-15T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU graduate lands leading role at top Edinburgh agency]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>A QMU media studies graduate, Cody Edwards, has secured a sought-after internship with one of Edinburgh’s top creative agencies.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[A QMU media studies graduate, Cody Edwards, has secured a sought-after internship with one of Edinburgh’s top creative agencies.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU graduate lands leading role at top Edinburgh agency]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[<p>For further media information please contact Jonathan Perkins, Press and PR Officer, Queen Margaret University, Edinburgh, tel: 0131 474 0000, Email: <a href="mailto:jperkins@qmu.ac.uk">jperkins@qmu.ac.uk</a></p>]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "cb090d4a-4f67-4de2-b9e9-72768dcaafeb",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[QMU graduate lands leading role at top Edinburgh agency]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>