<?xml version="1.0" encoding="utf-8"?>
<Content Key="e97dd46f-76ec-4927-94fa-2f04b4934de6" Alias="Advancing Practice in Health Framework Courses (Postgraduate)" Level="4">
  <Info>
    <Parent Key="08981ce7-1b98-4fd1-8c3a-bdb87823f90e">News and Blog Tags</Parent>
    <Path>/Settings/Tags/NewsAndBlogTags/AdvancingPracticeInHealthFrameworkCoursesPostgraduate</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-04-16T14:08:25</CreateDate>
    <NodeName Default="Advancing Practice in Health Framework Courses (Postgraduate)" />
    <SortOrder>32</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagName>
      <Value><![CDATA[Advancing Practice in Health Framework Courses (Postgraduate)]]></Value>
    </tagName>
  </Properties>
</Content>