<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9b25fe7-acd7-46d4-97e4-2f70662e55bd" Alias="Student Story - Lesley Rozycki - MSc Gastro" Level="3">
  <Info>
    <Parent Key="d18bb03a-fac8-40f6-80a9-fff6921ad1d2">Quotes</Parent>
    <Path>/Settings/Quotes/StudentStoryLesleyRozyckiMScGastro</Path>
    <Trashed>false</Trashed>
    <ContentType>quote</ContentType>
    <CreateDate>2021-10-22T09:48:08</CreateDate>
    <NodeName Default="Student Story - Lesley Rozycki - MSc Gastro" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[umb://media/78a69c246f3b49408757688cc64fc07d]]></Value>
    </image>
    <quoteText>
      <Value><![CDATA[It may seem daunting to study abroad in a country you know little or nothing about, but don’t be afraid to take the plunge. Taking that bit of a risk is well-worth the reward of studying at a University like QMU in a place like Scotland.”]]></Value>
    </quoteText>
    <source>
      <Value><![CDATA[Lesley Rozycki  ]]></Value>
    </source>
    <sourceExtra>
      <Value><![CDATA[MSc Gastronomy]]></Value>
    </sourceExtra>
  </Properties>
</Content>