<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb1b846b-9aea-4d9a-9ebd-223a889976c7" Alias="QMU Net-Zero Strategy : Organisational Policies" Level="5">
  <Info>
    <Parent Key="f0d45c24-e11f-4ad8-b6dd-f8c215fa8652">QMU Net-Zero Strategy 2023-2028</Parent>
    <Path>/Home/AboutTheUniversity/Sustainability/QMUNetZeroStrategy20232028/QMUNetZeroStrategyOrganisationalPolicies</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2023-02-28T15:08:07</CreateDate>
    <NodeName Default="QMU Net-Zero Strategy : Organisational Policies" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "e97a2cf9-d2fa-4dc8-af7b-d9df882b92c0",
    "name": "QMU Net-Zero Strategy : Organisational Policies",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/b87fbae2858f4c21b6e45da808d2ea04",
    "title": "QMU Net-Zero Strategy : Organisational Policies ",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[QMU Net-Zero Strategy : Organisational Policies ]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><strong>Organisational Policies</strong></p>
<p><span class="NormalTextRun SCXW136961011 BCX4">In enhancing the aim of holistic University wide sustainability and commitment to climate change, a systematic and structured review of polices which can influence or impact sustainability and climate change outcomes will be undertaken, focusing on priority impact areas.</span> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[In enhancing the aim of holistic University wide sustainability and commitment to climate change, a systematic and structured review of polices which can influence or impact sustainability and climate change outcomes will be undertaken, focusing on priority impact areas. ]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[QMU Net-Zero Organisational Policies | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "420b6ed5-0787-47b3-a244-56ffdadd1f90",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Net-Zero Strategy : Organisational Policies ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>