<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb33d172-fc2f-4b11-b232-4ca8fa27e76f" Alias="Continuing Student Accommodation" Level="4">
  <Info>
    <Parent Key="9fa80e42-58ea-4851-84e4-0d82eabd6612">Accommodation</Parent>
    <Path>/Home/CampusLife/Accommodation/ContinuingStudentAccommodation</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-03-28T16:30:52</CreateDate>
    <NodeName Default="Continuing Student Accommodation" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/26904968460d4bab8064fac0dd7f9774]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "47c2000b-603e-451d-9106-8a06d3100aaa",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/7f829543e16943649a243e7667fef94a",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead"><strong>What </strong><strong>is the ballot?</strong></span></p>
<p>The ballot is for continuing undergraduate and continuing postgraduate students wishing to apply for accommodation for the 2024/25 academic year. The ballot is a random draw to determine the order in which the limited rooms available to continuing students are offered.</p>
<p> </p>
<p><span class="lead"><strong>Eligibility</strong></span></p>
<p>To be eligible to apply for the accommodation ballot as a continuing student, you must:</p>
<ul>
<li>be a current full-time student at Queen Margaret University.</li>
<li>not have any outstanding debt, or have been in persistent debt, with the University.</li>
<li>not have been engaged in any serious or persistent misconduct in accordance with the Halls of Residence/Student Code of Conduct - this is including, but not limited to, breaches of the Terms &amp; Conditions of Lease; and</li>
<li>only enter the accommodation ballot once.</li>
</ul>
<p>Please be aware that checks will be conducted to verify that you satisfy all of the above criteria before your application is entered into the ballot.</p>
<p> </p>
<p><span class="lead"><strong>How and when to apply?</strong></span></p>
<ul>
<li>Eligible students can apply through the <a rel="noopener" href="https://accommodation.qmu.ac.uk/QMU_Portal/" target="_blank">eAccommodation Portal</a> by selecting the ‘Accommodation Ballot’ application option.</li>
<li>The ballot will <strong>open </strong>at 2pm on Tuesday, 9 April 2024</li>
<li>The ballot will <strong>close</strong> at 2pm on Tuesday, 16 April 2024. Late applications will not be accepted. </li>
</ul>
<p> </p>
<p><span class="lead"><strong>How do I apply as a group so I can live with my friends?</strong></span></p>
<ul>
<li>If you wish to share with friends you must link your applications together as a group. Towards the end of your application you will have the option to either create a new group or join an existing group, as shown in the image below.<img src="?mode=max&amp;width=703&amp;height=340" alt="Instructions on how to create or join a Group Application for Accommodation using the online portal. If you are the first of your group to register, select the first option 'Generate New Group'. This provides a Group Reference which should be used by all other members of the group. If you are joining an existing group, select the first option 'Join' and enter the group reference provided by your friends. If you do not with to form a group in your application, skip this step and click 'Next' in the form." width="703" height="340" data-udi="umb://media/4be2fc6b4e1840c699898fff56dd9534"></li>
<li>The lead person in the group must apply first and generate the unique Group Reference to share with other members. The other members can then join the group by entering the same Group Reference. This will then link all individual applications together as a group.  </li>
<li>All individual applications linked to the group must be for the same room type and contract length. </li>
<li>Groups can be as small as 2 members but there is a maximum limit of 6 members for a standard accommodation and 5 members for premium accommodation.</li>
<li>Please note that if you apply as a group, you will be entered into the ballot as a group i.e. a single entry for the group. </li>
</ul>
<p> </p>
<p><span class="lead"><strong>When will I find out if my application is successful?</strong></span></p>
<ul>
<li>The deadline for entry into the ballot is 2pm on Tuesday, 16 April 2024. Accommodation Services will then complete checks to confirm that all applicants satisfy the eligibility criteria.</li>
<li>The ballot is scheduled to be drawn using a random list generator on Monday, 22 April 2024. This will determine the order in which the limited rooms available to continuing students are offered.</li>
<li>Successful applicants will receive an offer of accommodation no later than Friday, 26 April 2024 and will have 7 days to accept so it's important you check your email regularly. A £250 prepayment must be paid at the time of accepting an offer. </li>
<li>Unsuccessful applicants will be informed by email no later than Tuesday, 30 April 2024</li>
<li>There will be no waiting list in operation but unsuccessful applicants will be invited to register their details to be notified if rooms become available after the academic year has started in September. </li>
</ul>
<p> </p>
<p><span class="lead"><strong>Private Sector Accommodation</strong></span></p>
<p>You'll find lots of useful information about how to search for off-campus accommodation in our <a rel="noopener" href="/campus-life/accommodation/private-sector-accommodation-guide/" target="_blank">Private Sector Accommodation Guide.</a> If you have any additional queries, please do not hesitate to <a href="mailto:accommodation@qmu.ac.uk">contact us</a>. </p>
<p> </p>
<p><span class="lead"><strong>Accessible Accommodation </strong></span></p>
<p>We recognise that in exceptional cases some students who have a permanent and substantial disability or have a medical condition may find that accommodation in the private sector isn't suitable for them, for example, where specialist adaptations or facilities are not available. If you think you meet this criteria, it is essential that you declare this in your application. We will then ask you to complete our Access &amp; Support Self-Assessment Form and provide relevant medical evidence so we can assess your eligibility for a priority place. If you are not assessed as eligible for a priority place your application will be placed in the ballot, subject to meeting the conditions of our allocations policy.</p>
<p>Please note that the existence or pre-existence of conditions that are well controlled and have responded to medical treatment, even though there is a continuation of medical treatment, does not necessarily constitute medical or disabled grounds for campus accommodation.  </p>
<p>Regrettably, due to the limited number of rooms available on campus, the University is unable to provide a guarantee of accommodation to continuing students, regardless of circumstances.</p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Continuing Student Accommodation]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Accommodation on campus for continuing students is very limited, so we strongly recommend you find accommodation in the private sector.</p>
<p>A limited number of rooms will be released to continuing students for the 2024/25 academic year. To ensure equal opportunity, these rooms will be offered by ballot. Both continuing undergraduate and postgraduate students can apply for the ballot.</p>
<p><strong>Applications for the ballot will open for 1 week from 2pm on Tuesday, 9 April 2024 and will close at 2pm on Tuesday, 16 April 2024. </strong></p>
<p>Please note that the date you apply within the ballot application window will not impact your chances but you must apply before the ballot closes on Tuesday, 16 April 2024 at 2pm.</p>
<p>More information on the accommodation ballot for continuing students is detailed below.</p>
<p> </p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[A limited number of rooms will be released to continuing students for the 2024/25 academic year. To ensure equal opportunity, these rooms will be offered by ballot. Both continuing undergraduate and postgraduate students can apply for the ballot.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Continuing Student Accommodation | Campus Life | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "13fe2719-9562-43ff-a580-3fbb1cb5e8d5",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Continuing Students]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>