<?xml version="1.0" encoding="utf-8"?>
<Content Key="edc30ad5-5e0a-41ce-b59d-2dc937522b6a" Alias="Interview with comedian Craig Hill" Level="4">
  <Info>
    <Parent Key="eb2f8de2-4280-4449-b493-45b08f965710">QMYOU Magazine - March 2022 (Edition 89)</Parent>
    <Path>/Home/AlumniAndFriends/QMYOUMagazineMarch2022Edition89/InterviewWithComedianCraigHill</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2022-03-15T20:04:00</CreateDate>
    <NodeName Default="Interview with comedian Craig Hill" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="793fdbdc-4982-4bca-96be-86cd7d82393e">AlumniProfile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/f843fd312e6b4b0cae93f5afc0419eae]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "79e0a5b7-7b29-45e8-b89d-6e3d46b1c84d",
    "name": "Climbing Corstorphine Hill with Craig Hill",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/145666294b914d6fa9515bc0b45ed105",
    "title": "Climbing Corstorphine Hill with Craig Hill",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p><span class="lead-big"><strong>Craig Hill is instantly recognisable as the kilted Scottish comedian. He started his career as a West coast hairdresser, changed direction to become an East coast drama student, and then took centre stage as an internationally renowned comedian!</strong></span></p>
<p><span class="lead">QMU’s Head of Development and Alumni, Thomas Kelly, talks to Craig about finding his fit at Queen Margaret, his journey into the world of comedy and the meticulous planning and hard work that has helped secure his rightful place as a household name.</span></p>
<p><strong>Arriving after his short cycle from home, Craig makes a low-key entrance to the beautiful </strong><strong>Scandinavian style café/bar on George Street in Edinburgh where he suggested we meet. </strong></p>
<p>Our conversation kicks off with Craig revealing his passion for seeking out fabulous coffee houses and I discover he’s turned touring the world into an opportunity to become a bit of a travel blogger. He shows me his incredibly organised bookmarks on his phone, with each city he has visited around the world having its own folder with his recommended coffee shops, bars, and restaurants alongside many other things. I later discover it is this level of organisation that is his secret to a long successful comedy career – a discipline he learned at QMC.</p>
<p>Taking me back in time, Craig tells me about his youth as a goth with crimped hair. “I was a hairdresser which was pretty much just acting…well it was storytelling and they are interlinked. I’d have a right laugh with all the customers, but I knew it wasn’t a career for me.”</p>
<p>Craig had a passion for performing from a very young age. He gave up hairdressing when he was 20, enrolled at Langside College in Glasgow to study acting, which then led to an audition for Queen Margaret College. He enthuses: “I did my audition, loved it and got in! It was the beginning of the rest of my life.”</p>
<p>We talk about how Craig commuted to Queen Margaret College for the first six months of his course. He recalls:</p>
<p>“I always remember that 902 bus from East Kilbride. It didn’t go up Corstorphine Hill, so each day I’d do that long, steep climb to the top of the brae to reach the Corstorphine campus.” He tries to continue but a little lightbulb moment happens, and he circles back.</p>
<p>Wide eyed, he says: “Actually, I’ve never thought of it like this, but I think climbing Corstorphine Hill was a big metaphor for my career. Each day you work hard, climb that hill, but boy it is worth it when you get to the top!” His trademark cheeky smile covers his face as he takes a moment to think nostalgically about his time in Corstorphine…it’s that or he’s just really proud of that metaphor!</p>
<p>Opening up about his experience, he says:</p>
<?UMBRACO_MACRO macroAlias="Quote" text="QMC was the most freeing place. I arrived on day one and I knew I had found my people." source="" sourceExtra="" />
<p>I actually came out as gay in my first week; I just knew this was a safe place where I could be me.” Hearing this, I realise I could easily be chatting to a current QMU student – Queen Margaret continues to be a space where people are free to be their true selves – no matter their sexuality, gender, faith or ethnicity.</p>
<p>“Right, so I graduated and I’m getting bits of acting work in theatre, wee films, some pantos plus a lot of theatre in education, to pay the bills. I also get a wee job in the Gilded Balloon Box Office. My pal, who was press officer, says to me, ‘Craig, I’ve booked you a slot to try out standup comedy as you make everyone laugh – oh and it’s in two days’ time!” Craig is in full swing storytelling mode now. It’s just like watching him do standup and I’m enthralled.</p>
<p>“I was like ‘NO WAY’ but then I thought ‘WHY NO?’. I’ve always enjoyed doing things that scare me. And I totally believe in saying yes to everything. So, I got to thinking ‘What makes my friends laugh? I mean, who knew that</p>
<p>Julie Andrews singing punk could start a career?”</p>
<p>He continues: “The gig goes well, and I’m asked to do a slot at The Stand Comedy Club – gig two. Then my third gig is in Glasgow as part of the Comedy Store competition. I get through to the next round and bang, my fourth gig is on the stage in the King’s Theatre in Glasgow.” Craig’s eyes light up as he tells me more. “I’ve spent four years doing theatre in education, dreaming of performing on the King’s Theatre stage. But it’s taken me only four gigs to get on that very stage as a comedian – that’s when I thought, there’s something in this!</p>
<p>“I then find myself doing London’s famous Comedy Store as gig number five. I remember sitting in the green room before the gig and everyone else was quite nervous. I thought to myself ‘Is comedy not meant to be fun?’ I got aid £150 for that gig, which was amazing as I was skint. So naturally I bought myself a pair of leather trousers!”</p>
<p>His comedy career really took off and he became a regular at the Edinburgh Fringe and on BBC comedy variety programmes. Today, Craig is a household name, well known as the kilted Scottish comedian that sells out venues across Scotland, the UK and Ireland. With shows in the likes of Paris, Barcelona, Amsterdam, New York, Sydney and Berlin, he’s spread his humour across the globe, and he’s graced the stage of some of the most prestigious venues including the Sydney Opera House and the London Palladium.</p>
<p> Craig quips: “To me, comedy is an acting job that lasted!”</p>
<p>It’s fascinating to discover his mindset and the mental preparation that goes into every show. He explains: “I get to the venue very early and I rehearse, rehearse, rehearse! I talk through all of my material. I take time to open up the folders in my head where all of my material sits and make sure I can access it.” This takes me back to Craig’s phone, with all of his food and drink recommendations stored away neatly in easily accessible folders – it’s all linked.</p>
<p>He continues: “There is some improvising, but this took years to perfect. I’m a fast speaker, and this extended warm up before the show begins helps me get ‘up-to-speed’.</p>
<p>Audience interaction is everything for me and they keep me on my toes. I flourish under pressure, and I love the audience for that. But it’s not just as easy as rocking up and chatting to the crowd.</p>
<?UMBRACO_MACRO macroAlias="Quote" text="I use all the skills I learned at QMC. Don’t you forget it – I’m an actor that does comedy, not a comedian." source="" sourceExtra="" />
<p>“I have as much of a laugh as the audience do. I make a point of shaking every audience member’s hand as they leave…not so much now with the pandemic. I honestly look forward to every gig I do. I hear people talking about how they dread doing a gig – I don’t get it. When the lights go down, we could be anywhere. We aren’t in a theatre or a venue in a city or town; we are in a moment…a moment of magic!”</p>
<p>Craig’s phone alarm sounds, “That’s my reminder. Look, it says ‘Cook Gousto meal before meeting my pal at 6pm’. I bloody love that Gousto, I’m on meal 436!” This is a final insight into the discipline and organisation that Craig puts into his whole life, and I think it’s safe to say that it’s a key factor in his success.</p>
<p>I have one last question before he jumps on his bike for the short ride home: what advice would he offer students today?</p>
<p>“Don’t be afraid to go off on a career tangent you didn’t expect, as it might be the best thing that ever happens to you. Oh, and two other things: (1) Say yes to everything - it’s always worth a try, and (2) If you are frightened of it, then it’s probably going to be good for you.”</p>
<p>A moment later, he cycles into the evening sun, en route to Gousto meal #436.</p>]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Climbing Corstorphine Hill with Craig Hill]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[QMYOU, March 2022 (Edition 89)]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Craig Hill is instantly recognisable as the kilted Scottish comedian. He started his career as a West coast hairdresser, changed direction to become an East coast drama student, and then took centre stage as an internationally renowned comedian!]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Climbing Corstorphine Hill with Craig Hill | QMYou Magazine March 2022 | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Climbing Corstorphine Hill with Craig Hill]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>