<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0013c4b-10c9-485e-9f19-8be29c711ace" Alias="Vicky’s Exchange" Level="6">
  <Info>
    <Parent Key="f1509fae-6848-403b-a28f-3de63cb2e77e">Semester Abroad Experiences</Parent>
    <Path>/Home/StudyHere/InternationalStudentsRevamp2022/ReasonsToStudyAbroad/SemesterAbroadExperiences/VickySExchange</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2022-04-27T11:25:42</CreateDate>
    <NodeName Default="Vicky’s Exchange" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65102975-f5a6-47bf-9418-b0e82dc7c288">BlogPost</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/568224bcc11049e8b1fe8e9d1cdf3249]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "c6e6e7d7-f2a6-44f5-8e8f-e123dae5f5d3",
    "name": "Vicky’s Semester Abroad",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/67ad7851a8bc4130936cd573b66826d4",
    "title": "Vicky’s Semester Abroad",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p>Do the terms ‘bogan’, ‘schooner’ or ‘capsicum’ mean anything to you? Well, until 5 months ago, me neither! It turned out that embarking on a semester abroad to Melbourne, Australia this February was far more than just an academic learning experience.</p>
<p>Like many people my age, travelling encompasses the majority of my bucket list. So how could I say no to the opportunity of studying abroad? Not only did it offer an easy way of building travel confidence, but placed a world of exciting adventures on my doorstep. I was sure it would be the experience of a lifetime… and I wasn’t wrong.</p>
<p><img src="?width=497&amp;height=373" alt="Image of friend group all wearing masks" width="497" height="373" data-udi="umb://media/f4c629f1b32c4fc8b49c8afd12cae8fc" /></p>
<p>From pop culture to friendships, self-worth to politics- I have easily gained more insight to the world and my place in it over one semester than during most of my uni life so far. Being surrounded by a much wider range of students than at QMU meant that I built relationships with a huge range of people, each of them offering a new and interesting perspective on both course topics and much wider issues. It is through these people that I have gained some of the most amazing life experiences with wonderful memories to match.</p>
<p>Of course, I didn’t expect it to be plain sailing.</p>
<p>I struggled a bit in first year to feel like I had a solid friend group, so joining what I assumed would be a course full of pre-established social groups was very daunting. I was so afraid that I’d be a bit of an outcast and relive my struggles of three years ago- but I couldn’t have been luckier with the way things panned out.</p>
<p>Not only did I manage to slot into classes quite easily, but friends appeared from the most unexpected places: queues, tram stops and even hostel rooms. Just simple things like being kind to people in the same situation as you can really go a long way!</p>
<p><img src="?width=500&amp;height=336.976320582878" alt="Image of Vicky on a beach" width="500" height="336.976320582878" data-udi="umb://media/925e0ab962ff41678c16284958500824" /></p>
<p>It’s safe to say that all the fun <em>far</em> outweighed the fear. My Australian journey allowed me to tick off the Great Ocean Road (a brilliant trip organised by the uni, and where the bond with my future travel buddies was formed), Sydney Opera House and the Great Barrier Reef to name just a few. All of this while submitting an essay or preparing for a performance every couple of weeks? No waccas*!</p>
<p>What’s more, the (surprisingly) hefty assessment load has proved incredibly useful for the impending doom of fourth year. Having to constantly think one, or two, steps ahead while being away from home and my family’s level-headedness has proved quite the learning curve. But with the help of a diary and some very switched on friends, I really feel like I can handle anything that gets thrown at me.</p>
<p><img src="?width=364.91228070175436&amp;height=500" alt="Image of buildings" width="364.91228070175436" height="500" data-udi="umb://media/b8041dc64aa14cc18763011a2d6e1ff2" /></p>
<p>For many reasons, I know that this is a country, and people, that I will be visiting and learning from for the rest of my life. And thanks to my experiences as an exchange student, I am returning to Scotland a more confident, organised and worldly-wise young adult. I’d say that’s been an effective use of 2019 then, hey?</p>]]></Value>
    </bodyContent>
    <datePosted>
      <Value><![CDATA[2019-07-24T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Vicky’s Semester Abroad]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p><span class="lead-big">Vicky MacRae – Drama &amp; Performance – Level 3</span></p>
<p><span class="lead">La Trobe University, Australia</span></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Do the terms ‘bogan’, ‘schooner’ or ‘capsicum’ mean anything to you? Well, until 5 months ago, me neither! It turned out that embarking on a semester abroad to Melbourne, Australia this February was far more than just an academic learning experience.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Vicky’s Exchange | Reasons to Study abroad | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Vicky’s Exchange]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>