<?xml version="1.0" encoding="utf-8"?>
<Content Key="f161fc7b-6598-44f7-9c71-6b77acff7ffa" Alias="Laura Walker – MSc Advancing Practice in Medical Imaging" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/LauraWalkerMScAdvancingPracticeInMedicalImaging</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2022-01-21T17:31:02</CreateDate>
    <NodeName Default="Laura Walker – MSc Advancing Practice in Medical Imaging" />
    <SortOrder>245</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[<p><span class="lead">Enhancing student learning and personal development</span></p>
<p>Did you join any schemes/initiatives to enhance your learning and development, such as a mentoring scheme, volunteering scheme, etc.? <br />I have a mentor for my current course who has been excellent and helped me focus on what I need to do.</p>
<p><strong>Did you win any awards/scholarships that helped you develop skills and experience?</strong> <br />I received funding from my department for some of the course and £500 from the Elsie Inglis grant for staff in NHS Lothian.</p>
<p><span class="lead">Life as a Student at QMU</span></p>
<p><strong>What's your 'top tip' for making the most of being a student?</strong> <br />Get involved with everything that is available, whether it's academic or social. Make the most of being a student as it does not last for long.</p>
<p><em>[Published July 2021]</em></p>]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><span class="lead">About you</span></p>
<p><strong>Why did you choose to study at QMU, and what attracted you to the course?</strong> <br />I went to QMU as an undergrad to study diagnostic radiography and enjoyed the course a lot. I chose QMU as, at the time, I was interested in learning that NHS Lothian was doing a deal with QMU, and we managed to get funding for the first module paid for by our department. The course content also attracted me as it suited what I was looking to learn. I was just planning on completing the postgraduate certificate (the first three modules), but I enjoyed the course so much that I kept going and am aiming to complete the full Master's.</p>
<p>I wanted to do the course as MRI is an area of my work that greatly interests and fascinates me. It's just incredible the amount of time, effort, and work that had gone into a system that we could now not live without in the healthcare setting. I have always been interested in physics, but the depth and complexity of MRI astounds me, and I was keen to know more so I could take the lessons I made back to my department. I wanted to learn more about why we do certain scans and how I could better support the radiologists in my department.</p>
<p><span class="lead">The Course</span></p>
<p><strong>What did you enjoy most about your course?</strong> <br />The layout and plan of the course were excellent. I enjoyed how new content became available each week, so it never felt like I was overwhelmed which too much work I could do in my spare time due to working full time. Having an academic tutor assigned to me was also very helpful, and if there were any issues, they were only an email away, offering help and support when needed. They also check in with you to ensure you are ok if they haven't heard from you in a while.</p>
<p><strong>Were there any particular course activities you found especially interesting?</strong> <br />I have enjoyed all the modules I have done so far. On the Principles of MRI module, I especially liked the collaboration sessions that were held every few weeks where we got the chance to be a part of an online classroom. As this course is all distance learning, it was nice to be able to 'see' your classmates and be able to ask questions as you thought of them.</p>
<p><strong>How did your lecturers support your learning?</strong> <br />The lecturers kept in touch in many ways through Collaborate sessions, email, and discussion boards on each module. I always felt supported, and if I had any issues, they were only an email away.</p>
<p><strong>What challenges did you face with the course and/or university life? </strong><br />I think distance learning is always more of a challenge than being at the University. It can sometimes be hard to get motivated. However, I found the courses so enjoyable that it was never long before I got inspired again. The lecturers were always at hand to help, as were the other people on the course. Being able to send messages on the forum really helped as it meant that you could get peer support and not be disheartened if things were not sinking in. There is always someone who is feeling the same as you.</p>
<p><strong>Do you have any advice for students who might be interested in this course?</strong> <br />Go for it. The course has been fantastic and helped me understand more in-depth how MRI works. I can now support the department with planning for the future and being a part of quality improvement. There is a lot of work involved, but it is much easier to learn when it is a subject you are really interested in.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Scotland]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[MSc Advancing Practice in Medical Imaging]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Laura Walker]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[[]]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Laura is a student on the MSc Advancing Practice in Medical Imaging course at Queen Margaret University, Edinburgh.</p>
<p><strong>Student Name:</strong> Laura Walker<br /><strong>Course:</strong> MSc Advancing Practice in Medical Imaging<br /><strong>Hometown:</strong> Edinburgh</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Laura Walker is a student on the MSc Advancing Practice in Medical Imaging course at Queen Margaret University, Edinburgh.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[I was just planning on completing the postgraduate certificate, but I enjoyed the course so much that I kept going and am aiming to complete the full Master's.]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[Laura Walker]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[MSc Advancing Practice in Medical Imaging]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Laura Walker]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Student"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>