<?xml version="1.0" encoding="utf-8"?>
<Content Key="f19a380c-438f-4f2c-b9fc-0b587bc23b5b" Alias="2024" Level="4">
  <Info>
    <Parent Key="0bff60db-2ad5-40fe-ad1c-46abbf0e58b3">Undergraduate Study</Parent>
    <Path>/Home/StudyHere/UndergraduateStudy/</Path>
    <Trashed>false</Trashed>
    <ContentType>courseFolder</ContentType>
    <CreateDate>2023-02-07T10:54:34</CreateDate>
    <NodeName Default="2024" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>