<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2af1841-25a7-405b-9551-1f4b46f94484" Alias="January 2023" Level="5">
  <Info>
    <Parent Key="8e5e95c5-0294-47af-ba9f-b1a83da08903">Start Date</Parent>
    <Path>/Settings/Tags/CourseAZTags/StartDate/January2023</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2023-01-27T13:53:37</CreateDate>
    <NodeName Default="January 2023" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagName>
      <Value><![CDATA[January 2023]]></Value>
    </tagName>
  </Properties>
</Content>