<?xml version="1.0" encoding="utf-8"?>
<Content Key="f501a4be-26e8-44ed-991d-5cfd3b2cfbcd" Alias="Creating a healthy university community" Level="4">
  <Info>
    <Parent Key="eb2f8de2-4280-4449-b493-45b08f965710">QMYOU Magazine - March 2022 (Edition 89)</Parent>
    <Path>/Home/AlumniAndFriends/QMYOUMagazineMarch2022Edition89/CreatingAHealthyUniversityCommunity</Path>
    <Trashed>false</Trashed>
    <ContentType>blogBio</ContentType>
    <CreateDate>2022-03-15T17:29:48</CreateDate>
    <NodeName Default="Creating a healthy university community" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="793fdbdc-4982-4bca-96be-86cd7d82393e">AlumniProfile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/0b5f2bf11e534453830b0c7ce6719d31]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "4b055adc-de9f-4dce-a0f2-1475f2d067d5",
    "name": "Creating a healthy university community",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/0c65dd7aae0e4bd9a897df68ecffe711",
    "title": "Creating a healthy university community",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyContent>
      <Value><![CDATA[<p><span class="lead-big">Cool spaces and interesting places on campus makes happy, healthy people.</span><span class="lead"><br><br>We are lucky at QMU to have a wonderfully bright and modern environment </span><span class="lead">in which to work, study, live and play.</span></p>
<p>Initially, we designed our campus buildings to reflect the importance of learning as a social activity. We wanted to encourage students to interact with each other and collaborate on projects. So, we created a variety of learning spaces which allowed students from different academic disciplines to meet, make friends and work together. After all, learning is easier when it’s sociable and fun, and it’s important to gain experience of team work before going out into the workforce.<br><br>Then, along came the pandemic, which made us acutely aware of the things we all require<br>in order to maintain good mental and physical health.</p>
<p>The Students’ Union (SU) has worked with staff across the University to support students during the months of COVID restrictions.</p>
<p>Now, more than ever, the SU and the University understand the impact that social connections and our physical environment have on how we feel, work and learn.<br>Through the pandemic, and as we continue to develop our beautiful campus, we have renewed our focus on cultivating a healthy, happy working environment which supports health and wellbeing.</p>
<p>Student President, Aasiyah Patankar, said:</p>
<?UMBRACO_MACRO macroAlias="Quote" text="Even small changes can make a difference, and by working together to take good care of our university community, our students and staff are better equipped to make a positive contribution to the world." source="Aasiyah Patankar" sourceExtra="Student President" />
<p><br>Aasiyah introduces you to some of the cool and interesting spaces that have been created on campus.<br><br><br></p>]]></Value>
    </bodyContent>
    <displayTitle>
      <Value><![CDATA[Creating a healthy university community]]></Value>
    </displayTitle>
    <extraInformation>
      <Value><![CDATA[QMYOU, March 2022 (Edition 89)]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Cool spaces and interesting places on campus makes happy, healthy people. We are lucky at QMU to have a wonderfully bright and modern environment in which to work, study, live and play.

Initially, we designed our campus buildings to reflect the importance of learning as a social activity. We wanted to encourage students to interact with each other and collaborate on
projects.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Creating a healthy university community | QMYou Magazine March 2022 | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <profileImage>
      <Value><![CDATA[]]></Value>
    </profileImage>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Creating a healthy university community]]></Value>
    </shortTitle>
    <socialMedia>
      <Value><![CDATA[]]></Value>
    </socialMedia>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>