<?xml version="1.0" encoding="utf-8"?>
<Content Key="f502533d-ee1a-4f57-8580-bb791afe9a75" Alias="Cynthia Guthrie" Level="4">
  <Info>
    <Parent Key="c69dfb00-ccc9-47b4-8360-bbab8f2ca385">Court</Parent>
    <Path>/Home/AboutOurStaff/Court/CynthiaGuthrie</Path>
    <Trashed>false</Trashed>
    <ContentType>staffProfile</ContentType>
    <CreateDate>2021-02-13T12:46:01</CreateDate>
    <NodeName Default="Cynthia Guthrie" />
    <SortOrder>26</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="7509730a-2309-4003-8275-a5e134b9cf91">StaffProfile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/a1a6df02f97049f3ba03e03823a8904a]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <approvalDate>
      <Value><![CDATA[]]></Value>
    </approvalDate>
    <approved>
      <Value><![CDATA[]]></Value>
    </approved>
    <approvedBy>
      <Value><![CDATA[]]></Value>
    </approvedBy>
    <banner>
      <Value><![CDATA[[
  {
    "key": "0fc96f92-cde7-4f95-b92a-235cda3d6b2f",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/6c1b2f78ca6b47aa9f6b509272b34e71",
    "title": "",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <displayTitle>
      <Value><![CDATA[Cynthia Guthrie]]></Value>
    </displayTitle>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <extraInformation>
      <Value><![CDATA[Queen Margaret University]]></Value>
    </extraInformation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Cynthia has considerable senior management experience with major organisations in several different market sectors. She is currently Joint Managing Director of the Guthrie Group Limited.</p>
<p>Cynthia is a Chartered Fellow of the Chartered Institute of Personnel and Development</p>
<p><strong>Date appointed:</strong> 05 December 2015</p>
<p><strong>Commitee memberships:</strong></p>
<p><strong>Register of interests:</strong></p>
<p>Business interests - Nil</p>
<p>Company drectorships</p>
<p><em>The Guthrie Group Ltd, Joint Managing Director</em></p>
<p>Trusteeships - Nil</p>
<p>Membership of organisations, public bodies etc</p>
<p><em>WhatELSE: Edinburgh &amp; Lothians Safety &amp; Environmental Group (part of Safety Groups UK), Chairman</em></p>
<p>Other declarable interests - Nil</p>]]></Value>
    </introduction>
    <linkedIn>
      <Value><![CDATA[]]></Value>
    </linkedIn>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Cynthia Guthrie University Court.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Cynthia Guthrie | University Court | Queen Margaret University]]></Value>
    </metaTitle>
    <position>
      <Value><![CDATA[Member of University Court]]></Value>
    </position>
    <qualifications>
      <Value><![CDATA[]]></Value>
    </qualifications>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <schoolDivision>
      <Value><![CDATA[umb://document/2e8f8dd13ab94a76b4bf4560db43e92a]]></Value>
    </schoolDivision>
    <shortTitle>
      <Value><![CDATA[Cynthia Guthrie]]></Value>
    </shortTitle>
    <showTwitterBanner>
      <Value><![CDATA[0]]></Value>
    </showTwitterBanner>
    <surname>
      <Value><![CDATA[]]></Value>
    </surname>
    <telephone>
      <Value><![CDATA[]]></Value>
    </telephone>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
    <type>
      <Value><![CDATA[[
  "Court Member"
]]]></Value>
    </type>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>