<?xml version="1.0" encoding="utf-8"?>
<Content Key="f62c506a-042c-43cf-b898-ee9a14010a41" Alias="2018.05.21 - Is work good for you?" Level="5">
  <Info>
    <Parent Key="5498406d-bedc-400c-9545-066855cf03b7">2018</Parent>
    <Path>/Home/NewsAndEvents/News//IsWorkGoodForYou</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-02-11T10:04:22</CreateDate>
    <NodeName Default="2018.05.21 - Is work good for you?" />
    <SortOrder>62</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b852c7f-1a23-4549-a03a-d28573f37f57">NewsItem</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/b87fbae2858f4c21b6e45da808d2ea04]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <author>
      <Value><![CDATA[Press Office]]></Value>
    </author>
    <banner>
      <Value><![CDATA[[
  {
    "key": "cd96a87e-538c-4f4a-8cd7-f3405dd6ed39",
    "name": "Is work good for you?",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/eb218b1d70bc4bd5867c805bd5a4171b",
    "title": "Is work good for you? ",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>The event, organised by QMU together with University of Roehampton, Business in the Community and NHS Lothian, will examine opportunities that can arise from creating a healthy workplace culture and employers, workers, researchers and activists attending will hear first-hand experiences from a line-up of speakers.</p>
<p>Alastair Campbell will be joined by Professor Wilson Ng, Professor in Entrepreneurship and Innovation Studies at the University of Roehampton Business School, who will share the experiences of his late brother, who was blind, on the challenges of raising business financing and support to meet his entrepreneurial needs and aspirations.</p>
<p>Consultant Clinical Psychologist Dr Patricia Graham who is Head of Adult Mental Health Psychology Services with NHS Lothian will speak on the benefits of being at work while suffering mental health issues and how employers can support staff in such a situation. Alan Thornburrow will discuss the Business in the Community Wellbeing campaign, which supports employers to make the case for wellbeing at work and tackles the stigma of mental health.</p>
<p>Richard Bent, Senior Lecturer at QMU, said:</p>
<?UMBRACO_MACRO macroAlias="Quote" text="We are delighted to host this important conference at QMU and anticipate some energetic discussion and informative debate from our impressive line-up of speakers. Toxic work environments can cause people anxiety and depression, affecting wellbeing and performance. There are so many reasons why organisations should positively face up to the challenge of building healthy and supportive workplaces and this event aims to break down some of the perceived barriers we face." source="Richard Bent" sourceExtra="" />]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlockType>
      <Value><![CDATA[]]></Value>
    </centralBlockType>
    <contactPicker>
      <Value><![CDATA[umb://document/9606a3ea7d954e06879b601f10d146e6]]></Value>
    </contactPicker>
    <datePosted>
      <Value><![CDATA[2018-05-21T00:00:00]]></Value>
    </datePosted>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Is work good for you? ]]></Value>
    </displayTitle>
    <featuredUntil>
      <Value><![CDATA[]]></Value>
    </featuredUntil>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p> <strong>Alastair Campbell leads Edinburgh conference to focus on toxic work environments.<span class="lead"> test</span></strong></p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Alastair Campbell leads Edinburgh conference to focus on toxic work environments
Former Labour communications director turned mental health campaigner Alastair Campbell will tackle some of the issues arising from toxic work environments at a major conference to be held at Queen Margaret University on 4th June 2018.  
The event, organised by QMU together with University of Roehampton, Business in the Community and NHS Lothian, will examine opportunities that can arise from creating a healthy workplace culture and employers, workers, researchers and activists attending will hear first-hand experiences from a line-up of speakers.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Is work good for you?]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <notesToEditors>
      <Value><![CDATA[]]></Value>
    </notesToEditors>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "31421531-ac8f-444a-85e2-a5d3f4e00d4e",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Is work good for you? ]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>