<?xml version="1.0" encoding="utf-8"?>
<Content Key="f787c665-9bf2-4cd0-83f3-1ea3e02eaf71" Alias="Get the latest from ResLife on Facebook" Level="3">
  <Info>
    <Parent Key="61a8e686-2a80-4a22-88e1-fc0d682148f6">Links</Parent>
    <Path>/Settings/Links/GetTheLatestFromResLifeOnFacebook</Path>
    <Trashed>false</Trashed>
    <ContentType>link</ContentType>
    <CreateDate>2022-01-14T09:50:10</CreateDate>
    <NodeName Default="Get the latest from ResLife on Facebook" />
    <SortOrder>41</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <externalLink>
      <Value><![CDATA[https://www.facebook.com/qmureslife/]]></Value>
    </externalLink>
    <image>
      <Value><![CDATA[umb://media/d8e175cb0b1a46f286876f721ac8736d]]></Value>
    </image>
    <internalLink>
      <Value><![CDATA[]]></Value>
    </internalLink>
    <text>
      <Value><![CDATA[Get the latest from ResLife on Facebook]]></Value>
    </text>
  </Properties>
</Content>