<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8097ef1-2062-4831-bb06-9f73bd3871b6" Alias="Niamh Allum - MSc Occupational Therapy (Post-Registration)" Level="4">
  <Info>
    <Parent Key="bd55567d-9b0a-42d6-9e6d-8f1947d5bd7f">Student Stories</Parent>
    <Path>/Home/StudyHere/StudentStories/NiamhAllumMScOccupationalTherapyPostRegistration</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2021-05-21T12:30:18</CreateDate>
    <NodeName Default="Niamh Allum - MSc Occupational Therapy (Post-Registration)" />
    <SortOrder>140</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a0ca680-a3c5-46cc-bd8b-382c16faf851">Profile</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/46a6e979d43a459fb83f280a28fe2fc7]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "39bf1f33-d62e-4ae7-9bb8-6624f8ba577d",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/37a3d000982a4ec3be071e4f65ea2752",
    "title": "",
    "description": "",
    "textLink": "[]",
    "button": "[]",
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p>Niamh is also a full-time Occupational Therapist, working in mental health, as well as volunteering for the Centre of Sustainable Healthcare to promote the role of occupational therapy.</p>
<p><span>Before starting her postgraduate studies at QMU, Niamh had already completed the BSc (Hons) Occupational Therapy at the University. </span></p>
<p><strong><span>Why did you decide to undertake your postgraduate studies at QMU and in Edinburgh?</span></strong></p>
<p><span>“I liked the accessibility of the campus and the flexible study options available. I currently work close to Edinburgh, so I’m able to work full time and still access all university resources easily.”</span></p>
<p><strong><span>How do you think the course will equip you with the knowledge and skills to develop your career?</span></strong></p>
<p><strong><span>“</span></strong>On deciding to apply for the MSc (Post-Registration) Occupational Therapy, my initial hopes were for continuing professional development and longer term career progression.</p>
<p><span>“The modules I’ve completed so far have been really beneficial as I’ve been able to transfer the knowledge and skills gained to practice through service development and delivery.”</span></p>
<p><strong><span>Do you feel you get the support you need at QMU? </span></strong></p>
<p><span>“I’ve found the workload to be achievable with good access to staff for support or guidance when required.”</span></p>
<p><strong><span>Have you received any funding to help support your studies?</span></strong></p>
<p><span>“I’ve received a bursary from Alzheimer Scotland to help support part of my studies on a module run in partnership between Alzheimer Scotland and the Division of Occupational Therapy &amp; Arts Therapies. at QMU."</span></p>
<p><strong><span>What is your top tip for future MSc (Post-Registration) Occupational Therapy students?</span></strong></p>
<p><span>“For students completing this course part-time, I’d suggest that completing modules based on practice in the first year is a more gentle way to return to structured education.”</span></p>
<p><strong><span>What are your plans after graduating from QMU?</span></strong></p>
<p><span>“After completing the MSc (Post-Registration) Occupational Therapy at QMU, I hope to engage in more voluntary work to help those in need in the local community. </span></p>
<p><span>“I also hope to progress my career in occupational therapy in either research and/or practice, focusing on mental health and physical activity.”</span></p>
<p><a href="/study-here/fees-and-funding/postgraduate-funding" title="Postgraduate funding"><span class="blue-btn">Learn more about postgraduate funding</span></a></p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactInformation>
      <Value><![CDATA[]]></Value>
    </contactInformation>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <countryFlag>
      <Value><![CDATA[]]></Value>
    </countryFlag>
    <countryName>
      <Value><![CDATA[Scotland]]></Value>
    </countryName>
    <course>
      <Value><![CDATA[]]></Value>
    </course>
    <courseLink>
      <Value><![CDATA[umb://document/475e46bf27a84e95b52f0b3c54696ef3]]></Value>
    </courseLink>
    <courseTitle>
      <Value><![CDATA[MSc Occupational Therapy (Post-Registration)]]></Value>
    </courseTitle>
    <displayTitle>
      <Value><![CDATA[Niamh Allum]]></Value>
    </displayTitle>
    <eResearchLink>
      <Value><![CDATA[[]]]></Value>
    </eResearchLink>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Niamh Allum from the Scottish Borders is currently studying MSc (Post-Registration) Occupational Therapy part-time at QMU.</p>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[Niamh Allum from the Scottish Borders is currently studying MSc (Post-Registration) Occupational Therapy part-time at QMU.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Niamh Allum | Student Story | Queen Margaret University ]]></Value>
    </metaTitle>
    <pullQuote>
      <Value><![CDATA[]]></Value>
    </pullQuote>
    <pullQuoteAuthor>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthor>
    <pullQuoteAuthorExtra>
      <Value><![CDATA[]]></Value>
    </pullQuoteAuthorExtra>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <school>
      <Value><![CDATA[]]></Value>
    </school>
    <shortTitle>
      <Value><![CDATA[Niamh Allum]]></Value>
    </shortTitle>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <type>
      <Value><![CDATA[[
  "Student"
]]]></Value>
    </type>
    <typePicker>
      <Value><![CDATA[]]></Value>
    </typePicker>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>