<?xml version="1.0" encoding="utf-8"?>
<Content Key="f83d2b37-eeb3-4529-891d-9de7a925f07e" Alias="Director's Report" Level="4">
  <Info>
    <Parent Key="196d70a7-a40d-4002-82d0-1bc024bd394f">Strategic Report and Financial Statements 2017</Parent>
    <Path>/Home/Finance/StrategicReportAndFinancialStatements2017/DirectorsReport</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-02-08T14:38:19</CreateDate>
    <NodeName Default="Director's Report" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "839a81c8-d46a-4705-8a4c-9e4f34b1d1aa",
    "name": "Strategic and financial Statements 2017:Director's Report",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/d9348bd929454fbca712d38d5401f705",
    "title": "Strategic and financial Statements 2017:Director's Report ",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>DIRECTORS’ REPORT</strong></p>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><strong>Directors’ and officers’ liability insurance</strong></p>
<p>During the year the University maintained a Directors’ and Officers’ liability insurance policy to provide cover against any civil liability attaching to Court Members or Officers of the University in connection with their University activities.</p>
<p><strong>Members’ liability</strong></p>
<p>The liability of each member of the University upon winding up of the Company is limited to 50p. Distributions to members are not permitted by the Articles of Association of the Company.</p>
<p><strong>Employee involvement</strong></p>
<p>The University recognises the benefits of keeping employees informed of its financial and academic performance. Information on matters of interest to employees is given through a staff newsletter, through staff briefing sessions and through regular communication from the Principal.The University operates a performance enhancement review scheme which is open to all staff.</p>
<p><strong>Employment of disabled persons</strong></p>
<p>The University’s policy remains to afford equal opportunity to all, including disabled people whether registered or not, to apply for employment and, during employment, to receive the support and development they require to enable them to make a full contribution to the University.</p>
<p><strong>Creditors’ payment policy</strong></p>
<p>Unless special terms are agreed, it is the University’s policy to pay invoices 30 days from the date of the invoice (in accordance with the CBI prompt payment code). In agreements negotiated with suppliers, the University endeavours to include and abide by specific payment terms.At 31 July 2017, trade creditors represented 35 days of relevant expenditure (2016: 33 days). Interest paid under the Late Payment of Commercial Debts (Interest) Act 1998 was £nil (2015/16: £nil).</p>
<p><strong>Going Concern</strong></p>
<p>The University’s activities, together with the factors likely to affect its future development, performance and position, are set out in the Strategic Report, which also includes information on cash flows and borrowing facilities. Demand from students for the University’s courses remains strong. Consequently, the University Court believes that the University is well placed to manage its business risks successfully despite the ongoing, uncertain economic outlook.As noted above in the strategic report in the section on Management of principal risks and uncertainties, the Court has assessed a particular risk around ongoing discussions to agree a waiver of a bank loan covenant, and has taken the view that these discussions will result in an agreement being reached which will allow the University to continue its operations.</p>
<p>In accordance with the recommendations from the Higher Education Financial Sustainability Strategy Group (FSSG), the University Court undertakes a formal annual assessment of the University’s financial sustainability.The University Court has also undertaken an assessment of going concern and liquidity risk, taking into account the principles and recommendations set out in the Sharman report into going concern and liquidity risks. As a result of this exercise, the University Court has a reasonable expectation that the University has adequate resources to enable it to continue in operational existence for the foreseeable future, and that it is appropriate to adopt the going concern basis of accounting in preparing the annual financial statements.</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 33.333333%;">Name </th>
<th style="width: 20.058797%;">Date Appointed</th>
<th style="width: 13.274537%;">Attendance Record</th>
<th style="width: 33.333333%;">Role </th>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Dr Frances Dow CBE (Chair)</p>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Appointed 17 March 2016</p>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">5/5</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Former Vice Principal, University of Edinburgh</p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>The Honourable Mark Laing (Vice-Chair)</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 October 2009 Retired 30 September 2016</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">0/0</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Chairman, Nairn’s Oatcakes Limited</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Linda McPherson (Vice-Chair)</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 October 2014</p>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">4/5</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Former Senior Director - Food and Drink,Tourism &amp; Textile, Scottish Enterprise</p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Elaine Acaster</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Appointed 28 June 2017</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">1/1</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>FormerVice Principal,RoyalVeterinary College,University of London</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>David Banks</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 December 2016</p>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">4/4</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Elected member,Appointed by Senate</p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Carolyn Bell</p>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<p>Appointed 1 October 2016</p>
</td>
<td style="width: 13.274537%; text-align: center;">5/5</td>
<td style="width: 33.333333%; text-align: center;">Solicitor</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>James Bradshaw</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 May 2010</p>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>4/5</p>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Former Deputy Vice-Chancellor (Resources &amp; Business Development), University of Sunderland</p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Dr Richard Butt</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 September 2016</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>5/5</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Deputy Principal</p>
<p>Ex Officio</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Professor Graham Caie CBE</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 December 2014</p>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>4/5</p>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Former Chair, National Library of Scotland Governance Committee,Vice President of the Royal Society of Edinburgh</p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Ian Calder</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 March 2011 Retired 28 February 2017</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>3/3</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Former Director, Grant Thornton LLP</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Craig Cathcart</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Appointed 8 February 2011  Retired 12 October 2016</p>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">0/1</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Staff Member,Appointed by Senate</p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Colin Duffus</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 June 2016</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>4/5</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Elected Professional Services Staff Member</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Professor Robert Cormack, FRSE</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 September 2010 Retired 31 August 2016</p>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">0/0</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Former Principal, UHI Millennium Institute</p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Professor Alan Gilloran</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Appointed 1January 2010 Retired 31 August 2016</p>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">0/0</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Deputy Principal</p>
<p>Ex Officio</p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Cynthia Guthrie</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 December 2015</p>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">5/5</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Joint Managing Director, Guthrie Group Limited</p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Dr Lindesay Irvine</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 December 2013 Retired 30 November 2016</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">1/1</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Elected Academic Staff member</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Francis Lennon, OBE</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 October 2016</p>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>5/5</p>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Former Head Teacher</p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Jacqueline Macdonald</p>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">Appointed 1 October 2013</td>
<td style="width: 13.274537%; text-align: center;">5/5</td>
<td style="width: 33.333333%; text-align: center;">Partner, Small Green Spaces</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Ken McGarrity</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 October 2016</p>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">4/5</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Former Finance Director, Nairn’s Oatcakes</p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Miller McLean</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 January 2011</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">2/5</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Chairman,Adam &amp; Co Group plc, Retired Group Secretary, Royal Bank of Scotland</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Margaret O’Connor</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 October 2014</p>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>3/5</p>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Chief Executive,Art in Healthcare</p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Sarah Phillips</p>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">Appointed 28 June 2017</td>
<td style="width: 13.274537%; text-align: center;">1/1</td>
<td style="width: 33.333333%; text-align: center;">Solicitor</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Robert Rae</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 March 2011 Retired 28 February 2017</p>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">2/3</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Former Chairman, Midlothian &amp; East Lothian Chamber of Commerce</p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Megan Richardson</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Appointed 10 June 2016</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">5/5</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Student Vice-President</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Stewart Sands</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Appointed 10 June 2017</p>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">1/1</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Student President</p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Eurig Scandrett</p>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">Appointed 1 December 2016</td>
<td style="width: 13.274537%; text-align: center;">4/4</td>
<td style="width: 33.333333%; text-align: center;">Elected Academic Staff Member</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Andrew Scott</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Appointed 28 June 2017</p>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">1/1</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Director of Population Health, Scottish Government</p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Judith Sischy, OBE</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 September 2010 Retired 31 August 2016</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>0/0</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Former Chief Executive, Scottish Council of Independent Schools</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Heidi Vistisen</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Appointed 10 June 2015 4/4 Retired 9 June 2017</p>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">4/4</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Student President</p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Laura Young MBE</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 October 2016</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>5/5</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Founder of the Teapot Trust</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Professor Petra Wend</p>
</div>
</div>
</div>
</td>
<td style="width: 20.058797%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Appointed 1 September 2009</p>
</div>
</div>
</div>
</td>
<td style="width: 13.274537%; text-align: center;">5/5</td>
<td style="width: 33.333333%; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Principal &amp; Vice-Chancellor</p>
<p>Ex Officio</p>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
<div class="page">
<div class="layoutArea">
<div class="column">
<p><strong>Membership of University Court Committees during the year to 31 July 2017 </strong></p>
<p><strong>Audit and Risk Committee</strong></p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 270px;">
<tbody>
<tr style="height: 45px;">
<th style="width: 33.333333%; height: 45px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Name</p>
</div>
</div>
</div>
</div>
</th>
<th style="width: 33.333333%; height: 45px;">Role</th>
<th style="width: 33.333333%; height: 45px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Attendance record</p>
</div>
</div>
</div>
</div>
</th>
</tr>
<tr style="height: 45px;">
<td style="width: 33.333333%; text-align: center; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Miller McLean</p>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Convener</p>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>4/4</p>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 45px;">
<td style="width: 33.333333%; text-align: center; height: 45px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Carolyn Bell</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center; height: 45px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Appointed 8 February 2017</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center; height: 45px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>1/1</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 45px;">
<td style="width: 33.333333%; text-align: center; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Dr Anthony Falconer</p>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center; height: 45px;"> </td>
<td style="width: 33.333333%; text-align: center; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>3/4</p>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 45px;">
<td style="width: 33.333333%; text-align: center; height: 45px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Robert Rae</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center; height: 45px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Retired 28 February 2017</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center; height: 45px;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>3/3</p>
</div>
</div>
</div>
</div>
</td>
</tr>
<tr style="height: 45px;">
<td style="width: 33.333333%; text-align: center; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Judith Sischy</p>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Retired 31 August 2016</p>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; text-align: center; height: 45px;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>0/0</p>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Finance &amp; Estates Committee</p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 198px;">
<tbody>
<tr style="height: 17px;">
<th style="width: 33.333333%; height: 17px;">Name </th>
<th style="width: 33.333333%; height: 17px;">Date Appointed/Retired</th>
<th style="width: 33.333333%; height: 17px;">Attendance record</th>
</tr>
<tr style="height: 45px;">
<td style="width: 33.333333%; height: 45px; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>James Bradshaw</p>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; height: 45px; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Convener</p>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; height: 45px; text-align: center;">4/5</td>
</tr>
<tr style="height: 17px;">
<td style="width: 33.333333%; height: 17px; text-align: center;">
<p>Dr Richard Butt</p>
</td>
<td style="width: 33.333333%; height: 17px; text-align: center;">Appointed 1 September 2016</td>
<td style="width: 33.333333%; height: 17px; text-align: center;">4/5</td>
</tr>
<tr style="height: 17px;">
<td style="width: 33.333333%; height: 17px; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Ian Calder</p>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; height: 17px; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Retired 28 February 2017</p>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; height: 17px; text-align: center;">2/2</td>
</tr>
<tr style="height: 17px;">
<td style="width: 33.333333%; height: 17px; text-align: center;">Professor Alan Gilloran</td>
<td style="width: 33.333333%; height: 17px; text-align: center;">Retired 31 August 2016</td>
<td style="width: 33.333333%; height: 17px; text-align: center;">0/0</td>
</tr>
<tr style="height: 17px;">
<td style="width: 33.333333%; height: 17px; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Cynthia Guthrie</p>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; height: 17px; text-align: center;"> </td>
<td style="width: 33.333333%; height: 17px; text-align: center;">4/5</td>
</tr>
<tr style="height: 17px;">
<td style="width: 33.333333%; height: 17px; text-align: center;">Ken McGarrity</td>
<td style="width: 33.333333%; height: 17px; text-align: center;">Appointed 8 Feb 2017</td>
<td style="width: 33.333333%; height: 17px; text-align: center;">2/3</td>
</tr>
<tr style="height: 17px;">
<td style="width: 33.333333%; height: 17px; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Linda McPherson</p>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; height: 17px; text-align: center;"> </td>
<td style="width: 33.333333%; height: 17px; text-align: center;">5/5</td>
</tr>
<tr style="height: 17px;">
<td style="width: 33.333333%; height: 17px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Professor Petra Wend</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%; height: 17px; text-align: center;"> </td>
<td style="width: 33.333333%; height: 17px; text-align: center;">3/5</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<p> <strong>Nominations Committee</strong></p>
<table border="1" style="border-collapse: collapse; width: 726.999994px;">
<tbody>
<tr style="height: 17px;">
<th style="width: 208px; height: 17px;">Name </th>
<th style="width: 208px; height: 17px;">Date Appointed/Retired</th>
<th style="width: 308px; height: 17px;">Attendance record</th>
</tr>
<tr style="height: 45px;">
<td style="width: 208px; height: 45px; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Dr Frances Dow</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 208px; height: 45px; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Convener</p>
</div>
</div>
</div>
</td>
<td style="width: 308px; height: 45px; text-align: center;">2/2</td>
</tr>
<tr style="height: 17px;">
<td style="width: 208px; height: 17px; text-align: center;">
<p>Professor Robert Cormack</p>
</td>
<td style="width: 208px; height: 17px; text-align: center;">Retired 31 August 2016</td>
<td style="width: 308px; height: 17px; text-align: center;">0/0</td>
</tr>
<tr style="height: 17px;">
<td style="width: 208px; height: 17px; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Colin Duffus</p>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 208px; height: 17px; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p> </p>
</div>
</div>
</div>
</td>
<td style="width: 308px; height: 17px; text-align: center;">1/2</td>
</tr>
<tr style="height: 17px;">
<td style="width: 208px; height: 17px; text-align: center;">Doctor Anthony Falconer</td>
<td style="width: 208px; height: 17px; text-align: center;"> </td>
<td style="width: 308px; height: 17px; text-align: center;">1/2</td>
</tr>
<tr style="height: 17px;">
<td style="width: 208px; height: 17px; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Jacqueline McPherson</p>
</div>
</div>
</div>
</td>
<td style="width: 208px; height: 17px; text-align: center;"> </td>
<td style="width: 308px; height: 17px; text-align: center;">2/2</td>
</tr>
<tr style="height: 17px;">
<td style="width: 208px; height: 17px; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Linda McPherson</p>
</div>
</div>
</div>
</td>
<td style="width: 208px; height: 17px; text-align: center;"> </td>
<td style="width: 308px; height: 17px; text-align: center;">5/5</td>
</tr>
<tr>
<td style="width: 208px; text-align: center;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Heidi Vistisen</p>
</div>
</div>
</div>
</td>
<td style="width: 208px; text-align: center;">Retired 9 June 2017</td>
<td style="width: 308px; text-align: center;">1/1</td>
</tr>
<tr style="height: 17px;">
<td style="width: 208px; height: 17px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Professor Petra Wend</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 208px; height: 17px; text-align: center;"> </td>
<td style="width: 308px; height: 17px; text-align: center;">2/2</td>
</tr>
<tr>
<td style="width: 208px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Stewart Sands</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
<td style="width: 208px; text-align: center;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Appointed 10 June 2017</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 308px; text-align: center;">1/1</td>
</tr>
</tbody>
</table>
<p> </p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<th style="width: 34.230769%;">Name </th>
<th style="width: 32.435897%;">Date Appointed/Retired</th>
<th style="width: 33.333333%;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Attendance record</p>
</div>
</div>
</div>
</div>
</th>
</tr>
<tr>
<td style="width: 34.230769%;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Linda McPherson</p>
</div>
</div>
</div>
</td>
<td style="width: 32.435897%;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Convener – Appointed 1 October 2016</p>
</div>
</div>
</div>
</td>
<td style="width: 33.333333%;">0/0</td>
</tr>
<tr>
<td style="width: 34.230769%;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Mark Laing</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 32.435897%;">Convener – Retired 30 September 2016</td>
<td style="width: 33.333333%;">1/1</td>
</tr>
<tr>
<td style="width: 34.230769%;">
<div class="page">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Dr Frances Dow</p>
</div>
</div>
</div>
</div>
</td>
<td style="width: 32.435897%;"> </td>
<td style="width: 33.333333%;">1/1</td>
</tr>
<tr>
<td style="width: 34.230769%;">
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Jacqueline Macdonald</p>
</div>
</div>
</div>
</td>
<td style="width: 32.435897%;"> </td>
<td style="width: 33.333333%;">1/1</td>
</tr>
</tbody>
</table>
<div class="page">
<div class="layoutArea">
<div class="column">
<p>Disclosure of information to auditors</p>
<p>The members of the University Court who held office at the date of approval of these financial statements confirm that, so far as they are each aware, there is no relevant audit information of which the University’s auditors are unaware; and each member of the University Court has taken all the steps that he/she ought reasonably to have taken as a Member of Court to make himself/ herself aware of any relevant audit information and to establish that the University’s auditors are aware of that information.</p>
<p><strong>On behalf of the University Court</strong></p>
<p>Dr Frances Dow, CBE Chair<br />6 December 2017</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Strategic and financial Statements 2017:Director's Report ]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[During the year the University maintained a Directors’ and Officers’ liability insurance policy to provide cover against any civil liability attaching to Court Members or Officers of the University in connection with their University activities.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Strategic and financial Statements 2017:Director's Report ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "66cdeac0-665a-4c9e-81cd-16d3b710f69b",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Director's Report 2017]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>