<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8c7b106-e403-4039-ae48-e43ab7644b6a" Alias="Academic collaboration" Level="5">
  <Info>
    <Parent Key="95855158-c87a-4242-806f-d6a3f7322fd1">PDF to HTML migration</Parent>
    <Path>/Home/AboutTheUniversity/Quality/PDFToHTMLMigration/AcademicCollaboration</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2022-08-22T15:08:57</CreateDate>
    <NodeName Default="Academic collaboration" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/12b47abcda794cc1a6ed926479b90db0]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "29084eae-47d1-469c-8e8b-3fbbfab73649",
    "name": "Collaboration contents",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/1dfa730a810a41c5a80408cf1a8ae78c",
    "title": "Collaboration contents",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<ol>
<li><a href="/{localLink:umb://document/c8f20eba2c914008a6c6fde31e6734dd}" title="Collaboration policy">QMU policy on academic collaboration</a></li>
<li><a href="/{localLink:umb://document/bd0f4485e6dd408db7bb6f405b8d1699}" title="Collaboration principles">General principles</a></li>
<li><a href="/{localLink:umb://document/ef66422fb88047a28d5993cc07bbc666}" title="Types of collaboration">Types of collaborative partner</a></li>
<li><a href="/{localLink:umb://document/5d666a444a2448c08953bc1c1e727889}" title="Partner selection">Selecting a collaborative partner</a></li>
<li><a href="/{localLink:umb://document/21e73af78231489795d1cd1911bee205}" title="New collaborative programmes">Developing a new collaborative programme</a></li>
<li><a href="/{localLink:umb://document/06ab9169f06c4d6d97b11fa45f4db4ea}" title="Evaluation report">Evaluation report</a></li>
<li><a href="/{localLink:umb://document/75ad73d189e04e3c9871fdf6219052ab}" title="Validation">Validation</a></li>
<li><a href="/{localLink:umb://document/db817802d3264646854537e61b8ada8d}" title="Collaborative Agreement">Formal collaboration agreements</a></li>
<li><a href="/{localLink:umb://document/22173246c8514a2bb1dca34be43d5dd7}" title="Modifications to collaborative programmes">Modification(s) to collaborative programmes</a></li>
<li><a href="/{localLink:umb://document/0f634352ac9a42d5ac114e29cedb5939}" title="Monitoring collaborative programmes">Monitoring</a></li>
<li><a href="/{localLink:umb://document/fc7c4e772cec4853a4c86c5b35ea623b}" title="Collaborative Programme Review">Review of a collaborative programme</a></li>
<li><a href="/{localLink:umb://document/e9ee91d75b8641e789ea46376d21f1dc}" title="Local support centres">Local support centres (distance learning)</a></li>
<li><a href="/{localLink:umb://document/4e9e11788b774c669c8f4d870edea869}" title="Collaborative short programmes">Short programmes</a></li>
<li><a href="/{localLink:umb://document/2286b9104f6744e399c613bbf0cb99a7}" title="Partners with DAP">Collaborative agreements with partners that have degree awarding powers</a></li>
<li><a href="/{localLink:umb://document/fe8b023c5cef4d0c8390551a1a9d9ddb}" title="Records of collaborative arrangements">Record keeping of collaborative arrangements</a></li>
<li><a href="/{localLink:umb://document/c2f715160443498981a6821d27dcafa7}" title="Collaborative Communication">Arrangements for communication</a></li>
<li><a href="/{localLink:umb://document/0acb3f3e0bea4619a7793b44ae6618c4}" title="Language of delivery">Policy on delivering programmes in a language other than English</a></li>
</ol>
<p> </p>
<p> </p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Academic collaboration policy - contents]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[<p>Regulations and policies relating to teaching collaborations:</p>
<ul>
<li>joint degrees</li>
<li>franchised provision</li>
<li>validated provision</li>
</ul>]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Regulations and policies relating to academic collaborations regarding joint degrees, franchised and validated provision]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Collaboration contents | Queen Margaret University ]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "cb374e55-4cc2-421d-9f33-e3d8ddadc79b",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Collaboration contents]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>