<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff23937b-2beb-4e88-b743-d6821b6415e2" Alias="Your Module and Course Record" Level="5">
  <Info>
    <Parent Key="c71082dc-3701-4cbe-b46b-db304532da73">Manage Your Studies</Parent>
    <Path>/Home/CurrentStudents/CurrentStudentsGeneralInformation/ManageYourStudies/YourModuleAndCourseRecord</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2021-02-04T11:47:10</CreateDate>
    <NodeName Default="Your Module and Course Record" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f591bdb-aac3-4324-bb9a-113d069ff605">GeneralPage</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[umb://media/d24a7c78389e41bca7fff2e12f78b386]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <banner>
      <Value><![CDATA[[
  {
    "key": "4880d7d7-ef37-483c-8d0f-521c905751cb",
    "name": "Your Module and Course Record",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/2b1e04e7eb904625987ed0cdea708ed5",
    "title": "Your Module and Course Record",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "[\"Left\"]",
    "textPositionVertical": "[\"Bottom\"]"
  }
]]]></Value>
    </banner>
    <bodyBottom>
      <Value><![CDATA[]]></Value>
    </bodyBottom>
    <bodyTop>
      <Value><![CDATA[<p><strong>Change of Module</strong></p>
<p><a href="/{localLink:umb://media/523b1c2c51b64b7d9b80ab6b0ed9a485}" title="Change Of Module Form" data-udi="umb://media/d4cbbbc7c99b4e6fa469e6bd12dc637c">If you have selected your modules and are looking to change your options please complete the change of module form</a>.</p>
<p><strong>Change of Programme</strong></p>
<p>If you are looking to change programme, you should complete this <a rel="noopener" href="/{localLink:umb://media/4f279c17c16643738cac2935db33c71f}" target="_blank" title="CHANGE OF PROGRAMME FORM">Change of Programme Form</a>.</p>
<p>Any changes of programme need to be agreed with the Programme Leader of the course that you are looking to move from and the Programme Leader you are looking to move to.</p>
<p>Changing to another programme within the same academic year can normally only be considered within the first few weeks of the course.</p>
<p><strong>Deferral of Module</strong></p>
<p><a href="/{localLink:umb://media/ad1987aa7174478786b4b4a2f688b03a}" title="Deferral Of Module Form" data-udi="umb://media/a9f8fc7fa5074792b79932860480f372">If you are looking to defer a module you can find the necessary Deferral of Module form.</a></p>
<p><strong>Recognition of Prior Learning  </strong></p>
<p>See the <a href="/{localLink:umb://document/12882513f5574dcf838cf150b3b8a560}" title="Recognition of Prior Learning">recognition of prior learning</a> for more information.</p>]]></Value>
    </bodyTop>
    <centralBlocks>
      <Value><![CDATA[]]></Value>
    </centralBlocks>
    <centralBlocksType>
      <Value><![CDATA[]]></Value>
    </centralBlocksType>
    <contactPicker>
      <Value><![CDATA[]]></Value>
    </contactPicker>
    <desktopImage>
      <Value><![CDATA[]]></Value>
    </desktopImage>
    <displayTitle>
      <Value><![CDATA[Your Module and Course Record]]></Value>
    </displayTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <mediaGallery>
      <Value><![CDATA[]]></Value>
    </mediaGallery>
    <metaDescription>
      <Value><![CDATA[Your Module and Course Record]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Your Module and Course Record | Managing Your Studies | Queen Margaret University, Edinburgh]]></Value>
    </metaTitle>
    <mobileImage>
      <Value><![CDATA[]]></Value>
    </mobileImage>
    <rcContent>
      <Value><![CDATA[{
  "name": "Full Width",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Two Column",
          "id": "958a2236-894c-40f1-b615-0086170423d7",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </rcContent>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContent2>
      <Value><![CDATA[]]></Value>
    </relatedContent2>
    <relatedContent2Title>
      <Value><![CDATA[]]></Value>
    </relatedContent2Title>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <shortTitle>
      <Value><![CDATA[Your Module and Course Record]]></Value>
    </shortTitle>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[0]]></Value>
    </usingBannerForInfographic>
  </Properties>
</Content>