<?xml version="1.0" encoding="utf-8"?>
<Content Key="ffee6d5e-b023-4ca6-b470-f4dcf071b49b" Alias="Saltire Scholarships" Level="5">
  <Info>
    <Parent Key="257605fd-0a80-434c-adc8-e3b161ae5890">Scholarships and Bursaries Directory</Parent>
    <Path>/Home/StudyHere/FeesAndFunding/ScholarshipsAndBursariesDirectory/SaltireScholarships</Path>
    <Trashed>false</Trashed>
    <ContentType>scholarship</ContentType>
    <CreateDate>2022-12-22T12:57:49</CreateDate>
    <NodeName Default="Saltire Scholarships" />
    <SortOrder>19</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="fb6cfd11-f1eb-40dd-af42-68ab869d9c61">Scholarship</Template>
  </Info>
  <Properties>
    <adSpotImage>
      <Value><![CDATA[]]></Value>
    </adSpotImage>
    <adSpotText>
      <Value><![CDATA[]]></Value>
    </adSpotText>
    <amountAvailable>
      <Value><![CDATA[£8,000]]></Value>
    </amountAvailable>
    <applicantType>
      <Value><![CDATA[[
  "Current Student"
]]]></Value>
    </applicantType>
    <applyNowLink>
      <Value><![CDATA[[
  {
    "name": "https://www.scotland.org/study/saltire-scholarships",
    "target": "_blank",
    "url": "https://www.scotland.org/study/saltire-scholarships"
  }
]]]></Value>
    </applyNowLink>
    <banner>
      <Value><![CDATA[[
  {
    "key": "6a7e3296-95ad-49ef-87a4-dee7e83a4e5b",
    "name": "Item 1",
    "ncContentTypeAlias": "bannerItem",
    "image": "umb://media/fa33b774291d437686a037e99cd76fae",
    "title": "",
    "description": "",
    "textLink": null,
    "button": null,
    "videoID": "",
    "textPositionHorizontal": "",
    "textPositionVertical": ""
  }
]]]></Value>
    </banner>
    <closingDate>
      <Value><![CDATA[]]></Value>
    </closingDate>
    <closingText>
      <Value><![CDATA[]]></Value>
    </closingText>
    <details>
      <Value><![CDATA[]]></Value>
    </details>
    <displayTitle>
      <Value><![CDATA[The Saltire Scholarship Programme]]></Value>
    </displayTitle>
    <feeCategory>
      <Value><![CDATA[[
  "International"
]]]></Value>
    </feeCategory>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideRelatedContentPanel>
      <Value><![CDATA[0]]></Value>
    </hideRelatedContentPanel>
    <horizontalAdPlacement>
      <Value><![CDATA[]]></Value>
    </horizontalAdPlacement>
    <howToApply>
      <Value><![CDATA[]]></Value>
    </howToApply>
    <introduction>
      <Value><![CDATA[<p><span class="NormalTextRun SCXW12728599 BCX0">The Saltire Scholarship programme is open to International students from a list of set countries who wish to study on a Postgraduate Taught Degree. There are fifty grants of £8,000 awarded as a part of this programme.</span> </p>]]></Value>
    </introduction>
    <levelOfStudy>
      <Value><![CDATA[[
  "Postgraduate Taught"
]]]></Value>
    </levelOfStudy>
    <lowerBannerCopy>
      <Value><![CDATA[]]></Value>
    </lowerBannerCopy>
    <lowerBannerImage>
      <Value><![CDATA[]]></Value>
    </lowerBannerImage>
    <lowerBannerImageMobile>
      <Value><![CDATA[]]></Value>
    </lowerBannerImageMobile>
    <lowerBannerTitle>
      <Value><![CDATA[]]></Value>
    </lowerBannerTitle>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <nonQMUFund>
      <Value><![CDATA[0]]></Value>
    </nonQMUFund>
    <openingDate>
      <Value><![CDATA[]]></Value>
    </openingDate>
    <overview>
      <Value><![CDATA[]]></Value>
    </overview>
    <relatedContent>
      <Value><![CDATA[]]></Value>
    </relatedContent>
    <relatedContentTitle>
      <Value><![CDATA[]]></Value>
    </relatedContentTitle>
    <selectionProcess>
      <Value><![CDATA[]]></Value>
    </selectionProcess>
    <shortTitle>
      <Value><![CDATA[Saltire Scholarships]]></Value>
    </shortTitle>
    <summaryText>
      <Value><![CDATA[Fifty grants of £8,000 awarded as a part of this programme, applicants are selected by QMU.]]></Value>
    </summaryText>
    <trackingAnalyticsTags>
      <Value><![CDATA[]]></Value>
    </trackingAnalyticsTags>
    <usingBannerForInfographic>
      <Value><![CDATA[]]></Value>
    </usingBannerForInfographic>
    <whatSIncludedInTheScholarship>
      <Value><![CDATA[]]></Value>
    </whatSIncludedInTheScholarship>
  </Properties>
</Content>