<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06f55abd-a1ff-4151-afcc-c6797b72edc0" Alias="QMU - Student stories" Level="1">
  <Info>
    <Name>QMU - Student stories</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b721c919-b1de-4d68-873f-0364326e08ad",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Student story - {{componentName}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 5,
    "min": 1
  }
}]]></Config>
</DataType>