<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2671f25e-35ee-4515-9496-1862445fefe7" Alias="QMU - Central block type" Level="1">
  <Info>
    <Name>QMU - Central block type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Tabs"
    },
    {
      "id": 2,
      "value": "Concertina"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>